{
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "pp": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Pretty-print response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "title": "Google Cloud Translation API",
  "kind": "discovery#restDescription",
  "features": [
    "dataWrapper"
  ],
  "ownerDomain": "google.com",
  "revision": "20170525",
  "servicePath": "language/translate/",
  "name": "translate",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "batchPath": "batch/translate",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v2",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "ownerName": "Google",
  "id": "translate:v2",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "canonicalName": "Translate",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "type": "string",
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            }
          },
          "httpMethod": "GET",
          "description": "Returns a list of supported languages for translation.",
          "id": "language.languages.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "path": "v2",
          "parameters": {
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "source": {
              "type": "string",
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response."
            },
            "cid": {
              "description": "The customization id for translate",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "format": {
              "location": "query",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ]
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            },
            "q": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true
            }
          },
          "parameterOrder": [
            "q",
            "target"
          ],
          "httpMethod": "GET",
          "id": "language.translations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text."
        },
        "translate": {
          "httpMethod": "POST",
          "description": "Translates input text, returning translated text.",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "parameters": {},
          "id": "language.translations.translate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "parameterOrder": []
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "language.detections.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request.",
          "path": "v2/detect",
          "parameters": {
            "q": {
              "type": "string",
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "required": true
            }
          },
          "parameterOrder": [
            "q"
          ]
        },
        "detect": {
          "path": "v2/detect",
          "parameterOrder": [],
          "id": "language.detections.detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {},
          "httpMethod": "POST",
          "description": "Detects the language of text within a request.",
          "request": {
            "$ref": "DetectLanguageRequest"
          }
        }
      }
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "basePath": "/language/translate/",
  "schemas": {
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "id": "DetectLanguageRequest",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      }
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "properties": {
        "detections": {
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text"
        }
      },
      "type": "object"
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "id": "GetSupportedLanguagesRequest",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      }
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "description": "The main language translation response message.",
      "type": "object"
    },
    "TranslationsResource": {
      "type": "object",
      "id": "TranslationsResource",
      "properties": {
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        }
      }
    },
    "TranslateTextRequest": {
      "description": "The main translation request message for the Cloud Translation API.",
      "id": "TranslateTextRequest",
      "properties": {
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "id": "DetectionsResource",
      "type": "array",
      "items": {
        "properties": {
          "confidence": {
            "type": "number",
            "format": "float",
            "description": "The confidence of the detection result of this language."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        },
        "type": "object"
      }
    }
  }
}