{
  "documentationLink": "https://developers.google.com/workspace/vault",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "protocol": "rest",
  "schemas": {
    "HeldCalendarQuery": {
      "description": "Options for Calendar holds.",
      "type": "object",
      "properties": {},
      "id": "HeldCalendarQuery"
    },
    "UserInfo": {
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        }
      },
      "description": "User's information.",
      "type": "object",
      "id": "UserInfo"
    },
    "HeldMailQuery": {
      "id": "HeldMailQuery",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Query options for Gmail holds.",
      "type": "object"
    },
    "Matter": {
      "id": "Matter",
      "properties": {
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "matterRegion": {
          "description": "Optional. The requested data region for the matter.",
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "state": {
          "description": "The state of the matter.",
          "type": "string",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ]
        }
      },
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object"
    },
    "MailExportOptions": {
      "id": "MailExportOptions",
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "exportLinkedDriveFiles": {
          "description": "Optional. To enable exporting linked Drive files, set to **true**.",
          "type": "boolean"
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Gmail exports.",
      "type": "object"
    },
    "VoiceExportOptions": {
      "id": "VoiceExportOptions",
      "description": "The options for Voice exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      }
    },
    "Query": {
      "id": "Query",
      "description": "The query definition used for search and export.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "dataScope": {
          "description": "The data source to search.",
          "type": "string",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ]
        },
        "voiceOptions": {
          "$ref": "VoiceOptions",
          "description": "Set Voice search-specific options."
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "teamDriveInfo": {
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "deprecated": true,
          "$ref": "TeamDriveInfo"
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "startTime": {
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "sharedDriveInfo": {
          "$ref": "SharedDriveInfo",
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**."
        },
        "sitesUrlInfo": {
          "$ref": "SitesUrlInfo",
          "description": "Required when **SearchMethod** is **SITES_URL**."
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The Google Workspace service to search.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "geminiOptions": {
          "$ref": "GeminiOptions",
          "description": "Set Gemini search-specific options."
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatOptions",
          "description": "Set Chat search-specific options. (read-only)"
        },
        "searchMethod": {
          "description": "The search method to use.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "deprecated": true,
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ]
        },
        "method": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "type": "string"
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "calendarOptions": {
          "description": "Set Calendar search-specific options.",
          "$ref": "CalendarOptions"
        }
      }
    },
    "AddHeldAccountResult": {
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "type": "object",
      "properties": {
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        },
        "status": {
          "$ref": "Status",
          "description": "Reports the request status. If it failed, returns an error message."
        }
      },
      "id": "AddHeldAccountResult"
    },
    "ExportStats": {
      "description": "Progress information for an export.",
      "type": "object",
      "properties": {
        "exportedArtifactCount": {
          "format": "int64",
          "description": "The number of messages or files already processed for export.",
          "type": "string"
        },
        "totalArtifactCount": {
          "format": "int64",
          "description": "The number of messages or files to be exported.",
          "type": "string"
        },
        "sizeInBytes": {
          "description": "The size of export in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ExportStats"
    },
    "GeminiOptions": {
      "properties": {},
      "description": "Additional options for Gemini search",
      "type": "object",
      "id": "GeminiOptions"
    },
    "CountArtifactsMetadata": {
      "id": "CountArtifactsMetadata",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "End time of count operation. Available when operation is done.",
          "type": "string"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "startTime": {
          "description": "Creation time of count operation.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "$ref": "Query",
          "description": "The search query from the request."
        }
      },
      "description": "Long running operation metadata for CountArtifacts.",
      "type": "object"
    },
    "RemoveMatterPermissionsRequest": {
      "description": "Remove an account as a matter collaborator.",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "id": "RemoveMatterPermissionsRequest"
    },
    "CloseMatterRequest": {
      "properties": {},
      "description": "Close a matter by ID.",
      "type": "object",
      "id": "CloseMatterRequest"
    },
    "MailOptions": {
      "id": "MailOptions",
      "properties": {
        "clientSideEncryptedOption": {
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        },
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        }
      },
      "description": "Additional options for Gmail search",
      "type": "object"
    },
    "TeamDriveInfo": {
      "deprecated": true,
      "properties": {
        "teamDriveIds": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array"
        }
      },
      "id": "TeamDriveInfo",
      "description": "Team Drives to search",
      "type": "object"
    },
    "ExportOptions": {
      "description": "Additional options for exports",
      "type": "object",
      "properties": {
        "calendarOptions": {
          "description": "Option available for Calendar export.",
          "$ref": "CalendarExportOptions"
        },
        "geminiOptions": {
          "description": "Option available for Gemini export.",
          "$ref": "GeminiExportOptions"
        },
        "region": {
          "description": "The requested data region for the export.",
          "type": "string",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "voiceOptions": {
          "$ref": "VoiceExportOptions",
          "description": "Options for Voice exports."
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "groupsOptions": {
          "$ref": "GroupsExportOptions",
          "description": "Options for Groups exports."
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        }
      },
      "id": "ExportOptions"
    },
    "GroupsCountResult": {
      "description": "Groups specific count metrics.",
      "type": "object",
      "properties": {
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountCountErrors": {
          "description": "Error occurred when querying these accounts.",
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "matchingAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string"
        },
        "queriedAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts involved in this count operation.",
          "type": "string"
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          }
        }
      },
      "id": "GroupsCountResult"
    },
    "SitesUrlInfo": {
      "description": "The published site URLs of new Google Sites to search",
      "type": "object",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "A list of published site URLs.",
          "type": "array"
        }
      },
      "id": "SitesUrlInfo"
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      },
      "id": "ReopenMatterResponse"
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "description": "Response for batch delete held accounts.",
      "type": "object",
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "AddHeldAccountsRequest": {
      "description": "Add a list of accounts to a hold.",
      "type": "object",
      "properties": {
        "emails": {
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountIds": {
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array"
        }
      },
      "id": "AddHeldAccountsRequest"
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "description": "Returns a list of the accounts covered by a hold.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        }
      }
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "type": "object",
      "properties": {
        "coveredData": {
          "items": {
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          },
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "type": "array"
        }
      },
      "id": "HeldVoiceQuery"
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object",
      "properties": {
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        },
        "matterPermission": {
          "$ref": "MatterPermission",
          "description": "The account and its role to add."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "UndeleteMatterRequest": {
      "id": "UndeleteMatterRequest",
      "description": "Undelete a matter by ID.",
      "type": "object",
      "properties": {}
    },
    "AccountInfo": {
      "id": "AccountInfo",
      "properties": {
        "emails": {
          "items": {
            "type": "string"
          },
          "description": "A set of accounts to search.",
          "type": "array"
        }
      },
      "description": "The accounts to search",
      "type": "object"
    },
    "HangoutsChatInfo": {
      "id": "HangoutsChatInfo",
      "description": "The Chat spaces to search",
      "type": "object",
      "properties": {
        "roomId": {
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MailCountResult": {
      "id": "MailCountResult",
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "type": "object",
      "properties": {
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "matchingAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string"
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Errors occurred when querying these accounts.",
          "type": "array"
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CalendarExportOptions": {
      "properties": {
        "exportFormat": {
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "description": "The options for Calendar exports.",
      "type": "object",
      "id": "CalendarExportOptions"
    },
    "DriveDocumentIds": {
      "id": "DriveDocumentIds",
      "description": "Specify Drive documents by document ID.",
      "type": "object",
      "properties": {
        "ids": {
          "description": "Required. A list of Drive document IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HangoutsChatExportOptions": {
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "Options for Chat exports.",
      "type": "object",
      "id": "HangoutsChatExportOptions"
    },
    "CloudStorageSink": {
      "description": "Export sink for Cloud Storage files.",
      "type": "object",
      "properties": {
        "files": {
          "description": "Output only. The exported files in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      },
      "id": "CloudStorageSink"
    },
    "MatterPermission": {
      "properties": {
        "role": {
          "description": "The user's role for the matter.",
          "type": "string",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ],
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ]
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object",
      "id": "MatterPermission"
    },
    "Export": {
      "id": "Export",
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "parentExportId": {
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports.",
          "type": "string",
          "readOnly": true
        },
        "query": {
          "description": "The query parameters used to create the export.",
          "$ref": "Query"
        },
        "createTime": {
          "description": "Output only. The time when the export was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "status": {
          "description": "Output only. The status of the export.",
          "type": "string",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        }
      }
    },
    "RemoveHeldAccountsRequest": {
      "id": "RemoveHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "items": {
            "type": "string"
          },
          "description": "The account IDs of the accounts to remove from the hold.",
          "type": "array"
        }
      },
      "description": "Remove a list of accounts from a hold.",
      "type": "object"
    },
    "CountArtifactsResponse": {
      "properties": {
        "totalCount": {
          "format": "int64",
          "description": "Total count of messages.",
          "type": "string"
        },
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        }
      },
      "description": "Definition of the response for method CountArtifacts.",
      "type": "object",
      "id": "CountArtifactsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "HeldOrgUnit": {
      "description": "The organizational unit covered by a hold. This structure is immutable.",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "HeldOrgUnit"
    },
    "HeldGeminiQuery": {
      "id": "HeldGeminiQuery",
      "description": "Options for Gemini holds.",
      "type": "object",
      "properties": {}
    },
    "HeldAccount": {
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "description": "Output only. When the account was put on hold.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "HeldAccount"
    },
    "HeldDriveQuery": {
      "id": "HeldDriveQuery",
      "description": "Options for Drive holds.",
      "type": "object",
      "properties": {
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        },
        "includeTeamDriveFiles": {
          "deprecated": true,
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "HangoutsChatOptions": {
      "description": "Additional options for Google Chat search",
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      },
      "id": "HangoutsChatOptions"
    },
    "DriveDocumentInfo": {
      "properties": {
        "documentIds": {
          "$ref": "DriveDocumentIds",
          "description": "Specify Drive documents by document ID."
        }
      },
      "description": "The Drive documents to search.",
      "type": "object",
      "id": "DriveDocumentInfo"
    },
    "ListExportsResponse": {
      "description": "The exports for a matter.",
      "type": "object",
      "properties": {
        "exports": {
          "description": "The list of exports.",
          "type": "array",
          "items": {
            "$ref": "Export"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListExportsResponse"
    },
    "SavedQuery": {
      "id": "SavedQuery",
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "query": {
          "description": "The search parameters of the saved query.",
          "$ref": "Query"
        },
        "createTime": {
          "description": "Output only. The server-generated timestamp when the saved query was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "CountArtifactsRequest": {
      "description": "Count artifacts request.",
      "type": "object",
      "properties": {
        "view": {
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "description": "Sets the granularity of the count results.",
          "type": "string",
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ]
        },
        "query": {
          "description": "The search query.",
          "$ref": "Query"
        }
      },
      "id": "CountArtifactsRequest"
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "The options for Gemini exports.",
      "type": "object"
    },
    "AddHeldAccountsResponse": {
      "description": "Response for batch create held accounts.",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "description": "The list of responses, in the same order as the batch request.",
          "type": "array"
        }
      },
      "id": "AddHeldAccountsResponse"
    },
    "GroupsExportOptions": {
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "Options for Groups exports.",
      "type": "object",
      "id": "GroupsExportOptions"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "AccountCount": {
      "id": "AccountCount",
      "description": "The results count for each account.",
      "type": "object",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Hold": {
      "id": "Hold",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "orgUnit": {
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**.",
          "$ref": "HeldOrgUnit"
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The last time this hold was modified.",
          "type": "string"
        },
        "accounts": {
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        },
        "query": {
          "$ref": "CorpusQuery",
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "corpus": {
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The service to be searched.",
          "type": "string",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        }
      }
    },
    "SharedDriveInfo": {
      "id": "SharedDriveInfo",
      "description": "The shared drives to search",
      "type": "object",
      "properties": {
        "sharedDriveIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array"
        }
      }
    },
    "CorpusQuery": {
      "properties": {
        "driveQuery": {
          "$ref": "HeldDriveQuery",
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**."
        },
        "mailQuery": {
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**.",
          "$ref": "HeldMailQuery"
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "calendarQuery": {
          "$ref": "HeldCalendarQuery",
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**."
        },
        "geminiQuery": {
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**.",
          "$ref": "HeldGeminiQuery"
        },
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "hangoutsChatQuery": {
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**.",
          "$ref": "HeldHangoutsChatQuery"
        }
      },
      "description": "Service-specific options for holds.",
      "type": "object",
      "id": "CorpusQuery"
    },
    "OrgUnitInfo": {
      "id": "OrgUnitInfo",
      "description": "The organizational unit to search",
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      }
    },
    "DriveOptions": {
      "properties": {
        "includeSharedDrives": {
          "deprecated": true,
          "description": "Set to **true** to include shared drives.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "type": "string",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ]
        },
        "versionDate": {
          "format": "google-datetime",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string"
        },
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "type": "boolean",
          "deprecated": true
        },
        "sharedDrivesOption": {
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set.",
          "type": "string",
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ]
        }
      },
      "description": "Additional options for Drive search.",
      "type": "object",
      "id": "DriveOptions"
    },
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "properties": {
        "savedQueries": {
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        }
      },
      "description": "Definition of the response for method ListSaveQuery.",
      "type": "object"
    },
    "DriveExportOptions": {
      "id": "DriveExportOptions",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Drive exports.",
      "type": "object"
    },
    "ReopenMatterRequest": {
      "description": "Reopen a matter by ID.",
      "type": "object",
      "properties": {},
      "id": "ReopenMatterRequest"
    },
    "CloseMatterResponse": {
      "id": "CloseMatterResponse",
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **CLOSED**."
        }
      }
    },
    "ListMattersResponse": {
      "id": "ListMattersResponse",
      "properties": {
        "matters": {
          "items": {
            "$ref": "Matter"
          },
          "description": "List of matters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "description": "Provides the list of matters.",
      "type": "object"
    },
    "VoiceOptions": {
      "description": "Additional options for Voice search",
      "type": "object",
      "properties": {
        "coveredData": {
          "description": "Datatypes to search",
          "type": "array",
          "items": {
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          }
        }
      },
      "id": "VoiceOptions"
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Chat holds.",
      "type": "object"
    },
    "CloudStorageFile": {
      "properties": {
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The export file size.",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        }
      },
      "description": "The export file in Cloud Storage",
      "type": "object",
      "id": "CloudStorageFile"
    },
    "ListHoldsResponse": {
      "description": "The holds for a matter.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        },
        "holds": {
          "description": "The list of holds.",
          "type": "array",
          "items": {
            "$ref": "Hold"
          }
        }
      },
      "id": "ListHoldsResponse"
    },
    "CalendarOptions": {
      "properties": {
        "minusWords": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "type": "array"
        },
        "locationQuery": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array"
        },
        "responseStatuses": {
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "type": "array",
          "items": {
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          }
        },
        "peopleQuery": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "type": "array"
        },
        "versionDate": {
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Additional options for Calendar search",
      "type": "object",
      "id": "CalendarOptions"
    },
    "HeldGroupsQuery": {
      "properties": {
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      },
      "description": "Query options for group holds.",
      "type": "object",
      "id": "HeldGroupsQuery"
    },
    "AccountCountError": {
      "description": "An error that occurred when querying a specific account",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "description": "Account query error.",
          "type": "string",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ]
        }
      },
      "id": "AccountCountError"
    }
  },
  "rootUrl": "https://vault.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "id": "vault:v1",
  "title": "Google Vault API",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "operations": {
      "methods": {
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "response": {
            "$ref": "Empty"
          },
          "id": "vault.operations.delete"
        },
        "get": {
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "id": "vault.operations.get",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "cancel": {
          "response": {
            "$ref": "Empty"
          },
          "id": "vault.operations.cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "path": "v1/{+name}:cancel",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          }
        },
        "list": {
          "path": "v1/{+name}",
          "parameters": {
            "filter": {
              "description": "The standard list filter.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "type": "string",
              "location": "query"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "^operations$"
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "type": "boolean"
            },
            "pageSize": {
              "format": "int32",
              "description": "The standard list page size.",
              "type": "integer",
              "location": "query"
            }
          },
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "flatPath": "v1/operations",
          "id": "vault.operations.list",
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "matters": {
      "methods": {
        "list": {
          "id": "vault.matters.list",
          "response": {
            "$ref": "ListMattersResponse"
          },
          "flatPath": "v1/matters",
          "path": "v1/matters",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The pagination token as returned in the response.",
              "type": "string"
            },
            "state": {
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer"
            },
            "view": {
              "description": "Specifies how much information about the matter to return in response.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "description": "Lists matters the requestor has access to.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "count": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:count",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Counts the accounts processed by the specified query.",
          "flatPath": "v1/matters/{matterId}:count",
          "response": {
            "$ref": "Operation"
          },
          "id": "vault.matters.count"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "PUT",
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.update"
        },
        "undelete": {
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.undelete",
          "flatPath": "v1/matters/{matterId}:undelete",
          "path": "v1/matters/{matterId}:undelete",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Undeletes the specified matter. Returns the matter with updated state."
        },
        "get": {
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.get",
          "path": "v1/matters/{matterId}",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            },
            "view": {
              "description": "Specifies how much information about the matter to return in the response.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "description": "Gets the specified matter.",
          "flatPath": "v1/matters/{matterId}",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "addPermissions": {
          "response": {
            "$ref": "MatterPermission"
          },
          "id": "vault.matters.addPermissions",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "path": "v1/matters/{matterId}:addPermissions",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Adds an account as a matter collaborator.",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          }
        },
        "create": {
          "flatPath": "v1/matters",
          "path": "v1/matters",
          "parameters": {},
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.create",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "Matter"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "close": {
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "id": "vault.matters.close",
          "flatPath": "v1/matters/{matterId}:close",
          "path": "v1/matters/{matterId}:close",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "CloseMatterRequest"
          }
        },
        "reopen": {
          "path": "v1/matters/{matterId}:reopen",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "flatPath": "v1/matters/{matterId}:reopen",
          "id": "vault.matters.reopen",
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "matterId"
          ]
        },
        "delete": {
          "flatPath": "v1/matters/{matterId}",
          "path": "v1/matters/{matterId}",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "Matter"
          },
          "id": "vault.matters.delete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "DELETE"
        },
        "removePermissions": {
          "response": {
            "$ref": "Empty"
          },
          "id": "vault.matters.removePermissions",
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "path": "v1/matters/{matterId}:removePermissions",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Removes an account as a matter collaborator.",
          "parameterOrder": [
            "matterId"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          }
        }
      },
      "resources": {
        "savedQueries": {
          "methods": {
            "list": {
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "path": "v1/matters/{matterId}/savedQueries",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "type": "string"
                },
                "matterId": {
                  "description": "The ID of the matter to get the saved queries for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of saved queries to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists the saved queries in a matter.",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "id": "vault.matters.savedQueries.list",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "SavedQuery"
              },
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "path": "v1/matters/{matterId}/savedQueries",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The ID of the matter to create the saved query in.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Creates a saved query.",
              "response": {
                "$ref": "SavedQuery"
              },
              "id": "vault.matters.savedQueries.create"
            },
            "get": {
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "SavedQuery"
              },
              "id": "vault.matters.savedQueries.get",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameters": {
                "savedQueryId": {
                  "description": "ID of the saved query to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "matterId": {
                  "location": "path",
                  "description": "The ID of the matter to get the saved query from.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Retrieves the specified saved query.",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to delete the saved query from.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "savedQueryId": {
                  "description": "ID of the saved query to delete.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes the specified saved query.",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "id": "vault.matters.savedQueries.delete",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "exports": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "id": "vault.matters.exports.delete",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "exportId": {
                  "description": "The export ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes an export.",
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "Export"
              },
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "POST",
              "path": "v1/matters/{matterId}/exports",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Creates an export.",
              "flatPath": "v1/matters/{matterId}/exports",
              "response": {
                "$ref": "Export"
              },
              "id": "vault.matters.exports.create"
            },
            "get": {
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "exportId": {
                  "location": "path",
                  "description": "The export ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets an export.",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "id": "vault.matters.exports.get",
              "response": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId",
                "exportId"
              ]
            },
            "list": {
              "parameterOrder": [
                "matterId"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "ListExportsResponse"
              },
              "id": "vault.matters.exports.list",
              "flatPath": "v1/matters/{matterId}/exports",
              "path": "v1/matters/{matterId}/exports",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The number of exports to return in the response.",
                  "type": "integer",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response.",
                  "type": "string",
                  "location": "query"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists details about the exports in the specified matter."
            }
          }
        },
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "id": "vault.matters.holds.accounts.list",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameters": {
                    "holdId": {
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string"
                    },
                    "matterId": {
                      "description": "The matter ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold."
                },
                "create": {
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "holdId": {
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "id": "vault.matters.holds.accounts.create",
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The ID of the account to remove from the hold.",
                      "required": true,
                      "type": "string"
                    },
                    "holdId": {
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Removes an account from a hold.",
                  "id": "vault.matters.holds.accounts.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "vault.matters.holds.list",
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "path": "v1/matters/{matterId}/holds",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "type": "integer",
                  "format": "int32"
                },
                "view": {
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ]
                },
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string"
                },
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists the holds in a matter.",
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "removeHeldAccounts": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
[...]
