{
  "baseUrl": "https://vault.googleapis.com/",
  "title": "Google Vault API",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "revision": "20260709",
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "Vault",
  "rootUrl": "https://vault.googleapis.com/",
  "name": "vault",
  "schemas": {
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "properties": {
        "savedQueries": {
          "description": "List of saved queries.",
          "type": "array",
          "items": {
            "$ref": "SavedQuery"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Definition of the response for method ListSaveQuery."
    },
    "ExportStats": {
      "id": "ExportStats",
      "properties": {
        "exportedArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files already processed for export."
        },
        "totalArtifactCount": {
          "format": "int64",
          "description": "The number of messages or files to be exported.",
          "type": "string"
        },
        "sizeInBytes": {
          "type": "string",
          "description": "The size of export in bytes.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Progress information for an export."
    },
    "ListHeldAccountsResponse": {
      "description": "Returns a list of the accounts covered by a hold.",
      "type": "object",
      "id": "ListHeldAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        }
      }
    },
    "GroupsCountResult": {
      "description": "Groups specific count metrics.",
      "id": "GroupsCountResult",
      "properties": {
        "queriedAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts involved in this count operation.",
          "type": "string"
        },
        "matchingAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string"
        },
        "accountCounts": {
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages."
        },
        "nonQueryableAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set."
        },
        "accountCountErrors": {
          "description": "Error occurred when querying these accounts.",
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          }
        }
      },
      "type": "object"
    },
    "RemoveHeldAccountsRequest": {
      "id": "RemoveHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The account IDs of the accounts to remove from the hold."
        }
      },
      "type": "object",
      "description": "Remove a list of accounts from a hold."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "GroupsExportOptions": {
      "type": "object",
      "id": "GroupsExportOptions",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "description": "Options for Groups exports."
    },
    "CountArtifactsResponse": {
      "type": "object",
      "id": "CountArtifactsResponse",
      "properties": {
        "mailCountResult": {
          "$ref": "MailCountResult",
          "description": "Count metrics for Gmail and classic Hangouts."
        },
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        },
        "totalCount": {
          "format": "int64",
          "description": "Total count of messages.",
          "type": "string"
        }
      },
      "description": "Definition of the response for method CountArtifacts."
    },
    "HeldDriveQuery": {
      "description": "Options for Drive holds.",
      "id": "HeldDriveQuery",
      "properties": {
        "includeTeamDriveFiles": {
          "type": "boolean",
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true
        },
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AccountInfo": {
      "description": "The accounts to search",
      "id": "AccountInfo",
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A set of accounts to search."
        }
      },
      "type": "object"
    },
    "CloudStorageFile": {
      "id": "CloudStorageFile",
      "properties": {
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "size": {
          "format": "int64",
          "description": "The export file size.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The export file in Cloud Storage"
    },
    "ListExportsResponse": {
      "description": "The exports for a matter.",
      "type": "object",
      "id": "ListExportsResponse",
      "properties": {
        "exports": {
          "type": "array",
          "items": {
            "$ref": "Export"
          },
          "description": "The list of exports."
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "properties": {
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        },
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten."
    },
    "VoiceOptions": {
      "id": "VoiceOptions",
      "properties": {
        "coveredData": {
          "description": "Datatypes to search",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          }
        }
      },
      "type": "object",
      "description": "Additional options for Voice search"
    },
    "DriveOptions": {
      "description": "Additional options for Drive search.",
      "id": "DriveOptions",
      "properties": {
        "versionDate": {
          "format": "google-datetime",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string"
        },
        "sharedDrivesOption": {
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set.",
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "type": "string",
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ]
        },
        "includeTeamDrives": {
          "description": "Set to true to include Team Drive.",
          "deprecated": true,
          "type": "boolean"
        },
        "includeSharedDrives": {
          "deprecated": true,
          "description": "Set to **true** to include shared drives.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        }
      },
      "type": "object"
    },
    "Export": {
      "type": "object",
      "id": "Export",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time when the export was created.",
          "type": "string"
        },
        "cloudStorageSink": {
          "$ref": "CloudStorageSink",
          "description": "Output only. The sink for export files in Cloud Storage."
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "parentExportId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports."
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "description": "Output only. The status of the export.",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ]
        },
        "query": {
          "$ref": "Query",
          "description": "The query parameters used to create the export."
        }
      },
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "HangoutsChatInfo": {
      "type": "object",
      "id": "HangoutsChatInfo",
      "properties": {
        "roomId": {
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The Chat spaces to search"
    },
    "CloudStorageSink": {
      "description": "Export sink for Cloud Storage files.",
      "type": "object",
      "id": "CloudStorageSink",
      "properties": {
        "files": {
          "description": "Output only. The exported files in Cloud Storage.",
          "type": "array",
          "items": {
            "$ref": "CloudStorageFile"
          }
        }
      }
    },
    "HeldAccount": {
      "type": "object",
      "id": "HeldAccount",
      "properties": {
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "holdTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the account was put on hold."
        },
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        }
      },
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "MailOptions": {
      "type": "object",
      "id": "MailOptions",
      "properties": {
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ]
        }
      },
      "description": "Additional options for Gmail search"
    },
    "Hold": {
      "id": "Hold",
      "properties": {
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last time this hold was modified."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          },
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty."
        },
        "corpus": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "description": "The service to be searched.",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        }
      },
      "type": "object",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "HeldMailQuery": {
      "description": "Query options for Gmail holds.",
      "type": "object",
      "id": "HeldMailQuery",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      }
    },
    "UndeleteMatterRequest": {
      "type": "object",
      "id": "UndeleteMatterRequest",
      "properties": {},
      "description": "Undelete a matter by ID."
    },
    "CountArtifactsMetadata": {
      "description": "Long running operation metadata for CountArtifacts.",
      "type": "object",
      "id": "CountArtifactsMetadata",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Creation time of count operation.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of count operation. Available when operation is done.",
          "type": "string"
        },
        "query": {
          "description": "The search query from the request.",
          "$ref": "Query"
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        }
      }
    },
    "CloseMatterResponse": {
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "id": "CloseMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **CLOSED**."
        }
      }
    },
    "OrgUnitInfo": {
      "id": "OrgUnitInfo",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The organizational unit to search"
    },
    "SitesUrlInfo": {
      "id": "SitesUrlInfo",
      "properties": {
        "urls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of published site URLs."
        }
      },
      "type": "object",
      "description": "The published site URLs of new Google Sites to search"
    },
    "DriveExportOptions": {
      "type": "object",
      "id": "DriveExportOptions",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      },
      "description": "Options for Drive exports."
    },
    "Query": {
      "type": "object",
      "id": "Query",
      "properties": {
        "searchMethod": {
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "deprecated": true,
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The search method to use.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ]
        },
        "orgUnitInfo": {
          "$ref": "OrgUnitInfo",
          "description": "Required when **SearchMethod** is **ORG_UNIT**."
        },
        "teamDriveInfo": {
          "$ref": "TeamDriveInfo",
          "deprecated": true,
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**."
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatOptions",
          "description": "Set Chat search-specific options. (read-only)"
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "dataScope": {
          "description": "The data source to search.",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "type": "string",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ]
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "geminiOptions": {
          "$ref": "GeminiOptions",
          "description": "Set Gemini search-specific options."
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "calendarOptions": {
          "$ref": "CalendarOptions",
          "description": "Set Calendar search-specific options."
        },
        "method": {
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "corpus": {
          "description": "The Google Workspace service to search.",
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ]
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "voiceOptions": {
          "description": "Set Voice search-specific options.",
          "$ref": "VoiceOptions"
        }
      },
      "description": "The query definition used for search and export."
    },
    "UserInfo": {
      "type": "object",
      "id": "UserInfo",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        }
      },
      "description": "User's information."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CorpusQuery": {
      "description": "Service-specific options for holds.",
      "id": "CorpusQuery",
      "properties": {
        "mailQuery": {
          "$ref": "HeldMailQuery",
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**."
        },
        "groupsQuery": {
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**.",
          "$ref": "HeldGroupsQuery"
        },
        "geminiQuery": {
          "description": "Service-specific options for Gemini holds. If set, **CorpusType** must be **GEMINI**.",
          "$ref": "HeldGeminiQuery"
        },
        "hangoutsChatQuery": {
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**.",
          "$ref": "HeldHangoutsChatQuery"
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "voiceQuery": {
          "$ref": "HeldVoiceQuery",
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**."
        },
        "calendarQuery": {
          "$ref": "HeldCalendarQuery",
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**."
        }
      },
      "type": "object"
    },
    "AddHeldAccountsResponse": {
      "type": "object",
      "id": "AddHeldAccountsResponse",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "description": "The list of responses, in the same order as the batch request."
        }
      },
      "description": "Response for batch create held accounts."
    },
    "RemoveMatterPermissionsRequest": {
      "description": "Remove an account as a matter collaborator.",
      "type": "object",
      "id": "RemoveMatterPermissionsRequest",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      }
    },
    "HangoutsChatExportOptions": {
      "type": "object",
      "id": "HangoutsChatExportOptions",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "Options for Chat exports."
    },
    "HeldCalendarQuery": {
      "type": "object",
      "id": "HeldCalendarQuery",
      "properties": {},
      "description": "Options for Calendar holds."
    },
    "GeminiOptions": {
      "id": "GeminiOptions",
      "properties": {},
      "type": "object",
      "description": "Additional options for Gemini search"
    },
    "RemoveHeldAccountsResponse": {
      "description": "Response for batch delete held accounts.",
      "type": "object",
      "id": "RemoveHeldAccountsResponse",
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      }
    },
    "CalendarExportOptions": {
      "type": "object",
      "id": "CalendarExportOptions",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ]
        }
      },
      "description": "The options for Calendar exports."
    },
    "HangoutsChatOptions": {
      "description": "Additional options for Google Chat search",
      "type": "object",
      "id": "HangoutsChatOptions",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      }
    },
    "CountArtifactsRequest": {
      "description": "Count artifacts request.",
      "id": "CountArtifactsRequest",
      "properties": {
        "view": {
          "description": "Sets the granularity of the count results.",
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ],
          "type": "string",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ]
        },
        "query": {
          "description": "The search query.",
          "$ref": "Query"
        }
      },
      "type": "object"
    },
    "ReopenMatterResponse": {
      "type": "object",
      "id": "ReopenMatterResponse",
      "properties": {
        "matter": {
          "$ref": "Matter",
          "description": "The updated matter, with state **OPEN**."
        }
      },
      "description": "Response to a ReopenMatterRequest."
    },
    "HeldGroupsQuery": {
      "id": "HeldGroupsQuery",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Query options for group holds."
    },
    "AccountCountError": {
      "description": "An error that occurred when querying a specific account",
      "id": "AccountCountError",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "description": "Account query error.",
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ]
        }
      },
      "type": "object"
    },
    "TeamDriveInfo": {
      "description": "Team Drives to search",
      "type": "object",
      "deprecated": true,
      "id": "TeamDriveInfo",
      "properties": {
        "teamDriveIds": {
          "deprecated": true,
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HeldOrgUnit": {
      "type": "object",
      "id": "HeldOrgUnit",
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "format": "google-datetime",
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string"
        }
      },
      "description": "The organizational unit covered by a hold. This structure is immutable."
    },
    "HeldHangoutsChatQuery": {
      "description": "Options for Chat holds.",
      "type": "object",
      "id": "HeldHangoutsChatQuery",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "type": "object",
      "id": "AccountCount",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "MatterPermission": {
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "id": "MatterPermission",
      "properties": {
        "role": {
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ],
          "description": "The user's role for the matter.",
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ]
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReopenMatterRequest": {
      "type": "object",
      "id": "ReopenMatterRequest",
      "properties": {},
      "description": "Reopen a matter by ID."
    },
    "SharedDriveInfo": {
      "type": "object",
      "id": "SharedDriveInfo",
      "properties": {
        "sharedDriveIds": {
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The shared drives to search"
    },
    "Matter": {
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "id": "Matter",
      "properties": {
        "matterRegion": {
          "type": "string",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "description": "Optional. The requested data region for the matter.",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "state": {
          "description": "The state of the matter.",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ]
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DriveDocumentIds": {
      "description": "Specify Drive documents by document ID.",
      "type": "object",
      "id": "DriveDocumentIds",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. A list of Drive document IDs."
        }
      }
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "CalendarOptions": {
      "id": "CalendarOptions",
      "properties": {
        "versionDate": {
          "format": "google-datetime",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string"
        },
        "locationQuery": {
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "minusWords": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\"."
        },
        "peopleQuery": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\"."
        },
        "responseStatuses": {
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ],
            "type": "string",
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ]
          }
        }
      },
      "type": "object",
      "description": "Additional options for Calendar search"
    },
    "MailExportOptions": {
      "description": "Options for Gmail exports.",
      "id": "MailExportOptions",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        },
        "exportLinkedDriveFiles": {
          "description": "Optional. To enable exporting linked Drive files, set to **true**.",
          "type": "boolean"
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AddHeldAccountResult": {
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "type": "object",
      "id": "AddHeldAccountResult",
      "properties": {
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        },
        "status": {
          "$ref": "Status",
          "description": "Reports the request status. If it failed, returns an error message."
        }
      }
    },
    "VoiceExportOptions": {
      "description": "The options for Voice exports.",
      "id": "VoiceExportOptions",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported text messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "type": "object"
    },
    "CloseMatterRequest": {
      "description": "Close a matter by ID.",
      "type": "object",
      "id": "CloseMatterRequest",
      "properties": {}
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "properties": {
        "mailOptions": {
          "description": "Options for Gmail exports.",
          "$ref": "MailExportOptions"
        },
        "voiceOptions": {
          "$ref": "VoiceExportOptions",
          "description": "Options for Voice exports."
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "geminiOptions": {
          "$ref": "GeminiExportOptions",
          "description": "Option available for Gemini export."
        },
        "region": {
          "description": "The requested data region for the export.",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        }
      },
      "type": "object",
      "description": "Additional options for exports"
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "type": "object",
      "id": "HeldVoiceQuery",
      "properties": {
        "coveredData": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored."
        }
      }
    },
    "ListMattersResponse": {
      "id": "ListMattersResponse",
      "properties": {
        "matters": {
          "description": "List of matters.",
          "type": "array",
          "items": {
            "$ref": "Matter"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides the list of matters."
    },
    "DriveDocumentInfo": {
      "id": "DriveDocumentInfo",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      },
      "type": "object",
      "description": "The Drive documents to search."
    },
    "GeminiExportOptions": {
      "description": "The options for Gemini exports.",
      "id": "GeminiExportOptions",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML",
            "JSON"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini.",
            "Export as JSON. Only available for Gemini in Workpace."
          ]
        }
      },
      "type": "object"
    },
    "ListHoldsResponse": {
      "description": "The holds for a matter.",
      "type": "object",
      "id": "ListHoldsResponse",
      "properties": {
        "holds": {
          "description": "The list of holds.",
          "type": "array",
          "items": {
            "$ref": "Hold"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        }
      }
    },
    "AddHeldAccountsRequest": {
      "type": "object",
      "id": "AddHeldAccountsRequest",
      "properties": {
        "accountIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        },
        "emails": {
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Add a list of accounts to a hold."
    },
    "MailCountResult": {
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "id": "MailCountResult",
      "properties": {
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "accountCountErrors": {
          "description": "Errors occurred when querying these accounts.",
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "matchingAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages."
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          }
        },
        "queriedAccountsCount": {
          "format": "int64",
          "description": "Total number of accounts involved in this count operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "HeldGeminiQuery": {
      "type": "object",
      "id": "HeldGeminiQuery",
      "properties": {},
      "description": "Options for Gemini holds."
    },
    "SavedQuery": {
      "type": "object",
      "id": "SavedQuery",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        },
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        }
      },
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "mtlsRootUrl": "https://vault.mtls.googleapis.com/",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ]
        },
        "cancel": {
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "pattern": "^operations/.*$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "id": "vault.operations.cancel",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST"
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "description": "The name of the operation's parent resource.",
              "required": true,
              "pattern": "^operations$",
              "type": "string",
              "location": "path"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "The standard list filter."
            },
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "id": "vault.operations.list",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "path": "v1/{+name}"
        },
        "delete": {
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "vault.operations.delete",
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource to be deleted.",
              "location": "path"
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
        }
      }
    },
    "matters": {
      "methods": {
        "removePermissions": {
          "path": "v1/matters/{matterId}:removePermissions",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "id": "vault.matters.removePermissions",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Removes an account as a matter collaborator."
        },
        "addPermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:addPermissions",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds an account as a matter collaborator.",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "id": "vault.matters.addPermissions",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "MatterPermission"
          }
        },
        "create": {
          "request": {
            "$ref": "Matter"
          },
          "id": "vault.matters.create",
          "parameterOrder": [],
          "response": {
            "$ref": "Matter"
          },
          "parameters": {},
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters",
          "flatPath": "v1/matters",
          "httpMethod": "POST"
        },
        "undelete": {
          "flatPath": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "id": "vault.matters.update",
          "request": {
            "$ref": "Matter"
          },
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "type": "string",
              "required": true,
              "description": "The matter ID.",
              "location": "path"
            }
          },
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "path": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "PUT"
        },
        "close": {
          "flatPath": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:close",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.close",
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID.",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "path": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "GET",
          "id": "vault.matters.get",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            },
            "view": {
              "location": "query",
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in the response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            }
          },
          "description": "Gets the specified matter."
        },
        "delete": {
          "id": "vault.matters.delete",
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "parameters": {
            "matterId": {
              "location": "path",
              "description": "The matter ID",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "path": "v1/matters/{matterId}",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "DELETE"
        },
        "reopen": {
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "id": "vault.matters.reopen",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:reopen",
          "flatPath": "v1/matters/{matterId}:reopen",
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "path": "v1/matters",
          "flatPath": "v1/matters",
          "httpMethod": "GET",
          "id": "vault.matters.list",
          "parameterOrder": [],
          "response": {
            "$ref": "ListMattersResponse"
          },
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "The pagination token as returned in the response.",
              "type": "string"
            },
            "state": {
              "location": "query",
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "type": "string",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ]
            },
            "view": {
              "location": "query",
              "description": "Specifies how much information about the matter to return in response.",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer"
            }
          },
          "description": "Lists matters the requestor has access to."
        },
        "count": {
          "flatPath": "v1/matters/{matterId}:count",
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:count",
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "description": "Counts the accounts processed by the specified query.",
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.count",
          "request": {
            "$ref": "CountArtifactsRequest"
          }
        }
      },
      "resources": {
        "holds": {
          "methods": {
            "create": {
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "path": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.holds.create",
              "request": {
                "$ref": "Hold"
              },
              "description": "Creates a hold in the specified matter.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "Lists the holds in a matter.",
              "parameters": {
                "pageSize": {
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "matterId": {
                  "type": "string",
                  "required": true,
                  "description": "The matter ID.",
                  "location": "path"
                },
                "view": {
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "parameterOrder": [
                "matterId"
              ],
              "id": "vault.matters.holds.list",
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/holds",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "delete": {
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                },
                "holdId": {
                  "location": "path",
                  "description": "The hold ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.delete",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "DELETE",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "get": {
              "description": "Gets the specified hold.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                },
                "holdId": {
                  "location": "path",
                  "description": "The hold ID.",
                  "required": true,
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "description": "The amount of detail to return for a hold.",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ]
                }
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.get",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}"
            },
            "addHeldAccounts": {
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "httpMethod": "POST",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string"
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "id": "vault.matters.holds.addHeldAccounts",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ]
            },
            "update": {
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "PUT",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.update",
              "request": {
                "$ref": "Hold"
              },
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "holdId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the hold."
                }
              }
            },
            "removeHeldAccounts": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "id": "vault.matters.holds.removeHeldAccounts",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "holdId": {
                  "description": "The hold ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request."
            }
          },
          "resources": {
            "accounts": {
              "methods": {
                "delete": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "description": "Removes an account from a hold.",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "description": "The matter ID.",
                      "required": true,
                      "type": "string"
                    },
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The hold ID."
                    },
                    "accountId": {
                      "type": "string",
                      "required": true,
                      "description": "The ID of the account to remove from the hold.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "id": "vault.matters.holds.accounts.delete"
                },
                "create": {
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "POST",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "description": "The matter ID.",
                      "required": true,
                      "type": "string"
                    },
                    "holdId": {
                      "location": "path",
                      "description": "The hold ID.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "id": "vault.matters.holds.accounts.create",
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                },
                "list": {
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "parameters": {
                    "matterId": {
                      "type": "string",
                      "required": true,
                      "description": "The matter ID.",
                      "location": "path"
                    },
                    "holdId": {
                      "type": "string",
                      "required": true,
[...]
