{
  "title": "Chrome Verified Access API",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "servicePath": "",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "flatPath": "v1/challenge",
          "path": "v1/challenge",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.create",
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "description": "CreateChallenge API",
          "request": {
            "$ref": "Empty"
          }
        },
        "verify": {
          "flatPath": "v1/challenge:verify",
          "path": "v1/challenge:verify",
          "parameters": {},
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "description": "VerifyChallengeResponse API",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          }
        }
      }
    }
  },
  "basePath": "",
  "name": "verifiedaccess",
  "version_module": true,
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "revision": "20260629",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "verifiedaccess",
  "ownerName": "Google",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "description": "signed ChallengeResponse",
      "id": "VerifyChallengeResponseRequest"
    },
    "Challenge": {
      "type": "object",
      "properties": {
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "properties": {
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "type": "object",
      "properties": {
        "signature": {
          "description": "The signature of the data field.",
          "format": "byte",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The data to be signed.",
          "format": "byte"
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "id": "verifiedaccess:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  }
}