{
  "kind": "discovery#restDescription",
  "title": "Chrome Verified Access API",
  "version_module": true,
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "canonicalName": "verifiedaccess",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "ownerDomain": "google.com",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "protocol": "rest",
  "batchPath": "batch",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "description": "CreateChallenge API",
          "parameterOrder": [],
          "request": {
            "$ref": "Empty"
          },
          "flatPath": "v1/challenge",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "Challenge"
          },
          "id": "verifiedaccess.challenge.create",
          "path": "v1/challenge",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        },
        "verify": {
          "description": "VerifyChallengeResponse API",
          "parameterOrder": [],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "flatPath": "v1/challenge:verify",
          "parameters": {},
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        }
      }
    }
  },
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "id": "verifiedaccess:v1",
  "name": "verifiedaccess",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true,
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "id": "SignedData",
      "properties": {
        "data": {
          "type": "string",
          "description": "The data to be signed.",
          "format": "byte"
        },
        "signature": {
          "type": "string",
          "description": "The signature of the data field.",
          "format": "byte"
        }
      }
    },
    "Challenge": {
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "type": "object",
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        }
      },
      "description": "signed ChallengeResponse",
      "type": "object"
    }
  },
  "revision": "20260610",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    }
  },
  "basePath": "",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/"
}