{
  "servicePath": "",
  "title": "Chrome Verified Access API",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "version_module": true,
  "version": "v1",
  "schemas": {
    "Challenge": {
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        }
      },
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult"
    },
    "SignedData": {
      "id": "SignedData",
      "properties": {
        "signature": {
          "description": "The signature of the data field.",
          "format": "byte",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "The data to be signed.",
          "format": "byte"
        }
      },
      "description": "The wrapper message of any data and its signature.",
      "type": "object"
    },
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        }
      },
      "description": "signed ChallengeResponse",
      "id": "VerifyChallengeResponseRequest"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    }
  },
  "id": "verifiedaccess:v1",
  "ownerName": "Google",
  "basePath": "",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260902",
  "name": "verifiedaccess",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "canonicalName": "verifiedaccess",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "path": "v1/challenge:verify",
          "flatPath": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameterOrder": [],
          "description": "VerifyChallengeResponse API",
          "httpMethod": "POST",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "parameters": {}
        },
        "create": {
          "parameterOrder": [],
          "request": {
            "$ref": "Empty"
          },
          "response": {
            "$ref": "Challenge"
          },
          "flatPath": "v1/challenge",
          "path": "v1/challenge",
          "parameters": {},
          "description": "CreateChallenge API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "id": "verifiedaccess.challenge.create",
          "httpMethod": "POST"
        }
      }
    }
  },
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  }
}