{
  "basePath": "",
  "discoveryVersion": "v1",
  "version": "v1",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "flatPath": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "description": "VerifyChallengeResponse API",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/challenge:verify"
        },
        "create": {
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "description": "CreateChallenge API",
          "flatPath": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "path": "v1/challenge"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "verifiedaccess:v1",
  "revision": "20260902",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "servicePath": "",
  "canonicalName": "verifiedaccess",
  "title": "Chrome Verified Access API",
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "properties": {
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseRequest",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "Challenge": {
      "type": "object",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "verificationOutput": {
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult"
    },
    "SignedData": {
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The data to be signed."
        },
        "signature": {
          "format": "byte",
          "type": "string",
          "description": "The signature of the data field."
        }
      }
    }
  },
  "protocol": "rest",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "name": "verifiedaccess",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "baseUrl": "https://verifiedaccess.googleapis.com/"
}