{
  "kind": "discovery#restDescription",
  "version": "v1",
  "title": "Chrome Verified Access API",
  "version_module": true,
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "VerifyChallengeResponseResult": {
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true,
          "type": "string"
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object"
    },
    "SignedData": {
      "id": "SignedData",
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "format": "byte",
          "description": "The data to be signed.",
          "type": "string"
        },
        "signature": {
          "description": "The signature of the data field.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      },
      "id": "VerifyChallengeResponseRequest",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "id": "Challenge",
      "type": "object"
    }
  },
  "name": "verifiedaccess",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "httpMethod": "POST",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "description": "VerifyChallengeResponse API"
        },
        "create": {
          "parameters": {},
          "flatPath": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "description": "CreateChallenge API",
          "request": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "path": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    }
  },
  "canonicalName": "verifiedaccess",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "basePath": "",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "revision": "20260617",
  "id": "verifiedaccess:v1",
  "protocol": "rest"
}