{
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "basePath": "",
  "revision": "20260902",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "response": {
            "$ref": "Challenge"
          },
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "v1/challenge",
          "request": {
            "$ref": "Empty"
          },
          "id": "verifiedaccess.challenge.create",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "path": "v1/challenge",
          "description": "CreateChallenge API"
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.verify",
          "flatPath": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "path": "v1/challenge:verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "parameters": {}
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "canonicalName": "verifiedaccess",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "batchPath": "batch",
  "version_module": true,
  "title": "Chrome Verified Access API",
  "kind": "discovery#restDescription",
  "id": "verifiedaccess:v1",
  "schemas": {
    "SignedData": {
      "type": "object",
      "properties": {
        "signature": {
          "format": "byte",
          "type": "string",
          "description": "The signature of the data field."
        },
        "data": {
          "format": "byte",
          "description": "The data to be signed.",
          "type": "string"
        }
      },
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object"
    },
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "type": "object",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "name": "verifiedaccess"
}