{
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "basePath": "",
  "version_module": true,
  "discoveryVersion": "v1",
  "canonicalName": "verifiedaccess",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "id": "verifiedaccess:v1",
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "version": "v1",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "protocol": "rest",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "revision": "20260927",
  "batchPath": "batch",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "description": "CreateChallenge API",
          "id": "verifiedaccess.challenge.create",
          "parameters": {},
          "response": {
            "$ref": "Challenge"
          },
          "path": "v1/challenge",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "Empty"
          },
          "httpMethod": "POST"
        },
        "verify": {
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.verify",
          "flatPath": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "parameters": {},
          "path": "v1/challenge:verify",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "SignedData": {
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "format": "byte",
          "description": "The data to be signed.",
          "type": "string"
        },
        "signature": {
          "description": "The signature of the data field.",
          "format": "byte",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "description": "signed ChallengeResponse"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "verificationOutput": {
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        }
      }
    }
  },
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "title": "Chrome Verified Access API",
  "name": "verifiedaccess",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}