{
  "basePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "verifiedaccess",
  "version": "v1",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "protocol": "rest",
  "schemas": {
    "Challenge": {
      "id": "Challenge",
      "type": "object",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "VerifyChallengeResponseRequest": {
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        }
      },
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "description": "signed ChallengeResponse"
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "type": "object",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        },
        "signature": {
          "description": "The signature of the data field.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "flatPath": "v1/challenge",
          "description": "CreateChallenge API",
          "path": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "parameterOrder": [],
          "request": {
            "$ref": "Empty"
          },
          "parameters": {},
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        },
        "verify": {
          "httpMethod": "POST",
          "flatPath": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "path": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify",
          "parameterOrder": [],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameters": {},
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        }
      }
    }
  },
  "title": "Chrome Verified Access API",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260620",
  "servicePath": "",
  "version_module": true,
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "verifiedaccess:v1",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "canonicalName": "verifiedaccess"
}