{
  "kind": "discovery#restDescription",
  "id": "verifiedaccess:v1",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "protocol": "rest",
  "name": "verifiedaccess",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "version_module": true,
  "batchPath": "batch",
  "schemas": {
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The data to be signed."
        },
        "signature": {
          "description": "The signature of the data field.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "SignedData",
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "type": "object",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "verificationOutput": {
          "type": "string",
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "description": "signed ChallengeResponse",
      "properties": {
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      },
      "id": "Challenge",
      "type": "object"
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "revision": "20260721",
  "title": "Chrome Verified Access API",
  "ownerName": "Google",
  "basePath": "",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "discoveryVersion": "v1",
  "version": "v1",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "flatPath": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "path": "v1/challenge",
          "request": {
            "$ref": "Empty"
          },
          "id": "verifiedaccess.challenge.create",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameters": {},
          "parameterOrder": [],
          "description": "CreateChallenge API"
        },
        "verify": {
          "id": "verifiedaccess.challenge.verify",
          "httpMethod": "POST",
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "path": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameterOrder": [],
          "description": "VerifyChallengeResponse API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameters": {}
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "canonicalName": "verifiedaccess"
}