{
  "name": "verifiedaccess",
  "canonicalName": "verifiedaccess",
  "version_module": true,
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "basePath": "",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    }
  },
  "revision": "20260916",
  "id": "verifiedaccess:v1",
  "servicePath": "",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "title": "Chrome Verified Access API",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "schemas": {
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      },
      "type": "object",
      "description": "signed ChallengeResponse"
    },
    "VerifyChallengeResponseResult": {
      "type": "object",
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "deprecated": true,
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "Challenge": {
      "properties": {
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        },
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "SignedData": {
      "properties": {
        "signature": {
          "type": "string",
          "description": "The signature of the data field.",
          "format": "byte"
        },
        "data": {
          "format": "byte",
          "type": "string",
          "description": "The data to be signed."
        }
      },
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "id": "SignedData"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "request": {
            "$ref": "Empty"
          },
          "response": {
            "$ref": "Challenge"
          },
          "description": "CreateChallenge API",
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.create",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge",
          "path": "v1/challenge",
          "parameters": {}
        },
        "verify": {
          "path": "v1/challenge:verify",
          "description": "VerifyChallengeResponse API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge:verify",
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "httpMethod": "POST",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          }
        }
      }
    }
  },
  "version": "v1"
}