{
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "revision": "20260816",
  "id": "verifiedaccess:v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "name": "verifiedaccess",
  "batchPath": "batch",
  "canonicalName": "verifiedaccess",
  "servicePath": "",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "title": "Chrome Verified Access API",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "version_module": true,
  "version": "v1",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "schemas": {
    "VerifyChallengeResponseResult": {
      "type": "object",
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "verificationOutput": {
          "deprecated": true,
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse."
    },
    "Challenge": {
      "id": "Challenge",
      "properties": {
        "challenge": {
          "$ref": "SignedData",
          "description": "Generated challenge"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object"
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "description": "signed ChallengeResponse",
      "type": "object"
    },
    "SignedData": {
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "id": "SignedData",
      "properties": {
        "signature": {
          "type": "string",
          "format": "byte",
          "description": "The signature of the data field."
        },
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "request": {
            "$ref": "Empty"
          },
          "description": "CreateChallenge API",
          "response": {
            "$ref": "Challenge"
          },
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "id": "verifiedaccess.challenge.create",
          "path": "v1/challenge",
          "httpMethod": "POST"
        },
        "verify": {
          "parameters": {},
          "description": "VerifyChallengeResponse API",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "path": "v1/challenge:verify",
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.verify",
          "parameterOrder": []
        }
      }
    }
  }
}