{
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "revision": "20260920",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "canonicalName": "verifiedaccess",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "schemas": {
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SignedData": {
      "id": "SignedData",
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "signature": {
          "type": "string",
          "description": "The signature of the data field.",
          "format": "byte"
        },
        "data": {
          "description": "The data to be signed.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "Challenge": {
      "type": "object",
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      }
    },
    "VerifyChallengeResponseResult": {
      "properties": {
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        },
        "verificationOutput": {
          "deprecated": true,
          "type": "string",
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields."
        },
        "deviceEnrollmentId": {
          "type": "string",
          "description": "Device enrollment id is returned in this field (for the machine response only)."
        },
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "attestedDeviceId": {
          "type": "string",
          "description": "Attested device id (ADID) of the device, read from the verified data."
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "id": "VerifyChallengeResponseResult",
      "type": "object"
    },
    "VerifyChallengeResponseRequest": {
      "type": "object",
      "description": "signed ChallengeResponse",
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        },
        "challengeResponse": {
          "$ref": "SignedData",
          "description": "The generated response to the challenge"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.create",
          "path": "v1/challenge",
          "request": {
            "$ref": "Empty"
          },
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "parameters": {},
          "description": "CreateChallenge API"
        },
        "verify": {
          "flatPath": "v1/challenge:verify",
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "description": "VerifyChallengeResponse API",
          "parameterOrder": [],
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          }
        }
      }
    }
  },
  "protocol": "rest",
  "servicePath": "",
  "name": "verifiedaccess",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "version_module": true,
  "ownerDomain": "google.com",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "id": "verifiedaccess:v1",
  "basePath": "",
  "title": "Chrome Verified Access API",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/"
}