{
  "rootUrl": "https://versionhistory.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "id": "versionhistory:v1",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://versionhistory.mtls.googleapis.com/",
  "revision": "20260927",
  "title": "versionhistory.googleapis.com API",
  "resources": {
    "platforms": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListPlatformsResponse"
          },
          "httpMethod": "GET",
          "description": "Returns list of platforms that are available for a given product. The resource \"product\" has no resource name in its name.",
          "parameters": {
            "parent": {
              "required": true,
              "location": "path",
              "description": "Required. The product, which owns this collection of platforms. Format: {product}",
              "pattern": "^[^/]+$",
              "type": "string"
            },
            "pageSize": {
              "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page."
            }
          },
          "path": "v1/{+parent}/platforms",
          "parameterOrder": [
            "parent"
          ],
          "id": "versionhistory.platforms.list",
          "flatPath": "v1/{v1Id}/platforms"
        }
      },
      "resources": {
        "channels": {
          "resources": {
            "versions": {
              "methods": {
                "list": {
                  "description": "Returns list of version for the given platform/channel.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", and \"channel\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. If version is not entirely written, the version will be appended with 0 in missing fields. Ex) version > 80 becoms version > 80.0.0.0 Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Optional limit on the number of versions to include in the response. If unspecified, the server will pick an appropriate default."
                    },
                    "orderBy": {
                      "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"platform\", and \"channel\". Optionally, you can append \" desc\" or \" asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by version in descending order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc, channel, version\"",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The channel, which owns this collection of versions. Format: {product}/platforms/{platform}/channels/{channel}"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListVersionsResponse"
                  },
                  "id": "versionhistory.platforms.channels.versions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/versions"
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions/{versionsId}/releases",
                      "description": "Returns list of releases of the given version.",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/releases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+/versions/[^/]+$",
                          "description": "Required. The version, which owns this collection of releases. Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page."
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "Optional. Optional limit on the number of releases to include in the response. If unspecified, the server will pick an appropriate default.",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", \"channel\", \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. must be a valid channel when filtering by channel. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. Ex) 1.0.0.8 < 1.0.0.10. If version is not entirely written, the version will be appended with 0 for the missing fields. Ex) version > 80 becoms version > 80.0.0.0 When filtering by starttime or endtime, string must be in RFC 3339 date string format. Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81 Ex) \"...?filter=starttime>2020-01-01T00:00:00Z",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by starttime in descending order. Ex) \"...?order_by=starttime asc\" Ex) \"...?order_by=platform desc, channel, startime desc\""
                        }
                      },
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "id": "versionhistory.platforms.channels.versions.releases.list"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "path": "v1/{+parent}/channels",
              "parameters": {
                "pageSize": {
                  "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "description": "Required. The platform, which owns this collection of channels. Format: {product}/platforms/{platform}",
                  "type": "string",
                  "pattern": "^[^/]+/platforms/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page."
                }
              },
              "httpMethod": "GET",
              "id": "versionhistory.platforms.channels.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "Returns list of channels that are available for a given platform.",
              "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels"
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "documentationLink": "https://developer.chrome.com/docs/web-platform/versionhistory/guide",
  "protocol": "rest",
  "batchPath": "batch",
  "name": "versionhistory",
  "version": "v1",
  "canonicalName": "Version History",
  "baseUrl": "https://versionhistory.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "description": "Version History API - Prod",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListVersionsResponse": {
      "description": "Response message for ListVersions.",
      "id": "ListVersionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The list of versions."
        }
      },
      "type": "object"
    },
    "RolloutData": {
      "description": "Rollout-related metadata for a release.",
      "id": "RolloutData",
      "properties": {
        "rolloutName": {
          "type": "string",
          "description": "The name of the rollout."
        },
        "tag": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Tags associated with a release's role in a rollout. Most rollouts will have at least one release with a \"rollout\" tag and another release with a \"control\" tag. Some rollouts may have additional named arms."
        }
      },
      "type": "object"
    },
    "Interval": {
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval"
    },
    "Release": {
      "properties": {
        "serving": {
          "description": "Timestamp interval of when the release was live. If end_time is unspecified, the release is currently live.",
          "$ref": "Interval"
        },
        "pinnable": {
          "description": "Whether or not the release was available for version pinning.",
          "type": "boolean"
        },
        "fractionGroup": {
          "description": "Rollout fraction group. Only fractions with the same fraction_group are statistically comparable: there may be non-fractional differences between different fraction groups.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
        },
        "fraction": {
          "type": "number",
          "format": "double",
          "description": "Rollout fraction. This fraction indicates the fraction of people that should receive this version in this release. If the fraction is not specified in ReleaseManager, the API will assume fraction is 1."
        },
        "rolloutData": {
          "items": {
            "$ref": "RolloutData"
          },
          "type": "array",
          "description": "Rollout-related metadata. Some releases are part of one or more A/B rollouts. This field contains the names and data describing this release's role in any rollouts."
        },
        "version": {
          "description": "String containing just the version number. e.g. \"84.0.4147.38\"",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Release",
      "description": "A Release is owned by a Version. A Release contains information about the release(s) of its parent version. This includes when the release began and ended, as well as what percentage it was released at. If the version is released again, or if the serving percentage changes, it will create another release under the version."
    },
    "Platform": {
      "properties": {
        "name": {
          "description": "Platform name. Format is \"{product}/platforms/{platform}\"",
          "type": "string"
        },
        "platformType": {
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WIN",
            "WIN64",
            "MAC",
            "LINUX",
            "ANDROID",
            "WEBVIEW",
            "IOS",
            "ALL",
            "MAC_ARM64",
            "LACROS",
            "LACROS_ARM32",
            "CHROMEOS",
            "LACROS_ARM64",
            "FUCHSIA",
            "WIN_ARM64"
          ],
          "description": "Type of platform.",
          "enumDescriptions": [
            "",
            "Chrome Desktop for Windows (32-bit).",
            "Chrome Desktop for Windows (x86_64).",
            "Chrome Desktop for macOS (x86_64).",
            "Chrome Desktop for Linux.",
            "Chrome for Android.",
            "WebView for Android.",
            "Chrome for iOS.",
            "",
            "Chrome for macOS (ARM64).",
            "ChromeOS Lacros (x86_64).",
            "ChromeOS Lacros (ARM).",
            "ChromeOS.",
            "ChromeOS Lacros (ARM64).",
            "Chrome for Fuchsia.",
            "Chrome Desktop for Windows (ARM64)."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Each Platform is owned by a Product and owns a collection of channels. Available platforms are listed in Platform enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX).",
      "id": "Platform"
    },
    "ListPlatformsResponse": {
      "type": "object",
      "properties": {
        "platforms": {
          "items": {
            "$ref": "Platform"
          },
          "type": "array",
          "description": "The list of platforms."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListPlatforms.",
      "id": "ListPlatformsResponse"
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "description": "Each Version is owned by a Channel. A Version only displays the Version number (e.g. 84.0.4147.38). A Version owns a collection of releases.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\" e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\""
        },
        "version": {
          "description": "String containing just the version number. e.g. \"84.0.4147.38\"",
          "type": "string"
        }
      }
    },
    "ListChannelsResponse": {
      "properties": {
        "channels": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          },
          "description": "The list of channels."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for ListChannels.",
      "id": "ListChannelsResponse"
    },
    "Channel": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\""
        },
        "channelType": {
          "type": "string",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "STABLE",
            "BETA",
            "DEV",
            "CANARY",
            "CANARY_ASAN",
            "ALL",
            "EXTENDED",
            "LTS",
            "LTC"
          ],
          "enumDescriptions": [
            "",
            "The Stable channel.",
            "The Beta channel.",
            "The Dev channel.",
            "The Canary channel.",
            "The Canary channel for Chrome, with DCHECK/ASAN enabled.",
            "",
            "The Extended Stable channel for Chrome.",
            "The Long-term support channel for ChromeOS.",
            "The Long-term support candidate channel for ChromeOS."
          ],
          "description": "Type of channel."
        }
      },
      "type": "object",
      "description": "Each Channel is owned by a Platform and owns a collection of versions. Possible Channels are listed in the Channel enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX).",
      "id": "Channel"
    },
    "ListReleasesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "releases": {
          "items": {
            "$ref": "Release"
          },
          "description": "The list of releases.",
          "type": "array"
        }
      },
      "description": "Response message for ListReleases.",
      "type": "object",
      "id": "ListReleasesResponse"
    }
  }
}