{
  "title": "Cloud Vision API",
  "revision": "20260918",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://vision.googleapis.com/",
  "baseUrl": "https://vision.googleapis.com/",
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "vision",
  "canonicalName": "Vision",
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/vision/",
  "kind": "discovery#restDescription",
  "id": "vision:v1p2beta1",
  "ownerName": "Google",
  "protocol": "rest",
  "version": "v1p2beta1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "path": "v1p2beta1/{+parent}/images:asyncBatchAnnotate",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "id": "vision.projects.images.asyncBatchAnnotate",
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
              },
              "flatPath": "v1p2beta1/projects/{projectsId}/images:asyncBatchAnnotate"
            },
            "annotate": {
              "httpMethod": "POST",
              "id": "vision.projects.images.annotate",
              "description": "Run image detection and annotation for a batch of images.",
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
              },
              "path": "v1p2beta1/{+parent}/images:annotate",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                }
              },
              "flatPath": "v1p2beta1/projects/{projectsId}/images:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ]
            }
          }
        },
        "locations": {
          "resources": {
            "files": {
              "methods": {
                "annotate": {
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "path": "v1p2beta1/{+parent}/files:annotate",
                  "id": "vision.projects.locations.files.annotate",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
                  },
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "response": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST"
                },
                "asyncBatchAnnotate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
                  },
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "path": "v1p2beta1/{+parent}/files:asyncBatchAnnotate",
                  "httpMethod": "POST"
                }
              }
            },
            "images": {
              "methods": {
                "asyncBatchAnnotate": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                    }
                  },
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "httpMethod": "POST",
                  "path": "v1p2beta1/{+parent}/images:asyncBatchAnnotate",
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
                  }
                },
                "annotate": {
                  "httpMethod": "POST",
                  "id": "vision.projects.locations.images.annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Run image detection and annotation for a batch of images.",
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "path": "v1p2beta1/{+parent}/images:annotate"
                }
              }
            }
          }
        },
        "files": {
          "methods": {
            "annotate": {
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path"
                }
              },
              "flatPath": "v1p2beta1/projects/{projectsId}/files:annotate",
              "parameterOrder": [
                "parent"
              ],
              "id": "vision.projects.files.annotate",
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
              },
              "response": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
              },
              "path": "v1p2beta1/{+parent}/files:annotate"
            },
            "asyncBatchAnnotate": {
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "id": "vision.projects.files.asyncBatchAnnotate",
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1p2beta1/{+parent}/files:asyncBatchAnnotate",
              "flatPath": "v1p2beta1/projects/{projectsId}/files:asyncBatchAnnotate"
            }
          }
        }
      }
    },
    "images": {
      "methods": {
        "annotate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "id": "vision.images.annotate",
          "httpMethod": "POST",
          "description": "Run image detection and annotation for a batch of images.",
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
          },
          "response": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
          },
          "parameters": {},
          "path": "v1p2beta1/images:annotate",
          "flatPath": "v1p2beta1/images:annotate",
          "parameterOrder": []
        },
        "asyncBatchAnnotate": {
          "path": "v1p2beta1/images:asyncBatchAnnotate",
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
          },
          "flatPath": "v1p2beta1/images:asyncBatchAnnotate",
          "id": "vision.images.asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "parameters": {},
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "files": {
      "methods": {
        "annotate": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "vision.files.annotate",
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
          },
          "parameters": {},
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "path": "v1p2beta1/files:annotate",
          "flatPath": "v1p2beta1/files:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
          }
        },
        "asyncBatchAnnotate": {
          "parameters": {},
          "path": "v1p2beta1/files:asyncBatchAnnotate",
          "parameterOrder": [],
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
          },
          "flatPath": "v1p2beta1/files:asyncBatchAnnotate",
          "httpMethod": "POST",
          "id": "vision.files.asyncBatchAnnotate",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ]
        }
      }
    }
  },
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "GoogleCloudVisionV1p2beta1ImageContext": {
      "id": "GoogleCloudVisionV1p2beta1ImageContext",
      "type": "object",
      "properties": {
        "languageHints": {
          "description": "List of languages to use for TEXT_DETECTION. In most cases, an empty value yields the best results since it enables automatic language detection. For languages based on the Latin alphabet, setting `language_hints` is not needed. In rare cases, when the language of the text in the image is known, setting a hint will help get better results (although it will be a significant hindrance if the hint is wrong). Text detection returns an error if one or more of the specified languages is not one of the [supported languages](https://cloud.google.com/vision/docs/languages).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "productSearchParams": {
          "$ref": "GoogleCloudVisionV1p2beta1ProductSearchParams",
          "description": "Parameters for product search."
        },
        "textDetectionParams": {
          "description": "Parameters for text detection and document text detection.",
          "$ref": "GoogleCloudVisionV1p2beta1TextDetectionParams"
        },
        "webDetectionParams": {
          "description": "Parameters for web detection.",
          "$ref": "GoogleCloudVisionV1p2beta1WebDetectionParams"
        },
        "cropHintsParams": {
          "$ref": "GoogleCloudVisionV1p2beta1CropHintsParams",
          "description": "Parameters for crop hints annotation request."
        },
        "latLongRect": {
          "description": "Not used.",
          "$ref": "GoogleCloudVisionV1p2beta1LatLongRect"
        }
      },
      "description": "Image context and/or feature-specific parameters."
    },
    "GoogleCloudVisionV1p1beta1Page": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1Page",
      "description": "Detected page from OCR.",
      "properties": {
        "height": {
          "type": "integer",
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "format": "float"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels."
        },
        "blocks": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Block"
          },
          "description": "List of blocks of text, images etc on this page.",
          "type": "array"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected on the page."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebLabel": {
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebLabel",
      "properties": {
        "label": {
          "description": "Label for extra metadata.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "description": "Label to provide extra metadata for the web detection."
    },
    "GoogleCloudVisionV1p4beta1Position": {
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Position",
      "properties": {
        "z": {
          "description": "Z coordinate (or depth).",
          "format": "float",
          "type": "number"
        },
        "x": {
          "type": "number",
          "format": "float",
          "description": "X coordinate."
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1InputConfig": {
      "description": "The desired input location and metadata.",
      "properties": {
        "content": {
          "format": "byte",
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GoogleCloudVisionV1p3beta1GcsSource",
          "description": "The Google Cloud Storage location to read the input from."
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1InputConfig",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence.",
          "type": "array"
        },
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak": {
      "description": "Detected start or end of a structural component.",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
      "type": "object",
      "properties": {
        "isPrefix": {
          "description": "True if break prepends the element.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "description": "Detected break type."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1AnnotateImageRequest": {
      "properties": {
        "features": {
          "description": "Requested features.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Feature"
          },
          "type": "array"
        },
        "imageContext": {
          "description": "Additional context that may accompany the image.",
          "$ref": "GoogleCloudVisionV1p2beta1ImageContext"
        },
        "image": {
          "description": "The image to be processed.",
          "$ref": "GoogleCloudVisionV1p2beta1Image"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1AnnotateImageRequest",
      "type": "object",
      "description": "Request for performing Google Cloud Vision API tasks over a user-provided image, with user-requested features, and with context information."
    },
    "GoogleCloudVisionV1p2beta1Feature": {
      "id": "GoogleCloudVisionV1p2beta1Feature",
      "properties": {
        "type": {
          "description": "The feature type.",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run face detection.",
            "Run landmark detection.",
            "Run logo detection.",
            "Run label detection.",
            "Run text detection / optical character recognition (OCR). Text detection is optimized for areas of text within a larger image; if the image is a document, use `DOCUMENT_TEXT_DETECTION` instead.",
            "Run dense text document OCR. Takes precedence when both `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` are present.",
            "Run Safe Search to detect potentially unsafe or undesirable content.",
            "Compute a set of image properties, such as the image's dominant colors.",
            "Run crop hints.",
            "Run web detection.",
            "Run Product Search.",
            "Run localizer for object detection."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "FACE_DETECTION",
            "LANDMARK_DETECTION",
            "LOGO_DETECTION",
            "LABEL_DETECTION",
            "TEXT_DETECTION",
            "DOCUMENT_TEXT_DETECTION",
            "SAFE_SEARCH_DETECTION",
            "IMAGE_PROPERTIES",
            "CROP_HINTS",
            "WEB_DETECTION",
            "PRODUCT_SEARCH",
            "OBJECT_LOCALIZATION"
          ]
        },
        "model": {
          "description": "Model to use for the feature. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\". `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` also support \"builtin/rc\" for the latest release candidate.",
          "type": "string"
        },
        "maxResults": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results of this type. Does not apply to `TEXT_DETECTION`, `DOCUMENT_TEXT_DETECTION`, or `CROP_HINTS`."
        }
      },
      "type": "object",
      "description": "The type of Google Cloud Vision API detection to perform, and the maximum number of results to return for that type. Multiple `Feature` objects can be specified in the `features` list."
    },
    "GoogleCloudVisionV1p3beta1ProductKeyValue": {
      "properties": {
        "key": {
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1ProductKeyValue",
      "description": "A product label represented as a key-value pair."
    },
    "GoogleCloudVisionV1p1beta1BoundingPoly": {
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        },
        "normalizedVertices": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        }
      },
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p1beta1BoundingPoly"
    },
    "GoogleCloudVisionV1p3beta1OutputConfig": {
      "description": "The desired output location and metadata.",
      "type": "object",
      "properties": {
        "batchSize": {
          "format": "int32",
          "description": "The max number of response protos to put into each output JSON file on Google Cloud Storage. The valid range is [1, 100]. If not specified, the default value is 20. For example, for one pdf file with 100 pages, 100 response protos will be generated. If `batch_size` = 20, then 5 json files each containing 20 response protos will be written under the prefix `gcs_destination`.`uri`. Currently, batch_size only applies to GcsDestination, with potential future support for other output configurations.",
          "type": "integer"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudVisionV1p3beta1GcsDestination",
          "description": "The Google Cloud Storage location to write the output(s) to."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1OutputConfig"
    },
    "Word": {
      "type": "object",
      "id": "Word",
      "description": "A word representation.",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "BoundingPoly"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float"
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order."
        },
        "property": {
          "description": "Additional information detected for the word.",
          "$ref": "TextProperty"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1CropHint": {
      "id": "GoogleCloudVisionV1p1beta1CropHint",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "importanceFraction": {
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float"
        }
      },
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Vertex": {
      "id": "GoogleCloudVisionV1p2beta1Vertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the vertex coordinates are in the same scale as the original image.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "X coordinate."
        },
        "y": {
          "description": "Y coordinate.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1BatchOperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the batch operation.",
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true.",
          "type": "string"
        },
        "submitTime": {
          "format": "google-datetime",
          "description": "The time when the batch request was submitted to the server.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1BatchOperationMetadata",
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebLabel": {
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebLabel",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Label for extra metadata."
        }
      },
      "description": "Label to provide extra metadata for the web detection."
    },
    "GoogleCloudVisionV1p4beta1Property": {
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "properties": {
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "description": "Name of the property.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value of the property."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Property"
    },
    "GoogleCloudVisionV1p3beta1ReferenceImage": {
      "description": "A `ReferenceImage` represents a product image and its associated metadata, such as bounding boxes.",
      "id": "GoogleCloudVisionV1p3beta1ReferenceImage",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The Google Cloud Storage URI of the reference image. The URI must start with `gs://`."
        },
        "name": {
          "description": "The resource name of the reference image. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`. This field is ignored when creating a reference image.",
          "type": "string"
        },
        "boundingPolys": {
          "description": "Optional. Bounding polygons around the areas of interest in the reference image. If this field is empty, the system will try to detect regions of interest. At most 10 bounding polygons will be used. The provided shape is converted into a non-rotated rectangle. Once converted, the small edge of the rectangle must be greater than or equal to 300 pixels. The aspect ratio must be 1:4 or less (i.e. 1:3 is ok; 1:5 is not).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        },
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Score of the result. Range [0, 1]."
        }
      },
      "description": "Prediction for what the object in the bounding box is.",
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation"
    },
    "GoogleCloudVisionV1p4beta1CropHintsAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1CropHintsAnnotation",
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "properties": {
        "cropHints": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1CropHint"
          },
          "description": "Crop hint results.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1WebDetectionWebEntity": {
      "id": "GoogleCloudVisionV1p4beta1WebDetectionWebEntity",
      "type": "object",
      "properties": {
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "type": "number",
          "format": "float"
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        }
      },
      "description": "Entity deduced from similar images on the Internet."
    },
    "GoogleCloudVisionV1p2beta1AsyncAnnotateFileRequest": {
      "type": "object",
      "properties": {
        "imageContext": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageContext",
          "description": "Additional context that may accompany the image(s) in the file."
        },
        "inputConfig": {
          "description": "Required. Information about the input file.",
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig"
        },
        "outputConfig": {
          "description": "Required. The desired output location and metadata (e.g. format).",
          "$ref": "GoogleCloudVisionV1p2beta1OutputConfig"
        },
        "features": {
          "type": "array",
          "description": "Required. Requested features.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Feature"
          }
        }
      },
      "description": "An offline file annotation request.",
      "id": "GoogleCloudVisionV1p2beta1AsyncAnnotateFileRequest"
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebPage": {
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the web page."
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "partialMatchingImages": {
          "type": "array",
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          }
        },
        "fullMatchingImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1WebDetectionWebImage"
          },
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "type": "array"
        },
        "url": {
          "description": "The result web page URL.",
          "type": "string"
        }
      },
      "description": "Metadata for web pages.",
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebPage"
    },
    "GoogleCloudVisionV1p4beta1AnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p4beta1AnnotateFileResponse",
      "type": "object",
      "properties": {
        "inputConfig": {
          "description": "Information about the file for which this response is generated.",
          "$ref": "GoogleCloudVisionV1p4beta1InputConfig"
        },
        "responses": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AnnotateImageResponse"
          },
          "type": "array",
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set."
        },
        "totalPages": {
          "type": "integer",
          "format": "int32",
          "description": "This field gives the total number of pages in the file."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case."
        }
      },
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses."
    },
    "GoogleCloudVisionV1p3beta1ImportProductSetsResponse": {
      "properties": {
        "referenceImages": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ReferenceImage"
          },
          "type": "array",
          "description": "The list of reference_images that are imported successfully."
        },
        "statuses": {
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ImportProductSetsResponse",
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field.",
      "type": "object"
    },
    "ObjectAnnotation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        },
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "score": {
          "type": "number",
          "description": "Score of the result. Range [0, 1].",
          "format": "float"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "description": "Prediction for what the object in the bounding box is.",
      "id": "ObjectAnnotation",
      "type": "object"
    },
    "GroupedResult": {
      "type": "object",
      "properties": {
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "ObjectAnnotation"
          },
          "description": "List of generic predictions for the object in the bounding box."
        },
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "Result"
          }
        },
        "boundingPoly": {
          "description": "The bounding polygon around the product detected in the query image.",
          "$ref": "BoundingPoly"
        }
      },
      "description": "Information about the products similar to a single product in a query image.",
      "id": "GroupedResult"
    },
    "SafeSearchAnnotation": {
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "id": "SafeSearchAnnotation",
      "properties": {
        "adult": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "racy": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "spoof": {
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "violence": {
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1CropHint": {
      "type": "object",
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "id": "GoogleCloudVisionV1p4beta1CropHint",
      "properties": {
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale."
        },
        "importanceFraction": {
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1LocationInfo": {
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1LocationInfo",
      "type": "object",
      "description": "Detected entity location information."
    },
    "GoogleCloudVisionV1p1beta1FaceAnnotationLandmark": {
      "id": "GoogleCloudVisionV1p1beta1FaceAnnotationLandmark",
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`.",
      "properties": {
        "position": {
          "$ref": "GoogleCloudVisionV1p1beta1Position",
          "description": "Face landmark position."
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "description": "Face landmark type.",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1Position": {
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image.",
      "properties": {
        "x": {
          "format": "float",
          "description": "X coordinate.",
          "type": "number"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        },
        "z": {
          "format": "float",
          "type": "number",
          "description": "Z coordinate (or depth)."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1Position",
      "type": "object"
    },
    "DetectedLanguage": {
      "type": "object",
      "description": "Detected language for a structural component.",
      "id": "DetectedLanguage",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of detected language. Range [0, 1]."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1LatLongRect": {
      "description": "Rectangle determined by min and max `LatLng` pairs.",
      "properties": {
        "minLatLng": {
          "description": "Min lat/long pair.",
          "$ref": "LatLng"
        },
        "maxLatLng": {
          "$ref": "LatLng",
          "description": "Max lat/long pair."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1LatLongRect"
    },
    "GoogleCloudVisionV1p1beta1GcsDestination": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1GcsDestination",
      "description": "The Google Cloud Storage location where the output will be written to.",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1LocationInfo": {
      "type": "object",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      },
      "description": "Detected entity location information.",
      "id": "GoogleCloudVisionV1p2beta1LocationInfo"
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty": {
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedLanguage"
          },
          "type": "array"
        },
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        }
      },
      "type": "object",
      "description": "Additional information detected on the structural component."
    },
    "GoogleCloudVisionV1p4beta1AsyncBatchAnnotateFilesResponse": {
      "description": "Response to an async batch file annotation request.",
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1AsyncBatchAnnotateFilesResponse",
      "properties": {
        "responses": {
          "type": "array",
          "description": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse"
          }
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Product": {
      "id": "GoogleCloudVisionV1p4beta1Product",
      "properties": {
        "productCategory": {
          "type": "string",
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products."
        },
        "description": {
          "type": "string",
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long."
        },
        "productLabels": {
          "type": "array",
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductKeyValue"
          }
        },
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        }
      },
      "description": "A Product contains ReferenceImages.",
      "type": "object"
    },
    "Landmark": {
      "properties": {
        "position": {
          "description": "Face landmark position.",
          "$ref": "Position"
        },
        "type": {
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "description": "Face landmark type.",
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ]
        }
      },
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`.",
      "type": "object",
      "id": "Landmark"
    },
    "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark": {
      "id": "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark",
      "properties": {
        "type": {
          "description": "Face landmark type.",
          "type": "string",
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ]
        },
        "position": {
          "$ref": "GoogleCloudVisionV1p2beta1Position",
          "description": "Face landmark position."
        }
      },
      "type": "object",
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
    },
    "WebDetection": {
      "type": "object",
      "id": "WebDetection",
      "properties": {
        "webEntities": {
          "items": {
            "$ref": "WebEntity"
          },
          "description": "Deduced entities from similar images on the Internet.",
          "type": "array"
        },
        "visuallySimilarImages": {
          "items": {
            "$ref": "WebImage"
          },
          "type": "array",
          "description": "The visually similar image results."
        },
        "partialMatchingImages": {
          "items": {
            "$ref": "WebImage"
          },
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array"
        },
        "fullMatchingImages": {
          "description": "Fully matching images from the Internet. Can include resized copies of the query image.",
          "items": {
            "$ref": "WebImage"
          },
          "type": "array"
        },
        "bestGuessLabels": {
          "items": {
            "$ref": "WebLabel"
          },
          "type": "array",
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web."
        },
        "pagesWithMatchingImages": {
          "type": "array",
          "description": "Web pages containing the matching images from the Internet.",
          "items": {
            "$ref": "WebPage"
          }
        }
      },
      "description": "Relevant information for the image from the Internet."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "description": "Entity deduced from similar images on the Internet.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        },
        "score": {
          "format": "float",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity"
    },
    "GoogleCloudVisionV1p4beta1BatchOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1BatchOperationMetadata",
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "state": {
          "description": "The current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ]
        },
        "submitTime": {
          "description": "The time when the batch request was submitted to the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Image": {
      "id": "GoogleCloudVisionV1p2beta1Image",
      "description": "Client image to perform Google Cloud Vision API tasks over.",
      "properties": {
        "content": {
          "type": "string",
          "description": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests.",
          "format": "byte"
        },
        "source": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageSource",
          "description": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Contains metadata for the BatchAnnotateImages operation.",
      "properties": {
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the batch request was received."
        },
        "state": {
          "description": "Current state of the batch operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ]
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "LocalizedObjectAnnotation": {
      "properties": {
        "score": {
          "type": "number",
          "format": "float",
          "description": "Score of the result. Range [0, 1]."
        },
        "boundingPoly": {
          "$ref": "BoundingPoly",
          "description": "Image region to which this object belongs. This must be populated."
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        }
      },
      "type": "object",
      "description": "Set of detected objects with bounding boxes.",
      "id": "LocalizedObjectAnnotation"
    },
    "GoogleCloudVisionV1p2beta1AnnotateFileRequest": {
      "description": "A request to annotate one single file, e.g. a PDF, TIFF or GIF file.",
      "id": "GoogleCloudVisionV1p2beta1AnnotateFileRequest",
      "type": "object",
      "properties": {
        "features": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Feature"
          },
          "description": "Required. Requested features.",
          "type": "array"
        },
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig",
          "description": "Required. Information about the input file."
        },
        "imageContext": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageContext",
          "description": "Additional context that may accompany the image(s) in the file."
        },
        "pages": {
          "type": "array",
          "description": "Pages of the file to perform image annotation. Pages starts from 1, we assume the first page of the file is page 1. At most 5 pages are supported per request. Pages can be negative. Page 1 means the first page. Page 2 means the second page. Page -1 means the last page. Page -2 means the second to the last page. If the file is GIF instead of PDF or TIFF, page refers to GIF frames. If this field is empty, by default the service performs image annotation for the first 5 pages of the file.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    },
    "CropHintsAnnotation": {
      "description": "Set of crop hints that are used to generate new crops when serving images.",
      "type": "object",
      "id": "CropHintsAnnotation",
      "properties": {
        "cropHints": {
          "items": {
            "$ref": "CropHint"
          },
          "description": "Crop hint results.",
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse": {
      "description": "The response for a single offline file annotation request.",
      "id": "GoogleCloudVisionV1p1beta1AsyncAnnotateFileResponse",
      "properties": {
        "outputConfig": {
          "description": "The output location and metadata from AsyncAnnotateFileRequest.",
          "$ref": "GoogleCloudVisionV1p1beta1OutputConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation": {
      "id": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation",
      "description": "Set of detected objects with bounding boxes.",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "mid": {
          "type": "string",
          "description": "Object ID that should align with EntityAnnotation mid."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly",
          "description": "Image region to which this object belongs. This must be populated."
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        }
      },
      "type": "object"
    },
    "InputConfig": {
      "properties": {
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "type": "string",
          "format": "byte"
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "The Google Cloud Storage location to read the input from."
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        }
      },
      "id": "InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsResult": {
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult",
      "type": "object",
      "description": "Information about a product.",
      "properties": {
        "product": {
          "description": "The Product.",
          "$ref": "GoogleCloudVisionV1p3beta1Product"
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        },
        "score": {
          "format": "float",
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence)."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ImageProperties": {
      "type": "object",
      "description": "Stores image properties, such as dominant colors.",
      "id": "GoogleCloudVisionV1p2beta1ImageProperties",
      "properties": {
        "dominantColors": {
          "description": "If present, dominant colors completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1DominantColorsAnnotation"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1SafeSearchAnnotation": {
      "id": "GoogleCloudVisionV1p2beta1SafeSearchAnnotation",
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "type": "object",
      "properties": {
        "adult": {
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "racy": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "spoof": {
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive."
        },
        "violence": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals."
        },
        "medical": {
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVisionV1p4beta1BoundingPoly": {
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Vertex"
          },
          "type": "array",
          "description": "The bounding polygon vertices."
        },
        "normalizedVertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices."
        }
      },
      "type": "object",
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p4beta1BoundingPoly"
    },
    "GoogleCloudVisionV1p1beta1SafeSearchAnnotation": {
      "id": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation",
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "properties": {
        "violence": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "spoof": {
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "racy": {
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "adult": {
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResults": {
      "properties": {
        "results": {
          "type": "array",
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsResult"
          }
        },
        "productGroupedResults": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "type": "array"
        },
        "indexTime": {
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResults"
    },
    "BoundingPoly": {
      "properties": {
        "vertices": {
          "type": "array",
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "Vertex"
          }
        },
        "normalizedVertices": {
          "type": "array",
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "NormalizedVertex"
          }
        }
      },
      "description": "A bounding polygon for the detected image annotation.",
      "type": "object",
      "id": "BoundingPoly"
    },
    "WebImage": {
      "description": "Metadata for online images.",
      "properties": {
        "url": {
          "description": "The result image URL.",
          "type": "string"
        },
        "score": {
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "WebImage",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1GcsSource": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1GcsSource",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ColorInfo": {
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1ColorInfo",
      "properties": {
        "score": {
          "format": "float",
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1]."
        },
        "color": {
          "description": "RGB components of the color.",
          "$ref": "Color"
        },
        "pixelFraction": {
          "type": "number",
          "format": "float",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1]."
        }
      },
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image."
    },
    "GoogleCloudVisionV1p2beta1AnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p2beta1AnnotateFileResponse",
      "properties": {
        "inputConfig": {
          "description": "Information about the file for which this response is generated.",
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig"
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case."
        },
        "responses": {
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageResponse"
          },
[...]
