{
  "discoveryVersion": "v1",
  "canonicalName": "Vision",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/vision/",
  "revision": "20260810",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1p1beta1",
  "servicePath": "",
  "id": "vision:v1p1beta1",
  "basePath": "",
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "rootUrl": "https://vision.googleapis.com/",
  "baseUrl": "https://vision.googleapis.com/",
  "resources": {
    "images": {
      "methods": {
        "annotate": {
          "flatPath": "v1p1beta1/images:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
          },
          "parameters": {},
          "id": "vision.images.annotate",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
          },
          "description": "Run image detection and annotation for a batch of images.",
          "path": "v1p1beta1/images:annotate",
          "httpMethod": "POST"
        },
        "asyncBatchAnnotate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "flatPath": "v1p1beta1/images:asyncBatchAnnotate",
          "parameters": {},
          "id": "vision.images.asyncBatchAnnotate",
          "response": {
            "$ref": "Operation"
          },
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "path": "v1p1beta1/images:asyncBatchAnnotate",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "images": {
              "methods": {
                "asyncBatchAnnotate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
                  "httpMethod": "POST",
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
                  }
                },
                "annotate": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
                  },
                  "path": "v1p1beta1/{+parent}/images:annotate",
                  "httpMethod": "POST",
                  "description": "Run image detection and annotation for a batch of images.",
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
                  },
                  "id": "vision.projects.locations.images.annotate",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                }
              }
            },
            "files": {
              "methods": {
                "annotate": {
                  "response": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string"
                    }
                  },
                  "id": "vision.projects.locations.files.annotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
                  },
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "path": "v1p1beta1/{+parent}/files:annotate",
                  "httpMethod": "POST",
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "asyncBatchAnnotate": {
                  "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
                  "httpMethod": "POST",
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
                  },
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "flatPath": "v1p1beta1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate"
                }
              }
            }
          }
        },
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "vision.projects.files.asyncBatchAnnotate",
              "response": {
                "$ref": "Operation"
              },
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "path": "v1p1beta1/{+parent}/files:asyncBatchAnnotate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "flatPath": "v1p1beta1/projects/{projectsId}/files:asyncBatchAnnotate"
            },
            "annotate": {
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
              },
              "id": "vision.projects.files.annotate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
              },
              "path": "v1p1beta1/{+parent}/files:annotate",
              "httpMethod": "POST",
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "flatPath": "v1p1beta1/projects/{projectsId}/files:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ]
            }
          }
        },
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest"
              },
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "path": "v1p1beta1/{+parent}/images:asyncBatchAnnotate",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string"
                }
              },
              "id": "vision.projects.images.asyncBatchAnnotate",
              "flatPath": "v1p1beta1/projects/{projectsId}/images:asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ]
            },
            "annotate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "flatPath": "v1p1beta1/projects/{projectsId}/images:annotate",
              "description": "Run image detection and annotation for a batch of images.",
              "path": "v1p1beta1/{+parent}/images:annotate",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "vision.projects.images.annotate",
              "response": {
                "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateImagesResponse"
              }
            }
          }
        }
      }
    },
    "files": {
      "methods": {
        "asyncBatchAnnotate": {
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateFilesRequest"
          },
          "path": "v1p1beta1/files:asyncBatchAnnotate",
          "httpMethod": "POST",
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "response": {
            "$ref": "Operation"
          },
          "id": "vision.files.asyncBatchAnnotate",
          "parameters": {},
          "flatPath": "v1p1beta1/files:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ]
        },
        "annotate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "flatPath": "v1p1beta1/files:annotate",
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "path": "v1p1beta1/files:annotate",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesRequest"
          },
          "parameters": {},
          "id": "vision.files.annotate",
          "response": {
            "$ref": "GoogleCloudVisionV1p1beta1BatchAnnotateFilesResponse"
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "protocol": "rest",
  "title": "Cloud Vision API",
  "batchPath": "batch",
  "schemas": {
    "Word": {
      "description": "A word representation.",
      "id": "Word",
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the word.",
          "$ref": "TextProperty"
        },
        "boundingBox": {
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "BoundingPoly"
        },
        "symbols": {
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "type": "array",
          "items": {
            "$ref": "Symbol"
          }
        },
        "confidence": {
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1SafeSearchAnnotation": {
      "id": "GoogleCloudVisionV1p2beta1SafeSearchAnnotation",
      "type": "object",
      "properties": {
        "adult": {
          "type": "string",
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "spoof": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "medical": {
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "violence": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "racy": {
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      },
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence)."
    },
    "GoogleCloudVisionV1p3beta1GcsSource": {
      "description": "The Google Cloud Storage location where the input will be read from.",
      "id": "GoogleCloudVisionV1p3beta1GcsSource",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      }
    },
    "Symbol": {
      "description": "A single symbol representation.",
      "id": "Symbol",
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the symbol.",
          "$ref": "TextProperty"
        },
        "boundingBox": {
          "$ref": "BoundingPoly",
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        },
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak": {
      "description": "Detected start or end of a structural component.",
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedBreak",
      "type": "object",
      "properties": {
        "type": {
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ]
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      }
    },
    "CropHint": {
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "id": "CropHint",
      "type": "object",
      "properties": {
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "BoundingPoly"
        },
        "confidence": {
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "importanceFraction": {
          "type": "number",
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1EntityAnnotation": {
      "description": "Set of detected entity features.",
      "id": "GoogleCloudVisionV1p1beta1EntityAnnotation",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features."
        },
        "score": {
          "type": "number",
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "confidence": {
          "deprecated": true,
          "type": "number",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float"
        },
        "topicality": {
          "type": "number",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Property"
          },
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity."
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1ImageAnnotationContext": {
      "id": "GoogleCloudVisionV1p2beta1ImageAnnotationContext",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "description": "Entity deduced from similar images on the Internet.",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity",
      "type": "object",
      "properties": {
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1ColorInfo": {
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "id": "GoogleCloudVisionV1p3beta1ColorInfo",
      "type": "object",
      "properties": {
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "color": {
          "description": "RGB components of the color.",
          "$ref": "Color"
        },
        "score": {
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1DominantColorsAnnotation": {
      "description": "Set of dominant colors and their corresponding scores.",
      "id": "GoogleCloudVisionV1p4beta1DominantColorsAnnotation",
      "type": "object",
      "properties": {
        "colors": {
          "description": "RGB color values with their score and pixel fraction.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ColorInfo"
          }
        }
      }
    },
    "AnnotateImageResponse": {
      "id": "AnnotateImageResponse",
      "type": "object",
      "properties": {
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "CropHintsAnnotation"
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "TextAnnotation"
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "type": "array",
          "items": {
            "$ref": "LocalizedObjectAnnotation"
          }
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "SafeSearchAnnotation"
        },
        "context": {
          "$ref": "ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "webDetection": {
          "$ref": "WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "productSearchResults": {
          "$ref": "ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "imagePropertiesAnnotation": {
          "$ref": "ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "faceAnnotations": {
          "description": "If present, face detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "FaceAnnotation"
          }
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully."
        }
      },
      "description": "Response to an image annotation request."
    },
    "GoogleCloudVisionV1p1beta1Page": {
      "id": "GoogleCloudVisionV1p1beta1Page",
      "type": "object",
      "properties": {
        "width": {
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32",
          "type": "integer"
        },
        "property": {
          "description": "Additional information detected on the page.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
        },
        "blocks": {
          "description": "List of blocks of text, images etc on this page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Block"
          }
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "format": "float"
        },
        "height": {
          "type": "integer",
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        }
      },
      "description": "Detected page from OCR."
    },
    "GoogleCloudVisionV1p4beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "id": "GoogleCloudVisionV1p4beta1AnnotateImageResponse",
      "type": "object",
      "properties": {
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1LocalizedObjectAnnotation"
          }
        },
        "safeSearchAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p4beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          }
        },
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          }
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p4beta1CropHintsAnnotation"
        },
        "logoAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "description": "If present, logo detection has completed successfully."
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "imagePropertiesAnnotation": {
          "$ref": "GoogleCloudVisionV1p4beta1ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully."
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p4beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResults"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsResult": {
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult",
      "type": "object",
      "properties": {
        "product": {
          "description": "The Product.",
          "$ref": "GoogleCloudVisionV1p3beta1Product"
        },
        "image": {
          "description": "The resource name of the image from the product that is the closest match to the query.",
          "type": "string"
        },
        "score": {
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float"
        }
      },
      "description": "Information about a product."
    },
    "GoogleCloudVisionV1p4beta1Word": {
      "description": "A word representation.",
      "id": "GoogleCloudVisionV1p4beta1Word",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the word."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "symbols": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Symbol"
          },
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the word. Range [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ColorInfo": {
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "id": "GoogleCloudVisionV1p4beta1ColorInfo",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "pixelFraction": {
          "type": "number",
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float"
        }
      }
    },
    "Landmark": {
      "id": "Landmark",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "description": "Face landmark type.",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "type": "string"
        },
        "position": {
          "description": "Face landmark position.",
          "$ref": "Position"
        }
      },
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult": {
      "description": "Information about the products similar to a single product in a query image.",
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult",
      "type": "object",
      "properties": {
        "objectAnnotations": {
          "description": "List of generic predictions for the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsObjectAnnotation"
          }
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult"
          },
          "description": "List of results, one for each product match."
        },
        "boundingPoly": {
          "description": "The bounding polygon around the product detected in the query image.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResults": {
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResults",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of results, one for each product match.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult"
          }
        },
        "indexTime": {
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime",
          "type": "string"
        },
        "productGroupedResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult": {
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsGroupedResult",
      "type": "object",
      "properties": {
        "objectAnnotations": {
          "description": "List of generic predictions for the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation"
          }
        },
        "results": {
          "description": "List of results, one for each product match.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResultsResult"
          }
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding polygon around the product detected in the query image."
        }
      },
      "description": "Information about the products similar to a single product in a query image."
    },
    "GoogleCloudVisionV1p3beta1BatchOperationMetadata": {
      "description": "Metadata for the batch operations such as the current state. This is included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVisionV1p3beta1BatchOperationMetadata",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "SUCCESSFUL",
            "FAILED",
            "CANCELLED"
          ],
          "description": "The current state of the batch operation.",
          "enumDescriptions": [
            "Invalid.",
            "Request is actively being processed.",
            "The request is done and at least one item has been successfully processed.",
            "The request is done and no item has been successfully processed.",
            "The request is done after the longrunning.Operations.CancelOperation has been called by the user. Any records that were processed before the cancel command are output as specified in the request."
          ],
          "type": "string"
        },
        "submitTime": {
          "description": "The time when the batch request was submitted to the server.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "The time when the batch request is finished and google.longrunning.Operation.done is set to true.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ImportProductSetsResponse": {
      "id": "ImportProductSetsResponse",
      "type": "object",
      "properties": {
        "referenceImages": {
          "type": "array",
          "items": {
            "$ref": "ReferenceImage"
          },
          "description": "The list of reference_images that are imported successfully."
        },
        "statuses": {
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field."
    },
    "GoogleCloudVisionV1p2beta1EntityAnnotation": {
      "description": "Set of detected entity features.",
      "id": "GoogleCloudVisionV1p2beta1EntityAnnotation",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float"
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "description": {
          "description": "Entity textual description, expressed in its `locale` language.",
          "type": "string"
        },
        "confidence": {
          "deprecated": true,
          "type": "number",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "topicality": {
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "locations": {
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1LocationInfo"
          }
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1Property"
          }
        }
      }
    },
    "SafeSearchAnnotation": {
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "id": "SafeSearchAnnotation",
      "type": "object",
      "properties": {
        "violence": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "racy": {
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "adult": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "spoof": {
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ColorInfo": {
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "id": "GoogleCloudVisionV1p1beta1ColorInfo",
      "type": "object",
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "score": {
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Property": {
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "id": "GoogleCloudVisionV1p4beta1Property",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the property.",
          "type": "string"
        },
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        },
        "name": {
          "description": "Name of the property.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1Page": {
      "id": "GoogleCloudVisionV1p3beta1Page",
      "type": "object",
      "properties": {
        "height": {
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32",
          "type": "integer"
        },
        "property": {
          "description": "Additional information detected on the page.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
        },
        "blocks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Block"
          },
          "description": "List of blocks of text, images etc on this page."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "format": "float"
        },
        "width": {
          "type": "integer",
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        }
      },
      "description": "Detected page from OCR."
    },
    "GoogleCloudVisionV1p2beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "id": "GoogleCloudVisionV1p2beta1AnnotateImageResponse",
      "type": "object",
      "properties": {
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully."
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1ImageProperties"
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p2beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "productSearchResults": {
          "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation"
          }
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1SafeSearchAnnotation"
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "logoAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "description": "If present, logo detection has completed successfully."
        },
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "cropHintsAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1Block": {
      "description": "Logical element on the page.",
      "id": "GoogleCloudVisionV1p3beta1Block",
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "format": "float"
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Paragraph"
          }
        },
        "blockType": {
          "type": "string",
          "description": "Detected block type (text, image etc) for this block.",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ]
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest": {
      "id": "GoogleCloudVisionV1p1beta1AsyncBatchAnnotateImagesRequest",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "Required. The desired output location and metadata (e.g. format).",
          "$ref": "GoogleCloudVisionV1p1beta1OutputConfig"
        },
        "parent": {
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        },
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1AnnotateImageRequest"
          },
          "description": "Required. Individual image annotation requests for this batch."
        }
      },
      "description": "Request for async image annotation for a list of images."
    },
    "ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "id": "ImageAnnotationContext",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        },
        "pageNumber": {
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation": {
      "id": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation",
      "type": "object",
      "properties": {
        "boundingPoly": {
          "description": "Image region to which this object belongs. This must be populated.",
          "$ref": "GoogleCloudVisionV1p2beta1BoundingPoly"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "score": {
          "type": "number",
          "description": "Score of the result. Range [0, 1].",
          "format": "float"
        },
        "name": {
          "description": "Object name, expressed in its `language_code` language.",
          "type": "string"
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        }
      },
      "description": "Set of detected objects with bounding boxes."
    },
    "GoogleCloudVisionV1p3beta1NormalizedVertex": {
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "id": "GoogleCloudVisionV1p3beta1NormalizedVertex",
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1WebDetection": {
      "id": "GoogleCloudVisionV1p3beta1WebDetection",
      "type": "object",
      "properties": {
        "bestGuessLabels": {
          "description": "The service's best guess as to the topic of the request image. Inferred from similar images on the open web.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebLabel"
          }
        },
        "fullMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "Fully matching images from the Internet. Can include resized copies of the query image."
        },
        "webEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebEntity"
          },
          "description": "Deduced entities from similar images on the Internet."
        },
        "pagesWithMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebPage"
          },
          "description": "Web pages containing the matching images from the Internet."
        },
        "visuallySimilarImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "The visually similar image results."
        },
        "partialMatchingImages": {
          "description": "Partial matching images from the Internet. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          }
        }
      },
      "description": "Relevant information for the image from the Internet."
    },
    "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark": {
      "id": "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "description": "Face landmark type.",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "type": "string"
        },
        "position": {
          "description": "Face landmark position.",
          "$ref": "GoogleCloudVisionV1p2beta1Position"
        }
      },
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
    },
    "LocationInfo": {
      "id": "LocationInfo",
      "type": "object",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      },
      "description": "Detected entity location information."
    },
    "GoogleCloudVisionV1p1beta1Image": {
      "description": "Client image to perform Google Cloud Vision API tasks over.",
      "id": "GoogleCloudVisionV1p1beta1Image",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests.",
          "format": "byte"
        },
        "source": {
          "description": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageSource"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "id": "GoogleCloudVisionV1p3beta1BoundingPoly",
      "type": "object",
      "properties": {
        "vertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Vertex"
          },
          "description": "The bounding polygon vertices."
        },
        "normalizedVertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ImportProductSetsResponse": {
      "id": "GoogleCloudVisionV1p4beta1ImportProductSetsResponse",
      "type": "object",
      "properties": {
        "referenceImages": {
          "description": "The list of reference_images that are imported successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ReferenceImage"
          }
        },
        "statuses": {
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        }
      },
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field."
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebLabel": {
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebLabel",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Label for extra metadata."
        }
      },
      "description": "Label to provide extra metadata for the web detection."
    },
    "GoogleCloudVisionV1p1beta1Block": {
      "description": "Logical element on the page.",
      "id": "GoogleCloudVisionV1p1beta1Block",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the block."
        },
        "boundingBox": {
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "confidence": {
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Paragraph"
          }
        },
        "blockType": {
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "type": "string",
          "description": "Detected block type (text, image etc) for this block.",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ]
        }
      }
    },
    "GoogleCloudVisionV1p4beta1NormalizedVertex": {
      "id": "GoogleCloudVisionV1p4beta1NormalizedVertex",
      "type": "object",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1."
    },
    "GoogleCloudVisionV1p2beta1LocationInfo": {
      "description": "Detected entity location information.",
      "id": "GoogleCloudVisionV1p2beta1LocationInfo",
      "type": "object",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage": {
      "id": "GoogleCloudVisionV1p2beta1TextAnnotationDetectedLanguage",
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float"
        }
      },
      "description": "Detected language for a structural component."
    },
    "GoogleCloudVisionV1p1beta1ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "id": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of the file used to produce the image.",
          "type": "string"
        },
        "pageNumber": {
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1Position": {
      "id": "GoogleCloudVisionV1p1beta1Position",
      "type": "object",
      "properties": {
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        },
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "z": {
          "type": "number",
          "description": "Z coordinate (or depth).",
          "format": "float"
        }
      },
      "description": "A 3D position in the image, used primarily for Face detection landmarks. A valid Position must have both x and y coordinates. The position coordinates are in the same scale as the original image."
    },
    "GoogleCloudVisionV1p3beta1Property": {
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "id": "GoogleCloudVisionV1p3beta1Property",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the property.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the property."
        },
        "uint64Value": {
          "description": "Value of numeric properties.",
          "format": "uint64",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Symbol": {
      "description": "A single symbol representation.",
      "id": "GoogleCloudVisionV1p4beta1Symbol",
      "type": "object",
      "properties": {
        "property": {
          "description": "Additional information detected for the symbol.",
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty"
        },
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        },
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1SafeSearchAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1SafeSearchAnnotation",
      "type": "object",
      "properties": {
        "violence": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ]
        },
        "racy": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "medical": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that this is a medical image.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "spoof": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        },
        "adult": {
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities.",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "type": "string"
        }
      },
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence)."
    },
    "GoogleCloudVisionV1p3beta1ImageAnnotationContext": {
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "id": "GoogleCloudVisionV1p3beta1ImageAnnotationContext",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1InputConfig": {
      "description": "The desired input location and metadata.",
      "id": "GoogleCloudVisionV1p4beta1InputConfig",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GoogleCloudVisionV1p4beta1GcsSource"
        },
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResults": {
      "description": "Results for a product search request.",
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResults",
      "type": "object",
      "properties": {
        "results": {
          "description": "List of results, one for each product match.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsResult"
          }
        },
        "indexTime": {
          "type": "string",
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime"
        },
        "productGroupedResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ProductSearchResultsGroupedResult"
          },
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "description": "Additional information detected on the structural component.",
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "description": "A list of detected languages together with confidence.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
          }
        },
        "detectedBreak": {
          "description": "Detected start or end of a text segment.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "id": "GoogleCloudVisionV1p1beta1AnnotateImageResponse",
      "type": "object",
      "properties": {
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotation"
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          }
        },
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          }
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1CropHintsAnnotation"
        },
        "labelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "description": "If present, label detection has completed successfully."
        },
        "localizedObjectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1LocalizedObjectAnnotation"
          },
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score."
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1SafeSearchAnnotation"
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1ProductSearchResults"
        },
        "webDetection": {
          "description": "If present, web detection has completed successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1WebDetection"
        },
        "faceAnnotations": {
          "description": "If present, face detection has completed successfully.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1FaceAnnotation"
          }
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully."
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p1beta1ImageProperties"
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ImageProperties": {
      "id": "GoogleCloudVisionV1p1beta1ImageProperties",
      "type": "object",
      "properties": {
        "dominantColors": {
          "$ref": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
          "description": "If present, dominant colors completed successfully."
        }
      },
      "description": "Stores image properties, such as dominant colors."
    },
    "GoogleCloudVisionV1p1beta1Paragraph": {
[...]
