{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "revision": "20260810",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "name": "vision",
  "protocol": "rest",
  "version": "v1p2beta1",
  "title": "Cloud Vision API",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "basePath": "",
  "batchPath": "batch",
  "resources": {
    "files": {
      "methods": {
        "annotate": {
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "path": "v1p2beta1/files:annotate",
          "flatPath": "v1p2beta1/files:annotate",
          "id": "vision.files.annotate",
          "response": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "asyncBatchAnnotate": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
          },
          "path": "v1p2beta1/files:asyncBatchAnnotate",
          "flatPath": "v1p2beta1/files:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "response": {
            "$ref": "Operation"
          },
          "id": "vision.files.asyncBatchAnnotate",
          "parameters": {},
          "parameterOrder": []
        }
      }
    },
    "images": {
      "methods": {
        "annotate": {
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run image detection and annotation for a batch of images.",
          "path": "v1p2beta1/images:annotate",
          "flatPath": "v1p2beta1/images:annotate",
          "id": "vision.images.annotate",
          "response": {
            "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
          },
          "parameters": {},
          "parameterOrder": []
        },
        "asyncBatchAnnotate": {
          "parameters": {},
          "parameterOrder": [],
          "id": "vision.images.asyncBatchAnnotate",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "path": "v1p2beta1/images:asyncBatchAnnotate",
          "flatPath": "v1p2beta1/images:asyncBatchAnnotate",
          "request": {
            "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
          },
          "httpMethod": "POST"
        }
      }
    },
    "projects": {
      "resources": {
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "path": "v1p2beta1/{+parent}/files:asyncBatchAnnotate",
              "flatPath": "v1p2beta1/projects/{projectsId}/files:asyncBatchAnnotate",
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "vision.projects.files.asyncBatchAnnotate",
              "response": {
                "$ref": "Operation"
              }
            },
            "annotate": {
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "path": "v1p2beta1/{+parent}/files:annotate",
              "flatPath": "v1p2beta1/projects/{projectsId}/files:annotate",
              "id": "vision.projects.files.annotate",
              "response": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "images": {
          "methods": {
            "asyncBatchAnnotate": {
              "id": "vision.projects.images.asyncBatchAnnotate",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "path": "v1p2beta1/{+parent}/images:asyncBatchAnnotate",
              "flatPath": "v1p2beta1/projects/{projectsId}/images:asyncBatchAnnotate"
            },
            "annotate": {
              "response": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
              },
              "id": "vision.projects.images.annotate",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
              },
              "path": "v1p2beta1/{+parent}/images:annotate",
              "flatPath": "v1p2beta1/projects/{projectsId}/images:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "description": "Run image detection and annotation for a batch of images."
            }
          }
        },
        "locations": {
          "resources": {
            "images": {
              "methods": {
                "asyncBatchAnnotate": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "path": "v1p2beta1/{+parent}/images:asyncBatchAnnotate",
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateImagesRequest"
                  },
                  "httpMethod": "POST"
                },
                "annotate": {
                  "response": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesResponse"
                  },
                  "id": "vision.projects.locations.images.annotate",
                  "parameters": {
                    "parent": {
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest"
                  },
                  "path": "v1p2beta1/{+parent}/images:annotate",
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Run image detection and annotation for a batch of images."
                }
              }
            },
            "files": {
              "methods": {
                "asyncBatchAnnotate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1AsyncBatchAnnotateFilesRequest"
                  },
                  "path": "v1p2beta1/{+parent}/files:asyncBatchAnnotate",
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "annotate": {
                  "path": "v1p2beta1/{+parent}/files:annotate",
                  "flatPath": "v1p2beta1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesRequest"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudVisionV1p2beta1BatchAnnotateFilesResponse"
                  },
                  "id": "vision.projects.locations.files.annotate"
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "vision:v1p2beta1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://vision.googleapis.com/",
  "baseUrl": "https://vision.googleapis.com/",
  "canonicalName": "Vision",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/vision/",
  "schemas": {
    "AnnotateImageResponse": {
      "type": "object",
      "properties": {
        "faceAnnotations": {
          "description": "If present, face detection has completed successfully.",
          "items": {
            "$ref": "FaceAnnotation"
          },
          "type": "array"
        },
        "logoAnnotations": {
          "type": "array",
          "items": {
            "$ref": "EntityAnnotation"
          },
          "description": "If present, logo detection has completed successfully."
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          },
          "type": "array"
        },
        "cropHintsAnnotation": {
          "$ref": "CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "webDetection": {
          "$ref": "WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "productSearchResults": {
          "$ref": "ProductSearchResults",
          "description": "If present, product search has completed successfully."
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "safeSearchAnnotation": {
          "$ref": "SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "localizedObjectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "LocalizedObjectAnnotation"
          },
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score."
        },
        "textAnnotations": {
          "items": {
            "$ref": "EntityAnnotation"
          },
          "description": "If present, text (OCR) detection has completed successfully.",
          "type": "array"
        },
        "context": {
          "$ref": "ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "landmarkAnnotations": {
          "type": "array",
          "description": "If present, landmark detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "imagePropertiesAnnotation": {
          "$ref": "ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "fullTextAnnotation": {
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text.",
          "$ref": "TextAnnotation"
        }
      },
      "id": "AnnotateImageResponse",
      "description": "Response to an image annotation request."
    },
    "ColorInfo": {
      "id": "ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image.",
      "properties": {
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "color": {
          "description": "RGB components of the color.",
          "$ref": "Color"
        },
        "score": {
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebImage": {
      "properties": {
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float"
        },
        "url": {
          "description": "The result image URL.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebImage",
      "description": "Metadata for online images."
    },
    "ProductSearchResults": {
      "properties": {
        "productGroupedResults": {
          "type": "array",
          "description": "List of results grouped by products detected in the query image. Each entry corresponds to one bounding polygon in the query image, and contains the matching products specific to that region. There may be duplicate product matches in the union of all the per-product results.",
          "items": {
            "$ref": "GroupedResult"
          }
        },
        "indexTime": {
          "description": "Timestamp of the index which provided these results. Products added to the product set and products removed from the product set after this time are not reflected in the current results.",
          "format": "google-datetime",
          "type": "string"
        },
        "results": {
          "description": "List of results, one for each product match.",
          "items": {
            "$ref": "Result"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ProductSearchResults",
      "description": "Results for a product search request."
    },
    "GoogleCloudVisionV1p1beta1Symbol": {
      "type": "object",
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1Symbol",
      "description": "A single symbol representation."
    },
    "ImageAnnotationContext": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32"
        }
      },
      "id": "ImageAnnotationContext",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image."
    },
    "GoogleCloudVisionV1p4beta1EntityAnnotation": {
      "properties": {
        "score": {
          "type": "number",
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "confidence": {
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float",
          "deprecated": true,
          "type": "number"
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly"
        },
        "topicality": {
          "type": "number",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float"
        },
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Property"
          },
          "type": "array"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "type": "array"
        },
        "description": {
          "description": "Entity textual description, expressed in its `locale` language.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1EntityAnnotation",
      "description": "Set of detected entity features."
    },
    "GoogleCloudVisionV1p1beta1Block": {
      "id": "GoogleCloudVisionV1p1beta1Block",
      "description": "Logical element on the page.",
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "format": "float"
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Paragraph"
          },
          "type": "array"
        },
        "blockType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "description": "Detected block type (text, image etc) for this block."
        },
        "property": {
          "description": "Additional information detected for the block.",
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty"
        }
      },
      "type": "object"
    },
    "WebEntity": {
      "properties": {
        "description": {
          "description": "Canonical description of the entity, in English.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID.",
          "type": "string"
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "WebEntity",
      "description": "Entity deduced from similar images on the Internet."
    },
    "GoogleCloudVisionV1p1beta1DominantColorsAnnotation": {
      "properties": {
        "colors": {
          "description": "RGB color values with their score and pixel fraction.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1ColorInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1DominantColorsAnnotation",
      "description": "Set of dominant colors and their corresponding scores."
    },
    "GoogleCloudVisionV1p4beta1Block": {
      "id": "GoogleCloudVisionV1p4beta1Block",
      "description": "Logical element on the page.",
      "type": "object",
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the block."
        },
        "paragraphs": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Paragraph"
          },
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "type": "array"
        },
        "blockType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "description": "Detected block type (text, image etc) for this block."
        },
        "confidence": {
          "description": "Confidence of the OCR results on the block. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ColorInfo": {
      "properties": {
        "color": {
          "$ref": "Color",
          "description": "RGB components of the color."
        },
        "score": {
          "type": "number",
          "description": "Image-specific score for this color. Value in range [0, 1].",
          "format": "float"
        },
        "pixelFraction": {
          "description": "The fraction of pixels the color occupies in the image. Value in range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1ColorInfo",
      "description": "Color information consists of RGB channels, score, and the fraction of the image that the color occupies in the image."
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty": {
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "properties": {
        "detectedBreak": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
          "description": "Detected start or end of a text segment."
        },
        "detectedLanguages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedLanguage"
          },
          "description": "A list of detected languages together with confidence."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1GcsSource": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1GcsSource",
      "description": "The Google Cloud Storage location where the input will be read from."
    },
    "GoogleCloudVisionV1p4beta1SafeSearchAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1SafeSearchAnnotation",
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "type": "object",
      "properties": {
        "racy": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas."
        },
        "violence": {
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "description": "Likelihood that this is a medical image.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "adult": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities."
        },
        "spoof": {
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVisionV1p3beta1ProductSearchResultsResult": {
      "type": "object",
      "properties": {
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        },
        "product": {
          "$ref": "GoogleCloudVisionV1p3beta1Product",
          "description": "The Product."
        },
        "score": {
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1ProductSearchResultsResult",
      "description": "Information about a product."
    },
    "WebImage": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float"
        },
        "url": {
          "description": "The result image URL.",
          "type": "string"
        }
      },
      "id": "WebImage",
      "description": "Metadata for online images."
    },
    "GoogleCloudVisionV1p3beta1Symbol": {
      "id": "GoogleCloudVisionV1p3beta1Symbol",
      "description": "A single symbol representation.",
      "type": "object",
      "properties": {
        "boundingBox": {
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "text": {
          "type": "string",
          "description": "The actual UTF-8 representation of the symbol."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "format": "float"
        }
      }
    },
    "WebLabel": {
      "id": "WebLabel",
      "description": "Label to provide extra metadata for the web detection.",
      "properties": {
        "label": {
          "type": "string",
          "description": "Label for extra metadata."
        },
        "languageCode": {
          "description": "The BCP-47 language code for `label`, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebPage": {
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the web page.",
          "format": "float"
        },
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "partialMatchingImages": {
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "url": {
          "type": "string",
          "description": "The result web page URL."
        },
        "fullMatchingImages": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "description": "Fully matching images on the page. Can include resized copies of the query image."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebPage",
      "description": "Metadata for web pages."
    },
    "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation",
      "description": "Set of detected objects with bounding boxes.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "boundingPoly": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "Image region to which this object belongs. This must be populated."
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1AnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p2beta1AnnotateFileResponse",
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "type": "object",
      "properties": {
        "error": {
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case.",
          "$ref": "Status"
        },
        "responses": {
          "type": "array",
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageResponse"
          }
        },
        "inputConfig": {
          "description": "Information about the file for which this response is generated.",
          "$ref": "GoogleCloudVisionV1p2beta1InputConfig"
        },
        "totalPages": {
          "type": "integer",
          "description": "This field gives the total number of pages in the file.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebImage": {
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebImage",
      "description": "Metadata for online images.",
      "type": "object",
      "properties": {
        "score": {
          "type": "number",
          "description": "(Deprecated) Overall relevancy score for the image.",
          "format": "float"
        },
        "url": {
          "description": "The result image URL.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1LocationInfo": {
      "type": "object",
      "properties": {
        "latLng": {
          "$ref": "LatLng",
          "description": "lat/long location coordinates."
        }
      },
      "id": "GoogleCloudVisionV1p2beta1LocationInfo",
      "description": "Detected entity location information."
    },
    "GoogleCloudVisionV1p2beta1InputConfig": {
      "id": "GoogleCloudVisionV1p2beta1InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GoogleCloudVisionV1p2beta1GcsSource"
        },
        "mimeType": {
          "type": "string",
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
        },
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "requests": {
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1AnnotateImageRequest"
          },
          "description": "Required. Individual image annotation requests for this batch.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1BatchAnnotateImagesRequest",
      "description": "Multiple image annotation requests are batched into a single service call."
    },
    "AsyncAnnotateFileResponse": {
      "id": "AsyncAnnotateFileResponse",
      "description": "The response for a single offline file annotation request.",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "The output location and metadata from AsyncAnnotateFileRequest.",
          "$ref": "OutputConfig"
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ImageAnnotationContext": {
      "id": "GoogleCloudVisionV1p1beta1ImageAnnotationContext",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "type": "integer",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark": {
      "properties": {
        "position": {
          "$ref": "GoogleCloudVisionV1p2beta1Position",
          "description": "Face landmark position."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown face landmark detected. Should not be filled.",
            "Left eye.",
            "Right eye.",
            "Left of left eyebrow.",
            "Right of left eyebrow.",
            "Left of right eyebrow.",
            "Right of right eyebrow.",
            "Midpoint between eyes.",
            "Nose tip.",
            "Upper lip.",
            "Lower lip.",
            "Mouth left.",
            "Mouth right.",
            "Mouth center.",
            "Nose, bottom right.",
            "Nose, bottom left.",
            "Nose, bottom center.",
            "Left eye, top boundary.",
            "Left eye, right corner.",
            "Left eye, bottom boundary.",
            "Left eye, left corner.",
            "Right eye, top boundary.",
            "Right eye, right corner.",
            "Right eye, bottom boundary.",
            "Right eye, left corner.",
            "Left eyebrow, upper midpoint.",
            "Right eyebrow, upper midpoint.",
            "Left ear tragion.",
            "Right ear tragion.",
            "Left eye pupil.",
            "Right eye pupil.",
            "Forehead glabella.",
            "Chin gnathion.",
            "Chin left gonion.",
            "Chin right gonion.",
            "Left cheek center.",
            "Right cheek center."
          ],
          "enum": [
            "UNKNOWN_LANDMARK",
            "LEFT_EYE",
            "RIGHT_EYE",
            "LEFT_OF_LEFT_EYEBROW",
            "RIGHT_OF_LEFT_EYEBROW",
            "LEFT_OF_RIGHT_EYEBROW",
            "RIGHT_OF_RIGHT_EYEBROW",
            "MIDPOINT_BETWEEN_EYES",
            "NOSE_TIP",
            "UPPER_LIP",
            "LOWER_LIP",
            "MOUTH_LEFT",
            "MOUTH_RIGHT",
            "MOUTH_CENTER",
            "NOSE_BOTTOM_RIGHT",
            "NOSE_BOTTOM_LEFT",
            "NOSE_BOTTOM_CENTER",
            "LEFT_EYE_TOP_BOUNDARY",
            "LEFT_EYE_RIGHT_CORNER",
            "LEFT_EYE_BOTTOM_BOUNDARY",
            "LEFT_EYE_LEFT_CORNER",
            "RIGHT_EYE_TOP_BOUNDARY",
            "RIGHT_EYE_RIGHT_CORNER",
            "RIGHT_EYE_BOTTOM_BOUNDARY",
            "RIGHT_EYE_LEFT_CORNER",
            "LEFT_EYEBROW_UPPER_MIDPOINT",
            "RIGHT_EYEBROW_UPPER_MIDPOINT",
            "LEFT_EAR_TRAGION",
            "RIGHT_EAR_TRAGION",
            "LEFT_EYE_PUPIL",
            "RIGHT_EYE_PUPIL",
            "FOREHEAD_GLABELLA",
            "CHIN_GNATHION",
            "CHIN_LEFT_GONION",
            "CHIN_RIGHT_GONION",
            "LEFT_CHEEK_CENTER",
            "RIGHT_CHEEK_CENTER"
          ],
          "description": "Face landmark type."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1FaceAnnotationLandmark",
      "description": "A face-specific landmark (for example, a face feature). Landmark positions may fall outside the bounds of the image if the face is near one or more edges of the image. Therefore it is NOT guaranteed that `0 <= x < width` or `0 <= y < height`."
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation": {
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResultsObjectAnnotation",
      "description": "Prediction for what the object in the bounding box is.",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "string"
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "Object name, expressed in its `language_code` language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Paragraph": {
      "type": "object",
      "properties": {
        "property": {
          "$ref": "TextProperty",
          "description": "Additional information detected for the paragraph."
        },
        "words": {
          "type": "array",
          "items": {
            "$ref": "Word"
          },
          "description": "List of all words in this paragraph."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float"
        },
        "boundingBox": {
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3).",
          "$ref": "BoundingPoly"
        }
      },
      "id": "Paragraph",
      "description": "Structural unit of text representing a number of words in certain order."
    },
    "BoundingPoly": {
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "Vertex"
          },
          "description": "The bounding polygon vertices.",
          "type": "array"
        },
        "normalizedVertices": {
          "items": {
            "$ref": "NormalizedVertex"
          },
          "description": "The bounding polygon normalized vertices.",
          "type": "array"
        }
      },
      "id": "BoundingPoly",
      "description": "A bounding polygon for the detected image annotation."
    },
    "GoogleCloudVisionV1p3beta1EntityAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1EntityAnnotation",
      "description": "Set of detected entity features.",
      "type": "object",
      "properties": {
        "topicality": {
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocationInfo"
          },
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "type": "array"
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Property"
          },
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity."
        },
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "score": {
          "description": "Overall score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "deprecated": true,
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "format": "float"
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        }
      }
    },
    "GoogleCloudVisionV1p2beta1Image": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Image content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateImages requests. It does not work for AsyncBatchAnnotateImages requests.",
          "format": "byte",
          "type": "string"
        },
        "source": {
          "description": "Google Cloud Storage image location, or publicly-accessible image URL. If both `content` and `source` are provided for an image, `content` takes precedence and is used to perform the image annotation request.",
          "$ref": "GoogleCloudVisionV1p2beta1ImageSource"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Image",
      "description": "Client image to perform Google Cloud Vision API tasks over."
    },
    "GoogleCloudVisionV1p4beta1InputConfig": {
      "id": "GoogleCloudVisionV1p4beta1InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte"
        },
        "gcsSource": {
          "description": "The Google Cloud Storage location to read the input from.",
          "$ref": "GoogleCloudVisionV1p4beta1GcsSource"
        },
        "mimeType": {
          "type": "string",
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Object name, expressed in its `language_code` language."
        },
        "mid": {
          "description": "Object ID that should align with EntityAnnotation mid.",
          "type": "string"
        },
        "score": {
          "description": "Score of the result. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p1beta1ProductSearchResultsObjectAnnotation",
      "description": "Prediction for what the object in the bounding box is."
    },
    "GoogleCloudVisionV1p3beta1LocationInfo": {
      "id": "GoogleCloudVisionV1p3beta1LocationInfo",
      "description": "Detected entity location information.",
      "type": "object",
      "properties": {
        "latLng": {
          "description": "lat/long location coordinates.",
          "$ref": "LatLng"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1Paragraph": {
      "properties": {
        "property": {
          "$ref": "GoogleCloudVisionV1p4beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the paragraph."
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Word"
          },
          "description": "List of all words in this paragraph.",
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float"
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p4beta1BoundingPoly",
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Paragraph",
      "description": "Structural unit of text representing a number of words in certain order."
    },
    "GoogleCloudVisionV1p1beta1Paragraph": {
      "id": "GoogleCloudVisionV1p1beta1Paragraph",
      "description": "Structural unit of text representing a number of words in certain order.",
      "properties": {
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly",
          "description": "The bounding box for the paragraph. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p1beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the paragraph."
        },
        "words": {
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Word"
          },
          "description": "List of all words in this paragraph.",
          "type": "array"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of the OCR results for the paragraph. Range [0, 1].",
          "format": "float"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1AnnotateImageResponse": {
      "type": "object",
      "properties": {
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1FaceAnnotation"
          },
          "description": "If present, face detection has completed successfully.",
          "type": "array"
        },
        "logoAnnotations": {
          "type": "array",
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "labelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "description": "If present, label detection has completed successfully.",
          "type": "array"
        },
        "cropHintsAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "webDetection": {
          "description": "If present, web detection has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1WebDetection"
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1ProductSearchResults"
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "safeSearchAnnotation": {
          "description": "If present, safe-search annotation has completed successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1SafeSearchAnnotation"
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocalizedObjectAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "type": "array",
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          }
        },
        "context": {
          "description": "If present, contextual information is needed to understand where this image comes from.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageAnnotationContext"
        },
        "landmarkAnnotations": {
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1EntityAnnotation"
          },
          "description": "If present, landmark detection has completed successfully.",
          "type": "array"
        },
        "imagePropertiesAnnotation": {
          "description": "If present, image properties were extracted successfully.",
          "$ref": "GoogleCloudVisionV1p3beta1ImageProperties"
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        }
      },
      "id": "GoogleCloudVisionV1p3beta1AnnotateImageResponse",
      "description": "Response to an image annotation request."
    },
    "Color": {
      "id": "Color",
      "description": "Represents a color in the RGBA color space. This representation is designed for simplicity of conversion to and from color representations in various languages over compactness. For example, the fields of this representation can be trivially provided to the constructor of `java.awt.Color` in Java; it can also be trivially provided to UIColor's `+colorWithRed:green:blue:alpha` method in iOS; and, with just a little work, it can be easily formatted into a CSS `rgba()` string in JavaScript. This reference page doesn't have information about the absolute color space that should be used to interpret the RGB value—for example, sRGB, Adobe RGB, DCI-P3, and BT.2020. By default, applications should assume the sRGB color space. When color equality needs to be decided, implementations, unless documented otherwise, treat two colors as equal if all their red, green, blue, and alpha values each differ by at most `1e-5`. Example (Java): import com.google.type.Color; // ... public static java.awt.Color fromProto(Color protocolor) { float alpha = protocolor.hasAlpha() ? protocolor.getAlpha().getValue() : 1.0; return new java.awt.Color( protocolor.getRed(), protocolor.getGreen(), protocolor.getBlue(), alpha); } public static Color toProto(java.awt.Color color) { float red = (float) color.getRed(); float green = (float) color.getGreen(); float blue = (float) color.getBlue(); float denominator = 255.0; Color.Builder resultBuilder = Color .newBuilder() .setRed(red / denominator) .setGreen(green / denominator) .setBlue(blue / denominator); int alpha = color.getAlpha(); if (alpha != 255) { result.setAlpha( FloatValue .newBuilder() .setValue(((float) alpha) / denominator) .build()); } return resultBuilder.build(); } // ... Example (iOS / Obj-C): // ... static UIColor* fromProto(Color* protocolor) { float red = [protocolor red]; float green = [protocolor green]; float blue = [protocolor blue]; FloatValue* alpha_wrapper = [protocolor alpha]; float alpha = 1.0; if (alpha_wrapper != nil) { alpha = [alpha_wrapper value]; } return [UIColor colorWithRed:red green:green blue:blue alpha:alpha]; } static Color* toProto(UIColor* color) { CGFloat red, green, blue, alpha; if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) { return nil; } Color* result = [[Color alloc] init]; [result setRed:red]; [result setGreen:green]; [result setBlue:blue]; if (alpha <= 0.9999) { [result setAlpha:floatWrapperWithValue(alpha)]; } [result autorelease]; return result; } // ... Example (JavaScript): // ... var protoToCssColor = function(rgb_color) { var redFrac = rgb_color.red || 0.0; var greenFrac = rgb_color.green || 0.0; var blueFrac = rgb_color.blue || 0.0; var red = Math.floor(redFrac * 255); var green = Math.floor(greenFrac * 255); var blue = Math.floor(blueFrac * 255); if (!('alpha' in rgb_color)) { return rgbToCssColor(red, green, blue); } var alphaFrac = rgb_color.alpha.value || 0.0; var rgbParams = [red, green, blue].join(','); return ['rgba(', rgbParams, ',', alphaFrac, ')'].join(''); }; var rgbToCssColor = function(red, green, blue) { var rgbNumber = new Number((red << 16) | (green << 8) | blue); var hexString = rgbNumber.toString(16); var missingZeros = 6 - hexString.length; var resultBuilder = ['#']; for (var i = 0; i < missingZeros; i++) { resultBuilder.push('0'); } resultBuilder.push(hexString); return resultBuilder.join(''); }; // ...",
      "properties": {
        "red": {
          "description": "The amount of red in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        },
        "alpha": {
          "description": "The fraction of this color that should be applied to the pixel. That is, the final pixel color is defined by the equation: `pixel color = alpha * (this color) + (1.0 - alpha) * (background color)` This means that a value of 1.0 corresponds to a solid color, whereas a value of 0.0 corresponds to a completely transparent color. This uses a wrapper message rather than a simple float scalar so that it is possible to distinguish between a default value and the value being unset. If omitted, this color object is rendered as a solid color (as if the alpha value had been explicitly given a value of 1.0).",
          "format": "float",
          "type": "number"
        },
        "green": {
          "type": "number",
          "description": "The amount of green in the color as a value in the interval [0, 1].",
          "format": "float"
        },
        "blue": {
          "description": "The amount of blue in the color as a value in the interval [0, 1].",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1InputConfig": {
      "id": "GoogleCloudVisionV1p1beta1InputConfig",
      "description": "The desired input location and metadata.",
      "type": "object",
      "properties": {
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GoogleCloudVisionV1p1beta1GcsSource",
          "description": "The Google Cloud Storage location to read the input from."
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1InputConfig": {
      "id": "GoogleCloudVisionV1p3beta1InputConfig",
      "description": "The desired input location and metadata.",
      "properties": {
        "content": {
          "description": "File content, represented as a stream of bytes. Note: As with all `bytes` fields, protobuffers use a pure binary representation, whereas JSON representations use base64. Currently, this field only works for BatchAnnotateFiles requests. It does not work for AsyncBatchAnnotateFiles requests.",
          "format": "byte",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GoogleCloudVisionV1p3beta1GcsSource",
          "description": "The Google Cloud Storage location to read the input from."
        },
        "mimeType": {
          "description": "The type of the file. Currently only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. Wildcards are not supported.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TextProperty": {
      "id": "TextProperty",
      "description": "Additional information detected on the structural component.",
      "type": "object",
      "properties": {
        "detectedLanguages": {
          "type": "array",
          "description": "A list of detected languages together with confidence.",
          "items": {
            "$ref": "DetectedLanguage"
          }
        },
        "detectedBreak": {
          "$ref": "DetectedBreak",
          "description": "Detected start or end of a text segment."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1AnnotateFileResponse": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p4beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "totalPages": {
          "type": "integer",
          "description": "This field gives the total number of pages in the file.",
          "format": "int32"
        },
        "error": {
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case.",
          "$ref": "Status"
        },
        "responses": {
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AnnotateImageResponse"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1AnnotateFileResponse",
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses."
    },
    "GoogleCloudVisionV1p2beta1GcsDestination": {
      "id": "GoogleCloudVisionV1p2beta1GcsDestination",
      "description": "The Google Cloud Storage location where the output will be written to.",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1Page": {
      "type": "object",
      "properties": {
        "blocks": {
          "type": "array",
          "description": "List of blocks of text, images etc on this page.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Block"
          }
        },
        "property": {
          "description": "Additional information detected on the page.",
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty"
        },
        "confidence": {
          "description": "Confidence of the OCR results on the page. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "width": {
          "description": "Page width. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "Page height. For PDFs the unit is points. For images (including TIFFs) the unit is pixels.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Page",
      "description": "Detected page from OCR."
    },
    "GoogleCloudVisionV1p2beta1ProductKeyValue": {
      "id": "GoogleCloudVisionV1p2beta1ProductKeyValue",
      "description": "A product label represented as a key-value pair.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1CropHint": {
      "id": "GoogleCloudVisionV1p3beta1CropHint",
      "description": "Single crop hint that is used to generate a new crop when serving an image.",
      "type": "object",
      "properties": {
        "importanceFraction": {
          "description": "Fraction of importance of this salient region with respect to the original image.",
          "format": "float",
          "type": "number"
        },
        "boundingPoly": {
          "description": "The bounding polygon for the crop region. The coordinates of the bounding box are in the original image's scale.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "confidence": {
          "description": "Confidence of this being a salient region. Range [0, 1].",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudVisionV1p4beta1ImportProductSetsResponse": {
      "id": "GoogleCloudVisionV1p4beta1ImportProductSetsResponse",
      "description": "Response message for the `ImportProductSets` method. This message is returned by the google.longrunning.Operations.GetOperation method in the returned google.longrunning.Operation.response field.",
      "type": "object",
      "properties": {
        "referenceImages": {
          "type": "array",
          "description": "The list of reference_images that are imported successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1ReferenceImage"
          }
        },
        "statuses": {
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "The rpc status for each ImportProductSet request, including both successes and errors. The number of statuses here matches the number of lines in the csv file, and statuses[i] stores the success or failure status of processing the i-th line of the csv, starting from line 0."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage": {
      "type": "object",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see http://www.unicode.org/reports/tr35/#Unicode_locale_identifier."
        },
        "confidence": {
          "type": "number",
          "description": "Confidence of detected language. Range [0, 1].",
          "format": "float"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1TextAnnotationDetectedLanguage",
      "description": "Detected language for a structural component."
    },
    "GoogleCloudVisionV1p2beta1Feature": {
      "type": "object",
      "properties": {
        "maxResults": {
          "description": "Maximum number of results of this type. Does not apply to `TEXT_DETECTION`, `DOCUMENT_TEXT_DETECTION`, or `CROP_HINTS`.",
          "format": "int32",
          "type": "integer"
        },
        "model": {
          "type": "string",
          "description": "Model to use for the feature. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\". `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` also support \"builtin/rc\" for the latest release candidate."
        },
        "type": {
          "description": "The feature type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run face detection.",
            "Run landmark detection.",
            "Run logo detection.",
            "Run label detection.",
            "Run text detection / optical character recognition (OCR). Text detection is optimized for areas of text within a larger image; if the image is a document, use `DOCUMENT_TEXT_DETECTION` instead.",
            "Run dense text document OCR. Takes precedence when both `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` are present.",
            "Run Safe Search to detect potentially unsafe or undesirable content.",
            "Compute a set of image properties, such as the image's dominant colors.",
            "Run crop hints.",
            "Run web detection.",
            "Run Product Search.",
            "Run localizer for object detection."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FACE_DETECTION",
            "LANDMARK_DETECTION",
            "LOGO_DETECTION",
            "LABEL_DETECTION",
            "TEXT_DETECTION",
            "DOCUMENT_TEXT_DETECTION",
            "SAFE_SEARCH_DETECTION",
            "IMAGE_PROPERTIES",
            "CROP_HINTS",
            "WEB_DETECTION",
            "PRODUCT_SEARCH",
            "OBJECT_LOCALIZATION"
          ]
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Feature",
      "description": "The type of Google Cloud Vision API detection to perform, and the maximum number of results to return for that type. Multiple `Feature` objects can be specified in the `features` list."
    },
    "Result": {
      "properties": {
        "product": {
          "$ref": "Product",
          "description": "The Product."
        },
        "score": {
          "type": "number",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence).",
          "format": "float"
        },
        "image": {
          "description": "The resource name of the image from the product that is the closest match to the query.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Result",
      "description": "Information about a product."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Invalid.",
            "Request is received.",
            "Request is actively being processed.",
            "The batch processing is done.",
            "The batch processing was cancelled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATED",
            "RUNNING",
            "DONE",
            "CANCELLED"
          ],
          "description": "Current state of the batch operation."
        },
        "updateTime": {
          "description": "The time when the operation result was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the batch request was received.",
          "format": "google-datetime"
        }
      },
      "id": "OperationMetadata",
      "description": "Contains metadata for the BatchAnnotateImages operation."
    },
    "SafeSearchAnnotation": {
      "id": "SafeSearchAnnotation",
      "description": "Set of features pertaining to the image, computed by computer vision methods over safe-search verticals (for example, adult, spoof, medical, violence).",
      "type": "object",
      "properties": {
        "violence": {
          "description": "Likelihood that this image contains violent content. Violent content may include death, serious harm, or injury to individuals or groups of individuals.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "racy": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood that the request image contains racy content. Racy content may include (but is not limited to) skimpy or sheer clothing, strategically covered nudity, lewd or provocative poses, or close-ups of sensitive body areas."
        },
        "adult": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Represents the adult content likelihood for the image. Adult content may contain elements such as nudity, pornographic images or cartoons, or sexual activities."
        },
        "spoof": {
          "description": "Spoof likelihood. The likelihood that an modification was made to the image's canonical version to make it appear funny or offensive.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        },
        "medical": {
          "description": "Likelihood that this is a medical image.",
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
            "UNKNOWN",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ]
        }
      }
    },
    "GoogleCloudVisionV1p2beta1WebDetectionParams": {
      "properties": {
        "includeGeoResults": {
          "deprecated": true,
          "description": "This field has no effect on results.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p2beta1WebDetectionParams",
      "description": "Parameters for web detection request."
    },
    "GoogleCloudVisionV1p4beta1AsyncBatchAnnotateFilesResponse": {
      "id": "GoogleCloudVisionV1p4beta1AsyncBatchAnnotateFilesResponse",
      "description": "Response to an async batch file annotation request.",
      "properties": {
        "responses": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1AsyncAnnotateFileResponse"
          },
          "description": "The list of file annotation responses, one for each request in AsyncBatchAnnotateFilesRequest."
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1WebDetectionWebEntity": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1WebDetectionWebEntity",
      "description": "Entity deduced from similar images on the Internet."
    },
    "GoogleCloudVisionV1p4beta1Celebrity": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the preloaded Celebrity. Has the format `builtin/{mid}`."
        },
        "description": {
          "type": "string",
          "description": "The Celebrity's description."
        },
        "displayName": {
          "type": "string",
          "description": "The Celebrity's display name."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p4beta1Celebrity",
      "description": "A Celebrity is a group of Faces with an identity."
    },
    "GoogleCloudVisionV1p4beta1NormalizedVertex": {
      "id": "GoogleCloudVisionV1p4beta1NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "type": "number",
          "description": "X coordinate.",
          "format": "float"
        },
        "y": {
          "description": "Y coordinate.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ],
          "description": "Detected break type."
        },
        "isPrefix": {
          "type": "boolean",
          "description": "True if break prepends the element."
        }
      },
      "type": "object",
      "id": "GoogleCloudVisionV1p3beta1TextAnnotationDetectedBreak",
      "description": "Detected start or end of a structural component."
    },
    "FaceAnnotation": {
      "properties": {
        "detectionConfidence": {
          "description": "Detection confidence. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "headwearLikelihood": {
          "type": "string",
          "enumDescriptions": [
            "Unknown likelihood.",
            "It is very unlikely.",
            "It is unlikely.",
            "It is possible.",
            "It is likely.",
            "It is very likely."
          ],
          "enum": [
[...]
