{
  "basePath": "",
  "title": "VM Migration API",
  "ownerName": "Google",
  "servicePath": "",
  "id": "vmmigration:v1",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "VM Migration Service",
  "name": "vmmigration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "version": "v1",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "revision": "20260903",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "type": "object"
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationWarning": {
      "type": "object",
      "id": "MigrationWarning",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "warningMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized warning message."
        },
        "code": {
          "description": "The warning code.",
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ]
        },
        "warningTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the warning occurred."
        },
        "helpLinks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning."
        },
        "actionItem": {
          "readOnly": true,
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage"
        }
      }
    },
    "AwsSourceDiskDetails": {
      "properties": {
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        },
        "diskType": {
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags."
        },
        "sizeGib": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size in GiB."
        }
      },
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "description": "Represents the source AWS Disk details."
    },
    "ListReplicationCyclesResponse": {
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "replicationCycles": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of replication cycles response.",
          "items": {
            "$ref": "ReplicationCycle"
          }
        }
      },
      "type": "object",
      "id": "ListReplicationCyclesResponse",
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "VmwareSourceVmDetails": {
      "description": "Represent the source Vmware VM details.",
      "id": "VmwareSourceVmDetails",
      "type": "object",
      "properties": {
        "disks": {
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          }
        },
        "committedStorageBytes": {
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "firmware": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        }
      }
    },
    "Source": {
      "id": "Source",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object",
      "properties": {
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source.",
          "type": "object"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time timestamp."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Source name.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        }
      }
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "id": "StartMigrationRequest",
      "type": "object"
    },
    "TargetProject": {
      "id": "TargetProject",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the target project resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the target project."
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Required. The target project ID (number) or project name."
        }
      }
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "properties": {
        "values": {
          "type": "array",
          "description": "Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        },
        "operator": {
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter."
        }
      },
      "type": "object",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling"
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities",
      "type": "object",
      "properties": {
        "osCapabilities": {
          "items": {
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ]
          },
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "type": "array"
        },
        "lastOsCapabilitiesUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time OS capabilities list was updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AwsVmDetails": {
      "properties": {
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "description": "The security groups the VM belongs to."
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option."
        },
        "zone": {
          "type": "string",
          "description": "The AWS zone of the VM."
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The memory size of the VM in MB."
        },
        "vcpuCount": {
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "powerState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ]
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "virtualizationType": {
          "description": "The virtualization type.",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "type": "string",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ]
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU cores the VM has."
        }
      },
      "description": "AwsVmDetails describes a VM in AWS.",
      "type": "object",
      "id": "AwsVmDetails"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "DiskMigrationJob": {
      "type": "object",
      "id": "DiskMigrationJob",
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "readOnly": true,
          "type": "array"
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "description": "Output only. The disk migration steps list representing its progress."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "description": "Output only. State of the DiskMigrationJob."
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        },
        "createTime": {
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreatingImageStep": {
      "type": "object",
      "properties": {},
      "id": "CreatingImageStep",
      "description": "CreatingImageStep contains specific step details."
    },
    "SkipOsAdaptation": {
      "type": "object",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "properties": {},
      "id": "SkipOsAdaptation"
    },
    "AwsDiskDetails": {
      "description": "The details of an AWS instance disk.",
      "type": "object",
      "id": "AwsDiskDetails",
      "properties": {
        "volumeId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. AWS volume ID."
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size in GB."
        },
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "MachineImageTargetDetails": {
      "type": "object",
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "type": "object"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "type": "array"
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the machine image."
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        }
      },
      "id": "MachineImageTargetDetails"
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "id": "DisksMigrationVmTargetDefaults",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "bootDiskDefaults": {
          "$ref": "BootDiskDefaults",
          "description": "Optional. Details of the boot disk of the VM."
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM.",
          "type": "array"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. NICs to attach to the VM.",
          "type": "array"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "hostname": {
          "type": "string",
          "description": "Optional. The hostname to assign to the VM."
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "networkTags": {
          "description": "Optional. A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        }
      }
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "id": "Expiration",
      "type": "object",
      "properties": {
        "extensionCount": {
          "description": "Output only. The number of times expiration was extended.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "extendable": {
          "type": "boolean",
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "ExtendMigrationRequest": {
      "id": "ExtendMigrationRequest",
      "type": "object",
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "properties": {}
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "licenseType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "bootOption": {
          "description": "The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM.",
          "type": "array"
        },
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "type": "object"
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        }
      },
      "type": "object",
      "id": "FetchInventoryResponse"
    },
    "AzureVmDetails": {
      "properties": {
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Description of the data disks.",
          "type": "array"
        },
        "vmSize": {
          "type": "string",
          "description": "VM size as configured in Azure. Determines the VM's hardware spec."
        },
        "osDescription": {
          "$ref": "OSDescription",
          "description": "Description of the OS."
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ]
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "The CPU architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags of the VM."
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has, including OS disk.",
          "type": "integer"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ]
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "AzureVmDetails describes a VM in Azure.",
      "id": "AzureVmDetails",
      "type": "object"
    },
    "AwsSecurityGroup": {
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        }
      },
      "type": "object",
      "id": "AwsSecurityGroup",
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "PauseMigrationRequest": {
      "type": "object",
      "description": "Request message for 'PauseMigration' request.",
      "id": "PauseMigrationRequest",
      "properties": {}
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "DiskImageTargetDetails": {
      "properties": {
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "imageName": {
          "type": "string",
          "description": "Required. The name of the image to be created."
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the image.",
          "$ref": "Encryption"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object"
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskImageTargetDetails",
      "description": "The target details of the image resource that will be created by the import job."
    },
    "LocalizedMessage": {
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      },
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "type": "object"
    },
    "AdaptationModifier": {
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty."
        },
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        }
      },
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "type": "object",
      "id": "AdaptationModifier"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse",
      "properties": {
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImageImportJob": {
      "properties": {
        "cloudStorageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "description": "Output only. The state of the image import.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource path of the ImageImportJob.",
          "readOnly": true,
          "type": "string"
        },
        "machineImageTargetDetails": {
          "readOnly": true,
          "description": "Output only. Target details used to import a machine image.",
          "$ref": "MachineImageTargetDetails"
        },
        "createdResources": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          }
        },
        "endTime": {
          "description": "Output only. The time the image import was ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "steps": {
          "readOnly": true,
          "items": {
            "$ref": "ImageImportStep"
          },
          "description": "Output only. The image import steps list representing its progress.",
          "type": "array"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          },
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the image import."
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true,
          "type": "array"
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        }
      },
      "description": "ImageImportJob describes the progress and result of an image import.",
      "id": "ImageImportJob",
      "type": "object"
    },
    "InitializingReplicationStep": {
      "type": "object",
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {}
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "description": "Request message for 'RemoveMigration' request.",
      "type": "object"
    },
    "CutoverJob": {
      "type": "object",
      "properties": {
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "steps": {
          "items": {
            "$ref": "CutoverStep"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The cutover steps list representing its progress."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the cutover job had finished."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the cutover job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        }
      },
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot."
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "properties": {
        "disks": {
          "type": "array",
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          }
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        }
      },
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails"
    },
    "VmUtilizationInfo": {
      "type": "object",
      "properties": {
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        },
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        }
      },
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo"
    },
    "ListUtilizationReportsResponse": {
      "id": "ListUtilizationReportsResponse",
      "description": "Response message for 'ListUtilizationReports' request.",
      "properties": {
        "utilizationReports": {
          "items": {
            "$ref": "UtilizationReport"
          },
          "type": "array",
          "description": "Output only. The list of reports.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Required. Value of tag."
        }
      }
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "properties": {
        "diskNumber": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ordinal number of the disk."
        },
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The disk label.",
          "type": "string"
        }
      },
      "id": "VmwareDiskDetails",
      "type": "object"
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ]
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "previousVersion": {
          "type": "string",
          "description": "The version from which we upgraded."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the operation was started.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        }
      }
    },
    "CutoverForecast": {
      "properties": {
        "estimatedCutoverJobDuration": {
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "format": "google-duration"
        }
      },
      "id": "CutoverForecast",
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
    },
    "DiskImageDefaults": {
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "id": "DiskImageDefaults",
      "type": "object",
      "description": "Contains details about the image source used to create the disk."
    },
    "ComputeEngineDisksTargetDefaults": {
      "properties": {
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create."
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        }
      },
      "id": "ComputeEngineDisksTargetDefaults",
      "type": "object",
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          },
          "description": "The list of storage resources in the source."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "FetchStorageInventoryResponse"
    },
    "CancelDiskMigrationJobRequest": {
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "id": "CancelDiskMigrationJobRequest",
      "type": "object",
      "properties": {}
    },
    "ReplicationCycle": {
      "type": "object",
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the replication cycle has ended.",
          "type": "string"
        },
        "cycleNumber": {
          "type": "integer",
          "description": "The cycle's ordinal number.",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ]
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "totalPauseDuration": {
          "type": "string",
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "type": "integer",
          "deprecated": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        },
        "warnings": {
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        }
      },
      "id": "ReplicationCycle"
    },
    "MachineImageParametersOverrides": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "id": "MachineImageParametersOverrides",
      "description": "Parameters overriding decisions based on the source machine image configurations."
    },
    "Group": {
      "type": "object",
      "id": "Group",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Group name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        },
        "migrationTargetType": {
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "description": "Immutable. The target type of this group."
        }
      }
    },
    "VmUtilizationMetrics": {
      "properties": {
        "cpuAveragePercent": {
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "format": "int32"
        },
        "memoryAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average memory usage, percent."
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64"
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "format": "int32"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "description": "Max memory usage, percent.",
          "format": "int32"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "VmUtilizationMetrics",
      "description": "Utilization metrics values for a single VM.",
      "type": "object"
    },
    "AzureDiskDetails": {
      "id": "AzureDiskDetails",
      "description": "The details of an Azure VM disk.",
      "type": "object",
      "properties": {
        "diskId": {
          "readOnly": true,
          "description": "Output only. Azure disk ID.",
          "type": "string"
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "format": "int64",
          "type": "string"
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "type": "array"
        }
      }
    },
    "VmwareSourceDetails": {
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "properties": {
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        }
      }
    },
    "InitializingImageImportStep": {
      "description": "InitializingImageImportStep contains specific step details.",
      "id": "InitializingImageImportStep",
      "type": "object",
      "properties": {}
    },
    "ProvisioningTargetDiskStep": {
      "id": "ProvisioningTargetDiskStep",
      "type": "object",
      "properties": {},
      "description": "ProvisioningTargetDiskStep contains specific step details."
    },
    "RunDiskMigrationJobRequest": {
      "properties": {},
      "id": "RunDiskMigrationJobRequest",
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "type": "object"
    },
    "ListCloneJobsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "cloneJobs": {
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "id": "ListCloneJobsResponse"
    },
    "MigratingVm": {
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "recentCutoverJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails",
          "readOnly": true
        },
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "cutoverForecast": {
          "$ref": "CutoverForecast",
          "readOnly": true,
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable."
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration",
          "readOnly": true
        },
        "labels": {
          "description": "The labels of the migrating VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "readOnly": true,
          "type": "string"
        },
        "recentCloneJobs": {
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "$ref": "AzureSourceVmDetails",
          "readOnly": true
        },
        "lastReplicationCycle": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "readOnly": true,
          "description": "Output only. State of the MigratingVm."
        },
        "computeEngineDisksTargetDefaults": {
          "$ref": "ComputeEngineDisksTargetDefaults",
          "description": "Details of the target Persistent Disks in Compute Engine."
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true,
          "$ref": "ReplicationSync"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true,
          "$ref": "Status"
        },
        "vmwareSourceVmDetails": {
          "$ref": "VmwareSourceVmDetails",
          "description": "Output only. Details of the VM from a Vmware source.",
          "readOnly": true
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true,
          "type": "string"
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        }
      },
      "id": "MigratingVm"
    },
    "NetworkInterface": {
      "properties": {
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ]
        },
        "network": {
          "type": "string",
          "description": "Optional. The network to connect the NIC to."
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "NetworkInterface",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ServiceAccount": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account."
        }
      },
      "type": "object",
      "description": "Service account to assign to the instance created by the machine image.",
      "id": "ServiceAccount"
    },
    "CancelImageImportJobRequest": {
      "id": "CancelImageImportJobRequest",
      "type": "object",
      "description": "Request message for 'CancelImageImportJob' request.",
      "properties": {}
    },
    "MigrationError": {
      "properties": {
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "description": "Output only. The error code."
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        },
        "errorTime": {
          "type": "string",
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "helpLinks": {
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        }
      },
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object"
    },
    "PersistentDiskDefaults": {
      "properties": {
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "diskType": {
          "description": "The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "sourceDiskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk."
        },
        "additionalLabels": {
          "type": "object",
          "description": "A map of labels to associate with the Persistent Disk.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk.",
          "$ref": "Encryption"
        }
      },
      "id": "PersistentDiskDefaults",
      "description": "Details for creation of a Persistent Disk.",
      "type": "object"
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "properties": {},
      "type": "object",
      "id": "DisksMigrationDisksTargetDefaults"
    },
    "UtilizationReport": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "vms": {
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored."
        },
        "vmCount": {
          "readOnly": true,
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer",
          "format": "int32"
        },
        "stateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "description": "Output only. Current state of the report.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "name": {
          "description": "Output only. The report unique name.",
          "type": "string",
          "readOnly": true
        },
        "timeFrame": {
          "type": "string",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report."
        },
        "frameEndTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14."
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport"
    },
    "CopyingSourceDiskSnapshotStep": {
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "id": "CopyingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {}
    },
    "DataDiskImageImport": {
      "properties": {
        "guestOsFeatures": {
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Used when the image import is not using OS adaptation process.",
      "id": "DataDiskImageImport"
    },
    "SchedulePolicy": {
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy",
      "type": "object",
      "properties": {
        "idleDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The idle duration between replication stages."
        },
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "ListSourcesResponse": {
      "description": "Response message for 'ListSources' request.",
      "type": "object",
      "id": "ListSourcesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "sources": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response."
        }
      }
    },
    "LoadingImageSourceFilesStep": {
      "properties": {},
      "type": "object",
      "id": "LoadingImageSourceFilesStep",
      "description": "LoadingImageSourceFilesStep contains specific step details."
    },
    "Status": {
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "properties": {
        "disks": {
          "description": "Optional. The details of each disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
[...]
