{
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "version": "v1",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "vmmigration:v1",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "title": "VM Migration API",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "batchPath": "batch",
  "canonicalName": "VM Migration Service",
  "schemas": {
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "type": "object",
      "id": "AccessKeyCredentials",
      "properties": {
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        }
      }
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "type": "object",
      "id": "PersistentDisk",
      "properties": {
        "diskUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Persistent Disk.",
          "type": "string"
        },
        "sourceDiskNumber": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ordinal number of the source VM disk.",
          "type": "integer"
        }
      }
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "type": "object",
      "id": "AdaptingOSStep",
      "properties": {}
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "properties": {
        "secureBoot": {
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "type": "string"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        }
      },
      "description": "Shielded instance configuration.",
      "type": "object"
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object",
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "ListTargetProjectsResponse": {
      "id": "ListTargetProjectsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "targetProjects": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "TargetProject"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object"
    },
    "DiskMigrationJob": {
      "id": "DiskMigrationJob",
      "properties": {
        "state": {
          "description": "Output only. State of the DiskMigrationJob.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "readOnly": true
        },
        "steps": {
          "description": "Output only. The disk migration steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "readOnly": true
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "createTime": {
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "type": "string",
          "readOnly": true
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "updateTime": {
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "type": "object"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "type": "object",
      "id": "VmwareDiskDetails",
      "properties": {
        "diskNumber": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer"
        },
        "sizeGb": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size in GB.",
          "type": "string"
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The disk label.",
          "type": "string"
        }
      }
    },
    "ReplicatingStep": {
      "description": "ReplicatingStep contains specific step details.",
      "type": "object",
      "id": "ReplicatingStep",
      "properties": {
        "replicatedBytes": {
          "format": "int64",
          "description": "Replicated bytes in the step.",
          "type": "string"
        },
        "totalBytes": {
          "description": "Total bytes to be handled in the step.",
          "type": "string",
          "format": "int64"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "format": "int64",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string"
        }
      }
    },
    "ClientSecretCredentials": {
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "type": "object",
      "id": "ClientSecretCredentials",
      "properties": {
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        }
      }
    },
    "CancelImageImportJobRequest": {
      "id": "CancelImageImportJobRequest",
      "properties": {},
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object"
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "type": "object",
      "id": "MachineImageTargetDetails",
      "properties": {
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "type": "array"
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "skipOsAdaptation": {
          "$ref": "SkipOsAdaptation",
          "description": "Optional. Use to skip OS adaptation process."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "recentCloneJobs": {
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the migrating VM resource was updated.",
          "type": "string"
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "lastSync": {
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true
        },
        "awsSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails"
        },
        "expiration": {
          "$ref": "Expiration",
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "readOnly": true
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string",
          "readOnly": true
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "$ref": "CutoverForecast",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "labels": {
          "description": "The labels of the migrating VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "azureSourceVmDetails": {
          "readOnly": true,
          "$ref": "AzureSourceVmDetails",
          "description": "Output only. Details of the VM from an Azure source."
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "description": "Output only. State of the MigratingVm.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "readOnly": true
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string"
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastReplicationCycle": {
          "readOnly": true,
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "$ref": "ReplicationCycle"
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object"
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "properties": {
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string"
        },
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        }
      },
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "type": "object"
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object",
      "id": "AppliedLicense",
      "properties": {
        "type": {
          "description": "The license type that was used in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "ExtendMigrationRequest": {
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "type": "object",
      "id": "ExtendMigrationRequest",
      "properties": {}
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request.",
      "type": "object"
    },
    "Source": {
      "id": "Source",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "name": {
          "description": "Output only. The Source name.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "The labels of the source.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "type": "string"
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object"
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "type": "object",
      "id": "CutoverJob",
      "properties": {
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "readOnly": true,
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        }
      }
    },
    "AwsSourceDetails": {
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "type": "object",
      "id": "AwsSourceDetails",
      "properties": {
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true
        },
        "inventorySecurityGroupNames": {
          "items": {
            "type": "string"
          },
          "description": "AWS security group names to limit the scope of the source inventory.",
          "type": "array"
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string"
        },
        "publicIp": {
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object",
      "id": "VmwareSourceDetails",
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        }
      }
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "properties": {
        "code": {
          "description": "The warning code.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ]
        },
        "warningMessage": {
          "readOnly": true,
          "description": "Output only. The localized warning message.",
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "readOnly": true,
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage"
        },
        "warningTime": {
          "format": "google-datetime",
          "description": "The time the warning occurred.",
          "type": "string"
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "type": "object"
    },
    "MachineImageParametersOverrides": {
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "type": "object",
      "id": "MachineImageParametersOverrides",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      }
    },
    "VmwareVmDetails": {
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "type": "object",
      "id": "VmwareVmDetails",
      "properties": {
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "type": "integer",
          "format": "int32"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string"
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "description": "Output only. The VM Boot Option.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "memoryMb": {
          "format": "int32",
          "description": "The size of the memory of the VM in MB.",
          "type": "integer"
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        }
      }
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "type": "object",
      "id": "PauseMigrationRequest",
      "properties": {}
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        }
      }
    },
    "VmUtilizationInfo": {
      "id": "VmUtilizationInfo",
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        }
      },
      "description": "Utilization information of a single VM.",
      "type": "object"
    },
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "type": "object",
      "id": "PostProcessingStep",
      "properties": {}
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "type": "object",
      "id": "FetchStorageInventoryResponse",
      "properties": {
        "resources": {
          "description": "The list of storage resources in the source.",
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string"
        }
      }
    },
    "AwsDiskDetails": {
      "description": "The details of an AWS instance disk.",
      "type": "object",
      "id": "AwsDiskDetails",
      "properties": {
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "volumeId": {
          "description": "Output only. AWS volume ID.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "properties": {
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "type": "object"
    },
    "Disk": {
      "description": "A message describing a data disk.",
      "type": "object",
      "id": "Disk",
      "properties": {
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        },
        "sizeGb": {
          "format": "int32",
          "description": "The disk size in GB.",
          "type": "integer"
        }
      }
    },
    "ListDiskMigrationJobsResponse": {
      "id": "ListDiskMigrationJobsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        },
        "diskMigrationJobs": {
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "description": "Output only. The list of the disk migration jobs.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        },
        "groups": {
          "description": "Output only. The list of groups response.",
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListGroups' request.",
      "type": "object"
    },
    "CloneStep": {
      "id": "CloneStep",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the step has started.",
          "type": "string"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        }
      },
      "description": "CloneStep holds information about the clone step progress.",
      "type": "object"
    },
    "ImageImportJob": {
      "id": "ImageImportJob",
      "properties": {
        "cloudStorageUri": {
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The resource path of the ImageImportJob.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the image import.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ]
        },
        "createdResources": {
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskImageTargetDetails": {
          "$ref": "DiskImageTargetDetails",
          "description": "Output only. Target details used to import a disk image.",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "type": "array"
        },
        "warnings": {
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the image import.",
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "machineImageTargetDetails": {
          "readOnly": true,
          "$ref": "MachineImageTargetDetails",
          "description": "Output only. Target details used to import a machine image."
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was ended.",
          "type": "string"
        },
        "steps": {
          "readOnly": true,
          "items": {
            "$ref": "ImageImportStep"
          },
          "description": "Output only. The image import steps list representing its progress.",
          "type": "array"
        }
      },
      "description": "ImageImportJob describes the progress and result of an image import.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Link": {
      "description": "Describes a URL link.",
      "type": "object",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "description": "Response message for 'ListSources' request.",
      "type": "object",
      "id": "ListSourcesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "sources": {
          "readOnly": true,
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "TargetProject": {
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "type": "object",
      "id": "TargetProject",
      "properties": {
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the target project.",
          "type": "string"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "AvailableUpdates": {
      "description": "Holds information about the available versions for upgrade.",
      "type": "object",
      "id": "AvailableUpdates",
      "properties": {
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        },
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        }
      }
    },
    "CycleStep": {
      "id": "CycleStep",
      "properties": {
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "description": "The time the cycle step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        }
      },
      "description": "CycleStep holds information about a step progress.",
      "type": "object"
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object",
      "id": "LocalizedMessage",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      }
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "type": "object",
      "id": "NetworkInterface",
      "properties": {
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "networkTier": {
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string"
        }
      }
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "description": "Contains details about the image source used to create the disk.",
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "id": "ComputeEngineDisksTargetDefaults",
      "properties": {
        "disksTargetDefaults": {
          "$ref": "DisksMigrationDisksTargetDefaults",
          "description": "Details of the disk only migration target."
        },
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create.",
          "type": "array"
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "type": "object"
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs.",
          "type": "array"
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "type": "object"
    },
    "ApplianceVersion": {
      "id": "ApplianceVersion",
      "properties": {
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      },
      "description": "Describes an appliance version.",
      "type": "object"
    },
    "UpgradeStatus": {
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "type": "object",
      "id": "UpgradeStatus",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "readOnly": true
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the operation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the upgradeAppliance operation.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        }
      }
    },
    "ImageImportOsAdaptationParameters": {
      "id": "ImageImportOsAdaptationParameters",
      "properties": {
        "bootConversion": {
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "type": "string"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array"
        },
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        }
      },
      "description": "Parameters affecting the OS adaptation process.",
      "type": "object"
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "type": "object",
      "id": "ReplicationCycle",
      "properties": {
        "state": {
          "description": "State of the ReplicationCycle.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "type": "integer",
          "deprecated": true
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the replication cycle has ended.",
          "type": "string"
        },
        "steps": {
          "description": "The cycle's steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          }
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalPauseDuration": {
          "format": "google-duration",
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string"
        },
        "warnings": {
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the cycle.",
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          }
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "type": "object",
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {}
    },
    "ListImageImportsResponse": {
      "description": "Response message for 'ListImageImports' call.",
      "type": "object",
      "id": "ListImageImportsResponse",
      "properties": {
        "imageImports": {
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ReplicationSync": {
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string"
        }
      },
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "type": "object"
    },
    "RunDiskMigrationJobRequest": {
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "type": "object",
      "id": "RunDiskMigrationJobRequest",
      "properties": {}
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep",
      "properties": {}
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "type": "object",
      "id": "SourceStorageResource",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      }
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the step has started.",
          "type": "string"
        },
        "creatingSourceDiskSnapshot": {
          "$ref": "CreatingSourceDiskSnapshotStep",
          "description": "Creating source disk snapshot step."
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        },
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the step has ended.",
          "type": "string"
        }
      },
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "type": "object"
    },
    "DisksMigrationVmTargetDefaults": {
      "id": "DisksMigrationVmTargetDefaults",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM.",
          "type": "array"
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "networkTags": {
          "description": "Optional. A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. NICs to attach to the VM.",
          "type": "array"
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Optional. Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        }
      },
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "properties": {
        "firmware": {
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "committedStorageBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string"
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The VM architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true
        },
        "disks": {
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "type": "array"
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        }
      },
      "description": "Represent the source Vmware VM details.",
      "type": "object"
    },
    "AzureSourceDetails": {
      "id": "AzureSourceDetails",
      "properties": {
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "resourceGroupId": {
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "type": "string",
          "readOnly": true
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "clientSecretCreds": {
          "$ref": "ClientSecretCredentials",
          "description": "Azure Credentials using tenant ID, client ID and secret."
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "type": "object"
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "type": "object",
      "id": "DisksMigrationDisksTargetDefaults",
      "properties": {}
    },
    "CreatingImageStep": {
      "description": "CreatingImageStep contains specific step details.",
      "type": "object",
      "id": "CreatingImageStep",
      "properties": {}
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "type": "object",
      "id": "ListImageImportJobsResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "imageImportJobs": {
          "readOnly": true,
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The list of target response.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "DisksMigrationDisksTargetDetails": {
      "id": "DisksMigrationDisksTargetDetails",
      "properties": {},
      "description": "Details for a disks-only migration.",
      "type": "object"
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "properties": {},
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object"
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object",
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs.",
          "type": "array"
        }
      }
    },
    "LoadingImageSourceFilesStep": {
      "id": "LoadingImageSourceFilesStep",
      "properties": {},
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object"
    },
    "AdaptationModifier": {
      "id": "AdaptationModifier",
      "properties": {
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        }
      },
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "id": "ListDatacenterConnectorsResponse",
      "properties": {
        "datacenterConnectors": {
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "type": "object"
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object",
      "id": "Encryption",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "AwsVmDetails": {
      "id": "AwsVmDetails",
      "properties": {
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of CPU cores the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has.",
          "type": "integer"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "virtualizationType": {
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "description": "The virtualization type.",
          "type": "string"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "vcpuCount": {
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "type": "integer"
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "securityGroups": {
          "description": "The security groups the VM belongs to.",
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "tags": {
          "description": "The tags of the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ]
        }
      },
      "description": "AwsVmDetails describes a VM in AWS.",
      "type": "object"
    },
    "UtilizationReport": {
      "id": "UtilizationReport",
      "properties": {
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The report unique name.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the report in case of an error."
        },
        "frameEndTime": {
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "type": "string",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "description": "Output only. Current state of the report.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "vmCount": {
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "createTime": {
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object"
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "type": "object",
      "id": "Expiration",
      "properties": {
        "extensionCount": {
          "description": "Output only. The number of times expiration was extended.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "type": "boolean",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "type": "string"
        }
      }
    },
    "PersistentDiskDefaults": {
      "description": "Details for creation of a Persistent Disk.",
      "type": "object",
      "id": "PersistentDiskDefaults",
      "properties": {
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "additionalLabels": {
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk.",
          "type": "integer"
        }
      }
    },
    "AzureSourceVmDetails": {
      "id": "AzureSourceVmDetails",
      "properties": {
        "firmware": {
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The VM architecture.",
          "type": "string"
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities",
          "readOnly": true
        }
      },
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      },
      "description": "Details for the VM created VM as part of disks migration.",
      "type": "object"
    },
    "ComputeEngineDisk": {
      "id": "ComputeEngineDisk",
      "properties": {
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "type": "array"
        },
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Required. The disk type to use.",
          "type": "string"
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        }
      },
      "description": "Compute Engine disk target details.",
      "type": "object"
    },
    "DiskImageTargetDetails": {
      "description": "The target details of the image resource that will be created by the import job.",
      "type": "object",
      "id": "DiskImageTargetDetails",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "description": {
[...]
