{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ListReplicationCyclesResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "items": {
            "$ref": "ReplicationCycle"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ListReplicationCyclesResponse",
      "description": "Response message for 'ListReplicationCycles' request.",
      "type": "object"
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object",
      "id": "Group",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Group name.",
          "readOnly": true
        },
        "migrationTargetType": {
          "type": "string",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group.",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        }
      }
    },
    "FetchStorageInventoryResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "description": "The list of storage resources in the source.",
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          }
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "FetchStorageInventoryResponse",
      "description": "Response message for fetchStorageInventory."
    },
    "RunDiskMigrationJobRequest": {
      "type": "object",
      "properties": {},
      "id": "RunDiskMigrationJobRequest",
      "description": "Request message for 'RunDiskMigrationJobRequest' request."
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "type": "object",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "warningTime": {
          "description": "The time the warning occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "warningMessage": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized warning message."
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true
        },
        "code": {
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "description": "The warning code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string"
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        }
      }
    },
    "AwsSourceDetails": {
      "properties": {
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "publicIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
        }
      },
      "type": "object",
      "id": "AwsSourceDetails",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type."
    },
    "ComputeEngineDisk": {
      "description": "Compute Engine disk target details.",
      "type": "object",
      "id": "ComputeEngineDisk",
      "properties": {
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "replicaZones": {
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Required. The disk type to use.",
          "type": "string"
        }
      }
    },
    "AzureSourceDetails": {
      "properties": {
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Immutable. Azure subscription ID."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "resourceGroupId": {
          "type": "string",
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the source as determined by the health check."
        }
      },
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "type": "object",
      "id": "AzureSourceDetails"
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "cloneJobs": {
          "type": "array",
          "description": "Output only. The list of clone jobs response.",
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      }
    },
    "AddGroupMigrationRequest": {
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "description": "Request message for 'AddGroupMigration' request.",
      "type": "object"
    },
    "ComputeEngineDisksTargetDetails": {
      "id": "ComputeEngineDisksTargetDetails",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "properties": {
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk."
        }
      },
      "type": "object"
    },
    "ClientSecretCredentials": {
      "type": "object",
      "id": "ClientSecretCredentials",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Azure client ID."
        }
      }
    },
    "CycleStep": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has started."
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the cycle step has ended.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CycleStep",
      "description": "CycleStep holds information about a step progress."
    },
    "Expiration": {
      "type": "object",
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "properties": {
        "extensionCount": {
          "description": "Output only. The number of times expiration was extended.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "Expiration"
    },
    "InitializingImageImportStep": {
      "type": "object",
      "description": "InitializingImageImportStep contains specific step details.",
      "id": "InitializingImageImportStep",
      "properties": {}
    },
    "ExtendMigrationRequest": {
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "type": "object",
      "properties": {},
      "id": "ExtendMigrationRequest"
    },
    "VmwareVmDetails": {
      "id": "VmwareVmDetails",
      "type": "object",
      "properties": {
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The size of the memory of the VM in MB."
        },
        "architecture": {
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "type": "string"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "uuid": {
          "type": "string",
          "description": "The unique identifier of the VM in vCenter."
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus in the VM.",
          "format": "int32"
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string"
        }
      },
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProjects": {
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse"
    },
    "CancelDiskMigrationJobRequest": {
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "properties": {},
      "type": "object",
      "id": "CancelDiskMigrationJobRequest"
    },
    "NetworkInterface": {
      "properties": {
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "networkTier": {
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string"
        }
      },
      "id": "NetworkInterface",
      "description": "NetworkInterface represents a NIC of a VM.",
      "type": "object"
    },
    "PersistentDisk": {
      "properties": {
        "sourceDiskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk.",
          "format": "int32",
          "type": "integer"
        },
        "diskUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the Persistent Disk."
        }
      },
      "type": "object",
      "id": "PersistentDisk",
      "description": "Details of a created Persistent Disk."
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM."
        }
      },
      "description": "Details for the VM created VM as part of disks migration.",
      "type": "object"
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "sessionToken": {
          "type": "string",
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials."
        }
      },
      "id": "AccessKeyCredentials",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "description": "Request message for 'FinalizeMigration' request.",
      "properties": {}
    },
    "PersistentDiskDefaults": {
      "id": "PersistentDiskDefaults",
      "description": "Details for creation of a Persistent Disk.",
      "properties": {
        "additionalLabels": {
          "description": "A map of labels to associate with the Persistent Disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "sourceDiskNumber": {
          "type": "integer",
          "description": "Required. The ordinal number of the source VM disk.",
          "format": "int32"
        },
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        }
      },
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "id": "ComputeEngineDisksTargetDefaults",
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "properties": {
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        },
        "disksTargetDefaults": {
          "$ref": "DisksMigrationDisksTargetDefaults",
          "description": "Details of the disk only migration target."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks."
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        }
      },
      "type": "object"
    },
    "DatacenterConnector": {
      "type": "object",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the connector was updated with an API call.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "availableVersions": {
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true,
          "$ref": "UpgradeStatus"
        },
        "name": {
          "description": "Output only. The connector's name.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "type": "string",
          "readOnly": true
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "applianceInfrastructureVersion": {
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "DatacenterConnector"
    },
    "ListCutoverJobsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "cutoverJobs": {
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse",
      "type": "object"
    },
    "AvailableUpdates": {
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates",
      "type": "object",
      "properties": {
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        },
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        }
      }
    },
    "Disk": {
      "type": "object",
      "description": "A message describing a data disk.",
      "properties": {
        "sizeGb": {
          "description": "The disk size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        }
      },
      "id": "Disk"
    },
    "AdaptationModifier": {
      "type": "object",
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "properties": {
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        },
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        }
      },
      "id": "AdaptationModifier"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "description": "Response message for 'ListSources' request.",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "Source"
          },
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListDiskMigrationJobsResponse": {
      "id": "ListDiskMigrationJobsResponse",
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "diskMigrationJobs": {
          "type": "array",
          "description": "Output only. The list of the disk migration jobs.",
          "readOnly": true,
          "items": {
            "$ref": "DiskMigrationJob"
          }
        }
      }
    },
    "TargetProject": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the target project resource was updated."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the target project."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "format": "google-datetime"
        },
        "project": {
          "type": "string",
          "description": "Required. The target project ID (number) or project name."
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        }
      },
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject"
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "description": "Describes a URL link.",
      "type": "object"
    },
    "CopyingSourceDiskSnapshotStep": {
      "properties": {},
      "id": "CopyingSourceDiskSnapshotStep",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "properties": {
        "datacenterConnectors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "type": "object"
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "properties": {},
      "id": "ShuttingDownSourceVMStep",
      "type": "object"
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          }
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the machine image."
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        }
      },
      "id": "MachineImageTargetDetails"
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob",
      "properties": {
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "readOnly": true,
          "type": "string"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "stateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated."
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the cutover job.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "type": "string"
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress."
        }
      },
      "type": "object"
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo",
      "properties": {
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        },
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        }
      },
      "type": "object"
    },
    "DisksMigrationDisksTargetDetails": {
      "properties": {},
      "id": "DisksMigrationDisksTargetDetails",
      "type": "object",
      "description": "Details for a disks-only migration."
    },
    "ListMigratingVmsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "migratingVms": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response."
        }
      },
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request."
    },
    "DiskMigrationJobTargetDetails": {
      "id": "DiskMigrationJobTargetDetails",
      "description": "Details of the target disk in Compute Engine.",
      "type": "object",
      "properties": {
        "targetProject": {
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}",
          "type": "string"
        },
        "targetDisk": {
          "description": "Required. The target disk.",
          "$ref": "ComputeEngineDisk"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the disk.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the upgradeAppliance operation.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ]
        },
        "startTime": {
          "description": "The time the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "readOnly": true
        },
        "previousVersion": {
          "type": "string",
          "description": "The version from which we upgraded."
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        }
      }
    },
    "StartMigrationRequest": {
      "properties": {},
      "id": "StartMigrationRequest",
      "description": "Request message for 'StartMigrationRequest' request.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object",
      "properties": {},
      "id": "CancelImageImportJobRequest"
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "type": "object",
      "properties": {
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The label key of Node resource to reference."
        },
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        }
      }
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "description": "Represent the source Vmware VM details.",
      "type": "object",
      "properties": {
        "disks": {
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          }
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        },
        "committedStorageBytes": {
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "format": "int64"
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The VM architecture."
        },
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "ListImageImportsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        },
        "imageImports": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          },
          "description": "Output only. The list of target response."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListImageImportsResponse",
      "description": "Response message for 'ListImageImports' call.",
      "type": "object"
    },
    "SkipOsAdaptation": {
      "properties": {},
      "type": "object",
      "id": "SkipOsAdaptation",
      "description": "Mentions that the machine image import is not using OS adaptation process."
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded instance configuration.",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "secureBoot": {
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "type": "string",
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ]
        }
      }
    },
    "AwsSourceVmDetails": {
      "type": "object",
      "properties": {
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "description": "Output only. The VM architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "disks": {
          "items": {
            "$ref": "AwsDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "readOnly": true
        },
        "committedStorageBytes": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string"
        }
      },
      "id": "AwsSourceVmDetails",
      "description": "Represent the source AWS VM details."
    },
    "DiskImageDefaults": {
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DiskImageDefaults",
      "description": "Contains details about the image source used to create the disk."
    },
    "VmUtilizationMetrics": {
      "type": "object",
      "id": "VmUtilizationMetrics",
      "properties": {
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "cpuAveragePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Average CPU usage, percent."
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "cpuMaxPercent": {
          "format": "int32",
          "description": "Max CPU usage, percent.",
          "type": "integer"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        }
      },
      "description": "Utilization metrics values for a single VM."
    },
    "ListImageImportJobsResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListImageImportJobs' call.",
      "type": "object",
      "id": "ListImageImportJobsResponse"
    },
    "ResumeMigrationRequest": {
      "type": "object",
      "properties": {},
      "id": "ResumeMigrationRequest",
      "description": "Request message for 'ResumeMigration' request."
    },
    "Encryption": {
      "id": "Encryption",
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "type": "object",
      "properties": {
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport.",
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "recentImageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true,
          "type": "array"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the image import was created.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ImageImport"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "properties": {
        "sizeGb": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string"
        },
        "diskNumber": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The ordinal number of the disk."
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The disk label."
        }
      },
      "id": "VmwareDiskDetails",
      "type": "object"
    },
    "OSDisk": {
      "id": "OSDisk",
      "properties": {
        "sizeGb": {
          "description": "The disk's size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        },
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message describing the OS disk."
    },
    "AzureVmDetails": {
      "id": "AzureVmDetails",
      "properties": {
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Description of the data disks.",
          "type": "array"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "computerName": {
          "type": "string",
          "description": "The VM's ComputerName."
        },
        "cpuCount": {
          "description": "The number of cpus the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken."
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk."
        },
        "committedStorageMb": {
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "AzureVmDetails describes a VM in Azure.",
      "type": "object"
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string",
          "readOnly": true
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        }
      },
      "id": "FetchInventoryResponse",
      "type": "object"
    },
    "PreparingVMDisksStep": {
      "description": "PreparingVMDisksStep contains specific step details.",
      "properties": {},
      "type": "object",
      "id": "PreparingVMDisksStep"
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the step has started."
        },
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        }
      },
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep"
    },
    "ImageImportOsAdaptationParameters": {
      "properties": {
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "type": "string"
        },
        "generalize": {
          "type": "boolean",
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID)."
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string",
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion"
        }
      },
      "type": "object",
      "description": "Parameters affecting the OS adaptation process.",
      "id": "ImageImportOsAdaptationParameters"
    },
    "RemoveGroupMigrationRequest": {
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "id": "RemoveGroupMigrationRequest",
      "type": "object"
    },
    "ReplicatingStep": {
      "description": "ReplicatingStep contains specific step details.",
      "id": "ReplicatingStep",
      "type": "object",
      "properties": {
        "replicatedBytes": {
          "type": "string",
          "description": "Replicated bytes in the step.",
          "format": "int64"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "type": "string",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "format": "int64"
        },
        "totalBytes": {
          "type": "string",
          "description": "Total bytes to be handled in the step.",
          "format": "int64"
        }
      }
    },
    "AwsSecurityGroup": {
      "id": "AwsSecurityGroup",
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        }
      }
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object",
      "id": "VmwareSourceDetails",
      "properties": {
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        },
        "resolvedVcenterHost": {
          "type": "string",
          "description": "The hostname of the vcenter."
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "bootOption": {
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation."
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "bootConversion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "diskReplicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "List of NICs connected to this VM."
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "DataDiskImageImport": {
      "type": "object",
      "id": "DataDiskImageImport",
      "properties": {
        "guestOsFeatures": {
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Used when the image import is not using OS adaptation process."
    },
    "ListUtilizationReportsResponse": {
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        },
        "utilizationReports": {
          "readOnly": true,
          "description": "Output only. The list of reports.",
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          }
        }
      },
      "type": "object"
    },
    "MigrationError": {
      "type": "object",
      "properties": {
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        },
        "code": {
          "type": "string",
          "description": "Output only. The error code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        },
        "errorTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the error occurred.",
          "format": "google-datetime"
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The localized error message.",
          "$ref": "LocalizedMessage"
        }
      },
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations."
    },
    "Source": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The update time timestamp."
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "id": "Source"
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "id": "PauseMigrationRequest",
      "type": "object"
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "format": "int32",
          "type": "integer"
        },
        "steps": {
          "description": "The cycle's steps list representing its progress.",
          "items": {
            "$ref": "CycleStep"
          },
          "type": "array"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the replication cycle has ended."
        },
        "state": {
          "description": "State of the ReplicationCycle.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ]
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "type": "integer",
          "deprecated": true
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string",
          "format": "google-duration"
        },
        "warnings": {
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array"
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "ReplicationCycle",
      "type": "object"
    },
    "ProvisioningTargetDiskStep": {
      "id": "ProvisioningTargetDiskStep",
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "DiskImageTargetDetails": {
      "description": "The target details of the image resource that will be created by the import job.",
      "type": "object",
      "id": "DiskImageTargetDetails",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the image."
        },
        "familyName": {
          "type": "string",
          "description": "Optional. The name of the image family to which the new image belongs."
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "additionalLicenses": {
          "type": "array",
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "items": {
            "type": "string"
          }
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "type": "object",
      "properties": {},
      "description": "Details for a disk only migration.",
      "id": "DisksMigrationDisksTargetDefaults"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "id": "CloneStep",
      "properties": {
        "adaptingOs": {
[...]
