{
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "vmmigration",
  "revision": "20260723",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "basePath": "",
  "canonicalName": "VM Migration Service",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                }
              },
              "id": "vmmigration.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "vmmigration.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "id": "vmmigration.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "vmmigration.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "vmmigration.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "vmmigration.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "sources": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                      "description": "Required. The Source name.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "vmmigration.projects.locations.sources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Source.",
                  "response": {
                    "$ref": "Source"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}",
                  "httpMethod": "GET"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Updates the parameters of a single Source.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Field mask is used to specify the fields to be overwritten in the Source resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Output only. The Source name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "vmmigration.projects.locations.sources.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Source"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "fetchStorageInventory": {
                  "description": "List remote source's inventory of storage resources. The remote source is another cloud vendor (e.g. AWS, Azure). The inventory describes the list of existing storage resources in that source. Note that this operation lists the resources on the remote source, as opposed to listing the MigratingVms resources in the vmmigration service.",
                  "parameterOrder": [
                    "source"
                  ],
                  "id": "vmmigration.projects.locations.sources.fetchStorageInventory",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "source": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                      "description": "Required. The name of the Source.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "forceRefresh": {
                      "location": "query",
                      "description": "Optional. If this flag is set to true, the source will be queried instead of using cached results. Using this flag will make the call slower.",
                      "type": "boolean"
                    },
                    "type": {
                      "type": "string",
                      "enumDescriptions": [
                        "The type is unspecified.",
                        "The type is disks.",
                        "The type is snapshots."
                      ],
                      "description": "Required. The type of the storage inventory to fetch.",
                      "enum": [
                        "STORAGE_TYPE_UNSPECIFIED",
                        "DISKS",
                        "SNAPSHOTS"
                      ],
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of VMs to return. The service may return fewer than this value.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `FetchStorageInventory` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchStorageInventory` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+source}:fetchStorageInventory",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}:fetchStorageInventory",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "FetchStorageInventoryResponse"
                  }
                },
                "fetchInventory": {
                  "response": {
                    "$ref": "FetchInventoryResponse"
                  },
                  "path": "v1/{+source}:fetchInventory",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}:fetchInventory",
                  "httpMethod": "GET",
                  "id": "vmmigration.projects.locations.sources.fetchInventory",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "source": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the Source.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The maximum number of VMs to return. The service may return fewer than this value. For AWS source: If unspecified, at most 500 VMs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000. For VMWare source: If unspecified, all VMs will be returned. There is no limit for maximum value.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous `FetchInventory` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchInventory` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "forceRefresh": {
                      "location": "query",
                      "description": "If this flag is set to true, the source will be queried instead of using cached results. Using this flag will make the call slower.",
                      "type": "boolean"
                    }
                  },
                  "description": "List remote source's inventory of VMs. The remote source is the onprem vCenter (remote in the sense it's not in Compute Engine). The inventory describes the list of existing VMs in that source. Note that this operation lists the VMs on the remote source, as opposed to listing the MigratingVms resources in the vmmigration service.",
                  "parameterOrder": [
                    "source"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}",
                  "httpMethod": "DELETE",
                  "id": "vmmigration.projects.locations.sources.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The Source name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a single Source.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "vmmigration.projects.locations.sources.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of sources to return. The service may return fewer than this value. If unspecified, at most 500 sources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Required. A page token, received from a previous `ListSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSources` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. the order by fields for the result.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. The filter request.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of sources.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists Sources in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListSourcesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/sources",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources"
                },
                "create": {
                  "id": "vmmigration.projects.locations.sources.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The Source's parent.",
                      "required": true,
                      "type": "string"
                    },
                    "sourceId": {
                      "description": "Required. The source identifier.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Creates a new Source in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Source"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/sources",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources"
                }
              },
              "resources": {
                "migratingVms": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "location": "path"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "MIGRATING_VM_VIEW_UNSPECIFIED",
                            "MIGRATING_VM_VIEW_BASIC",
                            "MIGRATING_VM_VIEW_FULL"
                          ],
                          "description": "Optional. The level of details of the migrating VM.",
                          "enumDescriptions": [
                            "View is unspecified. The API will fallback to the default value.",
                            "Get the migrating VM basic details. The basic details do not include the recent clone jobs and recent cutover jobs lists.",
                            "Include everything."
                          ],
                          "type": "string"
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.migratingVms.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single MigratingVm.",
                      "response": {
                        "$ref": "MigratingVm"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "MigratingVm"
                      },
                      "httpMethod": "PATCH",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}",
                      "id": "vmmigration.projects.locations.sources.migratingVms.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "updateMask": {
                          "description": "Field mask is used to specify the fields to be overwritten in the MigratingVm resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask then all fields will be overwritten.",
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Output only. The identifier of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Updates the parameters of a single MigratingVm.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "resumeMigration": {
                      "request": {
                        "$ref": "ResumeMigrationRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+migratingVm}:resumeMigration",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}:resumeMigration",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Resumes a migration for a VM. When called on a paused migration, will start the process of uploading data and creating snapshots; when called on a completed cut-over migration, will update the migration to active state and start the process of uploading data and creating snapshots.",
                      "parameterOrder": [
                        "migratingVm"
                      ],
                      "id": "vmmigration.projects.locations.sources.migratingVms.resumeMigration",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "migratingVm": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                        }
                      }
                    },
                    "finalizeMigration": {
                      "parameters": {
                        "migratingVm": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.migratingVms.finalizeMigration",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "migratingVm"
                      ],
                      "description": "Marks a migration as completed, deleting migration resources that are no longer being used. Only applicable after cutover is done.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+migratingVm}:finalizeMigration",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}:finalizeMigration",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "FinalizeMigrationRequest"
                      }
                    },
                    "extendMigration": {
                      "path": "v1/{+migratingVm}:extendMigration",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}:extendMigration",
                      "request": {
                        "$ref": "ExtendMigrationRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Extend the migrating VM time to live.",
                      "parameterOrder": [
                        "migratingVm"
                      ],
                      "id": "vmmigration.projects.locations.sources.migratingVms.extendMigration",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "migratingVm": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The name of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/migratingVms",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms",
                      "request": {
                        "$ref": "MigratingVm"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new MigratingVm in a given Source.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vmmigration.projects.locations.sources.migratingVms.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "migratingVmId": {
                          "description": "Required. The migratingVm identifier.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The MigratingVm's parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "location": "path"
                        }
                      }
                    },
                    "startMigration": {
                      "path": "v1/{+migratingVm}:startMigration",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}:startMigration",
                      "request": {
                        "$ref": "StartMigrationRequest"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Starts migration for a VM. Starts the process of uploading data and creating snapshots, in replication cycles scheduled by the policy.",
                      "parameterOrder": [
                        "migratingVm"
                      ],
                      "id": "vmmigration.projects.locations.sources.migratingVms.startMigration",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "migratingVm": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "description": "Required. The name of the MigratingVm.",
                          "location": "path"
                        }
                      }
                    },
                    "pauseMigration": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "PauseMigrationRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+migratingVm}:pauseMigration",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}:pauseMigration",
                      "id": "vmmigration.projects.locations.sources.migratingVms.pauseMigration",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "migratingVm": {
                          "location": "path",
                          "description": "Required. The name of the MigratingVm.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Pauses a migration for a VM. If cycle tasks are running they will be cancelled, preserving source task data. Further replication cycles will not be triggered while the VM is paused.",
                      "parameterOrder": [
                        "migratingVm"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}",
                      "httpMethod": "DELETE",
                      "id": "vmmigration.projects.locations.sources.migratingVms.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                          "description": "Required. The name of the MigratingVm.",
                          "location": "path"
                        }
                      },
                      "description": "Deletes a single MigratingVm.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Optional. The filter request.",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "MIGRATING_VM_VIEW_UNSPECIFIED",
                            "MIGRATING_VM_VIEW_BASIC",
                            "MIGRATING_VM_VIEW_FULL"
                          ],
                          "description": "Optional. The level of details of each migrating VM.",
                          "enumDescriptions": [
                            "View is unspecified. The API will fallback to the default value.",
                            "Get the migrating VM basic details. The basic details do not include the recent clone jobs and recent cutover jobs lists.",
                            "Include everything."
                          ],
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent, which owns this collection of MigratingVms.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of migrating VMs to return. The service may return fewer than this value. If unspecified, at most 500 migrating VMs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Required. A page token, received from a previous `ListMigratingVms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListMigratingVms` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. the order by fields for the result.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.migratingVms.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists MigratingVms in a given Source.",
                      "response": {
                        "$ref": "ListMigratingVmsResponse"
                      },
                      "path": "v1/{+parent}/migratingVms",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms",
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "cloneJobs": {
                      "methods": {
                        "get": {
                          "response": {
                            "$ref": "CloneJob"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs/{cloneJobsId}",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cloneJobs/[^/]+$",
                              "description": "Required. The name of the CloneJob.",
                              "location": "path"
                            }
                          },
                          "description": "Gets details of a single CloneJob.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "cancel": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1/{+name}:cancel",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs/{cloneJobsId}:cancel",
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CancelCloneJobRequest"
                          },
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The clone job id",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cloneJobs/[^/]+$"
                            }
                          },
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Initiates the cancellation of a running clone job."
                        },
                        "create": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1/{+parent}/cloneJobs",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs",
                          "request": {
                            "$ref": "CloneJob"
                          },
                          "httpMethod": "POST",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "cloneJobId": {
                              "location": "query",
                              "description": "Required. The clone job identifier.",
                              "type": "string"
                            },
                            "requestId": {
                              "location": "query",
                              "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "description": "Required. The Clone's parent.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Initiates a Clone of a specific migrating VM.",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "response": {
                            "$ref": "ListCloneJobsResponse"
                          },
                          "path": "v1/{+parent}/cloneJobs",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cloneJobs",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "Required. A page token, received from a previous `ListCloneJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCloneJobs` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "description": "Optional. the order by fields for the result.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum number of clone jobs to return. The service may return fewer than this value. If unspecified, at most 500 clone jobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "description": "Required. The parent, which owns this collection of source VMs."
                            },
                            "filter": {
                              "description": "Optional. The filter request.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "id": "vmmigration.projects.locations.sources.migratingVms.cloneJobs.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "Lists the CloneJobs of a migrating VM. Only 25 most recent CloneJobs are listed."
                        }
                      }
                    },
                    "cutoverJobs": {
                      "methods": {
                        "cancel": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "CancelCutoverJobRequest"
                          },
                          "path": "v1/{+name}:cancel",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs/{cutoverJobsId}:cancel",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Initiates the cancellation of a running cutover job.",
                          "parameters": {
                            "name": {
                              "description": "Required. The cutover job id",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cutoverJobs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "create": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "CutoverJob"
                          },
                          "httpMethod": "POST",
                          "path": "v1/{+parent}/cutoverJobs",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "cutoverJobId": {
                              "description": "Required. The cutover job identifier.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The Cutover's parent.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                            },
                            "requestId": {
                              "location": "query",
                              "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                              "type": "string"
                            }
                          },
                          "description": "Initiates a Cutover of a specific migrating VM. The returned LRO is completed when the cutover job resource is created and the job is initiated.",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "list": {
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "filter": {
                              "description": "Optional. The filter request.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "Required. The parent, which owns this collection of migrating VMs.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum number of cutover jobs to return. The service may return fewer than this value. If unspecified, at most 500 cutover jobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Required. A page token, received from a previous `ListCutoverJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListCutoverJobs` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. the order by fields for the result.",
                              "type": "string"
                            }
                          },
                          "description": "Lists the CutoverJobs of a migrating VM. Only 25 most recent CutoverJobs are listed.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListCutoverJobsResponse"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/cutoverJobs",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs"
                        },
                        "get": {
                          "response": {
                            "$ref": "CutoverJob"
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/cutoverJobs/{cutoverJobsId}",
                          "id": "vmmigration.projects.locations.sources.migratingVms.cutoverJobs.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the CutoverJob.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/cutoverJobs/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "description": "Gets details of a single CutoverJob.",
                          "parameterOrder": [
                            "name"
                          ]
                        }
                      }
                    },
                    "replicationCycles": {
                      "methods": {
                        "list": {
                          "description": "Lists ReplicationCycles in a given MigratingVM.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "vmmigration.projects.locations.sources.migratingVms.replicationCycles.list",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. The parent, which owns this collection of ReplicationCycles.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+$",
                              "location": "path"
                            },
                            "filter": {
                              "description": "Optional. The filter request.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "Required. A page token, received from a previous `ListReplicationCycles` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListReplicationCycles` must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "description": "Optional. the order by fields for the result.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum number of replication cycles to return. The service may return fewer than this value. If unspecified, at most 100 migrating VMs will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                              "type": "integer"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/replicationCycles",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/replicationCycles",
                          "response": {
                            "$ref": "ListReplicationCyclesResponse"
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "ReplicationCycle"
                          },
                          "path": "v1/{+name}",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/migratingVms/{migratingVmsId}/replicationCycles/{replicationCyclesId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/migratingVms/[^/]+/replicationCycles/[^/]+$",
                              "description": "Required. The name of the ReplicationCycle."
                            }
                          },
                          "id": "vmmigration.projects.locations.sources.migratingVms.replicationCycles.get",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Gets details of a single ReplicationCycle."
                        }
                      }
                    }
                  }
                },
                "diskMigrationJobs": {
                  "methods": {
                    "cancel": {
                      "request": {
                        "$ref": "CancelDiskMigrationJobRequest"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs/{diskMigrationJobsId}:cancel",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Cancels the disk migration job.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/diskMigrationJobs/[^/]+$",
                          "description": "Required. The name of the DiskMigrationJob.",
                          "location": "path"
                        }
                      }
                    },
                    "create": {
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "description": "Required. The DiskMigrationJob's parent."
                        },
                        "diskMigrationJobId": {
                          "description": "Required. The DiskMigrationJob identifier. The maximum length of this value is 63 characters. Valid characters are lower case Latin letters, digits and hyphen. It must start with a Latin letter and must not end with a hyphen.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request timed out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "description": "Creates a new disk migration job in a given Source.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "DiskMigrationJob"
                      },
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/diskMigrationJobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs"
                    },
                    "list": {
                      "path": "v1/{+parent}/diskMigrationJobs",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListDiskMigrationJobsResponse"
                      },
                      "description": "Lists DiskMigrationJobs in a given Source.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListDiskMigrationJobs` call. Provide this to retrieve the subsequent page. When paginating, all parameters provided to `ListDiskMigrationJobs` except `page_size` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Ordering of the result list.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of disk migration jobs to return. The service may return fewer than this value. If unspecified, at most 500 disk migration jobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent, which owns this collection of DiskMigrationJobs.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. The filter request (according to AIP-160).",
                          "type": "string"
                        }
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs/{diskMigrationJobsId}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/diskMigrationJobs/[^/]+$",
                          "description": "Required. The name of the DiskMigrationJob.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes a single DiskMigrationJob."
                    },
                    "run": {
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the DiskMigrationJob.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/diskMigrationJobs/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Runs the disk migration job.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}:run",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs/{diskMigrationJobsId}:run",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RunDiskMigrationJobRequest"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/diskMigrationJobs/[^/]+$",
                          "description": "Required. The name of the DiskMigrationJob."
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single DiskMigrationJob.",
                      "response": {
                        "$ref": "DiskMigrationJob"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs/{diskMigrationJobsId}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/diskMigrationJobs/{diskMigrationJobsId}",
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "DiskMigrationJob"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates the parameters of a single DiskMigrationJob.",
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. Field mask is used to specify the fields to be overwritten in the DiskMigrationJob resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask. If the user does not provide a mask, then a mask equivalent to all fields that are populated (have a non-empty value), will be implied.",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request timed out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/diskMigrationJobs/[^/]+$",
                          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
                          "location": "path"
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.diskMigrationJobs.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "utilizationReports": {
                  "methods": {
                    "delete": {
                      "id": "vmmigration.projects.locations.sources.utilizationReports.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/utilizationReports/[^/]+$",
                          "description": "Required. The Utilization Report name.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "description": "Deletes a single Utilization Report.",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/utilizationReports/{utilizationReportsId}"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a single Utilization Report.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The Utilization Report name.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/utilizationReports/[^/]+$"
                        },
                        "view": {
                          "location": "query",
                          "enum": [
                            "UTILIZATION_REPORT_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Optional. The level of details of the report. Defaults to FULL",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to FULL on single report request and BASIC for multiple reports request.",
                            "Get the report metadata, without the list of VMs and their utilization info.",
                            "Include everything."
                          ],
                          "type": "string"
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.utilizationReports.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/utilizationReports/{utilizationReportsId}",
                      "response": {
                        "$ref": "UtilizationReport"
                      }
                    },
                    "list": {
                      "description": "Lists Utilization Reports of the given Source.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vmmigration.projects.locations.sources.utilizationReports.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "view": {
                          "location": "query",
                          "description": "Optional. The level of details of each report. Defaults to BASIC.",
                          "enum": [
                            "UTILIZATION_REPORT_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value. The API will default to FULL on single report request and BASIC for multiple reports request.",
                            "Get the report metadata, without the list of VMs and their utilization info.",
                            "Include everything."
                          ]
                        },
                        "filter": {
                          "description": "Optional. The filter request.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "description": "Required. The Utilization Reports parent.",
                          "required": true,
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 500 reports will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Required. A page token, received from a previous `ListUtilizationReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUtilizationReports` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. the order by fields for the result.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/utilizationReports",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/utilizationReports",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListUtilizationReportsResponse"
                      }
                    },
                    "create": {
                      "description": "Creates a new UtilizationReport.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vmmigration.projects.locations.sources.utilizationReports.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The Utilization Report's parent.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "utilizationReportId": {
                          "description": "Required. The ID to use for the report, which will become the final component of the reports's resource name. This value maximum length is 63 characters, and valid characters are /a-z-/. It must start with an english letter and must not end with a hyphen.",
                          "type": "string",
                          "location": "query"
                        },
                        "requestId": {
                          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/utilizationReports",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/utilizationReports",
                      "request": {
                        "$ref": "UtilizationReport"
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                },
                "datacenterConnectors": {
                  "methods": {
                    "get": {
                      "description": "Gets details of a single DatacenterConnector.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/datacenterConnectors/[^/]+$",
                          "description": "Required. The name of the DatacenterConnector.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors/{datacenterConnectorsId}",
                      "response": {
                        "$ref": "DatacenterConnector"
                      }
                    },
                    "upgradeAppliance": {
                      "path": "v1/{+datacenterConnector}:upgradeAppliance",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors/{datacenterConnectorsId}:upgradeAppliance",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "UpgradeApplianceRequest"
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "datacenterConnector"
                      ],
                      "description": "Upgrades the appliance relate to this DatacenterConnector to the in-place updateable version.",
                      "parameters": {
                        "datacenterConnector": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/sources/[^/]+/datacenterConnectors/[^/]+$",
                          "description": "Required. The DatacenterConnector name."
                        }
                      },
                      "id": "vmmigration.projects.locations.sources.datacenterConnectors.upgradeAppliance",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1/{+parent}/datacenterConnectors",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/sources/{sourcesId}/datacenterConnectors",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListDatacenterConnectorsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists DatacenterConnectors in a given Source.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of connectors to return. The service may return fewer than this value. If unspecified, at most 500 sources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
[...]
