{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "baseUrl": "https://vmmigration.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://vmmigration.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "ListCloneJobsResponse": {
      "description": "Response message for 'ListCloneJobs' request.",
      "id": "ListCloneJobsResponse",
      "type": "object",
      "properties": {
        "cloneJobs": {
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      }
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "id": "Group",
      "type": "object",
      "properties": {
        "migrationTargetType": {
          "type": "string",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group.",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ]
        },
        "name": {
          "description": "Output only. The Group name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse",
      "type": "object",
      "properties": {
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OSDisk": {
      "description": "A message describing the OS disk.",
      "id": "OSDisk",
      "type": "object",
      "properties": {
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "description": "The disk's size in GB.",
          "format": "int32"
        },
        "type": {
          "description": "The disk's type.",
          "type": "string"
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object",
      "properties": {},
      "description": "Details for a disk only migration."
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account."
        }
      },
      "description": "Service account to assign to the instance created by the machine image."
    },
    "DiskMigrationJobTargetDetails": {
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the disk."
        },
        "targetProject": {
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key."
        },
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        }
      }
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle",
      "type": "object",
      "properties": {
        "totalPauseDuration": {
          "type": "string",
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "description": "The time the replication cycle has started.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of the ReplicationCycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ]
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "format": "int32",
          "type": "integer"
        },
        "steps": {
          "description": "The cycle's steps list representing its progress.",
          "items": {
            "$ref": "CycleStep"
          },
          "type": "array"
        },
        "warnings": {
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime"
        },
        "progressPercent": {
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        }
      }
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        }
      }
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "id": "PauseMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "AddGroupMigrationRequest": {
      "id": "AddGroupMigrationRequest",
      "type": "object",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "description": "Request message for 'AddGroupMigration' request."
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "type": "object",
      "properties": {
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "cpuMaxPercent": {
          "description": "Max CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "description": "Max memory usage, percent.",
          "format": "int32"
        },
        "cpuAveragePercent": {
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "format": "int32"
        }
      }
    },
    "AzureDiskDetails": {
      "description": "The details of an Azure VM disk.",
      "id": "AzureDiskDetails",
      "type": "object",
      "properties": {
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true
        },
        "diskId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Azure disk ID."
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "targetProjects": {
          "type": "array",
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true
        }
      }
    },
    "AwsSourceVmDetails": {
      "description": "Represent the source AWS VM details.",
      "id": "AwsSourceVmDetails",
      "type": "object",
      "properties": {
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64"
        },
        "disks": {
          "items": {
            "$ref": "AwsDiskDetails"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The disks attached to the source VM."
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The VM architecture."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListImageImportJobsResponse": {
      "id": "ListImageImportJobsResponse",
      "type": "object",
      "properties": {
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of target response."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListImageImportJobs' call."
    },
    "DisksMigrationVmTargetDefaults": {
      "id": "DisksMigrationVmTargetDefaults",
      "type": "object",
      "properties": {
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "Optional. NICs to attach to the VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "networkTags": {
          "description": "Optional. A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the VM."
        },
        "bootDiskDefaults": {
          "$ref": "BootDiskDefaults",
          "description": "Optional. Details of the boot disk of the VM."
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM."
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        }
      },
      "description": "Details for creation of a VM that migrated data disks will be attached to."
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sources": {
          "type": "array",
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListSources' request."
    },
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details."
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      },
      "description": "Tag is an AWS tag representation."
    },
    "VmCapabilities": {
      "id": "VmCapabilities",
      "type": "object",
      "properties": {
        "osCapabilities": {
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          },
          "type": "array"
        },
        "lastOsCapabilitiesUpdateTime": {
          "type": "string",
          "description": "Output only. The last time OS capabilities list was updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features."
    },
    "VmwareVmDetails": {
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails",
      "type": "object",
      "properties": {
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The size of the memory of the VM in MB.",
          "format": "int32"
        },
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus in the VM.",
          "format": "int32"
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse",
      "type": "object",
      "properties": {
        "utilizationReports": {
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "ListReplicationCyclesResponse": {
      "id": "ListReplicationCyclesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "type": "object",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details."
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "datacenterConnectors": {
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string"
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM disks."
        }
      }
    },
    "ComputeEngineDisksTargetDetails": {
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "type": "object",
      "properties": {
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        },
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk."
        }
      }
    },
    "CancelCutoverJobRequest": {
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "type": "object",
      "properties": {}
    },
    "ImageImportJob": {
      "id": "ImageImportJob",
      "type": "object",
      "properties": {
        "diskImageTargetDetails": {
          "$ref": "DiskImageTargetDetails",
          "description": "Output only. Target details used to import a disk image.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the image import was ended.",
          "format": "google-datetime"
        },
        "cloudStorageUri": {
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "readOnly": true,
          "type": "string"
        },
        "createdResources": {
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "description": "Output only. The state of the image import."
        },
        "machineImageTargetDetails": {
          "$ref": "MachineImageTargetDetails",
          "readOnly": true,
          "description": "Output only. Target details used to import a machine image."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path of the ImageImportJob.",
          "readOnly": true
        },
        "errors": {
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the image import.",
          "readOnly": true
        },
        "steps": {
          "items": {
            "$ref": "ImageImportStep"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The image import steps list representing its progress."
        }
      },
      "description": "ImageImportJob describes the progress and result of an image import."
    },
    "Disk": {
      "description": "A message describing a data disk.",
      "id": "Disk",
      "type": "object",
      "properties": {
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The disk size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "lun": {
          "type": "integer",
          "description": "The disk's Logical Unit Number (LUN).",
          "format": "int32"
        }
      }
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "type": "object",
      "properties": {
        "type": {
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "DataDiskImageImport": {
      "description": "Used when the image import is not using OS adaptation process.",
      "id": "DataDiskImageImport",
      "type": "object",
      "properties": {
        "guestOsFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
        }
      }
    },
    "SkipOsAdaptation": {
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "id": "SkipOsAdaptation",
      "type": "object",
      "properties": {}
    },
    "AwsDiskDetails": {
      "description": "The details of an AWS instance disk.",
      "id": "AwsDiskDetails",
      "type": "object",
      "properties": {
        "diskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "type": "integer"
        },
        "volumeId": {
          "readOnly": true,
          "description": "Output only. AWS volume ID.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AvailableUpdates": {
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates",
      "type": "object",
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        }
      }
    },
    "ComputeScheduling": {
      "id": "ComputeScheduling",
      "type": "object",
      "properties": {
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "type": "array"
        },
        "onHostMaintenance": {
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "type": "string"
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string"
        },
        "minNodeCpus": {
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
    },
    "ComputeEngineDisksTargetDefaults": {
      "id": "ComputeEngineDisksTargetDefaults",
      "type": "object",
      "properties": {
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "type": "object",
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      },
      "description": "Request message for 'RemoveMigration' request."
    },
    "AzureVmsDetails": {
      "description": "AzureVmsDetails describes VMs in Azure.",
      "id": "AzureVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "description": "The details of the Azure VMs.",
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "id": "Encryption",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "type": "object",
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "description": "Contains details about the image source used to create the disk."
    },
    "CopyingSourceDiskSnapshotStep": {
      "id": "CopyingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {},
      "description": "CopyingSourceDiskSnapshotStep contains specific step details."
    },
    "DiskMigrationJob": {
      "id": "DiskMigrationJob",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the DiskMigrationJob.",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ]
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "format": "google-datetime"
        },
        "steps": {
          "description": "Output only. The disk migration steps list representing its progress.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          }
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached."
    },
    "PersistentDiskDefaults": {
      "id": "PersistentDiskDefaults",
      "type": "object",
      "properties": {
        "additionalLabels": {
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk.",
          "$ref": "Encryption"
        },
        "diskType": {
          "description": "The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "sourceDiskNumber": {
          "description": "Required. The ordinal number of the source VM disk.",
          "format": "int32",
          "type": "integer"
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        }
      },
      "description": "Details for creation of a Persistent Disk."
    },
    "VmwareSourceVmDetails": {
      "description": "Represent the source Vmware VM details.",
      "id": "VmwareSourceVmDetails",
      "type": "object",
      "properties": {
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "architecture": {
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "firmware": {
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64",
          "readOnly": true
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true
        }
      }
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "type": "object",
      "properties": {
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "description": "The warning code.",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ]
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "warningTime": {
          "type": "string",
          "description": "The time the warning occurred.",
          "format": "google-datetime"
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current warning."
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations."
    },
    "CreatingImageStep": {
      "description": "CreatingImageStep contains specific step details.",
      "id": "CreatingImageStep",
      "type": "object",
      "properties": {}
    },
    "LoadingImageSourceFilesStep": {
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "id": "LoadingImageSourceFilesStep",
      "type": "object",
      "properties": {}
    },
    "ReplicatingStep": {
      "description": "ReplicatingStep contains specific step details.",
      "id": "ReplicatingStep",
      "type": "object",
      "properties": {
        "lastThirtyMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "format": "int64",
          "type": "string"
        },
        "totalBytes": {
          "type": "string",
          "description": "Total bytes to be handled in the step.",
          "format": "int64"
        },
        "replicatedBytes": {
          "description": "Replicated bytes in the step.",
          "format": "int64",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "Output only. The list of groups response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListGroups' request."
    },
    "TargetProject": {
      "id": "TargetProject",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the target project.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the target project resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone."
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        }
      }
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "id": "VmwareDiskDetails",
      "type": "object",
      "properties": {
        "diskNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32"
        },
        "label": {
          "description": "Output only. The disk label.",
          "readOnly": true,
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime"
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Source name.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information."
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "id": "AwsVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array",
          "description": "The details of the AWS VMs."
        }
      }
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "type": "object",
      "properties": {
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        }
      }
    },
    "ResumeMigrationRequest": {
      "id": "ResumeMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'ResumeMigration' request."
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        }
      },
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret."
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "properties": {
        "diskType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ]
        },
        "sizeGib": {
          "type": "string",
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "readOnly": true
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Represents the source AWS Disk details."
    },
    "PreparingVMDisksStep": {
      "id": "PreparingVMDisksStep",
      "type": "object",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details."
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "type": "object",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Corresponds to the label values of Node resource."
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "type": "string",
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        }
      }
    },
    "DisksMigrationDisksTargetDetails": {
      "description": "Details for a disks-only migration.",
      "id": "DisksMigrationDisksTargetDetails",
      "type": "object",
      "properties": {}
    },
    "DiskImageTargetDetails": {
      "id": "DiskImageTargetDetails",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        }
      },
      "description": "The target details of the image resource that will be created by the import job."
    },
    "ExtendMigrationRequest": {
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "id": "ExtendMigrationRequest",
      "type": "object",
      "properties": {}
    },
    "InitializingImageImportStep": {
      "description": "InitializingImageImportStep contains specific step details.",
      "id": "InitializingImageImportStep",
      "type": "object",
      "properties": {}
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "type": "object",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the source VM disk.",
          "format": "int32",
          "readOnly": true
        },
        "diskUri": {
          "type": "string",
          "description": "Output only. The URI of the Persistent Disk.",
          "readOnly": true
        }
      },
      "description": "Details of a created Persistent Disk."
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "id": "CutoverForecast",
      "type": "object",
      "properties": {
        "estimatedCutoverJobDuration": {
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration.",
          "format": "google-duration",
          "readOnly": true
        }
      }
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "id": "FetchStorageInventoryResponse",
      "type": "object",
      "properties": {
        "resources": {
          "description": "The list of storage resources in the source.",
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "type": "object",
      "properties": {
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        }
      },
      "description": "Message describing AWS Credentials using access key id and secret."
    },
    "ImageImportStep": {
      "id": "ImageImportStep",
      "type": "object",
      "properties": {
        "loadingSourceFiles": {
          "description": "Loading source files step.",
          "$ref": "LoadingImageSourceFilesStep"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "initializing": {
          "$ref": "InitializingImageImportStep",
          "description": "Initializing step."
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "ImageImportStep holds information about the image import step progress."
    },
    "AzureVmDetails": {
      "id": "AzureVmDetails",
      "type": "object",
      "properties": {
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk.",
          "format": "int32"
        },
        "osDisk": {
          "$ref": "OSDisk",
          "description": "Description of the OS disk."
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "type": "array",
          "description": "Description of the data disks."
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ]
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        }
      },
      "description": "AzureVmDetails describes a VM in Azure."
    },
    "Expiration": {
      "id": "Expiration",
      "type": "object",
      "properties": {
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true,
          "type": "boolean"
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "extensionCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The number of times expiration was extended.",
          "format": "int32"
        }
      },
      "description": "Expiration holds information about the expiration of a MigratingVm."
    },
    "CloneJob": {
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "id": "CloneJob",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime"
        },
        "steps": {
          "items": {
            "$ref": "CloneStep"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The clone steps list representing its progress."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "description": "Output only. State of the clone job."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs."
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter."
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "type": "object",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskType": {
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM."
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "id": "ImageImport",
      "type": "object",
      "properties": {
        "recentImageImportJobs": {
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport.",
          "type": "string"
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        }
      }
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "type": "object",
      "properties": {
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        }
      },
      "description": "CutoverStep holds information about the cutover step progress."
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "type": "object",
      "properties": {
        "awsDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Source AWS volume details."
        }
      }
    },
    "VmAttachmentDetails": {
      "id": "VmAttachmentDetails",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "description": "Details for attachment of the disk to a VM."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
[...]
