{
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "schemas": {
    "UpgradeApplianceRequest": {
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object",
      "id": "UpgradeApplianceRequest"
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "DataDiskImageImport": {
      "id": "DataDiskImageImport",
      "description": "Used when the image import is not using OS adaptation process.",
      "properties": {
        "guestOsFeatures": {
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource path of the ImageImport.",
          "readOnly": true,
          "type": "string"
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the image import was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "recentImageImportJobs": {
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true,
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs."
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        }
      },
      "id": "ImageImport"
    },
    "DatacenterConnector": {
      "properties": {
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last set."
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "availableVersions": {
          "readOnly": true,
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance."
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The connector's name."
        },
        "applianceInfrastructureVersion": {
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed)."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to use in the connector when communicating with the cloud."
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true
        }
      },
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "id": "DatacenterConnector",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "properties": {},
      "id": "FinalizeMigrationRequest",
      "type": "object"
    },
    "Encryption": {
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS."
        }
      },
      "type": "object",
      "description": "Encryption message describes the details of the applied encryption.",
      "id": "Encryption"
    },
    "AzureDiskDetails": {
      "type": "object",
      "properties": {
        "diskId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Azure disk ID."
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64"
        },
        "diskNumber": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer"
        }
      },
      "description": "The details of an Azure VM disk.",
      "id": "AzureDiskDetails"
    },
    "PersistentDisk": {
      "type": "object",
      "id": "PersistentDisk",
      "description": "Details of a created Persistent Disk.",
      "properties": {
        "diskUri": {
          "description": "Output only. The URI of the Persistent Disk.",
          "type": "string",
          "readOnly": true
        },
        "sourceDiskNumber": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk."
        }
      }
    },
    "ListMigratingVmsResponse": {
      "type": "object",
      "properties": {
        "migratingVms": {
          "readOnly": true,
          "items": {
            "$ref": "MigratingVm"
          },
          "type": "array",
          "description": "Output only. The list of Migrating VMs response."
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request."
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "type": "object",
      "description": "Contains details about the image source used to create the disk.",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "type": "object",
      "properties": {},
      "description": "Details for a disk only migration.",
      "id": "DisksMigrationDisksTargetDefaults"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "properties": {},
      "id": "CancelImageImportJobRequest",
      "type": "object"
    },
    "DiskMigrationJob": {
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the DiskMigrationJob resource was created."
        },
        "state": {
          "description": "Output only. State of the DiskMigrationJob.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        },
        "errors": {
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
        "steps": {
          "type": "array",
          "description": "Output only. The disk migration steps list representing its progress.",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "id": "DiskMigrationJob"
    },
    "ListGroupsResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of groups response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for 'ListGroups' request.",
      "id": "ListGroupsResponse"
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "description": "Describes a URL link.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      }
    },
    "RemoveGroupMigrationRequest": {
      "type": "object",
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "id": "RemoveGroupMigrationRequest"
    },
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "VmwareDiskDetails": {
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk.",
      "properties": {
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "diskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true
        },
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The disk label."
        }
      },
      "type": "object"
    },
    "NetworkInterface": {
      "id": "NetworkInterface",
      "properties": {
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ]
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "id": "CancelCloneJobRequest",
      "properties": {}
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "id": "ListReplicationCyclesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "replicationCycles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          },
          "description": "Output only. The list of replication cycles response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DisksMigrationVmTargetDefaults": {
      "type": "object",
      "id": "DisksMigrationVmTargetDefaults",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. The machine type to create the VM with."
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "Optional. NICs to attach to the VM."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM.",
          "type": "array"
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of network tags to associate with the VM.",
          "type": "array"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "Optional. The machine type series to create the VM with. For presentation only."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the VM."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        }
      },
      "description": "Details for creation of a VM that migrated data disks will be attached to."
    },
    "UpgradeStatus": {
      "type": "object",
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "type": "string",
          "description": "The state of the upgradeAppliance operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the operation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error."
        }
      }
    },
    "PreparingVMDisksStep": {
      "id": "PreparingVMDisksStep",
      "type": "object",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details."
    },
    "DiskMigrationStep": {
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "id": "DiskMigrationStep",
      "type": "object",
      "properties": {
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the step has started.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the step has ended.",
          "type": "string",
          "readOnly": true
        },
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        }
      }
    },
    "ListCutoverJobsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array",
          "description": "Output only. The list of cutover jobs response.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "type": "object",
      "id": "ListCutoverJobsResponse"
    },
    "ComputeEngineDisk": {
      "type": "object",
      "properties": {
        "replicaZones": {
          "type": "array",
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "items": {
            "type": "string"
          }
        },
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        }
      },
      "description": "Compute Engine disk target details.",
      "id": "ComputeEngineDisk"
    },
    "ProvisioningTargetDiskStep": {
      "type": "object",
      "id": "ProvisioningTargetDiskStep",
      "properties": {},
      "description": "ProvisioningTargetDiskStep contains specific step details."
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array",
          "description": "The details of the AWS VMs."
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProjects": {
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          },
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse",
      "type": "object"
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "type": "object",
      "id": "SchedulingNodeAffinity",
      "properties": {
        "operator": {
          "type": "string",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter."
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "VmUtilizationMetrics": {
      "properties": {
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "networkThroughputAverageKbps": {
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "cpuMaxPercent": {
          "format": "int32",
          "description": "Max CPU usage, percent.",
          "type": "integer"
        },
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Utilization metrics values for a single VM.",
      "type": "object",
      "id": "VmUtilizationMetrics"
    },
    "AzureSourceDetails": {
      "id": "AzureSourceDetails",
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "properties": {
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        },
        "resourceGroupId": {
          "readOnly": true,
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "type": "string"
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`."
        },
        "azureLocation": {
          "type": "string",
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from."
        },
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "state": {
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Disk": {
      "type": "object",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "description": "The disk size in GB.",
          "format": "int32"
        },
        "lun": {
          "type": "integer",
          "description": "The disk's Logical Unit Number (LUN).",
          "format": "int32"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        }
      },
      "id": "Disk",
      "description": "A message describing a data disk."
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM."
        },
        "diskType": {
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "bootConversion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        }
      },
      "type": "object"
    },
    "SourceStorageResource": {
      "type": "object",
      "id": "SourceStorageResource",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "description": "SourceStorageResource describes a storage resource in the source."
    },
    "UtilizationReport": {
      "type": "object",
      "id": "UtilizationReport",
      "properties": {
        "timeFrame": {
          "type": "string",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report."
        },
        "name": {
          "description": "Output only. The report unique name.",
          "readOnly": true,
          "type": "string"
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "vmCount": {
          "description": "Output only. Total number of VMs included in the report.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "readOnly": true,
          "description": "Output only. Current state of the report.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "frameEndTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "type": "string"
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "$ref": "Status"
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs."
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "id": "ComputeEngineDisksTargetDefaults",
      "properties": {
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        }
      },
      "type": "object"
    },
    "AwsSourceVmDetails": {
      "type": "object",
      "properties": {
        "firmware": {
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "disks": {
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "AwsDiskDetails"
          }
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VM architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        }
      },
      "id": "AwsSourceVmDetails",
      "description": "Represent the source AWS VM details."
    },
    "AzureVmsDetails": {
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs.",
          "type": "array"
        }
      },
      "id": "AzureVmsDetails",
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source.",
          "type": "object"
        }
      },
      "id": "Source",
      "type": "object"
    },
    "ApplianceVersion": {
      "description": "Describes an appliance version.",
      "id": "ApplianceVersion",
      "properties": {
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "critical": {
          "type": "boolean",
          "description": "Determine whether it's critical to upgrade the appliance to this version."
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        }
      },
      "type": "object"
    },
    "CloneStep": {
      "type": "object",
      "id": "CloneStep",
      "description": "CloneStep holds information about the clone step progress.",
      "properties": {
        "adaptingOs": {
          "$ref": "AdaptingOSStep",
          "description": "Adapting OS step."
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the step has ended.",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AzureSourceVmDetails": {
      "properties": {
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities"
        },
        "firmware": {
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string"
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true,
          "type": "array"
        },
        "committedStorageBytes": {
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "AzureSourceVmDetails",
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "ServiceAccount": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account.",
          "type": "array"
        }
      },
      "description": "Service account to assign to the instance created by the machine image.",
      "id": "ServiceAccount"
    },
    "MigrationError": {
      "properties": {
        "helpLinks": {
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "code": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "description": "Output only. The error code.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ]
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "errorTime": {
          "readOnly": true,
          "description": "Output only. The time the error occurred.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations."
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Tag"
    },
    "MachineImageTargetDetails": {
      "type": "object",
      "properties": {
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import."
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "skipOsAdaptation": {
          "$ref": "SkipOsAdaptation",
          "description": "Optional. Use to skip OS adaptation process."
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        }
      },
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails"
    },
    "ListCloneJobsResponse": {
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "cloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCloneJobsResponse"
    },
    "AwsDiskDetails": {
      "description": "The details of an AWS instance disk.",
      "properties": {
        "volumeId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. AWS volume ID."
        },
        "sizeGb": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size in GB."
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "AwsDiskDetails"
    },
    "MachineImageParametersOverrides": {
      "id": "MachineImageParametersOverrides",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource."
        }
      },
      "description": "Parameters overriding decisions based on the source machine image configurations."
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "secureBoot": {
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "type": "string"
        }
      },
      "description": "Shielded instance configuration.",
      "type": "object"
    },
    "CutoverJob": {
      "type": "object",
      "properties": {
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the cutover job.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "stateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "type": "string"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state."
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "items": {
            "$ref": "CutoverStep"
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot."
    },
    "ComputeEngineDisksTargetDetails": {
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        },
        "disks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array",
          "description": "The details of each created Persistent Disk."
        }
      },
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "type": "object"
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "properties": {},
      "type": "object",
      "description": "InitializingImageImportStep contains specific step details."
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "properties": {
        "sizeGib": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size in GiB.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type.",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Optional. Output only. A map of AWS volume tags."
        },
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        }
      },
      "description": "Represents the source AWS Disk details.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ImageImportStep": {
      "type": "object",
      "description": "ImageImportStep holds information about the image import step progress.",
      "id": "ImageImportStep",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the step has started.",
          "format": "google-datetime"
        },
        "loadingSourceFiles": {
          "$ref": "LoadingImageSourceFilesStep",
          "description": "Loading source files step."
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the step has ended."
        },
        "initializing": {
          "$ref": "InitializingImageImportStep",
          "description": "Initializing step."
        }
      }
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "id": "ListImageImportJobsResponse"
    },
    "PostProcessingStep": {
      "type": "object",
      "id": "PostProcessingStep",
      "properties": {},
      "description": "PostProcessingStep contains specific step details."
    },
    "CloneJob": {
      "id": "CloneJob",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the clone job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the clone job was ended."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The clone steps list representing its progress.",
          "items": {
            "$ref": "CloneStep"
          }
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the clone.",
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last updated."
        }
      }
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object",
      "id": "AppliedLicense",
      "properties": {
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type that was used in OS adaptation.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "PersistentDiskDefaults": {
      "type": "object",
      "id": "PersistentDiskDefaults",
      "properties": {
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the Persistent Disk to create."
        },
        "diskType": {
          "description": "The disk type to use.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk.",
          "type": "integer"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the Persistent Disk."
        }
      },
      "description": "Details for creation of a Persistent Disk."
    },
    "AdaptingOSStep": {
      "properties": {},
      "id": "AdaptingOSStep",
      "description": "AdaptingOSStep contains specific step details.",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true,
          "$ref": "AppliedLicense"
        },
        "additionalLicenses": {
          "type": "array",
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          }
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "List of NICs connected to this VM."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "disks": {
          "description": "Optional. The details of each disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "readOnly": true
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ReplicationSync": {
      "type": "object",
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "properties": {
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "id": "ReplicationSync"
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "type": "object",
      "id": "Group",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "type": "string"
        },
        "migrationTargetType": {
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. The Group name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "description": "Details for the VM created VM as part of disks migration.",
      "type": "object",
      "properties": {
        "vmUri": {
          "type": "string",
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true
        }
      }
    },
    "LoadingImageSourceFilesStep": {
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object",
      "id": "LoadingImageSourceFilesStep",
      "properties": {}
    },
    "SchedulePolicy": {
      "type": "object",
      "properties": {
        "idleDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The idle duration between replication stages."
        },
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        }
      },
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy"
    },
    "CreatingImageStep": {
      "properties": {},
      "id": "CreatingImageStep",
      "description": "CreatingImageStep contains specific step details.",
      "type": "object"
    },
    "ExtendMigrationRequest": {
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "id": "ExtendMigrationRequest",
      "properties": {},
      "type": "object"
    },
    "VmAttachmentDetails": {
      "type": "object",
      "id": "VmAttachmentDetails",
      "description": "Details for attachment of the disk to a VM.",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location"
    },
    "AddGroupMigrationRequest": {
      "description": "Request message for 'AddGroupMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "type": "object",
      "id": "AddGroupMigrationRequest"
    },
    "ComputeScheduling": {
      "id": "ComputeScheduling",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "type": "object",
      "properties": {
        "onHostMaintenance": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        },
        "minNodeCpus": {
          "type": "integer",
          "format": "int32",
[...]
