{
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "v1",
  "name": "vmmigration",
  "id": "vmmigration:v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "CloneJob": {
      "id": "CloneJob",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the clone.",
          "type": "string",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "steps": {
          "description": "Output only. The clone steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          },
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target)."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "description": "Output only. State of the clone job.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the clone job was ended.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "groups": {
          "items": {
            "$ref": "Group"
          },
          "readOnly": true,
          "description": "Output only. The list of groups response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "AzureDiskDetails": {
      "properties": {
        "diskId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Azure disk ID."
        },
        "sizeGb": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in GB."
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The details of an Azure VM disk.",
      "id": "AzureDiskDetails"
    },
    "PostProcessingStep": {
      "type": "object",
      "id": "PostProcessingStep",
      "description": "PostProcessingStep contains specific step details.",
      "properties": {}
    },
    "OSDisk": {
      "description": "A message describing the OS disk.",
      "type": "object",
      "id": "OSDisk",
      "properties": {
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "The disk's size in GB.",
          "type": "integer"
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        }
      }
    },
    "VmwareSourceVmDetails": {
      "properties": {
        "committedStorageBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "firmware": {
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true
        }
      },
      "id": "VmwareSourceVmDetails",
      "type": "object",
      "description": "Represent the source Vmware VM details."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AzureVmsDetails": {
      "description": "AzureVmsDetails describes VMs in Azure.",
      "id": "AzureVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the Azure VMs.",
          "items": {
            "$ref": "AzureVmDetails"
          }
        }
      }
    },
    "VmwareVmDetails": {
      "properties": {
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ]
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "type": "integer",
          "format": "int32"
        },
        "memoryMb": {
          "format": "int32",
          "type": "integer",
          "description": "The size of the memory of the VM in MB."
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "bootOption": {
          "type": "string",
          "description": "Output only. The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this is not necessarily unique."
        }
      },
      "type": "object",
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails"
    },
    "MachineImageParametersOverrides": {
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "id": "MachineImageParametersOverrides",
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "type": "object"
    },
    "LoadingImageSourceFilesStep": {
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object",
      "properties": {},
      "id": "LoadingImageSourceFilesStep"
    },
    "AwsSecurityGroup": {
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        }
      },
      "id": "AwsSecurityGroup",
      "type": "object",
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "AzureSourceDetails": {
      "id": "AzureSourceDetails",
      "type": "object",
      "properties": {
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "resourceGroupId": {
          "type": "string",
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Immutable. Azure subscription ID."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status"
        }
      },
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type."
    },
    "InitializingImageImportStep": {
      "properties": {},
      "description": "InitializingImageImportStep contains specific step details.",
      "id": "InitializingImageImportStep",
      "type": "object"
    },
    "UpgradeStatus": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the upgradeAppliance operation."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error."
        },
        "previousVersion": {
          "type": "string",
          "description": "The version from which we upgraded."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the operation was started.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version to upgrade to."
        }
      },
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "type": "object",
      "properties": {
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string"
        },
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling"
    },
    "CopyingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CopyingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CopyingSourceDiskSnapshotStep contains specific step details."
    },
    "FetchInventoryResponse": {
      "id": "FetchInventoryResponse",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for fetchInventory."
    },
    "SkipOsAdaptation": {
      "type": "object",
      "id": "SkipOsAdaptation",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "properties": {}
    },
    "ListImageImportJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "imageImportJobs": {
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true
        }
      },
      "description": "Response message for 'ListImageImportJobs' call.",
      "id": "ListImageImportJobsResponse"
    },
    "DisksMigrationDisksTargetDefaults": {
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object",
      "description": "Details for a disk only migration."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "Expiration": {
      "id": "Expiration",
      "properties": {
        "extensionCount": {
          "description": "Output only. The number of times expiration was extended.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "readOnly": true,
          "type": "string"
        },
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Expiration holds information about the expiration of a MigratingVm."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AwsSourceVmDetails": {
      "id": "AwsSourceVmDetails",
      "properties": {
        "disks": {
          "readOnly": true,
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AwsDiskDetails"
          },
          "type": "array"
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM."
        },
        "committedStorageBytes": {
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represent the source AWS VM details.",
      "type": "object"
    },
    "MigrationWarning": {
      "type": "object",
      "id": "MigrationWarning",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "warningTime": {
          "description": "The time the warning occurred.",
          "type": "string",
          "format": "google-datetime"
        },
        "helpLinks": {
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "readOnly": true
        },
        "warningMessage": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized warning message."
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "description": "The warning code."
        }
      }
    },
    "CancelDiskMigrationJobRequest": {
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "properties": {},
      "type": "object",
      "id": "CancelDiskMigrationJobRequest"
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "cutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response."
        }
      }
    },
    "AppliedLicense": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "type": "object"
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "properties": {},
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request.",
      "id": "FinalizeMigrationRequest",
      "type": "object"
    },
    "DiskMigrationJobTargetDetails": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Optional. A map of labels to associate with the disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        }
      },
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails"
    },
    "AvailableUpdates": {
      "type": "object",
      "description": "Holds information about the available versions for upgrade.",
      "properties": {
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "id": "AvailableUpdates"
    },
    "VmCapabilities": {
      "properties": {
        "osCapabilities": {
          "items": {
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features."
        },
        "lastOsCapabilitiesUpdateTime": {
          "readOnly": true,
          "description": "Output only. The last time OS capabilities list was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "type": "object",
      "id": "VmCapabilities"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "ListMigratingVmsResponse": {
      "properties": {
        "migratingVms": {
          "items": {
            "$ref": "MigratingVm"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of Migrating VMs response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListMigratingVmsResponse",
      "type": "object",
      "description": "Response message for 'ListMigratingVms' request."
    },
    "DisksMigrationVmTargetDetails": {
      "type": "object",
      "id": "DisksMigrationVmTargetDetails",
      "description": "Details for the VM created VM as part of disks migration.",
      "properties": {
        "vmUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM."
        }
      }
    },
    "VmUtilizationInfo": {
      "type": "object",
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo",
      "properties": {
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmwareVmDetails": {
          "$ref": "VmwareVmDetails",
          "description": "The description of the VM in a Source of type Vmware."
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        }
      }
    },
    "CloneStep": {
      "type": "object",
      "id": "CloneStep",
      "properties": {
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "adaptingOs": {
          "$ref": "AdaptingOSStep",
          "description": "Adapting OS step."
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has ended."
        }
      },
      "description": "CloneStep holds information about the clone step progress."
    },
    "AwsSourceDetails": {
      "id": "AwsSourceDetails",
      "properties": {
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "publicIp": {
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string"
        },
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        }
      },
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "type": "object"
    },
    "SourceStorageResource": {
      "id": "SourceStorageResource",
      "description": "SourceStorageResource describes a storage resource in the source.",
      "properties": {
        "awsDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Source AWS volume details."
        }
      },
      "type": "object"
    },
    "ListUtilizationReportsResponse": {
      "properties": {
        "utilizationReports": {
          "items": {
            "$ref": "UtilizationReport"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of reports."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse"
    },
    "ComputeEngineDisk": {
      "id": "ComputeEngineDisk",
      "type": "object",
      "description": "Compute Engine disk target details.",
      "properties": {
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported."
        },
        "diskId": {
          "type": "string",
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk."
        },
        "zone": {
          "type": "string",
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Required. The disk type to use.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        }
      }
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "readOnly": true,
          "description": "Output only. Estimation of the CutoverJob duration.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
    },
    "UtilizationReport": {
      "properties": {
        "vmCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The report unique name.",
          "type": "string"
        },
        "timeFrame": {
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the report.",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "frameEndTime": {
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        }
      },
      "type": "object",
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport"
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "id": "FetchStorageInventoryResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "resources": {
          "description": "The list of storage resources in the source.",
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          }
        }
      },
      "type": "object"
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object"
    },
    "UpgradeApplianceRequest": {
      "id": "UpgradeApplianceRequest",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "ResumeMigrationRequest": {
      "properties": {},
      "id": "ResumeMigrationRequest",
      "type": "object",
      "description": "Request message for 'ResumeMigration' request."
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse",
      "type": "object",
      "properties": {
        "datacenterConnectors": {
          "type": "array",
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          }
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "PreparingVMDisksStep": {
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "id": "PreparingVMDisksStep",
      "type": "object"
    },
    "PersistentDiskDefaults": {
      "description": "Details for creation of a Persistent Disk.",
      "properties": {
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "sourceDiskNumber": {
          "description": "Required. The ordinal number of the source VM disk.",
          "format": "int32",
          "type": "integer"
        },
        "additionalLabels": {
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the Persistent Disk to create."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        }
      },
      "type": "object",
      "id": "PersistentDiskDefaults"
    },
    "CreatingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details."
    },
    "ServiceAccount": {
      "type": "object",
      "id": "ServiceAccount",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Service account to assign to the instance created by the machine image."
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      },
      "description": "Request message for 'AddGroupMigration' request."
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "properties": {
        "creatingSourceDiskSnapshot": {
          "$ref": "CreatingSourceDiskSnapshotStep",
          "description": "Creating source disk snapshot step."
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the step has started."
        },
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        }
      }
    },
    "AwsDiskDetails": {
      "id": "AwsDiskDetails",
      "description": "The details of an AWS instance disk.",
      "type": "object",
      "properties": {
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        },
        "volumeId": {
          "type": "string",
          "description": "Output only. AWS volume ID.",
          "readOnly": true
        }
      }
    },
    "ReplicatingStep": {
      "properties": {
        "replicatedBytes": {
          "description": "Replicated bytes in the step.",
          "format": "int64",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        },
        "totalBytes": {
          "type": "string",
          "description": "Total bytes to be handled in the step.",
          "format": "int64"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "format": "int64",
          "type": "string",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second."
        }
      },
      "description": "ReplicatingStep contains specific step details.",
      "id": "ReplicatingStep",
      "type": "object"
    },
    "MigratingVm": {
      "type": "object",
      "id": "MigratingVm",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description attached to the migrating VM by the user."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "vmwareSourceVmDetails": {
          "description": "Output only. Details of the VM from a Vmware source.",
          "readOnly": true,
          "$ref": "VmwareSourceVmDetails"
        },
        "lastReplicationCycle": {
          "$ref": "ReplicationCycle",
          "readOnly": true,
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles."
        },
        "cutoverForecast": {
          "readOnly": true,
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "$ref": "CutoverForecast"
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "expiration": {
          "readOnly": true,
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime",
          "readOnly": true
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true,
          "$ref": "AwsSourceVmDetails"
        },
        "azureSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an Azure source.",
          "$ref": "AzureSourceVmDetails"
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "recentCloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM.",
          "type": "object"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "$ref": "Status",
          "readOnly": true
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "currentSyncInfo": {
          "description": "Output only. Details of the current running replication cycle.",
          "$ref": "ReplicationCycle",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "readOnly": true,
          "description": "Output only. State of the MigratingVm.",
          "type": "string"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync",
          "readOnly": true
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier of the MigratingVm."
        },
        "recentCutoverJobs": {
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array",
          "readOnly": true
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        }
      }
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "properties": {
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "name": {
          "description": "Output only. The resource path of the ImageImport.",
          "readOnly": true,
          "type": "string"
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the image import was created."
        },
        "recentImageImportJobs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs."
        }
      },
      "id": "ImageImport",
      "type": "object"
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "description": "Contains details about the image source used to create the disk.",
      "type": "object",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      }
    },
    "MachineImageTargetDetails": {
      "type": "object",
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "properties": {
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to apply to the instance created by the machine image."
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array"
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        }
      }
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "type": "object",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details."
    },
    "DataDiskImageImport": {
      "type": "object",
      "id": "DataDiskImageImport",
      "description": "Used when the image import is not using OS adaptation process.",
      "properties": {
        "guestOsFeatures": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
        }
      }
    },
    "ListCloneJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "cloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "type": "array",
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true
        }
      },
      "id": "ListCloneJobsResponse"
    },
    "ReplicationSync": {
      "properties": {
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "id": "ReplicationSync",
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "type": "object"
    },
    "ImageImportStep": {
      "properties": {
        "startTime": {
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "loadingSourceFiles": {
          "description": "Loading source files step.",
          "$ref": "LoadingImageSourceFilesStep"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the step has ended."
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "adaptingOs": {
          "$ref": "AdaptingOSStep",
          "description": "Adapting OS step."
        },
        "initializing": {
          "description": "Initializing step.",
          "$ref": "InitializingImageImportStep"
        }
      },
      "id": "ImageImportStep",
      "description": "ImageImportStep holds information about the image import step progress.",
      "type": "object"
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        }
      },
      "id": "VmwareSourceDetails"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "properties": {},
      "type": "object",
      "id": "CancelImageImportJobRequest"
    },
    "CycleStep": {
      "properties": {
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "startTime": {
          "type": "string",
          "description": "The time the cycle step has started.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has ended."
        }
      },
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep",
      "type": "object"
    },
    "RunDiskMigrationJobRequest": {
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "properties": {},
      "type": "object",
      "id": "RunDiskMigrationJobRequest"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "id": "Location"
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the VM."
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "bootOption": {
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ComputeEngineTargetDetails"
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "targetProjects": {
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "ListTargetProjectsResponse"
    },
    "Tag": {
      "properties": {
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Tag",
      "description": "Tag is an AWS tag representation."
    },
    "AdaptingOSStep": {
      "id": "AdaptingOSStep",
      "type": "object",
      "description": "AdaptingOSStep contains specific step details.",
      "properties": {}
    },
    "ListSourcesResponse": {
      "description": "Response message for 'ListSources' request.",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListSourcesResponse"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "properties": {
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks."
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "type": "object",
      "id": "ComputeEngineDisksTargetDefaults"
    },
    "VmwareVmsDetails": {
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "Link": {
      "id": "Link",
      "description": "Describes a URL link.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        },
        "url": {
          "type": "string",
          "description": "The URL of the link."
        }
      }
    },
    "AzureSourceVmDetails": {
      "type": "object",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true
        },
        "disks": {
          "readOnly": true,
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "type": "array"
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "committedStorageBytes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM.",
          "type": "string"
        }
      },
      "description": "Represent the source Azure VM details.",
      "id": "AzureSourceVmDetails"
    },
    "VmAttachmentDetails": {
      "description": "Details for attachment of the disk to a VM.",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "VmAttachmentDetails",
      "type": "object"
    },
    "ListImageImportsResponse": {
      "type": "object",
      "description": "Response message for 'ListImageImports' call.",
      "id": "ListImageImportsResponse",
      "properties": {
        "imageImports": {
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "items": {
            "$ref": "ImageImport"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      }
    },
    "StartMigrationRequest": {
      "properties": {},
      "id": "StartMigrationRequest",
      "type": "object",
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "OSDescription": {
      "id": "OSDescription",
      "type": "object",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "properties": {
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "OS type."
        }
      }
    },
    "CreatingImageStep": {
      "description": "CreatingImageStep contains specific step details.",
      "type": "object",
      "properties": {},
      "id": "CreatingImageStep"
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the disk."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ListDiskMigrationJobsResponse": {
      "properties": {
        "diskMigrationJobs": {
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "readOnly": true,
          "description": "Output only. The list of the disk migration jobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse"
    },
    "SchedulePolicy": {
      "properties": {
        "idleDuration": {
          "type": "string",
          "description": "The idle duration between replication stages.",
          "format": "google-duration"
        },
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        }
      },
      "id": "SchedulePolicy",
      "description": "A policy for scheduling replications.",
      "type": "object"
    },
    "MigrationError": {
      "id": "MigrationError",
      "type": "object",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "properties": {
        "code": {
          "readOnly": true,
          "description": "Output only. The error code.",
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
[...]
