{
  "version_module": true,
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "canonicalName": "VM Migration Service",
  "servicePath": "",
  "revision": "20260903",
  "name": "vmmigration",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "title": "VM Migration API",
  "batchPath": "batch",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "basePath": "",
  "protocol": "rest",
  "id": "vmmigration:v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "schemas": {
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "properties": {}
    },
    "DiskMigrationJob": {
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time the DiskMigrationJob resource was updated."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "description": "Output only. State of the DiskMigrationJob."
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true,
          "type": "string"
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "createTime": {
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "readOnly": true,
          "description": "Output only. The disk migration steps list representing its progress."
        }
      },
      "id": "DiskMigrationJob"
    },
    "ExtendMigrationRequest": {
      "type": "object",
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "id": "ExtendMigrationRequest",
      "properties": {}
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "type": "object",
      "id": "PauseMigrationRequest"
    },
    "OSDisk": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "The disk's size in GB."
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        }
      },
      "id": "OSDisk",
      "description": "A message describing the OS disk."
    },
    "ResumeMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "ResumeMigrationRequest",
      "description": "Request message for 'ResumeMigration' request."
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "properties": {},
      "type": "object",
      "id": "DisksMigrationDisksTargetDefaults"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "name": {
          "description": "Output only. The Source name.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The update time timestamp."
        }
      },
      "id": "Source",
      "type": "object"
    },
    "DisksMigrationVmTargetDefaults": {
      "id": "DisksMigrationVmTargetDefaults",
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "Optional. The hostname to assign to the VM."
        },
        "computeScheduling": {
          "description": "Optional. Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "vmName": {
          "type": "string",
          "description": "Required. The name of the VM to create."
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of network tags to associate with the VM."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. NICs to attach to the VM.",
          "type": "array"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the VM."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        }
      },
      "type": "object"
    },
    "ImageImport": {
      "id": "ImageImport",
      "type": "object",
      "description": "ImageImport describes the configuration of the image import to run.",
      "properties": {
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "recentImageImportJobs": {
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the image import was created."
        }
      }
    },
    "DiskMigrationStep": {
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "properties": {
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time the step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatingSourceDiskSnapshot": {
          "$ref": "CreatingSourceDiskSnapshotStep",
          "description": "Creating source disk snapshot step."
        },
        "provisioningTargetDisk": {
          "$ref": "ProvisioningTargetDiskStep",
          "description": "Creating target disk step."
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "DiskMigrationStep"
    },
    "VmCapabilities": {
      "properties": {
        "osCapabilities": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ]
          },
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features."
        },
        "lastOsCapabilitiesUpdateTime": {
          "description": "Output only. The last time OS capabilities list was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities"
    },
    "MachineImageParametersOverrides": {
      "id": "MachineImageParametersOverrides",
      "type": "object",
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource."
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "AzureDiskDetails": {
      "properties": {
        "diskId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Azure disk ID."
        },
        "sizeGb": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in GB."
        },
        "diskNumber": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32"
        }
      },
      "description": "The details of an Azure VM disk.",
      "type": "object",
      "id": "AzureDiskDetails"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "properties": {
        "sources": {
          "readOnly": true,
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListSources' request."
    },
    "AzureSourceVmDetails": {
      "id": "AzureSourceVmDetails",
      "type": "object",
      "properties": {
        "committedStorageBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "disks": {
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture."
        }
      },
      "description": "Represent the source Azure VM details."
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM disks."
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option, as set in the source VM."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "type": "object",
      "id": "FinalizeMigrationRequest",
      "description": "Request message for 'FinalizeMigration' request."
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "type": "object",
      "description": "Details of a created Persistent Disk.",
      "properties": {
        "sourceDiskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk.",
          "type": "integer",
          "format": "int32"
        },
        "diskUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the Persistent Disk."
        }
      }
    },
    "CancelDiskMigrationJobRequest": {
      "type": "object",
      "id": "CancelDiskMigrationJobRequest",
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "properties": {}
    },
    "MigrationError": {
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized error message.",
          "readOnly": true
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "type": "array"
        },
        "errorTime": {
          "format": "google-datetime",
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "type": "string"
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the error.",
          "readOnly": true
        },
        "code": {
          "description": "Output only. The error code.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ]
        }
      }
    },
    "DisksMigrationDisksTargetDetails": {
      "description": "Details for a disks-only migration.",
      "type": "object",
      "properties": {},
      "id": "DisksMigrationDisksTargetDetails"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "description": "Represents the source AWS Disk details.",
      "type": "object",
      "properties": {
        "diskType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ]
        },
        "tags": {
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "sizeGib": {
          "type": "string",
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "SkipOsAdaptation": {
      "type": "object",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "properties": {},
      "id": "SkipOsAdaptation"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ComputeScheduling": {
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "properties": {
        "onHostMaintenance": {
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "restartType": {
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ]
        },
        "minNodeCpus": {
          "format": "int32",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "type": "integer"
        }
      },
      "id": "ComputeScheduling",
      "type": "object"
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "id": "Expiration",
      "type": "object",
      "properties": {
        "extensionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The number of times expiration was extended.",
          "readOnly": true
        },
        "expireTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when this resource is considered expired."
        },
        "extendable": {
          "type": "boolean",
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true
        }
      }
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "type": "object",
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "secretAccessKey": {
          "type": "string",
          "description": "Input only. AWS secret access key."
        },
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        }
      }
    },
    "ComputeEngineDisk": {
      "properties": {
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "diskType": {
          "description": "Required. The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported."
        },
        "diskId": {
          "type": "string",
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk."
        }
      },
      "type": "object",
      "id": "ComputeEngineDisk",
      "description": "Compute Engine disk target details."
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDetails",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "properties": {
        "disks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array",
          "description": "The details of each created Persistent Disk."
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        }
      }
    },
    "LocalizedMessage": {
      "type": "object",
      "properties": {
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "Disk": {
      "type": "object",
      "description": "A message describing a data disk.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name."
        },
        "sizeGb": {
          "description": "The disk size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Disk"
    },
    "DatacenterConnector": {
      "properties": {
        "stateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "readOnly": true
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "availableVersions": {
          "readOnly": true,
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "$ref": "UpgradeStatus",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The connector's name.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DatacenterConnector",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "FetchInventoryResponse": {
      "type": "object",
      "id": "FetchInventoryResponse",
      "properties": {
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "readOnly": true
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        }
      },
      "description": "Response message for fetchInventory."
    },
    "AvailableUpdates": {
      "id": "AvailableUpdates",
      "type": "object",
      "description": "Holds information about the available versions for upgrade.",
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      }
    },
    "LoadingImageSourceFilesStep": {
      "type": "object",
      "id": "LoadingImageSourceFilesStep",
      "properties": {},
      "description": "LoadingImageSourceFilesStep contains specific step details."
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        },
        "progressPercent": {
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "warnings": {
          "description": "Output only. Warnings that occurred during the cycle.",
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          },
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the replication cycle has ended.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status"
        },
        "cycleNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The cycle's ordinal number."
        },
        "totalPauseDuration": {
          "format": "google-duration",
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "description": "State of the ReplicationCycle."
        }
      },
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "type": "object",
      "properties": {
        "firmware": {
          "readOnly": true,
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "disks": {
          "readOnly": true,
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          }
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        }
      },
      "description": "Represent the source Vmware VM details.",
      "id": "VmwareSourceVmDetails"
    },
    "AwsSecurityGroup": {
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The AWS security group id."
        }
      },
      "id": "AwsSecurityGroup",
      "type": "object",
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "AppliedLicense": {
      "properties": {
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      },
      "type": "object",
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense"
    },
    "DiskMigrationJobTargetDetails": {
      "properties": {
        "targetDisk": {
          "description": "Required. The target disk.",
          "$ref": "ComputeEngineDisk"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}"
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails",
      "type": "object"
    },
    "DataDiskImageImport": {
      "type": "object",
      "properties": {
        "guestOsFeatures": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features."
        }
      },
      "description": "Used when the image import is not using OS adaptation process.",
      "id": "DataDiskImageImport"
    },
    "ListCutoverJobsResponse": {
      "description": "Response message for 'ListCutoverJobs' request.",
      "type": "object",
      "id": "ListCutoverJobsResponse",
      "properties": {
        "cutoverJobs": {
          "readOnly": true,
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array",
          "description": "Output only. The list of cutover jobs response."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "id": "Encryption"
    },
    "ApplianceVersion": {
      "properties": {
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The appliance version."
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        }
      },
      "description": "Describes an appliance version.",
      "id": "ApplianceVersion",
      "type": "object"
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "description": "InitializingImageImportStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "OSDescription": {
      "properties": {
        "plan": {
          "description": "OS plan.",
          "type": "string"
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        },
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        }
      },
      "id": "OSDescription",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "type": "object",
      "properties": {
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create.",
          "type": "array"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        }
      },
      "id": "ComputeEngineDisksTargetDefaults"
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "type": "object",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the operation was started.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        }
      }
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "id": "ListTargetProjectsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListTargetProjects' call."
    },
    "VmUtilizationMetrics": {
      "properties": {
        "cpuAveragePercent": {
          "format": "int32",
          "description": "Average CPU usage, percent.",
          "type": "integer"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "networkThroughputAverageKbps": {
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "memoryAveragePercent": {
          "description": "Average memory usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "VmUtilizationMetrics",
      "description": "Utilization metrics values for a single VM.",
      "type": "object"
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          },
          "description": "The list of storage resources in the source."
        }
      },
      "type": "object",
      "id": "FetchStorageInventoryResponse"
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "description": "The warning code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ]
        },
        "actionItem": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the warning."
        },
        "helpLinks": {
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          }
        },
        "warningTime": {
          "description": "The time the warning occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "type": "object"
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "properties": {},
      "type": "object",
      "id": "CancelCloneJobRequest"
    },
    "UpgradeApplianceRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "UpgradeApplianceRequest",
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "CancelCutoverJobRequest": {
      "description": "Request message for 'CancelCutoverJob' request.",
      "properties": {},
      "id": "CancelCutoverJobRequest",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "type": "object",
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "bootOption": {
          "readOnly": true,
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense",
          "readOnly": true
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "List of NICs connected to this VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "type": "array"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "disks": {
          "description": "Optional. The details of each disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        }
      },
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project."
    },
    "ReplicationSync": {
      "id": "ReplicationSync",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "description": "ReplicationSync contain information about the last replica sync to the cloud."
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "ListMigratingVmsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "migratingVms": {
          "type": "array",
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "id": "ListMigratingVmsResponse",
      "description": "Response message for 'ListMigratingVms' request."
    },
    "ListReplicationCyclesResponse": {
      "type": "object",
      "id": "ListReplicationCyclesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "replicationCycles": {
          "items": {
            "$ref": "ReplicationCycle"
          },
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "VmwareVmDetails": {
      "properties": {
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of cpus in the VM.",
          "type": "integer"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails",
      "type": "object"
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime"
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true,
          "description": "Output only. State of the cutover job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "progressPercent": {
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "format": "int32"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the cutover job."
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress."
        }
      },
      "type": "object"
    },
    "ListImageImportsResponse": {
      "type": "object",
      "id": "ListImageImportsResponse",
      "description": "Response message for 'ListImageImports' call.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "imageImports": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          }
        }
      }
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "id": "ListImageImportJobsResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "imageImportJobs": {
          "readOnly": true,
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array",
          "description": "Output only. The list of target response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "type": "object",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM."
    },
    "CloneJob": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the clone job was ended."
        },
        "steps": {
          "items": {
            "$ref": "CloneStep"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The clone steps list representing its progress."
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "createTime": {
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status"
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the clone job.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "id": "CloneJob",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "properties": {
        "datacenterConnectors": {
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array",
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse"
    },
    "ImageImportJob": {
      "description": "ImageImportJob describes the progress and result of an image import.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImportJob.",
          "type": "string"
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "readOnly": true,
          "$ref": "MachineImageTargetDetails"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "readOnly": true,
          "description": "Output only. The state of the image import.",
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ]
        },
        "createdResources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job."
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Warnings that occurred during the image import.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "readOnly": true
        },
        "steps": {
          "type": "array",
          "description": "Output only. The image import steps list representing its progress.",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportStep"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the image import was ended."
        },
        "errors": {
          "type": "array",
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        }
      },
      "id": "ImageImportJob"
    },
    "RemoveGroupMigrationRequest": {
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "type": "object",
      "id": "RemoveGroupMigrationRequest"
    },
    "VmwareSourceDetails": {
      "type": "object",
      "id": "VmwareSourceDetails",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        }
      }
    },
    "VmUtilizationInfo": {
      "type": "object",
      "properties": {
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        },
        "utilization": {
          "$ref": "VmUtilizationMetrics",
          "description": "Utilization metrics for this VM."
        },
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        }
      },
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM."
    },
    "Link": {
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the link."
        },
        "description": {
          "type": "string",
          "description": "Describes what the link offers."
        }
      },
      "id": "Link",
      "type": "object",
      "description": "Describes a URL link."
    },
    "SchedulePolicy": {
      "type": "object",
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy",
      "properties": {
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "format": "google-duration",
          "type": "string"
        },
        "skipOsAdaptation": {
[...]
