{
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "name": "vmmigration",
  "batchPath": "batch",
  "id": "vmmigration:v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "title": "VM Migration API",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260521",
  "schemas": {
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        }
      },
      "description": "Tag is an AWS tag representation."
    },
    "ImageImportOsAdaptationParameters": {
      "description": "Parameters affecting the OS adaptation process.",
      "id": "ImageImportOsAdaptationParameters",
      "type": "object",
      "properties": {
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "bootConversion": {
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        }
      }
    },
    "ClientSecretCredentials": {
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "id": "ClientSecretCredentials",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        }
      }
    },
    "ComputeScheduling": {
      "id": "ComputeScheduling",
      "type": "object",
      "properties": {
        "onHostMaintenance": {
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ]
        },
        "minNodeCpus": {
          "type": "integer",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "format": "int32"
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "restartType": {
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ]
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "secureBoot": {
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "type": "string",
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        }
      },
      "description": "Shielded instance configuration."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        }
      }
    },
    "DisksMigrationDisksTargetDetails": {
      "id": "DisksMigrationDisksTargetDetails",
      "type": "object",
      "properties": {},
      "description": "Details for a disks-only migration."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ComputeEngineDisksTargetDetails": {
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "type": "object",
      "properties": {
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        },
        "disks": {
          "description": "The details of each created Persistent Disk.",
          "type": "array",
          "items": {
            "$ref": "PersistentDisk"
          }
        },
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        }
      }
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "id": "Source",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The Source name.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels of the source."
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "BootDiskDefaults": {
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "id": "BootDiskDefaults",
      "type": "object",
      "properties": {
        "image": {
          "$ref": "DiskImageDefaults",
          "description": "The image to use when creating the disk."
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "FetchStorageInventoryResponse": {
      "description": "Response message for fetchStorageInventory.",
      "id": "FetchStorageInventoryResponse",
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          },
          "description": "The list of storage resources in the source."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CutoverStep": {
      "description": "CutoverStep holds information about the cutover step progress.",
      "id": "CutoverStep",
      "type": "object",
      "properties": {
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "finalSync": {
          "$ref": "ReplicationCycle",
          "description": "Final sync step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "AzureVmsDetails": {
      "description": "AzureVmsDetails describes VMs in Azure.",
      "id": "AzureVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs."
        }
      }
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string"
        },
        "steps": {
          "description": "The cycle's steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          }
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "warnings": {
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the cycle.",
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          }
        },
        "startTime": {
          "type": "string",
          "description": "The time the replication cycle has started.",
          "format": "google-datetime"
        },
        "totalPauseDuration": {
          "type": "string",
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration"
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "format": "int32",
          "type": "integer"
        },
        "endTime": {
          "type": "string",
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime"
        },
        "error": {
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "progressPercent": {
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "deprecated": true,
          "type": "integer"
        }
      }
    },
    "ListGroupsResponse": {
      "id": "ListGroupsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "groups": {
          "readOnly": true,
          "description": "Output only. The list of groups response.",
          "type": "array",
          "items": {
            "$ref": "Group"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListGroups' request."
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep",
      "type": "object",
      "properties": {}
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the cutover job had finished.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "progressPercent": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32"
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the cutover job.",
          "type": "string"
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "state": {
          "description": "Output only. State of the cutover job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "readOnly": true
        },
        "stateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails"
        }
      }
    },
    "AwsSourceDetails": {
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "id": "AwsSourceDetails",
      "type": "object",
      "properties": {
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "inventoryTagList": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "AWS resource tags to limit the scope of the source inventory."
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AWS security group names to limit the scope of the source inventory."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "publicIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the source as determined by the health check.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string"
        }
      }
    },
    "ComputeEngineDisk": {
      "description": "Compute Engine disk target details.",
      "id": "ComputeEngineDisk",
      "type": "object",
      "properties": {
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "replicaZones": {
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskType": {
          "description": "Required. The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        }
      }
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "type": "object",
      "properties": {},
      "description": "InitializingImageImportStep contains specific step details."
    },
    "CopyingSourceDiskSnapshotStep": {
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "id": "CopyingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {}
    },
    "DiskMigrationJobTargetDetails": {
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails",
      "type": "object",
      "properties": {
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        },
        "targetProject": {
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of labels to associate with the disk."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        }
      }
    },
    "CloneJob": {
      "id": "CloneJob",
      "type": "object",
      "properties": {
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          },
          "description": "Output only. The clone steps list representing its progress.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "state": {
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
    },
    "CloneStep": {
      "id": "CloneStep",
      "type": "object",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "endTime": {
          "description": "The time the step has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time the step has started.",
          "format": "google-datetime"
        }
      },
      "description": "CloneStep holds information about the clone step progress."
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "migrationTargetType": {
          "description": "Immutable. The target type of this group.",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Group name."
        }
      },
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms."
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "type": "object",
      "properties": {
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "readOnly": true
        },
        "state": {
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        }
      },
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "VmAttachmentDetails": {
      "id": "VmAttachmentDetails",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "description": "Details for attachment of the disk to a VM."
    },
    "ListDiskMigrationJobsResponse": {
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse",
      "type": "object",
      "properties": {
        "diskMigrationJobs": {
          "readOnly": true,
          "description": "Output only. The list of the disk migration jobs.",
          "type": "array",
          "items": {
            "$ref": "DiskMigrationJob"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AwsDiskDetails": {
      "id": "AwsDiskDetails",
      "type": "object",
      "properties": {
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "format": "int64",
          "type": "string"
        },
        "diskNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32"
        },
        "volumeId": {
          "description": "Output only. AWS volume ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details of an AWS instance disk."
    },
    "PreparingVMDisksStep": {
      "description": "PreparingVMDisksStep contains specific step details.",
      "id": "PreparingVMDisksStep",
      "type": "object",
      "properties": {}
    },
    "DiskMigrationJob": {
      "id": "DiskMigrationJob",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
        "errors": {
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "updateTime": {
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. State of the DiskMigrationJob."
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "steps": {
          "description": "Output only. The disk migration steps list representing its progress.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          }
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached."
    },
    "CancelCutoverJobRequest": {
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "type": "object",
      "properties": {}
    },
    "TargetProject": {
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "id": "TargetProject",
      "type": "object",
      "properties": {
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the target project.",
          "type": "string"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "type": "object",
      "properties": {},
      "description": "CreatingImageStep contains specific step details."
    },
    "ListReplicationCyclesResponse": {
      "id": "ListReplicationCyclesResponse",
      "type": "object",
      "properties": {
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "AzureVmDetails": {
      "id": "AzureVmDetails",
      "type": "object",
      "properties": {
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ]
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk.",
          "format": "int32"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus the VM has.",
          "format": "int32"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "disks": {
          "description": "Description of the data disks.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        }
      },
      "description": "AzureVmDetails describes a VM in Azure."
    },
    "UtilizationReport": {
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport",
      "type": "object",
      "properties": {
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "vmCount": {
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "timeFrame": {
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "description": "Time frame of the report.",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ]
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The report unique name."
        },
        "frameEndTime": {
          "readOnly": true,
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "format": "google-datetime",
          "type": "string"
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. Current state of the report.",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "VmUtilizationMetrics": {
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "type": "object",
      "properties": {
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "format": "int32"
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        }
      }
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "properties": {
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "tags": {
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sizeGib": {
          "readOnly": true,
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. Output only. Disk type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "readOnly": true
        }
      },
      "description": "Represents the source AWS Disk details."
    },
    "ListUtilizationReportsResponse": {
      "id": "ListUtilizationReportsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "utilizationReports": {
          "type": "array",
          "items": {
            "$ref": "UtilizationReport"
          },
          "readOnly": true,
          "description": "Output only. The list of reports."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListUtilizationReports' request."
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "id": "AwsVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs."
        }
      }
    },
    "MachineImageParametersOverrides": {
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "id": "MachineImageParametersOverrides",
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      }
    },
    "RunDiskMigrationJobRequest": {
      "id": "RunDiskMigrationJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request."
    },
    "DiskImageTargetDetails": {
      "id": "DiskImageTargetDetails",
      "type": "object",
      "properties": {
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of labels to associate with the image."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        }
      },
      "description": "The target details of the image resource that will be created by the import job."
    },
    "AwsSecurityGroup": {
      "id": "AwsSecurityGroup",
      "type": "object",
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        }
      },
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "OSDisk": {
      "description": "A message describing the OS disk.",
      "id": "OSDisk",
      "type": "object",
      "properties": {
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "type": {
          "description": "The disk's type.",
          "type": "string"
        },
        "sizeGb": {
          "type": "integer",
          "description": "The disk's size in GB.",
          "format": "int32"
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDefaults",
      "type": "object",
      "properties": {
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "bootConversion": {
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the VM."
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "diskReplicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "Optional. The details of each disk to create."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        }
      }
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "type": "object",
      "properties": {
        "operator": {
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string"
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label values of Node resource."
        }
      }
    },
    "AzureSourceVmDetails": {
      "description": "Represent the source Azure VM details.",
      "id": "AzureSourceVmDetails",
      "type": "object",
      "properties": {
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64"
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true,
          "description": "Output only. The disks attached to the source VM."
        },
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AzureSourceDetails": {
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "id": "AzureSourceDetails",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "migrationResourcesUserTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`."
        },
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "resourceGroupId": {
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AwsVmDetails": {
      "id": "AwsVmDetails",
      "type": "object",
      "properties": {
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "powerState": {
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "readOnly": true
        },
        "vcpuCount": {
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "securityGroups": {
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "description": "The security groups the VM belongs to."
        },
        "cpuCount": {
          "description": "The number of CPU cores the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "virtualizationType": {
          "type": "string",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "description": "The virtualization type.",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        }
      },
      "description": "AwsVmDetails describes a VM in AWS."
    },
    "ApplianceVersion": {
      "id": "ApplianceVersion",
      "type": "object",
      "properties": {
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        }
      },
      "description": "Describes an appliance version."
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "id": "CutoverForecast",
      "type": "object",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "format": "google-duration",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {}
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "id": "ListImageImportJobsResponse",
      "type": "object",
      "properties": {
        "imageImportJobs": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      }
    },
    "AzureDiskDetails": {
      "id": "AzureDiskDetails",
      "type": "object",
      "properties": {
        "diskId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Azure disk ID."
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        }
      },
      "description": "The details of an Azure VM disk."
    },
    "DiskImageDefaults": {
      "description": "Contains details about the image source used to create the disk.",
      "id": "DiskImageDefaults",
      "type": "object",
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      }
    },
    "VmwareVmsDetails": {
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "id": "VmwareVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs."
        }
      }
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "id": "VmwareDiskDetails",
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The disk label."
        },
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "format": "int64",
          "readOnly": true
        },
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true
        }
      }
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "type": "object",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the source VM disk.",
          "format": "int32"
        },
        "diskUri": {
          "type": "string",
          "description": "Output only. The URI of the Persistent Disk.",
          "readOnly": true
        }
      },
      "description": "Details of a created Persistent Disk."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities",
      "type": "object",
      "properties": {
        "osCapabilities": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          },
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features."
        },
        "lastOsCapabilitiesUpdateTime": {
          "type": "string",
          "description": "Output only. The last time OS capabilities list was updated.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "MigrationWarning": {
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "id": "MigrationWarning",
      "type": "object",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "description": "The warning code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ]
        },
        "warningMessage": {
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized warning message.",
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current warning."
        },
        "warningTime": {
          "type": "string",
          "description": "The time the warning occurred.",
          "format": "google-datetime"
        }
      }
    },
    "CancelDiskMigrationJobRequest": {
      "id": "CancelDiskMigrationJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'CancelDiskMigrationJob' request."
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "InitializingReplicationStep": {
      "description": "InitializingReplicationStep contains specific step details.",
      "id": "InitializingReplicationStep",
      "type": "object",
      "properties": {}
    },
    "VmwareVmDetails": {
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "architecture": {
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ]
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "format": "int32",
          "type": "integer"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The size of the memory of the VM in MB.",
          "format": "int32"
        }
      }
    },
    "DisksMigrationVmTargetDetails": {
      "description": "Details for the VM created VM as part of disks migration.",
      "id": "DisksMigrationVmTargetDetails",
      "type": "object",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      }
    },
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "id": "PostProcessingStep",
      "type": "object",
      "properties": {}
    },
    "FetchInventoryResponse": {
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "format": "google-datetime"
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        },
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        }
      }
    },
    "ListTargetProjectsResponse": {
      "description": "Response message for 'ListTargetProjects' call.",
      "id": "ListTargetProjectsResponse",
      "type": "object",
      "properties": {
        "targetProjects": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "TargetProject"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "AvailableUpdates": {
      "id": "AvailableUpdates",
      "type": "object",
      "properties": {
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "description": "Holds information about the available versions for upgrade."
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'PauseMigration' request."
    },
    "SourceStorageResource": {
[...]
