{
  "documentationLink": "https://cloud.google.com/solutions/vmware-as-a-service",
  "discoveryVersion": "v1",
  "version": "v1",
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "schemas": {
    "NetworkService": {
      "properties": {
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "description": "Output only. State of the service. New values may be added to this enum when appropriate.",
          "readOnly": true
        }
      },
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet.",
      "type": "object",
      "id": "NetworkService"
    },
    "GoogleVmwareFileService": {
      "type": "object",
      "id": "GoogleVmwareFileService",
      "description": "Volume message captures user inputs for creation of file services managed by GCVE",
      "properties": {}
    },
    "ListExternalAddressesResponse": {
      "id": "ListExternalAddressesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        }
      }
    },
    "Credentials": {
      "id": "Credentials",
      "description": "Credentials for a private cloud.",
      "properties": {
        "username": {
          "description": "Initial username.",
          "type": "string"
        },
        "password": {
          "description": "Initial password.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListNodeTypesResponse": {
      "type": "object",
      "id": "ListNodeTypesResponse",
      "properties": {
        "nodeTypes": {
          "items": {
            "$ref": "NodeType"
          },
          "type": "array",
          "description": "A list of Node Types."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListNodeTypes"
    },
    "ThirdPartyFileService": {
      "description": "Third party file service configuration",
      "type": "object",
      "properties": {
        "servers": {
          "description": "Required. Server IP addresses of the NFS file service. NFS v3, provide a single IP address or DNS name. Multiple servers can be supported in future when NFS 4.1 protocol support is enabled.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileShare": {
          "description": "Required. Required Mount Folder name",
          "type": "string"
        },
        "network": {
          "description": "Required. Required to identify vpc peering used for NFS access network name of NFS's vpc e.g. projects/project-id/global/networks/my-network_id",
          "type": "string"
        }
      },
      "id": "ThirdPartyFileService"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "UndeletePrivateCloudRequest": {
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "properties": {
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "UndeletePrivateCloudRequest",
      "type": "object"
    },
    "ListDatastoresResponse": {
      "description": "Response message for VmwareEngine.ListDatastores",
      "properties": {
        "datastores": {
          "type": "array",
          "description": "A list of Datastores.",
          "items": {
            "$ref": "Datastore"
          }
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "id": "ListDatastoresResponse"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Node": {
      "id": "Node",
      "properties": {
        "version": {
          "readOnly": true,
          "description": "Output only. The version number of the VMware ESXi management component in this cluster.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of this node. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster/nodes/my-node",
          "readOnly": true,
          "type": "string"
        },
        "fqdn": {
          "description": "Output only. Fully qualified domain name of the node.",
          "type": "string",
          "readOnly": true
        },
        "customCoreCount": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Customized number of cores"
        },
        "internalIp": {
          "type": "string",
          "description": "Output only. Internal IP address of the node.",
          "readOnly": true
        },
        "nodeTypeId": {
          "readOnly": true,
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "FAILED",
            "UPGRADING"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Node is operational and can be used by the user.",
            "Node is being provisioned.",
            "Node is in a failed state.",
            "Node is undergoing maintenance, e.g.: during private cloud upgrade."
          ],
          "description": "Output only. The state of the appliance.",
          "readOnly": true
        }
      },
      "description": "Node in a cluster.",
      "type": "object"
    },
    "ExternalAddress": {
      "type": "object",
      "id": "ExternalAddress",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "externalIp": {
          "description": "Output only. The external IP address of a workload VM.",
          "type": "string",
          "readOnly": true
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP address of a workload VM."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ]
        }
      },
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud."
    },
    "OperationMetadata": {
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ListPeeringRoutesResponse": {
      "type": "object",
      "id": "ListPeeringRoutesResponse",
      "properties": {
        "peeringRoutes": {
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          },
          "description": "A list of peering routes."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for VmwareEngine.ListPeeringRoutes"
    },
    "Thresholds": {
      "type": "object",
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations.",
      "id": "Thresholds",
      "properties": {
        "scaleOut": {
          "type": "integer",
          "description": "Required. The utilization triggering the scale-out operation in percent.",
          "format": "int32"
        },
        "scaleIn": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The utilization triggering the scale-in operation in percent."
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network configuration in the consumer project with which the peering has to be done.",
      "properties": {
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "dnsServerIp": {
          "description": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts.",
          "type": "string",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "managementIpAddressLayoutVersion": {
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "managementCidr": {
          "type": "string",
          "description": "Required. Management CIDR used by VMware management appliances."
        }
      },
      "type": "object"
    },
    "Nsx": {
      "type": "object",
      "id": "Nsx",
      "description": "Details about a NSX Manager appliance.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance."
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        }
      }
    },
    "AutoscalingSettings": {
      "type": "object",
      "description": "Autoscaling settings define the rules used by VMware Engine to automatically scale-out and scale-in the clusters in a private cloud.",
      "properties": {
        "coolDownPeriod": {
          "description": "Optional. The minimum duration between consecutive autoscale operations. It starts once addition or removal of nodes is fully completed. Defaults to 30 minutes if not specified. Cool down period must be in whole minutes (for example, 30, 31, 50, 180 minutes).",
          "format": "google-duration",
          "type": "string"
        },
        "autoscalingPolicies": {
          "additionalProperties": {
            "$ref": "AutoscalingPolicy"
          },
          "description": "Required. The map with autoscaling policies applied to the cluster. The key is the identifier of the policy. It must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5) Currently there map must contain only one element that describes the autoscaling policy for compute nodes.",
          "type": "object"
        },
        "maxClusterNodeCount": {
          "format": "int32",
          "description": "Optional. Maximum number of nodes of any type in a cluster. If not specified the default limits apply.",
          "type": "integer"
        },
        "minClusterNodeCount": {
          "description": "Optional. Minimum number of nodes of any type in a cluster. If not specified the default limits apply.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AutoscalingSettings"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        }
      },
      "id": "Expr"
    },
    "ListPrivateCloudsResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "id": "ListPrivateCloudsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "privateClouds": {
          "type": "array",
          "items": {
            "$ref": "PrivateCloud"
          },
          "description": "A list of private clouds."
        }
      }
    },
    "ListExternalAccessRulesResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "externalAccessRules": {
          "type": "array",
          "items": {
            "$ref": "ExternalAccessRule"
          },
          "description": "A list of external access firewall rules."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExternalAccessRulesResponse"
    },
    "Datastore": {
      "id": "Datastore",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        },
        "nfsDatastore": {
          "description": "Required. Settings for the NFS datastore.",
          "$ref": "NfsDatastore"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The state of the Datastore.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this datastore"
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "clusters": {
          "readOnly": true,
          "description": "Output only. Clusters to which the datastore is attached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string"
        }
      },
      "description": "Represents a datastore resource.",
      "type": "object"
    },
    "ManagementCluster": {
      "description": "Management cluster configuration.",
      "properties": {
        "stretchedClusterConfig": {
          "$ref": "StretchedClusterConfig",
          "description": "Optional. Configuration of a stretched cluster. Required for STRETCHED private clouds."
        },
        "nodeTypeConfigs": {
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "type": "object",
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`)."
        },
        "clusterId": {
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ManagementCluster"
    },
    "ListNetworkPoliciesResponse": {
      "id": "ListNetworkPoliciesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "networkPolicies": {
          "items": {
            "$ref": "NetworkPolicy"
          },
          "type": "array",
          "description": "A list of network policies."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        }
      },
      "description": "Response message for VmwareEngine.ListNetworkPolicies"
    },
    "LocationMetadata": {
      "type": "object",
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field.",
      "id": "LocationMetadata",
      "properties": {
        "capabilities": {
          "type": "array",
          "description": "Output only. Capabilities of this location.",
          "items": {
            "type": "string",
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ]
          },
          "readOnly": true
        }
      }
    },
    "ResetVcenterCredentialsRequest": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ResetVcenterCredentialsRequest",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials"
    },
    "Schedule": {
      "properties": {
        "lastEditor": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled by the System or internal service.",
            "The upgrade is scheduled by the end user."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "EDITOR_UNSPECIFIED",
            "SYSTEM",
            "USER"
          ],
          "description": "Output only. Output Only. Indicates who most recently edited the upgrade schedule. The value is updated whenever the upgrade is rescheduled."
        },
        "editWindow": {
          "readOnly": true,
          "description": "Output only. Output Only. The schedule is open for edits during this time interval or window.",
          "$ref": "Interval"
        },
        "weeklyWindows": {
          "description": "Required. Weekly time windows for upgrade activities. The server performs upgrade activities during these time windows to minimize disruptions.",
          "items": {
            "$ref": "TimeWindow"
          },
          "type": "array"
        },
        "constraints": {
          "readOnly": true,
          "$ref": "Constraints",
          "description": "Output only. Output Only. Constraints applied to the schedule. These constraints should be applicable at the time of any rescheduling."
        },
        "startTime": {
          "type": "string",
          "description": "Required. The scheduled start time for the upgrade.",
          "format": "google-datetime"
        }
      },
      "id": "Schedule",
      "type": "object",
      "description": "Schedule for the upgrade."
    },
    "DatastoreMountConfig": {
      "id": "DatastoreMountConfig",
      "description": "The Datastore Mount configuration",
      "properties": {
        "accessMode": {
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ]
        },
        "nfsVersion": {
          "type": "string",
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ]
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        },
        "datastoreNetwork": {
          "description": "Required. The network configuration for the datastore.",
          "$ref": "DatastoreNetwork"
        },
        "fileShare": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. File share name."
        },
        "servers": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "WeeklyTimeInterval": {
      "id": "WeeklyTimeInterval",
      "description": "Represents a time interval, spanning across days of the week. Until local timezones are supported, this interval is in UTC.",
      "type": "object",
      "properties": {
        "endTime": {
          "$ref": "TimeOfDay",
          "readOnly": true,
          "description": "Output only. The time on the end day at which the interval ends."
        },
        "startDay": {
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Output only. The day on which the interval starts.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. The time on the start day at which the interval starts.",
          "$ref": "TimeOfDay",
          "readOnly": true
        },
        "endDay": {
          "readOnly": true,
          "description": "Output only. The day on which the interval ends. Can be same as start day.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      }
    },
    "AuditLogConfig": {
      "id": "AuditLogConfig",
      "properties": {
        "logType": {
          "description": "The log type that this config enables.",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ]
        },
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
    },
    "DnsForwarding": {
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource name of this DNS profile. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/dnsForwarding`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "forwardingRules": {
          "items": {
            "$ref": "ForwardingRule"
          },
          "type": "array",
          "description": "Required. List of domain mappings to configure"
        }
      },
      "id": "DnsForwarding",
      "type": "object",
      "description": "DNS forwarding config. This config defines a list of domain to name server mappings, and is attached to the private cloud for custom domain resolution."
    },
    "ListNodesResponse": {
      "properties": {
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "type": "array",
          "description": "The nodes."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListNodesResponse",
      "description": "Response message for VmwareEngine.ListNodes",
      "type": "object"
    },
    "MountDatastoreRequest": {
      "properties": {
        "ignoreColocation": {
          "description": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore).",
          "type": "boolean"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        },
        "datastoreMountConfig": {
          "description": "Required. The datastore mount configuration.",
          "$ref": "DatastoreMountConfig"
        }
      },
      "description": "Mount Datastore Request message",
      "id": "MountDatastoreRequest",
      "type": "object"
    },
    "NetworkPolicy": {
      "type": "object",
      "id": "NetworkPolicy",
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy.",
      "properties": {
        "internetAccess": {
          "$ref": "NetworkService",
          "description": "Network service that allows VMware workloads to access the internet."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "externalIp": {
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled.",
          "$ref": "NetworkService"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        },
        "edgeServicesCidr": {
          "type": "string",
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`"
        }
      }
    },
    "StretchedClusterConfig": {
      "type": "object",
      "id": "StretchedClusterConfig",
      "properties": {
        "preferredLocation": {
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "secondaryLocation": {
          "type": "string",
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` where `{project}` can either be a project number or a project ID."
        }
      },
      "description": "Configuration of a stretched cluster."
    },
    "VmwareUpgradeComponent": {
      "description": "Per component upgrade resource",
      "properties": {
        "componentType": {
          "description": "Output only. Type of component",
          "type": "string",
          "enum": [
            "VMWARE_COMPONENT_TYPE_UNSPECIFIED",
            "VCENTER",
            "ESXI",
            "NSXT_UC",
            "NSXT_EDGE",
            "NSXT_MGR",
            "HCX",
            "VSAN",
            "DVS",
            "NAMESERVER_VM",
            "KMS_VM",
            "WITNESS_VM",
            "NSXT",
            "CLUSTER",
            "VM_TOOLS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "vcenter",
            "esxi nodes + transport nodes",
            "nsxt upgrade coordinator",
            "nsxt edges cluster",
            "nsxt managers/management plane",
            "hcx",
            "VSAN cluster",
            "DVS switch",
            "Nameserver VMs",
            "KMS VM used for vsan encryption",
            "witness VM in case of stretch PC",
            "nsxt",
            "Cluster is used in case of BM",
            "VMware Tools."
          ]
        },
        "state": {
          "description": "Output only. Component's upgrade state.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Component's upgrade is in progress",
            "The component's upgrade is paused. Will be resumed when upgrade job is resumed",
            "The component's upgrade is successfully completed",
            "The component's upgrade has failed. This will move to resume if upgrade is resumed or stay as is",
            "Component's upgrade has not started yet",
            "Component's upgrade is not applicable in this upgrade. It will be skipped."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "NOT_STARTED",
            "NOT_APPLICABLE"
          ]
        }
      },
      "type": "object",
      "id": "VmwareUpgradeComponent"
    },
    "Policy": {
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "properties": {
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "type": "array",
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      }
    },
    "Interval": {
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "ListHcxActivationKeysResponse": {
      "description": "Response message for VmwareEngine.ListHcxActivationKeys",
      "type": "object",
      "id": "ListHcxActivationKeysResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        },
        "hcxActivationKeys": {
          "type": "array",
          "items": {
            "$ref": "HcxActivationKey"
          },
          "description": "List of HCX activation keys."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer"
        },
        "customCoreCount": {
          "type": "integer",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "NfsDatastore": {
      "type": "object",
      "id": "NfsDatastore",
      "properties": {
        "googleFileService": {
          "$ref": "GoogleFileService",
          "description": "Google file service configuration"
        },
        "thirdPartyFileService": {
          "$ref": "ThirdPartyFileService",
          "description": "Third party file service configuration"
        },
        "googleVmwareFileService": {
          "description": "GCVE file service configuration",
          "$ref": "GoogleVmwareFileService"
        }
      },
      "description": "The NFS datastore configuration."
    },
    "DatastoreNetwork": {
      "properties": {
        "connectionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts."
        },
        "mtu": {
          "format": "int32",
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility.",
          "type": "integer"
        },
        "subnet": {
          "type": "string",
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet"
        },
        "networkPeering": {
          "readOnly": true,
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering",
          "type": "string"
        }
      },
      "id": "DatastoreNetwork",
      "description": "The network configuration for the datastore.",
      "type": "object"
    },
    "Announcement": {
      "description": "Announcement for the resources of Vmware Engine.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DELETING",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Active announcement which should be visible to user.",
            "Inactive announcement which should not be visible to user.",
            "Announcement which is being deleted",
            "Announcement which being created"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate."
        },
        "targetResourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Target Resource Type defines the type of the target for the announcement"
        },
        "name": {
          "description": "Output only. The resource name of the announcement. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-west1-a/announcements/my-announcement-id`",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Output only. Description of the announcement.",
          "type": "string",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Additional structured details about this announcement.",
          "readOnly": true
        },
        "privateCloud": {
          "type": "string",
          "description": "A Private Cloud resource name."
        },
        "cluster": {
          "description": "A Cluster resource name.",
          "type": "string"
        },
        "activityType": {
          "description": "Optional. Activity type of the announcement There can be only one active announcement for a given activity type and target resource.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of this resource. It also serves as start time of notification.",
          "format": "google-datetime"
        },
        "code": {
          "type": "string",
          "description": "Required. Code of the announcement. Indicates the presence of a VMware Engine related announcement and corresponds to a related message in the `description` field."
        }
      },
      "id": "Announcement"
    },
    "VmwareEngineNetwork": {
      "type": "object",
      "properties": {
        "uid": {
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this VMware Engine network.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the VMware Engine network. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/vmwareEngineNetworks/my-network`",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "type": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Network type used by private clouds created in projects without a network of type `STANDARD`. This network type is no longer used for new VMware Engine private cloud deployments.",
            "Standard network type used for private cloud connectivity."
          ],
          "description": "Required. VMware Engine network type.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "LEGACY",
            "STANDARD"
          ]
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The VMware Engine network is being created.",
            "The VMware Engine network is ready.",
            "The VMware Engine network is being updated.",
            "The VMware Engine network is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. State of the VMware Engine network.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "vpcNetworks": {
          "type": "array",
          "description": "Output only. VMware Engine service VPC networks that provide connectivity from a private cloud to customer projects, the internet, and other Google Cloud services.",
          "readOnly": true,
          "items": {
            "$ref": "VpcNetwork"
          }
        }
      },
      "description": "VMware Engine network resource that provides connectivity for VMware Engine private clouds.",
      "id": "VmwareEngineNetwork"
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "type": "object",
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses"
    },
    "HcxActivationKey": {
      "properties": {
        "activationKey": {
          "type": "string",
          "description": "Output only. HCX activation key.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of HCX activation key.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "description": "Output only. State of HCX activation key.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ]
        },
        "name": {
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "HcxActivationKey",
      "type": "object",
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones."
    },
    "TimeOfDay": {
      "type": "object",
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListVmwareEngineNetworksResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "vmwareEngineNetworks": {
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "description": "A list of VMware Engine networks.",
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "id": "ListVmwareEngineNetworksResponse",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "TimeWindow": {
      "type": "object",
      "id": "TimeWindow",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Required. Day of the week for this window."
        },
        "startTime": {
          "description": "Required. Time in UTC when the window starts.",
          "$ref": "TimeOfDay"
        },
        "duration": {
          "description": "Required. The duration of the window. The max allowed duration for any window is 24 hours.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Represents the time window to perform upgrade activities."
    },
    "AuditConfig": {
      "properties": {
        "auditLogConfigs": {
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array",
          "description": "The configuration for logging of each type of permission."
        },
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "type": "object",
      "id": "AuditConfig"
    },
    "PrivateCloud": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ],
          "description": "Optional. Type of the private cloud. Defaults to STANDARD.",
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ]
        },
        "description": {
          "description": "User-provided description for this private cloud.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "type": "string",
          "readOnly": true
        },
        "hcx": {
          "readOnly": true,
          "description": "Output only. HCX appliance.",
          "$ref": "Hcx"
        },
        "encryptionConfig": {
          "description": "Optional. Encryption configuration for the private cloud. If this field is left unspecified, Google default encryption is used.",
          "$ref": "EncryptionConfig"
        },
        "managementCluster": {
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        },
        "nsx": {
          "description": "Output only. NSX appliance.",
          "$ref": "Nsx",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "type": "string"
        },
        "deleteTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when the resource was scheduled for deletion."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime",
          "type": "string"
        },
        "vcenter": {
          "readOnly": true,
          "$ref": "Vcenter",
          "description": "Output only. Vcenter appliance."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Required. Network configuration of the private cloud."
        }
      },
      "id": "PrivateCloud",
      "type": "object",
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional."
    },
    "MigrateManagementVmsRequest": {
      "description": "Request message for VmwareEngine.MigrateManagementVms",
      "type": "object",
      "id": "MigrateManagementVmsRequest",
      "properties": {
        "etag": {
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The user-provided identifier of the workload cluster to which the management VMs are to be migrated. The cluster must be in the same private cloud as the one specified in `name`, and must be a workload cluster. The eventual cluster name will be constructed from the private cloud name and this cluster ID."
        }
      }
    },
    "VpcNetwork": {
      "id": "VpcNetwork",
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ]
        },
        "network": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`"
        }
      },
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource."
    },
    "PeeringRoute": {
      "properties": {
        "destRange": {
          "readOnly": true,
          "description": "Output only. Destination range of the peering route in CIDR notation.",
          "type": "string"
        },
        "imported": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the peering route has been imported from a peered VPC network; false otherwise. The import happens if the field `NetworkPeering.importCustomRoutes` is true for this network, `NetworkPeering.exportCustomRoutes` is true for the peer VPC network, and the import does not result in a route conflict."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "DYNAMIC_PEERING_ROUTE",
            "STATIC_PEERING_ROUTE",
            "SUBNET_PEERING_ROUTE"
          ],
          "enumDescriptions": [
            "Unspecified peering route type. This is the default value.",
            "Dynamic routes in the peer network.",
            "Static routes in the peer network.",
            "Created, updated, and removed automatically by Google Cloud when subnets are created, modified, or deleted in the peer network."
          ],
          "description": "Output only. Type of the route in the peer VPC network.",
          "readOnly": true
        },
        "priority": {
          "description": "Output only. The priority of the peering route.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "nextHopRegion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Region containing the next hop of the peering route. This field only applies to dynamic routes in the peer VPC network."
        },
        "direction": {
          "enumDescriptions": [
            "Unspecified exchanged routes direction. This is default.",
            "Routes imported from the peer network.",
            "Routes exported to the peer network."
          ],
          "description": "Output only. Direction of the routes exchanged with the peer network, from the VMware Engine network perspective: * Routes of direction `INCOMING` are imported from the peer network. * Routes of direction `OUTGOING` are exported from the intranet VPC network of the VMware Engine network.",
          "type": "string",
          "enum": [
            "DIRECTION_UNSPECIFIED",
            "INCOMING",
            "OUTGOING"
          ],
          "readOnly": true
        }
      },
      "description": "Exchanged network peering route.",
      "type": "object",
      "id": "PeeringRoute"
    },
    "GrantDnsBindPermissionRequest": {
      "id": "GrantDnsBindPermissionRequest",
      "description": "Request message for VmwareEngine.GrantDnsBindPermission",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ForwardingRule": {
      "properties": {
        "domain": {
          "description": "Required. Domain used to resolve a `name_servers` list.",
          "type": "string"
        },
        "nameServers": {
          "description": "Required. List of DNS servers to use for domain resolution",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers.",
      "id": "ForwardingRule",
      "type": "object"
    },
    "Principal": {
      "properties": {
        "user": {
          "type": "string",
          "description": "The user who needs to be granted permission."
        },
        "serviceAccount": {
          "description": "The service account which needs to be granted the permission.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Principal",
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project."
    },
    "ManagementDnsZoneBinding": {
      "properties": {
        "vpcNetwork": {
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this resource."
        },
        "name": {
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Last update time of this resource.",
          "type": "string"
        }
      },
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager.",
      "type": "object",
      "id": "ManagementDnsZoneBinding"
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "unreachable": {
          "description": "list of unreachable locations",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "announcements": {
          "type": "array",
          "description": "A list of announcement runs.",
          "items": {
            "$ref": "Announcement"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListAnnouncementsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListAnnouncements"
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "UnmountDatastoreRequest": {
      "id": "UnmountDatastoreRequest",
      "description": "Unmount Datastore Request messag",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        }
      }
    },
    "ListLoggingServersResponse": {
      "id": "ListLoggingServersResponse",
      "type": "object",
      "properties": {
        "loggingServers": {
          "items": {
            "$ref": "LoggingServer"
          },
          "description": "A list of Logging Servers.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for VmwareEngine.ListLoggingServers"
    },
    "ListUpgradesResponse": {
      "type": "object",
      "description": "Response message for VmwareEngine.ListUpgrades.",
      "id": "ListUpgradesResponse",
      "properties": {
        "upgrades": {
          "description": "A list of `Upgrades`.",
          "items": {
            "$ref": "Upgrade"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "List of unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RevokeDnsBindPermissionRequest": {
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RevokeDnsBindPermissionRequest"
    },
    "IpRange": {
      "id": "IpRange",
      "properties": {
        "externalAddress": {
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects/{project}/locations/{location}/privateClouds/{private_cloud}/externalAddresses/{external_address}`. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`.",
          "type": "string"
        },
        "ipAddressRange": {
          "type": "string",
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0/24`."
        },
        "ipAddress": {
          "type": "string",
          "description": "A single IP address. For example: `10.0.0.5`."
        }
      },
      "type": "object",
      "description": "An IP range provided in any one of the supported formats."
    },
    "ExternalAccessRule": {
      "type": "object",
      "id": "ExternalAccessRule",
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "properties": {
        "action": {
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action that the external access rule performs.",
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ]
        },
        "sourcePorts": {
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "sourceIpRanges": {
          "items": {
            "$ref": "IpRange"
          },
          "type": "array",
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
[...]
