{
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "transitclass": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Returns the transit class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.transitclass.get",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}"
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "id": "walletobjects.transitclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "list": {
          "path": "walletobjects/v1/transitClass",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "id": "walletobjects.transitclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitClass",
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.transitclass.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "request": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.patch",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "request": {
            "$ref": "TransitClass"
          }
        },
        "insert": {
          "response": {
            "$ref": "TransitClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts a transit class with the given ID and properties.",
          "request": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "parameters": {},
          "path": "walletobjects/v1/transitClass",
          "flatPath": "walletobjects/v1/transitClass"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "insert": {
          "id": "walletobjects.giftcardclass.insert",
          "flatPath": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass",
          "parameterOrder": []
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "description": "Adds a message to the gift card class referenced by the given class ID."
        },
        "get": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardclass.get",
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "update": {
          "description": "Updates the gift card class referenced by the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update",
          "response": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "path": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "id": "walletobjects.giftcardclass.list",
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.patch",
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Returns the permissions for the given issuer id.",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true,
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          }
        },
        "update": {
          "id": "walletobjects.permissions.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Permissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the permissions for the given issuer.",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "parameters": {},
                  "parameterOrder": [],
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice"
                }
              }
            }
          }
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "update": {
          "description": "Updates the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "id": "walletobjects.giftcardobject.update",
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "id": "walletobjects.giftcardobject.addmessage"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an gift card object with the given ID and properties.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/giftCardObject",
          "path": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card object with the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.patch"
        },
        "list": {
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "httpMethod": "GET",
          "id": "walletobjects.giftcardobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns the event ticket object with the given object ID.",
          "id": "walletobjects.eventticketobject.get"
        },
        "modifylinkedofferobjects": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "httpMethod": "POST",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT"
        },
        "insert": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject",
          "id": "walletobjects.eventticketobject.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "path": "walletobjects/v1/eventTicketObject",
          "id": "walletobjects.eventticketobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/eventTicketObject"
        },
        "patch": {
          "id": "walletobjects.eventticketobject.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "id": "walletobjects.eventticketobject.addmessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "jwt": {
      "methods": {
        "validate": {
          "flatPath": "walletobjects/v1/jwt/validate",
          "parameters": {},
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/jwt/validate",
          "id": "walletobjects.jwt.validate",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "httpMethod": "POST"
        },
        "insert": {
          "request": {
            "$ref": "JwtResource"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/jwt",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "id": "walletobjects.jwt.insert",
          "description": "Inserts the resources in the JWT.",
          "path": "walletobjects/v1/jwt",
          "parameters": {}
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "addmessage": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "id": "walletobjects.eventticketclass.addmessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "id": "walletobjects.eventticketclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "response": {
            "$ref": "EventTicketClassListResponse"
          }
        },
        "update": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.update",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "response": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "insert": {
          "path": "walletobjects/v1/eventTicketClass",
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Inserts an event ticket class with the given ID and properties.",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "id": "walletobjects.eventticketclass.insert",
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the event ticket class with the given class ID.",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.get"
        }
      }
    },
    "genericclass": {
      "methods": {
        "patch": {
          "id": "walletobjects.genericclass.patch",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics."
        },
        "get": {
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.get",
          "description": "Returns the generic class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}"
        },
        "insert": {
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [],
          "description": "Inserts a generic class with the given ID and properties.",
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert"
        },
        "list": {
          "path": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "id": "walletobjects.genericclass.list",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericClass",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericclass.addmessage",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID."
        },
        "update": {
          "id": "walletobjects.genericclass.update",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the Generic class referenced by the given class ID.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}"
        }
      }
    },
    "offerclass": {
      "methods": {
        "addmessage": {
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.offerclass.addmessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "request": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.offerclass.patch",
          "httpMethod": "PATCH"
        },
        "list": {
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "id": "walletobjects.offerclass.list",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.offerclass.update",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "id": "walletobjects.offerclass.get",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "id": "walletobjects.offerclass.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "OfferClass"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "path": "walletobjects/v1/offerClass",
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "POST"
        }
      }
    },
    "flightclass": {
      "methods": {
        "get": {
          "description": "Returns the flight class with the given class ID.",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.get",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.patch",
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH"
        },
        "list": {
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.list",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            }
          },
          "parameterOrder": []
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass",
          "id": "walletobjects.flightclass.insert",
          "description": "Inserts an flight class with the given ID and properties.",
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/flightClass"
        },
        "addmessage": {
          "id": "walletobjects.flightclass.addmessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PUT",
          "description": "Updates the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.update"
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.addmessage"
        },
        "update": {
          "description": "Updates the flight object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PUT",
          "id": "walletobjects.flightobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "path": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.list",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          }
        },
        "insert": {
          "path": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Inserts an flight object with the given ID and properties.",
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.insert"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight object with the given object ID.",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "GET",
          "id": "walletobjects.flightobject.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}"
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.patch",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "FlightObject"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "id": "walletobjects.transitobject.addmessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "id": "walletobjects.transitobject.get",
          "description": "Returns the transit object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.transitobject.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject",
          "description": "Inserts an transit object with the given ID and properties.",
          "parameters": {}
        },
        "list": {
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.list",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "path": "walletobjects/v1/transitObject",
          "parameterOrder": [],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.update",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          }
        },
        "patch": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.transitobject.patch",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "request": {
            "$ref": "SmartTap"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "description": "Inserts the smart tap.",
          "path": "walletobjects/v1/smartTap",
          "flatPath": "walletobjects/v1/smartTap"
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "PATCH",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "parameters": {
            "resourceId": {
              "format": "int64",
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "walletobjects.issuer.patch",
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "update": {
          "response": {
            "$ref": "Issuer"
          },
          "request": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "The unique identifier for an issuer."
            }
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "parameters": {},
          "parameterOrder": [],
          "description": "Returns a list of all issuers shared to the caller."
        },
        "get": {
          "response": {
            "$ref": "Issuer"
          },
          "description": "Returns the issuer with the given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.get"
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "description": "Inserts a generic object with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.insert",
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "request": {
            "$ref": "GenericObject"
          }
        },
        "update": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates the generic object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.update",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "request": {
            "$ref": "GenericObject"
          }
        },
        "get": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "id": "walletobjects.genericobject.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Returns the generic object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "flatPath": "walletobjects/v1/genericObject"
        },
        "patch": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.patch",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "response": {
            "$ref": "GenericObject"
          }
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "id": "walletobjects.genericobject.addmessage",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          }
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "id": "walletobjects.loyaltyobject.addmessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "description": "Adds a message to the loyalty object referenced by the given object ID."
        },
        "modifylinkedofferobjects": {
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects"
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an loyalty object with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {},
          "id": "walletobjects.loyaltyobject.insert",
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.list",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "path": "walletobjects/v1/loyaltyObject"
        },
        "patch": {
          "id": "walletobjects.loyaltyobject.patch",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.loyaltyobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "update": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.update",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "insert": {
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Inserts an loyalty class with the given ID and properties.",
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyclass.insert"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.list",
          "path": "walletobjects/v1/loyaltyClass"
        },
        "patch": {
          "id": "walletobjects.loyaltyclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
[...]
