{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "name": "walletobjects",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/pay/passes",
  "batchPath": "batch",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "title": "Google Wallet API",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "version": "v1",
  "id": "walletobjects:v1",
  "resources": {
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "parameterOrder": [],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "parameters": {}
                }
              }
            }
          }
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "parameters": {
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.get",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.loyaltyclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "insert": {
          "id": "walletobjects.loyaltyclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass",
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Inserts an loyalty class with the given ID and properties."
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.addmessage",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "id": "walletobjects.jwt.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/jwt",
          "httpMethod": "POST",
          "path": "walletobjects/v1/jwt",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "parameterOrder": [],
          "description": "Inserts the resources in the JWT.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "JwtResource"
          }
        },
        "validate": {
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "path": "walletobjects/v1/jwt/validate",
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved.",
          "parameters": {},
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/jwt/validate",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.jwt.validate"
        }
      }
    },
    "offerclass": {
      "methods": {
        "addmessage": {
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "id": "walletobjects.offerclass.addmessage"
        },
        "patch": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.patch",
          "response": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "request": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Returns the offer class with the given class ID."
        },
        "update": {
          "request": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OfferClass"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "walletobjects.offerclass.list",
          "path": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerClass"
        },
        "insert": {
          "response": {
            "$ref": "OfferClass"
          },
          "description": "Inserts an offer class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.insert",
          "parameters": {},
          "flatPath": "walletobjects/v1/offerClass",
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/offerClass",
          "parameterOrder": []
        }
      }
    },
    "genericobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the generic object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericobject.get"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.genericobject.addmessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage"
        },
        "list": {
          "id": "walletobjects.genericobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericObject",
          "parameters": {
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObjectListResponse"
          }
        },
        "patch": {
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.patch",
          "request": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "path": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.insert",
          "flatPath": "walletobjects/v1/genericObject",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObject"
          }
        },
        "update": {
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PUT"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PATCH",
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.patch",
          "request": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "id": "walletobjects.giftcardclass.addmessage"
        },
        "list": {
          "parameterOrder": [],
          "id": "walletobjects.giftcardclass.list",
          "flatPath": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardClass",
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GiftCardClassListResponse"
          }
        },
        "update": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID.",
          "id": "walletobjects.giftcardclass.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "get": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card class with the given class ID.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.get",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.giftcardclass.insert",
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "request": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [],
          "parameters": {},
          "flatPath": "walletobjects/v1/giftCardClass",
          "httpMethod": "POST"
        }
      }
    },
    "offerobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.offerobject.get",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "parameterOrder": [],
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "request": {
            "$ref": "OfferObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.insert",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Inserts an offer object with the given ID and properties."
        },
        "update": {
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}"
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "id": "walletobjects.offerobject.patch",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}"
        },
        "list": {
          "flatPath": "walletobjects/v1/offerObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "path": "walletobjects/v1/offerObject",
          "id": "walletobjects.offerobject.list",
          "httpMethod": "GET",
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "addmessage": {
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.offerobject.addmessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        }
      }
    },
    "flightclass": {
      "methods": {
        "list": {
          "flatPath": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "path": "walletobjects/v1/flightClass"
        },
        "insert": {
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "id": "walletobjects.flightclass.insert",
          "parameters": {},
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.flightclass.get",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the flight class with the given class ID.",
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.flightclass.addmessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage"
        },
        "update": {
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.update",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID.",
          "httpMethod": "PUT"
        },
        "patch": {
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.flightclass.patch",
          "request": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClass"
          }
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "addmessage": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [],
          "description": "Inserts an gift card object with the given ID and properties.",
          "id": "walletobjects.giftcardobject.insert",
          "flatPath": "walletobjects/v1/giftCardObject"
        },
        "get": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the gift card object with the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.giftcardobject.get",
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.giftcardobject.update",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "patch": {
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.patch",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            }
          },
          "id": "walletobjects.giftcardobject.list",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "path": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject"
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "id": "walletobjects.eventticketclass.addmessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "request": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.update",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID."
        },
        "insert": {
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass",
          "id": "walletobjects.eventticketclass.insert",
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "walletobjects/v1/eventTicketClass",
          "description": "Inserts an event ticket class with the given ID and properties."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            }
          },
          "id": "walletobjects.eventticketclass.list",
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "httpMethod": "GET",
          "description": "Returns a list of all event ticket classes for a given issuer ID."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "id": "walletobjects.eventticketclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "PATCH",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "get": {
          "id": "walletobjects.eventticketclass.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}"
        }
      }
    },
    "flightobject": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.get",
          "description": "Returns the flight object with the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "path": "walletobjects/v1/flightObject",
          "parameters": {
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "id": "walletobjects.flightobject.list"
        },
        "update": {
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.update",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.patch",
          "request": {
            "$ref": "FlightObject"
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.addmessage",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the flight object referenced by the given object ID."
        },
        "insert": {
          "flatPath": "walletobjects/v1/flightObject",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an flight object with the given ID and properties.",
          "path": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.insert",
          "parameters": {}
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "insert": {
          "description": "Inserts an loyalty object with the given ID and properties.",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject",
          "id": "walletobjects.loyaltyobject.insert"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "id": "walletobjects.loyaltyobject.patch",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "list": {
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "id": "walletobjects.loyaltyobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.update"
        },
        "get": {
          "description": "Returns the loyalty object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyobject.get",
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "modifylinkedofferobjects": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "id": "walletobjects.loyaltyobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Returns the generic class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.get",
          "httpMethod": "GET"
        },
        "list": {
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameterOrder": [],
          "id": "walletobjects.genericclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "response": {
            "$ref": "GenericClass"
          },
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.update",
          "description": "Updates the Generic class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericclass.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.insert",
          "description": "Inserts a generic class with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericClass",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass"
        }
      }
    },
    "transitclass": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "TransitClass"
          },
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {},
          "id": "walletobjects.transitclass.insert",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties.",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitClass"
        },
        "addmessage": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.addmessage"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.transitclass.patch",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "path": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.list",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            }
          },
          "flatPath": "walletobjects/v1/transitClass"
        },
        "update": {
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.update",
          "description": "Updates the transit class referenced by the given class ID.",
          "response": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns the transit class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "httpMethod": "GET",
          "id": "walletobjects.transitclass.get",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.media.upload",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "supportsMediaUpload": true
        },
        "download": {
          "supportsMediaDownload": true,
          "response": {
            "$ref": "Media"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.media.download",
          "useMediaDownloadService": true,
          "httpMethod": "GET"
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "description": "Returns a list of all issuers shared to the caller.",
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "request": {
            "$ref": "Issuer"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "required": true,
              "format": "int64",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the issuer referenced by the given issuer ID.",
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update"
        },
        "insert": {
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "id": "walletobjects.issuer.insert",
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "parameterOrder": []
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer."
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.patch"
        },
        "get": {
          "id": "walletobjects.issuer.get",
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns the issuer with the given issuer ID.",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer."
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        }
      }
    },
    "transitobject": {
      "methods": {
        "list": {
          "id": "walletobjects.transitobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "path": "walletobjects/v1/transitObject",
          "flatPath": "walletobjects/v1/transitObject",
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TransitObjectListResponse"
          }
        },
        "get": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "id": "walletobjects.transitobject.get",
          "response": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the transit object with the given object ID."
        },
        "update": {
          "parameters": {
            "resourceId": {
              "location": "path",
[...]
