{
  "ownerName": "Google",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "name": "walletobjects",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.media.upload",
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "supportsMediaUpload": true
        },
        "download": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "id": "walletobjects.media.download",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.update",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "id": "walletobjects.loyaltyclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "LoyaltyClass"
          }
        },
        "get": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyclass.get",
          "description": "Returns the loyalty class with the given class ID.",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "list": {
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "id": "walletobjects.loyaltyclass.addmessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "parameters": {},
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass"
        }
      }
    },
    "offerclass": {
      "methods": {
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.get",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "description": "Returns the offer class with the given class ID."
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {},
          "response": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "id": "walletobjects.offerclass.insert",
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [],
          "description": "Inserts an offer class with the given ID and properties."
        },
        "addmessage": {
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "id": "walletobjects.offerclass.addmessage",
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "list": {
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "id": "walletobjects.offerclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/offerClass",
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "parameterOrder": []
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "request": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.offerclass.update"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.offerclass.patch",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "request": {
            "$ref": "OfferClass"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "patch": {
          "id": "walletobjects.transitclass.patch",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "request": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}"
        },
        "list": {
          "flatPath": "walletobjects/v1/transitClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.list"
        },
        "insert": {
          "description": "Inserts a transit class with the given ID and properties.",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.insert",
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitClass"
          },
          "request": {
            "$ref": "TransitClass"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "request": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.update",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the transit class referenced by the given class ID."
        },
        "addmessage": {
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "id": "walletobjects.transitclass.addmessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.get",
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Returns the transit class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "description": "Inserts an event ticket object with the given ID and properties.",
          "path": "walletobjects/v1/eventTicketObject",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.insert"
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "deprecated": true,
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects"
        },
        "update": {
          "id": "walletobjects.eventticketobject.update",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket object referenced by the given object ID.",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "walletobjects.eventticketobject.list",
          "flatPath": "walletobjects/v1/eventTicketObject"
        },
        "patch": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.patch"
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "id": "walletobjects.eventticketobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.get",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the event ticket object with the given object ID."
        }
      }
    },
    "genericclass": {
      "methods": {
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true
            }
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GenericClass"
          },
          "response": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}"
        },
        "list": {
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "walletobjects.genericclass.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          }
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "id": "walletobjects.genericclass.addmessage"
        },
        "insert": {
          "id": "walletobjects.genericclass.insert",
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {},
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts a generic class with the given ID and properties.",
          "path": "walletobjects/v1/genericClass"
        },
        "get": {
          "description": "Returns the generic class with the given class ID.",
          "id": "walletobjects.genericclass.get",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "httpMethod": "POST",
          "response": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "parameters": {},
          "path": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "request": {
            "$ref": "SmartTap"
          },
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "flightobject": {
      "methods": {
        "patch": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "id": "walletobjects.flightobject.patch",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.flightobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage"
        },
        "insert": {
          "id": "walletobjects.flightobject.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {},
          "path": "walletobjects/v1/flightObject",
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties.",
          "flatPath": "walletobjects/v1/flightObject"
        },
        "list": {
          "path": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.list",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/flightObject",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "type": "string",
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "parameterOrder": []
        },
        "get": {
          "id": "walletobjects.flightobject.get",
          "description": "Returns the flight object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.update",
          "description": "Updates the flight object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "PUT"
        }
      }
    },
    "offerobject": {
      "methods": {
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the offer object referenced by the given object ID.",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "patch": {
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "id": "walletobjects.offerobject.patch",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          }
        },
        "addmessage": {
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "id": "walletobjects.offerobject.list",
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "parameterOrder": [],
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          }
        },
        "get": {
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.get",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "OfferObject"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.insert",
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Inserts an offer object with the given ID and properties.",
          "path": "walletobjects/v1/offerObject"
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "id": "walletobjects.issuer.insert",
          "description": "Inserts an issuer with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Issuer"
          },
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer",
          "path": "walletobjects/v1/issuer"
        },
        "list": {
          "description": "Returns a list of all issuers shared to the caller.",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "path": "walletobjects/v1/issuer",
          "parameterOrder": []
        },
        "patch": {
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "format": "int64",
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics."
        },
        "update": {
          "id": "walletobjects.issuer.update",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "request": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.get"
        }
      }
    },
    "flightclass": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.get",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight class with the given class ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          }
        },
        "patch": {
          "id": "walletobjects.flightclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "parameterOrder": [],
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/flightClass",
          "id": "walletobjects.flightclass.list",
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "response": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.update",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "request": {
            "$ref": "FlightClass"
          }
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST",
          "id": "walletobjects.flightclass.addmessage",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID."
        },
        "insert": {
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass",
          "id": "walletobjects.flightclass.insert",
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "parameters": {},
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass",
          "parameterOrder": []
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Returns the gift card class with the given class ID."
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.insert",
          "flatPath": "walletobjects/v1/giftCardClass",
          "description": "Inserts an gift card class with the given ID and properties.",
          "path": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "id": "walletobjects.giftcardclass.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage"
        },
        "update": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardclass.update",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardClass"
          },
          "request": {
            "$ref": "GiftCardClass"
          }
        },
        "list": {
          "id": "walletobjects.giftcardclass.list",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass"
        },
        "patch": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "id": "walletobjects.giftcardclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "list": {
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "id": "walletobjects.eventticketclass.list",
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "parameterOrder": []
        },
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "id": "walletobjects.eventticketclass.get",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the event ticket class with the given class ID."
        },
        "update": {
          "id": "walletobjects.eventticketclass.update",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "addmessage": {
          "id": "walletobjects.eventticketclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID."
        },
        "insert": {
          "description": "Inserts an event ticket class with the given ID and properties.",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameters": {},
          "id": "walletobjects.eventticketclass.insert",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": []
        },
        "patch": {
          "id": "walletobjects.eventticketclass.patch",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH"
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.get",
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "description": "Returns the permissions for the given issuer id.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "path": "walletobjects/v1/permissions/{resourceId}"
        },
        "update": {
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "request": {
            "$ref": "Permissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the permissions for the given issuer.",
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "type": "string",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "insert": {
          "id": "walletobjects.loyaltyobject.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "description": "Inserts an loyalty object with the given ID and properties.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject"
        },
        "patch": {
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.patch",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PATCH"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.update",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject",
          "path": "walletobjects/v1/loyaltyObject",
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "id": "walletobjects.loyaltyobject.list",
          "description": "Returns a list of all loyalty objects for a given issuer ID."
        },
        "addmessage": {
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "modifylinkedofferobjects": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true
        },
        "get": {
          "description": "Returns the loyalty object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "GET"
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "id": "walletobjects.genericobject.insert",
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "GenericObject"
          },
          "parameters": {},
          "description": "Inserts a generic object with the given ID and properties.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "id": "walletobjects.genericobject.addmessage",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "request": {
            "$ref": "GenericObject"
          },
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.update",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true
            }
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "path": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "flatPath": "walletobjects/v1/genericObject",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "location": "query",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "id": "walletobjects.genericobject.list"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the generic object with the given object ID.",
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/genericObject/{resourceId}"
        },
        "patch": {
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GenericObject"
          }
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the gift card object referenced by the given object ID.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.update",
          "request": {
            "$ref": "GiftCardObject"
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.giftcardobject.get",
          "description": "Returns the gift card object with the given object ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "description": "Adds a message to the gift card object referenced by the given object ID."
        },
        "patch": {
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.giftcardobject.patch",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PATCH",
          "scopes": [
[...]
