{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "version": "v1",
  "servicePath": "",
  "canonicalName": "Walletobjects",
  "revision": "20260831",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "walletobjects:v1",
  "documentationLink": "https://developers.google.com/pay/passes",
  "name": "walletobjects",
  "basePath": "",
  "schemas": {
    "Permissions": {
      "type": "object",
      "id": "Permissions",
      "properties": {
        "issuerId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the issuer the list of permissions refer to."
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "type": "array",
          "description": "The complete list of permissions for the issuer account."
        }
      }
    },
    "UploadPrivateImageRequest": {
      "id": "UploadPrivateImageRequest",
      "type": "object",
      "description": "Request to upload a private image to use in a pass.",
      "properties": {}
    },
    "EventDateTime": {
      "properties": {
        "start": {
          "type": "string",
          "description": "The date/time when the event starts. If the event spans multiple days, it should be the start date/time on the first day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "doorsOpenLabel": {
          "enum": [
            "DOORS_OPEN_LABEL_UNSPECIFIED",
            "DOORS_OPEN",
            "doorsOpen",
            "GATES_OPEN",
            "gatesOpen"
          ],
          "description": "The label to use for the doors open value (`doorsOpen`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `DOORS_OPEN`. Deprecated.",
            "",
            "Legacy alias for `GATES_OPEN`. Deprecated."
          ]
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventDateTime\"`.",
          "deprecated": true
        },
        "customDoorsOpenLabel": {
          "description": "A custom label to use for the doors open value (`doorsOpen`) on the card detail view. This should only be used if the default \"Doors Open\" label or one of the `doorsOpenLabel` options is not sufficient. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "end": {
          "type": "string",
          "description": "The date/time when the event ends. If the event spans multiple days, it should be the end date/time on the last day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "doorsOpen": {
          "type": "string",
          "description": "The date/time when the doors open at the venue. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        }
      },
      "id": "EventDateTime",
      "type": "object"
    },
    "TicketRestrictions": {
      "properties": {
        "timeRestrictions": {
          "description": "Restrictions about times this ticket may be used.",
          "$ref": "LocalizedString"
        },
        "otherRestrictions": {
          "$ref": "LocalizedString",
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories."
        },
        "routeRestrictionsDetails": {
          "description": "More details about the above `routeRestrictions`.",
          "$ref": "LocalizedString"
        },
        "routeRestrictions": {
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\".",
          "$ref": "LocalizedString"
        }
      },
      "id": "TicketRestrictions",
      "type": "object"
    },
    "ActivationStatus": {
      "id": "ActivationStatus",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ]
        }
      },
      "description": "The activation status of the object. This field includes activation status if valuable supports activation.",
      "type": "object"
    },
    "CardTemplateOverride": {
      "properties": {
        "cardRowTemplateInfos": {
          "items": {
            "$ref": "CardRowTemplateInfo"
          },
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "CardTemplateOverride"
    },
    "AddMessageRequest": {
      "description": "Resource used when the AddMessage endpoints are called.",
      "id": "AddMessageRequest",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "AppLinkDataAppLinkInfoAppTarget": {
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Package name for AppTarget. For example: com.google.android.gm",
          "type": "string"
        },
        "targetUri": {
          "$ref": "Uri",
          "description": "URI for AppTarget. The description on the URI must be set. Prefer setting package field instead, if this target is defined for your application."
        }
      },
      "id": "AppLinkDataAppLinkInfoAppTarget"
    },
    "IssuerContactInfo": {
      "type": "object",
      "id": "IssuerContactInfo",
      "properties": {
        "name": {
          "description": "The primary contact name.",
          "type": "string"
        },
        "alertsEmails": {
          "items": {
            "type": "string"
          },
          "description": "Email addresses which will receive alerts.",
          "type": "array"
        },
        "email": {
          "description": "The primary contact email address.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The primary contact phone number."
        }
      }
    },
    "Blobstore2Info": {
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2.",
      "properties": {
        "uploadMetadataContainer": {
          "format": "byte",
          "type": "string",
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads."
        },
        "readToken": {
          "type": "string",
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call."
        },
        "downloadReadHandle": {
          "type": "string",
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "format": "byte"
        },
        "blobGeneration": {
          "type": "string",
          "description": "The blob generation id.",
          "format": "int64"
        },
        "uploadFragmentListCreationInfo": {
          "format": "byte",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "format": "byte",
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FlightClassListResponse": {
      "id": "FlightClassListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "FlightClass"
          }
        }
      },
      "type": "object"
    },
    "Resources": {
      "properties": {
        "loyaltyClasses": {
          "items": {
            "$ref": "LoyaltyClass"
          },
          "type": "array",
          "description": "A list of loyalty classes."
        },
        "offerObjects": {
          "description": "A list of offer objects.",
          "items": {
            "$ref": "OfferObject"
          },
          "type": "array"
        },
        "genericObjects": {
          "type": "array",
          "description": "A list of generic objects.",
          "items": {
            "$ref": "GenericObject"
          }
        },
        "giftCardObjects": {
          "items": {
            "$ref": "GiftCardObject"
          },
          "description": "A list of gift card objects.",
          "type": "array"
        },
        "loyaltyObjects": {
          "description": "A list of loyalty objects.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyObject"
          }
        },
        "giftCardClasses": {
          "description": "A list of gift card classes.",
          "type": "array",
          "items": {
            "$ref": "GiftCardClass"
          }
        },
        "eventTicketObjects": {
          "type": "array",
          "items": {
            "$ref": "EventTicketObject"
          },
          "description": "A list of event ticket objects."
        },
        "genericClasses": {
          "description": "A list of generic classes.",
          "items": {
            "$ref": "GenericClass"
          },
          "type": "array"
        },
        "transitClasses": {
          "description": "A list of transit classes.",
          "type": "array",
          "items": {
            "$ref": "TransitClass"
          }
        },
        "transitObjects": {
          "type": "array",
          "items": {
            "$ref": "TransitObject"
          },
          "description": "A list of transit objects."
        },
        "eventTicketClasses": {
          "description": "A list of event ticket classes.",
          "items": {
            "$ref": "EventTicketClass"
          },
          "type": "array"
        },
        "flightObjects": {
          "description": "A list of flight objects.",
          "type": "array",
          "items": {
            "$ref": "FlightObject"
          }
        },
        "flightClasses": {
          "description": "A list of flight classes.",
          "type": "array",
          "items": {
            "$ref": "FlightClass"
          }
        },
        "offerClasses": {
          "description": "A list of offer classes.",
          "type": "array",
          "items": {
            "$ref": "OfferClass"
          }
        }
      },
      "type": "object",
      "id": "Resources"
    },
    "FlightObjectAddMessageResponse": {
      "id": "FlightObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated FlightObject resource.",
          "$ref": "FlightObject"
        }
      },
      "type": "object"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "properties": {
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`.",
          "type": "string"
        },
        "defaultValue": {
          "description": "Contains the string to be displayed if no appropriate translation is available.",
          "$ref": "TranslatedString"
        },
        "translatedValues": {
          "type": "array",
          "items": {
            "$ref": "TranslatedString"
          },
          "description": "Contains the translations for the string."
        }
      },
      "type": "object"
    },
    "PurchaseDetails": {
      "properties": {
        "accountId": {
          "description": "ID of the account used to purchase the ticket.",
          "type": "string"
        },
        "confirmationCode": {
          "description": "The confirmation code for the purchase. This may be the same for multiple different tickets and is used to group tickets together.",
          "type": "string"
        },
        "purchaseReceiptNumber": {
          "type": "string",
          "description": "Receipt number/identifier for tracking the ticket purchase via the body that sold the ticket."
        },
        "purchaseDateTime": {
          "description": "The purchase date/time of the ticket. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "ticketCost": {
          "description": "The cost of the ticket.",
          "$ref": "TicketCost"
        }
      },
      "id": "PurchaseDetails",
      "type": "object"
    },
    "DiffVersionResponse": {
      "id": "DiffVersionResponse",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectSizeBytes": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the server object."
        },
        "objectVersion": {
          "type": "string",
          "description": "The version of the object stored at the server."
        }
      },
      "type": "object"
    },
    "ModifyLinkedOfferObjects": {
      "type": "object",
      "id": "ModifyLinkedOfferObjects",
      "properties": {
        "addLinkedOfferObjectIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The linked offer object ids to add to the object."
        },
        "removeLinkedOfferObjectIds": {
          "type": "array",
          "description": "The linked offer object ids to remove from the object.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ClassTemplateInfo": {
      "properties": {
        "listTemplateOverride": {
          "$ref": "ListTemplateOverride",
          "description": "Override for the passes list view."
        },
        "cardTemplateOverride": {
          "$ref": "CardTemplateOverride",
          "description": "Override for the card view."
        },
        "cardBarcodeSectionDetails": {
          "description": "Specifies extra information to be displayed above and below the barcode.",
          "$ref": "CardBarcodeSectionDetails"
        },
        "detailsTemplateOverride": {
          "description": "Override for the details view (beneath the card view).",
          "$ref": "DetailsTemplateOverride"
        }
      },
      "type": "object",
      "id": "ClassTemplateInfo"
    },
    "ExpiryNotification": {
      "properties": {
        "enableNotification": {
          "type": "boolean",
          "description": "Indicates if the object needs to have expiry notification enabled."
        }
      },
      "id": "ExpiryNotification",
      "type": "object",
      "description": "Indicates that the issuer would like Google Wallet to send expiry notifications 2 days prior to the card expiration."
    },
    "TicketLeg": {
      "type": "object",
      "properties": {
        "platform": {
          "type": "string",
          "description": "The platform or gate where the passenger can board the carriage."
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "transitTerminusName": {
          "description": "Terminus station or destination of the train/bus/etc.",
          "$ref": "LocalizedString"
        },
        "zone": {
          "description": "The zone of boarding within the platform.",
          "type": "string"
        },
        "transitOperatorName": {
          "$ref": "LocalizedString",
          "description": "The name of the transit operator that is operating this leg of a trip."
        },
        "destinationName": {
          "description": "The destination name.",
          "$ref": "LocalizedString"
        },
        "departureDateTime": {
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "ticketSeats": {
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "type": "array",
          "items": {
            "$ref": "TicketSeat"
          }
        },
        "carriage": {
          "type": "string",
          "description": "The train or ship name/number that the passsenger needs to board."
        },
        "arrivalDateTime": {
          "type": "string",
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "fareName": {
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\".",
          "$ref": "LocalizedString"
        },
        "originName": {
          "$ref": "LocalizedString",
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present."
        },
        "originStationCode": {
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present.",
          "type": "string"
        },
        "destinationStationCode": {
          "description": "The destination station code.",
          "type": "string"
        }
      },
      "id": "TicketLeg"
    },
    "GenericObject": {
      "properties": {
        "subheader": {
          "$ref": "LocalizedString",
          "description": "The title label of the pass, such as location where this pass can be used. Appears right above the title in the title row in the pass detail view."
        },
        "validTimeInterval": {
          "description": "The time period this object will be considered valid or usable. When the time period is passed, the object will be considered expired, which will affect the rendering on user's devices.",
          "$ref": "TimeInterval"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "type": "string",
          "description": "The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section. If this is not provided, the object would be considered `ACTIVE`.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ]
        },
        "genericType": {
          "description": "Specify which `GenericType` the card belongs to.",
          "enumDescriptions": [
            "Unspecified generic type.",
            "Represents a season pass.",
            "Represents a utility bill.",
            "Represents a parking pass.",
            "Represents a voucher.",
            "Represents a gym membership card.",
            "Represents a library card.",
            "Represents a reservation.",
            "Represents an auto-insurance card.",
            "Represents a home-insurance card.",
            "Represents an entry ticket.",
            "Represents a receipt.",
            "Represents a loyalty card. Please note that it is advisable to use a dedicated Loyalty card pass type instead of this generic type. A dedicated loyalty card pass type offers more features and functionality than a generic pass type.",
            "Represents a business card.",
            "Represents a barcode pass.",
            "Represents a membership card.",
            "Represents a student card.",
            "Represents a transit pass.",
            "Represents a vehicle registration.",
            "Represents another type of generic pass."
          ],
          "type": "string",
          "enum": [
            "GENERIC_TYPE_UNSPECIFIED",
            "GENERIC_SEASON_PASS",
            "GENERIC_UTILITY_BILLS",
            "GENERIC_PARKING_PASS",
            "GENERIC_VOUCHER",
            "GENERIC_GYM_MEMBERSHIP",
            "GENERIC_LIBRARY_MEMBERSHIP",
            "GENERIC_RESERVATIONS",
            "GENERIC_AUTO_INSURANCE",
            "GENERIC_HOME_INSURANCE",
            "GENERIC_ENTRY_TICKET",
            "GENERIC_RECEIPT",
            "GENERIC_LOYALTY_CARD",
            "GENERIC_BUSINESS_CARD",
            "GENERIC_BARCODE_PASS",
            "GENERIC_MEMBERSHIP_CARD",
            "GENERIC_STUDENT_CARD",
            "GENERIC_TRANSIT_PASS",
            "GENERIC_VEHICLE_REGISTRATION",
            "GENERIC_OTHER"
          ]
        },
        "notifications": {
          "$ref": "Notifications",
          "description": "The notification settings that are enabled for this object."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode settings/details."
        },
        "heroImage": {
          "description": "Banner image displayed on the front of the card if present. The image will be displayed at 100% width.",
          "$ref": "Image"
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "linksModuleData": {
          "description": "Links module data. If `linksModuleData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object.",
          "$ref": "LinksModuleData"
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If `textModulesData` is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from class and 10 from object."
        },
        "header": {
          "description": "Required. The title of the pass, such as \"50% off coupon\" or \"Library card\" or \"Voucher\". This field is required and appears in the title row of the pass detail view.",
          "$ref": "LocalizedString"
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "cardTitle": {
          "description": "Required. The header of the pass. This is usually the Business name such as \"XXX Gym\", \"AAA Insurance\". This field is required and appears in the header row at the very top of the pass.",
          "$ref": "LocalizedString"
        },
        "logo": {
          "description": "The logo image of the pass. This image is displayed in the card detail view in upper left, and also on the list/thumbnail view. If the logo is not present, the first letter of `cardTitle` would be shown as logo.",
          "$ref": "Image"
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. Only one of the image from class and one from object level will be rendered when both set.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "valueAddedModuleData": {
          "type": "array",
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          }
        },
        "wideLogo": {
          "description": "The wide logo of the pass. When provided, this will be used in place of the logo in the top left of the card view.",
          "$ref": "Image"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set, the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used and if logo is not set, a color would be chosen by Google.",
          "type": "string"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you.",
          "type": "string"
        },
        "barcode": {
          "description": "The barcode type and value. If pass does not have a barcode, we can allow the issuer to set Barcode.alternate_text and display just that.",
          "$ref": "Barcode"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "linkedObjectIds": {
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this generic object. If a user had saved this generic card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "messages": {
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array",
          "items": {
            "$ref": "Message"
          }
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        }
      },
      "description": "Generic Object",
      "type": "object",
      "id": "GenericObject"
    },
    "ListTemplateOverride": {
      "id": "ListTemplateOverride",
      "properties": {
        "firstRowOption": {
          "description": "Specifies from a predefined set of options or from a reference to the field what will be displayed in the first row. To set this override, set the FirstRowOption.fieldOption to the FieldSelector of your choice.",
          "$ref": "FirstRowOption"
        },
        "thirdRowOption": {
          "description": "An unused/deprecated field. Setting it will have no effect on what the user sees.",
          "deprecated": true,
          "$ref": "FieldSelector"
        },
        "secondRowOption": {
          "$ref": "FieldSelector",
          "description": "A reference to the field to be displayed in the second row. This option is only displayed if there are not multiple user objects in a group. If there is a group, the second row will always display a field shared by all objects. To set this override, please set secondRowOption to the FieldSelector of you choice."
        }
      },
      "type": "object"
    },
    "ContentTypeInfo": {
      "properties": {
        "fromBytes": {
          "description": "The content type of the file derived by looking at specific bytes (i.e. \"magic bytes\") of the actual file.",
          "type": "string"
        },
        "fromFusionId": {
          "type": "string",
          "description": "The content type of the file detected by Fusion ID. go/fusionid"
        },
        "fromHeader": {
          "description": "The content type of the file as specified in the request headers, multipart headers, or RUPIO start request.",
          "type": "string"
        },
        "bestGuess": {
          "description": "Scotty's best guess of what the content type of the file is.",
          "type": "string"
        },
        "fromUrlPath": {
          "type": "string",
          "description": "The content type of the file derived from the file extension of the URL path. The URL path is assumed to represent a file name (which is typically only true for agents that are providing a REST API)."
        },
        "fromFileName": {
          "type": "string",
          "description": "The content type of the file derived from the file extension of the original file name used by the client."
        },
        "fusionIdDetectionMetadata": {
          "format": "byte",
          "type": "string",
          "description": "Metadata information from Fusion ID detection. Serialized FusionIdDetectionMetadata proto. Only set if from_fusion_id is set."
        }
      },
      "type": "object",
      "id": "ContentTypeInfo",
      "description": "Detailed Content-Type information from Scotty. The Content-Type of the media will typically be filled in by the header or Scotty's best_guess, but this extended information provides the backend with more information so that it can make a better decision if needed. This is only used on media upload requests from Scotty."
    },
    "OfferObject": {
      "id": "OfferObject",
      "properties": {
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers."
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "OfferClass"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "merchantLocations": {
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints."
        },
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "version": {
          "description": "Deprecated",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string"
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ]
        },
        "locations": {
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerObject\"`.",
          "deprecated": true
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "linkedObjectIds": {
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this offer object. If a user had saved this offer, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID.identifier where the former is issued by Google and the latter is chosen by you.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        }
      },
      "type": "object"
    },
    "DetailsItemInfo": {
      "id": "DetailsItemInfo",
      "properties": {
        "item": {
          "$ref": "TemplateItem",
          "description": "The item to be displayed in the details list."
        }
      },
      "type": "object"
    },
    "TransitObjectListResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "TransitObject"
          },
          "description": "Resources corresponding to the list request."
        }
      },
      "id": "TransitObjectListResponse"
    },
    "GenericObjectAddMessageResponse": {
      "description": "Response to adding a new issuer message to the object. This contains the entire updated GenericObject.",
      "id": "GenericObjectAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated GenericObject resource.",
          "$ref": "GenericObject"
        }
      }
    },
    "AppLinkData": {
      "id": "AppLinkData",
      "properties": {
        "webAppLinkInfo": {
          "$ref": "AppLinkDataAppLinkInfo",
          "description": "Optional information about the partner web link."
        },
        "displayText": {
          "description": "Optional display text for the app link button. Character limit is 30.",
          "$ref": "LocalizedString"
        },
        "iosAppLinkInfo": {
          "deprecated": true,
          "description": "Deprecated. Links to open iOS apps are not supported.",
          "$ref": "AppLinkDataAppLinkInfo"
        },
        "androidAppLinkInfo": {
          "description": "Optional information about the partner app link.",
          "$ref": "AppLinkDataAppLinkInfo"
        }
      },
      "type": "object"
    },
    "GenericObjectListResponse": {
      "description": "List response which contains the list of all generic objects for a given issuer ID.",
      "type": "object",
      "id": "GenericObjectListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "GenericObject"
          },
          "type": "array",
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      }
    },
    "BoardingAndSeatingInfo": {
      "type": "object",
      "id": "BoardingAndSeatingInfo",
      "properties": {
        "seatNumber": {
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\"",
          "type": "string"
        },
        "boardingDoor": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set.",
          "type": "string",
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ]
        },
        "boardingPosition": {
          "type": "string",
          "description": "The value of boarding position. eg: \"76\""
        },
        "boardingGroup": {
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object.",
          "type": "string"
        },
        "boardingPrivilegeImage": {
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program.",
          "$ref": "Image"
        },
        "seatClass": {
          "type": "string",
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\""
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`.",
          "type": "string",
          "deprecated": true
        },
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "seatAssignment": {
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\"",
          "$ref": "LocalizedString"
        }
      }
    },
    "ActivationOptions": {
      "description": "ActivationOptions for the class",
      "type": "object",
      "properties": {
        "activationUrl": {
          "type": "string",
          "description": "HTTPS URL that supports REST semantics. Would be used for requesting activation from partners for given valuable, triggered by the users."
        },
        "allowReactivation": {
          "type": "boolean",
          "description": "Flag to allow users to make activation call from different device. This allows client to render the activation button enabled even if the activationStatus is ACTIVATED but the requested device is different than the current device."
        }
      },
      "id": "ActivationOptions"
    },
    "BarcodeSectionDetail": {
      "properties": {
        "fieldSelector": {
          "description": "A reference to an existing text-based or image field to display.",
          "$ref": "FieldSelector"
        }
      },
      "id": "BarcodeSectionDetail",
      "type": "object"
    },
    "Barcode": {
      "properties": {
        "alternateText": {
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned.",
          "type": "string"
        },
        "renderEncoding": {
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "type": "string"
        },
        "showCodeText": {
          "$ref": "LocalizedString",
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#barcode\"`."
        },
        "value": {
          "description": "The value encoded in the barcode.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The type of barcode."
        }
      },
      "type": "object",
      "id": "Barcode"
    },
    "GenericClassAddMessageResponse": {
      "id": "GenericClassAddMessageResponse",
      "description": "Response to adding a new issuer message to the class. This contains the entire updated GenericClass.",
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "GenericClass",
          "description": "The updated EventTicketClass resource."
        }
      }
    },
    "FieldReference": {
      "properties": {
        "fieldPath": {
          "type": "string",
          "description": "Path to the field being referenced, prefixed with \"object\" or \"class\" and separated with dots. For example, it may be the string \"object.purchaseDetails.purchasePrice\"."
        },
        "dateFormat": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "description": "Only valid if the `fieldPath` references a date field. Chooses how the date field will be formatted and displayed in the UI.",
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_TIME",
            "dateTime",
            "DATE_ONLY",
            "dateOnly",
            "TIME_ONLY",
            "timeOnly",
            "DATE_TIME_YEAR",
            "dateTimeYear",
            "DATE_YEAR",
            "dateYear",
            "YEAR_MONTH",
            "YEAR_MONTH_DAY"
          ],
          "enumDescriptions": [
            "Default option when no format is specified, when selected, no formatting will be applied.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14` in `en_US`.",
            "Legacy alias for `DATE_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `1:00 PM` in `en_US`.",
            "Legacy alias for `TIME_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018` in `en_US`.",
            "Legacy alias for `DATE_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `2018-12`.",
            "Renders `2018-12-14T13:00:00` as `2018-12-14`."
          ]
        }
      },
      "description": "Reference definition to use with field overrides.",
      "id": "FieldReference",
      "type": "object"
    },
    "SignUpInfo": {
      "id": "SignUpInfo",
      "properties": {
        "classId": {
          "description": "ID of the class the user can sign up for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LoyaltyObjectAddMessageResponse": {
      "id": "LoyaltyObjectAddMessageResponse",
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated LoyaltyObject resource.",
          "$ref": "LoyaltyObject"
        }
      }
    },
    "OfferClass": {
      "properties": {
        "notifyPreference": {
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string",
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ]
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array",
          "items": {
            "$ref": "MerchantLocation"
          }
        },
        "textModulesData": {
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "finePrint": {
          "description": "The fine print or terms of the offer, such as \"20% off any t-shirt at Adam's Apparel.\"",
          "type": "string"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "localizedTitle": {
          "description": "Translated strings for the title. Recommended maximum length is 60 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true
        },
        "helpUri": {
          "$ref": "Uri",
          "description": "The help link for the offer, such as `http://myownpersonaldomain.com/help`"
        },
        "wordMark": {
          "description": "Deprecated.",
          "deprecated": true,
          "$ref": "Image"
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "reviewStatus": {
          "description": "Required. The status of the class. This field can be set to `draft` or The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ]
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "viewUnlockRequirement": {
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "description": "View Unlock Requirement options for the offer.",
          "type": "string",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width.",
          "$ref": "Image"
        },
        "details": {
          "description": "The details of the offer.",
          "type": "string"
        },
        "wideTitleImage": {
          "$ref": "Image",
          "description": "The wide title image of the offer. When provided, this will be used in place of the title image in the top left of the card view."
        },
        "redemptionChannel": {
          "enum": [
            "REDEMPTION_CHANNEL_UNSPECIFIED",
            "INSTORE",
            "instore",
            "ONLINE",
            "online",
            "BOTH",
            "both",
            "TEMPORARY_PRICE_REDUCTION",
            "temporaryPriceReduction"
          ],
          "description": "Required. The redemption channels applicable to this offer.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `INSTORE`. Deprecated.",
            "",
            "Legacy alias for `ONLINE`. Deprecated.",
            "",
            "Legacy alias for `BOTH`. Deprecated.",
            "",
            "Legacy alias for `TEMPORARY_PRICE_REDUCTION`. Deprecated."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ]
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerClass\"`.",
          "type": "string"
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "issuerName": {
          "type": "string",
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "localizedDetails": {
          "description": "Translated strings for the details.",
          "$ref": "LocalizedString"
        },
        "title": {
          "description": "Required. The title of the offer, such as \"20% off any t-shirt.\" Recommended maximum length is 60 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "version": {
          "format": "int64",
          "deprecated": true,
          "description": "Deprecated",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. The offer provider (either the aggregator name or merchant name). Recommended maximum length is 12 characters to ensure full string is displayed on smaller screens."
        },
        "localizedFinePrint": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the fine_print."
        },
        "shortTitle": {
          "description": "A shortened version of the title of the offer, such as \"20% off,\" shown to users as a quick reference to the offer contents. Recommended maximum length is 20 characters.",
          "type": "string"
        },
        "localizedProvider": {
          "description": "Translated strings for the provider. Recommended maximum length is 12 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "redemptionIssuers": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array",
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
        },
        "allowMultipleUsersPerObject": {
          "deprecated": true,
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead.",
          "type": "boolean"
        },
        "localizedShortTitle": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the short title. Recommended maximum length is 20 characters."
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "titleImage": {
          "description": "The title image of the offer. This image is displayed in both the details and list views of the app.",
          "$ref": "Image"
        },
        "locations": {
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "deprecated": true
        }
      },
      "type": "object",
      "id": "OfferClass"
    },
    "EventTicketClassAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "EventTicketClass"
        }
      },
      "id": "EventTicketClassAddMessageResponse",
      "type": "object"
    },
    "DetailsTemplateOverride": {
      "id": "DetailsTemplateOverride",
      "type": "object",
      "properties": {
        "detailsItemInfos": {
          "items": {
            "$ref": "DetailsItemInfo"
          },
          "description": "Information for the \"nth\" item displayed in the details list.",
          "type": "array"
        }
      }
    },
    "RotatingBarcode": {
      "id": "RotatingBarcode",
      "properties": {
        "showCodeText": {
          "$ref": "LocalizedString",
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google."
        },
        "alternateText": {
          "type": "string",
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned."
        },
        "renderEncoding": {
          "type": "string",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ],
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google."
        },
        "initialRotatingBarcodeValues": {
          "$ref": "RotatingBarcodeValues",
          "description": "Input only. NOTE: This feature is only available for the transit vertical. Optional set of initial rotating barcode values. This allows a small subset of barcodes to be included with the object. Further rotating barcode values must be uploaded with the UploadRotatingBarcodeValues endpoint."
        },
        "valuePattern": {
          "type": "string",
          "description": "String encoded barcode value. This string supports the following substitutions: * {totp_value_n}: Replaced with the TOTP value (see TotpDetails.parameters). * {totp_timestamp_millis}: Replaced with the timestamp (millis since epoch) at which the barcode was generated. * {totp_timestamp_seconds}: Replaced with the timestamp (seconds since epoch) at which the barcode was generated."
        },
        "totpDetails": {
          "description": "Details used to evaluate the {totp_value_n} substitutions.",
          "$ref": "RotatingBarcodeTotpDetails"
        },
        "type": {
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "description": "The type of this barcode."
        }
      },
      "type": "object"
    },
    "FlightClassAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated FlightClass resource.",
          "$ref": "FlightClass"
        }
      },
      "id": "FlightClassAddMessageResponse",
      "type": "object"
    },
    "SmartTapMerchantData": {
      "type": "object",
      "properties": {
        "smartTapMerchantId": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "format": "int64",
          "type": "string"
        },
        "authenticationKeys": {
          "type": "array",
          "items": {
            "$ref": "AuthenticationKey"
          },
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "id": "SmartTapMerchantData"
    },
    "EventVenue": {
      "type": "object",
      "id": "EventVenue",
      "properties": {
        "address": {
          "$ref": "LocalizedString",
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`."
        },
        "name": {
          "$ref": "LocalizedString",
          "description": "The name of the venue, such as \"AT&T Park\". This is required."
        }
      }
    },
    "ModifyLinkedOfferObjectsRequest": {
      "type": "object",
      "id": "ModifyLinkedOfferObjectsRequest",
      "properties": {
        "linkedOfferObjectIds": {
          "description": "The linked offer object ids to add or remove from the object.",
          "$ref": "ModifyLinkedOfferObjects"
        }
      }
    },
    "UpcomingNotification": {
      "type": "object",
      "id": "UpcomingNotification",
      "description": "Indicates that the issuer would like Google Wallet to send an upcoming card validity notification 1 day before card becomes valid/usable.",
      "properties": {
        "enableNotification": {
          "description": "Indicates if the object needs to have upcoming notification enabled.",
          "type": "boolean"
        }
      }
    },
    "FlightClass": {
      "id": "FlightClass",
      "type": "object",
      "properties": {
        "enableSmartTap": {
          "type": "boolean",
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "destination": {
          "$ref": "AirportInfo",
          "description": "Required. Destination airport."
        },
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "hexBackgroundColor": {
          "type": "string",
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`."
        },
        "flightHeader": {
          "$ref": "FlightHeader",
          "description": "Required. Information about the flight carrier and number."
        },
        "flightStatus": {
          "enum": [
            "FLIGHT_STATUS_UNSPECIFIED",
            "SCHEDULED",
            "scheduled",
            "ACTIVE",
            "active",
            "LANDED",
            "landed",
            "CANCELLED",
            "cancelled",
            "REDIRECTED",
            "redirected",
            "DIVERTED",
            "diverted"
          ],
          "description": "Status of this flight. If unset, Google will compute status based on data from other sources, such as FlightStats, etc. Note: Google-computed status will not be returned in API responses.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Flight is on time, early, or delayed.",
            "Legacy alias for `SCHEDULED`. Deprecated.",
            "Flight is in progress (taxiing, taking off, landing, airborne).",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Flight landed at the original destination.",
            "Legacy alias for `LANDED`. Deprecated.",
            "Flight is cancelled.",
            "Legacy alias for `CANCELLED`. Deprecated.",
            "Flight is airborne but heading to a different airport than the original destination.",
            "Legacy alias for `REDIRECTED`. Deprecated.",
            "Flight has already landed at a different airport than the original destination.",
            "Legacy alias for `DIVERTED`. Deprecated."
          ]
        },
        "languageOverride": {
          "type": "string",
          "description": "If this field is present, boarding passes served to a user's device will always be in this language. Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\"."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "localEstimatedOrActualDepartureDateTime": {
          "description": "The estimated time the aircraft plans to pull from the gate or the actual time the aircraft already pulled from the gate. Note: This is not the runway time. This field should be set if at least one of the below is true: - It differs from the scheduled time. Google will use it to calculate the delay. - The aircraft already pulled from the gate. Google will use it to inform the user when the flight actually departed. This is an ISO 8601 extended format date/time without an offset. Time may be specified up to millisecond precision. eg: `2027-03-05T06:30:00` This should be the local date/time at the airport (not a UTC time). Google will reject the request if UTC offset is provided. Time zones will be calculated by Google based on departure airport.",
          "type": "string"
        },
        "redemptionIssuers": {
          "type": "array",
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "format": "int64",
            "type": "string"
[...]
