{
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://developers.google.com/pay/passes",
  "name": "walletobjects",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20260618",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "canonicalName": "Walletobjects",
  "version": "v1",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "servicePath": "",
  "ownerName": "Google",
  "protocol": "rest",
  "baseUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "schemas": {
    "LoyaltyObjectAddMessageResponse": {
      "type": "object",
      "id": "LoyaltyObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated LoyaltyObject resource.",
          "$ref": "LoyaltyObject"
        }
      }
    },
    "RotatingBarcodeValues": {
      "id": "RotatingBarcodeValues",
      "description": "A payload containing many barcode values and start date/time.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The values to encode in the barcode. At least one value is required.",
          "type": "array"
        },
        "startDateTime": {
          "description": "Required. The date/time the first barcode is valid from. Barcodes will be rotated through using period_millis defined on the object's RotatingBarcodeValueInfo. This is an ISO 8601 extended format date/time, with an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year.",
          "type": "string"
        },
        "periodMillis": {
          "type": "string",
          "description": "Required. The amount of time each barcode is valid for.",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "CardTemplateOverride": {
      "type": "object",
      "id": "CardTemplateOverride",
      "properties": {
        "cardRowTemplateInfos": {
          "type": "array",
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified.",
          "items": {
            "$ref": "CardRowTemplateInfo"
          }
        }
      }
    },
    "LabelValueRow": {
      "id": "LabelValueRow",
      "properties": {
        "columns": {
          "type": "array",
          "description": "A list of labels and values. These will be displayed in a singular column, one after the other, not in multiple columns, despite the field name.",
          "items": {
            "$ref": "LabelValue"
          }
        }
      },
      "type": "object"
    },
    "AirportInfo": {
      "properties": {
        "gate": {
          "description": "A name of the gate. Eg: \"B59\" or \"59\"",
          "type": "string"
        },
        "airportNameOverride": {
          "$ref": "LocalizedString",
          "description": "Optional field that overrides the airport city name defined by IATA. By default, Google takes the `airportIataCode` provided and maps it to the official airport city name defined by IATA. Official IATA airport city names can be found at IATA airport city names website. For example, for the airport IATA code \"LTN\", IATA website tells us that the corresponding airport city is \"London\". If this field is not populated, Google would display \"London\". However, populating this field with a custom name (eg: \"London Luton\") would override it."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#airportInfo\"`.",
          "deprecated": true,
          "type": "string"
        },
        "airportIataCode": {
          "description": "Three character IATA airport code. This is a required field for `origin` and `destination`. Eg: \"SFO\"",
          "type": "string"
        },
        "terminal": {
          "description": "Terminal name. Eg: \"INTL\" or \"I\"",
          "type": "string"
        }
      },
      "id": "AirportInfo",
      "type": "object"
    },
    "SignUpInfo": {
      "type": "object",
      "properties": {
        "classId": {
          "type": "string",
          "description": "ID of the class the user can sign up for."
        }
      },
      "id": "SignUpInfo"
    },
    "TransitObjectListResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "TransitObject"
          },
          "type": "array"
        }
      },
      "id": "TransitObjectListResponse"
    },
    "ModuleViewConstraints": {
      "description": "Constraints that all must be met for the module to be shown.",
      "properties": {
        "displayInterval": {
          "$ref": "TimeInterval",
          "description": "The period of time that the module will be displayed to users. Can define both a `startTime` and `endTime`. The module is displayed immediately after insertion unless a `startTime` is set. The module is displayed indefinitely if `endTime` is not set."
        }
      },
      "id": "ModuleViewConstraints",
      "type": "object"
    },
    "CardRowOneItem": {
      "id": "CardRowOneItem",
      "properties": {
        "item": {
          "description": "The item to be displayed in the row. This item will be automatically centered.",
          "$ref": "TemplateItem"
        }
      },
      "type": "object"
    },
    "MerchantLocation": {
      "description": "Locations of interest for this class or object. Currently, this location is used for geofenced notifications. When a user is within a set radius of this lat/long, and dwells there, Google will trigger a notification. When a user exits this radius, the notification will be hidden.",
      "properties": {
        "longitude": {
          "description": "The longitude specified in the range -180.0 through +180.0, both inclusive. Values outside these bounds will be rejected.",
          "format": "double",
          "type": "number"
        },
        "latitude": {
          "description": "The latitude specified as any value in the range of -90.0 through +90.0, both inclusive. Values outside these bounds will be rejected.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "MerchantLocation",
      "type": "object"
    },
    "TicketLeg": {
      "properties": {
        "transitOperatorName": {
          "$ref": "LocalizedString",
          "description": "The name of the transit operator that is operating this leg of a trip."
        },
        "originName": {
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present.",
          "$ref": "LocalizedString"
        },
        "destinationStationCode": {
          "type": "string",
          "description": "The destination station code."
        },
        "destinationName": {
          "description": "The destination name.",
          "$ref": "LocalizedString"
        },
        "departureDateTime": {
          "type": "string",
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available."
        },
        "platform": {
          "type": "string",
          "description": "The platform or gate where the passenger can board the carriage."
        },
        "transitTerminusName": {
          "$ref": "LocalizedString",
          "description": "Terminus station or destination of the train/bus/etc."
        },
        "fareName": {
          "$ref": "LocalizedString",
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\"."
        },
        "ticketSeat": {
          "$ref": "TicketSeat",
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set."
        },
        "ticketSeats": {
          "items": {
            "$ref": "TicketSeat"
          },
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "type": "array"
        },
        "originStationCode": {
          "type": "string",
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present."
        },
        "carriage": {
          "type": "string",
          "description": "The train or ship name/number that the passsenger needs to board."
        },
        "zone": {
          "type": "string",
          "description": "The zone of boarding within the platform."
        },
        "arrivalDateTime": {
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        }
      },
      "id": "TicketLeg",
      "type": "object"
    },
    "BarcodeSectionDetail": {
      "type": "object",
      "properties": {
        "fieldSelector": {
          "$ref": "FieldSelector",
          "description": "A reference to an existing text-based or image field to display."
        }
      },
      "id": "BarcodeSectionDetail"
    },
    "CardRowTwoItems": {
      "type": "object",
      "id": "CardRowTwoItems",
      "properties": {
        "startItem": {
          "$ref": "TemplateItem",
          "description": "The item to be displayed at the start of the row. This item will be aligned to the left."
        },
        "endItem": {
          "$ref": "TemplateItem",
          "description": "The item to be displayed at the end of the row. This item will be aligned to the right."
        }
      }
    },
    "FlightClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "FlightClass",
          "description": "The updated FlightClass resource."
        }
      },
      "id": "FlightClassAddMessageResponse"
    },
    "DiscoverableProgram": {
      "id": "DiscoverableProgram",
      "description": "Information about how a class may be discovered and instantiated from within the Google Wallet app. This is done by searching for a loyalty or gift card program and scanning or manually entering.",
      "properties": {
        "merchantSigninInfo": {
          "$ref": "DiscoverableProgramMerchantSigninInfo",
          "description": "Information about the ability to signin and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNIN is enabled."
        },
        "state": {
          "description": "Visibility state of the discoverable program.",
          "enumDescriptions": [
            "",
            "Visible only to testers that have access to issuer account.",
            "Legacy alias for `TRUSTED_TESTERS`. Deprecated.",
            "Visible to all.",
            "Legacy alias for `LIVE`. Deprecated.",
            "Not visible.",
            "Legacy alias for `DISABLED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRUSTED_TESTERS",
            "trustedTesters",
            "LIVE",
            "live",
            "DISABLED",
            "disabled"
          ],
          "type": "string"
        },
        "merchantSignupInfo": {
          "$ref": "DiscoverableProgramMerchantSignupInfo",
          "description": "Information about the ability to signup and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNUP is enabled."
        }
      },
      "type": "object"
    },
    "ImageUri": {
      "id": "ImageUri",
      "properties": {
        "description": {
          "deprecated": true,
          "type": "string",
          "description": "Additional information about the image, which is unused and retained only for backward compatibility."
        },
        "localizedDescription": {
          "deprecated": true,
          "$ref": "LocalizedString",
          "description": "Translated strings for the description, which are unused and retained only for backward compatibility."
        },
        "uri": {
          "description": "The location of the image. URIs must have a scheme.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RotatingBarcodeTotpDetailsTotpParameters": {
      "type": "object",
      "description": "Configuration for the key and value length. See https://www.rfc-editor.org/rfc/rfc4226#section-5.3",
      "properties": {
        "key": {
          "description": "The secret key used for the TOTP value generation, encoded as a Base16 string.",
          "type": "string"
        },
        "valueLength": {
          "description": "The length of the TOTP value in decimal digits.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RotatingBarcodeTotpDetailsTotpParameters"
    },
    "GiftCardObjectAddMessageResponse": {
      "type": "object",
      "id": "GiftCardObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated GiftCardObject resource.",
          "$ref": "GiftCardObject"
        }
      }
    },
    "SmartTapMerchantData": {
      "properties": {
        "authenticationKeys": {
          "items": {
            "$ref": "AuthenticationKey"
          },
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "array"
        },
        "smartTapMerchantId": {
          "type": "string",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "format": "int64"
        }
      },
      "id": "SmartTapMerchantData",
      "type": "object"
    },
    "JwtResource": {
      "id": "JwtResource",
      "description": "A JWT representation of a pass.",
      "properties": {
        "jwt": {
          "type": "string",
          "description": "Required. A string representing a JWT of the format described at https://developers.google.com/wallet/reference/rest/v1/Jwt"
        }
      },
      "type": "object"
    },
    "Permissions": {
      "type": "object",
      "properties": {
        "issuerId": {
          "type": "string",
          "description": "ID of the issuer the list of permissions refer to.",
          "format": "int64"
        },
        "permissions": {
          "items": {
            "$ref": "Permission"
          },
          "description": "The complete list of permissions for the issuer account.",
          "type": "array"
        }
      },
      "id": "Permissions"
    },
    "Uri": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#uri\"`.",
          "deprecated": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID associated with a uri. This field is here to enable ease of management of uris."
        },
        "uri": {
          "description": "The location of a web page, image, or other resource. URIs in the `LinksModuleData` module can have different prefixes indicating the type of URI (a link to a web page, a link to a map, a telephone number, or an email address). URIs must have a scheme.",
          "type": "string"
        },
        "description": {
          "description": "The URI's title appearing in the app as text. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens. Note that in some contexts this text is not used, such as when `description` is part of an image.",
          "type": "string"
        },
        "localizedDescription": {
          "description": "Translated strings for the description. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        }
      },
      "id": "Uri",
      "type": "object"
    },
    "OfferObject": {
      "type": "object",
      "properties": {
        "classId": {
          "type": "string",
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you."
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#offerObject\"`."
        },
        "messages": {
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          }
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "state": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ]
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "linkedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this offer object. If a user had saved this offer, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID.identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "valueAddedModuleData": {
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed."
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "OfferClass"
        },
        "disableExpirationNotification": {
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers.",
          "type": "boolean"
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "textModulesData": {
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "version": {
          "description": "Deprecated",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array"
        },
        "hasLinkedDevice": {
          "type": "boolean",
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information."
        },
        "notifyPreference": {
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ]
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array"
        }
      },
      "id": "OfferObject"
    },
    "FlightObjectAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "FlightObject",
          "description": "The updated FlightObject resource."
        }
      },
      "id": "FlightObjectAddMessageResponse"
    },
    "Resources": {
      "type": "object",
      "properties": {
        "giftCardObjects": {
          "description": "A list of gift card objects.",
          "items": {
            "$ref": "GiftCardObject"
          },
          "type": "array"
        },
        "transitClasses": {
          "type": "array",
          "description": "A list of transit classes.",
          "items": {
            "$ref": "TransitClass"
          }
        },
        "eventTicketObjects": {
          "items": {
            "$ref": "EventTicketObject"
          },
          "description": "A list of event ticket objects.",
          "type": "array"
        },
        "offerClasses": {
          "type": "array",
          "items": {
            "$ref": "OfferClass"
          },
          "description": "A list of offer classes."
        },
        "offerObjects": {
          "items": {
            "$ref": "OfferObject"
          },
          "description": "A list of offer objects.",
          "type": "array"
        },
        "eventTicketClasses": {
          "type": "array",
          "description": "A list of event ticket classes.",
          "items": {
            "$ref": "EventTicketClass"
          }
        },
        "loyaltyObjects": {
          "items": {
            "$ref": "LoyaltyObject"
          },
          "description": "A list of loyalty objects.",
          "type": "array"
        },
        "flightObjects": {
          "type": "array",
          "items": {
            "$ref": "FlightObject"
          },
          "description": "A list of flight objects."
        },
        "giftCardClasses": {
          "description": "A list of gift card classes.",
          "items": {
            "$ref": "GiftCardClass"
          },
          "type": "array"
        },
        "genericClasses": {
          "items": {
            "$ref": "GenericClass"
          },
          "description": "A list of generic classes.",
          "type": "array"
        },
        "flightClasses": {
          "items": {
            "$ref": "FlightClass"
          },
          "description": "A list of flight classes.",
          "type": "array"
        },
        "transitObjects": {
          "items": {
            "$ref": "TransitObject"
          },
          "description": "A list of transit objects.",
          "type": "array"
        },
        "loyaltyClasses": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyClass"
          },
          "description": "A list of loyalty classes."
        },
        "genericObjects": {
          "type": "array",
          "description": "A list of generic objects.",
          "items": {
            "$ref": "GenericObject"
          }
        }
      },
      "id": "Resources"
    },
    "LoyaltyObject": {
      "type": "object",
      "properties": {
        "secondaryLoyaltyPoints": {
          "description": "The secondary loyalty reward points label, balance, and type. Shown in addition to the primary loyalty points.",
          "$ref": "LoyaltyPoints"
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array"
        },
        "accountId": {
          "description": "The loyalty account identifier. Recommended maximum length is 20 characters.",
          "type": "string"
        },
        "notifyPreference": {
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ]
        },
        "locations": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "accountName": {
          "description": "The loyalty account holder name, such as \"John Smith.\" Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "loyaltyPoints": {
          "description": "The loyalty reward points label, balance, and type.",
          "$ref": "LoyaltyPoints"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "barcode": {
          "$ref": "Barcode",
          "description": "The barcode type and value."
        },
        "linkedOfferIds": {
          "type": "array",
          "description": "A list of offer objects linked to this loyalty card. The offer objects must already exist. Offer object IDs should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "Deprecated",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported. If this value is not set but the class level fields `enableSmartTap` and `redemptionIssuers` are set up correctly, the `barcode.value` or the `accountId` fields are used as fallback if present."
        },
        "textModulesData": {
          "type": "array",
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class."
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        },
        "disableExpirationNotification": {
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers.",
          "type": "boolean"
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "LoyaltyClass"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        },
        "linkedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this loyalty object. If a user had saved this loyalty card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "type": "string"
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#loyaltyObject\"`."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        }
      },
      "id": "LoyaltyObject"
    },
    "LoyaltyPointsBalance": {
      "type": "object",
      "properties": {
        "string": {
          "type": "string",
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "int": {
          "type": "integer",
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "format": "int32"
        },
        "double": {
          "type": "number",
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "format": "double"
        },
        "money": {
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "$ref": "Money"
        }
      },
      "id": "LoyaltyPointsBalance"
    },
    "GiftCardObjectListResponse": {
      "properties": {
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        },
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "GiftCardObject"
          }
        }
      },
      "id": "GiftCardObjectListResponse",
      "type": "object"
    },
    "TicketSeat": {
      "type": "object",
      "properties": {
        "customFareClass": {
          "$ref": "LocalizedString",
          "description": "A custome fare class to be used if no `fareClass` applies. Both `fareClass` and `customFareClass` may not be set."
        },
        "seat": {
          "description": "The identifier of where the ticketed seat is located. Eg. \"42\". If there is no specific identifier, use `seatAssigment` instead.",
          "type": "string"
        },
        "fareClass": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "FARE_CLASS_UNSPECIFIED",
            "ECONOMY",
            "economy",
            "FIRST",
            "first",
            "BUSINESS",
            "business"
          ],
          "description": "The fare class of the ticketed seat.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ECONOMY`. Deprecated.",
            "",
            "Legacy alias for `FIRST`. Deprecated.",
            "",
            "Legacy alias for `BUSINESS`. Deprecated."
          ],
          "type": "string"
        },
        "seatAssignment": {
          "description": "The passenger's seat assignment. Eg. \"no specific seat\". To be used when there is no specific identifier to use in `seat`.",
          "$ref": "LocalizedString"
        },
        "coach": {
          "type": "string",
          "description": "The identifier of the train car or coach in which the ticketed seat is located. Eg. \"10\""
        }
      },
      "id": "TicketSeat"
    },
    "RotatingBarcodeTotpDetails": {
      "type": "object",
      "description": "Configuration for the time-based OTP substitutions. See https://tools.ietf.org/html/rfc6238",
      "properties": {
        "algorithm": {
          "enum": [
            "TOTP_ALGORITHM_UNSPECIFIED",
            "TOTP_SHA1"
          ],
          "type": "string",
          "description": "The TOTP algorithm used to generate the OTP.",
          "enumDescriptions": [
            "",
            "TOTP algorithm from RFC 6238 with the SHA1 hash function"
          ]
        },
        "parameters": {
          "type": "array",
          "description": "The TOTP parameters for each of the {totp_value_*} substitutions. The TotpParameters at index n is used for the {totp_value_n} substitution.",
          "items": {
            "$ref": "RotatingBarcodeTotpDetailsTotpParameters"
          }
        },
        "periodMillis": {
          "description": "The time interval used for the TOTP value generation, in milliseconds.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "RotatingBarcodeTotpDetails"
    },
    "SaveRestrictions": {
      "id": "SaveRestrictions",
      "description": "Defines restrictions on the object that will be verified during save. Note: this is an advanced feature, please contact Google for implementation support.",
      "properties": {
        "restrictToEmailSha256": {
          "description": "Restrict the save of the referencing object to the given email address only. This is the hex output of SHA256 sum of the email address, all lowercase and without any notations like \".\" or \"+\", except \"@\". For example, for example@example.com, this value will be 31c5543c1734d25c7206f5fd591525d0295bec6fe84ff82f946a34fe970a1e66 and for Example@example.com, this value will be bc34f262c93ad7122763684ccea6f07fb7f5d8a2d11e60ce15a6f43fe70ce632 If email address of the logged-in user who tries to save this pass does not match with the defined value here, users won't be allowed to save this pass. They will instead be prompted with an error to contact the issuer. This information should be gathered from the user with an explicit consent via Sign in with Google integration https://developers.google.com/identity/authentication. Please contact with support before using Save Restrictions.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LoyaltyClassAddMessageResponse": {
      "id": "LoyaltyClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated LoyaltyClass resource.",
          "$ref": "LoyaltyClass"
        }
      },
      "type": "object"
    },
    "EventVenue": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "LocalizedString",
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required."
        },
        "name": {
          "$ref": "LocalizedString",
          "description": "The name of the venue, such as \"AT&T Park\". This is required."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`."
        }
      },
      "id": "EventVenue"
    },
    "OfferClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated OfferClass resource.",
          "$ref": "OfferClass"
        }
      },
      "id": "OfferClassAddMessageResponse"
    },
    "EventTicketClass": {
      "type": "object",
      "id": "EventTicketClass",
      "properties": {
        "review": {
          "$ref": "Review",
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`."
        },
        "eventName": {
          "description": "Required. The name of the event, such as \"LA Dodgers at SF Giants\".",
          "$ref": "LocalizedString"
        },
        "gateLabel": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "GATE_LABEL_UNSPECIFIED",
            "GATE",
            "gate",
            "DOOR",
            "door",
            "ENTRANCE",
            "entrance"
          ],
          "description": "The label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `GATE`. Deprecated.",
            "",
            "Legacy alias for `DOOR`. Deprecated.",
            "",
            "Legacy alias for `ENTRANCE`. Deprecated."
          ],
          "type": "string"
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "allowMultipleUsersPerObject": {
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "textModulesData": {
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          },
          "type": "array"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "logo": {
          "$ref": "Image",
          "description": "The logo image of the ticket. This image is displayed in the card detail view of the app."
        },
        "customRowLabel": {
          "description": "A custom label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. This should only be used if the default \"Row\" label or one of the `rowLabel` options is not sufficient. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "classTemplateInfo": {
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display.",
          "$ref": "ClassTemplateInfo"
        },
        "customSeatLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. This should only be used if the default \"Seat\" label or one of the `seatLabel` options is not sufficient. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used."
        },
        "version": {
          "description": "Deprecated",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "dateTime": {
          "$ref": "EventDateTime",
          "description": "The date & time information of the event."
        },
        "customConfirmationCodeLabel": {
          "description": "A custom label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. This should only be used if the default \"Confirmation Code\" label or one of the `confirmationCodeLabel` options is not sufficient. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array"
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "customGateLabel": {
          "description": "A custom label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. This should only be used if the default \"Gate\" label or one of the `gateLabel` options is not sufficient. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "rowLabel": {
          "description": "The label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ROW`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "ROW_LABEL_UNSPECIFIED",
            "ROW",
            "row"
          ],
          "type": "string"
        },
        "customSectionLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. This should only be used if the default \"Section\" label or one of the `sectionLabel` options is not sufficient. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true,
          "type": "array"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true,
          "$ref": "InfoModuleData"
        },
        "wordMark": {
          "deprecated": true,
          "$ref": "Image",
          "description": "Deprecated."
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "type": "string"
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "wideLogo": {
          "description": "The wide logo of the ticket. When provided, this will be used in place of the logo in the top left of the card view.",
          "$ref": "Image"
        },
        "imageModulesData": {
          "type": "array",
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketClass\"`."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "reviewStatus": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "type": "string"
        },
        "redemptionIssuers": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap."
        },
        "viewUnlockRequirement": {
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "type": "string",
          "description": "View Unlock Requirement options for the event ticket.",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the object, both will be displayed."
        },
        "sectionLabel": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "SECTION_LABEL_UNSPECIFIED",
            "SECTION",
            "section",
            "THEATER",
            "theater"
          ],
          "description": "The label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SECTION`. Deprecated.",
            "",
            "Legacy alias for `THEATER`. Deprecated."
          ]
        },
        "homepageUri": {
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object).",
          "$ref": "Uri"
        },
        "seatLabel": {
          "type": "string",
          "description": "The label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SEAT`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "SEAT_LABEL_UNSPECIFIED",
            "SEAT",
            "seat"
          ]
        },
        "confirmationCodeLabel": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "CONFIRMATION_CODE_LABEL_UNSPECIFIED",
            "CONFIRMATION_CODE",
            "confirmationCode",
            "CONFIRMATION_NUMBER",
            "confirmationNumber",
            "ORDER_NUMBER",
            "orderNumber",
            "RESERVATION_NUMBER",
            "reservationNumber"
          ],
          "description": "The label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `CONFIRMATION_CODE`. Deprecated.",
            "",
            "Legacy alias for `CONFIRMATION_NUMBER`. Deprecated.",
            "",
            "Legacy alias for `ORDER_NUMBER`. Deprecated.",
            "",
            "Legacy alias for `RESERVATION_NUMBER`. Deprecated."
          ],
          "type": "string"
        },
        "valueAddedModuleData": {
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object."
        },
        "finePrint": {
          "$ref": "LocalizedString",
          "description": "The fine print, terms, or conditions of the ticket."
        },
        "venue": {
          "$ref": "EventVenue",
          "description": "Event venue details."
        },
        "eventId": {
          "description": "The ID of the event. This ID should be unique for every event in an account. It is used to group tickets together if the user has saved multiple tickets for the same event. It can be at most 64 characters. If provided, the grouping will be stable. Be wary of unintentional collision to avoid grouping tickets that should not be grouped. If you use only one class per event, you can simply set this to the `classId` (with or without the issuer ID portion). If not provided, the platform will attempt to use other data to group tickets (potentially unstable).",
          "type": "string"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width.",
          "$ref": "Image"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        }
      }
    },
    "PassConstraints": {
      "id": "PassConstraints",
      "description": "Container for any constraints that may be placed on passes.",
      "properties": {
        "screenshotEligibility": {
          "description": "The screenshot eligibility for the pass.",
          "enumDescriptions": [
            "Default value, same as ELIGIBLE.",
            "Default behavior for all existing Passes if ScreenshotEligibility is not set. Allows screenshots to be taken on Android devices.",
            "Disallows screenshots to be taken on Android devices. Note that older versions of Wallet may still allow screenshots to be taken."
          ],
          "enum": [
            "SCREENSHOT_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ],
          "type": "string"
        },
        "nfcConstraint": {
          "items": {
            "enumDescriptions": [
              "Default value, no specified constraint.",
              "Payment cards will not be conveyed while the pass is open.",
              "Closed loop transit cards will not be conveyed while the pass is open."
            ],
            "enum": [
              "NFC_CONSTRAINT_UNSPECIFIED",
              "BLOCK_PAYMENT",
              "BLOCK_CLOSED_LOOP_TRANSIT"
            ],
            "type": "string"
          },
          "description": "The NFC constraints for the pass.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "FlightObjectListResponse": {
      "type": "object",
      "id": "FlightObjectListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "FlightObject"
          }
        }
      }
    },
    "TicketRestrictions": {
      "id": "TicketRestrictions",
      "properties": {
        "timeRestrictions": {
          "$ref": "LocalizedString",
          "description": "Restrictions about times this ticket may be used."
        },
        "otherRestrictions": {
          "$ref": "LocalizedString",
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories."
        },
        "routeRestrictions": {
          "$ref": "LocalizedString",
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\"."
        },
        "routeRestrictionsDetails": {
          "description": "More details about the above `routeRestrictions`.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "OfferObjectAddMessageResponse": {
      "id": "OfferObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated OfferObject resource.",
          "$ref": "OfferObject"
        }
      },
      "type": "object"
    },
    "DiffUploadResponse": {
      "type": "object",
      "id": "DiffUploadResponse",
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectVersion": {
          "type": "string",
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload."
        },
        "originalObject": {
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "LinksModuleData": {
      "id": "LinksModuleData",
      "properties": {
        "uris": {
          "type": "array",
          "description": "The list of URIs.",
          "items": {
            "$ref": "Uri"
          }
        }
      },
      "type": "object"
    },
    "FlightObject": {
      "type": "object",
      "id": "FlightObject",
      "properties": {
        "disableExpirationNotification": {
          "type": "boolean",
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for Flights."
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "FlightClass"
        },
        "passengerName": {
          "type": "string",
          "description": "Required. Passenger name as it would appear on the boarding pass. eg: \"Dave M Gahan\" or \"Gahan/Dave\" or \"GAHAN/DAVEM\""
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed."
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "passConstraints": {
          "$ref": "PassConstraints",
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors."
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "linkedObjectIds": {
          "type": "array",
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this flight object. If a user had saved this boarding pass, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "rotatingBarcode": {
          "$ref": "RotatingBarcode",
          "description": "The rotating barcode type and value."
        },
        "state": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ]
        },
        "boardingAndSeatingInfo": {
          "$ref": "BoardingAndSeatingInfo",
          "description": "Passenger specific information about boarding and seating."
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightObject\"`.",
          "deprecated": true,
          "type": "string"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "hasUsers": {
          "type": "boolean",
          "description": "Indicates if the object has users. This field is set by the platform."
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "imageModulesData": {
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          },
          "type": "array"
        },
        "reservationInfo": {
          "$ref": "ReservationInfo",
          "description": "Required. Information about flight reservation."
        },
        "merchantLocations": {
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          },
          "type": "array"
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string"
        },
        "locations": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications."
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "securityProgramLogo": {
          "$ref": "Image",
          "description": "An image for the security program that applies to the passenger."
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "version": {
          "description": "Deprecated",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "type": "string",
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "validTimeInterval": {
          "$ref": "TimeInterval",
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed."
        }
      }
    },
    "Notifications": {
      "description": "Indicates if the object needs to have notification enabled. We support only one of ExpiryNotification/UpcomingNotification. `expiryNotification` takes precedence over `upcomingNotification`. In other words if `expiryNotification` is set, we ignore the `upcomingNotification` field.",
      "properties": {
        "expiryNotification": {
          "$ref": "ExpiryNotification",
          "description": "A notification would be triggered at a specific time before the card expires."
        },
        "upcomingNotification": {
          "description": "A notification would be triggered at a specific time before the card becomes usable.",
          "$ref": "UpcomingNotification"
        }
      },
      "id": "Notifications",
      "type": "object"
    },
    "GenericObjectListResponse": {
      "id": "GenericObjectListResponse",
      "description": "List response which contains the list of all generic objects for a given issuer ID.",
      "properties": {
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        },
        "resources": {
          "items": {
            "$ref": "GenericObject"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "CardBarcodeSectionDetails": {
      "type": "object",
      "properties": {
        "firstTopDetail": {
          "$ref": "BarcodeSectionDetail",
          "description": "Optional information to display above the barcode. If `secondTopDetail` is defined, this will be displayed to the start side of this detail section."
        },
        "secondTopDetail": {
          "description": "Optional second piece of information to display above the barcode. If `firstTopDetail` is defined, this will be displayed to the end side of this detail section.",
          "$ref": "BarcodeSectionDetail"
        },
        "firstBottomDetail": {
          "description": "Optional information to display below the barcode.",
          "$ref": "BarcodeSectionDetail"
        }
      },
      "id": "CardBarcodeSectionDetails"
    },
    "Barcode": {
      "type": "object",
      "id": "Barcode",
      "properties": {
        "showCodeText": {
          "$ref": "LocalizedString",
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google."
        },
        "value": {
          "type": "string",
          "description": "The value encoded in the barcode."
        },
        "kind": {
          "deprecated": true,
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#barcode\"`."
        },
        "renderEncoding": {
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "type": "string",
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ]
        },
        "alternateText": {
          "type": "string",
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned."
        },
        "type": {
          "type": "string",
          "description": "The type of barcode.",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ]
        }
      }
    },
    "DownloadParameters": {
      "description": "Parameters specific to media downloads.",
      "properties": {
        "allowGzipCompression": {
          "type": "boolean",
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client."
        },
        "ignoreRange": {
          "type": "boolean",
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty."
        }
      },
      "id": "DownloadParameters",
      "type": "object"
    },
    "DiffDownloadResponse": {
      "type": "object",
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "CompositeMedia"
        }
      },
      "id": "DiffDownloadResponse"
    },
    "GenericClass": {
      "id": "GenericClass",
      "description": "Generic Class",
      "properties": {
        "id": {
          "description": "Required. The unique identifier for the class. This ID must be unique across all from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
          "type": "string"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
[...]
