{
  "rootUrl": "https://walletobjects.googleapis.com/",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json"
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "canonicalName": "Walletobjects",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "walletobjects:v1",
  "documentationLink": "https://developers.google.com/pay/passes",
  "title": "Google Wallet API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "loyaltyclass": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "id": "walletobjects.loyaltyclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "update": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "id": "walletobjects.loyaltyclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID."
        },
        "list": {
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "httpMethod": "GET"
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyClass",
          "id": "walletobjects.loyaltyclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {},
          "flatPath": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the loyalty class with the given class ID.",
          "id": "walletobjects.loyaltyclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "id": "walletobjects.media.download",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues"
        },
        "upload": {
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "id": "walletobjects.media.upload",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
        }
      }
    },
    "offerclass": {
      "methods": {
        "addmessage": {
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "id": "walletobjects.offerclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerClass",
          "id": "walletobjects.offerclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all offer classes for a given issuer ID."
        },
        "update": {
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "id": "walletobjects.offerclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/offerClass",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {},
          "httpMethod": "POST",
          "id": "walletobjects.offerclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "request": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "id": "walletobjects.offerclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics."
        }
      }
    },
    "flightclass": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass",
          "parameters": {},
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "id": "walletobjects.flightclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass"
        },
        "patch": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "id": "walletobjects.flightclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "id": "walletobjects.flightclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Returns the flight class with the given class ID.",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "addmessage": {
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.flightclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "flatPath": "walletobjects/v1/flightClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            }
          },
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "id": "walletobjects.flightclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass"
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "description": "Inserts an issuer with the given ID and properties.",
          "request": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/issuer",
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {}
        },
        "get": {
          "id": "walletobjects.issuer.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer."
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "request": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "format": "int64",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          }
        },
        "list": {
          "description": "Returns a list of all issuers shared to the caller.",
          "path": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {},
          "response": {
            "$ref": "IssuerListResponse"
          },
          "flatPath": "walletobjects/v1/issuer"
        },
        "update": {
          "description": "Updates the issuer referenced by the given issuer ID.",
          "request": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          }
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "id": "walletobjects.giftcardclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "path": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "flatPath": "walletobjects/v1/giftCardClass"
        },
        "update": {
          "id": "walletobjects.giftcardclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PUT"
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "path": "walletobjects/v1/giftCardClass",
          "id": "walletobjects.giftcardclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.giftcardclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Returns the gift card class with the given class ID.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}"
        }
      }
    },
    "genericclass": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {},
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Inserts a generic class with the given ID and properties.",
          "id": "walletobjects.genericclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass"
        },
        "get": {
          "description": "Returns the generic class with the given class ID.",
          "id": "walletobjects.genericclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "id": "walletobjects.genericclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            }
          },
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "id": "walletobjects.genericclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass"
        },
        "update": {
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "path": "walletobjects/v1/permissions/{resourceId}",
          "id": "walletobjects.permissions.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the permissions for the given issuer id.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer.",
          "request": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameterOrder": [],
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "httpMethod": "POST",
                  "parameters": {},
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice"
                }
              }
            }
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the generic object referenced by the given object ID.",
          "request": {
            "$ref": "GenericObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "id": "walletobjects.genericobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject"
        },
        "addmessage": {
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "id": "walletobjects.genericobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          }
        },
        "patch": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "response": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "description": "Inserts a generic object with the given ID and properties.",
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject",
          "id": "walletobjects.genericobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "flatPath": "walletobjects/v1/genericObject",
          "response": {
            "$ref": "GenericObject"
          }
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "patch": {
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Returns the loyalty object with the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "id": "walletobjects.loyaltyobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "insert": {
          "description": "Inserts an loyalty object with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {}
        },
        "modifylinkedofferobjects": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "deprecated": true,
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          }
        },
        "update": {
          "description": "Updates the loyalty object referenced by the given object ID.",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyObject",
          "id": "walletobjects.loyaltyobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all loyalty objects for a given issuer ID."
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "id": "walletobjects.loyaltyobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Inserts an gift card object with the given ID and properties.",
          "path": "walletobjects/v1/giftCardObject",
          "id": "walletobjects.giftcardobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject"
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card object with the given object ID."
        },
        "patch": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "addmessage": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage"
        },
        "list": {
          "path": "walletobjects/v1/giftCardObject",
          "id": "walletobjects.giftcardobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "flatPath": "walletobjects/v1/giftCardObject",
          "httpMethod": "GET"
        },
        "update": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the gift card object referenced by the given object ID.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT"
        }
      }
    },
    "transitobject": {
      "methods": {
        "update": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PUT"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "id": "walletobjects.transitobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "id": "walletobjects.transitobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "description": "Returns the transit object with the given object ID.",
          "id": "walletobjects.transitobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "parameters": {},
          "flatPath": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject",
          "id": "walletobjects.transitobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an transit object with the given ID and properties.",
          "request": {
            "$ref": "TransitObject"
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.flightobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "flatPath": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "path": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID."
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject",
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties.",
          "path": "walletobjects/v1/flightObject",
          "id": "walletobjects.flightobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.flightobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID."
        },
        "patch": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.flightobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightObject"
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Inserts an event ticket object with the given ID and properties.",
          "path": "walletobjects/v1/eventTicketObject",
          "id": "walletobjects.eventticketobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject"
        },
        "modifylinkedofferobjects": {
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "deprecated": true,
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the event ticket object with the given object ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "GET"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined."
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "walletobjects.eventticketobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID."
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID."
        }
      }
    },
    "offerobject": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "update": {
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "id": "walletobjects.offerobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID."
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "id": "walletobjects.offerobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject"
        },
        "insert": {
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "httpMethod": "POST",
          "id": "walletobjects.offerobject.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Inserts an offer object with the given ID and properties."
        },
        "patch": {
          "id": "walletobjects.offerobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "PATCH"
        },
        "get": {
          "id": "walletobjects.offerobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "transitclass": {
      "methods": {
        "patch": {
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "response": {
            "$ref": "TransitClass"
          },
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "description": "Returns the transit class with the given class ID.",
          "id": "walletobjects.transitclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
[...]
