{
  "revision": "20260806",
  "rootUrl": "https://walletobjects.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "name": "walletobjects",
  "servicePath": "",
  "parameters": {
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://walletobjects.googleapis.com/",
  "title": "Google Wallet API",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Walletobjects",
  "resources": {
    "offerclass": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.offerclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {},
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [],
          "id": "walletobjects.offerclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties."
        },
        "update": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the offer class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "OfferClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "OfferClass"
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [],
          "id": "walletobjects.offerclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID."
        },
        "patch": {
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the offer class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "parameterOrder": [],
          "description": "Inserts the smart tap.",
          "path": "walletobjects/v1/smartTap",
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "description": "Returns the permissions for the given issuer id.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.get",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Permissions"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Permissions"
          },
          "description": "Updates the permissions for the given issuer.",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "update": {
          "id": "walletobjects.giftcardobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "id": "walletobjects.giftcardobject.list",
          "parameterOrder": [],
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the gift card object with the given object ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.get"
        },
        "addmessage": {
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "id": "walletobjects.giftcardobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "description": "Inserts an gift card object with the given ID and properties.",
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameters": {},
          "request": {
            "$ref": "GiftCardObject"
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "flatPath": "walletobjects/v1/flightObject",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.flightobject.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          }
        },
        "patch": {
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.patch",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the flight object with the given object ID."
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the flight object referenced by the given object ID.",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "id": "walletobjects.flightobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.flightobject.insert",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties.",
          "path": "walletobjects/v1/flightObject",
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.insert",
          "parameterOrder": [],
          "description": "Inserts an loyalty class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "list": {
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            }
          },
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all loyalty classes for a given issuer ID."
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the loyalty class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        }
      }
    },
    "offerobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "id": "walletobjects.offerobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        },
        "insert": {
          "description": "Inserts an offer object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert",
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.offerobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.list",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferObjectListResponse"
          }
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "id": "walletobjects.offerobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferObject"
          },
          "description": "Returns the offer object with the given object ID.",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "transitclass": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {},
          "request": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [],
          "id": "walletobjects.transitclass.insert",
          "path": "walletobjects/v1/transitClass",
          "flatPath": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts a transit class with the given ID and properties."
        },
        "addmessage": {
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Returns the transit class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "flatPath": "walletobjects/v1/transitClass",
          "id": "walletobjects.transitclass.list",
          "parameterOrder": [],
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitClassListResponse"
          }
        },
        "patch": {
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "id": "walletobjects.transitclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TransitClass"
          }
        },
        "update": {
          "description": "Updates the transit class referenced by the given class ID.",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "TransitClass"
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/genericObject",
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.genericobject.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "patch": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GenericObject"
          }
        },
        "get": {
          "description": "Returns the generic object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "id": "walletobjects.genericobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericObject"
          }
        },
        "update": {
          "id": "walletobjects.genericobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.addmessage",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject",
          "flatPath": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {},
          "request": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [],
          "id": "walletobjects.genericobject.insert"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameterOrder": [],
                  "parameters": {},
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "id": "walletobjects.transitobject.insert",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "TransitObject"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Inserts an transit object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject",
          "flatPath": "walletobjects/v1/transitObject"
        },
        "addmessage": {
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitobject.addmessage",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID."
        },
        "get": {
          "description": "Returns the transit object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "id": "walletobjects.transitobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObject"
          }
        },
        "list": {
          "id": "walletobjects.transitobject.list",
          "parameterOrder": [],
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "path": "walletobjects/v1/transitObject",
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TransitObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitobject.patch"
        },
        "update": {
          "id": "walletobjects.transitobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}"
        }
      }
    },
    "issuer": {
      "methods": {
        "update": {
          "id": "walletobjects.issuer.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "list": {
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all issuers shared to the caller.",
          "httpMethod": "GET",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.issuer.list"
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string",
              "required": true,
              "format": "int64"
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics."
        },
        "get": {
          "description": "Returns the issuer with the given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "id": "walletobjects.issuer.get",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "format": "int64",
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "Issuer"
          }
        },
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.insert",
          "parameterOrder": [],
          "description": "Inserts an issuer with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "update": {
          "description": "Updates the loyalty object referenced by the given object ID.",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "list": {
          "id": "walletobjects.loyaltyobject.list",
          "parameterOrder": [],
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.patch"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID."
        },
        "modifylinkedofferobjects": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "deprecated": true,
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.addmessage"
        },
        "insert": {
          "parameters": {},
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "parameterOrder": [],
          "description": "Inserts an loyalty object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject"
        }
      }
    },
    "flightclass": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.flightclass.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {},
          "request": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "description": "Inserts an flight class with the given ID and properties."
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "id": "walletobjects.flightclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "description": "Updates the flight class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.update",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the flight class with the given class ID.",
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.get"
        },
        "list": {
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "parameterOrder": []
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "FlightClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.patch"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "supportsMediaUpload": true,
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "id": "walletobjects.media.upload",
          "parameterOrder": [
            "resourceId"
          ],
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          }
        },
        "download": {
          "id": "walletobjects.media.download",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "response": {
            "$ref": "Media"
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues"
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {},
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties."
        },
        "addmessage": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.addmessage"
        },
        "modifylinkedofferobjects": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "deprecated": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID."
        },
        "get": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the event ticket object with the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.eventticketobject.list",
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "update": {
          "description": "Updates the event ticket object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.update",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "genericclass": {
      "methods": {
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the Generic class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}"
        },
        "list": {
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "id": "walletobjects.genericclass.list",
          "parameterOrder": []
        },
        "patch": {
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "description": "Returns the generic class with the given class ID.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.get",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID."
        },
        "insert": {
          "description": "Inserts a generic class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "id": "walletobjects.genericclass.insert",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GenericClass"
          }
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "description": "Inserts the resources in the JWT.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt",
          "flatPath": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert",
          "parameterOrder": [],
          "parameters": {},
          "request": {
            "$ref": "JwtResource"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "JwtInsertResponse"
          }
        },
        "validate": {
          "parameterOrder": [],
          "id": "walletobjects.jwt.validate",
          "httpMethod": "POST",
          "response": {
            "$ref": "JwtValidateResponse"
          },
          "parameters": {},
          "request": {
            "$ref": "JwtValidateRequest"
          },
          "path": "walletobjects/v1/jwt/validate",
          "flatPath": "walletobjects/v1/jwt/validate",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Checks that the JWT or JSON string in the request represents a valid pass to be saved."
        }
[...]
