{
  "baseUrl": "https://walletobjects.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "servicePath": "",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "revision": "20260720",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "protocol": "rest",
  "name": "walletobjects",
  "resources": {
    "offerclass": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Inserts an offer class with the given ID and properties.",
          "flatPath": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass",
          "parameters": {},
          "id": "walletobjects.offerclass.insert",
          "response": {
            "$ref": "OfferClass"
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.addmessage",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "patch": {
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.patch",
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.get",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the offer class with the given class ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.update",
          "response": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "id": "walletobjects.offerclass.list"
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "id": "walletobjects.media.upload",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "download": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "id": "walletobjects.media.download"
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "addmessage": {
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.addmessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch"
        },
        "insert": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {},
          "description": "Inserts an loyalty object with the given ID and properties.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "modifylinkedofferobjects": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "deprecated": true,
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the loyalty object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.update",
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.list",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.get",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the loyalty object with the given object ID."
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "JwtResource"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "id": "walletobjects.jwt.insert",
          "flatPath": "walletobjects/v1/jwt",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt",
          "parameters": {},
          "description": "Inserts the resources in the JWT."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Returns the gift card object with the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.get"
        },
        "update": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "id": "walletobjects.giftcardobject.update"
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            }
          },
          "id": "walletobjects.giftcardobject.list",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          }
        },
        "insert": {
          "id": "walletobjects.giftcardobject.insert",
          "response": {
            "$ref": "GiftCardObject"
          },
          "description": "Inserts an gift card object with the given ID and properties.",
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {},
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GiftCardObject"
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Adds a message to the gift card object referenced by the given object ID."
        },
        "patch": {
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.giftcardobject.patch",
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.insert",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Inserts an loyalty class with the given ID and properties.",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {}
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.patch",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics."
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the loyalty class with the given class ID.",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.get"
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.loyaltyclass.update",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Returns the permissions for the given issuer id.",
          "response": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.get"
        },
        "update": {
          "request": {
            "$ref": "Permissions"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.update",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "required": true
            }
          },
          "description": "Updates the permissions for the given issuer."
        }
      }
    },
    "issuer": {
      "methods": {
        "get": {
          "id": "walletobjects.issuer.get",
          "response": {
            "$ref": "Issuer"
          },
          "description": "Returns the issuer with the given issuer ID.",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "response": {
            "$ref": "IssuerListResponse"
          },
          "id": "walletobjects.issuer.list",
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "description": "Returns a list of all issuers shared to the caller.",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "update": {
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an issuer.",
              "type": "string",
              "format": "int64",
              "location": "path"
            }
          },
          "description": "Updates the issuer referenced by the given issuer ID.",
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "description": "Inserts an issuer with the given ID and properties.",
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.insert"
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an issuer."
            }
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.patch",
          "response": {
            "$ref": "Issuer"
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject",
          "parameters": {},
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts a generic object with the given ID and properties.",
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.insert"
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericobject.addmessage",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.patch",
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.get",
          "response": {
            "$ref": "GenericObject"
          },
          "description": "Returns the generic object with the given object ID.",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Updates the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.genericobject.update",
          "response": {
            "$ref": "GenericObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "id": "walletobjects.genericobject.list",
          "response": {
            "$ref": "GenericObjectListResponse"
          }
        }
      }
    },
    "flightclass": {
      "methods": {
        "list": {
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the flight class referenced by the given class ID.",
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.update"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the flight class with the given class ID.",
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.get"
        },
        "patch": {
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.patch",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.flightclass.addmessage",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert",
          "path": "walletobjects/v1/flightClass",
          "parameters": {},
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Inserts an flight class with the given ID and properties.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightClass"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit object with the given object ID.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitobject.get",
          "response": {
            "$ref": "TransitObject"
          }
        },
        "update": {
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.update",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the transit object referenced by the given object ID.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitObject",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "id": "walletobjects.transitobject.list"
        },
        "insert": {
          "id": "walletobjects.transitobject.insert",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Inserts an transit object with the given ID and properties.",
          "path": "walletobjects/v1/transitObject",
          "parameters": {},
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "TransitObject"
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.transitobject.addmessage",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.patch",
          "response": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericclass.addmessage",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.patch",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "parameters": {},
          "description": "Inserts a generic class with the given ID and properties.",
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.insert"
        },
        "update": {
          "response": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.update",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "request": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            }
          },
          "id": "walletobjects.genericclass.list",
          "response": {
            "$ref": "GenericClassListResponse"
          }
        },
        "get": {
          "id": "walletobjects.genericclass.get",
          "response": {
            "$ref": "GenericClass"
          },
          "description": "Returns the generic class with the given class ID.",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {},
          "description": "Inserts an event ticket object with the given ID and properties.",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.insert"
        },
        "modifylinkedofferobjects": {
          "deprecated": true,
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "response": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects"
        },
        "patch": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          }
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "get": {
          "id": "walletobjects.eventticketobject.get",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Returns the event ticket object with the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "id": "walletobjects.eventticketobject.list",
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all event ticket objects for a given issuer ID."
        },
        "update": {
          "id": "walletobjects.eventticketobject.update",
          "response": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "id": "walletobjects.smarttap.insert",
          "response": {
            "$ref": "SmartTap"
          },
          "description": "Inserts the smart tap.",
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/smartTap",
          "parameters": {},
          "request": {
            "$ref": "SmartTap"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "flightobject": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight object with the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.get",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.update",
          "response": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID.",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/flightObject",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "id": "walletobjects.flightobject.list",
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "insert": {
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "description": "Inserts an flight object with the given ID and properties.",
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "parameters": {},
          "id": "walletobjects.flightobject.insert",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "id": "walletobjects.flightobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.flightobject.patch",
          "response": {
            "$ref": "FlightObject"
          },
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "insert": {
          "id": "walletobjects.giftcardclass.insert",
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "flatPath": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "parameters": {},
          "request": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "addmessage": {
          "id": "walletobjects.giftcardclass.addmessage",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "patch": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.patch",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "id": "walletobjects.giftcardclass.get",
          "response": {
            "$ref": "GiftCardClass"
          },
          "description": "Returns the gift card class with the given class ID.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardClass"
          },
          "response": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.update",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the gift card class referenced by the given class ID."
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/giftCardClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardclass.list",
          "response": {
            "$ref": "GiftCardClassListResponse"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "update": {
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Updates the transit class referenced by the given class ID.",
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.update"
        },
        "list": {
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "parameters": {
            "issuerId": {
              "type": "string",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "walletobjects.transitclass.list",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": []
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.get",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Returns the transit class with the given class ID."
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "id": "walletobjects.transitclass.addmessage"
        },
        "patch": {
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.patch",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitClass"
          }
        },
        "insert": {
          "description": "Inserts a transit class with the given ID and properties.",
          "flatPath": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "parameters": {},
          "id": "walletobjects.transitclass.insert",
          "response": {
            "$ref": "TransitClass"
          },
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "id": "walletobjects.eventticketclass.addmessage",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "EventTicketClass"
          },
[...]
