{
  "baseUrl": "https://walletobjects.googleapis.com/",
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "Google Wallet API",
  "version": "v1",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "eventticketclass": {
      "methods": {
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the event ticket class with the given class ID.",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass",
          "parameters": {},
          "description": "Inserts an event ticket class with the given ID and properties.",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [],
          "id": "walletobjects.eventticketclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID.",
          "id": "walletobjects.eventticketclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "patch": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/eventTicketClass",
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.eventticketclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketClass",
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "description": "Returns a list of all event ticket classes for a given issuer ID."
        }
      }
    },
    "transitobject": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.transitobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds a message to the transit object referenced by the given object ID."
        },
        "list": {
          "path": "walletobjects/v1/transitObject",
          "parameters": {
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "id": "walletobjects.transitobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObjectListResponse"
          }
        },
        "get": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the transit object with the given object ID.",
          "id": "walletobjects.transitobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          }
        },
        "insert": {
          "request": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject",
          "parameters": {},
          "description": "Inserts an transit object with the given ID and properties.",
          "id": "walletobjects.transitobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitObject",
          "response": {
            "$ref": "TransitObject"
          }
        },
        "update": {
          "id": "walletobjects.transitobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "response": {
            "$ref": "TransitObject"
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.transitobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics."
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "description": "Inserts an issuer with the given ID and properties.",
          "request": {
            "$ref": "Issuer"
          },
          "parameterOrder": [],
          "id": "walletobjects.issuer.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/issuer",
          "response": {
            "$ref": "Issuer"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "The unique identifier for an issuer."
            }
          },
          "description": "Updates the issuer referenced by the given issuer ID.",
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "request": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "id": "walletobjects.issuer.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "GET",
          "id": "walletobjects.issuer.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "format": "int64",
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "required": true
            }
          },
          "description": "Returns the issuer with the given issuer ID."
        },
        "list": {
          "id": "walletobjects.issuer.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/issuer",
          "parameters": {},
          "description": "Returns a list of all issuers shared to the caller.",
          "flatPath": "walletobjects/v1/issuer",
          "response": {
            "$ref": "IssuerListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/jwt",
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.jwt.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt",
          "parameters": {},
          "description": "Inserts the resources in the JWT.",
          "request": {
            "$ref": "JwtResource"
          }
        }
      }
    },
    "offerclass": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "GET",
          "id": "walletobjects.offerclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the offer class with the given class ID."
        },
        "patch": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          }
        },
        "insert": {
          "request": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass",
          "parameters": {},
          "description": "Inserts an offer class with the given ID and properties.",
          "id": "walletobjects.offerclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerClass",
          "response": {
            "$ref": "OfferClass"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          }
        },
        "list": {
          "id": "walletobjects.offerclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/offerClass",
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerClass",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "flightclass": {
      "methods": {
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "httpMethod": "POST"
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "path": "walletobjects/v1/flightClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.flightclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the flight class with the given class ID.",
          "id": "walletobjects.flightclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.flightclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/flightClass",
          "response": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.flightclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass",
          "parameters": {},
          "description": "Inserts an flight class with the given ID and properties.",
          "request": {
            "$ref": "FlightClass"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/flightObject",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.flightobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObjectListResponse"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/flightObject",
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.flightobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "parameters": {},
          "description": "Inserts an flight object with the given ID and properties.",
          "request": {
            "$ref": "FlightObject"
          }
        },
        "update": {
          "request": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the flight object referenced by the given object ID.",
          "id": "walletobjects.flightobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the flight object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.permissions.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path"
            }
          },
          "description": "Returns the permissions for the given issuer id.",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          },
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "type": "string",
              "format": "int64",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path"
            }
          },
          "description": "Updates the permissions for the given issuer.",
          "id": "walletobjects.permissions.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "response": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "id": "walletobjects.genericclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          }
        },
        "list": {
          "path": "walletobjects/v1/genericClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "id": "walletobjects.genericclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericClass",
          "response": {
            "$ref": "GenericClassListResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns the generic class with the given class ID.",
          "id": "walletobjects.genericclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.genericclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "parameters": {},
          "description": "Inserts a generic class with the given ID and properties.",
          "request": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST"
        },
        "update": {
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "request": {
            "$ref": "GenericClass"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "get": {
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Returns the gift card class with the given class ID.",
          "id": "walletobjects.giftcardclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.giftcardclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "parameters": {},
          "description": "Inserts an gift card class with the given ID and properties.",
          "request": {
            "$ref": "GiftCardClass"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.giftcardclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the gift card class referenced by the given class ID."
        },
        "patch": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PATCH",
          "id": "walletobjects.giftcardclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics."
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "id": "walletobjects.giftcardclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the gift card class referenced by the given class ID."
        },
        "list": {
          "flatPath": "walletobjects/v1/giftCardClass",
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.giftcardclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/giftCardClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all gift card classes for a given issuer ID."
        }
      }
    },
    "offerobject": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/offerObject",
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.offerobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "parameters": {},
          "description": "Inserts an offer object with the given ID and properties.",
          "request": {
            "$ref": "OfferObject"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "request": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "PUT"
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "response": {
            "$ref": "OfferObject"
          },
          "request": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.offerobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "get": {
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns the offer object with the given object ID."
        },
        "addmessage": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "parameterOrder": [],
          "id": "walletobjects.offerobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/offerObject",
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "httpMethod": "GET"
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "parameters": {},
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "parameterOrder": [],
                  "httpMethod": "POST",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "parameters": {},
          "description": "Inserts the smart tap.",
          "id": "walletobjects.smarttap.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/smartTap",
          "response": {
            "$ref": "SmartTap"
          }
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "insert": {
          "flatPath": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {},
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyClass",
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "issuerId": {
              "location": "query",
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all loyalty classes for a given issuer ID."
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "id": "walletobjects.media.upload",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          }
        },
        "download": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "response": {
            "$ref": "Media"
          },
          "supportsMediaDownload": true,
          "httpMethod": "GET",
          "id": "walletobjects.media.download",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "useMediaDownloadService": true,
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "addmessage": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "id": "walletobjects.giftcardobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.giftcardobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "id": "walletobjects.giftcardobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject",
          "parameters": {},
          "description": "Inserts an gift card object with the given ID and properties.",
          "flatPath": "walletobjects/v1/giftCardObject",
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "POST"
        },
        "update": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "id": "walletobjects.giftcardobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Returns the gift card object with the given object ID.",
          "id": "walletobjects.giftcardobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "get": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the loyalty object with the given object ID."
        },
        "insert": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {},
          "description": "Inserts an loyalty object with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyObject"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "id": "walletobjects.loyaltyobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID."
        },
        "patch": {
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "request": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "addmessage": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "id": "walletobjects.loyaltyobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyObject",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "path": "walletobjects/v1/loyaltyObject",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "description": "Returns a list of all loyalty objects for a given issuer ID."
        },
        "modifylinkedofferobjects": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "deprecated": true,
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID."
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {},
          "description": "Inserts an event ticket object with the given ID and properties.",
          "id": "walletobjects.eventticketobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "update": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates the event ticket object referenced by the given object ID.",
          "id": "walletobjects.eventticketobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "PUT",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "patch": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "GET",
          "id": "walletobjects.eventticketobject.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Returns the event ticket object with the given object ID."
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "list": {
          "path": "walletobjects/v1/eventTicketObject",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          }
        },
        "modifylinkedofferobjects": {
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "deprecated": true,
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "transitclass": {
      "methods": {
        "addmessage": {
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          }
        },
        "list": {
          "flatPath": "walletobjects/v1/transitClass",
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "id": "walletobjects.transitclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitClass",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Returns a list of all transit classes for a given issuer ID."
        },
        "get": {
[...]
