{
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "version": "v1",
  "canonicalName": "Walletobjects",
  "batchPath": "batch",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "title": "Google Wallet API",
  "revision": "20260807",
  "schemas": {
    "ClassTemplateInfo": {
      "type": "object",
      "properties": {
        "detailsTemplateOverride": {
          "description": "Override for the details view (beneath the card view).",
          "$ref": "DetailsTemplateOverride"
        },
        "cardBarcodeSectionDetails": {
          "description": "Specifies extra information to be displayed above and below the barcode.",
          "$ref": "CardBarcodeSectionDetails"
        },
        "listTemplateOverride": {
          "description": "Override for the passes list view.",
          "$ref": "ListTemplateOverride"
        },
        "cardTemplateOverride": {
          "description": "Override for the card view.",
          "$ref": "CardTemplateOverride"
        }
      },
      "id": "ClassTemplateInfo"
    },
    "TicketCost": {
      "id": "TicketCost",
      "properties": {
        "faceValue": {
          "description": "The face value of the ticket.",
          "$ref": "Money"
        },
        "purchasePrice": {
          "description": "The actual purchase price of the ticket, after tax and/or discounts.",
          "$ref": "Money"
        },
        "discountMessage": {
          "description": "A message describing any kind of discount that was applied.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "CardRowOneItem": {
      "properties": {
        "item": {
          "description": "The item to be displayed in the row. This item will be automatically centered.",
          "$ref": "TemplateItem"
        }
      },
      "id": "CardRowOneItem",
      "type": "object"
    },
    "TransitClassAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated TransitClass resource.",
          "$ref": "TransitClass"
        }
      },
      "id": "TransitClassAddMessageResponse"
    },
    "SecurityAnimation": {
      "properties": {
        "animationType": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "ANIMATION_UNSPECIFIED",
            "FOIL_SHIMMER",
            "foilShimmer"
          ],
          "enumDescriptions": [
            "",
            "Default Foil & Shimmer animation",
            "Legacy alias for `FOIL_SHIMMER`. Deprecated."
          ],
          "description": "Type of animation.",
          "type": "string"
        }
      },
      "id": "SecurityAnimation",
      "type": "object"
    },
    "LoyaltyClassAddMessageResponse": {
      "type": "object",
      "id": "LoyaltyClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated LoyaltyClass resource.",
          "$ref": "LoyaltyClass"
        }
      }
    },
    "AddMessageRequest": {
      "description": "Resource used when the AddMessage endpoints are called.",
      "type": "object",
      "id": "AddMessageRequest",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      }
    },
    "OfferObjectAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated OfferObject resource.",
          "$ref": "OfferObject"
        }
      },
      "id": "OfferObjectAddMessageResponse",
      "type": "object"
    },
    "Notifications": {
      "properties": {
        "upcomingNotification": {
          "description": "A notification would be triggered at a specific time before the card becomes usable.",
          "$ref": "UpcomingNotification"
        },
        "expiryNotification": {
          "description": "A notification would be triggered at a specific time before the card expires.",
          "$ref": "ExpiryNotification"
        }
      },
      "id": "Notifications",
      "description": "Indicates if the object needs to have notification enabled. We support only one of ExpiryNotification/UpcomingNotification. `expiryNotification` takes precedence over `upcomingNotification`. In other words if `expiryNotification` is set, we ignore the `upcomingNotification` field.",
      "type": "object"
    },
    "DiffVersionResponse": {
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "format": "int64",
          "description": "The total size of the server object.",
          "type": "string"
        }
      },
      "id": "DiffVersionResponse"
    },
    "TransitObjectAddMessageResponse": {
      "properties": {
        "resource": {
          "description": "The updated TransitObject resource.",
          "$ref": "TransitObject"
        }
      },
      "id": "TransitObjectAddMessageResponse",
      "type": "object"
    },
    "FrequentFlyerInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#frequentFlyerInfo\"`.",
          "type": "string"
        },
        "frequentFlyerNumber": {
          "description": "Frequent flyer number. Required for each nested object of kind `walletobjects#frequentFlyerInfo`.",
          "type": "string"
        },
        "frequentFlyerProgramName": {
          "description": "Frequent flyer program name. eg: \"Lufthansa Miles & More\"",
          "$ref": "LocalizedString"
        }
      },
      "id": "FrequentFlyerInfo"
    },
    "SetPassUpdateNoticeRequest": {
      "id": "SetPassUpdateNoticeRequest",
      "properties": {
        "updatedPassJwtSignature": {
          "description": "Required. The JWT signature of the updated pass that the issuer wants to notify Google about. Only devices that report a different JWT signature than this JWT signature will receive the update notification.",
          "type": "string"
        },
        "externalPassId": {
          "description": "Required. A fully qualified identifier of the pass that the issuer wants to notify the pass holder(s) about. Formatted as .",
          "type": "string"
        },
        "updateUri": {
          "description": "Required. The issuer endpoint URI the pass holder needs to follow in order to receive an updated pass JWT. It can not contain any sensitive information. The endpoint needs to authenticate the user before giving the user the updated JWT. Example update URI https://someissuer.com/update/passId=someExternalPassId",
          "type": "string"
        }
      },
      "description": "Request to send a private pass update notice information to Google, so that devices can then fetch the notice prompting the user to update a pass.",
      "type": "object"
    },
    "ActivationOptions": {
      "description": "ActivationOptions for the class",
      "type": "object",
      "properties": {
        "allowReactivation": {
          "description": "Flag to allow users to make activation call from different device. This allows client to render the activation button enabled even if the activationStatus is ACTIVATED but the requested device is different than the current device.",
          "type": "boolean"
        },
        "activationUrl": {
          "description": "HTTPS URL that supports REST semantics. Would be used for requesting activation from partners for given valuable, triggered by the users.",
          "type": "string"
        }
      },
      "id": "ActivationOptions"
    },
    "OfferClassAddMessageResponse": {
      "type": "object",
      "id": "OfferClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated OfferClass resource.",
          "$ref": "OfferClass"
        }
      }
    },
    "SaveRestrictions": {
      "description": "Defines restrictions on the object that will be verified during save. Note: this is an advanced feature, please contact Google for implementation support.",
      "type": "object",
      "id": "SaveRestrictions",
      "properties": {
        "restrictToEmailSha256": {
          "description": "Restrict the save of the referencing object to the given email address only. This is the hex output of SHA256 sum of the email address, all lowercase and without any notations like \".\" or \"+\", except \"@\". For example, for example@example.com, this value will be 31c5543c1734d25c7206f5fd591525d0295bec6fe84ff82f946a34fe970a1e66 and for Example@example.com, this value will be bc34f262c93ad7122763684ccea6f07fb7f5d8a2d11e60ce15a6f43fe70ce632 If email address of the logged-in user who tries to save this pass does not match with the defined value here, users won't be allowed to save this pass. They will instead be prompted with an error to contact the issuer. This information should be gathered from the user with an explicit consent via Sign in with Google integration https://developers.google.com/identity/authentication. Please contact with support before using Save Restrictions.",
          "type": "string"
        }
      }
    },
    "FirstRowOption": {
      "type": "object",
      "id": "FirstRowOption",
      "properties": {
        "transitOption": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "TRANSIT_OPTION_UNSPECIFIED",
            "ORIGIN_AND_DESTINATION_NAMES",
            "originAndDestinationNames",
            "ORIGIN_AND_DESTINATION_CODES",
            "originAndDestinationCodes",
            "ORIGIN_NAME",
            "originName"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_NAMES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_AND_DESTINATION_CODES`. Deprecated.",
            "",
            "Legacy alias for `ORIGIN_NAME`. Deprecated."
          ]
        },
        "fieldOption": {
          "description": "A reference to the field to be displayed in the first row.",
          "$ref": "FieldSelector"
        }
      }
    },
    "GenericClassListResponse": {
      "id": "GenericClassListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "GenericClass"
          }
        }
      },
      "description": "List response which contains the list of all generic classes for a given issuer ID.",
      "type": "object"
    },
    "FlightCarrier": {
      "properties": {
        "airlineAllianceLogo": {
          "description": "A logo for the airline alliance, displayed below the QR code that the passenger scans to board.",
          "$ref": "Image"
        },
        "carrierIataCode": {
          "description": "Two character IATA airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIcaoCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"LX\" for Swiss Air",
          "type": "string"
        },
        "airlineLogo": {
          "description": "A logo for the airline described by carrierIataCode and localizedAirlineName. This logo will be rendered at the top of the detailed card view.",
          "$ref": "Image"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightCarrier\"`.",
          "type": "string"
        },
        "airlineName": {
          "description": "A localized name of the airline specified by carrierIataCode. If unset, `issuer_name` or `localized_issuer_name` from `FlightClass` will be used for display purposes. eg: \"Swiss Air\" for \"LX\"",
          "$ref": "LocalizedString"
        },
        "carrierIcaoCode": {
          "description": "Three character ICAO airline code of the marketing carrier (as opposed to operating carrier). Exactly one of this or `carrierIataCode` needs to be provided for `carrier` and `operatingCarrier`. eg: \"EZY\" for Easy Jet",
          "type": "string"
        },
        "wideAirlineLogo": {
          "description": "The wide logo of the airline. When provided, this will be used in place of the airline logo in the top left of the card view.",
          "$ref": "Image"
        }
      },
      "id": "FlightCarrier",
      "type": "object"
    },
    "FlightClassListResponse": {
      "id": "FlightClassListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "FlightClass"
          }
        }
      },
      "type": "object"
    },
    "LoyaltyPoints": {
      "properties": {
        "localizedLabel": {
          "description": "Translated strings for the label. Recommended maximum length is 9 characters.",
          "$ref": "LocalizedString"
        },
        "balance": {
          "description": "The account holder's loyalty point balance, such as \"500\" or \"$10.00\". Recommended maximum length is 7 characters. This is a required field of `loyaltyPoints` and `secondaryLoyaltyPoints`.",
          "$ref": "LoyaltyPointsBalance"
        },
        "label": {
          "description": "The loyalty points label, such as \"Points\". Recommended maximum length is 9 characters.",
          "type": "string"
        }
      },
      "id": "LoyaltyPoints",
      "type": "object"
    },
    "FlightObject": {
      "type": "object",
      "properties": {
        "notifyPreference": {
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "type": "string",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "$ref": "InfoModuleData"
        },
        "state": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section.",
          "type": "string"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "locations": {
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "hasUsers": {
          "description": "Indicates if the object has users. This field is set by the platform.",
          "type": "boolean"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "type": "array",
          "items": {
            "$ref": "ValueAddedModuleData"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightObject\"`.",
          "type": "string",
          "deprecated": true
        },
        "version": {
          "deprecated": true,
          "format": "int64",
          "description": "Deprecated",
          "type": "string"
        },
        "groupingInfo": {
          "description": "Information that controls how passes are grouped together.",
          "$ref": "GroupingInfo"
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "securityProgramLogo": {
          "description": "An image for the security program that applies to the passenger.",
          "$ref": "Image"
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "disableExpirationNotification": {
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for Flights.",
          "type": "boolean"
        },
        "linkedObjectIds": {
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this flight object. If a user had saved this boarding pass, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "boardingAndSeatingInfo": {
          "description": "Passenger specific information about boarding and seating.",
          "$ref": "BoardingAndSeatingInfo"
        },
        "reservationInfo": {
          "description": "Required. Information about flight reservation.",
          "$ref": "ReservationInfo"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed.",
          "$ref": "AppLinkData"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "passengerName": {
          "description": "Required. Passenger name as it would appear on the boarding pass. eg: \"Dave M Gahan\" or \"Gahan/Dave\" or \"GAHAN/DAVEM\"",
          "type": "string"
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "FlightClass"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        },
        "saveRestrictions": {
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass.",
          "$ref": "SaveRestrictions"
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the class, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        }
      },
      "id": "FlightObject"
    },
    "CardRowTemplateInfo": {
      "properties": {
        "twoItems": {
          "description": "Template for a row containing two items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowTwoItems"
        },
        "threeItems": {
          "description": "Template for a row containing three items. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowThreeItems"
        },
        "oneItem": {
          "description": "Template for a row containing one item. Exactly one of \"one_item\", \"two_items\", \"three_items\" must be set.",
          "$ref": "CardRowOneItem"
        }
      },
      "id": "CardRowTemplateInfo",
      "type": "object"
    },
    "EventReservationInfo": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventReservationInfo\"`.",
          "type": "string",
          "deprecated": true
        },
        "confirmationCode": {
          "description": "The confirmation code of the event reservation. This may also take the form of an \"order number\", \"confirmation number\", \"reservation number\", or other equivalent.",
          "type": "string"
        }
      },
      "id": "EventReservationInfo",
      "type": "object"
    },
    "CardRowThreeItems": {
      "type": "object",
      "id": "CardRowThreeItems",
      "properties": {
        "endItem": {
          "description": "The item to be displayed at the end of the row. This item will be aligned to the right.",
          "$ref": "TemplateItem"
        },
        "startItem": {
          "description": "The item to be displayed at the start of the row. This item will be aligned to the left.",
          "$ref": "TemplateItem"
        },
        "middleItem": {
          "description": "The item to be displayed in the middle of the row. This item will be centered between the start and end items.",
          "$ref": "TemplateItem"
        }
      }
    },
    "LabelValue": {
      "description": "A pair of text strings to be displayed in the details view. Note we no longer display LabelValue/LabelValueRow as a table, instead a list of items.",
      "type": "object",
      "id": "LabelValue",
      "properties": {
        "label": {
          "description": "The label for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "value": {
          "description": "The value for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "localizedValue": {
          "description": "Translated strings for the value. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "$ref": "LocalizedString"
        },
        "localizedLabel": {
          "description": "Translated strings for the label. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "$ref": "LocalizedString"
        }
      }
    },
    "ModifyLinkedOfferObjects": {
      "type": "object",
      "id": "ModifyLinkedOfferObjects",
      "properties": {
        "removeLinkedOfferObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "The linked offer object ids to remove from the object.",
          "type": "array"
        },
        "addLinkedOfferObjectIds": {
          "description": "The linked offer object ids to add to the object.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EventVenue": {
      "type": "object",
      "id": "EventVenue",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`.",
          "type": "string",
          "deprecated": true
        },
        "address": {
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required.",
          "$ref": "LocalizedString"
        },
        "name": {
          "description": "The name of the venue, such as \"AT&T Park\". This is required.",
          "$ref": "LocalizedString"
        }
      }
    },
    "LoyaltyPointsBalance": {
      "id": "LoyaltyPointsBalance",
      "properties": {
        "money": {
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "$ref": "Money"
        },
        "int": {
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "integer",
          "format": "int32"
        },
        "double": {
          "format": "double",
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "number"
        },
        "string": {
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventTicketClassListResponse": {
      "type": "object",
      "id": "EventTicketClassListResponse",
      "properties": {
        "resources": {
          "items": {
            "$ref": "EventTicketClass"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      }
    },
    "AppLinkDataAppLinkInfoAppTarget": {
      "id": "AppLinkDataAppLinkInfoAppTarget",
      "properties": {
        "packageName": {
          "description": "Package name for AppTarget. For example: com.google.android.gm",
          "type": "string"
        },
        "targetUri": {
          "description": "URI for AppTarget. The description on the URI must be set. Prefer setting package field instead, if this target is defined for your application.",
          "$ref": "Uri"
        }
      },
      "type": "object"
    },
    "DeviceContext": {
      "id": "DeviceContext",
      "properties": {
        "deviceToken": {
          "description": "If set, redemption information will only be returned to the given device upon activation of the object. This should not be used as a stable identifier to trace a user's device. It can change across different passes for the same device or even across different activations for the same device. When setting this, callers must also set has_linked_device on the object being activated.",
          "type": "string"
        }
      },
      "description": "Device context associated with the object.",
      "type": "object"
    },
    "CardTemplateOverride": {
      "id": "CardTemplateOverride",
      "properties": {
        "cardRowTemplateInfos": {
          "items": {
            "$ref": "CardRowTemplateInfo"
          },
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "AirportInfo": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#airportInfo\"`.",
          "type": "string",
          "deprecated": true
        },
        "airportIataCode": {
          "description": "Three character IATA airport code. This is a required field for `origin` and `destination`. Eg: \"SFO\"",
          "type": "string"
        },
        "terminal": {
          "description": "Terminal name. Eg: \"INTL\" or \"I\"",
          "type": "string"
        },
        "gate": {
          "description": "A name of the gate. Eg: \"B59\" or \"59\"",
          "type": "string"
        },
        "airportNameOverride": {
          "description": "Optional field that overrides the airport city name defined by IATA. By default, Google takes the `airportIataCode` provided and maps it to the official airport city name defined by IATA. Official IATA airport city names can be found at IATA airport city names website. For example, for the airport IATA code \"LTN\", IATA website tells us that the corresponding airport city is \"London\". If this field is not populated, Google would display \"London\". However, populating this field with a custom name (eg: \"London Luton\") would override it.",
          "$ref": "LocalizedString"
        }
      },
      "id": "AirportInfo"
    },
    "ListTemplateOverride": {
      "id": "ListTemplateOverride",
      "properties": {
        "firstRowOption": {
          "description": "Specifies from a predefined set of options or from a reference to the field what will be displayed in the first row. To set this override, set the FirstRowOption.fieldOption to the FieldSelector of your choice.",
          "$ref": "FirstRowOption"
        },
        "secondRowOption": {
          "description": "A reference to the field to be displayed in the second row. This option is only displayed if there are not multiple user objects in a group. If there is a group, the second row will always display a field shared by all objects. To set this override, please set secondRowOption to the FieldSelector of you choice.",
          "$ref": "FieldSelector"
        },
        "thirdRowOption": {
          "$ref": "FieldSelector",
          "deprecated": true,
          "description": "An unused/deprecated field. Setting it will have no effect on what the user sees."
        }
      },
      "type": "object"
    },
    "UploadPrivateImageRequest": {
      "properties": {},
      "id": "UploadPrivateImageRequest",
      "description": "Request to upload a private image to use in a pass.",
      "type": "object"
    },
    "GiftCardObjectAddMessageResponse": {
      "id": "GiftCardObjectAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated GiftCardObject resource.",
          "$ref": "GiftCardObject"
        }
      },
      "type": "object"
    },
    "AppLinkDataAppLinkInfo": {
      "type": "object",
      "id": "AppLinkDataAppLinkInfo",
      "properties": {
        "title": {
          "$ref": "LocalizedString",
          "deprecated": true,
          "description": "Deprecated. Title isn't supported in the app link module."
        },
        "appTarget": {
          "description": "Target to follow when opening the app link on clients. It will be used by partners to open their app or webpage.",
          "$ref": "AppLinkDataAppLinkInfoAppTarget"
        },
        "description": {
          "$ref": "LocalizedString",
          "deprecated": true,
          "description": "Deprecated. Description isn't supported in the app link module."
        },
        "appLogoImage": {
          "description": "Deprecated. Image isn't supported in the app link module.",
          "deprecated": true,
          "$ref": "Image"
        }
      }
    },
    "TransitObjectUploadRotatingBarcodeValuesResponse": {
      "description": "Response for uploading rotating barcode values.",
      "type": "object",
      "properties": {},
      "id": "TransitObjectUploadRotatingBarcodeValuesResponse"
    },
    "ModuleViewConstraints": {
      "id": "ModuleViewConstraints",
      "properties": {
        "displayInterval": {
          "description": "The period of time that the module will be displayed to users. Can define both a `startTime` and `endTime`. The module is displayed immediately after insertion unless a `startTime` is set. The module is displayed indefinitely if `endTime` is not set.",
          "$ref": "TimeInterval"
        }
      },
      "description": "Constraints that all must be met for the module to be shown.",
      "type": "object"
    },
    "GroupingInfo": {
      "type": "object",
      "id": "GroupingInfo",
      "properties": {
        "sortIndex": {
          "description": "Optional index for sorting the passes when they are grouped with other passes. Passes with lower sort index are shown before passes with higher sort index. If unspecified, the value is assumed to be INT_MAX. For two passes with the same sort index, the sorting behavior is undefined.",
          "type": "integer",
          "format": "int32"
        },
        "groupingId": {
          "description": "Optional grouping ID for grouping the passes with the same ID visually together. Grouping with different types of passes is allowed.",
          "type": "string"
        }
      }
    },
    "PurchaseDetails": {
      "properties": {
        "purchaseReceiptNumber": {
          "description": "Receipt number/identifier for tracking the ticket purchase via the body that sold the ticket.",
          "type": "string"
        },
        "confirmationCode": {
          "description": "The confirmation code for the purchase. This may be the same for multiple different tickets and is used to group tickets together.",
          "type": "string"
        },
        "ticketCost": {
          "description": "The cost of the ticket.",
          "$ref": "TicketCost"
        },
        "purchaseDateTime": {
          "description": "The purchase date/time of the ticket. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "accountId": {
          "description": "ID of the account used to purchase the ticket.",
          "type": "string"
        }
      },
      "id": "PurchaseDetails",
      "type": "object"
    },
    "JwtInsertResponse": {
      "type": "object",
      "id": "JwtInsertResponse",
      "properties": {
        "saveUri": {
          "description": "A URI that, when opened, will allow the end user to save the object(s) identified in the JWT to their Google account.",
          "type": "string"
        },
        "resources": {
          "description": "Data that corresponds to the ids of the provided classes and objects in the JWT. resources will only include the non-empty arrays (i.e. if the JWT only includes eventTicketObjects, then that is the only field that will be present in resources).",
          "$ref": "Resources"
        }
      }
    },
    "DiscoverableProgramMerchantSignupInfo": {
      "properties": {
        "signupWebsite": {
          "description": "The URL to direct the user to for the merchant's signup site.",
          "$ref": "Uri"
        },
        "signupSharedDatas": {
          "description": "User data that is sent in a POST request to the signup website URL. This information is encoded and then shared so that the merchant's website can prefill fields used to enroll the user for the discoverable program.",
          "type": "array",
          "items": {
            "enum": [
              "SHARED_DATA_TYPE_UNSPECIFIED",
              "FIRST_NAME",
              "LAST_NAME",
              "STREET_ADDRESS",
              "ADDRESS_LINE_1",
              "ADDRESS_LINE_2",
              "ADDRESS_LINE_3",
              "CITY",
              "STATE",
              "ZIPCODE",
              "COUNTRY",
              "EMAIL",
              "PHONE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "single line address field",
              "multi line address fields",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        }
      },
      "id": "DiscoverableProgramMerchantSignupInfo",
      "description": "Information about the merchant hosted signup flow for a program.",
      "type": "object"
    },
    "JwtValidateResponse": {
      "properties": {},
      "id": "JwtValidateResponse",
      "description": "Empty if the resource in the request is valid. Returns exception if invalid.",
      "type": "object"
    },
    "TranslatedString": {
      "id": "TranslatedString",
      "properties": {
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#translatedString\"`.",
          "type": "string"
        },
        "value": {
          "description": "The UTF-8 encoded translated string.",
          "type": "string"
        },
        "language": {
          "description": "Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TicketRestrictions": {
      "type": "object",
      "id": "TicketRestrictions",
      "properties": {
        "routeRestrictionsDetails": {
          "description": "More details about the above `routeRestrictions`.",
          "$ref": "LocalizedString"
        },
        "timeRestrictions": {
          "description": "Restrictions about times this ticket may be used.",
          "$ref": "LocalizedString"
        },
        "routeRestrictions": {
          "description": "Restrictions about routes that may be taken. For example, this may be the string \"Reserved CrossCountry trains only\".",
          "$ref": "LocalizedString"
        },
        "otherRestrictions": {
          "description": "Extra restrictions that don't fall under the \"route\" or \"time\" categories.",
          "$ref": "LocalizedString"
        }
      }
    },
    "Blobstore2Info": {
      "properties": {
        "readToken": {
          "description": "The blob read token. Needed to read blobs that have not been replicated. Might not be available until the final call.",
          "type": "string"
        },
        "blobGeneration": {
          "description": "The blob generation id.",
          "type": "string",
          "format": "int64"
        },
        "blobId": {
          "description": "The blob id, e.g., /blobstore/prod/playground/scotty",
          "type": "string"
        },
        "downloadExternalReadToken": {
          "description": "A serialized External Read Token passed from Bigstore -> Scotty for a GCS download. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "uploadMetadataContainer": {
          "description": "Metadata passed from Blobstore -> Scotty for a new GCS upload. This is a signed, serialized blobstore2.BlobMetadataContainer proto which must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string",
          "format": "byte"
        },
        "uploadFragmentListCreationInfo": {
          "format": "byte",
          "description": "A serialized Object Fragment List Creation Info passed from Bigstore -> Scotty for a GCS upload. This field must never be consumed outside of Bigstore, and is not applicable to non-GCS media uploads.",
          "type": "string"
        },
        "downloadReadHandle": {
          "description": "Read handle passed from Bigstore -> Scotty for a GCS download. This is a signed, serialized blobstore2.ReadHandle proto which must never be set outside of Bigstore, and is not applicable to non-GCS media downloads.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "Blobstore2Info",
      "description": "Information to read/write to blobstore2.",
      "type": "object"
    },
    "IssuerContactInfo": {
      "properties": {
        "phone": {
          "description": "The primary contact phone number.",
          "type": "string"
        },
        "name": {
          "description": "The primary contact name.",
          "type": "string"
        },
        "email": {
          "description": "The primary contact email address.",
          "type": "string"
        },
        "alertsEmails": {
          "items": {
            "type": "string"
          },
          "description": "Email addresses which will receive alerts.",
          "type": "array"
        }
      },
      "id": "IssuerContactInfo",
      "type": "object"
    },
    "Barcode": {
      "type": "object",
      "id": "Barcode",
      "properties": {
        "alternateText": {
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned.",
          "type": "string"
        },
        "renderEncoding": {
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ],
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "type": "string"
        },
        "type": {
          "description": "The type of barcode.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ]
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#barcode\"`.",
          "type": "string"
        },
        "value": {
          "description": "The value encoded in the barcode.",
          "type": "string"
        },
        "showCodeText": {
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google.",
          "$ref": "LocalizedString"
        }
      }
    },
    "OfferClassListResponse": {
      "type": "object",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "items": {
            "$ref": "OfferClass"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      },
      "id": "OfferClassListResponse"
    },
    "DiscoverableProgram": {
      "description": "Information about how a class may be discovered and instantiated from within the Google Wallet app. This is done by searching for a loyalty or gift card program and scanning or manually entering.",
      "type": "object",
      "properties": {
        "merchantSignupInfo": {
          "description": "Information about the ability to signup and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNUP is enabled.",
          "$ref": "DiscoverableProgramMerchantSignupInfo"
        },
        "merchantSigninInfo": {
          "description": "Information about the ability to signin and add a valuable for this program through a merchant site. Used when MERCHANT_HOSTED_SIGNIN is enabled.",
          "$ref": "DiscoverableProgramMerchantSigninInfo"
        },
        "state": {
          "enumDescriptions": [
            "",
            "Visible only to testers that have access to issuer account.",
            "Legacy alias for `TRUSTED_TESTERS`. Deprecated.",
            "Visible to all.",
            "Legacy alias for `LIVE`. Deprecated.",
            "Not visible.",
            "Legacy alias for `DISABLED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "TRUSTED_TESTERS",
            "trustedTesters",
            "LIVE",
            "live",
            "DISABLED",
            "disabled"
          ],
          "description": "Visibility state of the discoverable program.",
          "type": "string"
        }
      },
      "id": "DiscoverableProgram"
    },
    "SmartTap": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#smartTap\"`.",
          "type": "string",
          "deprecated": true
        },
        "id": {
          "description": "The unique identifier for a smart tap. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is the Smart Tap id. The Smart Tap id is a Base64 encoded string which represents the id which was generated by the Google Pay app.",
          "type": "string"
        },
        "infos": {
          "items": {
            "$ref": "IssuerToUserInfo"
          },
          "description": "Communication from merchant to user.",
          "type": "array"
        },
        "merchantId": {
          "description": "Smart Tap merchant ID of who engaged in the Smart Tap interaction.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "SmartTap",
      "type": "object"
    },
    "SignUpInfo": {
      "id": "SignUpInfo",
      "properties": {
        "classId": {
          "description": "ID of the class the user can sign up for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DateTime": {
      "type": "object",
      "id": "DateTime",
      "properties": {
        "date": {
          "description": "An ISO 8601 extended format date/time. Offset may or may not be required (refer to the parent field's documentation). Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the date/time is intended for a physical location in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. Providing an offset makes this an absolute instant in time around the world. The date/time will be adjusted based on the user's time zone. For example, a time of `2018-06-19T18:30:00-04:00` will be 18:30:00 for a user in New York and 15:30:00 for a user in Los Angeles. Omitting the offset makes this a local date/time, representing several instants in time around the world. The date/time will always be in the user's current time zone. For example, a time of `2018-06-19T18:30:00` will be 18:30:00 for a user in New York and also 18:30:00 for a user in Los Angeles. This is useful when the same local date/time should apply to many physical locations across several time zones.",
          "type": "string"
        }
      }
    },
    "GiftCardClassListResponse": {
      "type": "object",
      "id": "GiftCardClassListResponse",
      "properties": {
        "resources": {
          "description": "Resources corresponding to the list request.",
          "type": "array",
          "items": {
            "$ref": "GiftCardClass"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      }
    },
    "Resources": {
      "type": "object",
      "id": "Resources",
      "properties": {
        "transitObjects": {
          "items": {
            "$ref": "TransitObject"
          },
          "description": "A list of transit objects.",
          "type": "array"
        },
        "genericObjects": {
          "items": {
            "$ref": "GenericObject"
          },
          "description": "A list of generic objects.",
          "type": "array"
        },
        "flightClasses": {
          "items": {
            "$ref": "FlightClass"
          },
          "description": "A list of flight classes.",
          "type": "array"
        },
        "giftCardClasses": {
          "items": {
            "$ref": "GiftCardClass"
          },
          "description": "A list of gift card classes.",
          "type": "array"
        },
        "genericClasses": {
          "items": {
            "$ref": "GenericClass"
          },
          "description": "A list of generic classes.",
          "type": "array"
        },
        "offerClasses": {
          "items": {
            "$ref": "OfferClass"
          },
          "description": "A list of offer classes.",
          "type": "array"
        },
        "eventTicketClasses": {
          "description": "A list of event ticket classes.",
          "type": "array",
          "items": {
            "$ref": "EventTicketClass"
          }
        },
        "giftCardObjects": {
          "items": {
            "$ref": "GiftCardObject"
          },
          "description": "A list of gift card objects.",
          "type": "array"
        },
        "loyaltyObjects": {
          "items": {
            "$ref": "LoyaltyObject"
          },
          "description": "A list of loyalty objects.",
          "type": "array"
        },
        "offerObjects": {
          "description": "A list of offer objects.",
          "type": "array",
          "items": {
            "$ref": "OfferObject"
          }
        },
        "eventTicketObjects": {
          "items": {
            "$ref": "EventTicketObject"
          },
          "description": "A list of event ticket objects.",
          "type": "array"
        },
        "loyaltyClasses": {
          "description": "A list of loyalty classes.",
          "type": "array",
          "items": {
            "$ref": "LoyaltyClass"
          }
        },
        "flightObjects": {
          "items": {
            "$ref": "FlightObject"
          },
          "description": "A list of flight objects.",
          "type": "array"
        },
        "transitClasses": {
          "description": "A list of transit classes.",
          "type": "array",
          "items": {
            "$ref": "TransitClass"
          }
        }
      }
    },
    "TicketLeg": {
      "type": "object",
      "properties": {
        "departureDateTime": {
          "description": "The date/time of departure. This is required if there is no validity time interval set on the transit object. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the origin station. For example, if the departure occurs at the 20th hour of June 5th, 2018 at the origin station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the origin station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "carriage": {
          "description": "The train or ship name/number that the passsenger needs to board.",
          "type": "string"
        },
        "destinationStationCode": {
          "description": "The destination station code.",
          "type": "string"
        },
        "platform": {
          "description": "The platform or gate where the passenger can board the carriage.",
          "type": "string"
        },
        "zone": {
          "description": "The zone of boarding within the platform.",
          "type": "string"
        },
        "ticketSeats": {
          "items": {
            "$ref": "TicketSeat"
          },
          "description": "The reserved seat for the passenger(s). If only one seat is to be specified then use the `ticketSeat` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "type": "array"
        },
        "transitTerminusName": {
          "description": "Terminus station or destination of the train/bus/etc.",
          "$ref": "LocalizedString"
        },
        "originName": {
          "description": "The name of the origin station. This is required if `desinationName` is present or if `originStationCode` is not present.",
          "$ref": "LocalizedString"
        },
        "fareName": {
          "description": "Short description/name of the fare for this leg of travel. Eg \"Anytime Single Use\".",
          "$ref": "LocalizedString"
        },
        "arrivalDateTime": {
          "description": "The date/time of arrival. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the destination station. For example, if the event occurs at the 20th hour of June 5th, 2018 at the destination station, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the destination station is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "ticketSeat": {
          "description": "The reserved seat for the passenger(s). If more than one seat is to be specified then use the `ticketSeats` field instead. Both `ticketSeat` and `ticketSeats` may not be set.",
          "$ref": "TicketSeat"
        },
        "destinationName": {
          "description": "The destination name.",
          "$ref": "LocalizedString"
        },
        "originStationCode": {
          "description": "The origin station code. This is required if `destinationStationCode` is present or if `originName` is not present.",
          "type": "string"
        },
        "transitOperatorName": {
          "description": "The name of the transit operator that is operating this leg of a trip.",
          "$ref": "LocalizedString"
        }
      },
      "id": "TicketLeg"
    },
    "Money": {
      "type": "object",
      "properties": {
        "micros": {
          "description": "The unit of money amount in micros. For example, $1 USD would be represented as 1000000 micros.",
          "type": "string",
          "format": "int64"
        },
        "currencyCode": {
          "description": "The currency code, such as \"USD\" or \"EUR.\"",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#money\"`.",
          "type": "string"
        }
      },
      "id": "Money"
    },
    "AuthenticationKey": {
      "id": "AuthenticationKey",
      "properties": {
        "publicKeyPem": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "string"
        },
        "id": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Permissions": {
      "type": "object",
      "properties": {
        "issuerId": {
          "format": "int64",
          "description": "ID of the issuer the list of permissions refer to.",
          "type": "string"
        },
        "permissions": {
          "description": "The complete list of permissions for the issuer account.",
          "type": "array",
          "items": {
            "$ref": "Permission"
          }
        }
      },
      "id": "Permissions"
    },
    "TransitObjectListResponse": {
      "type": "object",
      "id": "TransitObjectListResponse",
      "properties": {
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        },
        "resources": {
          "items": {
            "$ref": "TransitObject"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      }
    },
    "FieldReference": {
      "description": "Reference definition to use with field overrides.",
      "type": "object",
      "properties": {
        "fieldPath": {
          "description": "Path to the field being referenced, prefixed with \"object\" or \"class\" and separated with dots. For example, it may be the string \"object.purchaseDetails.purchasePrice\".",
          "type": "string"
        },
        "dateFormat": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false
          ],
          "enum": [
            "DATE_FORMAT_UNSPECIFIED",
            "DATE_TIME",
            "dateTime",
            "DATE_ONLY",
            "dateOnly",
            "TIME_ONLY",
            "timeOnly",
            "DATE_TIME_YEAR",
            "dateTimeYear",
            "DATE_YEAR",
            "dateYear",
            "YEAR_MONTH",
            "YEAR_MONTH_DAY"
          ],
          "enumDescriptions": [
            "Default option when no format is specified, when selected, no formatting will be applied.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14` in `en_US`.",
            "Legacy alias for `DATE_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `1:00 PM` in `en_US`.",
            "Legacy alias for `TIME_ONLY`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018, 1:00 PM` in `en_US`.",
            "Legacy alias for `DATE_TIME_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `Dec 14, 2018` in `en_US`.",
            "Legacy alias for `DATE_YEAR`. Deprecated.",
            "Renders `2018-12-14T13:00:00` as `2018-12`.",
            "Renders `2018-12-14T13:00:00` as `2018-12-14`."
          ],
          "description": "Only valid if the `fieldPath` references a date field. Chooses how the date field will be formatted and displayed in the UI.",
          "type": "string"
        }
      },
      "id": "FieldReference"
    },
    "PassConstraints": {
      "id": "PassConstraints",
      "properties": {
        "screenshotEligibility": {
          "enum": [
            "SCREENSHOT_ELIGIBILITY_UNSPECIFIED",
            "ELIGIBLE",
            "INELIGIBLE"
          ],
          "enumDescriptions": [
            "Default value, same as ELIGIBLE.",
            "Default behavior for all existing Passes if ScreenshotEligibility is not set. Allows screenshots to be taken on Android devices.",
            "Disallows screenshots to be taken on Android devices. Note that older versions of Wallet may still allow screenshots to be taken."
          ],
          "description": "The screenshot eligibility for the pass.",
          "type": "string"
        },
        "nfcConstraint": {
          "description": "The NFC constraints for the pass.",
          "type": "array",
          "items": {
            "enum": [
              "NFC_CONSTRAINT_UNSPECIFIED",
              "BLOCK_PAYMENT",
              "BLOCK_CLOSED_LOOP_TRANSIT"
            ],
            "enumDescriptions": [
              "Default value, no specified constraint.",
              "Payment cards will not be conveyed while the pass is open.",
              "Closed loop transit cards will not be conveyed while the pass is open."
            ],
            "type": "string"
          }
        }
      },
      "description": "Container for any constraints that may be placed on passes.",
      "type": "object"
    },
    "DiffUploadRequest": {
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "DiffUploadRequest",
      "properties": {
        "checksumsInfo": {
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol.",
          "$ref": "CompositeMedia"
        },
        "objectInfo": {
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received.",
          "$ref": "CompositeMedia"
        },
        "objectVersion": {
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in.",
          "type": "string"
        }
      }
    },
    "RotatingBarcodeTotpDetailsTotpParameters": {
      "description": "Configuration for the key and value length. See https://www.rfc-editor.org/rfc/rfc4226#section-5.3",
      "type": "object",
      "id": "RotatingBarcodeTotpDetailsTotpParameters",
      "properties": {
        "key": {
          "description": "The secret key used for the TOTP value generation, encoded as a Base16 string.",
          "type": "string"
        },
        "valueLength": {
          "description": "The length of the TOTP value in decimal digits.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "EventTicketObjectAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "description": "The updated EventTicketObject resource.",
          "$ref": "EventTicketObject"
        }
      },
      "id": "EventTicketObjectAddMessageResponse"
    },
    "RotatingBarcodeValues": {
      "id": "RotatingBarcodeValues",
      "properties": {
        "startDateTime": {
          "description": "Required. The date/time the first barcode is valid from. Barcodes will be rotated through using period_millis defined on the object's RotatingBarcodeValueInfo. This is an ISO 8601 extended format date/time, with an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year.",
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The values to encode in the barcode. At least one value is required.",
          "type": "array"
        },
        "periodMillis": {
          "format": "int64",
          "description": "Required. The amount of time each barcode is valid for.",
          "type": "string"
        }
      },
      "description": "A payload containing many barcode values and start date/time.",
      "type": "object"
    },
    "ReservationInfo": {
      "id": "ReservationInfo",
      "properties": {
        "frequentFlyerInfo": {
          "description": "Frequent flyer membership information.",
          "$ref": "FrequentFlyerInfo"
        },
        "confirmationCode": {
          "description": "Confirmation code needed to check into this flight. This is the number that the passenger would enter into a kiosk at the airport to look up the flight and print a boarding pass.",
          "type": "string"
        },
        "eticketNumber": {
          "description": "E-ticket number.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#reservationInfo\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventTicketClassAddMessageResponse": {
      "type": "object",
      "id": "EventTicketClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "EventTicketClass"
        }
      }
    },
    "DetailsTemplateOverride": {
      "type": "object",
      "properties": {
        "detailsItemInfos": {
          "description": "Information for the \"nth\" item displayed in the details list.",
          "type": "array",
          "items": {
            "$ref": "DetailsItemInfo"
          }
        }
      },
      "id": "DetailsTemplateOverride"
    },
    "DownloadParameters": {
      "id": "DownloadParameters",
      "properties": {
        "ignoreRange": {
          "description": "Determining whether or not Apiary should skip the inclusion of any Content-Range header on its response to Scotty.",
          "type": "boolean"
        },
        "allowGzipCompression": {
          "description": "A boolean to be returned in the response to Scotty. Allows/disallows gzip encoding of the payload content when the server thinks it's advantageous (hence, does not guarantee compression) which allows Scotty to GZip the response to the client.",
          "type": "boolean"
        }
      },
      "description": "Parameters specific to media downloads.",
      "type": "object"
    },
    "LocalizedString": {
      "id": "LocalizedString",
      "properties": {
        "translatedValues": {
          "items": {
            "$ref": "TranslatedString"
          },
          "description": "Contains the translations for the string.",
          "type": "array"
        },
        "defaultValue": {
          "description": "Contains the string to be displayed if no appropriate translation is available.",
          "$ref": "TranslatedString"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivationStatus": {
      "description": "The activation status of the object. This field includes activation status if valuable supports activation.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ],
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ]
        }
      },
      "id": "ActivationStatus"
    },
    "GenericClassAddMessageResponse": {
      "description": "Response to adding a new issuer message to the class. This contains the entire updated GenericClass.",
      "type": "object",
      "id": "GenericClassAddMessageResponse",
      "properties": {
        "resource": {
          "description": "The updated EventTicketClass resource.",
          "$ref": "GenericClass"
        }
      }
    },
    "TransitObjectUploadRotatingBarcodeValuesRequest": {
      "id": "TransitObjectUploadRotatingBarcodeValuesRequest",
      "properties": {
        "blob": {
          "description": "A reference to the rotating barcode values payload that was uploaded.",
          "$ref": "Media"
        },
        "mediaRequestInfo": {
          "description": "Extra information about the uploaded media.",
          "$ref": "MediaRequestInfo"
        }
      },
      "description": "Request to upload rotating barcode values.",
      "type": "object"
    },
    "BoardingAndSeatingInfo": {
      "properties": {
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "boardingDoor": {
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ]
        },
        "seatNumber": {
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\"",
          "type": "string"
        },
        "boardingGroup": {
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object.",
          "type": "string"
        },
        "seatClass": {
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\"",
          "type": "string"
        },
        "boardingPrivilegeImage": {
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program.",
          "$ref": "Image"
        },
        "boardingPosition": {
          "description": "The value of boarding position. eg: \"76\"",
          "type": "string"
        },
        "seatAssignment": {
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\"",
          "$ref": "LocalizedString"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "BoardingAndSeatingInfo",
      "type": "object"
    },
    "AppLinkData": {
      "properties": {
        "androidAppLinkInfo": {
          "description": "Optional information about the partner app link.",
          "$ref": "AppLinkDataAppLinkInfo"
        },
        "webAppLinkInfo": {
          "description": "Optional information about the partner web link.",
          "$ref": "AppLinkDataAppLinkInfo"
        },
        "displayText": {
          "description": "Optional display text for the app link button. Character limit is 30.",
          "$ref": "LocalizedString"
        },
        "iosAppLinkInfo": {
          "$ref": "AppLinkDataAppLinkInfo",
          "deprecated": true,
          "description": "Deprecated. Links to open iOS apps are not supported."
        }
      },
      "id": "AppLinkData",
      "type": "object"
    },
    "DiffDownloadResponse": {
      "description": "Backend response for a Diff download response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "type": "object",
      "id": "DiffDownloadResponse",
      "properties": {
        "objectLocation": {
          "description": "The original object location.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "EventSeat": {
      "id": "EventSeat",
      "properties": {
        "row": {
          "description": "The row of the seat, such as \"1\", E\", \"BB\", or \"A5\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventSeat\"`.",
          "type": "string",
          "deprecated": true
        },
        "section": {
          "description": "The section of the seat, such as \"121\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "gate": {
          "description": "The gate the ticket holder should enter to get to their seat, such as \"A\" or \"West\". This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        },
        "seat": {
          "description": "The seat number, such as \"1\", \"2\", \"3\", or any other seat identifier. This field is localizable so you may translate words or use different alphabets for the characters in an identifier.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "FlightHeader": {
      "type": "object",
      "id": "FlightHeader",
      "properties": {
        "flightNumberDisplayOverride": {
          "description": "Override value to use for flight number. The default value used for display purposes is carrier + flight_number. If a different value needs to be shown to passengers, use this field to override the default behavior. eg: \"XX1234 / YY576\"",
          "type": "string"
        },
        "carrier": {
          "description": "Information about airline carrier. This is a required property of `flightHeader`.",
          "$ref": "FlightCarrier"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightHeader\"`.",
          "type": "string",
          "deprecated": true
        },
        "operatingCarrier": {
          "description": "Information about operating airline carrier.",
          "$ref": "FlightCarrier"
        },
        "operatingFlightNumber": {
          "description": "The flight number used by the operating carrier without IATA carrier code. This field should contain only digits. eg: \"234\"",
          "type": "string"
        },
        "flightNumber": {
          "description": "The flight number without IATA carrier code. This field should contain only digits. This is a required property of `flightHeader`. eg: \"123\"",
          "type": "string"
        }
      }
    },
    "InfoModuleData": {
      "id": "InfoModuleData",
      "properties": {
        "showLastUpdateTime": {
          "type": "boolean",
          "deprecated": true
        },
        "labelValueRows": {
          "items": {
            "$ref": "LabelValueRow"
          },
          "description": "A list of collections of labels and values. These will be displayed one after the other in a singular column.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "TextModuleData": {
      "description": "Data for Text module. All fields are optional. Header will be displayed if available, different types of bodies will be concatenated if they are defined.",
      "type": "object",
      "id": "TextModuleData",
      "properties": {
        "header": {
          "description": "The header of the Text Module. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "body": {
          "description": "The body of the Text Module, which is defined as an uninterrupted string. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "localizedHeader": {
          "description": "Translated strings for the header. Recommended maximum length is 35 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "localizedBody": {
          "description": "Translated strings for the body. Recommended maximum length is 500 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "id": {
          "description": "The ID associated with a text module. This field is here to enable ease of management of text modules and referencing them in template overrides. The ID should only include alphanumeric characters, '_', or '-'. It can not include dots, as dots are used to separate fields within FieldReference.fieldPaths in template overrides.",
          "type": "string"
        }
      }
    },
    "Review": {
      "type": "object",
      "properties": {
        "comments": {
          "type": "string"
        }
      },
      "id": "Review"
    },
    "IssuerListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "Issuer"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        }
      },
      "id": "IssuerListResponse"
    },
    "EventDateTime": {
      "properties": {
        "doorsOpen": {
          "description": "The date/time when the doors open at the venue. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "customDoorsOpenLabel": {
          "description": "A custom label to use for the doors open value (`doorsOpen`) on the card detail view. This should only be used if the default \"Doors Open\" label or one of the `doorsOpenLabel` options is not sufficient. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "end": {
          "description": "The date/time when the event ends. If the event spans multiple days, it should be the end date/time on the last day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "doorsOpenLabel": {
          "description": "The label to use for the doors open value (`doorsOpen`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `doorsOpenLabel` and `customDoorsOpenLabel` may not be set. If neither is set, the label will default to \"Doors Open\", localized. If the doors open field is unset, this label will not be used.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "DOORS_OPEN_LABEL_UNSPECIFIED",
            "DOORS_OPEN",
            "doorsOpen",
            "GATES_OPEN",
            "gatesOpen"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `DOORS_OPEN`. Deprecated.",
            "",
            "Legacy alias for `GATES_OPEN`. Deprecated."
          ]
        },
        "start": {
          "description": "The date/time when the event starts. If the event spans multiple days, it should be the start date/time on the first day. This is an ISO 8601 extended format date/time, with or without an offset. Time may be specified up to nanosecond precision. Offsets may be specified with seconds precision (even though offset seconds is not part of ISO 8601). For example: `1985-04-12T23:20:50.52Z` would be 20 minutes and 50.52 seconds after the 23rd hour of April 12th, 1985 in UTC. `1985-04-12T19:20:50.52-04:00` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985, 4 hours before UTC (same instant in time as the above example). If the event were in New York, this would be the equivalent of Eastern Daylight Time (EDT). Remember that offset varies in regions that observe Daylight Saving Time (or Summer Time), depending on the time of the year. `1985-04-12T19:20:50.52` would be 20 minutes and 50.52 seconds after the 19th hour of April 12th, 1985 with no offset information. The portion of the date/time without the offset is considered the \"local date/time\". This should be the local date/time at the venue. For example, if the event occurs at the 20th hour of June 5th, 2018 at the venue, the local date/time portion should be `2018-06-05T20:00:00`. If the local date/time at the venue is 4 hours before UTC, an offset of `-04:00` may be appended. Without offset information, some rich features may not be available.",
          "type": "string"
        },
        "kind": {
          "deprecated": true,
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventDateTime\"`.",
          "type": "string"
        }
      },
      "id": "EventDateTime",
      "type": "object"
    },
    "DiscoverableProgramMerchantSigninInfo": {
      "properties": {
        "signinWebsite": {
          "description": "The URL to direct the user to for the merchant's signin site.",
          "$ref": "Uri"
        }
      },
      "id": "DiscoverableProgramMerchantSigninInfo",
      "description": "Information about the merchant hosted signin flow for a program.",
      "type": "object"
    },
    "FlightClass": {
      "type": "object",
      "id": "FlightClass",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#flightClass\"`.",
          "type": "string",
          "deprecated": true
        },
        "locations": {
          "deprecated": true,
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          }
        },
        "valueAddedModuleData": {
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "type": "array"
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "version": {
[...]
