{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "revision": "20260717",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "name": "walletobjects",
  "canonicalName": "Walletobjects",
  "resources": {
    "media": {
      "methods": {
        "upload": {
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "id": "walletobjects.media.upload",
          "parameterOrder": [
            "resourceId"
          ],
          "supportsMediaUpload": true
        },
        "download": {
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.media.download",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Media"
          }
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/issuer",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "Issuer"
          },
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "id": "walletobjects.issuer.insert",
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.issuer.update",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true
            }
          }
        },
        "get": {
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.issuer.get",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/issuer",
          "httpMethod": "GET",
          "parameters": {},
          "response": {
            "$ref": "IssuerListResponse"
          },
          "flatPath": "walletobjects/v1/issuer",
          "description": "Returns a list of all issuers shared to the caller.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.issuer.list"
        },
        "patch": {
          "id": "walletobjects.issuer.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "response": {
            "$ref": "Issuer"
          },
          "path": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "location": "path",
              "required": true,
              "format": "int64"
            }
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "id": "walletobjects.flightobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "id": "walletobjects.flightobject.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject",
          "description": "Inserts an flight object with the given ID and properties.",
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject",
          "httpMethod": "POST",
          "parameters": {}
        },
        "get": {
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.get",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightObject"
          }
        },
        "list": {
          "id": "walletobjects.flightobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightObject",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "path": "walletobjects/v1/flightObject",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.patch",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightobject.update",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID.",
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.genericobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID."
        },
        "list": {
          "parameterOrder": [],
          "id": "walletobjects.genericobject.list",
          "flatPath": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "path": "walletobjects/v1/genericObject",
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "id": "walletobjects.genericobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GenericObject"
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericobject.update",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericObject"
          }
        },
        "addmessage": {
          "id": "walletobjects.genericobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "request": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "id": "walletobjects.genericobject.insert",
          "parameterOrder": [],
          "path": "walletobjects/v1/genericObject",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GenericObject"
          }
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "update": {
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.update",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Returns the gift card object with the given object ID.",
          "id": "walletobjects.giftcardobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "list": {
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "path": "walletobjects/v1/giftCardObject",
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject",
          "description": "Returns a list of all gift card objects for a given issuer ID."
        },
        "patch": {
          "id": "walletobjects.giftcardobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "GiftCardObject"
          },
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "path": "walletobjects/v1/giftCardObject",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GiftCardObject"
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardObject",
          "description": "Inserts an gift card object with the given ID and properties.",
          "id": "walletobjects.giftcardobject.insert",
          "parameterOrder": []
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.giftcardobject.addmessage"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "get": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.get",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "flatPath": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.list",
          "path": "walletobjects/v1/loyaltyClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "LoyaltyClassListResponse"
          }
        },
        "patch": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.loyaltyclass.patch",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "update": {
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.update",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyclass.addmessage",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          }
        },
        "insert": {
          "path": "walletobjects/v1/loyaltyClass",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.loyaltyclass.insert"
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "SmartTap"
          }
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path"
            }
          },
          "id": "walletobjects.permissions.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id."
        },
        "update": {
          "request": {
            "$ref": "Permissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer.",
          "id": "walletobjects.permissions.update",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "type": "string",
              "required": true,
              "format": "int64",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Permissions"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.addmessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "description": "Inserts a generic class with the given ID and properties.",
          "id": "walletobjects.genericclass.insert",
          "parameterOrder": [],
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "GenericClass"
          }
        },
        "get": {
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.genericclass.get",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Returns the generic class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/genericClass",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            },
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "id": "walletobjects.genericclass.list",
          "parameterOrder": []
        },
        "patch": {
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.genericclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics."
        },
        "update": {
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the Generic class referenced by the given class ID."
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "modifylinkedofferobjects": {
          "deprecated": true,
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects"
        },
        "update": {
          "id": "walletobjects.loyaltyobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.get",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          }
        },
        "list": {
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.list",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.loyaltyobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics."
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.loyaltyobject.insert",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "httpMethod": "POST",
          "parameters": {}
        },
        "addmessage": {
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.loyaltyobject.addmessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "get": {
          "id": "walletobjects.transitclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Returns the transit class with the given class ID.",
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "list": {
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          },
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "id": "walletobjects.transitclass.list",
          "parameterOrder": []
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.patch",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.update",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitClass"
          }
        },
        "addmessage": {
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitclass.addmessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties.",
          "id": "walletobjects.transitclass.insert",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitClass",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "TransitClass"
          }
        }
      }
    },
    "transitobject": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.transitobject.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          }
        },
        "insert": {
          "parameterOrder": [],
          "id": "walletobjects.transitobject.insert",
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Inserts an transit object with the given ID and properties.",
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject",
          "httpMethod": "POST",
          "parameters": {}
        },
        "get": {
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.transitobject.get",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Returns the transit object with the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.transitobject.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "path": "walletobjects/v1/transitObject",
          "httpMethod": "GET",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "id": "walletobjects.transitobject.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "response": {
            "$ref": "TransitObject"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID.",
          "id": "walletobjects.transitobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitObject"
          }
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "httpMethod": "POST",
                  "parameters": {},
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameterOrder": [],
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass."
                }
              }
            }
          }
        }
      }
    },
    "flightclass": {
      "methods": {
        "update": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.flightclass.update"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Returns the flight class with the given class ID.",
          "id": "walletobjects.flightclass.get",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "FlightClass"
          }
        },
        "list": {
          "id": "walletobjects.flightclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "path": "walletobjects/v1/flightClass",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            },
            "issuerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "patch": {
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.flightclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics."
        },
        "insert": {
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "id": "walletobjects.flightclass.insert",
          "flatPath": "walletobjects/v1/flightClass",
          "description": "Inserts an flight class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "FlightClass"
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "insert": {
          "id": "walletobjects.eventticketclass.insert",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass",
          "httpMethod": "POST",
          "parameters": {}
        },
        "addmessage": {
          "id": "walletobjects.eventticketclass.addmessage",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "update": {
          "response": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.eventticketclass.update",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID."
        },
        "get": {
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketclass.get",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "list": {
          "path": "walletobjects/v1/eventTicketClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query"
            }
          },
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.eventticketclass.list"
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.eventticketclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          }
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.addmessage",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "path": "walletobjects/v1/eventTicketObject",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "EventTicketObject"
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "id": "walletobjects.eventticketobject.insert",
          "parameterOrder": []
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Returns the event ticket object with the given object ID.",
          "id": "walletobjects.eventticketobject.get",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "list": {
          "path": "walletobjects/v1/eventTicketObject",
          "httpMethod": "GET",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "id": "walletobjects.eventticketobject.list"
        },
        "patch": {
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "modifylinkedofferobjects": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "deprecated": true,
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "update": {
          "request": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID.",
          "id": "walletobjects.eventticketobject.update",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/jwt",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "JwtResource"
          },
          "flatPath": "walletobjects/v1/jwt",
          "description": "Inserts the resources in the JWT.",
          "id": "walletobjects.jwt.insert",
          "parameterOrder": []
        }
      }
    },
    "offerclass": {
      "methods": {
        "addmessage": {
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.addmessage",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          }
        },
        "insert": {
          "path": "walletobjects/v1/offerClass",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [],
          "id": "walletobjects.offerclass.insert"
        },
        "get": {
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "GET",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "id": "walletobjects.offerclass.get",
          "parameterOrder": [
            "resourceId"
          ]
        },
        "list": {
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "path": "walletobjects/v1/offerClass",
          "httpMethod": "GET",
          "parameters": {
            "issuerId": {
              "format": "int64",
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          },
          "id": "walletobjects.offerclass.list",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID."
        },
        "patch": {
          "request": {
            "$ref": "OfferClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.offerclass.patch",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PATCH",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferClass"
          }
        },
        "update": {
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "httpMethod": "PUT",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "id": "walletobjects.offerclass.update",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "request": {
            "$ref": "OfferClass"
          }
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
[...]
