{
  "description": "webcontentpublisher.googleapis.com API, a service for web content publishers.",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version_module": true,
  "mtlsRootUrl": "https://webcontentpublisher.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "ListCtasResponse": {
      "properties": {
        "ctas": {
          "description": "Output only. The list of CTAs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Cta"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token to retrieve the next page of results, or empty if there are no more results.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCtasResponse",
      "description": "Response message for `ListCtas`."
    },
    "Cta": {
      "type": "object",
      "description": "Represents a Call-To-Action (CTA) configuration for a publication.",
      "id": "Cta",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. The user-visible display name of the CTA."
        },
        "name": {
          "description": "Identifier. The resource name of the Cta. Format: organizations/{organization}/publications/{publication}/ctas/{cta}",
          "type": "string"
        },
        "newsletterConfig": {
          "description": "Optional. Configuration specific to newsletter signup CTAs. Only populated if type is `NEWSLETTER_SIGNUP`.",
          "$ref": "NewsletterConfig"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified CTA type.",
            "CTA for newsletter subscription signup."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NEWSLETTER_SIGNUP"
          ],
          "description": "Required. The type of this CTA."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified CTA state.",
            "The CTA is a draft and not yet visible to users.",
            "The CTA is active and visible to users."
          ],
          "readOnly": true,
          "description": "Output only. The current state of this CTA.",
          "type": "string"
        }
      }
    },
    "NewsletterConfig": {
      "properties": {
        "customConsentText": {
          "description": "Optional. Custom consent or disclosure text shown to the user.",
          "type": "string"
        },
        "optInRequired": {
          "type": "boolean",
          "description": "Optional. Whether checking the opt-in checkbox is required."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of the newsletter signup prompt."
        },
        "customMessage": {
          "type": "string",
          "description": "Optional. A custom message displayed to the user in the signup prompt."
        },
        "nameRequired": {
          "type": "boolean",
          "description": "Optional. Whether the user is required to provide their name to sign up."
        }
      },
      "type": "object",
      "description": "Configuration for newsletter signup calls-to-action (CTAs).",
      "id": "NewsletterConfig"
    },
    "ListPublicationsResponse": {
      "properties": {
        "publications": {
          "items": {
            "$ref": "Publication"
          },
          "readOnly": true,
          "description": "Output only. The list of publications.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token to retrieve the next page of results, or empty if there are no more results."
        }
      },
      "id": "ListPublicationsResponse",
      "description": "Response message for `ListPublications`.",
      "type": "object"
    },
    "GeneratePlatformSiteTokensResponse": {
      "type": "object",
      "id": "GeneratePlatformSiteTokensResponse",
      "description": "Response message for `GeneratePlatformSiteTokens`.",
      "properties": {
        "siteTokens": {
          "type": "array",
          "description": "List of domain-scoped secure token mappings.",
          "items": {
            "$ref": "SiteToken"
          }
        }
      }
    },
    "CheckFreeAccessResponse": {
      "type": "object",
      "id": "CheckFreeAccessResponse",
      "description": "Response message for CheckFreeAccess",
      "properties": {
        "isAllowed": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. True if free access should be allowed, false otherwise."
        }
      }
    },
    "ContentPolicyStatus": {
      "description": "The content policy status of the publication, indicating any violations.",
      "id": "ContentPolicyStatus",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "OK",
            "VIOLATION_GRACE_PERIOD",
            "VIOLATION_ACTIVE",
            "ORGANIZATION_VIOLATION_GRACE_PERIOD",
            "ORGANIZATION_VIOLATION_ACTIVE",
            "ORGANIZATION_VIOLATION_ACTIVE_IMMEDIATE"
          ],
          "description": "Output only. The current policy state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Content policy is in a good state; no violations.",
            "The publication has a content policy violation but is within a grace period.",
            "The publication has an active content policy violation.",
            "The organization has a content policy violation but is within a grace period.",
            "The organization has an active content policy violation.",
            "The organization has an active content policy violation requiring immediate action."
          ],
          "readOnly": true,
          "type": "string"
        },
        "policyInfoUrl": {
          "description": "Output only. URL pointing to more details about the policy violation or status.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GeneratePlatformSiteTokensRequest": {
      "properties": {},
      "id": "GeneratePlatformSiteTokensRequest",
      "description": "Request message for `GeneratePlatformSiteTokens`.",
      "type": "object"
    },
    "SlProduct": {
      "properties": {
        "gcpProjectNumber": {
          "type": "string",
          "description": "Optional. The Google Cloud Project number associated with the publication.",
          "format": "int64"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether the Subscription Linking product is enabled."
        }
      },
      "id": "SlProduct",
      "description": "Subscription Linking (SL) product settings and status.",
      "type": "object"
    },
    "TosAcceptance": {
      "id": "TosAcceptance",
      "description": "Details about the acceptance of the Terms of Service (TOS).",
      "properties": {
        "emailOptIn": {
          "description": "Optional. Whether the user opted in to receive product updates and email communications.",
          "type": "boolean"
        },
        "userAccepted": {
          "type": "boolean",
          "description": "Required. Whether the user has accepted the Terms of Service."
        }
      },
      "type": "object"
    },
    "Publication": {
      "id": "Publication",
      "description": "Represents a publisher's publication in Reader Revenue Manager.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the publication. Format: organizations/{organization}/publications/{publication}",
          "type": "string"
        },
        "additionalDomains": {
          "type": "array",
          "items": {
            "$ref": "DomainProperty"
          },
          "description": "Optional. Additional domain properties verified for the publication."
        },
        "contentPolicyStatus": {
          "$ref": "ContentPolicyStatus",
          "readOnly": true,
          "description": "Output only. The content policy compliance status of the publication."
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The list of active products/features enabled for this publication."
        },
        "slProduct": {
          "description": "Optional. Subscription Linking product configurations.",
          "$ref": "SlProduct"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. The ISO 3166-1 alpha-2 region code where the publication is registered (e.g., \"US\")."
        },
        "rrmProduct": {
          "description": "Optional. Reader Revenue Manager product settings and status.",
          "$ref": "RrmProduct"
        },
        "primaryDomain": {
          "$ref": "DomainProperty",
          "description": "Required. The primary domain property associated with the publication."
        },
        "publicationPrivacyPolicyUrl": {
          "type": "string",
          "description": "Optional. The URL to the publisher's Privacy Policy."
        },
        "organizationId": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the organization that owns this publication.",
          "type": "string"
        },
        "paymentOption": {
          "enum": [
            "PAYMENT_OPTION_UNSPECIFIED",
            "NONE",
            "SUBSCRIPTIONS",
            "CONTRIBUTIONS"
          ],
          "description": "Output only. The configured payment option.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified payment option.",
            "No payment option configured.",
            "Publication supports paid subscriptions.",
            "Publication supports voluntary contributions."
          ],
          "type": "string"
        },
        "onboardingState": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The current onboarding state.",
          "enum": [
            "ONBOARDING_STATE_UNSPECIFIED",
            "ACTION_REQUIRED",
            "PENDING_VERIFICATION",
            "COMPLETE"
          ],
          "enumDescriptions": [
            "Unspecified onboarding state.",
            "Action is required from the publisher to proceed with onboarding.",
            "Publication is pending an external verification step. No immediate action is required.",
            "Onboarding is successfully completed."
          ]
        },
        "publicationId": {
          "description": "Output only. The unique identifier of the publication.",
          "type": "string",
          "readOnly": true
        },
        "languageCode": {
          "description": "Required. The primary language of the publication (BCP-47 code, e.g., \"en-US\").",
          "type": "string"
        },
        "publicationType": {
          "type": "string",
          "description": "Optional. The publication entity type (for-profit vs non-profit). Defaults to FOR_PROFIT if omitted.",
          "enumDescriptions": [
            "Unspecified publication type.",
            "For-profit entity.",
            "Non-profit entity."
          ],
          "enum": [
            "PUBLICATION_TYPE_UNSPECIFIED",
            "FOR_PROFIT",
            "NON_PROFIT"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-visible display name of the publication."
        },
        "publicationTosUrl": {
          "description": "Optional. The URL to the publisher's own Terms of Service.",
          "type": "string"
        }
      }
    },
    "SiteToken": {
      "id": "SiteToken",
      "properties": {
        "token": {
          "description": "The domain-scoped secure token value (ESUT).",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "The domain scope this token is valid for."
        }
      },
      "description": "Represents a domain-scoped secure token mapping.",
      "type": "object"
    },
    "DomainProperty": {
      "description": "Represents a domain property associated with a publication, typically used to verify ownership and scope access.",
      "id": "DomainProperty",
      "properties": {
        "url": {
          "description": "Required. The URL of the domain property (e.g., \"https://example.com\").",
          "type": "string"
        },
        "ownershipVerified": {
          "description": "Output only. Whether the domain ownership has been verified (e.g., via Google Search Console).",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RrmProduct": {
      "type": "object",
      "id": "RrmProduct",
      "description": "Configuration and status of the Reader Revenue Manager (RRM) product for a publication.",
      "properties": {
        "productTosUrl": {
          "readOnly": true,
          "description": "Output only. The URL to the product-specific Terms of Service.",
          "type": "string"
        },
        "enabled": {
          "description": "Optional. Whether the RRM product is enabled for the publication.",
          "type": "boolean"
        },
        "tosAcceptance": {
          "$ref": "TosAcceptance",
          "description": "Optional. The details of the TOS acceptance."
        }
      }
    }
  },
  "id": "webcontentpublisher:v1",
  "version": "v1",
  "rootUrl": "https://webcontentpublisher.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system": {
          "description": "Private Service: https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
        }
      }
    }
  },
  "name": "webcontentpublisher",
  "basePath": "",
  "baseUrl": "https://webcontentpublisher.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260925",
  "resources": {
    "users": {
      "methods": {
        "generatePlatformSiteTokens": {
          "path": "v1/{+name}:generatePlatformSiteTokens",
          "response": {
            "$ref": "GeneratePlatformSiteTokensResponse"
          },
          "description": "Returns user tokens mapped to their canonical domains for all publications the authenticated user is entitled to.",
          "request": {
            "$ref": "GeneratePlatformSiteTokensRequest"
          },
          "id": "webcontentpublisher.users.generatePlatformSiteTokens",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^users/[^/]+$",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the user to generate tokens for. Format: users/{user}"
            }
          },
          "httpMethod": "POST",
          "flatPath": "v1/users/{usersId}:generatePlatformSiteTokens",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "organizations": {
      "resources": {
        "publications": {
          "resources": {
            "ctas": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}/ctas",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/ctas",
                  "description": "Lists CTAs.",
                  "scopes": [
                    "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent publication resource whose CTAs to list. Format: `organizations/{organization}/publications/{publication}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/publications/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of CTAs to return. The service may return fewer than this value. If unspecified, at most 50 CTAs will be returned.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListCtas` call, to retrieve the next page.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListCtasResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "webcontentpublisher.organizations.publications.ctas.list"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}/ctas",
                  "path": "v1/{+parent}/ctas",
                  "description": "Creates a CTA.",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/publications/[^/]+$",
                      "description": "Required. The parent publication resource where this CTA will be created. Format: `organizations/{organization}/publications/{publication}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "ctaId": {
                      "location": "query",
                      "description": "Optional. The unique identifier of the CTA to create. If not specified, the server will generate a random CTA ID.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Cta"
                  },
                  "request": {
                    "$ref": "Cta"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
                  ],
                  "id": "webcontentpublisher.organizations.publications.ctas.create"
                },
                "get": {
                  "id": "webcontentpublisher.organizations.publications.ctas.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a CTA.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Cta"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}/ctas/{ctasId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the CTA to retrieve. Format: `organizations/{organization}/publications/{publication}/ctas/{cta}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/publications/[^/]+/ctas/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "patch": {
                  "description": "Updates a CTA.",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Identifier. The resource name of the Cta. Format: organizations/{organization}/publications/{publication}/ctas/{cta}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/publications/[^/]+/ctas/[^/]+$",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}/ctas/{ctasId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Cta"
                  },
                  "id": "webcontentpublisher.organizations.publications.ctas.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Cta"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "response": {
                "$ref": "Publication"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Publication"
              },
              "description": "Creates a publication.",
              "parameters": {
                "publicationId": {
                  "description": "Optional. The unique identifier of the publication to create. If not specified, the server will generate a random publication ID.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource where this publication will be created. Format: `organizations/{organization}`."
                }
              },
              "path": "v1/{+parent}/publications",
              "scopes": [
                "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
              ],
              "id": "webcontentpublisher.organizations.publications.create",
              "flatPath": "v1/organizations/{organizationsId}/publications",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "id": "webcontentpublisher.organizations.publications.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListPublicationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/publications",
              "path": "v1/{+parent}/publications",
              "description": "Lists publications.",
              "scopes": [
                "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. The maximum number of publications to return. The service may return fewer than this value. If unspecified, at most 50 publications will be returned."
                },
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent organization whose publications to list, or \"organizations/-\" for all organizations a user has access to. Format: `organizations/{organization}`.",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "Optional. A filter expression to filter the publications returned.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPublications` call, to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}",
              "description": "Gets a publication.",
              "id": "webcontentpublisher.organizations.publications.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/publications/[^/]+$",
                  "description": "Required. The resource name of the publication to retrieve. Format: `organizations/{organization}/publications/{publication}`.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
              ],
              "response": {
                "$ref": "Publication"
              }
            },
            "patch": {
              "response": {
                "$ref": "Publication"
              },
              "description": "Updates a publication.",
              "httpMethod": "PATCH",
              "id": "webcontentpublisher.organizations.publications.patch",
              "scopes": [
                "https://www.googleapis.com/auth/webcontentpublisher.publications.manage.system"
              ],
              "path": "v1/{+name}",
              "request": {
                "$ref": "Publication"
              },
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "description": "Identifier. The resource name of the publication. Format: organizations/{organization}/publications/{publication}",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/publications/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/publications/{publicationsId}"
            }
          }
        }
      }
    },
    "publications": {
      "methods": {
        "checkFreeAccess": {
          "parameters": {
            "uri": {
              "location": "query",
              "type": "string",
              "description": "Required. The URI of the content."
            },
            "name": {
              "description": "Required. The resource name of the publication. Format: publications/{publication_id}",
              "type": "string",
              "pattern": "^publications/[^/]+$",
              "location": "path",
              "required": true
            },
            "httpReferrer": {
              "location": "query",
              "type": "string",
              "description": "Required. The HTTP referrer."
            }
          },
          "response": {
            "$ref": "CheckFreeAccessResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Checks if a user is eligible for free article access.",
          "id": "webcontentpublisher.publications.checkFreeAccess",
          "httpMethod": "GET",
          "flatPath": "v1/publications/{publicationsId}:checkFreeAccess",
          "path": "v1/{+name}:checkFreeAccess"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/news/subscribe",
  "title": "Web Content Publisher API",
  "kind": "discovery#restDescription",
  "canonicalName": "Web Content Publisher"
}