{
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "webfonts",
  "baseUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260617",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "schemas": {
    "Tag": {
      "description": "Metadata for a tag.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Tag"
    },
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        }
      }
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "properties": {
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        }
      },
      "id": "Axis",
      "type": "object"
    },
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "title": "Web Fonts Developer API",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "httpMethod": "GET",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "parameters": {
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "subset": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "type": "string"
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string"
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "path": "v1/webfonts",
          "id": "webfonts.webfonts.list"
        }
      }
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "canonicalName": "Webfonts",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "id": "webfonts:v1",
  "protocol": "rest"
}