{
  "rootUrl": "https://webfonts.googleapis.com/",
  "id": "webfonts:v1",
  "ownerName": "Google",
  "baseUrl": "https://webfonts.googleapis.com/",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      }
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Webfont": {
      "type": "object",
      "properties": {
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scripts supported by the font."
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The tags that apply to this family."
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Webfont",
      "description": "Metadata describing a family of fonts."
    },
    "Tag": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "type": "number",
          "format": "float",
          "description": "The weight of the tag."
        }
      },
      "id": "Tag",
      "description": "Metadata for a tag."
    }
  },
  "canonicalName": "Webfonts",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET",
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts",
          "parameterOrder": [],
          "parameters": {
            "sort": {
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "location": "query",
              "type": "string"
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "title": "Web Fonts Developer API",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "basePath": "",
  "revision": "20260713",
  "discoveryVersion": "v1",
  "name": "webfonts",
  "version": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  }
}