{
  "rootUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "httpMethod": "GET",
          "parameters": {
            "sort": {
              "description": "Enables sorting of the list.",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true,
              "type": "string",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query"
            },
            "subset": {
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "WebfontList"
          },
          "id": "webfonts.webfonts.list"
        }
      }
    }
  },
  "protocol": "rest",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1",
  "title": "Web Fonts Developer API",
  "canonicalName": "Webfonts",
  "name": "webfonts",
  "discoveryVersion": "v1",
  "id": "webfonts:v1",
  "batchPath": "batch",
  "baseUrl": "https://webfonts.googleapis.com/",
  "kind": "discovery#restDescription",
  "schemas": {
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "format": "float",
          "description": "minimum value",
          "type": "number"
        },
        "end": {
          "format": "float",
          "description": "maximum value",
          "type": "number"
        }
      }
    },
    "WebfontList": {
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        }
      },
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object"
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "colorCapabilities": {
          "type": "array",
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "axes": {
          "type": "array",
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          }
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    }
  },
  "revision": "20260713",
  "basePath": "",
  "servicePath": "",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google."
}