{
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "canonicalName": "Webfonts",
  "revision": "20260811",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "webfonts:v1",
  "name": "webfonts",
  "servicePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array"
        }
      }
    },
    "Webfont": {
      "id": "Webfont",
      "properties": {
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object"
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font.",
          "type": "array"
        }
      },
      "description": "Metadata describing a family of fonts.",
      "type": "object"
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "Tag"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "version": "v1",
  "title": "Web Fonts Developer API",
  "rootUrl": "https://webfonts.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "parameters": {
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "subset": {
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string"
            },
            "category": {
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string"
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "basePath": ""
}