{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Webfont": {
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font.",
          "type": "array"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        }
      },
      "id": "Webfont"
    },
    "Axis": {
      "type": "object",
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "properties": {
        "start": {
          "description": "minimum value",
          "format": "float",
          "type": "number"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Metadata for a tag.",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "id": "Tag"
    }
  },
  "revision": "20260715",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "discoveryVersion": "v1",
  "rootUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "basePath": "",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "baseUrl": "https://webfonts.googleapis.com/",
  "version": "v1",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameters": {
            "capability": {
              "location": "query",
              "repeated": true,
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sort": {
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string"
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "flatPath": "v1/webfonts"
        }
      }
    }
  },
  "title": "Web Fonts Developer API",
  "ownerDomain": "google.com",
  "name": "webfonts",
  "protocol": "rest",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "id": "webfonts:v1"
}