{
  "name": "webfonts",
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "protocol": "rest",
  "version": "v1",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "rootUrl": "https://webfonts.googleapis.com/",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "servicePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "id": "webfonts.webfonts.list",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "parameters": {
            "sort": {
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "capability": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "title": "Web Fonts Developer API",
  "id": "webfonts:v1",
  "canonicalName": "Webfonts",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          }
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object"
    },
    "Webfont": {
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont",
      "properties": {
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family.",
          "type": "array"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      }
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "id": "Axis",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "end": {
          "type": "number",
          "format": "float",
          "description": "maximum value"
        }
      },
      "type": "object"
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "type": "number",
          "format": "float",
          "description": "The weight of the tag."
        }
      },
      "description": "Metadata for a tag.",
      "type": "object"
    }
  },
  "revision": "20260715"
}