{
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "servicePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "protocol": "rest",
  "id": "webfonts:v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "canonicalName": "Webfonts",
  "batchPath": "batch",
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "subsets": {
          "description": "The scripts supported by the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family."
        }
      }
    },
    "Axis": {
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "format": "float",
          "type": "number",
          "description": "minimum value"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata for a variable font axis.",
      "id": "Axis",
      "type": "object"
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "id": "Tag",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "format": "float",
          "type": "number",
          "description": "The weight of the tag."
        }
      }
    },
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      }
    }
  },
  "name": "webfonts",
  "revision": "20260805",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "title": "Web Fonts Developer API",
  "basePath": "",
  "version": "v1",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "WebfontList"
          },
          "id": "webfonts.webfonts.list",
          "flatPath": "v1/webfonts",
          "parameterOrder": [],
          "path": "v1/webfonts",
          "parameters": {
            "sort": {
              "description": "Enables sorting of the list.",
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "family": {
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            },
            "subset": {
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query"
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  }
}