{
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "webfonts:v1",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "batchPath": "batch",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "revision": "20260610",
  "version": "v1",
  "title": "Web Fonts Developer API",
  "baseUrl": "https://webfonts.googleapis.com/",
  "basePath": "",
  "discoveryVersion": "v1",
  "name": "webfonts",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts",
          "parameters": {
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "repeated": true
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            },
            "family": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameterOrder": []
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "canonicalName": "Webfonts",
  "kind": "discovery#restDescription",
  "schemas": {
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "type": "number",
          "format": "float",
          "description": "The weight of the tag."
        }
      }
    },
    "WebfontList": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList"
    },
    "Webfont": {
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "colorCapabilities": {
          "type": "array",
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "type": "array",
          "description": "Axis for variable fonts."
        }
      }
    },
    "Axis": {
      "id": "Axis",
      "type": "object",
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata for a variable font axis."
    }
  },
  "rootUrl": "https://webfonts.googleapis.com/"
}