{
  "basePath": "",
  "revision": "20260902",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "WebfontList"
          },
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "parameters": {
            "sort": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            },
            "category": {
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query"
            },
            "subset": {
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "repeated": true
            },
            "family": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Webfonts",
  "version": "v1",
  "servicePath": "",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "schemas": {
    "Webfont": {
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "id": "Webfont",
      "properties": {
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scripts supported by the font."
        },
        "variants": {
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "type": "number",
          "description": "The weight of the tag.",
          "format": "float"
        }
      },
      "type": "object",
      "description": "Metadata for a tag."
    },
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array"
        }
      }
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "description": "maximum value",
          "format": "float",
          "type": "number"
        },
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        }
      },
      "id": "Axis"
    }
  },
  "title": "Web Fonts Developer API",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "webfonts:v1",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "ownerName": "Google",
  "rootUrl": "https://webfonts.googleapis.com/",
  "name": "webfonts",
  "protocol": "rest",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    }
  },
  "baseUrl": "https://webfonts.googleapis.com/"
}