{
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "revision": "20260729",
  "schemas": {
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "properties": {
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "end": {
          "format": "float",
          "type": "number",
          "description": "maximum value"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "description": "Metadata for a tag.",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      }
    },
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "axes": {
          "type": "array",
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          }
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        }
      }
    },
    "WebfontList": {
      "type": "object",
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      }
    }
  },
  "name": "webfonts",
  "version": "v1",
  "batchPath": "batch",
  "protocol": "rest",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "webfonts.webfonts.list",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "capability": {
              "location": "query",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true,
              "type": "string"
            },
            "subset": {
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string"
            },
            "category": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "location": "query",
              "description": "Enables sorting of the list."
            },
            "family": {
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Webfonts",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Web Fonts Developer API",
  "rootUrl": "https://webfonts.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "id": "webfonts:v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://webfonts.googleapis.com/"
}