{
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "rootUrl": "https://webfonts.googleapis.com/",
  "ownerName": "Google",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "schemas": {
    "Tag": {
      "type": "object",
      "properties": {
        "weight": {
          "type": "number",
          "description": "The weight of the tag.",
          "format": "float"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "id": "Tag",
      "description": "Metadata for a tag."
    },
    "WebfontList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList",
      "type": "object"
    },
    "Webfont": {
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The color format(s) available for this family."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        }
      },
      "id": "Webfont",
      "type": "object"
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "start": {
          "description": "minimum value",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object",
      "id": "Axis"
    }
  },
  "revision": "20260902",
  "title": "Web Fonts Developer API",
  "id": "webfonts:v1",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "webfonts",
  "ownerDomain": "google.com",
  "baseUrl": "https://webfonts.googleapis.com/",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameterOrder": [],
          "id": "webfonts.webfonts.list",
          "response": {
            "$ref": "WebfontList"
          },
          "httpMethod": "GET",
          "parameters": {
            "subset": {
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string"
            },
            "category": {
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string"
            },
            "family": {
              "repeated": true,
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string"
            },
            "sort": {
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "description": "Enables sorting of the list."
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            }
          },
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts"
        }
      }
    }
  },
  "basePath": "",
  "version": "v1",
  "servicePath": "",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "kind": "discovery#restDescription"
}