{
  "canonicalName": "Webfonts",
  "title": "Web Fonts Developer API",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "httpMethod": "GET",
          "parameters": {
            "sort": {
              "type": "string",
              "location": "query",
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "capability": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true,
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "parameterOrder": [],
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "protocol": "rest",
  "rootUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "version": "v1",
  "id": "webfonts:v1",
  "schemas": {
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "id": "Axis",
      "type": "object",
      "properties": {
        "start": {
          "format": "float",
          "type": "number",
          "description": "minimum value"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        }
      },
      "description": "Metadata for a tag."
    },
    "WebfontList": {
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      }
    },
    "Webfont": {
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont",
      "type": "object",
      "properties": {
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "colorCapabilities": {
          "type": "array",
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        }
      }
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://webfonts.googleapis.com/",
  "name": "webfonts",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260701",
  "servicePath": ""
}