{
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "name": "webfonts",
  "baseUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "version": "v1",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "title": "Web Fonts Developer API",
  "ownerDomain": "google.com",
  "rootUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260903",
  "ownerName": "Google",
  "servicePath": "",
  "schemas": {
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "properties": {
        "variants": {
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The scripts supported by the font."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Metadata describing a family of fonts."
    },
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Webfont"
          },
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        }
      }
    },
    "Tag": {
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      },
      "description": "Metadata for a tag.",
      "id": "Tag",
      "type": "object"
    },
    "Axis": {
      "id": "Axis",
      "type": "object",
      "properties": {
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "format": "float",
          "type": "number",
          "description": "maximum value"
        }
      },
      "description": "Metadata for a variable font axis."
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "id": "webfonts:v1",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "httpMethod": "GET",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "flatPath": "v1/webfonts",
          "parameters": {
            "family": {
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string",
              "repeated": true
            },
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "type": "string",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list.",
              "location": "query"
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string",
              "location": "query"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ]
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            }
          }
        }
      }
    }
  }
}