{
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "name": "webfonts",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "basePath": "",
  "canonicalName": "Webfonts",
  "ownerName": "Google",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "path": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "type": "string",
              "description": "Enables sorting of the list.",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "location": "query",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string"
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            }
          },
          "parameterOrder": []
        }
      }
    }
  },
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family."
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The color format(s) available for this family."
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "lastModified": {
          "type": "string",
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time."
        }
      },
      "description": "Metadata describing a family of fonts."
    },
    "Axis": {
      "properties": {
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        }
      },
      "id": "Axis",
      "type": "object",
      "description": "Metadata for a variable font axis."
    },
    "Tag": {
      "id": "Tag",
      "type": "object",
      "properties": {
        "weight": {
          "type": "number",
          "format": "float",
          "description": "The weight of the tag."
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "description": "Metadata for a tag."
    },
    "WebfontList": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      },
      "id": "WebfontList",
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    }
  },
  "version": "v1",
  "title": "Web Fonts Developer API",
  "revision": "20260617",
  "baseUrl": "https://webfonts.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "webfonts:v1",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/"
}