{
  "rootUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "type": "string",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "subset": {
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "sort": {
              "type": "string",
              "description": "Enables sorting of the list.",
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts",
          "httpMethod": "GET",
          "response": {
            "$ref": "WebfontList"
          }
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "properties": {
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family.",
          "type": "array"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font.",
          "type": "array"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font.",
          "type": "array"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "axes": {
          "type": "array",
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          }
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "version": {
          "type": "string",
          "description": "The font version."
        }
      }
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "format": "float",
          "type": "number",
          "description": "The weight of the tag."
        }
      }
    },
    "WebfontList": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    }
  },
  "revision": "20260715",
  "id": "webfonts:v1",
  "title": "Web Fonts Developer API",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "webfonts",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "basePath": "",
  "ownerName": "Google",
  "baseUrl": "https://webfonts.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/"
}