{
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "baseUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "id": "webfonts:v1",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://webfonts.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "basePath": "",
  "title": "Web Fonts Developer API",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "parameters": {
            "family": {
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string",
              "location": "query"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent."
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            },
            "sort": {
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string"
            }
          },
          "id": "webfonts.webfonts.list",
          "flatPath": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameterOrder": []
        }
      }
    }
  },
  "canonicalName": "Webfonts",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "schemas": {
    "Tag": {
      "type": "object",
      "description": "Metadata for a tag.",
      "id": "Tag",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "Webfont": {
      "properties": {
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "type": "array",
          "description": "Axis for variable fonts."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "colorCapabilities": {
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family.",
          "type": "array"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "version": {
          "type": "string",
          "description": "The font version."
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont"
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "properties": {
        "tag": {
          "type": "string",
          "description": "tag name."
        },
        "start": {
          "description": "minimum value",
          "format": "float",
          "type": "number"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      },
      "type": "object",
      "id": "Axis"
    },
    "WebfontList": {
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      },
      "type": "object"
    }
  },
  "revision": "20260903",
  "name": "webfonts",
  "version": "v1",
  "protocol": "rest"
}