{
  "ownerName": "Google",
  "schemas": {
    "WebfontList": {
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "id": "WebfontList",
      "type": "object"
    },
    "Webfont": {
      "id": "Webfont",
      "type": "object",
      "properties": {
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        }
      },
      "description": "Metadata describing a family of fonts."
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      },
      "id": "Axis",
      "type": "object"
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "properties": {
        "weight": {
          "type": "number",
          "description": "The weight of the tag.",
          "format": "float"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "id": "Tag",
      "type": "object"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "webfonts",
  "discoveryVersion": "v1",
  "revision": "20260811",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "servicePath": "",
  "version": "v1",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "parameterOrder": [],
          "httpMethod": "GET",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "path": "v1/webfonts",
          "parameters": {
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "location": "query",
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "family": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families"
            },
            "capability": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "WebfontList"
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "basePath": "",
  "title": "Web Fonts Developer API",
  "baseUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "rootUrl": "https://webfonts.googleapis.com/",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "batchPath": "batch",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "id": "webfonts:v1"
}