{
  "version": "v1alpha",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "name": "websecurityscanner",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "canonicalName": "WebSecurityScanner",
  "ownerDomain": "google.com",
  "servicePath": "",
  "ownerName": "Google",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "websecurityscanner:v1alpha",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "schemas": {
    "OutdatedLibrary": {
      "type": "object",
      "id": "OutdatedLibrary",
      "properties": {
        "libraryName": {
          "type": "string",
          "description": "The name of the outdated library."
        },
        "version": {
          "description": "The version number.",
          "type": "string"
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Information reported for an outdated library."
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "scanConfigs": {
          "items": {
            "$ref": "ScanConfig"
          },
          "type": "array",
          "description": "The list of ScanConfigs returned."
        }
      },
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object"
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        },
        "fuzzedUrl": {
          "type": "string",
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system."
        },
        "frameUrl": {
          "type": "string",
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported."
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        },
        "findingType": {
          "description": "The type of the Finding.",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ]
        },
        "reproductionUrl": {
          "type": "string",
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability."
        },
        "body": {
          "type": "string",
          "description": "The body of the request that triggered the vulnerability."
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        }
      },
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "ListScanRunsResponse": {
      "id": "ListScanRunsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scanRuns": {
          "description": "The list of ScanRuns returned.",
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          }
        }
      },
      "description": "Response for the `ListScanRuns` method.",
      "type": "object"
    },
    "StopScanRunRequest": {
      "type": "object",
      "id": "StopScanRunRequest",
      "properties": {},
      "description": "Request for the `StopScanRun` method."
    },
    "VulnerableParameters": {
      "type": "object",
      "id": "VulnerableParameters",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Information about vulnerable request parameters."
    },
    "ScanConfig": {
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
      "id": "ScanConfig",
      "properties": {
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "blacklistPatterns": {
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startingUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The starting URLs from which the scanner finds site pages."
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
          "type": "string"
        },
        "targetPlatforms": {
          "type": "array",
          "items": {
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ]
          },
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "userAgent": {
          "type": "string",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "description": "The user agent used during scanning.",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ]
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "maxQps": {
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "type": "integer",
          "format": "int32"
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        }
      },
      "type": "object"
    },
    "ListFindingTypeStatsResponse": {
      "type": "object",
      "description": "Response for the `ListFindingTypeStats` method.",
      "id": "ListFindingTypeStatsResponse",
      "properties": {
        "findingTypeStats": {
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned."
        }
      }
    },
    "ViolatingResource": {
      "type": "object",
      "id": "ViolatingResource",
      "properties": {
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The MIME type of this resource."
        }
      },
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
    },
    "Authentication": {
      "type": "object",
      "id": "Authentication",
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        }
      },
      "description": "Scan authentication configuration."
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "properties": {},
      "description": "Request for the `StartScanRun` method.",
      "type": "object"
    },
    "FindingTypeStats": {
      "id": "FindingTypeStats",
      "properties": {
        "findingType": {
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "description": "The finding type associated with the stats.",
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ]
        },
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "type": "object"
    },
    "CrawledUrl": {
      "id": "CrawledUrl",
      "properties": {
        "body": {
          "description": "Output only. The body of the request that was used to visit the URL.",
          "type": "string"
        },
        "httpMethod": {
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        }
      },
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "type": "object"
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        },
        "loginUrl": {
          "type": "string",
          "description": "Required. The login form URL of the website."
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        }
      },
      "description": "Describes authentication configuration that uses a custom account.",
      "type": "object"
    },
    "GoogleAccount": {
      "id": "GoogleAccount",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The user name of the Google account."
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        }
      },
      "description": "Describes authentication configuration that uses a Google account.",
      "type": "object"
    },
    "Header": {
      "type": "object",
      "description": "Describes a HTTP Header.",
      "id": "Header",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "Schedule": {
      "description": "Scan schedule configuration.",
      "id": "Schedule",
      "properties": {
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "ScanRun": {
      "id": "ScanRun",
      "properties": {
        "executionState": {
          "description": "The execution state of the ScanRun.",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ]
        },
        "urlsTestedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads."
        },
        "progressPercent": {
          "type": "integer",
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user."
        },
        "startTime": {
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime",
          "type": "string"
        },
        "resultState": {
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ]
        },
        "hasVulnerabilities": {
          "type": "boolean",
          "description": "Whether the scan run has found any vulnerabilities."
        },
        "urlsCrawledCount": {
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "type": "object"
    },
    "ListCrawledUrlsResponse": {
      "type": "object",
      "id": "ListCrawledUrlsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "crawledUrls": {
          "type": "array",
          "items": {
            "$ref": "CrawledUrl"
          },
          "description": "The list of CrawledUrls returned."
        }
      },
      "description": "Response for the `ListCrawledUrls` method."
    },
    "Xss": {
      "type": "object",
      "description": "Information reported for an XSS.",
      "id": "Xss",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "An error message generated by a javascript breakage."
        },
        "stackTraces": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Stack traces leading to the point where the XSS occurred."
        }
      }
    },
    "VulnerableHeaders": {
      "id": "VulnerableHeaders",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "items": {
            "$ref": "Header"
          },
          "type": "array"
        },
        "missingHeaders": {
          "description": "List of missing headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        }
      },
      "description": "Information about vulnerable or missing HTTP Headers.",
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "The list of Findings returned."
        }
      },
      "description": "Response for the `ListFindings` method.",
      "type": "object"
    }
  },
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "revision": "20260712",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "start": {
              "id": "websecurityscanner.projects.scanConfigs.start",
              "path": "v1alpha/{+name}:start",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ScanRun"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Start a ScanRun according to the given ScanConfig."
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                }
              }
            },
            "create": {
              "description": "Creates a new ScanConfig.",
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "id": "websecurityscanner.projects.scanConfigs.create",
              "path": "v1alpha/{+parent}/scanConfigs",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs"
            },
            "delete": {
              "description": "Deletes an existing ScanConfig and its child resources.",
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}"
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "websecurityscanner.projects.scanConfigs.list",
              "path": "v1alpha/{+parent}/scanConfigs",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "description": "Lists ScanConfigs under a given project.",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "list": {
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "path": "v1alpha/{+parent}/scanRuns",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "type": "string"
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "httpMethod": "GET",
                  "description": "Gets a ScanRun."
                },
                "stop": {
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "path": "v1alpha/{+name}:stop",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop"
                }
              },
              "resources": {
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "description": "List CrawledUrls under a given ScanRun.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Finding"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Gets a Finding.",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}"
                    },
                    "list": {
                      "description": "List Findings under a given ScanRun.",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "path": "v1alpha/{+parent}/findings",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings"
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "title": "Web Security Scanner API"
}