{
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "protocol": "rest",
  "version_module": true,
  "title": "Workload Manager API",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "name": "workloadmanager",
  "canonicalName": "Workload Manager",
  "schemas": {
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "properties": {
        "abap": {
          "deprecated": true,
          "type": "boolean",
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java."
        },
        "ascsInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ASCS instance."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "applicationType": {
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        }
      },
      "type": "object",
      "description": "A set of properties describing an SAP Application layer."
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SqlServer validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        }
      },
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Instance name of the SAP application instance."
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "description": "Fields to describe an SAP application server instance.",
      "type": "object"
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "properties": {
        "networkProject": {
          "type": "string",
          "description": "Optional. Network project."
        },
        "zone2Name": {
          "type": "string",
          "description": "Optional. Zone 2 name."
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. Zone 1 name."
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. DNS zone name suffix."
        },
        "internetAccess": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "customTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Network tags."
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        }
      },
      "description": "Message for SAP instance details.",
      "type": "object"
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      },
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource."
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "properties": {
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "checkTime": {
          "format": "google-datetime",
          "description": "The time when the health check was performed.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. The health state of the workload.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        }
      },
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "type": "object",
      "description": "Disk mount on the instance.",
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        },
        "diskNames": {
          "type": "array",
          "description": "Optional. Names of the disks providing this mount point.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        }
      },
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "deployments": {
          "type": "array",
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      },
      "description": "Message for response to listing deployments.",
      "type": "object"
    },
    "TorsoValidation": {
      "type": "object",
      "description": "The schema of torso workload validation data.",
      "id": "TorsoValidation",
      "properties": {
        "validationDetails": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        },
        "projectId": {
          "type": "string",
          "description": "Required. project_id lists the human readable cloud project that the data comes from."
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload."
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "properties": {
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary",
          "readOnly": true
        },
        "runType": {
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. [Output only] State.",
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "readOnly": true
        },
        "evaluationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "ruleResults": {
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "type": "array"
        },
        "externalDataSources": {
          "items": {
            "$ref": "ExternalDataSources"
          },
          "type": "array",
          "description": "Optional. External data sources."
        },
        "inventoryTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Inventory time stamp."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notices": {
          "readOnly": true,
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "type": "array"
        },
        "engine": {
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "description": "Optional. Engine."
        }
      },
      "type": "object",
      "description": "Execution that represents a single run of an Evaluation."
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "type": "object",
      "id": "RuleExecutionResult",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The execution status.",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ]
        },
        "scannedResourceCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of total scanned resources."
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Execution message, if any."
        },
        "resultCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of violations."
        }
      }
    },
    "ScannedResource": {
      "description": "A scanned resource.",
      "type": "object",
      "id": "ScannedResource",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "properties": {
        "fields": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Collected data is in format.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Message containing collected data names and values."
    },
    "AppDetails": {
      "type": "object",
      "description": "Message for SAP instance details.",
      "id": "AppDetails",
      "properties": {
        "sid": {
          "type": "string",
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code."
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ASCS."
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "appServiceAccount": {
          "type": "string",
          "description": "Application service account. Let customers bring their own service account for the application."
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ASCS machine type."
        },
        "image": {
          "type": "string",
          "description": "Required. Image for the app server and ASCS server."
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account. Let customers bring their own service account for ASCS."
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "ersInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ERS."
        },
        "vmsMultiplier": {
          "format": "int32",
          "type": "integer",
          "description": "Required. VMs multiplier."
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "sharedStorage": {
          "type": "string",
          "description": "Optional. Storage location."
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "appVmNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Customized VM names."
        },
        "ascsImage": {
          "type": "string",
          "description": "Required. Image for the ASCS server."
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "properties": {
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ]
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "commands": {
          "type": "array",
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          }
        },
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        }
      },
      "description": "The result of an execution.",
      "type": "object"
    },
    "Command": {
      "id": "Command",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        }
      },
      "type": "object",
      "description": "Command specifies the type of command to execute."
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "type": "object",
      "id": "SapDiscoveryComponent",
      "properties": {
        "resources": {
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "description": "Optional. The resources in a component.",
          "type": "array"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          }
        },
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array"
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        }
      }
    },
    "IAMPermission": {
      "description": "The IAM permission status.",
      "type": "object",
      "id": "IAMPermission",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "readOnly": true,
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean"
        }
      }
    },
    "ExternalDataSources": {
      "type": "object",
      "description": "External data sources for an execution.",
      "id": "ExternalDataSources",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data."
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ]
        },
        "uri": {
          "type": "string",
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}."
        },
        "assetType": {
          "type": "string",
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user."
        }
      }
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the configuration value.",
          "readOnly": true
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the configuration value.",
          "readOnly": true
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "The configuration value."
    },
    "DeploymentOutput": {
      "id": "DeploymentOutput",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the resource."
        },
        "type": {
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "description": "Message for output of deployment resource.",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "type": "object",
      "id": "ListExecutionsResponse",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "The list of Execution."
        }
      }
    },
    "ListExecutionResultsResponse": {
      "type": "object",
      "description": "Response message for the ListExecutionResults RPC.",
      "id": "ListExecutionResultsResponse",
      "properties": {
        "executionResults": {
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      },
      "description": "Response message for the ListRules RPC.",
      "type": "object"
    },
    "Deployment": {
      "id": "Deployment",
      "properties": {
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Update time stamp.",
          "type": "string"
        },
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "name": {
          "type": "string",
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'."
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "description": "Optional. Workload type of the deployment.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ]
        },
        "sapSystemS4Config": {
          "$ref": "SapSystemS4Config",
          "description": "SAP system workload input."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "serviceAccount": {
          "type": "string",
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time stamp."
        },
        "terraformVariables": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object",
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        }
      },
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "properties": {
        "scannedResources": {
          "description": "All scanned resources in response.",
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the ListScannedResources RPC."
    },
    "UpcomingMaintenanceEvent": {
      "id": "UpcomingMaintenanceEvent",
      "properties": {
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. End time",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        }
      },
      "description": "Maintenance Event",
      "type": "object"
    },
    "ServiceStates": {
      "type": "object",
      "description": "The state of the service.",
      "id": "ServiceStates",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "readOnly": true,
          "description": "Output only. The overall state of the service.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "type": "array",
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "properties": {
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        },
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "BigQuery destination for evaluation results."
    },
    "Database": {
      "type": "object",
      "description": "Database details.",
      "id": "Database",
      "properties": {
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "tempdbOnSsd": {
          "type": "boolean",
          "description": "Required. Whether to have TempDB on local SSD."
        },
        "floatingIpAddress": {
          "description": "Optional. Only useful for Linux High Availability setup.",
          "type": "string"
        },
        "tenancyModel": {
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "type": "string",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT."
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        },
        "soleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        }
      }
    },
    "GceInstanceFilter": {
      "description": "A filter for matching Compute Engine instances.",
      "type": "object",
      "id": "GceInstanceFilter",
      "properties": {
        "serviceAccounts": {
          "items": {
            "type": "string"
          },
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array"
        }
      }
    },
    "RunEvaluationRequest": {
      "description": "Request message for the RunEvaluation RPC.",
      "type": "object",
      "id": "RunEvaluationRequest",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. Instance ID."
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "sid": {
          "type": "string",
          "description": "Required. The SID is a three-digit server-specific unique identification code."
        }
      },
      "description": "Message for SAP instance details.",
      "type": "object"
    },
    "ShellCommand": {
      "id": "ShellCommand",
      "properties": {
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      },
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "unspecifiedStateMessage": {
          "readOnly": true,
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string"
        },
        "fullyFunctional": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. Whether the service is fully functional (all checks passed)."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the service.",
          "type": "string"
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "configValues": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "properties": {
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "type": "array",
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          }
        },
        "componentHealthType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "type": "string",
          "description": "Output only. The type of the component health.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ]
        }
      },
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component."
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "properties": {
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. Pacemaker cluster name."
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "type": "string",
          "description": "Required. Pacemaker cluster username."
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        }
      },
      "description": "Pacemaker configuration.",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "description": "A product name and version.",
      "type": "object",
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      }
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object",
      "id": "SqlLocationDetails",
      "properties": {
        "region": {
          "type": "string",
          "description": "Required. Region name."
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name."
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode."
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "primaryZone": {
          "type": "string",
          "description": "Required. Primary zone."
        },
        "internetAccess": {
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "description": "Required. Internet Access."
        },
        "tertiaryZone": {
          "type": "string",
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode."
        }
      }
    },
    "AgentStates": {
      "description": "Agent status.",
      "type": "object",
      "id": "AgentStates",
      "properties": {
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "type": "string",
          "description": "Optional. The installed version of the agent on the host."
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        },
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        }
      }
    },
    "AgentStatusReference": {
      "type": "object",
      "description": "The reference to public documentation.",
      "id": "AgentStatusReference",
      "properties": {
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the reference.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the reference.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "type": "object",
      "description": "A SAP software component name, version, and type.",
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "properties": {
        "extVersion": {
          "type": "string",
          "description": "Optional. The component's minor version."
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. The component's major version."
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "properties": {
        "type": {
          "description": "Required. Active Directory type.",
          "type": "string",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ]
        },
        "domain": {
          "type": "string",
          "description": "Optional. Human readable form of a domain such as `example.com`."
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        }
      },
      "type": "object",
      "description": "Active Directory details."
    },
    "Summary": {
      "description": "Execution summary.",
      "type": "object",
      "id": "Summary",
      "properties": {
        "newFailures": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of new failures compared to the previous execution.",
          "type": "string"
        },
        "failures": {
          "type": "string",
          "description": "Output only. Number of failures.",
          "readOnly": true,
          "format": "int64"
        },
        "newFixes": {
          "type": "string",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "properties": {
        "workloadProfiles": {
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          },
          "type": "array",
          "description": "Output only. The list of workload profiles"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "List discovered profile Response returns discovered profiles from agents"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "type": "object",
      "id": "Product",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "SapWorkload": {
      "description": "The body of sap workload",
      "type": "object",
      "id": "SapWorkload",
      "properties": {
        "application": {
          "readOnly": true,
          "description": "Output only. application component",
          "$ref": "SapComponent"
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The metadata for SAP workload.",
          "type": "object"
        },
        "products": {
          "readOnly": true,
          "items": {
            "$ref": "Product"
          },
          "description": "Output only. The products on this workload.",
          "type": "array"
        },
        "database": {
          "$ref": "SapComponent",
          "description": "Output only. database component",
          "readOnly": true
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "type": "string",
          "description": "Output only. The architecture.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ]
        }
      }
    },
    "CloudResource": {
      "id": "CloudResource",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "readOnly": true,
          "description": "Output only. ",
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "instanceProperties": {
          "readOnly": true,
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
        }
      },
      "description": "The resource on GCP",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "properties": {
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for the ListEvaluations RPC.",
      "type": "object"
    },
    "AgentCommand": {
      "id": "AgentCommand",
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings."
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      },
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "type": "object"
    },
    "Evaluation": {
      "id": "Evaluation",
      "properties": {
        "ruleNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The names of the rules used for this evaluation."
        },
        "resourceStatus": {
          "readOnly": true,
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "$ref": "ResourceStatus"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the Evaluation."
        },
        "customRulesBucket": {
          "type": "string",
          "description": "The Cloud Storage bucket name for custom rules."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "evaluationType": {
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource."
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create time stamp."
        }
      },
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object"
    },
    "Notice": {
      "description": "Additional information generated by an execution.",
      "type": "object",
      "id": "Notice",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "type": "object",
      "id": "Rule",
      "properties": {
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "secondaryCategory": {
          "type": "string",
          "description": "The secondary category."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of user-defined tags."
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the rule."
        },
        "primaryCategory": {
          "type": "string",
          "description": "The primary category."
        },
        "ruleType": {
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ]
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "SapValidation": {
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "id": "SapValidation",
      "properties": {
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "ResourceFilter": {
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter",
      "properties": {
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        },
        "inclusionLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object"
        },
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID."
        }
      }
    },
    "AgentStatus": {
      "type": "object",
      "description": "The schema of agent status data.",
      "id": "AgentStatus",
      "properties": {
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "instanceUri": {
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true
        },
        "installedVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed version of the agent on the host."
        },
        "configurationValid": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true
        },
        "cloudApiAccessFullScopesGranted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. Whether the agent has full access to Cloud APIs."
        },
        "agentName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the agent."
        },
        "availableVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The available version of the agent in artifact registry."
        },
        "configurationFilePath": {
          "readOnly": true,
          "description": "Output only. The path to the agent configuration file.",
          "type": "string"
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "kernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Output only. The kernel version of the system.",
          "readOnly": true
        },
        "configurationErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid."
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "references": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          },
          "description": "Output only. Optional references to public documentation.",
          "type": "array"
        }
      }
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "type": "object",
      "id": "HealthCheck",
      "properties": {
        "message": {
          "description": "Output only. The message of the health check.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "type": "string",
          "description": "Output only. The state of the health check."
        },
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource",
          "readOnly": true
        },
        "metric": {
          "readOnly": true,
          "description": "Output only. The health check source metric name.",
          "type": "string"
        }
      }
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "properties": {},
      "type": "object",
      "description": "The response for write insights request."
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Details of the violation."
        },
        "asset": {
          "type": "string",
          "description": "The name of the asset."
        },
        "ruleOutput": {
          "type": "array",
          "description": "Output only. The rule output of the violation.",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        }
      },
      "type": "object",
      "description": "The violation in an evaluation result."
    },
    "SqlServerWorkload": {
      "type": "object",
      "description": "Message for MS SQL workload.",
      "id": "SqlServerWorkload",
      "properties": {
        "mediaBucket": {
          "type": "string",
          "description": "Required. Name of the media storing SQL server installation files."
        },
        "sqlServerEdition": {
          "type": "string",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ]
        },
        "isSqlPayg": {
          "type": "boolean",
          "description": "Required. SQL licensing type."
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "environmentType": {
          "description": "Required. Deployment environment.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ]
        },
        "operatingSystemType": {
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ]
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "osImageType": {
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ]
        },
        "sqlServerVersion": {
          "description": "Optional. 2017, 2019, or 2022.",
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ]
        },
        "database": {
          "$ref": "Database",
          "description": "Required. Database details."
        },
        "haType": {
          "type": "string",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ]
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. Location details."
        },
        "fciType": {
          "type": "string",
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ]
        },
        "deploymentModel": {
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "activeDirectory": {
          "$ref": "ActiveDirectory",
          "description": "Required. Active Directory details."
        },
        "vmPrefix": {
          "type": "string",
          "description": "Required. Should be unique in the project."
        }
      }
    },
    "InstanceProperties": {
      "description": "Instance Properties.",
      "type": "object",
      "id": "InstanceProperties",
      "properties": {
        "sapInstanceProperties": {
          "$ref": "SapInstanceProperties",
          "description": "Optional. SAP Instance properties."
        },
        "instanceNumber": {
          "type": "string",
          "description": "Optional. Instance number."
        },
        "roles": {
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "type": "string",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          },
          "description": "Optional. Instance roles.",
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "properties": {
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        },
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        }
      },
      "type": "object",
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "Actuation": {
      "id": "Actuation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}."
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "actuationOutput": {
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output.",
          "readOnly": true
        },
        "deploymentOutput": {
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output.",
          "type": "array"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. Start time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "readOnly": true,
          "description": "Output only. Actuation state.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software."
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "type": "object",
      "id": "ActuationOutput",
      "properties": {
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "type": "string",
          "readOnly": true
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation."
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "terraformError": {
          "readOnly": true,
          "description": "Output only. Error message returned from Terraform.",
          "type": "string"
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true
        },
        "ansibleFailedTask": {
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "id": "SapDiscoveryResourceInstanceProperties",
      "properties": {
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "description": "Optional. App server instances on the host",
          "type": "array"
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "diskMounts": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "type": "array",
          "description": "Optional. Disk mounts on the instance."
        },
        "instanceNumber": {
[...]
