{
  "name": "workloadmanager",
  "batchPath": "batch",
  "title": "Workload Manager API",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "Rule": {
      "description": "A rule to be evaluated.",
      "id": "Rule",
      "type": "object",
      "properties": {
        "ruleType": {
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "assetType": {
          "type": "string",
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "readOnly": true,
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "tags": {
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "properties": {
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string",
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        },
        "sharedNfsUri": {
          "type": "string",
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node."
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The version of the database software running in the system."
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        }
      },
      "description": "A set of properties describing an SAP Database layer."
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "type": "object",
      "properties": {
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "sapValidationType": {
          "type": "string",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        },
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message describing the SAP validation metrics."
    },
    "ShellCommand": {
      "id": "ShellCommand",
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      },
      "description": "A ShellCommand is invoked via the agent's command line executor."
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        },
        "workloadProfiles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      },
      "description": "List discovered profile Response returns discovered profiles from agents"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "BigQueryDestination": {
      "description": "BigQuery destination for evaluation results.",
      "id": "BigQueryDestination",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "type": "string",
          "description": "Optional. Destination dataset to save evaluation results."
        },
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object",
      "properties": {
        "clusterInstances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of instance URIs that are part of a cluster with this one."
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "Optional. The VM's instance number."
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "type": "string",
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ]
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "appInstances": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "description": "Optional. App server instances on the host"
        },
        "isDrSite": {
          "type": "boolean",
          "description": "Optional. Instance is part of a DR site."
        }
      }
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "description": "Contains the details of a product."
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "type": "object",
      "properties": {
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "regionName": {
          "type": "string",
          "description": "Required. Region name."
        },
        "customTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Network tags."
        },
        "deploymentDnsEnabled": {
          "type": "boolean",
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true."
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. DNS zone name suffix."
        },
        "subnetName": {
          "type": "string",
          "description": "Required. Subnet name."
        },
        "internetAccess": {
          "type": "string",
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "networkProject": {
          "type": "string",
          "description": "Optional. Network project."
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. Zone 1 name."
        }
      },
      "description": "Message for SAP instance details."
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "type": "string",
          "readOnly": true
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the configuration value is the default value or overridden."
        }
      },
      "description": "The configuration value."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "properties": {
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "build": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The build version number."
        },
        "major": {
          "format": "int32",
          "description": "Optional. The major version number.",
          "type": "integer"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "format": "int32",
          "type": "integer"
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        }
      },
      "description": "Version is reported as Major.Minor.Build.Patch."
    },
    "ExecutionResult": {
      "description": "The result of an execution.",
      "id": "ExecutionResult",
      "type": "object",
      "properties": {
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "The commands to remediate the violation."
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "type": "string",
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ]
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        }
      }
    },
    "TerraformVariable": {
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "id": "TerraformVariable",
      "type": "object",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      }
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode."
        },
        "region": {
          "type": "string",
          "description": "Required. Region name."
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name."
        },
        "tertiaryZone": {
          "type": "string",
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode."
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Required. Network name."
        },
        "internetAccess": {
          "description": "Required. Internet Access.",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        }
      },
      "description": "Location and networking details for configuring SQL server workload."
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "id": "Execution",
      "type": "object",
      "properties": {
        "resultSummary": {
          "readOnly": true,
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary"
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "items": {
            "$ref": "Notice"
          },
          "readOnly": true,
          "type": "array"
        },
        "runType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "type": "string",
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "state": {
          "type": "string",
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp."
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp."
        },
        "ruleResults": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Execution result summary per rule.",
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ViolationDetails": {
      "description": "The violation in an evaluation result.",
      "id": "ViolationDetails",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "observed": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation."
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "items": {
            "$ref": "RuleOutput"
          },
          "readOnly": true,
          "type": "array"
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "description": "Fields to describe an SAP application server instance.",
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object",
      "properties": {
        "number": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        },
        "name": {
          "type": "string",
          "description": "Optional. Instance name of the SAP application instance."
        }
      }
    },
    "DeploymentOutput": {
      "id": "DeploymentOutput",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "description": "Message for output of deployment resource."
    },
    "InstanceProperties": {
      "description": "Instance Properties.",
      "id": "InstanceProperties",
      "type": "object",
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "$ref": "UpcomingMaintenanceEvent",
          "description": "Optional. the next maintenance event on VM"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "roles": {
          "type": "array",
          "description": "Optional. Instance roles.",
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string"
          }
        }
      }
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "id": "SapInstanceProperties",
      "type": "object",
      "properties": {
        "numbers": {
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        }
      }
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "id": "ListEvaluationsResponse",
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GceInstanceFilter": {
      "description": "A filter for matching Compute Engine instances.",
      "id": "GceInstanceFilter",
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        },
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "AgentStatusServiceStatus": {
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "id": "AgentStatusServiceStatus",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. The state of the service (enabled or disabled in the configuration)."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional."
        },
        "iamPermissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "description": "Output only. The permissions required for the service."
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string",
          "readOnly": true
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ListExecutionResultsResponse": {
      "description": "Response message for the ListExecutionResults RPC.",
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        }
      }
    },
    "RuleOutput": {
      "description": "The rule output of the violation.",
      "id": "RuleOutput",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "Required. ID of the execution which will be created."
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "description": "Request message for the RunEvaluation RPC."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "type": "object",
      "properties": {
        "componentHealthType": {
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "type": "string"
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "subComponentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component.",
          "type": "string"
        },
        "componentHealthChecks": {
          "type": "array",
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          }
        }
      },
      "description": "HealthCondition contains the detailed health check of each component."
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      },
      "description": "The lifecycle status of an Evaluation resource."
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "type": "object",
      "properties": {
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "type": "string",
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated."
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        }
      },
      "description": "Message describing a resource."
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "type": "object",
      "properties": {
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "errorCode": {
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "ansibleError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message returned from Ansible."
        },
        "ansibleFailedTask": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "readOnly": true
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "terraformTemplate": {
          "type": "string",
          "description": "Reference to the Terraform template used."
        },
        "terraformError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Terraform."
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        }
      },
      "description": "Message for output of actuation."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Evaluation": {
      "id": "Evaluation",
      "type": "object",
      "properties": {
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string",
          "readOnly": true
        },
        "ruleNames": {
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation.",
          "type": "array"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp."
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        }
      },
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources."
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "id": "SapDiscoveryComponentApplicationProperties",
      "type": "object",
      "properties": {
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ]
        },
        "abap": {
          "deprecated": true,
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean"
        }
      }
    },
    "Summary": {
      "id": "Summary",
      "type": "object",
      "properties": {
        "newFixes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of new fixes compared to the previous execution."
        },
        "failures": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of failures."
        },
        "newFailures": {
          "format": "int64",
          "description": "Output only. Number of new failures compared to the previous execution.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Execution summary."
    },
    "SqlServerWorkload": {
      "description": "Message for MS SQL workload.",
      "id": "SqlServerWorkload",
      "type": "object",
      "properties": {
        "environmentType": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ]
        },
        "vmPrefix": {
          "type": "string",
          "description": "Required. Should be unique in the project."
        },
        "osImage": {
          "type": "string",
          "description": "Required. The image of the operating system."
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "type": "string",
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ]
        },
        "sqlServerEdition": {
          "type": "string",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ]
        },
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "mediaBucket": {
          "description": "Required. Name of the media storing SQL server installation files.",
          "type": "string"
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "haType": {
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "type": "string",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ]
        },
        "operatingSystemType": {
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ]
        },
        "activeDirectory": {
          "description": "Required. Active Directory details.",
          "$ref": "ActiveDirectory"
        },
        "fciType": {
          "description": "Optional. SHARED_DISK or S2D.",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "type": "string"
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. Location details."
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        },
        "sqlServerVersion": {
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "description": "Optional. 2017, 2019, or 2022.",
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ]
        },
        "osImageType": {
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "properties": {
        "workloadType": {
          "description": "Optional. Workload type of the deployment.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation."
        },
        "sapSystemS4Config": {
          "$ref": "SapSystemS4Config",
          "description": "SAP system workload input."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Update time stamp.",
          "format": "google-datetime"
        },
        "terraformVariables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        },
        "description": {
          "type": "string",
          "description": "Description of the deployment."
        },
        "sqlServerWorkload": {
          "$ref": "SqlServerWorkload",
          "description": "MS SQL workload input."
        },
        "name": {
          "type": "string",
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'."
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The Deployment object represents user intent for deploying a specific type of workload."
    },
    "Command": {
      "description": "Command specifies the type of command to execute.",
      "id": "Command",
      "type": "object",
      "properties": {
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        },
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        }
      }
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "properties": {
        "scannedResources": {
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for the ListScannedResources RPC."
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "type": "string",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ]
        },
        "details": {
          "type": "array",
          "description": "Required. Details wraps map that represents collected data names and values.",
          "items": {
            "$ref": "SqlserverValidationDetails"
          }
        }
      },
      "description": "Message describing the Sqlserver validation metrics."
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the component."
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "extVersion": {
          "type": "string",
          "description": "Optional. The component's minor version."
        }
      }
    },
    "SapSystemS4Config": {
      "description": "Message for SAP system workload.",
      "id": "SapSystemS4Config",
      "type": "object",
      "properties": {
        "app": {
          "$ref": "AppDetails",
          "description": "Instance details."
        },
        "mediaBucketName": {
          "type": "string",
          "description": "Required. Media bucket name."
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "location": {
          "$ref": "LocationDetails",
          "description": "Database details."
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "type": "string",
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ]
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "ansibleRunnerServiceAccount": {
          "type": "string",
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner."
        },
        "version": {
          "description": "Required. SAP HANA version.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "type": "string"
        },
        "deploymentModel": {
          "description": "Required. Supports non-HA and HA models.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "type": "string"
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "Database details."
        },
        "scalingMethod": {
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "type": "string",
          "description": "Required. Supports scale up and scale out.",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ]
        }
      }
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "id": "SapComponent",
      "type": "object",
      "properties": {
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resources": {
          "items": {
            "$ref": "CloudResource"
          },
          "description": "Output only. resources in the component",
          "type": "array",
          "readOnly": true
        },
        "topologyType": {
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string"
        },
        "databaseProperties": {
          "readOnly": true,
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties."
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceFilter": {
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter",
      "type": "object",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "type": "array"
        },
        "inclusionLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`."
        },
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        },
        "resourceIdPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array"
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object",
      "properties": {
        "softwareComponentVersions": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "description": "Optional. A list of SAP software components and their versions running on the system."
        },
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array"
        }
      },
      "description": "A set of properties describing an SAP workload."
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "id": "RuleExecutionResult",
      "type": "object",
      "properties": {
        "scannedResourceCount": {
          "format": "int64",
          "description": "Number of total scanned resources.",
          "type": "string"
        },
        "resultCount": {
          "format": "int64",
          "description": "Number of violations.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The execution status.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ]
        },
        "message": {
          "type": "string",
          "description": "Execution message, if any."
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        }
      }
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The validation details of the OpenShift cluster in JSON format."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936)."
        }
      },
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data."
    },
    "CloudResource": {
      "id": "CloudResource",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
        },
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "type": "string",
          "description": "Output only. "
        }
      },
      "description": "The resource on GCP"
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data."
        },
        "type": {
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "type": "string"
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        }
      },
      "description": "External data sources for an execution."
    },
    "ServiceStates": {
      "description": "The state of the service.",
      "id": "ServiceStates",
      "type": "object",
      "properties": {
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "items": {
            "$ref": "IAMPermission"
          },
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. The overall state of the service.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ]
        }
      }
    },
    "AgentStates": {
      "id": "AgentStates",
      "type": "object",
      "properties": {
        "installedVersion": {
          "type": "string",
          "description": "Optional. The installed version of the agent on the host."
        },
        "processMetrics": {
          "$ref": "ServiceStates",
          "description": "Optional. The Process metrics of the agent."
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "hanaMonitoring": {
          "$ref": "ServiceStates",
          "description": "Optional. HANA monitoring metrics of the agent."
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        },
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        }
      },
      "description": "Agent status."
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "id": "SapValidation",
      "type": "object",
      "properties": {
        "validationDetails": {
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        }
      }
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "id": "TorsoValidation",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "type": "string"
        },
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        }
      }
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "id": "AgentStatus",
      "type": "object",
      "properties": {
        "agentName": {
          "description": "Output only. The name of the agent.",
          "readOnly": true,
          "type": "string"
        },
        "configurationValid": {
          "type": "string",
          "description": "Output only. Whether the agent configuration is valid.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string",
          "readOnly": true
        },
        "references": {
          "description": "Output only. Optional references to public documentation.",
          "items": {
            "$ref": "AgentStatusReference"
          },
          "readOnly": true,
          "type": "array"
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "systemdServiceRunning": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. Whether the agent service is running in systemd."
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "readOnly": true,
          "type": "string"
        },
        "cloudApiAccessFullScopesGranted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "type": "string"
        },
        "configurationErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid."
        },
        "services": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.)."
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string",
          "readOnly": true
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "AppDetails": {
      "description": "Message for SAP instance details.",
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account. Let customers bring their own service account for ASCS."
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ascsVm": {
          "type": "string",
          "description": "Optional. ASCS VM name."
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized VM names.",
          "items": {
            "type": "string"
          }
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ASCS."
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ersVm": {
          "type": "string",
          "description": "Optional. ERS VM name."
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "vmsMultiplier": {
          "format": "int32",
          "description": "Required. VMs multiplier.",
          "type": "integer"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "sid": {
          "type": "string",
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code."
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        }
      }
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "id": "Pacemaker",
      "type": "object",
      "properties": {
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. Bucket location for node certificates."
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "type": "string",
          "description": "Required. SQL Pacemaker secret name."
        },
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. Pacemaker cluster name."
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. SQL Pacemaker username."
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "description": "A product name and version.",
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      }
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. Type"
        },
        "startTime": {
          "description": "Optional. Start time",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. End time",
          "format": "google-datetime"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "id": "SqlserverValidation",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        }
      }
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "id": "DatabaseProperties",
      "type": "object",
      "properties": {
        "backupProperties": {
          "description": "Output only. Backup properties.",
          "$ref": "BackupProperties",
          "readOnly": true
        },
        "databaseType": {
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "readOnly": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "type": "string"
        }
      }
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "id": "ListRulesResponse",
      "type": "object",
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      }
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "type": "object",
      "properties": {
        "source": {
          "description": "Output only. The source of the health check.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message of the health check."
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource"
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "HealthCheck contains the detailed health check of a component based on asource."
    },
    "ListDeploymentsResponse": {
      "description": "Message for response to listing deployments.",
[...]
