{
  "name": "workloadmanager",
  "discoveryVersion": "v1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "version": "v1",
  "batchPath": "batch",
  "revision": "20260916",
  "id": "workloadmanager:v1",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "ownerDomain": "google.com",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "basePath": "",
  "protocol": "rest",
  "canonicalName": "Workload Manager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Workload Manager API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "workloadmanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                }
              }
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "id": "workloadmanager.projects.locations.get",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "deployments": {
              "resources": {
                "actuations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "path": "v1/{+parent}/actuations",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'."
                        }
                      },
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/actuations",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new actuation for an existing Deployment."
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the actuation to delete. projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "description": "Deletes a single Actuation."
                    },
                    "get": {
                      "description": "Gets details of a single Actuation.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single Deployment.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Deployment"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter resource following https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details."
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "description": "Lists Deployments in a given project and location.",
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.deployments.list"
                },
                "create": {
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "deploymentId": {
                      "type": "string",
                      "description": "Required. ID of the deployment.",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Deployment"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Deployment in a given project and location.",
                  "path": "v1/{+parent}/deployments"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "description": "Deletes a single Deployment.",
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, any actuation will also be deleted. Follows the best practice from https://aip.dev/135#cascading-delete.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "insights": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "writeInsight": {
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "location"
                  ],
                  "path": "v1/{+location}/insights:writeInsight",
                  "description": "Write the data insights to workload manager data warehouse.",
                  "parameters": {
                    "location": {
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            },
            "evaluations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "path": "v1/{+parent}/evaluations",
                  "description": "Lists Evaluations in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "Filter to be applied when listing the evaluation results.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Hint for how to order the results."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.list"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "description": "Gets details of a single Evaluation.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "parameters": {
                    "evaluationId": {
                      "description": "Required. Id of the requesting object.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+parent}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "description": "Creates a new Evaluation in a given project and location."
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Evaluation.",
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}"
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`."
                    }
                  },
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the parameters of a single Evaluation.",
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}"
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "run": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                        }
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "path": "v1/{+name}/executions:run"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "path": "v1/{+parent}/executions",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Filtering results.",
                          "type": "string"
                        }
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Executions in a given project and location.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Execution.",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single Execution.",
                      "response": {
                        "$ref": "Execution"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "required": true
                        }
                      }
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/results",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "description": "Lists the result of a single evaluation.",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return."
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results.",
                              "location": "path",
                              "required": true
                            },
                            "filter": {
                              "description": "Filtering results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/scannedResources",
                          "parameters": {
                            "filter": {
                              "description": "Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "orderBy": {
                              "type": "string",
                              "location": "query",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "required": true,
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "location": "path"
                            },
                            "rule": {
                              "location": "query",
                              "description": "Rule name.",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "type": "integer",
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                            }
                          },
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "httpMethod": "GET",
                          "description": "List all scanned resources for a single Execution.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list"
                        }
                      }
                    }
                  }
                }
              }
            },
            "discoveredprofiles": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a discovered workload profile.",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "description": "List discovered workload profiles",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "description": "Required. The resource name",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "description": "Get the health of a discovered workload profile.",
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      }
                    }
                  }
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "evaluationType": {
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ]
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter based on primary_category, secondary_category.",
                      "type": "string"
                    },
                    "customRulesBucket": {
                      "type": "string",
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "location": "query"
                    }
                  },
                  "description": "Lists rules in a given project.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/rules",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "id": "workloadmanager.projects.locations.rules.list"
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "workloadmanager.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "workloadmanager.projects.locations.operations.cancel"
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    }
                  },
                  "id": "workloadmanager.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}/operations"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ActuationOutput": {
      "type": "object",
      "properties": {
        "hasUserFacingErrorMsg": {
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true,
          "type": "boolean"
        },
        "errorCode": {
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "readOnly": true
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "terraformError": {
          "type": "string",
          "description": "Output only. Error message returned from Terraform.",
          "readOnly": true
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "type": "string",
          "readOnly": true
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible."
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "errorLogs": {
          "type": "string",
          "description": "A link to the actuation Cloud Build log."
        }
      },
      "description": "Message for output of actuation.",
      "id": "ActuationOutput"
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "description": "The body of sap workload",
      "properties": {
        "application": {
          "$ref": "SapComponent",
          "description": "Output only. application component",
          "readOnly": true
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ]
        },
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "products": {
          "type": "array",
          "description": "Output only. The products on this workload.",
          "items": {
            "$ref": "Product"
          },
          "readOnly": true
        }
      }
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "properties": {
        "backupProperties": {
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties.",
          "readOnly": true
        },
        "databaseType": {
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "readOnly": true,
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        }
      },
      "id": "DatabaseProperties",
      "type": "object"
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "properties": {
        "validationDetails": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        },
        "projectId": {
          "type": "string",
          "description": "Required. project_id lists the human readable cloud project that the data comes from."
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        }
      },
      "id": "TorsoValidation",
      "type": "object"
    },
    "WriteInsightResponse": {
      "type": "object",
      "id": "WriteInsightResponse",
      "properties": {},
      "description": "The response for write insights request."
    },
    "UpcomingMaintenanceEvent": {
      "type": "object",
      "id": "UpcomingMaintenanceEvent",
      "description": "Maintenance Event",
      "properties": {
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. End time"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      }
    },
    "IAMPermission": {
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        },
        "granted": {
          "readOnly": true,
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean"
        }
      },
      "id": "IAMPermission",
      "type": "object",
      "description": "The IAM permission status."
    },
    "ListScannedResourcesResponse": {
      "description": "Response message for the ListScannedResources RPC.",
      "id": "ListScannedResourcesResponse",
      "properties": {
        "scannedResources": {
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "WorkloadProfile": {
      "type": "object",
      "properties": {
        "workloadType": {
          "description": "Required. The type of the workload",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'"
        },
        "sapWorkload": {
          "$ref": "SapWorkload",
          "description": "The sap workload content"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. such as name, description, version. More example can be found in deployment"
        }
      },
      "id": "WorkloadProfile",
      "description": "Workload resource."
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AgentStatusIAMPermission"
    },
    "ResourceStatus": {
      "type": "object",
      "id": "ResourceStatus",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "description": "State of the Evaluation resource."
        }
      }
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "description": "Pacemaker configuration.",
      "properties": {
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. SQL Pacemaker username."
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. Pacemaker cluster name."
        }
      },
      "type": "object"
    },
    "Command": {
      "id": "Command",
      "properties": {
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        },
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        }
      },
      "description": "Command specifies the type of command to execute.",
      "type": "object"
    },
    "Resource": {
      "description": "Resource in execution result.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of resource."
        }
      }
    },
    "Summary": {
      "properties": {
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "failures": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of failures."
        },
        "newFixes": {
          "format": "int64",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Summary",
      "description": "Execution summary.",
      "type": "object"
    },
    "RunEvaluationRequest": {
      "type": "object",
      "properties": {
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the RunEvaluation RPC.",
      "id": "RunEvaluationRequest"
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "actuations": {
          "items": {
            "$ref": "Actuation"
          },
          "description": "The list of actuations.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response object from `ListActuations`."
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "type": "array"
        },
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        }
      },
      "type": "object"
    },
    "HealthCheck": {
      "type": "object",
      "id": "HealthCheck",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message of the health check."
        },
        "metric": {
          "type": "string",
          "description": "Output only. The health check source metric name.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource",
          "readOnly": true
        }
      }
    },
    "SapDiscoveryComponent": {
      "type": "object",
      "description": "Message describing the system component.",
      "properties": {
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        }
      },
      "id": "SapDiscoveryComponent"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object"
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "description": "Message for SAP instance details.",
      "properties": {
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "vmsMultiplier": {
          "type": "integer",
          "description": "Required. VMs multiplier.",
          "format": "int32"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ASCS."
        },
        "appVmNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Customized VM names."
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ASCS machine type."
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "appServiceAccount": {
          "type": "string",
          "description": "Application service account. Let customers bring their own service account for the application."
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        }
      }
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "type": "object",
      "description": "The configuration value.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the configuration value."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object"
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "type": "object",
      "properties": {
        "topologyType": {
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "type": "string",
          "readOnly": true
        },
        "resources": {
          "type": "array",
          "description": "Output only. resources in the component",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        },
        "databaseProperties": {
          "$ref": "DatabaseProperties",
          "readOnly": true,
          "description": "Output only. All instance properties."
        }
      },
      "id": "SapComponent"
    },
    "DeploymentOutput": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the resource."
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      },
      "description": "Message for output of deployment resource.",
      "type": "object",
      "id": "DeploymentOutput"
    },
    "DatabaseDetails": {
      "type": "object",
      "properties": {
        "databaseServiceAccount": {
          "type": "string",
          "description": "Database service account. Let customers bring their own SA for the database."
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "primaryDbVm": {
          "type": "string",
          "description": "Optional. Primary DB VM name."
        }
      },
      "id": "DatabaseDetails",
      "description": "Message for SAP instance details."
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "properties": {
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "appInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        },
        "ascsInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ASCS instance."
        },
        "ersInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ERS instance."
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "abap": {
          "type": "boolean",
          "deprecated": true,
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java."
        }
      }
    },
    "SapDiscoveryResource": {
      "description": "Message describing a resource.",
      "properties": {
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array",
          "items": {
            "type": "string"
[...]
