{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "workflowexecutions:v1",
  "canonicalName": "Workflow Executions",
  "discoveryVersion": "v1",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "methods": {
                "triggerPubsubExecution": {
                  "parameters": {
                    "workflow": {
                      "type": "string",
                      "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "workflow"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}:triggerPubsubExecution",
                  "request": {
                    "$ref": "TriggerPubsubExecutionRequest"
                  },
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workflowexecutions.projects.locations.workflows.triggerPubsubExecution",
                  "description": "Triggers a new execution using the latest revision of the given workflow by a Pub/Sub push notification.",
                  "httpMethod": "POST",
                  "path": "v1/{+workflow}:triggerPubsubExecution"
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "callbacks": {
                      "methods": {
                        "list": {
                          "id": "workflowexecutions.projects.locations.workflows.executions.callbacks.list",
                          "description": "Returns a list of active callbacks that belong to the execution with the given name. The returned callbacks are ordered by callback ID.",
                          "path": "v1/{+parent}/callbacks",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Maximum number of callbacks to return per call. The default value is 100 and is also the maximum value."
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the execution for which the callbacks should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous `ListCallbacks` call. Provide this to retrieve the subsequent page. Note that pagination is applied to dynamic data. The list of callbacks returned can change between page requests if callbacks are created or deleted.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/callbacks",
                          "response": {
                            "$ref": "ListCallbacksResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "stepEntries": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/stepEntries",
                          "httpMethod": "GET",
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.list",
                          "description": "Lists step entries for the corresponding workflow execution. Returned entries are ordered by their create_time.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries",
                          "response": {
                            "$ref": "ListStepEntriesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[StepEntries.ListStepEntries]` results. By default the ordering is based on ascending `entryId`. The following fields are supported for ordering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `state`. For details, see AIP-132."
                            },
                            "parent": {
                              "required": true,
                              "location": "path",
                              "description": "Required. Name of the workflow execution to list entries for. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListStepEntries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListStepEntries` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. Number of step entries to return per call. The default max is 1000.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "skip": {
                              "location": "query",
                              "description": "Optional. The number of step entries to skip. It can be used with or without a pageToken. If used with a pageToken, then it indicates the number of step entries to skip starting from the requested page.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "view": {
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ],
                              "deprecated": true,
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "location": "query",
                              "description": "Deprecated field.",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Optional. Filters applied to the `[StepEntries.ListStepEntries]` results. The following fields are supported for filtering: `entryId`, `createTime`, `updateTime`, `routine`, `step`, `stepType`, `parent`, `state`. For details, see AIP-160. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `createTime>\"2023-08-01\" AND state=\"FAILED\"`",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "get": {
                          "description": "Gets a step entry.",
                          "id": "workflowexecutions.projects.locations.workflows.executions.stepEntries.get",
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the step entry to retrieve. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+/stepEntries/[^/]+$"
                            },
                            "view": {
                              "deprecated": true,
                              "enum": [
                                "EXECUTION_ENTRY_VIEW_UNSPECIFIED",
                                "EXECUTION_ENTRY_VIEW_BASIC",
                                "EXECUTION_ENTRY_VIEW_DETAILED"
                              ],
                              "description": "Deprecated field.",
                              "type": "string",
                              "enumDescriptions": [
                                "The default/unset value.",
                                "Include basic information in the step entries. All fields in StepEntry are returned except for variable_data.",
                                "Include all data."
                              ],
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}/stepEntries/{stepEntriesId}",
                          "response": {
                            "$ref": "StepEntry"
                          }
                        }
                      }
                    }
                  },
                  "methods": {
                    "exportData": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:exportData",
                      "response": {
                        "$ref": "ExportDataResponse"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution for which data is to be exported. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:exportData",
                      "httpMethod": "GET",
                      "description": "Returns all metadata stored about an execution, excluding most data that is already accessible using other API methods.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.exportData"
                    },
                    "get": {
                      "description": "Returns an execution of the given name.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameters": {
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Execution"
                      }
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "path": "v1/{+name}:cancel",
                      "description": "Cancels an execution of the given name.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel"
                    },
                    "list": {
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "path": "v1/{+parent}/executions",
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filters applied to the `[Executions.ListExecutions]` results. The following fields are supported for filtering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, `workflowRevisionId`, `stepName`, `label`, and `disableConcurrencyQuotaOverflowBuffering`. For details, see AIP-160. For more information, see Filter executions. For example, if you are using the Google APIs Explorer: `state=\"SUCCEEDED\"` or `startTime>\"2023-08-01\" AND state=\"FAILED\"`",
                          "type": "string",
                          "location": "query"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. The following fields are returned: name, start_time, end_time, duration, state, and workflow_revision_id.",
                            "Includes all data."
                          ]
                        },
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 1000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token. Note that pagination is applied to dynamic data. The list of executions returned can change between page requests.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Comma-separated list of fields that specify the ordering applied to the `[Executions.ListExecutions]` results. By default the ordering is based on descending `createTime`. The following fields are supported for ordering: `executionId`, `state`, `createTime`, `startTime`, `endTime`, `duration`, and `workflowRevisionId`. For details, see AIP-132.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "create": {
                      "path": "v1/{+parent}/executions",
                      "httpMethod": "POST",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "description": "Creates a new execution using the latest revision of the given workflow. For more information, see Execute a workflow.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "request": {
                        "$ref": "Execution"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "deleteExecutionHistory": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.deleteExecutionHistory",
                      "description": "Deletes all step entries for an execution.",
                      "httpMethod": "POST",
                      "path": "v1/{+name}:deleteExecutionHistory",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the execution for which step entries should be deleted. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:deleteExecutionHistory",
                      "request": {
                        "$ref": "DeleteExecutionHistoryRequest"
                      },
                      "response": {
                        "$ref": "Empty"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "name": "workflowexecutions",
  "title": "Workflow Executions API",
  "description": "Execute workflows created with Workflows API.",
  "documentationLink": "https://cloud.google.com/workflows",
  "basePath": "",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "schemas": {
    "Position": {
      "id": "Position",
      "properties": {
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The source code line number the current instruction was generated from."
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element."
        }
      },
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes."
    },
    "Execution": {
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1/projects.locations.workflows).",
      "id": "Execution",
      "properties": {
        "stateError": {
          "description": "Output only. Error regarding the state of the Execution resource. For example, this field will have error details if the execution data is unavailable due to revoked KMS key permissions.",
          "readOnly": true,
          "$ref": "StateError"
        },
        "duration": {
          "description": "Output only. Measures the duration of the execution.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "description": "Output only. Marks the beginning of execution. Note that this will be the same as `createTime` for executions that start immediately.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "result": {
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Marks the creation of the execution.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels associated with this execution. Labels can contain at most 64 entries. Keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, and dashes. Label keys must start with a letter. International characters are allowed. By default, labels are inherited from the workflow but are overridden by any labels associated with the execution.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "callLogLevel": {
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows.",
            "Explicitly log nothing."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY",
            "LOG_NONE"
          ],
          "description": "The call logging level associated to this execution.",
          "type": "string"
        },
        "error": {
          "$ref": "Error",
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "readOnly": true
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "disableConcurrencyQuotaOverflowBuffering": {
          "type": "boolean",
          "description": "Optional. If set to true, the execution will not be backlogged when the concurrency quota is exhausted. The backlog execution starts when the concurrency quota becomes available."
        },
        "state": {
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Execution data is unavailable. See the `state_error` field.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "description": "Output only. Current state of the execution.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ]
        },
        "status": {
          "$ref": "Status",
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "readOnly": true
        },
        "executionHistoryLevel": {
          "enumDescriptions": [
            "The default/unset value.",
            "Enable execution history basic feature for this execution.",
            "Enable execution history detailed feature for this execution."
          ],
          "enum": [
            "EXECUTION_HISTORY_LEVEL_UNSPECIFIED",
            "EXECUTION_HISTORY_BASIC",
            "EXECUTION_HISTORY_DETAILED"
          ],
          "description": "Optional. Describes the execution history level to apply to this execution. If not specified, the execution history level is determined by its workflow's execution history level. If the levels are different, the executionHistoryLevel overrides the workflow's execution history level for this execution.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. Marks the end of execution, successful or not.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workflowRevisionId": {
          "description": "Output only. Revision of the workflow this execution is using.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Error": {
      "id": "Error",
      "properties": {
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "context": {
          "type": "string",
          "description": "Human-readable stack trace string."
        }
      },
      "type": "object",
      "description": "Error describes why the execution was abnormally terminated."
    },
    "VariableData": {
      "id": "VariableData",
      "properties": {
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "any"
          },
          "description": "Variables that are associated with this step."
        }
      },
      "type": "object",
      "description": "VariableData contains the variable data for this step."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "currentSteps": {
          "items": {
            "$ref": "Step"
          },
          "type": "array",
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      },
      "description": "Represents the current status of this execution.",
      "type": "object"
    },
    "Exception": {
      "type": "object",
      "description": "Exception describes why the step entry failed.",
      "id": "Exception",
      "properties": {
        "payload": {
          "type": "string",
          "description": "Error message represented as a JSON string."
        }
      }
    },
    "Callback": {
      "id": "Callback",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the callback. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/callback/{callback}",
          "readOnly": true
        },
        "waiters": {
          "description": "Output only. Number of execution steps waiting on this callback.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "method": {
          "type": "string",
          "description": "Output only. The method accepted by the callback. For example: GET, POST, PUT.",
          "readOnly": true
        },
        "availablePayloads": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The payloads received by the callback that have not been processed by a waiting execution step.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An instance of a Callback created by an execution."
    },
    "StackTrace": {
      "id": "StackTrace",
      "properties": {
        "elements": {
          "items": {
            "$ref": "StackTraceElement"
          },
          "type": "array",
          "description": "An array of stack elements."
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "type": "object"
    },
    "StepEntry": {
      "id": "StepEntry",
      "properties": {
        "navigationInfo": {
          "$ref": "NavigationInfo",
          "description": "Output only. The NavigationInfo associated with this step.",
          "readOnly": true
        },
        "entryId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The numeric ID of this step entry, used for navigation.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The creation time of the step entry.",
          "readOnly": true
        },
        "step": {
          "description": "Output only. The name of the step this step entry belongs to.",
          "readOnly": true,
          "type": "string"
        },
        "stepType": {
          "enum": [
            "STEP_TYPE_UNSPECIFIED",
            "STEP_ASSIGN",
            "STEP_STD_LIB_CALL",
            "STEP_CONNECTOR_CALL",
            "STEP_SUBWORKFLOW_CALL",
            "STEP_CALL",
            "STEP_SWITCH",
            "STEP_CONDITION",
            "STEP_FOR",
            "STEP_FOR_ITERATION",
            "STEP_PARALLEL_FOR",
            "STEP_PARALLEL_BRANCH",
            "STEP_PARALLEL_BRANCH_ENTRY",
            "STEP_TRY_RETRY_EXCEPT",
            "STEP_TRY",
            "STEP_RETRY",
            "STEP_EXCEPT",
            "STEP_RETURN",
            "STEP_RAISE",
            "STEP_GOTO"
          ],
          "type": "string",
          "description": "Output only. The type of the step this step entry belongs to.",
          "readOnly": true,
          "enumDescriptions": [
            "Invalid step type.",
            "The step entry assigns new variable(s).",
            "The step entry calls a standard library routine.",
            "The step entry calls a connector.",
            "The step entry calls a subworklfow.",
            "The step entry calls a subworkflow/stdlib.",
            "The step entry executes a switch-case block.",
            "The step entry executes a condition inside a switch.",
            "The step entry executes a for loop.",
            "The step entry executes a iteration of a for loop.",
            "The step entry executes a parallel for loop.",
            "The step entry executes a series of parallel branch(es).",
            "The step entry executes a branch of a parallel branch.",
            "The step entry executes a try/retry/except block.",
            "The step entry executes the try part of a try/retry/except block.",
            "The step entry executes the retry part of a try/retry/except block.",
            "The step entry executes the except part of a try/retry/except block.",
            "The step entry returns.",
            "The step entry raises an error.",
            "The step entry jumps to another step."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_IN_PROGRESS",
            "STATE_SUCCEEDED",
            "STATE_FAILED",
            "STATE_CANCELLED"
          ],
          "enumDescriptions": [
            "Invalid state.",
            "The step entry is in progress.",
            "The step entry finished successfully.",
            "The step entry failed with an error.",
            "The step entry is cancelled."
          ],
          "type": "string",
          "description": "Output only. The state of the step entry.",
          "readOnly": true
        },
        "routine": {
          "description": "Output only. The name of the routine this step entry belongs to. A routine name is the subworkflow name defined in the YAML source code. The top level routine name is `main`.",
          "readOnly": true,
          "type": "string"
        },
        "exception": {
          "description": "Output only. The exception thrown by the step entry.",
          "readOnly": true,
          "$ref": "Exception"
        },
        "stepEntryMetadata": {
          "$ref": "StepEntryMetadata",
          "description": "Output only. The StepEntryMetadata associated with this step.",
          "readOnly": true
        },
        "variableData": {
          "description": "Output only. The VariableData associated with this step.",
          "readOnly": true,
          "$ref": "VariableData"
        },
        "name": {
          "type": "string",
          "description": "Output only. The full resource name of the step entry. Each step entry has a unique entry ID, which is a monotonically increasing counter. Step entry names have the format: `projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}/stepEntries/{step_entry}`.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The most recently updated time of the step entry.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "An StepEntry contains debugging information for a step transition in a workflow execution."
    },
    "DeleteExecutionHistoryRequest": {
      "type": "object",
      "description": "Request for the DeleteExecutionHistory method.",
      "id": "DeleteExecutionHistoryRequest",
      "properties": {}
    },
    "TriggerPubsubExecutionRequest": {
      "id": "TriggerPubsubExecutionRequest",
      "properties": {
        "deliveryAttempt": {
          "type": "integer",
          "format": "int32",
          "description": "The number of attempts that have been made to deliver this message. This is set by Pub/Sub for subscriptions that have the \"dead letter\" feature enabled, and hence provided here for compatibility, but is ignored by Workflows."
        },
        "subscription": {
          "description": "Required. The subscription of the Pub/Sub push notification. Format: projects/{project}/subscriptions/{sub}",
          "type": "string"
        },
        "message": {
          "description": "Required. The message of the Pub/Sub push notification.",
          "$ref": "PubsubMessage"
        },
        "GCPCloudEventsMode": {
          "type": "string",
          "description": "Required. LINT: LEGACY_NAMES The query parameter value for __GCP_CloudEventsMode, set by the Eventarc service when configuring triggers."
        }
      },
      "description": "Request for the TriggerPubsubExecution method.",
      "type": "object"
    },
    "StateError": {
      "id": "StateError",
      "properties": {
        "details": {
          "description": "Provides specifics about the error.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of this state error.",
          "enumDescriptions": [
            "No type specified.",
            "Caused by an issue with KMS."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "KMS_ERROR"
          ]
        }
      },
      "type": "object",
      "description": "Describes an error related to the current state of the Execution resource."
    },
    "StackTraceElement": {
      "type": "object",
      "description": "A single stack element (frame) where an error occurred.",
      "id": "StackTraceElement",
      "properties": {
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        }
      }
    },
    "CancelExecutionRequest": {
      "description": "Request for the CancelExecution method.",
      "type": "object",
      "id": "CancelExecutionRequest",
      "properties": {}
    },
    "NavigationInfo": {
      "id": "NavigationInfo",
      "properties": {
        "children": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Step entries that can be reached by \"stepping into\" e.g. a subworkflow call.",
          "type": "array"
        },
        "parent": {
          "type": "string",
          "format": "int64",
          "description": "The step entry, if any, that can be reached by \"stepping out\" of the current workflow being executed."
        },
        "next": {
          "type": "string",
          "format": "int64",
          "description": "The index of the next step in the current workflow, if any."
        },
        "previous": {
          "description": "The index of the previous step in the current workflow, if any.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "NavigationInfo describes what steps if any come before or after this step, or what steps are parents or children of this step.",
      "type": "object"
    },
    "StepEntryMetadata": {
      "id": "StepEntryMetadata",
      "properties": {
        "threadId": {
          "type": "string",
          "description": "Child thread id that this step entry belongs to."
        },
        "expectedIteration": {
          "description": "Expected iteration represents the expected number of iterations in the step's progress.",
          "type": "string",
          "format": "int64"
        },
        "progressType": {
          "enumDescriptions": [
            "Current step entry does not have any progress data.",
            "Current step entry is in progress of a FOR step.",
            "Current step entry is in progress of a SWITCH step.",
            "Current step entry is in progress of a RETRY step.",
            "Current step entry is in progress of a PARALLEL FOR step.",
            "Current step entry is in progress of a PARALLEL BRANCH step."
          ],
          "enum": [
            "PROGRESS_TYPE_UNSPECIFIED",
            "PROGRESS_TYPE_FOR",
            "PROGRESS_TYPE_SWITCH",
            "PROGRESS_TYPE_RETRY",
            "PROGRESS_TYPE_PARALLEL_FOR",
            "PROGRESS_TYPE_PARALLEL_BRANCH"
          ],
          "type": "string",
          "description": "Progress type of this step entry."
        },
        "progressNumber": {
          "description": "Progress number represents the current state of the current progress. eg: A step entry represents the 4th iteration in a progress of PROGRESS_TYPE_FOR. Note: This field is only populated when an iteration exists and the starting value is 1.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "StepEntryMetadata contains metadata information about this step."
    },
    "PubsubMessage": {
      "type": "object",
      "description": "A message that is published by publishers and consumed by subscribers. The message must contain either a non-empty data field or at least one attribute. Note that client libraries represent this object differently depending on the language. See the corresponding [client library documentation](https://cloud.google.com/pubsub/docs/reference/libraries) for more information. See [quotas and limits] (https://cloud.google.com/pubsub/quotas) for more information about message limits.",
      "id": "PubsubMessage",
      "properties": {
        "orderingKey": {
          "type": "string",
          "description": "Optional. If non-empty, identifies related messages for which publish order should be respected. If a `Subscription` has `enable_message_ordering` set to `true`, messages published with the same non-empty `ordering_key` value will be delivered to subscribers in the order in which they are received by the Pub/Sub system. All `PubsubMessage`s published in a given `PublishRequest` must specify the same `ordering_key` value. For more information, see [ordering messages](https://cloud.google.com/pubsub/docs/ordering)."
        },
        "publishTime": {
          "description": "The time at which the message was published, populated by the server when it receives the `Publish` call. It must not be populated by the publisher in a `Publish` call.",
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "description": "Optional. The message data field. If this field is empty, the message must contain at least one attribute.",
          "type": "string",
          "format": "byte"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Attributes for this message. If this field is empty, the message must contain non-empty data. This can be used to filter messages on the subscription."
        },
        "messageId": {
          "description": "ID of this message, assigned by the server when the message is published. Guaranteed to be unique within the topic. This value may be read by a subscriber that receives a `PubsubMessage` via a `Pull` call or a push delivery. It must not be populated by the publisher in a `Publish` call.",
          "type": "string"
        }
      }
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "properties": {
        "executions": {
          "type": "array",
          "description": "The executions which match the request.",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response for the ListExecutions method.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListCallbacksResponse": {
      "description": "RPC response object for the ListCallbacks method.",
      "type": "object",
      "id": "ListCallbacksResponse",
      "properties": {
        "callbacks": {
          "type": "array",
          "description": "The callbacks which match the request.",
          "items": {
            "$ref": "Callback"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListStepEntriesResponse": {
      "id": "ListStepEntriesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this value in the ListStepEntriesRequest.page_token field in the subsequent call to `ListStepEntries` method to retrieve the next page of results."
        },
        "totalSize": {
          "description": "Indicates the total number of StepEntries that matched the request filter. For running executions, this number shows the number of StepEntries that are executed thus far.",
          "type": "integer",
          "format": "int32"
        },
        "stepEntries": {
          "items": {
            "$ref": "StepEntry"
          },
          "description": "The list of entries.",
          "type": "array"
        }
      },
      "description": "Response message for ExecutionHistory.ListStepEntries.",
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "properties": {
        "step": {
          "type": "string",
          "description": "Name of a step within the routine."
        },
        "routine": {
          "type": "string",
          "description": "Name of a routine within the workflow."
        }
      },
      "description": "Represents a step of the workflow this execution is running.",
      "type": "object"
    },
    "ExportDataResponse": {
      "id": "ExportDataResponse",
      "properties": {
        "data": {
          "type": "string",
          "description": "The JSON string with customer data and metadata for an execution with the given name"
        }
      },
      "description": "Response for the ExportData method.",
      "type": "object"
    }
  },
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "revision": "20260611",
  "protocol": "rest",
  "servicePath": "",
  "version": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  }
}