{
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "discoveryVersion": "v1",
  "version": "v1",
  "version_module": true,
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "canonicalName": "Workload Manager",
  "revision": "20260708",
  "id": "workloadmanager:v1",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "workloadmanager.projects.locations.operations.get"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "parameters": {
                    "evaluationType": {
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ],
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ],
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules."
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "customRulesBucket": {
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/rules",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "httpMethod": "GET",
                  "description": "Lists rules in a given project.",
                  "id": "workloadmanager.projects.locations.rules.list"
                }
              }
            },
            "evaluations": {
              "resources": {
                "executions": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/results",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results."
                            },
                            "pageSize": {
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Filtering results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "httpMethod": "GET",
                          "description": "Lists the result of a single evaluation.",
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list"
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "httpMethod": "GET",
                          "description": "List all scanned resources for a single Execution.",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "path": "v1/{+parent}/scannedResources",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "rule": {
                              "description": "Rule name.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                            },
                            "parent": {
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "required": true
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Filtering results.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "httpMethod": "GET",
                      "description": "Lists Executions in a given project and location.",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filtering results."
                        },
                        "orderBy": {
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/executions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Execution."
                    },
                    "run": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/executions:run",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a new Execution in a given project and location.",
                      "id": "workloadmanager.projects.locations.evaluations.executions.run"
                    },
                    "delete": {
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Execution."
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "httpMethod": "PATCH",
                  "description": "Updates the parameters of a single Evaluation.",
                  "id": "workloadmanager.projects.locations.evaluations.patch"
                },
                "list": {
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "httpMethod": "GET",
                  "description": "Lists Evaluations in a given project and location.",
                  "path": "v1/{+parent}/evaluations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "description": "Filter to be applied when listing the evaluation results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Evaluation.",
                  "id": "workloadmanager.projects.locations.evaluations.get"
                },
                "create": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "evaluationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting object."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/evaluations",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "description": "Creates a new Evaluation in a given project and location.",
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "request": {
                    "$ref": "Evaluation"
                  }
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Evaluation.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "required": true
                    },
                    "force": {
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            },
            "insights": {
              "methods": {
                "writeInsight": {
                  "path": "v1/{+location}/insights:writeInsight",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "parameterOrder": [
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "httpMethod": "POST",
                  "description": "Write the data insights to workload manager data warehouse.",
                  "request": {
                    "$ref": "WriteInsightRequest"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "httpMethod": "DELETE",
                  "description": "Delete the data insights from workload manager data warehouse."
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Deployment"
                  },
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "httpMethod": "POST",
                  "description": "Creates a new Deployment in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "deploymentId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the deployment."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Deployment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any actuation will also be deleted. Follows the best practice from https://aip.dev/135#cascading-delete."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists Deployments in a given project and location.",
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter resource following https://google.aip.dev/160."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Deployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single Deployment.",
                  "id": "workloadmanager.projects.locations.deployments.get"
                }
              },
              "resources": {
                "actuations": {
                  "methods": {
                    "create": {
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "httpMethod": "POST",
                      "description": "Creates a new actuation for an existing Deployment.",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "path": "v1/{+parent}/actuations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Actuation.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the actuation to delete. projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/actuations",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "httpMethod": "GET",
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.list"
                    },
                    "get": {
                      "response": {
                        "$ref": "Actuation"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the resource."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Actuation."
                    }
                  }
                }
              }
            },
            "discoveredprofiles": {
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "httpMethod": "GET",
                      "description": "Get the health of a discovered workload profile.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      }
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "List discovered workload profiles",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filtering results"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/discoveredprofiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "description": "Required. Name of the resource",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a discovered workload profile."
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "workloadmanager.projects.locations.list",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "id": "workloadmanager.projects.locations.get"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "schemas": {
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "type": "object",
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Collected data is in format.",
          "type": "object"
        }
      }
    },
    "WriteInsightRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      },
      "id": "WriteInsightRequest",
      "type": "object",
      "description": "Request for sending the data insights."
    },
    "SapValidationValidationDetail": {
      "properties": {
        "details": {
          "type": "object",
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "sapValidationType": {
          "description": "Optional. The SAP system that the validation data is from.",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        }
      },
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "type": "object"
    },
    "BigQueryDestination": {
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        }
      },
      "description": "BigQuery destination for evaluation results.",
      "id": "BigQueryDestination",
      "type": "object"
    },
    "Rule": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of user-defined tags."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the rule."
        },
        "primaryCategory": {
          "type": "string",
          "description": "The primary category."
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "ruleType": {
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "type": "string",
          "description": "The type of the rule.",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "assetType": {
          "type": "string",
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
        },
        "displayName": {
          "type": "string",
          "description": "The name display in UI."
        }
      },
      "id": "Rule",
      "type": "object",
      "description": "A rule to be evaluated."
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "type": "object",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source of the health check."
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message of the health check."
        },
        "resource": {
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on.",
          "readOnly": true
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapValidation": {
      "id": "SapValidation",
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "properties": {
        "build": {
          "type": "integer",
          "description": "Optional. The build version number.",
          "format": "int32"
        },
        "major": {
          "description": "Optional. The major version number.",
          "format": "int32",
          "type": "integer"
        },
        "patch": {
          "type": "integer",
          "description": "Optional. The patch version number.",
          "format": "int32"
        },
        "minor": {
          "description": "Optional. The minor version number.",
          "format": "int32",
          "type": "integer"
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "description": "Version is reported as Major.Minor.Build.Patch."
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "properties": {
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        },
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "evaluationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID."
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "engine": {
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "type": "string",
          "description": "Optional. Engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] End time stamp.",
          "format": "google-datetime"
        },
        "externalDataSources": {
          "items": {
            "$ref": "ExternalDataSources"
          },
          "type": "array",
          "description": "Optional. External data sources."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "description": "Output only. [Output only] State."
        },
        "notices": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Additional information generated by the execution.",
          "items": {
            "$ref": "Notice"
          }
        }
      }
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "description": "The body of sap workload",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. The metadata for SAP workload."
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "description": "Output only. The architecture."
        },
        "database": {
          "$ref": "SapComponent",
          "readOnly": true,
          "description": "Output only. database component"
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The products on this workload."
        },
        "application": {
          "$ref": "SapComponent",
          "readOnly": true,
          "description": "Output only. application component"
        }
      }
    },
    "SapDiscoveryMetadata": {
      "properties": {
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "sapProduct": {
          "type": "string",
          "description": "Optional. This SAP product name"
        },
        "customerRegion": {
          "type": "string",
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region."
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryMetadata",
      "type": "object",
      "description": "Message describing SAP discovery system metadata"
    },
    "SapDiscoveryResource": {
      "properties": {
        "resourceType": {
          "type": "string",
          "description": "Required. The type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "relatedResources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "resourceKind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string"
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        }
      },
      "description": "Message describing a resource.",
      "id": "SapDiscoveryResource",
      "type": "object"
    },
    "SapDiscoveryWorkloadProperties": {
      "properties": {
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system."
        },
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object",
      "description": "A set of properties describing an SAP workload."
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "type": "object",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "The list of Execution."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ActuationOutput": {
      "properties": {
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "readOnly": true,
          "type": "string"
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "blueprintId": {
          "type": "string",
          "description": "Reference to the Blueprint Controller deployment and revision resource."
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "ansibleFailedTask": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible.",
          "readOnly": true,
          "type": "array"
        },
        "ansibleError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Ansible."
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ]
        }
      },
      "id": "ActuationOutput",
      "type": "object",
      "description": "Message for output of actuation."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "AgentCommand": {
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the agent one-time executable that will be invoked."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "type": "object"
        }
      },
      "id": "AgentCommand",
      "type": "object",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "type": "object",
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message generated by rule."
        },
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ListScannedResourcesResponse": {
      "properties": {
        "scannedResources": {
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "description": "Response message for the ListScannedResources RPC."
    },
    "TorsoValidation": {
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        }
      },
      "description": "The schema of torso workload validation data.",
      "id": "TorsoValidation",
      "type": "object"
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource.",
      "id": "DeploymentOutput",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the resource."
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "databaseSid": {
          "type": "string",
          "description": "Optional. SID of the system database."
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string"
        },
        "sharedNfsUri": {
          "type": "string",
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node."
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The version of the database software running in the system."
        },
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "description": "A product name and version."
    },
    "AgentStatusIAMPermission": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      },
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "description": "The IAM permission status."
    },
    "AgentStatusConfigValue": {
      "properties": {
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden."
        },
        "name": {
          "description": "Output only. The name of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The configuration value.",
      "id": "AgentStatusConfigValue",
      "type": "object"
    },
    "InstanceProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "roles": {
          "type": "array",
          "description": "Optional. Instance roles.",
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string"
          }
        }
      },
      "description": "Instance Properties.",
      "id": "InstanceProperties",
      "type": "object"
[...]
