{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Workload Manager API",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "discoveryVersion": "v1",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "revision": "20260726",
  "name": "workloadmanager",
  "basePath": "",
  "schemas": {
    "ShellCommand": {
      "id": "ShellCommand",
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the command to be executed."
        },
        "args": {
          "type": "string",
          "description": "Arguments to be passed to the command."
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A ShellCommand is invoked via the agent's command line executor."
    },
    "Insight": {
      "id": "Insight",
      "properties": {
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "sentTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        }
      },
      "type": "object",
      "description": "A presentation of host resource usage where the workload runs."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "properties": {
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        }
      }
    },
    "SapComponent": {
      "type": "object",
      "description": "The component of sap workload",
      "id": "SapComponent",
      "properties": {
        "topologyType": {
          "description": "The detected topology of the component.",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ]
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        },
        "resources": {
          "description": "Output only. resources in the component",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "type": "string",
          "readOnly": true
        },
        "haHosts": {
          "type": "array",
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseProperties": {
      "id": "DatabaseProperties",
      "properties": {
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "readOnly": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "backupProperties": {
          "readOnly": true,
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties."
        }
      },
      "type": "object",
      "description": "Database Properties."
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "type": "object",
      "id": "UpcomingMaintenanceEvent",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. End time",
          "format": "google-datetime"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "properties": {
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ]
        },
        "details": {
          "type": "array",
          "description": "Required. Details wraps map that represents collected data names and values.",
          "items": {
            "$ref": "SqlserverValidationDetails"
          }
        }
      },
      "description": "Message describing the Sqlserver validation metrics.",
      "type": "object"
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "type": "object",
      "id": "WorkloadProfileHealth",
      "properties": {
        "checkTime": {
          "description": "The time when the health check was performed.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        }
      }
    },
    "SapValidation": {
      "id": "SapValidation",
      "properties": {
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        }
      },
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "properties": {
        "database": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. database component"
        },
        "products": {
          "type": "array",
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "items": {
            "$ref": "Product"
          }
        },
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "application": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. application component"
        },
        "architecture": {
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ]
        }
      },
      "description": "The body of sap workload",
      "type": "object"
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "properties": {
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        },
        "numbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "SAP instance properties."
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object",
      "id": "SqlLocationDetails",
      "properties": {
        "dnsZone": {
          "type": "string",
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name."
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode."
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Required. Region name."
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "description": "Required. Internet Access.",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        }
      }
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "properties": {
        "validationDetails": {
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "type": "array",
          "description": "Optional. A list of SqlServer validation metrics data."
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        }
      },
      "type": "object",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data."
    },
    "ListScannedResourcesResponse": {
      "type": "object",
      "description": "Response message for the ListScannedResources RPC.",
      "id": "ListScannedResourcesResponse",
      "properties": {
        "scannedResources": {
          "items": {
            "$ref": "ScannedResource"
          },
          "type": "array",
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "properties": {
        "resourceType": {
          "description": "Required. The type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "relatedResources": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of resource URIs related to this resource."
        },
        "resourceKind": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        }
      },
      "description": "Message describing a resource.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "properties": {
        "refreshedTime": {
          "description": "Required. time when the workload data was refreshed",
          "format": "google-datetime",
          "type": "string"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "description": "Required. The type of the workload",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. such as name, description, version. More example can be found in deployment"
        }
      },
      "type": "object",
      "description": "Workload resource."
    },
    "CloudResource": {
      "id": "CloudResource",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
        },
        "instanceProperties": {
          "readOnly": true,
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties."
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Output only. ",
          "readOnly": true,
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        }
      },
      "type": "object",
      "description": "The resource on GCP"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "AgentStatusConfigValue": {
      "type": "object",
      "description": "The configuration value.",
      "id": "AgentStatusConfigValue",
      "properties": {
        "isDefault": {
          "readOnly": true,
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the configuration value.",
          "readOnly": true
        },
        "value": {
          "readOnly": true,
          "description": "Output only. The value of the configuration value.",
          "type": "string"
        }
      }
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "properties": {
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "customTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Network tags.",
          "type": "array"
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. DNS zone name."
        },
        "vpcName": {
          "type": "string",
          "description": "Required. VPC name."
        },
        "subnetName": {
          "type": "string",
          "description": "Required. Subnet name."
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. DNS zone name suffix."
        },
        "networkProject": {
          "type": "string",
          "description": "Optional. Network project."
        },
        "internetAccess": {
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Message for SAP instance details."
    },
    "ServiceStates": {
      "type": "object",
      "description": "The state of the service.",
      "id": "ServiceStates",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "description": "Output only. The overall state of the service.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "type": "array",
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        }
      }
    },
    "SqlServerWorkload": {
      "id": "SqlServerWorkload",
      "properties": {
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "mediaBucket": {
          "description": "Required. Name of the media storing SQL server installation files.",
          "type": "string"
        },
        "fciType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ]
        },
        "haType": {
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ]
        },
        "deploymentModel": {
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ]
        },
        "osImage": {
          "type": "string",
          "description": "Required. The image of the operating system."
        },
        "sqlServerEdition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ],
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ]
        },
        "osImageType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "sqlServerVersion": {
          "description": "Optional. 2017, 2019, or 2022.",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ]
        },
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "description": "Required. Deployment environment.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "location": {
          "description": "Required. Location details.",
          "$ref": "SqlLocationDetails"
        },
        "activeDirectory": {
          "description": "Required. Active Directory details.",
          "$ref": "ActiveDirectory"
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "operatingSystemType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ]
        },
        "vmPrefix": {
          "type": "string",
          "description": "Required. Should be unique in the project."
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        }
      },
      "description": "Message for MS SQL workload.",
      "type": "object"
    },
    "IAMPermission": {
      "type": "object",
      "description": "The IAM permission status.",
      "id": "IAMPermission",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        },
        "granted": {
          "readOnly": true,
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean"
        }
      }
    },
    "Evaluation": {
      "id": "Evaluation",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime"
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "customRulesBucket": {
          "type": "string",
          "description": "The Cloud Storage bucket name for custom rules."
        },
        "resourceStatus": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource."
        },
        "description": {
          "type": "string",
          "description": "Description of the Evaluation."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "format": "google-datetime"
        },
        "evaluationType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "description": "Evaluation type.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        }
      },
      "type": "object",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources."
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "type": "object"
    },
    "DeploymentOutput": {
      "type": "object",
      "description": "Message for output of deployment resource.",
      "id": "DeploymentOutput",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      }
    },
    "GceInstanceFilter": {
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "id": "GceInstanceFilter",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Actuation": {
      "id": "Actuation",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "description": "Output only. Actuation state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ]
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Start time stamp.",
          "format": "google-datetime"
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        },
        "deploymentOutput": {
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output.",
          "type": "array"
        },
        "endTime": {
          "type": "string",
          "description": "Output only. End time stamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "actuationOutput": {
          "readOnly": true,
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output."
        }
      },
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "id": "ListDiscoveredProfilesResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true
        },
        "workloadProfiles": {
          "type": "array",
          "description": "Output only. The list of workload profiles",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          }
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "properties": {
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        },
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        }
      },
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object"
    },
    "Command": {
      "type": "object",
      "description": "Command specifies the type of command to execute.",
      "id": "Command",
      "properties": {
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        },
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        }
      }
    },
    "Database": {
      "id": "Database",
      "properties": {
        "tempdbOnSsd": {
          "type": "boolean",
          "description": "Required. Whether to have TempDB on local SSD."
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. Only useful for Linux High Availability setup."
        },
        "tenancyModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "description": "Required. SHARED or SOLE_TENANT.",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ]
        },
        "soleTenantNode": {
          "type": "string",
          "description": "Optional. The name of a primary sole-tenant node/node group."
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        }
      },
      "description": "Database details.",
      "type": "object"
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data."
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "description": "Required. Type of external data source.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ]
        }
      },
      "type": "object",
      "description": "External data sources for an execution."
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "properties": {
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "configValues": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "type": "array",
          "description": "Output only. The configuration values for the service."
        },
        "iamPermissions": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "type": "array",
          "description": "Output only. The permissions required for the service."
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the service.",
          "type": "string",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration)."
        }
      },
      "type": "object",
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "BackupProperties": {
      "type": "object",
      "description": "Backup properties.",
      "id": "BackupProperties",
      "properties": {
        "latestBackupStatus": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true,
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ]
        },
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "Product": {
      "id": "Product",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Contains the details of a product."
    },
    "ComponentHealth": {
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object",
      "id": "ComponentHealth",
      "properties": {
        "componentHealthType": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "componentHealthChecks": {
          "items": {
            "$ref": "HealthCheck"
          },
          "type": "array",
          "description": "The detailed health checks of the component."
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "subComponentsHealth": {
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array",
          "description": "Sub component health."
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true
        }
      }
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "type": "object",
      "id": "ListRulesResponse",
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      }
    },
    "ResourceFilter": {
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array"
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "inclusionLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`."
        }
      }
    },
    "AgentStatusReference": {
      "id": "AgentStatusReference",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the reference.",
          "type": "string"
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the reference.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The reference to public documentation."
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "id": "SapDiscoveryComponentApplicationProperties",
      "properties": {
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "ascsInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ASCS instance."
        },
        "appInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        },
        "applicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ]
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        }
      }
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Details of the violation."
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        }
      },
      "type": "object",
      "description": "The violation in an evaluation result."
    },
    "SapValidationValidationDetail": {
      "type": "object",
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The pairs of metrics data: field name & field value."
        },
        "sapValidationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ]
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "properties": {
        "minor": {
          "type": "integer",
          "description": "Optional. The minor version number.",
          "format": "int32"
        },
        "major": {
          "type": "integer",
          "description": "Optional. The major version number.",
          "format": "int32"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "format": "int32",
          "type": "integer"
        },
        "build": {
          "description": "Optional. The build version number.",
          "format": "int32",
          "type": "integer"
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        }
      },
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "properties": {
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        },
        "databaseType": {
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "sharedNfsUri": {
          "type": "string",
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node."
        }
      },
      "description": "A set of properties describing an SAP Database layer.",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the disk."
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array"
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        }
      },
      "description": "Disk mount on the instance.",
      "type": "object"
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "description": "A scanned resource.",
      "type": "object"
    },
    "Summary": {
      "id": "Summary",
      "properties": {
        "failures": {
          "type": "string",
          "description": "Output only. Number of failures.",
          "format": "int64",
          "readOnly": true
        },
        "newFailures": {
          "readOnly": true,
          "description": "Output only. Number of new failures compared to the previous execution.",
          "format": "int64",
          "type": "string"
        },
        "newFixes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Execution summary."
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "properties": {
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          }
        },
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ]
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "hostProject": {
          "type": "string",
          "description": "Required. Pantheon Project in which the resources reside."
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array"
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        }
      },
      "description": "Message describing the system component.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. The component's major version."
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Optional. The component's type."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the component."
        }
      },
      "type": "object",
      "description": "A SAP software component name, version, and type."
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "properties": {
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for the ListEvaluations RPC.",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A product name and version."
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "properties": {
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "type": "string",
          "description": "Required. Pacemaker cluster secret name."
        },
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. Bucket location for node certificates."
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Pacemaker configuration."
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "properties": {
        "details": {
          "type": "object",
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. The message generated by rule.",
          "readOnly": true
        }
      },
      "description": "The rule output of the violation.",
      "type": "object"
    },
    "AgentStates": {
      "id": "AgentStates",
      "properties": {
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        }
      },
      "description": "Agent status.",
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "ActuationOutput": {
      "type": "object",
      "description": "Message for output of actuation.",
      "id": "ActuationOutput",
      "properties": {
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "errorCode": {
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation."
        },
        "ansibleError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Ansible."
        },
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "type": "string",
          "readOnly": true
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "terraformTemplate": {
          "type": "string",
          "description": "Reference to the Terraform template used."
        },
        "hasUserFacingErrorMsg": {
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "type": "boolean",
          "readOnly": true
        },
        "errorLogs": {
          "type": "string",
          "description": "A link to the actuation Cloud Build log."
        }
      }
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "properties": {
        "actuations": {
          "description": "The list of actuations.",
          "type": "array",
          "items": {
            "$ref": "Actuation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response object from `ListActuations`.",
      "type": "object"
    },
    "WriteInsightRequest": {
      "id": "WriteInsightRequest",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request for sending the data insights.",
      "type": "object"
    },
    "AppDetails": {
      "id": "AppDetails",
      "properties": {
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ASCS machine type."
        },
        "image": {
          "type": "string",
          "description": "Required. Image for the app server and ASCS server."
        },
        "appVmNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Customized VM names.",
          "type": "array"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "format": "int32",
          "type": "integer"
        },
        "ascsVm": {
          "type": "string",
          "description": "Optional. ASCS VM name."
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "ascsImage": {
          "type": "string",
          "description": "Required. Image for the ASCS server."
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for SAP instance details."
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "type": "object",
      "id": "SapDiscoveryResourceInstanceProperties",
      "properties": {
        "instanceNumber": {
          "type": "string",
          "description": "Optional. The VM's instance number.",
          "deprecated": true,
          "format": "int64"
        },
        "instanceRole": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "virtualHostname": {
          "type": "string",
          "description": "Optional. A virtual hostname of the instance if it has one."
        },
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          }
        },
        "diskMounts": {
          "type": "array",
          "description": "Optional. Disk mounts on the instance.",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        },
        "clusterInstances": {
          "type": "array",
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "properties": {
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. Instance ID."
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        }
      },
      "description": "Message for SAP instance details.",
      "type": "object"
    },
    "SapDiscoveryWorkloadProperties": {
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system."
        },
        "softwareComponentVersions": {
          "type": "array",
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        }
      },
      "description": "A set of properties describing an SAP workload.",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "properties": {
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Message for response to listing deployments."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "ExecutionResult": {
      "type": "object",
      "description": "The result of an execution.",
      "id": "ExecutionResult",
      "properties": {
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "documentationUrl": {
          "type": "string",
          "description": "The URL for the documentation of the rule."
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "description": "The commands to remediate the violation.",
          "type": "array"
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        }
      }
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "properties": {
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "roles": {
          "type": "array",
          "description": "Optional. Instance roles.",
          "items": {
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ]
          }
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Instance Properties."
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "properties": {
        "fields": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Collected data is in format.",
          "type": "object"
        }
      },
      "description": "Message containing collected data names and values.",
      "type": "object"
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "type": "object",
      "id": "Rule",
      "properties": {
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "revisionId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The version of the rule."
        },
        "displayName": {
          "type": "string",
          "description": "The name display in UI."
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "ruleType": {
          "description": "The type of the rule.",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ]
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "primaryCategory": {
          "type": "string",
          "description": "The primary category."
        },
        "tags": {
          "type": "array",
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        }
      }
    },
[...]
