{
  "basePath": "",
  "kind": "discovery#restDescription",
  "revision": "20260728",
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "servicePath": "",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "canonicalName": "Workflow Executions",
  "documentationLink": "https://cloud.google.com/workflows",
  "protocol": "rest",
  "title": "Workflow Executions API",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "workflowexecutions:v1beta",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "cancel": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Cancels an execution of the given name.",
                      "path": "v1beta/{+name}:cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1beta/{+parent}/executions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "view": {
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        },
                        "name": {
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "required": true
                        }
                      },
                      "description": "Returns an execution of the given name.",
                      "response": {
                        "$ref": "Execution"
                      }
                    },
                    "create": {
                      "path": "v1beta/{+parent}/executions",
                      "request": {
                        "$ref": "Execution"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "location": "path"
                        }
                      },
                      "description": "Creates a new execution using the latest revision of the given workflow."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "description": "Execute workflows created with Workflows API.",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "schemas": {
    "StackTraceElement": {
      "properties": {
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "step": {
          "type": "string",
          "description": "The step the error occurred at."
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        }
      },
      "description": "A single stack element (frame) where an error occurred.",
      "id": "StackTraceElement",
      "type": "object"
    },
    "Error": {
      "properties": {
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "Stack trace with detailed information of where error was generated."
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "id": "Error",
      "type": "object"
    },
    "StackTrace": {
      "properties": {
        "elements": {
          "description": "An array of stack elements.",
          "type": "array",
          "items": {
            "$ref": "StackTraceElement"
          }
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "id": "StackTrace",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "properties": {
        "executions": {
          "description": "The executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListExecutionsResponse",
      "type": "object",
      "description": "Response for the ListExecutions method."
    },
    "Execution": {
      "properties": {
        "callLogLevel": {
          "description": "The call logging level associated to this execution.",
          "type": "string",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ]
        },
        "workflowRevisionId": {
          "readOnly": true,
          "description": "Output only. Revision of the workflow this execution is using.",
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`"
        },
        "result": {
          "type": "string",
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "status": {
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "$ref": "Error",
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`."
        },
        "startTime": {
          "description": "Output only. Marks the beginning of execution.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "type": "string",
          "description": "Output only. Current state of the execution."
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Marks the end of execution, successful or not.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Execution",
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows)."
    },
    "Status": {
      "properties": {
        "currentSteps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      },
      "description": "Represents the current status of this execution.",
      "id": "Status",
      "type": "object"
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "properties": {
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        },
        "length": {
          "description": "The number of bytes of source code making up this stack trace element.",
          "type": "string",
          "format": "int64"
        },
        "line": {
          "type": "string",
          "format": "int64",
          "description": "The source code line number the current instruction was generated from."
        }
      }
    },
    "Step": {
      "description": "Represents a step of the workflow this execution is running.",
      "id": "Step",
      "type": "object",
      "properties": {
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        },
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        }
      }
    },
    "CancelExecutionRequest": {
      "description": "Request for the CancelExecution method.",
      "id": "CancelExecutionRequest",
      "type": "object",
      "properties": {}
    }
  },
  "name": "workflowexecutions"
}