{
  "protocol": "rest",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "name": "workloadmanager",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version_module": true,
  "id": "workloadmanager:v1",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "id": "workloadmanager.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "repeated": true
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "workloadmanager.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. ID of the deployment.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Deployment in a given project and location.",
                  "request": {
                    "$ref": "Deployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments"
                },
                "list": {
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "description": "Lists Deployments in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter resource following https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "response": {
                    "$ref": "Deployment"
                  },
                  "description": "Gets details of a single Deployment.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Deployment.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any actuation will also be deleted. Follows the best practice from https://aip.dev/135#cascading-delete.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "actuations": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'."
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new actuation for an existing Deployment.",
                      "path": "v1/{+parent}/actuations",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "required": true
                        },
                        "filter": {
                          "description": "Optional. Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "path": "v1/{+parent}/actuations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "description": "Gets details of a single Actuation.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single Actuation.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the actuation to delete. projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "discoveredprofiles": {
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "description": "Get the health of a discovered workload profile.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "description": "Gets details of a discovered workload profile.",
                  "httpMethod": "GET"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "description": "List discovered workload profiles",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/discoveredprofiles"
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                }
              }
            },
            "evaluations": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/evaluations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Evaluation in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "location": "path",
                      "type": "string"
                    },
                    "evaluationId": {
                      "location": "query",
                      "description": "Required. Id of the requesting object.",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Evaluation."
                },
                "patch": {
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Evaluation.",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+name}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "description": "Gets details of a single Evaluation.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/evaluations",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter to be applied when listing the evaluation results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "description": "Lists Evaluations in a given project and location.",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Gets details of a single Execution.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the resource."
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single Execution."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.",
                          "type": "string",
                          "location": "query"
                        },
                        "filter": {
                          "description": "Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "description": "Lists Executions in a given project and location.",
                      "path": "v1/{+parent}/executions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "run": {
                      "httpMethod": "POST",
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "path": "v1/{+name}/executions:run"
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "required": true,
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results.",
                              "type": "string",
                              "location": "path"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Filtering results.",
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "description": "Lists the result of a single evaluation.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/results"
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "description": "List all scanned resources for a single Execution.",
                          "parameters": {
                            "orderBy": {
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "type": "string",
                              "location": "query"
                            },
                            "rule": {
                              "description": "Rule name.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Filtering results.",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/scannedResources",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/rules",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.rules.list",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "description": "Lists rules in a given project.",
                  "parameters": {
                    "customRulesBucket": {
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "evaluationType": {
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "type": "string",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ],
                      "location": "query",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ]
                    },
                    "parent": {
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "insights": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete the data insights from workload manager data warehouse."
                },
                "writeInsight": {
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+location}/insights:writeInsight",
                  "httpMethod": "POST",
                  "parameters": {
                    "location": {
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "description": "Write the data insights to workload manager data warehouse."
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "canonicalName": "Workload Manager",
  "schemas": {
    "ListExecutionResultsResponse": {
      "id": "ListExecutionResultsResponse",
      "description": "Response message for the ListExecutionResults RPC.",
      "type": "object",
      "properties": {
        "executionResults": {
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be evaluated.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "ruleType": {
          "description": "The type of the rule.",
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ]
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "tags": {
          "description": "List of user-defined tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "readOnly": true,
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryMetadata": {
      "id": "SapDiscoveryMetadata",
      "description": "Message describing SAP discovery system metadata",
      "type": "object",
      "properties": {
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "type": "object",
      "properties": {
        "major": {
          "description": "Optional. The major version number.",
          "type": "integer",
          "format": "int32"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "description": "Optional. The minor version number.",
          "type": "integer",
          "format": "int32"
        },
        "build": {
          "format": "int32",
          "description": "Optional. The build version number.",
          "type": "integer"
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "properties": {
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sentTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        }
      }
    },
    "DeploymentOutput": {
      "id": "DeploymentOutput",
      "description": "Message for output of deployment resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      }
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "description": "SAP instance properties.",
      "type": "object",
      "properties": {
        "numbers": {
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "type": "array"
        },
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        }
      }
    },
    "DatabaseProperties": {
      "id": "DatabaseProperties",
      "description": "Database Properties.",
      "type": "object",
      "properties": {
        "databaseType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc."
        },
        "backupProperties": {
          "description": "Output only. Backup properties.",
          "readOnly": true,
          "$ref": "BackupProperties"
        }
      }
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "description": "Pacemaker configuration.",
      "type": "object",
      "properties": {
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      }
    },
    "AgentStatusIAMPermission": {
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "AgentStatusReference": {
      "id": "AgentStatusReference",
      "description": "The reference to public documentation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the reference.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload.",
      "type": "object",
      "properties": {
        "scalingMethod": {
          "description": "Required. Supports scale up and scale out.",
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ]
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "database": {
          "description": "Database details.",
          "$ref": "DatabaseDetails"
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "environmentType": {
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "description": "Required. Deployment environment.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Required. Supports non-HA and HA models.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ]
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "version": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Required. SAP HANA version.",
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ]
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        }
      }
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC.",
      "type": "object",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "description": "The result of an execution.",
      "type": "object",
      "properties": {
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "description": "The commands to remediate the violation.",
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "validationDetails": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ]
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "description": "Active Directory details.",
      "type": "object",
      "properties": {
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ],
          "description": "Required. Active Directory type.",
          "type": "string",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ]
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as “google.com”.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "properties": {
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean",
          "deprecated": true
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        }
      }
    },
    "SapComponent": {
      "id": "SapComponent",
      "description": "The component of sap workload",
      "type": "object",
      "properties": {
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topologyType": {
          "description": "The detected topology of the component.",
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ]
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        },
        "resources": {
          "description": "Output only. resources in the component",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          }
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation.",
      "type": "object",
      "properties": {
        "inventoryTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "description": "Output only. [Output only] State."
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "type": "string"
        },
        "engine": {
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "description": "Optional. Engine.",
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Notice"
          }
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "externalDataSources": {
          "description": "Optional. External data sources.",
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          }
        },
        "runType": {
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "ruleResults": {
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "description": "The rule output of the violation.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "state": {
          "description": "Output only. Current state of the deployment.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp.",
          "readOnly": true,
          "type": "string"
        },
        "terraformVariables": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Create time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "description": "Optional. Workload type of the deployment.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ]
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        }
      }
    },
    "AppDetails": {
      "id": "AppDetails",
      "description": "Message for SAP instance details.",
      "type": "object",
      "properties": {
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "type": "integer",
          "format": "int32"
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        }
      }
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "type": "object",
      "properties": {
        "componentsHealth": {
          "items": {
[...]
