{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "workflowexecutions",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Workflow Executions",
  "ownerName": "Google",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Error": {
      "type": "object",
      "id": "Error",
      "description": "Error describes why the execution was abnormally terminated.",
      "properties": {
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "stackTrace": {
          "$ref": "StackTrace",
          "description": "Stack trace with detailed information of where error was generated."
        }
      }
    },
    "CancelExecutionRequest": {
      "properties": {},
      "id": "CancelExecutionRequest",
      "description": "Request for the CancelExecution method.",
      "type": "object"
    },
    "Position": {
      "properties": {
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "description": "The source code column position (of the line) the current instruction was generated from.",
          "format": "int64",
          "type": "string"
        },
        "length": {
          "type": "string",
          "description": "The number of bytes of source code making up this stack trace element.",
          "format": "int64"
        }
      },
      "id": "Position",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "currentSteps": {
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        }
      },
      "id": "Status",
      "description": "Represents the current status of this execution.",
      "type": "object"
    },
    "Execution": {
      "id": "Execution",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
      "properties": {
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Marks the end of execution, successful or not.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution."
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the execution.",
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ]
        },
        "callLogLevel": {
          "type": "string",
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "description": "The call logging level associated to this execution.",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ]
        },
        "workflowRevisionId": {
          "description": "Output only. Revision of the workflow this execution is using.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. Marks the beginning of execution.",
          "format": "google-datetime",
          "type": "string"
        },
        "result": {
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "$ref": "Error",
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "StackTrace": {
      "properties": {
        "elements": {
          "type": "array",
          "description": "An array of stack elements.",
          "items": {
            "$ref": "StackTraceElement"
          }
        }
      },
      "id": "StackTrace",
      "description": "A collection of stack elements (frames) where an error occurred.",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "properties": {
        "executions": {
          "description": "The executions which match the request.",
          "items": {
            "$ref": "Execution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExecutionsResponse",
      "description": "Response for the ListExecutions method.",
      "type": "object"
    },
    "StackTraceElement": {
      "type": "object",
      "properties": {
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "step": {
          "type": "string",
          "description": "The step the error occurred at."
        },
        "position": {
          "$ref": "Position",
          "description": "The source position information of the stack trace element."
        }
      },
      "id": "StackTraceElement",
      "description": "A single stack element (frame) where an error occurred."
    },
    "Step": {
      "type": "object",
      "id": "Step",
      "description": "Represents a step of the workflow this execution is running.",
      "properties": {
        "step": {
          "type": "string",
          "description": "Name of a step within the routine."
        },
        "routine": {
          "type": "string",
          "description": "Name of a routine within the workflow."
        }
      }
    }
  },
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "documentationLink": "https://cloud.google.com/workflows",
  "description": "Execute workflows created with Workflows API.",
  "basePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "servicePath": "",
  "revision": "20260715",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "title": "Workflow Executions API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "protocol": "rest",
  "id": "workflowexecutions:v1beta",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "httpMethod": "GET",
                      "description": "Returns an execution of the given name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+name}",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "parameters": {
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      }
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Cancels an execution of the given name.",
                      "httpMethod": "POST",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "path": "v1beta/{+name}:cancel"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "httpMethod": "GET",
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ]
                        },
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token."
                        }
                      },
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "create": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Execution"
                      },
                      "response": {
                        "$ref": "Execution"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta"
}