{
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "version_module": true,
  "version": "v1",
  "revision": "20260715",
  "title": "Workload Manager API",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "id": "workloadmanager:v1",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "discoveryVersion": "v1",
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Evaluation": {
      "properties": {
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "ruleNames": {
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation.",
          "type": "array"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationType": {
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      },
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object"
    },
    "ExecutionResult": {
      "properties": {
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        }
      },
      "description": "The result of an execution.",
      "type": "object",
      "id": "ExecutionResult"
    },
    "SapWorkload": {
      "properties": {
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "readOnly": true,
          "description": "Output only. The architecture.",
          "type": "string"
        },
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata for SAP workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "application": {
          "$ref": "SapComponent",
          "readOnly": true,
          "description": "Output only. application component"
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Product"
          }
        }
      },
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "type": "object"
    },
    "AppDetails": {
      "properties": {
        "vmsMultiplier": {
          "format": "int32",
          "description": "Required. VMs multiplier.",
          "type": "integer"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        }
      },
      "id": "AppDetails",
      "description": "Message for SAP instance details.",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "scannedResources": {
          "description": "All scanned resources in response.",
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          }
        }
      }
    },
    "BackupProperties": {
      "properties": {
        "latestBackupStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "description": "Output only. The state of the latest backup.",
          "type": "string",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ]
        },
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Backup properties.",
      "type": "object",
      "id": "BackupProperties"
    },
    "SapComponent": {
      "id": "SapComponent",
      "description": "The component of sap workload",
      "type": "object",
      "properties": {
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "description": "Output only. resources in the component",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "type": "string",
          "readOnly": true
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "The detected topology of the component.",
          "type": "string"
        },
        "databaseProperties": {
          "readOnly": true,
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties."
        }
      }
    },
    "Summary": {
      "description": "Execution summary.",
      "type": "object",
      "id": "Summary",
      "properties": {
        "failures": {
          "format": "int64",
          "description": "Output only. Number of failures.",
          "type": "string",
          "readOnly": true
        },
        "newFixes": {
          "readOnly": true,
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "type": "string",
          "format": "int64"
        },
        "newFailures": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of new failures compared to the previous execution.",
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "description": "The rule output of the violation.",
      "type": "object",
      "properties": {
        "message": {
          "readOnly": true,
          "description": "Output only. The message generated by rule.",
          "type": "string"
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Violation details generated by rule.",
          "type": "object",
          "readOnly": true
        }
      }
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the configuration value.",
          "type": "string"
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "type": "string",
          "readOnly": true
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "description": "Disk mount on the instance.",
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "properties": {
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array"
        }
      }
    },
    "ListActuationsResponse": {
      "properties": {
        "actuations": {
          "description": "The list of actuations.",
          "type": "array",
          "items": {
            "$ref": "Actuation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The response object from `ListActuations`.",
      "type": "object",
      "id": "ListActuationsResponse"
    },
    "ShellCommand": {
      "properties": {
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      },
      "id": "ShellCommand",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "type": "object"
    },
    "ResourceFilter": {
      "properties": {
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "type": "array"
        },
        "inclusionLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object"
        }
      },
      "id": "ResourceFilter",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "type": "object"
    },
    "ListRulesResponse": {
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      },
      "id": "ListRulesResponse",
      "description": "Response message for the ListRules RPC.",
      "type": "object"
    },
    "WriteInsightResponse": {
      "properties": {},
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "type": "object"
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result.",
      "type": "object",
      "properties": {
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "ruleOutput": {
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "type": "array"
        }
      }
    },
    "GceInstanceFilter": {
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A filter for matching Compute Engine instances.",
      "type": "object",
      "id": "GceInstanceFilter"
    },
    "DatabaseProperties": {
      "properties": {
        "databaseType": {
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "readOnly": true,
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "type": "string"
        },
        "backupProperties": {
          "$ref": "BackupProperties",
          "readOnly": true,
          "description": "Output only. Backup properties."
        }
      },
      "description": "Database Properties.",
      "type": "object",
      "id": "DatabaseProperties"
    },
    "IAMPermission": {
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "type": "string",
          "readOnly": true
        },
        "workloadProfiles": {
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "id": "ListDiscoveredProfilesResponse"
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "type": "object",
      "id": "WriteInsightRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        }
      }
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "description": "Message for SAP instance details.",
      "type": "object",
      "properties": {
        "internetAccess": {
          "type": "string",
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "customTags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Network tags.",
          "type": "array"
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        }
      }
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC.",
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AgentCommand": {
      "properties": {
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "type": "object"
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      },
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "type": "object",
      "id": "AgentCommand"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "properties": {
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        }
      },
      "description": "A product name and version.",
      "type": "object",
      "id": "SapDiscoveryWorkloadPropertiesProductVersion"
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "description": "Message describing the Sqlserver validation metrics.",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values.",
          "type": "array"
        },
        "type": {
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "type": "string",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ]
        }
      }
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "type": "object",
      "id": "ActuationOutput",
      "properties": {
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "type": "string",
          "readOnly": true
        },
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "type": "string",
          "readOnly": true
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "type": "boolean"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object",
      "properties": {
        "componentHealthType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "readOnly": true
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          }
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "description": "Output only. The health state of the component.",
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "ScannedResource": {
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "ScannedResource",
      "description": "A scanned resource.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "type": "object",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "SapDiscoveryComponentReplicationSite": {
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the service.",
          "type": "string",
          "readOnly": true
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string",
          "readOnly": true
        },
        "fullyFunctional": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configValues": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service.",
          "type": "array"
        },
        "errorMessage": {
          "description": "Output only. The error message for the service if it is not fully functional.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        }
      }
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "description": "Message describing the SAP validation metrics.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sapValidationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ]
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      }
    },
    "CloudResource": {
      "properties": {
        "kind": {
          "description": "Output only. ",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "readOnly": true,
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "type": "string"
        },
        "instanceProperties": {
          "readOnly": true,
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties."
        }
      },
      "id": "CloudResource",
      "description": "The resource on GCP",
      "type": "object"
    },
    "BigQueryDestination": {
      "description": "BigQuery destination for evaluation results.",
      "type": "object",
      "id": "BigQueryDestination",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      }
    },
    "Deployment": {
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "description": "Optional. Workload type of the deployment.",
          "type": "string"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "terraformVariables": {
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          }
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Create time stamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Current state of the deployment.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time stamp.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        },
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "type": "object"
    },
    "SapSystemS4Config": {
      "properties": {
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "scalingMethod": {
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "description": "Required. Supports scale up and scale out.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ]
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "version": {
          "description": "Required. SAP HANA version.",
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "database": {
          "description": "Database details.",
          "$ref": "DatabaseDetails"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "environmentType": {
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "description": "Required. Deployment environment.",
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "deploymentModel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Required. Supports non-HA and HA models.",
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ]
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        }
      },
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload.",
      "type": "object"
    },
    "Database": {
      "properties": {
        "tenancyModel": {
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ]
        },
        "floatingIpAddress": {
          "description": "Optional. Only useful for Linux High Availability setup.",
          "type": "string"
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        }
      },
      "description": "Database details.",
      "type": "object",
      "id": "Database"
    },
    "Insight": {
      "properties": {
        "sentTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        }
      },
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "id": "Insight"
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "type": "object",
      "properties": {
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        }
      }
    },
    "InstanceProperties": {
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "roles": {
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string"
          },
          "description": "Optional. Instance roles.",
          "type": "array"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        }
      },
      "id": "InstanceProperties",
      "description": "Instance Properties.",
      "type": "object"
    },
    "SapDiscoveryWorkloadProperties": {
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array"
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "description": "A set of properties describing an SAP workload.",
      "type": "object"
    },
    "DatabaseDetails": {
      "description": "Message for SAP instance details.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        }
      }
    },
    "SapDiscovery": {
      "properties": {
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "systemId": {
          "readOnly": true,
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string"
        }
      },
      "id": "SapDiscovery",
      "description": "The schema of SAP system discovery data.",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "properties": {
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. End time",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        }
      },
      "description": "Maintenance Event",
      "type": "object",
      "id": "UpcomingMaintenanceEvent"
    },
    "ActiveDirectory": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ],
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "description": "Required. Active Directory type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as `example.com`.",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        }
      },
      "description": "Active Directory details.",
      "type": "object",
      "id": "ActiveDirectory"
    },
    "Execution": {
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation.",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp.",
          "type": "string",
          "readOnly": true
        },
        "inventoryTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Inventory time stamp.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "externalDataSources": {
          "description": "Optional. External data sources.",
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          }
        },
        "engine": {
          "description": "Optional. Engine.",
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "runType": {
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Notice"
          }
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "resultSummary": {
          "$ref": "Summary",
          "readOnly": true,
          "description": "Output only. [Output only] Result summary for the execution."
        },
        "state": {
          "description": "Output only. [Output only] State.",
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "properties": {
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        }
      },
      "description": "A set of properties describing an SAP Database layer.",
      "type": "object",
      "id": "SapDiscoveryComponentDatabaseProperties"
    },
    "SqlLocationDetails": {
      "properties": {
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "internetAccess": {
          "description": "Required. Internet Access.",
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ]
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        }
      },
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object",
      "id": "SqlLocationDetails"
    },
    "ExternalDataSources": {
      "properties": {
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "description": "Required. Type of external data source.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ]
        }
      },
      "id": "ExternalDataSources",
      "description": "External data sources for an execution.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "Resource": {
      "description": "Resource in execution result.",
      "type": "object",
      "id": "Resource",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of deployments.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "AgentStates": {
      "description": "Agent status.",
      "type": "object",
      "id": "AgentStates",
      "properties": {
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        }
      }
    },
    "SapDiscoveryComponent": {
      "properties": {
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "Optional. The detected topology of the component.",
          "type": "string"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        }
      },
      "description": "Message describing the system component.",
      "type": "object",
      "id": "SapDiscoveryComponent"
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "type": "object",
      "id": "AgentStatusReference",
      "properties": {
        "name": {
          "description": "Output only. The name of the reference.",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AgentStatus": {
      "id": "AgentStatus",
      "description": "The schema of agent status data.",
      "type": "object",
      "properties": {
        "references": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          },
          "description": "Output only. Optional references to public documentation.",
          "type": "array"
        },
        "availableVersion": {
          "readOnly": true,
          "description": "Output only. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "configurationValid": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "instanceUri": {
          "readOnly": true,
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string"
        },
        "agentName": {
          "description": "Output only. The name of the agent.",
          "type": "string",
          "readOnly": true
        },
        "cloudApiAccessFullScopesGranted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string",
          "readOnly": true
        },
        "services": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array"
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationErrorMessage": {
          "readOnly": true,
          "description": "Output only. The error message for the agent configuration if invalid.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "readOnly": true
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "ServiceStates": {
      "description": "The state of the service.",
      "type": "object",
      "id": "ServiceStates",
      "properties": {
        "state": {
          "description": "Output only. The overall state of the service.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        }
      }
    },
    "SapDiscoveryMetadata": {
      "properties": {
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        }
      },
      "id": "SapDiscoveryMetadata",
      "description": "Message describing SAP discovery system metadata",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "properties": {
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        },
        "major": {
          "format": "int32",
          "description": "Optional. The major version number.",
          "type": "integer"
        },
        "minor": {
          "format": "int32",
          "description": "Optional. The minor version number.",
          "type": "integer"
        },
        "build": {
          "format": "int32",
          "description": "Optional. The build version number.",
          "type": "integer"
        }
      }
    },
    "Actuation": {
      "properties": {
        "deploymentOutput": {
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output.",
          "type": "array"
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Start time stamp.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "readOnly": true,
          "description": "Output only. Actuation state.",
          "type": "string"
        },
        "actuationOutput": {
          "description": "Output only. Actuation output.",
          "$ref": "ActuationOutput",
          "readOnly": true
        }
      },
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object",
      "id": "Actuation"
    },
    "WorkloadProfileHealth": {
      "properties": {
        "checkTime": {
          "format": "google-datetime",
          "description": "The time when the health check was performed.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The health state of the workload.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        }
      },
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "type": "object",
      "id": "WorkloadProfileHealth"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "type": "object",
      "id": "Product",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "Notice": {
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Notice",
      "description": "Additional information generated by an execution.",
      "type": "object"
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "properties": {
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean",
          "deprecated": true
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        }
      }
    },
    "Command": {
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "description": "Command specifies the type of command to execute.",
      "type": "object",
      "id": "Command"
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource.",
      "type": "object",
      "properties": {
        "resourceKind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "type": "string"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "resourceType": {
          "description": "Required. The type of this resource.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AgentStatusIAMPermission": {
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        },
        "granted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "type": "string"
        }
      },
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "description": "Response message for the ListExecutions RPC.",
      "type": "object",
      "properties": {
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "description": "The list of Execution.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "SqlserverValidationDetails": {
      "properties": {
        "fields": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. Collected data is in format.",
          "type": "object"
        }
      },
      "id": "SqlserverValidationDetails",
      "description": "Message containing collected data names and values.",
      "type": "object"
    },
    "ResourceStatus": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "description": "State of the Evaluation resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "description": "The lifecycle status of an Evaluation resource.",
      "type": "object",
      "id": "ResourceStatus"
    },
    "SapInstanceProperties": {
      "properties": {
        "numbers": {
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "type": "array",
          "items": {
[...]
