{
  "ownerDomain": "google.com",
  "servicePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "name": "workloadmanager",
  "version_module": true,
  "schemas": {
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "description": "Disk mount on the instance.",
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object",
      "properties": {
        "diskNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point."
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "type": "object",
      "properties": {
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        },
        "fullyFunctional": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "errorMessage": {
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true,
          "type": "string"
        },
        "configValues": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service.",
          "readOnly": true
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the service.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        }
      },
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload.",
      "id": "SqlLocationDetails",
      "type": "object",
      "properties": {
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "description": "Required. Internet Access."
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        }
      }
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "id": "SapValidation",
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "description": "Optional. A list of SAP validation metrics data."
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "properties": {
        "latestBackupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the latest backup was performed."
        },
        "latestBackupStatus": {
          "description": "Output only. The state of the latest backup.",
          "readOnly": true,
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ]
        }
      },
      "description": "Backup properties."
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "properties": {
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. Only useful for Linux High Availability setup.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "tenancyModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT."
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        },
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        }
      },
      "description": "Database details."
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "type": "object",
      "properties": {
        "metric": {
          "type": "string",
          "description": "Output only. The health check source metric name.",
          "readOnly": true
        },
        "resource": {
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on.",
          "readOnly": true
        },
        "source": {
          "description": "Output only. The source of the health check.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check.",
          "readOnly": true
        }
      },
      "description": "HealthCheck contains the detailed health check of a component based on asource."
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "executions": {
          "description": "The list of Execution.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "Actuation": {
      "id": "Actuation",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Start time stamp.",
          "readOnly": true
        },
        "actuationOutput": {
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output.",
          "readOnly": true
        },
        "deploymentOutput": {
          "type": "array",
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. Actuation state.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ]
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software."
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "id": "ActuationOutput",
      "type": "object",
      "properties": {
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "readOnly": true,
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true,
          "type": "boolean"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible.",
          "readOnly": true
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "type": "object",
      "properties": {
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "replicationSites": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        }
      },
      "description": "Message describing the system component."
    },
    "AgentStates": {
      "id": "AgentStates",
      "type": "object",
      "properties": {
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "processMetrics": {
          "$ref": "ServiceStates",
          "description": "Optional. The Process metrics of the agent."
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "hanaMonitoring": {
          "$ref": "ServiceStates",
          "description": "Optional. HANA monitoring metrics of the agent."
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        }
      },
      "description": "Agent status."
    },
    "SapDiscoveryMetadata": {
      "id": "SapDiscoveryMetadata",
      "type": "object",
      "properties": {
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        }
      },
      "description": "Message describing SAP discovery system metadata"
    },
    "IAMPermission": {
      "description": "The IAM permission status.",
      "id": "IAMPermission",
      "type": "object",
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        }
      }
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "type": "object",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response."
        }
      },
      "description": "Response message for the ListRules RPC."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "properties": {
        "major": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The major version number."
        },
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "build": {
          "description": "Optional. The build version number.",
          "format": "int32",
          "type": "integer"
        },
        "patch": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The patch version number."
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        }
      }
    },
    "AgentCommand": {
      "id": "AgentCommand",
      "type": "object",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "An AgentCommand specifies a one-time executable program for the agent to run."
    },
    "AgentStatusIAMPermission": {
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        }
      },
      "description": "The IAM permission status."
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object",
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        }
      }
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "id": "ShellCommand",
      "type": "object",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "timeoutSeconds": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "id": "SapDiscoveryComponentApplicationProperties",
      "type": "object",
      "properties": {
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "applicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc."
        }
      }
    },
    "SapDiscovery": {
      "id": "SapDiscovery",
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "SapDiscoveryMetadata",
          "description": "Optional. The metadata for SAP system discovery data."
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp this system has been updated last."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "workloadProperties": {
          "$ref": "SapDiscoveryWorkloadProperties",
          "description": "Optional. The properties of the workload."
        },
        "databaseLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Required. An SAP System must have a database."
        },
        "systemId": {
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        }
      },
      "description": "The schema of SAP system discovery data."
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "type": "object",
      "properties": {
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceType": {
          "description": "Required. The type of this resource.",
          "type": "string",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ]
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Message describing a resource."
    },
    "SapWorkload": {
      "description": "The body of sap workload",
      "id": "SapWorkload",
      "type": "object",
      "properties": {
        "application": {
          "$ref": "SapComponent",
          "description": "Output only. application component",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture.",
          "readOnly": true
        },
        "metadata": {
          "type": "object",
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "properties": {
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "databaseType": {
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        }
      },
      "description": "A set of properties describing an SAP Database layer."
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "description": "A scanned resource."
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "id": "AgentStatus",
      "type": "object",
      "properties": {
        "references": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusReference"
          },
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true
        },
        "installedVersion": {
          "type": "string",
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true
        },
        "agentName": {
          "description": "Output only. The name of the agent.",
          "readOnly": true,
          "type": "string"
        },
        "availableVersion": {
          "type": "string",
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "readOnly": true,
          "type": "string"
        },
        "systemdServiceRunning": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is running in systemd.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true,
          "type": "string"
        },
        "cloudApiAccessFullScopesGranted": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "configurationValid": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "readOnly": true
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true,
          "type": "string"
        },
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        }
      }
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "properties": {
        "resultSummary": {
          "$ref": "Summary",
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "description": "Optional. Engine."
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "ruleResults": {
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Execution that represents a single run of an Evaluation."
    },
    "WorkloadProfile": {
      "description": "Workload resource.",
      "id": "WorkloadProfile",
      "type": "object",
      "properties": {
        "sapWorkload": {
          "$ref": "SapWorkload",
          "description": "The sap workload content"
        },
        "refreshedTime": {
          "description": "Required. time when the workload data was refreshed",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workloadType": {
          "description": "Required. The type of the workload",
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        }
      }
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "type": "object",
      "properties": {
        "checkTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the health check was performed."
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload.",
          "readOnly": true
        }
      },
      "description": "WorkloadProfileHealth contains the detailed health check of workload."
    },
    "ResourceFilter": {
      "id": "ResourceFilter",
      "type": "object",
      "properties": {
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        },
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "type": "object",
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "scopes": {
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
    },
    "DatabaseDetails": {
      "description": "Message for SAP instance details.",
      "id": "DatabaseDetails",
      "type": "object",
      "properties": {
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": "Contains the details of a product.",
      "id": "Product",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "id": "SqlserverValidation",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        }
      }
    },
    "CloudResource": {
      "description": "The resource on GCP",
      "id": "CloudResource",
      "type": "object",
      "properties": {
        "instanceProperties": {
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Output only. ",
          "readOnly": true,
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        }
      }
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "id": "SapInstanceProperties",
      "type": "object",
      "properties": {
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        },
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        }
      }
    },
    "Summary": {
      "id": "Summary",
      "type": "object",
      "properties": {
        "failures": {
          "description": "Output only. Number of failures.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "newFailures": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true
        },
        "newFixes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "readOnly": true
        }
      },
      "description": "Execution summary."
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "properties": {
        "scannedResources": {
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListScannedResources RPC."
    },
    "ListExecutionResultsResponse": {
      "description": "Response message for the ListExecutionResults RPC.",
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "properties": {
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "id": "WriteInsightRequest",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "id": "Pacemaker",
      "type": "object",
      "properties": {
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        }
      },
      "description": "Message describing the Sqlserver validation metrics."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "properties": {
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "OpenShiftValidation": {
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "id": "OpenShiftValidation",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "id": "RuleExecutionResult",
      "type": "object",
      "properties": {
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ]
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        }
      }
    },
    "AppDetails": {
      "description": "Message for SAP instance details.",
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "format": "int32",
          "type": "integer"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        }
      }
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "type": "object",
      "properties": {
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "roles": {
          "description": "Optional. Instance roles.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          }
        },
        "sapInstanceProperties": {
          "$ref": "SapInstanceProperties",
          "description": "Optional. SAP Instance properties."
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        }
      },
      "description": "Instance Properties."
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Output only. The value of the configuration value.",
          "readOnly": true
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the configuration value.",
          "readOnly": true
        }
      },
      "description": "The configuration value."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "type": "object",
      "properties": {
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "sapValidationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from."
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "id": "ListEvaluationsResponse",
      "type": "object",
      "properties": {
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "type": "object",
      "properties": {
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "customTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Network tags."
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        }
      },
      "description": "Message for SAP instance details."
    },
    "AgentStatusReference": {
      "id": "AgentStatusReference",
      "type": "object",
      "properties": {
        "url": {
          "description": "Output only. The URL of the reference.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the reference.",
          "readOnly": true
        }
      },
      "description": "The reference to public documentation."
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object",
      "properties": {
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        }
      },
      "description": "Fields to describe an SAP application server instance."
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "type": "object",
      "properties": {},
      "description": "The response for write insights request."
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "id": "SapComponent",
      "type": "object",
      "properties": {
        "topologyType": {
          "description": "The detected topology of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "resources": {
          "description": "Output only. resources in the component",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          }
        },
        "databaseProperties": {
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "type": "object",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message containing collected data names and values."
    },
    "ResourceStatus": {
      "description": "The lifecycle status of an Evaluation resource.",
      "id": "ResourceStatus",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "id": "ListDiscoveredProfilesResponse",
      "type": "object",
      "properties": {
        "workloadProfiles": {
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "Evaluation": {
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "id": "Evaluation",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        },
        "evaluationType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type."
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Resource in execution result.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      }
    },
    "ViolationDetails": {
      "description": "The violation in an evaluation result.",
      "id": "ViolationDetails",
      "type": "object",
      "properties": {
        "observed": {
          "type": "object",
          "description": "Details of the violation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ruleOutput": {
          "type": "array",
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "readOnly": true
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      }
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "type": "object",
      "properties": {
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload."
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        }
      },
      "description": "The schema of torso workload validation data."
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "properties": {
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "sqlserverValidation": {
          "$ref": "SqlserverValidation",
          "description": "The insights data for the sqlserver workload validation."
        }
      },
      "description": "A presentation of host resource usage where the workload runs."
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "properties": {
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        },
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        }
      },
      "description": "A replication site used in Disaster Recovery (DR) configurations."
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "type": "object",
      "properties": {
        "database": {
          "description": "Database details.",
          "$ref": "DatabaseDetails"
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "location": {
          "$ref": "LocationDetails",
          "description": "Database details."
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "description": "Required. SAP HANA version."
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "environmentType": {
          "description": "Required. Deployment environment.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "scalingMethod": {
          "description": "Required. Supports scale up and scale out.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "deploymentModel": {
          "description": "Required. Supports non-HA and HA models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ]
        }
      },
      "description": "Message for SAP system workload."
    },
    "SqlServerWorkload": {
      "description": "Message for MS SQL workload.",
      "id": "SqlServerWorkload",
      "type": "object",
      "properties": {
        "mediaBucket": {
          "description": "Required. Name of the media storing SQL server installation files.",
          "type": "string"
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "vmPrefix": {
          "description": "Required. Should be unique in the project.",
          "type": "string"
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        },
        "location": {
          "description": "Required. Location details.",
          "$ref": "SqlLocationDetails"
        },
        "fciType": {
          "description": "Optional. SHARED_DISK or S2D.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ]
        },
        "operatingSystemType": {
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ]
        },
        "osImageType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image."
        },
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment."
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE."
[...]
