{
  "basePath": "",
  "ownerDomain": "google.com",
  "canonicalName": "Workload Manager",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Workload Manager API",
  "version": "v1",
  "discoveryVersion": "v1",
  "revision": "20260806",
  "id": "workloadmanager:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "evaluations": {
              "methods": {
                "patch": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "description": "Updates the parameters of a single Evaluation.",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a single Evaluation.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "description": "Deletes a single Evaluation.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "force": {
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "description": "Required. Name of the resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "description": "Creates a new Evaluation in a given project and location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "path": "v1/{+parent}/evaluations",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "evaluationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting object."
                    }
                  },
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "httpMethod": "POST"
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Evaluations in a given project and location.",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter to be applied when listing the evaluation results."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/evaluations"
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "description": "List all scanned resources for a single Execution.",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Filtering results."
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A token identifying a page of results the server should return."
                            },
                            "rule": {
                              "location": "query",
                              "type": "string",
                              "description": "Rule name."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/scannedResources"
                        }
                      }
                    },
                    "results": {
                      "methods": {
                        "list": {
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results.",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "location": "path"
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "type": "integer",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                            },
                            "filter": {
                              "description": "Filtering results.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/results",
                          "description": "Lists the result of a single evaluation.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results"
                        }
                      }
                    }
                  },
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "description": "Lists Executions in a given project and location.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Filtering results."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Gets details of a single Execution.",
                      "httpMethod": "GET"
                    },
                    "run": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/executions:run",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "description": "Creates a new Execution in a given project and location."
                    },
                    "delete": {
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$"
                        }
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a single Execution.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "workloadmanager.projects.locations.operations.list",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "cancel": {
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:cancel"
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}"
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "parameters": {
                    "evaluationType": {
                      "type": "string",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ],
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "location": "query",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ]
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category.",
                      "location": "query",
                      "type": "string"
                    },
                    "customRulesBucket": {
                      "location": "query",
                      "type": "string",
                      "description": "The Cloud Storage bucket name for custom rules."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.rules.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "description": "Lists rules in a given project.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/rules"
                }
              }
            },
            "insights": {
              "methods": {
                "writeInsight": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "location"
                  ],
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "location": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "type": "string"
                    }
                  },
                  "description": "Write the data insights to workload manager data warehouse.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "path": "v1/{+location}/insights:writeInsight",
                  "id": "workloadmanager.projects.locations.insights.writeInsight"
                },
                "delete": {
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}"
                    }
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "description": "Delete the data insights from workload manager data warehouse."
                }
              }
            },
            "discoveredprofiles": {
              "methods": {
                "list": {
                  "description": "List discovered workload profiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list"
                },
                "get": {
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "description": "Gets details of a discovered workload profile.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET"
                }
              },
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "description": "Get the health of a discovered workload profile.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Deployment"
                  },
                  "path": "v1/{+parent}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "description": "Creates a new Deployment in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "deploymentId": {
                      "description": "Required. ID of the deployment.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "orderBy": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details."
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filter resource following https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`"
                    }
                  },
                  "description": "Lists Deployments in a given project and location.",
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.deployments.list"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any actuation will also be deleted. Follows the best practice from https://aip.dev/135#cascading-delete."
                    }
                  },
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Deployment."
                },
                "get": {
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "response": {
                    "$ref": "Deployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a single Deployment."
                }
              },
              "resources": {
                "actuations": {
                  "methods": {
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "description": "Creates a new actuation for an existing Deployment.",
                      "path": "v1/{+parent}/actuations",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "required": true,
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'."
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results."
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Actuation.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the actuation to delete. projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "description": "Gets details of a single Actuation.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the resource."
                        }
                      },
                      "path": "v1/{+name}"
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "workloadmanager.projects.locations.get",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "workloadmanager.projects.locations.list",
              "httpMethod": "GET"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "name": "workloadmanager",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "kind": "discovery#restDescription",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "version_module": true,
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "schemas": {
    "TerraformVariable": {
      "id": "TerraformVariable",
      "type": "object",
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      }
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. project_id lists the human readable cloud project that the data comes from."
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        }
      },
      "id": "TorsoValidation",
      "type": "object"
    },
    "GceInstanceFilter": {
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "id": "GceInstanceFilter",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation."
        }
      }
    },
    "UpcomingMaintenanceEvent": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Optional. Type"
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
        },
        "endTime": {
          "description": "Optional. End time",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        }
      },
      "description": "Maintenance Event",
      "id": "UpcomingMaintenanceEvent",
      "type": "object"
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "id": "AgentStatusReference",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the reference."
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Database details.",
      "properties": {
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "machineType": {
          "type": "string",
          "description": "Required. Machine type."
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "soleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. Only useful for Linux High Availability setup."
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "soleTenantNode": {
          "type": "string",
          "description": "Optional. The name of a primary sole-tenant node/node group."
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "tenancyModel": {
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "type": "string",
          "description": "Required. SHARED or SOLE_TENANT."
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        }
      }
    },
    "ListScannedResourcesResponse": {
      "type": "object",
      "description": "Response message for the ListScannedResources RPC.",
      "id": "ListScannedResourcesResponse",
      "properties": {
        "scannedResources": {
          "description": "All scanned resources in response.",
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Product": {
      "description": "Contains the details of a product.",
      "id": "Product",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      },
      "type": "object"
    },
    "Command": {
      "id": "Command",
      "description": "Command specifies the type of command to execute.",
      "type": "object",
      "properties": {
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        },
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "properties": {
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        },
        "sentTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Create time stamp"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        }
      },
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object"
    },
    "IAMPermission": {
      "id": "IAMPermission",
      "type": "object",
      "properties": {
        "granted": {
          "type": "boolean",
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The IAM permission status."
    },
    "SapDiscoveryMetadata": {
      "type": "object",
      "properties": {
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "definedSystem": {
          "type": "string",
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\""
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        }
      },
      "description": "Message describing SAP discovery system metadata",
      "id": "SapDiscoveryMetadata"
    },
    "RuleExecutionResult": {
      "type": "object",
      "description": "Execution result summary per rule.",
      "properties": {
        "scannedResourceCount": {
          "format": "int64",
          "description": "Number of total scanned resources.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status.",
          "type": "string"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "resultCount": {
          "description": "Number of violations.",
          "type": "string",
          "format": "int64"
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        }
      },
      "id": "RuleExecutionResult"
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "properties": {
        "instanceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/"
        },
        "cloudApiAccessFullScopesGranted": {
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "systemdServiceEnabled": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is enabled in systemd."
        },
        "configurationErrorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error message for the agent configuration if invalid."
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. The name of the agent.",
          "type": "string"
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string",
          "readOnly": true
        },
        "references": {
          "type": "array",
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "systemdServiceRunning": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the agent service is running in systemd."
        },
        "availableVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The available version of the agent in artifact registry."
        },
        "services": {
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array",
          "readOnly": true
        },
        "kernelVersion": {
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Output only. The kernel version of the system."
        },
        "configurationValid": {
          "description": "Output only. Whether the agent configuration is valid.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        }
      },
      "id": "AgentStatus",
      "type": "object"
    },
    "SapWorkload": {
      "properties": {
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "products": {
          "readOnly": true,
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "Output only. The products on this workload."
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "description": "Output only. The architecture.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "type": "string"
        },
        "application": {
          "description": "Output only. application component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "database": {
          "description": "Output only. database component",
          "$ref": "SapComponent",
          "readOnly": true
        }
      },
      "description": "The body of sap workload",
      "id": "SapWorkload",
      "type": "object"
    },
    "Evaluation": {
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "resourceFilter": {
          "$ref": "ResourceFilter",
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "type": "string"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "evaluationType": {
          "type": "string",
          "description": "Evaluation type.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        }
      },
      "type": "object",
      "id": "Evaluation"
    },
    "LocationDetails": {
      "description": "Message for SAP instance details.",
      "properties": {
        "customTags": {
          "description": "Optional. Network tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zone2Name": {
          "type": "string",
          "description": "Optional. Zone 2 name."
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "deploymentDnsEnabled": {
          "type": "boolean",
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true."
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. DNS zone name suffix."
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. Zone 1 name."
        },
        "internetAccess": {
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "networkProject": {
          "type": "string",
          "description": "Optional. Network project."
        }
      },
      "type": "object",
      "id": "LocationDetails"
    },
    "WriteInsightResponse": {
      "properties": {},
      "description": "The response for write insights request.",
      "id": "WriteInsightResponse",
      "type": "object"
    },
    "ExecutionResult": {
      "type": "object",
      "description": "The result of an execution.",
      "id": "ExecutionResult",
      "properties": {
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "description": "The commands to remediate the violation.",
          "type": "array"
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "documentationUrl": {
          "type": "string",
          "description": "The URL for the documentation of the rule."
        },
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "type": {
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        }
      }
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "type": "object",
      "properties": {
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The error message for the service if it is not fully functional.",
          "type": "string"
        },
        "fullyFunctional": {
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string"
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "iamPermissions": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "description": "Output only. The permissions required for the service.",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service."
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "id": "SapDiscoveryComponentReplicationSite",
      "properties": {
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "properties": {
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component.",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "replicationSites": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        }
      },
      "type": "object",
      "id": "SapDiscoveryComponent"
    },
    "RunEvaluationRequest": {
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "executionId": {
          "type": "string",
          "description": "Required. ID of the execution which will be created."
        }
      },
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC."
    },
    "InstanceProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "roles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "type": "string"
          },
          "description": "Optional. Instance roles."
        }
      },
      "description": "Instance Properties.",
      "id": "InstanceProperties"
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "properties": {
        "details": {
          "readOnly": true,
          "description": "Output only. Violation details generated by rule.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The rule output of the violation.",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "description": "Backup properties.",
      "properties": {
        "latestBackupStatus": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true
        },
        "latestBackupTime": {
          "format": "google-datetime",
          "description": "The time when the latest backup was performed.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "properties": {
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "name": {
          "type": "string",
[...]
