{
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "title": "Workload Manager API",
  "id": "workloadmanager:v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "basePath": "",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "protocol": "rest",
  "revision": "20260715",
  "canonicalName": "Workload Manager",
  "name": "workloadmanager",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "kind": "discovery#restDescription",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "workloadmanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "id": "workloadmanager.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "response": {
                "$ref": "Location"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "evaluations": {
              "resources": {
                "executions": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Execution."
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`."
                        },
                        "pageSize": {
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Filtering results."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists Executions in a given project and location.",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "path": "v1/{+parent}/executions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single Execution.",
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1/{+name}"
                    },
                    "run": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}/executions:run",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "httpMethod": "GET",
                          "description": "Lists the result of a single evaluation.",
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$"
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Filtering results."
                            }
                          },
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "path": "v1/{+parent}/results",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                            },
                            "orderBy": {
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "location": "query",
                              "type": "string"
                            },
                            "rule": {
                              "location": "query",
                              "type": "string",
                              "description": "Rule name."
                            },
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Filtering results."
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return."
                            }
                          },
                          "httpMethod": "GET",
                          "description": "List all scanned resources for a single Execution.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "path": "v1/{+parent}/scannedResources",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Evaluation.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "description": "Creates a new Evaluation in a given project and location.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "evaluationId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Id of the requesting object."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "description": "Updates the parameters of a single Evaluation.",
                  "parameters": {
                    "name": {
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "path": "v1/{+parent}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "httpMethod": "GET",
                  "description": "Lists Evaluations in a given project and location.",
                  "parameters": {
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListEvaluationsRequest."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter to be applied when listing the evaluation results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a single Evaluation."
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "id": "workloadmanager.projects.locations.operations.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "cancel": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "deployments": {
              "resources": {
                "actuations": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Actuation.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "description": "Required. The name of the actuation to delete. projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "description": "Creates a new actuation for an existing Deployment.",
                      "parameters": {
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+parent}/actuations"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/actuations",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filtering results."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "id": "workloadmanager.projects.locations.deployments.actuations.list"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "description": "Required. Name of the resource."
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets details of a single Actuation.",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Deployment.",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set to true, any actuation will also be deleted. Follows the best practice from https://aip.dev/135#cascading-delete."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v1/{+parent}/deployments",
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "description": "Optional. Filter resource following https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Lists Deployments in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Deployment"
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Deployment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "deploymentId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. ID of the deployment."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Deployment"
                  },
                  "description": "Creates a new Deployment in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "path": "v1/{+parent}/deployments",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "path": "v1/{+parent}/rules",
                  "id": "workloadmanager.projects.locations.rules.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "httpMethod": "GET",
                  "description": "Lists rules in a given project.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "customRulesBucket": {
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "evaluationType": {
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ],
                      "location": "query",
                      "type": "string",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ]
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "insights": {
              "methods": {
                "writeInsight": {
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "path": "v1/{+location}/insights:writeInsight",
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "description": "Write the data insights to workload manager data warehouse.",
                  "parameters": {
                    "location": {
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "discoveredprofiles": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest"
                    },
                    "filter": {
                      "description": "Optional. Filtering results",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    }
                  },
                  "httpMethod": "GET",
                  "description": "List discovered workload profiles",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  }
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets details of a discovered workload profile.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "WorkloadProfile"
                  }
                }
              },
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Get the health of a discovered workload profile.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "database": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. database component"
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "type": "string",
          "readOnly": true
        },
        "application": {
          "description": "Output only. application component",
          "readOnly": true,
          "$ref": "SapComponent"
        }
      },
      "description": "The body of sap workload"
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ]
        }
      },
      "description": "External data sources for an execution."
    },
    "SapDiscovery": {
      "description": "The schema of SAP system discovery data.",
      "id": "SapDiscovery",
      "type": "object",
      "properties": {
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "workloadProperties": {
          "$ref": "SapDiscoveryWorkloadProperties",
          "description": "Optional. The properties of the workload."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "systemId": {
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Unix timestamp this system has been updated last."
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "id": "SapDiscoveryComponentApplicationProperties",
      "type": "object",
      "properties": {
        "abap": {
          "deprecated": true,
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean"
        },
        "applicationType": {
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "type": "object",
      "properties": {
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "topologyType": {
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "Optional. The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "description": "Optional. The resources in a component."
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        }
      },
      "description": "Message describing the system component."
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "id": "AgentCommand",
      "type": "object",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "properties": {
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        }
      },
      "description": "Message for SAP instance details."
    },
    "ActiveDirectory": {
      "description": "Active Directory details.",
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "description": "Required. Active Directory type.",
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ]
        },
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as `example.com`.",
          "type": "string"
        }
      }
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "id": "Pacemaker",
      "type": "object",
      "properties": {
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The rule output of the violation."
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "properties": {
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        }
      },
      "description": "A presentation of host resource usage where the workload runs."
    },
    "AppDetails": {
      "description": "Message for SAP instance details.",
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "vmsMultiplier": {
          "type": "integer",
          "format": "int32",
          "description": "Required. VMs multiplier."
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Resource in execution result.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "executions": {
          "description": "The list of Execution.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "id": "ActuationOutput",
      "type": "object",
      "properties": {
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Failed task name returned from Ansible."
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "type": "string",
          "readOnly": true
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "terraformError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Terraform."
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "description": "A product name and version."
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "properties": {
        "scannedResources": {
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListScannedResources RPC."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "type": "object",
      "properties": {
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        }
      },
      "description": "The schema of torso workload validation data."
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for the ListEvaluations RPC."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Evaluation": {
      "id": "Evaluation",
      "type": "object",
      "properties": {
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "resourceStatus": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource."
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "evaluationType": {
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources."
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        }
      }
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The overall state of the service.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        }
      },
      "description": "The state of the service."
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "type": "object",
      "properties": {
        "type": {
          "description": "Resource type.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "description": "A scanned resource."
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "type": "object",
      "properties": {
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "observed": {
          "type": "object",
          "description": "Details of the violation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        }
      },
      "description": "The violation in an evaluation result."
    },
    "IAMPermission": {
      "id": "IAMPermission",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the permission is granted."
        }
      },
      "description": "The IAM permission status."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "ListExecutionResultsResponse": {
[...]
