{
  "protocol": "rest",
  "revision": "20260715",
  "ownerDomain": "google.com",
  "canonicalName": "Workload Manager",
  "name": "workloadmanager",
  "servicePath": "",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Workload Manager API",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "id": "workloadmanager:v1",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "version": "v1",
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload.",
      "id": "SqlLocationDetails",
      "type": "object",
      "properties": {
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "internetAccess": {
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "description": "Required. Internet Access.",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        }
      }
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The value of the configuration value.",
          "type": "string",
          "readOnly": true
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden."
        },
        "name": {
          "description": "Output only. The name of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The configuration value."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      }
    },
    "SapDiscoveryMetadata": {
      "description": "Message describing SAP discovery system metadata",
      "id": "SapDiscoveryMetadata",
      "type": "object",
      "properties": {
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        }
      }
    },
    "ShellCommand": {
      "id": "ShellCommand",
      "type": "object",
      "properties": {
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A ShellCommand is invoked via the agent's command line executor."
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "id": "WriteInsightRequest",
      "type": "object",
      "properties": {
        "insight": {
          "$ref": "Insight",
          "description": "Required. The metrics data details."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      }
    },
    "SapValidation": {
      "id": "SapValidation",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        }
      },
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data."
    },
    "UpcomingMaintenanceEvent": {
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. End time",
          "format": "google-datetime",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Start time",
          "format": "google-datetime",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      },
      "description": "Maintenance Event"
    },
    "Summary": {
      "description": "Execution summary.",
      "id": "Summary",
      "type": "object",
      "properties": {
        "failures": {
          "description": "Output only. Number of failures.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "newFixes": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Number of new fixes compared to the previous execution."
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object",
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "description": "Optional. A list of SAP software components and their versions running on the system."
        }
      }
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "properties": {
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "format": "google-datetime",
          "type": "string"
        },
        "latestBackupStatus": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ]
        }
      },
      "description": "Backup properties."
    },
    "Deployment": {
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "id": "Deployment",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the deployment.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "terraformVariables": {
          "type": "object",
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          }
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create time stamp."
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "description": "Optional. Workload type of the deployment.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ]
        }
      }
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the RunEvaluation RPC."
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "type": "object",
      "properties": {
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string"
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "type": "string"
        }
      },
      "description": "Message describing a resource."
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "id": "ListDiscoveredProfilesResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "type": "string",
          "readOnly": true
        },
        "workloadProfiles": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles"
        }
      }
    },
    "ResourceStatus": {
      "description": "The lifecycle status of an Evaluation resource.",
      "id": "ResourceStatus",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      }
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "id": "SapInstanceProperties",
      "type": "object",
      "properties": {
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        },
        "numbers": {
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      },
      "description": "BigQuery destination for evaluation results."
    },
    "OpenShiftValidation": {
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "id": "OpenShiftValidation",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "type": "object",
      "properties": {
        "rules": {
          "description": "All rules in response.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        }
      },
      "description": "Response message for the ListRules RPC."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "properties": {
        "build": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The build version number."
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "major": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The major version number."
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Version is reported as Major.Minor.Build.Patch."
    },
    "LocationDetails": {
      "description": "Message for SAP instance details.",
      "id": "LocationDetails",
      "type": "object",
      "properties": {
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "customTags": {
          "description": "Optional. Network tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "internetAccess": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        }
      }
    },
    "Notice": {
      "description": "Additional information generated by an execution.",
      "id": "Notice",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Message of the notice."
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "properties": {
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        }
      },
      "description": "A set of properties describing an SAP Database layer."
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource.",
      "id": "DeploymentOutput",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      }
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "id": "SqlserverValidation",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "type": "array",
          "description": "Optional. A list of SqlServer validation metrics data."
        }
      }
    },
    "ComponentHealth": {
      "description": "HealthCondition contains the detailed health check of each component.",
      "id": "ComponentHealth",
      "type": "object",
      "properties": {
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "componentHealthType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The type of the component health.",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          },
          "type": "array"
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "description": "A replication site used in Disaster Recovery (DR) configurations."
    },
    "AgentStatus": {
      "id": "AgentStatus",
      "type": "object",
      "properties": {
        "systemdServiceEnabled": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "instanceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/"
        },
        "configurationValid": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationErrorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error message for the agent configuration if invalid."
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true,
          "type": "string"
        },
        "availableVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The available version of the agent in artifact registry."
        },
        "references": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          },
          "type": "array",
          "description": "Output only. Optional references to public documentation."
        },
        "agentName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the agent."
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "cloudApiAccessFullScopesGranted": {
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "services": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "type": "array",
          "description": "Output only. The services (process metrics, host metrics, etc.)."
        }
      },
      "description": "The schema of agent status data."
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object",
      "properties": {
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "type": "string"
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "instanceNumber": {
          "format": "int64",
          "type": "string",
          "deprecated": true,
          "description": "Optional. The VM's instance number."
        },
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array",
          "description": "Optional. App server instances on the host"
        }
      }
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "id": "HealthCheck",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the health check.",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message of the health check."
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        },
        "source": {
          "description": "Output only. The source of the health check.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlServerWorkload": {
      "id": "SqlServerWorkload",
      "type": "object",
      "properties": {
        "osImageType": {
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "type": "string"
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "mediaBucket": {
          "description": "Required. Name of the media storing SQL server installation files.",
          "type": "string"
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. Location details."
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        },
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "pacemaker": {
          "$ref": "Pacemaker",
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments."
        },
        "operatingSystemType": {
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ],
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "type": "string"
        },
        "haType": {
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "type": "string"
        },
        "activeDirectory": {
          "description": "Required. Active Directory details.",
          "$ref": "ActiveDirectory"
        },
        "fciType": {
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "type": "string"
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "deploymentModel": {
          "type": "string",
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "sqlServerEdition": {
          "type": "string",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ]
        },
        "environmentType": {
          "type": "string",
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "vmPrefix": {
          "description": "Required. Should be unique in the project.",
          "type": "string"
        },
        "sqlServerVersion": {
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "description": "Optional. 2017, 2019, or 2022.",
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ]
        }
      },
      "description": "Message for MS SQL workload."
    },
    "SqlserverValidationValidationDetail": {
      "description": "Message describing the Sqlserver validation metrics.",
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Names of the disks providing this mount point."
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        }
      },
      "description": "Disk mount on the instance."
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "id": "WorkloadProfileHealth",
      "type": "object",
      "properties": {
        "checkTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the health check was performed."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "componentsHealth": {
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array",
          "description": "The detailed condition reports of each component."
        }
      }
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Message containing collected data names and values."
    },
    "ResourceFilter": {
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "id": "ResourceFilter",
      "type": "object",
      "properties": {
        "resourceIdPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID."
        },
        "scopes": {
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inclusionLabels": {
          "type": "object",
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        }
      }
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "type": "object",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable."
    },
    "CloudResource": {
      "id": "CloudResource",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
        },
        "kind": {
          "description": "Output only. ",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "InstanceProperties"
        }
      },
      "description": "The resource on GCP"
    },
    "RuleExecutionResult": {
      "id": "RuleExecutionResult",
      "type": "object",
      "properties": {
        "resultCount": {
          "format": "int64",
          "type": "string",
          "description": "Number of violations."
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The execution status.",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ]
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "scannedResourceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of total scanned resources."
        }
      },
      "description": "Execution result summary per rule."
    },
    "AgentStatusServiceStatus": {
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "id": "AgentStatusServiceStatus",
      "type": "object",
      "properties": {
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service."
        },
        "errorMessage": {
          "description": "Output only. The error message for the service if it is not fully functional.",
          "type": "string",
          "readOnly": true
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "iamPermissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "description": "Output only. The permissions required for the service."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "type": "object",
      "properties": {
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "Database details."
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "scalingMethod": {
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "description": "Required. Supports scale up and scale out.",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ]
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. Supports non-HA and HA models.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "environmentType": {
          "description": "Required. Deployment environment.",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "type": "string"
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "description": "Required. SAP HANA version.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "description": "Message for SAP system workload."
    },
    "DatabaseProperties": {
      "id": "DatabaseProperties",
      "type": "object",
      "properties": {
        "backupProperties": {
          "readOnly": true,
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties."
        },
        "databaseType": {
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        }
      },
      "description": "Database Properties."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Actuation": {
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "id": "Actuation",
      "type": "object",
      "properties": {
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Start time stamp."
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. Actuation state.",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ]
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. End time stamp."
        },
        "actuationOutput": {
          "description": "Output only. Actuation output.",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "deploymentOutput": {
          "description": "Output only. Deployment output.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          }
        }
      }
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "description": "Required. The type of the workload",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ]
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        }
      },
      "description": "Workload resource."
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "type": "object",
      "properties": {
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sapValidationType": {
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "type": "string"
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      }
    },
    "Evaluation": {
      "id": "Evaluation",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Update time stamp."
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "evaluationType": {
          "type": "string",
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      },
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources."
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object",
      "properties": {
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        }
      }
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The overall state of the service.",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ]
        },
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          },
          "type": "array"
        }
      },
      "description": "The state of the service."
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "type": "object",
      "properties": {
        "type": {
          "description": "Resource type.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "description": "A scanned resource."
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "description": "A product name and version.",
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "properties": {
        "scannedResources": {
          "items": {
            "$ref": "ScannedResource"
          },
          "type": "array",
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListScannedResources RPC."
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "properties": {
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system."
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        }
      },
      "description": "The schema of torso workload validation data."
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "id": "ListEvaluationsResponse",
      "type": "object",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ListExecutionsResponse": {
      "description": "Response message for the ListExecutions RPC.",
      "id": "ListExecutionsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "description": "The list of Execution.",
          "items": {
            "$ref": "Execution"
          },
          "type": "array"
        }
      }
    },
    "ActuationOutput": {
      "description": "Message for output of actuation.",
      "id": "ActuationOutput",
      "type": "object",
      "properties": {
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ]
        },
        "ansibleFailedTask": {
          "description": "Output only. Failed task name returned from Ansible.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "ansibleError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Error message returned from Ansible."
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "terraformError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message returned from Terraform."
        },
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "Resource in execution result.",
      "id": "Resource",
      "type": "object",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object",
      "properties": {}
    },
    "RuleOutput": {
      "description": "The rule output of the violation.",
      "id": "RuleOutput",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "id": "Insight",
      "type": "object",
      "properties": {
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the SAP workload validation."
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sentTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        }
      }
    },
    "AppDetails": {
      "description": "Message for SAP instance details.",
      "id": "AppDetails",
      "type": "object",
      "properties": {
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "appVmNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Customized VM names."
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "properties": {
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "description": "Required. Active Directory type.",
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ],
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as `example.com`.",
          "type": "string"
        }
      },
      "description": "Active Directory details."
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "id": "Pacemaker",
      "type": "object",
      "properties": {
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "type": "object",
      "properties": {
        "topologyType": {
          "type": "string",
          "description": "Optional. The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        }
      },
      "description": "Message describing the system component."
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "id": "AgentCommand",
      "type": "object",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
[...]
