{
  "title": "Workload Manager API",
  "ownerName": "Google",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260708",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "canonicalName": "Workload Manager",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "workloadmanager:v1",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "servicePath": "",
  "version_module": true,
  "protocol": "rest",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Evaluation": {
      "id": "Evaluation",
      "type": "object",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        }
      }
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource.",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      },
      "id": "DeploymentOutput",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Start time"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. End time"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "description": "Message for response to listing deployments.",
      "properties": {
        "deployments": {
          "description": "The list of deployments.",
          "items": {
            "$ref": "Deployment"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListDeploymentsResponse",
      "type": "object"
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "type": "object",
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        },
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        }
      }
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "type": "object",
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "description": "Message for SAP instance details.",
      "properties": {
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        }
      }
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      },
      "id": "AgentCommand",
      "type": "object"
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        }
      },
      "id": "Insight",
      "type": "object"
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "type": "object",
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object"
        },
        "sapValidationType": {
          "description": "Optional. The SAP system that the validation data is from.",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        }
      }
    },
    "Product": {
      "id": "Product",
      "type": "object",
      "description": "Contains the details of a product.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "Actuation": {
      "id": "Actuation",
      "type": "object",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "startTime": {
          "description": "Output only. Start time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Actuation state.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ]
        },
        "deploymentOutput": {
          "description": "Output only. Deployment output.",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          },
          "type": "array"
        },
        "actuationOutput": {
          "$ref": "ActuationOutput",
          "description": "Output only. Actuation output.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "description": "Disk mount on the instance.",
      "properties": {
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Names of the disks providing this mount point."
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object"
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "type": "object",
      "description": "Workload resource.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          }
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "workloadType": {
          "description": "Required. The type of the workload",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ]
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        }
      }
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "type": "object",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "properties": {
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "topologyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component.",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        }
      },
      "id": "SapDiscoveryComponent",
      "type": "object"
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      },
      "id": "WriteInsightRequest",
      "type": "object"
    },
    "SqlServerWorkload": {
      "id": "SqlServerWorkload",
      "type": "object",
      "description": "Message for MS SQL workload.",
      "properties": {
        "isSqlPayg": {
          "description": "Required. SQL licensing type.",
          "type": "boolean"
        },
        "haType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified HA type.",
            "AOAG HA type.",
            "FCI HA type."
          ],
          "description": "Optional. AOAG or FCI. It is only needed for the High Availability deployment mode.",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ]
        },
        "database": {
          "description": "Required. Database details.",
          "$ref": "Database"
        },
        "osImageType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS image type.",
            "Public image.",
            "Custom image."
          ],
          "description": "Optional. OS image type. It's used to create boot disks for VM instances. When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and defaults to a custom image.",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "description": "Required. Deployment environment.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "pacemaker": {
          "description": "Optional. Pacemaker configuration, only applicable for Linux HA deployments.",
          "$ref": "Pacemaker"
        },
        "activeDirectory": {
          "description": "Required. Active Directory details.",
          "$ref": "ActiveDirectory"
        },
        "vmPrefix": {
          "description": "Required. Should be unique in the project.",
          "type": "string"
        },
        "sqlServerEdition": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "Developer type.",
            "Enterprise type.",
            "Standard type.",
            "Web type."
          ],
          "description": "Optional. SQL Server Edition type, only applicable when the operating system is Linux.",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ]
        },
        "fciType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type.",
            "SHARED DISK FCI type.",
            "S2D FCI type."
          ],
          "description": "Optional. SHARED_DISK or S2D.",
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ]
        },
        "osImage": {
          "description": "Required. The image of the operating system.",
          "type": "string"
        },
        "location": {
          "description": "Required. Location details.",
          "$ref": "SqlLocationDetails"
        },
        "sqlServerVersion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "2017 type.",
            "2019 type.",
            "2022 type."
          ],
          "description": "Optional. 2017, 2019, or 2022.",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ]
        },
        "operatingSystemType": {
          "description": "Required. The type of the operating system the SQL server is going to run on top of.",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified operating system type.",
            "Windows operating system type.",
            "Ubuntu operating system type.",
            "Red Hat Enterprise Linux operating system type.",
            "SUSE operating system type."
          ]
        },
        "computeEngineServiceAccount": {
          "description": "Compute Engine service account. Let customers bring their own service account for Compute Engine.",
          "type": "string"
        },
        "deploymentModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model.",
            "High Availability deployment model.",
            "Single instance deployment model."
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "mediaBucket": {
          "description": "Required. Name of the media storing SQL server installation files.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "type": "object",
      "description": "Message describing a resource.",
      "properties": {
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "resourceType": {
          "description": "Required. The type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "description": "Message describing the Sqlserver validation metrics.",
      "properties": {
        "details": {
          "description": "Required. Details wraps map that represents collected data names and values.",
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          }
        },
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ]
        }
      },
      "id": "SqlserverValidationValidationDetail",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "type": "object",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        },
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        }
      }
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the latest backup was performed."
        },
        "latestBackupStatus": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      },
      "id": "BigQueryDestination",
      "type": "object"
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          },
          "description": "Output only. resources in the component",
          "readOnly": true
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseProperties": {
          "$ref": "DatabaseProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        },
        "topologyType": {
          "description": "The detected topology of the component.",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ]
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "SapComponent",
      "type": "object"
    },
    "SapDiscoveryMetadata": {
      "id": "SapDiscoveryMetadata",
      "type": "object",
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "type": "object",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      }
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "type": "object",
      "description": "External data sources for an execution.",
      "properties": {
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of external data source.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ]
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "description": "The rule output of the violation.",
      "properties": {
        "details": {
          "type": "object",
          "description": "Output only. Violation details generated by rule.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          }
        },
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "RuleOutput",
      "type": "object"
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "type": "object",
      "description": "The configuration value.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Output only. The value of the configuration value.",
          "readOnly": true
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. The name of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "type": "object",
      "description": "Message for SAP system workload.",
      "properties": {
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "database": {
          "description": "Database details.",
          "$ref": "DatabaseDetails"
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "description": "Required. Deployment environment.",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "deploymentModel": {
          "description": "Required. Supports non-HA and HA models.",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "scalingMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "description": "Required. Supports scale up and scale out.",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "version": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Required. SAP HANA version.",
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ]
        }
      }
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "source": {
          "description": "Output only. The source of the health check.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "description": "Output only. The message of the health check.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "HealthCheck",
      "type": "object"
    },
    "Notice": {
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Notice",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "description": "Optional. The minor version number.",
          "type": "integer",
          "format": "int32"
        },
        "build": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The build version number."
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The major version number."
        }
      }
    },
    "WriteInsightResponse": {
      "description": "The response for write insights request.",
      "properties": {},
      "id": "WriteInsightResponse",
      "type": "object"
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AgentStatusIAMPermission",
      "type": "object"
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "subComponentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health."
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          },
          "type": "array"
        },
        "componentHealthType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "description": "Output only. The type of the component health.",
          "readOnly": true
        }
      }
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "type": "object",
      "description": "In order to align with the Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest. A Terraform input variable.",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "properties": {
        "applicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ]
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponentApplicationProperties",
      "type": "object"
    },
    "ListExecutionResultsResponse": {
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExecutionResultsResponse",
      "type": "object"
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "description": "Output only. [Output only] State.",
          "readOnly": true
        },
        "evaluationId": {
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "inventoryTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "type": "array"
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "engine": {
          "description": "Optional. Engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "runType": {
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "ListActuationsResponse": {
      "description": "The response object from `ListActuations`.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "actuations": {
          "items": {
            "$ref": "Actuation"
          },
          "type": "array",
          "description": "The list of actuations."
        }
      },
      "id": "ListActuationsResponse",
      "type": "object"
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        }
      },
      "id": "ShellCommand",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "description": "The body of sap workload",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true
        },
        "application": {
          "description": "Output only. application component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture.",
          "readOnly": true
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "type": "object",
      "description": "The result of an execution.",
      "properties": {
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "commands": {
          "items": {
            "$ref": "Command"
          },
          "type": "array",
          "description": "The commands to remediate the violation."
        }
      }
    },
    "Pacemaker": {
      "description": "Pacemaker configuration.",
      "properties": {
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object",
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system."
        },
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "type": "array"
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "type": "object",
      "description": "Location and networking details for configuring SQL server workload.",
      "properties": {
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "description": "Required. Internet Access.",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array",
          "description": "Optional. App server instances on the host"
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "instanceNumber": {
          "deprecated": true,
          "format": "int64",
          "type": "string",
          "description": "Optional. The VM's instance number."
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "instanceRole": {
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ]
        },
        "diskMounts": {
          "description": "Optional. Disk mounts on the instance.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        }
      },
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        }
      }
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "description": "State of the Evaluation resource.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      }
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "type": "object",
      "description": "The violation in an evaluation result.",
      "properties": {
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          },
          "type": "array"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "observed": {
          "type": "object",
          "description": "Details of the violation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "description": "Active Directory details.",
      "properties": {
        "type": {
          "description": "Required. Active Directory type.",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified Active Directory type.",
            "GCP managed Active Directory type.",
            "Self managed Active Directory type."
          ]
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address.",
          "type": "string"
        },
        "domain": {
          "description": "Optional. Human readable form of a domain such as `example.com`.",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. Domain username.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        }
      }
    },
    "ServiceStates": {
      "description": "The state of the service.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The overall state of the service.",
          "readOnly": true
        },
        "iamPermissions": {
          "items": {
            "$ref": "IAMPermission"
          },
          "type": "array",
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true
        }
      },
      "id": "ServiceStates",
      "type": "object"
    },
    "RuleExecutionResult": {
      "id": "RuleExecutionResult",
      "type": "object",
      "description": "Execution result summary per rule.",
      "properties": {
        "state": {
          "description": "Output only. The execution status.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ]
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "resultCount": {
          "description": "Number of violations.",
          "format": "int64",
          "type": "string"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of total scanned resources."
        }
      }
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "state": {
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "description": "Output only. The health state of the workload.",
          "readOnly": true
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "componentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "The detailed condition reports of each component."
        }
      },
      "id": "WorkloadProfileHealth",
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "type": "object",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "type": "array"
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlserverValidationDetails": {
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SqlserverValidationDetails",
      "type": "object"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "databaseType": {
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "workloadType": {
          "description": "Optional. Workload type of the deployment.",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ]
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input.",
          "$ref": "SapSystemS4Config"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time stamp.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input.",
          "$ref": "SqlServerWorkload"
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Create time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        },
        "terraformVariables": {
          "type": "object",
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          }
        },
        "state": {
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        }
      }
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      },
      "id": "SapValidation",
      "type": "object"
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "description": "Message for SAP instance details.",
      "properties": {
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "format": "int32",
          "type": "integer"
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "appVmNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Customized VM names."
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListScannedResourcesResponse": {
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "scannedResources": {
          "type": "array",
          "items": {
[...]
