{
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "fullyEncodeReservedExpansion": true,
  "name": "workloadmanager",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "Workload Manager",
  "title": "Workload Manager API",
  "revision": "20260806",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "schemas": {
    "AppDetails": {
      "id": "AppDetails",
      "description": "Message for SAP instance details.",
      "properties": {
        "appVmNames": {
          "description": "Optional. Customized VM names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. Instance ID for app.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. Instance ID for ERS.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account. Let customers bring their own service account for ASCS.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS VM name.",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. VMs multiplier.",
          "type": "integer",
          "format": "int32"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Deployment": {
      "type": "object",
      "id": "Deployment",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "sqlServerWorkload": {
          "$ref": "SqlServerWorkload",
          "description": "MS SQL workload input."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "name": {
          "description": "The name of the deployment resource. The format is 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Create time stamp.",
          "readOnly": true
        },
        "sapSystemS4Config": {
          "$ref": "SapSystemS4Config",
          "description": "SAP system workload input."
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Update time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for Cloud Build. Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation.",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "SAP S/4HANA workload type.",
            "SQL Server workload type.",
            "Oracle workload type."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "description": "Optional. Workload type of the deployment."
        },
        "terraformVariables": {
          "type": "object",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        },
        "description": {
          "description": "Description of the deployment.",
          "type": "string"
        }
      }
    },
    "AgentStates": {
      "type": "object",
      "id": "AgentStates",
      "description": "Agent status.",
      "properties": {
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "build": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The build version number."
        },
        "patch": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The patch version number."
        },
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The major version number."
        }
      },
      "type": "object"
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "description": "Message for SAP instance details.",
      "properties": {
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "WorkloadProfileHealth": {
      "type": "object",
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload."
        },
        "componentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "The detailed condition reports of each component."
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc."
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Actuation": {
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time stamp.",
          "readOnly": true
        },
        "name": {
          "description": "The name of the actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}.",
          "type": "string"
        },
        "actuationOutput": {
          "description": "Output only. Actuation output.",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Actuation state.",
          "enumDescriptions": [
            "State unspecified.",
            "Creating infrastructure in backend (Terraform applying).",
            "Success.",
            "Failed either in infra creating, post infra configuring, or infra destroying.",
            "Configure workload after infrastructure is ready (Ansible running).",
            "Destroying infrastructure in backend (Terraform destroying).",
            "Ansible timed out due to losing heartbeat in post infra configuring."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ]
        },
        "deploymentOutput": {
          "type": "array",
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. Deployment output.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. End time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponentApplicationProperties": {
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "properties": {
        "applicationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "description": "Required. Type of the application. Netweaver, etc."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Database": {
      "type": "object",
      "id": "Database",
      "description": "Database details.",
      "properties": {
        "soleTenantNodeType": {
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name.",
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. Only useful for Linux High Availability setup.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "tenancyModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT."
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "smt": {
          "description": "Required. Whether simultaneous multithreading is enabled or not.",
          "type": "boolean"
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        }
      }
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "properties": {},
      "type": "object"
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the latest backup was performed."
        },
        "latestBackupStatus": {
          "description": "Output only. The state of the latest backup.",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "description": "Message for output of actuation.",
      "properties": {
        "actuateLogs": {
          "description": "A link to the Cloud Storage file that stores build logs.",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "ansibleError": {
          "type": "string",
          "description": "Output only. Error message returned from Ansible.",
          "readOnly": true
        },
        "terraformTemplate": {
          "description": "Reference to the Terraform template used.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Failed task name returned from Ansible.",
          "readOnly": true
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "terraformError": {
          "description": "Output only. Error message returned from Terraform.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "id": "SapDiscoveryWorkloadProperties",
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        },
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        }
      }
    },
    "CloudResource": {
      "type": "object",
      "id": "CloudResource",
      "description": "The resource on GCP",
      "properties": {
        "kind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Output only. ",
          "type": "string",
          "readOnly": true
        },
        "instanceProperties": {
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "executions": {
          "description": "The list of Execution.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "type": "object",
      "id": "SqlserverValidationValidationDetail",
      "description": "Message describing the Sqlserver validation metrics.",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from."
        }
      }
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "SapDiscovery": {
      "type": "object",
      "id": "SapDiscovery",
      "description": "The schema of SAP system discovery data.",
      "properties": {
        "databaseLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Required. An SAP System must have a database."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "systemId": {
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true
        },
        "workloadProperties": {
          "$ref": "SapDiscoveryWorkloadProperties",
          "description": "Optional. The properties of the workload."
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "applicationLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. An SAP system may run without an application layer."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp this system has been updated last."
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        }
      }
    },
    "Execution": {
      "type": "object",
      "id": "Execution",
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "engine": {
          "description": "Optional. Engine.",
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "inventoryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] State.",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "ruleResults": {
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "OpenShiftValidation": {
      "type": "object",
      "id": "OpenShiftValidation",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Required. The validation details of the OpenShift cluster in JSON format."
        },
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "SapDiscoveryMetadata": {
      "id": "SapDiscoveryMetadata",
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShellCommand": {
      "type": "object",
      "id": "ShellCommand",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        }
      }
    },
    "RuleExecutionResult": {
      "type": "object",
      "id": "RuleExecutionResult",
      "description": "Execution result summary per rule.",
      "properties": {
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of total scanned resources."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status."
        }
      }
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "sapValidationType": {
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ]
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The pairs of metrics data: field name & field value."
        }
      },
      "type": "object"
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "actuations": {
          "description": "The list of actuations.",
          "type": "array",
          "items": {
            "$ref": "Actuation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "DeploymentOutput": {
      "type": "object",
      "id": "DeploymentOutput",
      "description": "Message for output of deployment resource.",
      "properties": {
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      }
    },
    "Insight": {
      "type": "object",
      "id": "Insight",
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sqlserverValidation": {
          "$ref": "SqlserverValidation",
          "description": "The insights data for the sqlserver workload validation."
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        },
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload.",
      "properties": {
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "version": {
          "description": "Required. SAP HANA version.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ]
        },
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment."
        },
        "app": {
          "$ref": "AppDetails",
          "description": "Instance details."
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "scalingMethod": {
          "description": "Required. Supports scale up and scale out.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "vmPrefix": {
          "description": "VM prefix.",
          "type": "string"
        },
        "deploymentModel": {
          "description": "Required. Supports non-HA and HA models.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ]
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "database": {
          "description": "Database details.",
          "$ref": "DatabaseDetails"
        }
      },
      "type": "object"
    },
    "WorkloadProfile": {
      "type": "object",
      "id": "WorkloadProfile",
      "description": "Workload resource.",
      "properties": {
        "refreshedTime": {
          "description": "Required. time when the workload data was refreshed",
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. such as name, description, version. More example can be found in deployment"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "description": "Required. The type of the workload"
        },
        "sapWorkload": {
          "$ref": "SapWorkload",
          "description": "The sap workload content"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. Violation details generated by rule.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "id": "SapDiscoveryResourceInstanceProperties",
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "clusterInstances": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of instance URIs that are part of a cluster with this one."
        },
        "instanceRole": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once."
        },
        "appInstances": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "description": "Optional. App server instances on the host"
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "type": "object",
      "id": "ListDiscoveredProfilesResponse",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "workloadProfiles": {
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Evaluation": {
      "type": "object",
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true
        },
        "evaluationType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type."
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      }
    },
    "Notice": {
      "type": "object",
      "id": "Notice",
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message of the notice.",
          "readOnly": true
        }
      }
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "fullyFunctional": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed)."
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "configValues": {
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration)."
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "unspecifiedStateMessage": {
          "type": "string",
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "SapDiscoveryResource": {
      "type": "object",
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource.",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource."
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated."
        },
        "resourceKind": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc."
        },
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "type": "object",
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "Product": {
      "id": "Product",
      "description": "Contains the details of a product.",
      "properties": {
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "description": "Instance Properties.",
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "roles": {
          "description": "Optional. Instance roles.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          }
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "$ref": "UpcomingMaintenanceEvent",
          "description": "Optional. the next maintenance event on VM"
        }
      },
      "type": "object"
    },
    "SapComponent": {
      "type": "object",
      "id": "SapComponent",
      "description": "The component of sap workload",
      "properties": {
        "topologyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "The detected topology of the component."
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "resources": {
          "description": "Output only. resources in the component",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          }
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        }
      }
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "description": "The state of the service.",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The overall state of the service."
        },
        "iamPermissions": {
          "type": "array",
          "items": {
            "$ref": "IAMPermission"
          },
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Rule": {
      "type": "object",
      "id": "Rule",
      "description": "A rule to be evaluated.",
      "properties": {
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "ruleType": {
          "description": "The type of the rule.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of user-defined tags."
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "WriteInsightRequest": {
      "type": "object",
      "id": "WriteInsightRequest",
      "description": "Request for sending the data insights.",
      "properties": {
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      }
    },
    "SapWorkload": {
      "type": "object",
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "properties": {
        "architecture": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture."
        },
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "Output only. The products on this workload.",
          "readOnly": true
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "application": {
          "$ref": "SapComponent",
          "description": "Output only. application component",
          "readOnly": true
        }
      }
    },
    "ListRulesResponse": {
      "type": "object",
      "id": "ListRulesResponse",
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response."
        }
      }
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "description": "Pacemaker configuration.",
      "properties": {
        "bucketNameNodeCertificates": {
          "description": "Required. Bucket location for node certificates.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. SQL Pacemaker username.",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. SQL Pacemaker secret name.",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. Pacemaker cluster name.",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. Pacemaker cluster secret name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "type": "object",
      "id": "SapDiscoveryComponent",
      "description": "Message describing the system component.",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "description": "Optional. The resources in a component."
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        }
      }
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource in execution result.",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component.",
          "type": "string",
          "readOnly": true
        },
        "componentHealthType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the component health.",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ]
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "subComponentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health."
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          }
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "LocationDetails": {
      "type": "object",
      "id": "LocationDetails",
      "description": "Message for SAP instance details.",
      "properties": {
        "deploymentDnsEnabled": {
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true.",
          "type": "boolean"
        },
        "subnetName": {
          "description": "Required. Subnet name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. DNS zone name.",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "networkProject": {
          "description": "Optional. Network project.",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "zone2Name": {
          "description": "Optional. Zone 2 name.",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. VPC name.",
          "type": "string"
        },
        "customTags": {
          "description": "Optional. Network tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ViolationDetails": {
      "type": "object",
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result.",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "ruleOutput": {
          "type": "array",
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "readOnly": true
        },
        "observed": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation."
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "type": "object",
      "id": "UpcomingMaintenanceEvent",
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Start time"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. End time"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        }
      },
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "scannedResources": {
          "description": "All scanned resources in response.",
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          }
        }
      },
      "type": "object"
    },
    "SqlserverValidationDetails": {
      "type": "object",
      "id": "SqlserverValidationDetails",
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AgentStatusIAMPermission": {
      "type": "object",
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "properties": {
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AgentStatusReference": {
      "id": "AgentStatusReference",
      "description": "The reference to public documentation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the reference.",
          "readOnly": true
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListExecutionResultsResponse": {
      "type": "object",
      "id": "ListExecutionResultsResponse",
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "description": "The versions from the specified publisher.",
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "IAMPermission": {
      "type": "object",
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "SapInstanceProperties": {
      "type": "object",
      "id": "SapInstanceProperties",
      "description": "SAP instance properties.",
      "properties": {
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        }
      }
    },
    "SqlLocationDetails": {
      "type": "object",
      "id": "SqlLocationDetails",
      "description": "Location and networking details for configuring SQL server workload.",
      "properties": {
        "internetAccess": {
          "description": "Required. Internet Access.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "tertiaryZone": {
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode.",
          "type": "string"
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name.",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. Primary zone.",
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
[...]
