{
  "name": "workloadmanager",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "version": "v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "id": "workloadmanager:v1",
  "title": "Workload Manager API",
  "canonicalName": "Workload Manager",
  "revision": "20260916",
  "schemas": {
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "properties": {
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "ascsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized ASCS host of the application."
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "kernelVersion": {
          "type": "string",
          "description": "Optional. Kernel version for Netweaver running in the system."
        }
      },
      "type": "object",
      "id": "SapDiscoveryComponentApplicationProperties"
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "id": "WorkloadProfileHealth",
      "properties": {
        "componentsHealth": {
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array",
          "description": "The detailed condition reports of each component."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "description": "Output only. The health state of the workload.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "checkTime": {
          "type": "string",
          "description": "The time when the health check was performed.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "type": "object",
      "description": "Pacemaker configuration.",
      "properties": {
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. Bucket location for node certificates."
        },
        "sqlPacemakerSecret": {
          "type": "string",
          "description": "Required. SQL Pacemaker secret name."
        },
        "pacemakerClusterUsername": {
          "description": "Required. Pacemaker cluster username.",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. SQL Pacemaker username."
        },
        "pacemakerClusterSecret": {
          "type": "string",
          "description": "Required. Pacemaker cluster secret name."
        },
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. Pacemaker cluster name."
        }
      }
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "description": "The lifecycle status of an Evaluation resource.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "description": "State of the Evaluation resource."
        }
      }
    },
    "ListScannedResourcesResponse": {
      "type": "object",
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "scannedResources": {
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "type": "object",
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "projectId": {
          "type": "string",
          "description": "Required. project_id lists the human readable cloud project that the data comes from."
        },
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        }
      },
      "description": "The schema of torso workload validation data."
    },
    "ActuationOutput": {
      "properties": {
        "hasUserFacingErrorMsg": {
          "description": "Output only. Whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true,
          "type": "boolean"
        },
        "ansibleError": {
          "description": "Output only. Error message returned from Ansible.",
          "readOnly": true,
          "type": "string"
        },
        "terraformError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message returned from Terraform."
        },
        "terraformTemplate": {
          "type": "string",
          "description": "Reference to the Terraform template used."
        },
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "enumDescriptions": [
            "No error code was specified.",
            "General Terraform failure.",
            "Permission error in Terraform.",
            "Quota related error in Terraform.",
            "General Ansible failure.",
            "Constraint related error in Terraform.",
            "Resource already exists error in Terraform.",
            "Resource not found error in Terraform.",
            "Permission denied error in Ansible.",
            "Secret related error in Ansible.",
            "General Terraform failure during deletion.",
            "Resource in use error in Terraform deletion.",
            "Startup failure in Ansible."
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation."
        },
        "blueprintId": {
          "description": "Reference to the Blueprint Controller deployment and revision resource.",
          "type": "string"
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Failed task name returned from Ansible.",
          "items": {
            "type": "string"
          }
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to the Cloud Storage file that stores build logs."
        },
        "errorLogs": {
          "description": "A link to the actuation Cloud Build log.",
          "type": "string"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for output of actuation.",
      "id": "ActuationOutput"
    },
    "AgentStatusConfigValue": {
      "properties": {
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the configuration value."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "description": "The configuration value.",
      "id": "AgentStatusConfigValue",
      "type": "object"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        },
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "properties": {
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        },
        "osKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash."
        },
        "rawString": {
          "type": "string",
          "description": "Optional. Raw string of the kernel version."
        }
      },
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object"
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "properties": {
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        },
        "rule": {
          "type": "string",
          "description": "Rule name as plain text like `sap-hana-configured`."
        },
        "message": {
          "type": "string",
          "description": "Execution message, if any."
        },
        "state": {
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "description": "Output only. The execution status.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "readOnly": true
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RuleExecutionResult"
    },
    "ListActuationsResponse": {
      "type": "object",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "actuations": {
          "description": "The list of actuations.",
          "items": {
            "$ref": "Actuation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListActuationsResponse"
    },
    "ExternalDataSources": {
      "description": "External data sources for an execution.",
      "type": "object",
      "id": "ExternalDataSources",
      "properties": {
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "type": {
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ]
        },
        "assetType": {
          "type": "string",
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user."
        }
      }
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "properties": {
        "sapWorkload": {
          "$ref": "SapWorkload",
          "description": "The sap workload content"
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "description": "Required. The type of the workload",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "type": "object"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "refreshedTime": {
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Workload resource."
    },
    "AgentStatusReference": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the reference.",
          "type": "string"
        },
        "url": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URL of the reference."
        }
      },
      "type": "object",
      "description": "The reference to public documentation.",
      "id": "AgentStatusReference"
    },
    "SqlserverValidationValidationDetail": {
      "description": "Message describing the Sqlserver validation metrics.",
      "id": "SqlserverValidationValidationDetail",
      "properties": {
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "type": "string",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ]
        },
        "details": {
          "description": "Required. Details wraps map that represents collected data names and values.",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The version of the rule."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "tags": {
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "ruleType": {
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "description": "The type of the rule.",
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        }
      },
      "id": "Rule"
    },
    "Location": {
      "id": "Location",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "OpenShiftValidation": {
      "type": "object",
      "id": "OpenShiftValidation",
      "properties": {
        "validationDetails": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "type": "object"
        },
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        }
      },
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data."
    },
    "IAMPermission": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "readOnly": true,
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "The IAM permission status.",
      "id": "IAMPermission"
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "properties": {
        "secondaryZone": {
          "type": "string",
          "description": "Optional. Secondary zone cannot be the same as primary_zone and is only for High Availability deployment mode."
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "internetAccess": {
          "enumDescriptions": [
            "Unspecified internet access.",
            "Allow external IP.",
            "Configure NAT."
          ],
          "description": "Required. Internet Access.",
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "network": {
          "description": "Required. Network name.",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. Create a new DNS zone when the field is empty. Only shown for `Using an existing DNS`. List of existing DNS zones. Terraform variable name: existing_dns_zone_name."
        },
        "subnetwork": {
          "description": "Required. Subnetwork name.",
          "type": "string"
        },
        "tertiaryZone": {
          "type": "string",
          "description": "Optional. Tertiary zone cannot be the same as primary_zone and secondary_zone, and it is only for High Availability deployment mode."
        },
        "region": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "primaryZone": {
          "type": "string",
          "description": "Required. Primary zone."
        }
      },
      "description": "Location and networking details for configuring SQL server workload.",
      "type": "object"
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "id": "SapValidationValidationDetail",
      "properties": {
        "sapValidationType": {
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        },
        "isPresent": {
          "type": "boolean",
          "description": "Optional. Was there a SAP system detected for this validation type."
        },
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The pairs of metrics data: field name & field value."
        }
      },
      "type": "object"
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "type": "object",
      "properties": {
        "sapInstanceProperties": {
          "$ref": "SapInstanceProperties",
          "description": "Optional. SAP Instance properties."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "roles": {
          "items": {
            "type": "string",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ]
          },
          "description": "Optional. Instance roles.",
          "type": "array"
        },
        "upcomingMaintenanceEvent": {
          "$ref": "UpcomingMaintenanceEvent",
          "description": "Optional. the next maintenance event on VM"
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        }
      },
      "description": "Instance Properties."
    },
    "SapDiscoveryResource": {
      "properties": {
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "resourceType": {
          "description": "Required. The type of this resource.",
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "resourceKind": {
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "relatedResources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array"
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        }
      },
      "description": "Message describing a resource.",
      "id": "SapDiscoveryResource",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "type": "object",
      "description": "A product name and version.",
      "properties": {
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesProductVersion"
    },
    "Operation": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "type": "object",
      "properties": {
        "agentName": {
          "readOnly": true,
          "description": "Output only. The name of the agent.",
          "type": "string"
        },
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "configurationErrorMessage": {
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true
        },
        "cloudApiAccessFullScopesGranted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "installedVersion": {
          "readOnly": true,
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "readOnly": true
        },
        "availableVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The available version of the agent in artifact registry."
        },
        "references": {
          "readOnly": true,
          "description": "Output only. Optional references to public documentation.",
          "items": {
            "$ref": "AgentStatusReference"
          },
          "type": "array"
        },
        "systemdServiceEnabled": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is enabled in systemd."
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string",
          "readOnly": true
        },
        "configurationFilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the agent configuration file."
        },
        "configurationValid": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the agent configuration is valid."
        }
      },
      "id": "AgentStatus"
    },
    "SapSystemS4Config": {
      "properties": {
        "app": {
          "description": "Instance details.",
          "$ref": "AppDetails"
        },
        "sapBootDiskImage": {
          "description": "Optional. SAP boot disk image.",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account. Let customers bring their own service account for the Ansible runner.",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "The project that infrastructure is deployed in. Currently only supports the same project where the deployment resource exists."
        },
        "scalingMethod": {
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing.",
            "Scale out: Combines multiple independent computers into one system."
          ],
          "description": "Required. Supports scale up and scale out."
        },
        "version": {
          "description": "Required. SAP HANA version.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ]
        },
        "mediaBucketName": {
          "description": "Required. Media bucket name.",
          "type": "string"
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "Database details."
        },
        "deploymentModel": {
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. Supports non-HA and HA models.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "location": {
          "description": "Database details.",
          "$ref": "LocationDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "environmentType": {
          "enumDescriptions": [
            "Unspecified environment type.",
            "Non-production environment type.",
            "Production environment type."
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. Deployment environment."
        },
        "vmPrefix": {
          "type": "string",
          "description": "VM prefix."
        }
      },
      "type": "object",
      "id": "SapSystemS4Config",
      "description": "Message for SAP system workload."
    },
    "DeploymentOutput": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the resource."
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message for output of deployment resource.",
      "id": "DeploymentOutput"
    },
    "DatabaseDetails": {
      "description": "Message for SAP instance details.",
      "type": "object",
      "id": "DatabaseDetails",
      "properties": {
        "databaseServiceAccount": {
          "description": "Database service account. Let customers bring their own SA for the database.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. Secret Manager secret."
        },
        "diskType": {
          "description": "Required. Disk type.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the database server.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. Primary DB VM name.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. Secondary DB VM name.",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. Instance ID.",
          "type": "string"
        }
      }
    },
    "RunEvaluationRequest": {
      "type": "object",
      "properties": {
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for the RunEvaluation RPC.",
      "id": "RunEvaluationRequest"
    },
    "ListExecutionResultsResponse": {
      "properties": {
        "executionResults": {
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for the ListExecutionResults RPC.",
      "type": "object",
      "id": "ListExecutionResultsResponse"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "description": "A set of properties describing an SAP Database layer.",
      "type": "object",
      "id": "SapDiscoveryComponentDatabaseProperties",
      "properties": {
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "databaseType": {
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseSid": {
          "type": "string",
          "description": "Optional. SID of the system database."
        },
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        }
      }
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing deployments.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "deployments": {
          "items": {
            "$ref": "Deployment"
          },
          "type": "array",
          "description": "The list of deployments."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "validationDetails": {
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data.",
          "type": "array"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data."
    },
    "RuleOutput": {
      "description": "The rule output of the violation.",
      "type": "object",
      "properties": {
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "message": {
          "type": "string",
          "description": "Output only. The message generated by rule.",
          "readOnly": true
        }
      },
      "id": "RuleOutput"
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "id": "WriteInsightRequest",
      "type": "object",
      "properties": {
        "insight": {
          "$ref": "Insight",
          "description": "Required. The metrics data details."
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "AgentCommand": {
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the agent one-time executable that will be invoked."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings."
        }
      },
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "id": "AgentCommand"
    },
    "DatabaseProperties": {
      "properties": {
        "backupProperties": {
          "readOnly": true,
          "description": "Output only. Backup properties.",
          "$ref": "BackupProperties"
        },
        "databaseType": {
          "readOnly": true,
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        }
      },
      "id": "DatabaseProperties",
      "type": "object",
      "description": "Database Properties."
    },
    "Evaluation": {
      "properties": {
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "resourceFilter": {
          "$ref": "ResourceFilter",
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
        },
        "resourceStatus": {
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "evaluationType": {
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "description": "Evaluation type.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource."
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "id": "Evaluation"
    },
    "AgentStates": {
      "properties": {
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "processMetrics": {
          "$ref": "ServiceStates",
          "description": "Optional. The Process metrics of the agent."
        },
        "hanaMonitoring": {
          "$ref": "ServiceStates",
          "description": "Optional. HANA monitoring metrics of the agent."
        },
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        },
        "installedVersion": {
          "type": "string",
          "description": "Optional. The installed version of the agent on the host."
        }
      },
      "description": "Agent status.",
      "id": "AgentStates",
      "type": "object"
    },
    "SapDiscovery": {
      "type": "object",
      "id": "SapDiscovery",
      "properties": {
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "systemId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system."
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Unix timestamp this system has been updated last."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        }
      },
      "description": "The schema of SAP system discovery data."
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "properties": {},
      "type": "object"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "executions": {
          "type": "array",
          "items": {
            "$ref": "Execution"
          },
          "description": "The list of Execution."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "Insight": {
      "properties": {
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the SAP workload validation."
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        },
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "sentTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "torsoValidation": {
          "$ref": "TorsoValidation",
          "description": "The insights data for workload validation of torso workloads."
        }
      },
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "id": "Insight"
    },
    "AgentStatusIAMPermission": {
      "type": "object",
      "description": "The IAM permission status.",
      "id": "AgentStatusIAMPermission",
      "properties": {
        "granted": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the permission.",
          "type": "string"
        }
      }
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object",
      "properties": {
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        },
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        }
      }
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "type": "object",
      "id": "UpcomingMaintenanceEvent",
      "properties": {
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. End time",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start time"
        }
      }
    },
    "ExecutionResult": {
      "properties": {
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "description": "Execution result type of the scanned resource."
        },
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "Command"
          },
          "description": "The commands to remediate the violation."
        }
      },
      "description": "The result of an execution.",
      "id": "ExecutionResult",
      "type": "object"
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "type": "object",
      "properties": {
        "zone2Name": {
          "type": "string",
          "description": "Optional. Zone 2 name."
        },
        "regionName": {
          "description": "Required. Region name.",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "type": "boolean",
          "description": "Optional. When the user skips DNS configuration in the UI, `deployment_dns_enabled` is false; otherwise `deployment_dns_enabled` is true."
        },
        "subnetName": {
          "type": "string",
          "description": "Required. Subnet name."
        },
        "networkProject": {
          "type": "string",
          "description": "Optional. Network project."
        },
        "createCommsFirewall": {
          "description": "Optional. Create firewall. If true, creates a firewall for the deployment. This field provides an option to not always create a firewall for the deployment.",
          "type": "boolean"
        },
        "zone1Name": {
          "description": "Required. Zone 1 name.",
          "type": "string"
        },
        "vpcName": {
          "type": "string",
          "description": "Required. VPC name."
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. DNS zone name suffix.",
          "type": "string"
        },
        "internetAccess": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. DNS zone name."
        },
        "customTags": {
          "description": "Optional. Network tags.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for SAP instance details."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "SapInstanceProperties": {
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        },
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        }
      },
      "id": "SapInstanceProperties",
      "type": "object"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "type": "object",
      "id": "Product",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      }
    },
    "Database": {
      "description": "Database details.",
      "id": "Database",
      "properties": {
        "soleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a primary sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. The type of a secondary-sole-tenant node/node group. E.g., compute.googleapis.com/node-name."
        },
        "smt": {
          "type": "boolean",
          "description": "Required. Whether simultaneous multithreading is enabled or not."
        },
        "soleTenantNode": {
          "description": "Optional. The name of a primary sole-tenant node/node group.",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. The name of a secondary-sole-tenant node/node group.",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. Whether to have TempDB on local SSD.",
          "type": "boolean"
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "tenancyModel": {
          "type": "string",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT.",
          "enumDescriptions": [
            "Unspecified tenancy model.",
            "Shared tenancy model.",
            "Sole Tenant tenancy model."
          ]
        },
        "diskType": {
          "type": "string",
          "description": "Required. Disk type."
        },
        "floatingIpAddress": {
          "description": "Optional. Only useful for Linux High Availability setup.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Execution": {
      "properties": {
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "notices": {
          "readOnly": true,
          "items": {
            "$ref": "Notice"
          },
          "type": "array",
          "description": "Output only. Additional information generated by the execution."
        },
        "inventoryTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Inventory time stamp."
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "ruleResults": {
          "readOnly": true,
          "description": "Output only. Execution result summary per rule.",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "type": "array"
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. [Output only] State.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] End time stamp.",
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "evaluationId": {
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true
        }
      },
      "description": "Execution that represents a single run of an Evaluation.",
      "id": "Execution",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "Summary": {
      "type": "object",
      "id": "Summary",
      "properties": {
        "failures": {
          "description": "Output only. Number of failures.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "newFixes": {
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "newFailures": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true
        }
      },
      "description": "Execution summary."
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "description": "Message describing the system component.",
      "type": "object",
      "properties": {
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        },
        "resources": {
          "type": "array",
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          }
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "Optional. The detected topology of the component."
        },
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array",
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        }
      }
    },
    "ResourceFilter": {
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "inclusionLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object"
        },
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "type": "array",
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ResourceFilter",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        },
        "workloadProfiles": {
          "items": {
            "$ref": "WorkloadProfile"
          },
          "readOnly": true,
          "description": "Output only. The list of workload profiles",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "List discovered profile Response returns discovered profiles from agents",
      "id": "ListDiscoveredProfilesResponse"
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result.",
      "type": "object",
      "properties": {
        "ruleOutput": {
          "type": "array",
          "description": "Output only. The rule output of the violation.",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "observed": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation."
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "properties": {
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the service.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration)."
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "type": "array"
        },
        "configValues": {
          "type": "array",
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        }
      },
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object",
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "extVersion": {
          "type": "string",
          "description": "Optional. The component's minor version."
        }
      }
    },
    "ScannedResource": {
      "type": "object",
      "id": "ScannedResource",
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      }
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for the ListEvaluations RPC.",
      "id": "ListEvaluationsResponse"
    },
    "CloudResource": {
      "type": "object",
      "description": "The resource on GCP",
      "properties": {
        "instanceProperties": {
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. ",
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true
        }
      },
      "id": "CloudResource"
    },
    "SqlserverValidationDetails": {
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Message containing collected data names and values.",
      "type": "object",
      "id": "SqlserverValidationDetails"
    },
    "Command": {
      "id": "Command",
      "type": "object",
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        },
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        }
      }
    },
    "AppDetails": {
      "description": "Message for SAP instance details.",
      "type": "object",
      "properties": {
        "sharedStorage": {
          "description": "Optional. Storage location.",
          "type": "string"
        },
        "ascsVm": {
          "type": "string",
          "description": "Optional. ASCS VM name."
        },
        "ascsMachineType": {
          "description": "Required. ASCS machine type.",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account. Let customers bring their own service account for ASCS."
        },
        "ascsImage": {
          "description": "Required. Image for the ASCS server.",
          "type": "string"
        },
        "ersInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for ERS."
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized VM names.",
          "items": {
            "type": "string"
          }
        },
        "secretManagerSecret": {
          "description": "Required. Secret Manager secret.",
          "type": "string"
        },
        "image": {
          "description": "Required. Image for the app server and ASCS server.",
          "type": "string"
        },
        "machineType": {
          "description": "Required. Machine type.",
          "type": "string"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. Instance ID for app."
        },
        "ascsInstanceId": {
          "description": "Optional. Instance ID for ASCS.",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS VM name.",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account. Let customers bring their own service account for the application.",
          "type": "string"
        },
        "vmsMultiplier": {
          "type": "integer",
          "description": "Required. VMs multiplier.",
          "format": "int32"
        }
      },
      "id": "AppDetails"
    },
    "SapWorkload": {
      "type": "object",
      "properties": {
        "database": {
          "$ref": "SapComponent",
          "readOnly": true,
          "description": "Output only. database component"
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "type": "string",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "readOnly": true
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "readOnly": true,
          "description": "Output only. The products on this workload.",
          "type": "array"
        },
        "application": {
          "$ref": "SapComponent",
          "readOnly": true,
          "description": "Output only. application component"
        },
[...]
