{
  "discoveryVersion": "v1",
  "basePath": "",
  "schemas": {
    "MonitorStreamInfo": {
      "description": "Settings and Info of the monitor stream",
      "id": "MonitorStreamInfo",
      "type": "object",
      "properties": {
        "enableMonitorStream": {
          "type": "boolean",
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "broadcastStreamDelayMs": {
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer",
          "format": "uint32"
        },
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        }
      }
    },
    "LiveChatPollDetailsPollMetadataPollOption": {
      "id": "LiveChatPollDetailsPollMetadataPollOption",
      "type": "object",
      "properties": {
        "optionText": {
          "type": "string"
        },
        "tally": {
          "format": "int64",
          "type": "string"
        }
      }
    },
    "LiveStreamListResponse": {
      "id": "LiveStreamListResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "A list of live streams that match the request criteria.",
          "items": {
            "$ref": "LiveStream"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "default": "youtube#liveStreamListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        }
      }
    },
    "MembershipsLevelSnippet": {
      "id": "MembershipsLevelSnippet",
      "type": "object",
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        },
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        }
      }
    },
    "LiveBroadcastMonetizationDetails": {
      "description": "Monetization settings of a broadcast.",
      "id": "LiveBroadcastMonetizationDetails",
      "type": "object",
      "properties": {
        "cuepointSchedule": {
          "$ref": "CuepointSchedule"
        }
      }
    },
    "VideoGetRatingResponse": {
      "id": "VideoGetRatingResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of ratings that match the request criteria.",
          "items": {
            "$ref": "VideoRating"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "default": "youtube#videoGetRatingResponse",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "VideoCategoryListResponse": {
      "id": "VideoCategoryListResponse",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "items": {
            "$ref": "VideoCategory"
          },
          "type": "array"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "default": "youtube#videoCategoryListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        }
      }
    },
    "VideoAbuseReportReasonListResponse": {
      "id": "VideoAbuseReportReasonListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`.",
          "items": {
            "$ref": "VideoAbuseReportReason"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`.",
          "default": "youtube#videoAbuseReportReasonListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "description": "The `visitorId` identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "type": "object",
      "properties": {
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        }
      }
    },
    "SearchResult": {
      "id": "SearchResult",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "youtube#searchResult",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request.",
          "$ref": "ResourceId"
        },
        "snippet": {
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description.",
          "$ref": "SearchResultSnippet"
        }
      },
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data."
    },
    "LiveChatMembershipGiftingDetails": {
      "id": "LiveChatMembershipGiftingDetails",
      "type": "object",
      "properties": {
        "giftMembershipsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of gift memberships purchased by the user."
        },
        "giftMembershipsLevelName": {
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        }
      }
    },
    "LiveChatModeratorListResponse": {
      "id": "LiveChatModeratorListResponse",
      "type": "object",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "default": "youtube#liveChatModeratorListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "description": "A list of moderators that match the request criteria.",
          "items": {
            "$ref": "LiveChatModerator"
          },
          "type": "array"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "ChannelSectionListResponse": {
      "id": "ChannelSectionListResponse",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "default": "youtube#channelSectionListResponse"
        },
        "items": {
          "description": "A list of ChannelSections that match the request criteria.",
          "items": {
            "$ref": "ChannelSection"
          },
          "type": "array"
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      }
    },
    "MemberListResponse": {
      "id": "MemberListResponse",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "default": "youtube#memberListResponse"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "description": "A list of members that match the request criteria.",
          "items": {
            "$ref": "Member"
          },
          "type": "array"
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      }
    },
    "ContentRating": {
      "id": "ContentRating",
      "type": "object",
      "properties": {
        "bbfcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ],
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ]
        },
        "lsfRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "description": "The video's rating from Indonesia's Lembaga Sensor Film.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ]
        },
        "fmocRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ],
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "deprecated": true
        },
        "mpaatRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ]
        },
        "agcomRating": {
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ]
        },
        "nfrcRating": {
          "description": "The video's rating from the Bulgarian National Film Center.",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ]
        },
        "mdaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ]
        },
        "smaisRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Iceland.",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ]
        },
        "nmcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ],
          "description": "The National Media Council ratings system for United Arab Emirates."
        },
        "bfvcRating": {
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ]
        },
        "nbcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ],
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ]
        },
        "cccRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ]
        },
        "mtrcbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ]
        },
        "fpbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ],
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "description": "The video's rating from South Africa's Film and Publication Board."
        },
        "menaMpaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ]
        },
        "rteRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ],
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ]
        },
        "ecbmctRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism"
        },
        "cceRating": {
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ]
        },
        "medietilsynetRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority."
        },
        "moctwRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ]
        },
        "cncRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ]
        },
        "grfilmRating": {
          "description": "The video's rating in Greece.",
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ]
        },
        "mcstRating": {
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "description": "The video's rating system for Vietnam - MCST",
          "type": "string",
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ]
        },
        "cbfcRating": {
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcUA7plus",
            "cbfcUA13plus",
            "cbfcUA16plus",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "U/A 7+",
            "U/A 13+",
            "U/A 16+",
            "A",
            "S",
            ""
          ]
        },
        "incaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ],
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating."
        },
        "eefilmRating": {
          "description": "The video's rating in Estonia.",
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ]
        },
        "chvrsRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating."
        },
        "nbcplRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "description": "The video's rating in Poland."
        },
        "anatelRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ],
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television."
        },
        "ilfilmRating": {
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "description": "The video's rating in Israel.",
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ]
        },
        "kijkwijzerRating": {
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ]
        },
        "eirinRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ],
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system."
        },
        "chfilmRating": {
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "description": "The video's rating in Switzerland.",
          "type": "string",
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "tvpgRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ]
        },
        "djctqRatingReasons": {
          "type": "array",
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)",
              "Temer (Fear)",
              "Procedimentos médicos (Medical Procedures)",
              "Tópicos sensíveis (Sensitive Topics)",
              "Fantasia Violência (Fantasy Violence)"
            ],
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent",
              "djctqFear",
              "djctqMedicalProcedures",
              "djctqSensitiveTopics",
              "djctqFantasyViolence"
            ]
          }
        },
        "resorteviolenciaRating": {
          "description": "The video's rating in Venezuela.",
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ]
        },
        "catvfrRating": {
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ]
        },
        "mekuRating": {
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "fpbRatingReasons": {
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ]
          },
          "type": "array"
        },
        "oflcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ]
        },
        "catvRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ]
        },
        "ifcoRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ]
        },
        "mccypRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ]
        },
        "cnaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA)."
        },
        "kmrbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ]
        },
        "cicfRating": {
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ]
        },
        "skfilmRating": {
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "description": "The video's rating in Slovakia.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ]
        },
        "mibacRating": {
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "russiaRating": {
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ]
        },
        "mccaaRating": {
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ]
        },
        "kfcbRating": {
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "description": "The video's rating from the Kenya Film Classification Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ]
        },
        "csaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ],
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ]
        },
        "smsaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ]
        },
        "icaaRating": {
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ]
        },
        "acbRating": {
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ]
        },
        "nkclvRating": {
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).",
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ]
        },
        "mpaaRating": {
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ]
        },
        "ytRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "description": "A rating that YouTube uses to identify age-restricted content."
        },
        "bmukkRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "rtcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ],
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating."
        },
        "fskRating": {
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ]
        },
        "djctqRating": {
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ],
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "czfilmRating": {
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "description": "The video's rating in the Czech Republic.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ]
        },
        "mocRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ]
        },
        "egfilmRating": {
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt.",
          "type": "string",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ]
        },
        "pefilmRating": {
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "description": "The video's rating in Peru.",
          "type": "string",
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ]
        },
        "nfvcbRating": {
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ]
        },
        "fcoRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration."
        },
        "fcbmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "description": "The video's rating from Malaysia's Film Censorship Board."
        },
        "cscfRating": {
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ]
        }
      },
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange"
    },
    "LiveBroadcastStatus": {
      "description": "Live broadcast state.",
      "id": "LiveBroadcastStatus",
      "type": "object",
      "properties": {
        "liveBroadcastPriority": {
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "description": "Priority of the live broadcast event (internal state).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ]
        },
        "recordingStatus": {
          "description": "The broadcast's recording status.",
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ]
        },
        "lifeCycleStatus": {
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ]
        },
        "privacyStatus": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        }
      }
    },
    "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails": {
      "description": "Information specific to merchant affiliate program.",
      "id": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Merchant is eligible for the merchant affiliate program.",
            "Merchant affiliate program is active.",
            "Merchant affiliate program is paused."
          ],
          "enum": [
            "merchantAffiliateProgramStatusUnspecified",
            "merchantAffiliateProgramStatusEligible",
            "merchantAffiliateProgramStatusActive",
            "merchantAffiliateProgramStatusPaused"
          ],
          "description": "The current merchant affiliate program status."
        }
      }
    },
    "LiveStreamContentDetails": {
      "description": "Detailed settings of a stream.",
      "id": "LiveStreamContentDetails",
      "type": "object",
      "properties": {
        "isReusable": {
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. ",
          "type": "boolean"
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      }
    },
    "SearchListResponse": {
      "id": "SearchListResponse",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#searchListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\"."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitor ID identifies the visitor.",
          "type": "string"
        },
        "items": {
          "description": "Pagination information for token pagination.",
          "items": {
            "$ref": "SearchResult"
          },
          "type": "array"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      }
    },
    "MembershipsDurationAtLevel": {
      "id": "MembershipsDurationAtLevel",
      "type": "object",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member for the given level.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "type": "integer",
          "format": "int32"
        },
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        }
      }
    },
    "VideoCategorySnippet": {
      "id": "VideoCategorySnippet",
      "type": "object",
      "properties": {
        "title": {
          "description": "The video category's title.",
          "type": "string"
        },
        "assignable": {
          "type": "boolean"
        },
        "channelId": {
          "default": "UCBR8-60-B28hp2BmDPdntcQ",
          "description": "The YouTube channel that created the video category.",
          "type": "string"
        }
      },
      "description": "Basic details about a video category, such as its localized title."
    },
    "ChannelSectionLocalization": {
      "description": "ChannelSection localization setting",
      "id": "ChannelSectionLocalization",
      "type": "object",
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "LiveStream": {
      "description": "A live stream describes a live ingestion point.",
      "id": "LiveStream",
      "type": "object",
      "properties": {
        "cdn": {
          "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube.",
          "$ref": "CdnSettings"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the stream, including its channel, title, and description.",
          "$ref": "LiveStreamSnippet"
        },
        "kind": {
          "default": "youtube#liveStream",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the stream.",
          "annotations": {
            "required": [
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about live stream's status.",
          "$ref": "LiveStreamStatus"
        },
        "contentDetails": {
          "description": "The content_details object contains information about the stream, including the closed captions ingestion URL.",
          "$ref": "LiveStreamContentDetails"
        }
      }
    },
    "ChannelSectionContentDetails": {
      "id": "ChannelSectionContentDetails",
      "type": "object",
      "properties": {
        "playlists": {
          "type": "array",
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "items": {
            "type": "string"
          }
        },
        "channels": {
          "type": "array",
          "description": "The channel ids for type multiple_channels.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Details about a channelsection, including playlists and channels."
    },
    "ChannelSectionSnippet": {
      "description": "Basic details about a channel section, including title, style and position.",
      "id": "ChannelSectionSnippet",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section.",
          "type": "string"
        },
        "type": {
          "description": "The type of the channel section.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            false
          ],
          "enum": [
            "channelsectionTypeUndefined",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "localized": {
          "$ref": "ChannelSectionLocalization",
          "description": "Localized title, read-only.",
          "deprecated": true
        },
        "style": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "description": "The style of the channel section.",
          "deprecated": true
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel section's default title and description.",
          "deprecated": true
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        },
        "position": {
          "description": "The position of the channel section in the channel.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "BatchGetStatsResponse": {
      "id": "BatchGetStatsResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The videos' stats information.",
          "items": {
            "$ref": "VideoStat"
          }
        },
        "kind": {
          "default": "youtube#batchGetStatsResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#batchGetStatsResponse\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "Response for the Videos.stats API. Returns VideoStat information about a batch of videos. VideoStat contains a subset of the information in Video that is relevant to statistics and content details. BatchGetStats is intentionally not atomic to provide a better user experience. BatchGetStatsResponse returns a summary to help users understand the outcome of the operation."
    },
    "MembershipsDuration": {
      "id": "MembershipsDuration",
      "type": "object",
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VideoSuggestionsTagSuggestion": {
      "id": "VideoSuggestionsTagSuggestion",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The keyword tag suggested for the video.",
          "type": "string"
        },
        "categoryRestricts": {
          "type": "array",
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A single tag suggestion with its relevance information."
    },
    "InvideoTiming": {
      "description": "Describes a temporal position of a visual widget inside a video.",
      "id": "InvideoTiming",
      "type": "object",
      "properties": {
        "durationMs": {
          "description": "Defines the duration in milliseconds for which the promotion should be displayed. If missing, the client should use the default.",
          "format": "uint64",
          "type": "string"
        },
        "offsetMs": {
          "type": "string",
          "format": "uint64",
          "description": "Defines the time at which the promotion will appear. Depending on the value of type the value of the offsetMs field will represent a time offset from the start or from the end of the video, expressed in milliseconds."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "offsetFromStart",
            "offsetFromEnd"
          ],
          "description": "Describes a timing type. If the value is offsetFromStart, then the offsetMs field represents an offset from the start of the video. If the value is offsetFromEnd, then the offsetMs field represents an offset from the end of the video."
        }
      }
    },
    "LiveBroadcastSnippet": {
      "description": "Basic broadcast information.",
      "id": "LiveBroadcastSnippet",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
          "type": "string"
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "actualEndTime": {
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.",
          "format": "date-time",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string",
          "format": "date-time"
        },
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to end.",
          "type": "string",
          "format": "date-time"
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule."
        },
        "actualStartTime": {
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "ChannelStatus": {
      "description": "JSON template for the status part of a channel.",
      "id": "ChannelStatus",
      "type": "object",
      "properties": {
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "longUploadsStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information."
        },
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      }
    },
    "PlaylistItemListResponse": {
      "id": "PlaylistItemListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#playlistItemListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "type": "array",
          "description": "A list of playlist items that match the request criteria.",
          "items": {
            "$ref": "PlaylistItem"
          }
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      }
    },
    "ChannelSettings": {
      "description": "Branding properties for the channel view.",
      "id": "ChannelSettings",
      "type": "object",
      "properties": {
        "featuredChannelsTitle": {
          "deprecated": true,
          "description": "Title for the featured channels tab.",
          "type": "string"
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        },
        "profileColor": {
          "deprecated": true,
          "description": "A prominent color that can be rendered on this channel page.",
          "type": "string"
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string"
        },
        "showRelatedChannels": {
          "type": "boolean",
          "description": "Whether related channels should be proposed.",
          "deprecated": true
        },
        "showBrowseView": {
          "type": "boolean",
          "description": "Whether the tab to browse the videos should be displayed.",
          "deprecated": true
        },
        "defaultTab": {
          "type": "string",
          "description": "Which content tab users should see when viewing the channel.",
          "deprecated": true
        },
        "unsubscribedTrailer": {
          "description": "The trailer of the channel, for users that are not subscribers.",
          "type": "string"
        },
        "description": {
          "description": "Specifies the channel description.",
          "type": "string"
        },
        "title": {
          "description": "Specifies the channel title.",
          "type": "string"
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "moderateComments": {
          "type": "boolean",
          "deprecated": true,
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "featuredChannelsUrls": {
          "deprecated": true,
          "description": "The list of featured channels.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "PlaylistItemContentDetails": {
      "id": "PlaylistItemContentDetails",
      "type": "object",
      "properties": {
        "videoPublishedAt": {
          "description": "The date and time that the video was published to YouTube.",
          "type": "string",
          "format": "date-time"
        },
        "endAt": {
          "deprecated": true,
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video.",
          "type": "string"
        },
        "startAt": {
          "deprecated": true,
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
          "type": "string"
        },
        "note": {
          "description": "A user-generated note for this item.",
          "type": "string"
        }
      }
    },
    "CdnSettings": {
      "id": "CdnSettings",
      "type": "object",
      "properties": {
        "resolution": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The resolution of the inbound video data.",
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ]
        },
        "ingestionType": {
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ],
          "description": " The method or protocol used to transmit the video stream.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          }
        },
        "format": {
          "description": "The format of the video stream that you are sending to Youtube. ",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "deprecated": true,
          "type": "string"
        },
        "ingestionInfo": {
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube.",
          "$ref": "IngestionInfo"
        },
        "frameRate": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The frame rate of the inbound video data.",
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ]
        }
      },
      "description": "Brief description of the live stream cdn settings."
    },
    "VideoAbuseReport": {
      "id": "VideoAbuseReport",
      "type": "object",
      "properties": {
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "reasonId": {
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
          "type": "string"
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "secondaryReasonId": {
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason.",
          "type": "string"
        }
      }
    },
    "ChannelBrandingSettings": {
      "id": "ChannelBrandingSettings",
      "type": "object",
      "properties": {
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "hints": {
          "type": "array",
          "description": "Additional experimental branding properties.",
          "items": {
            "$ref": "PropertyValue"
          },
          "deprecated": true
        },
        "watch": {
          "description": "Branding properties for the watch page.",
          "deprecated": true,
          "$ref": "WatchSettings"
        },
        "channel": {
          "description": "Branding properties for the channel view.",
          "$ref": "ChannelSettings"
        }
      },
      "description": "Branding properties of a YouTube channel."
    },
    "LiveStreamSnippet": {
      "id": "LiveStreamSnippet",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        },
        "isDefaultStream": {
          "type": "boolean"
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the stream was created."
        },
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "title": {
          "description": "The stream's title. The value must be between 1 and 128 characters long.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        }
      }
    },
    "VideoAbuseReportSecondaryReason": {
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object",
      "properties": {
        "label": {
          "description": "The localized label for this abuse report secondary reason.",
          "type": "string"
        },
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        }
      }
    },
    "ChannelConversionPings": {
      "id": "ChannelConversionPings",
      "type": "object",
      "properties": {
        "pings": {
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "type": "array"
        }
      },
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
    },
    "CommentThread": {
      "id": "CommentThread",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment thread and also the top level comment.",
          "$ref": "CommentThreadSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThread\".",
          "default": "youtube#commentThread",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment thread.",
          "type": "string"
        },
        "replies": {
          "description": "The replies object contains a limited number of replies (if any) to the top level comment found in the snippet.",
          "$ref": "CommentThreadReplies"
        }
      },
      "description": "A *comment thread* represents information that applies to a top level comment and all its replies. It can also include the top level comment itself and some of the replies."
    },
    "VideoStatsStatistics": {
      "id": "VideoStatsStatistics",
      "type": "object",
      "properties": {
        "likeCount": {
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "viewCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of times the video has been viewed."
        },
        "commentCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The number of comments for the video."
        }
      },
      "description": "Statistics about the video, such as the number of times the video was viewed or liked."
    },
    "CommentSnippet": {
      "description": "Basic details about a comment, such as its author and text.",
      "id": "CommentSnippet",
      "type": "object",
      "properties": {
        "viewerRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "description": "The rating the viewer has given to this comment. For the time being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE. This may change in the future."
        },
        "likeCount": {
          "description": "The total number of likes this comment has received.",
          "type": "integer",
          "format": "uint32"
        },
        "canRate": {
          "description": "Whether the current viewer can rate this comment.",
          "type": "boolean"
        },
        "moderationStatus": {
          "type": "string",
          "enumDescriptions": [
            "The comment is available for public display.",
            "The comment is awaiting review by a moderator.",
            "",
            "The comment is unfit for display."
          ],
          "enum": [
            "published",
            "heldForReview",
            "likelySpam",
            "rejected"
          ],
          "description": "The comment's moderation status. Will not be set if the comments were requested through the id filter."
        },
        "authorChannelId": {
          "$ref": "CommentSnippetAuthorChannelId"
        },
        "publishedAt": {
          "description": "The date and time when the comment was originally published.",
          "format": "date-time",
          "type": "string"
        },
        "textDisplay": {
          "description": "The comment's text. The format is either plain text or HTML dependent on what has been requested. Even the plain text representation may differ from the text originally posted in that it may replace video links with video titles etc.",
          "type": "string"
        },
        "postId": {
          "description": "The ID of the post the comment refers to, if any.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID of the video the comment refers to, if any.",
          "type": "string"
        },
        "textOriginal": {
          "description": "The comment's original raw text as initially posted or last updated. The original text will only be returned if it is accessible to the viewer, which is only guaranteed if the viewer is the comment's author.",
          "type": "string"
        },
        "parentId": {
          "description": "The unique id of the top-level comment, only set for replies.",
          "type": "string"
        },
        "updatedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The date and time when the comment was last updated."
        },
        "channelId": {
          "description": "The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video or post comment it's the video/post's channel.",
          "type": "string"
        },
        "authorProfileImageUrl": {
          "description": "The URL for the avatar of the user who posted the comment.",
          "type": "string"
        },
        "authorDisplayName": {
          "description": "The name of the user who posted the comment.",
          "type": "string"
        },
        "authorChannelUrl": {
[...]
