{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "YouTube Data API v3",
  "batchPath": "batch",
  "canonicalName": "YouTube",
  "baseUrl": "https://youtube.googleapis.com/",
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "v3",
  "revision": "20260617",
  "rootUrl": "https://youtube.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "LiveStream": {
      "description": "A live stream describes a live ingestion point.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the stream.",
          "annotations": {
            "required": [
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "LiveStreamSnippet",
          "description": "The snippet object contains basic details about the stream, including its channel, title, and description."
        },
        "contentDetails": {
          "$ref": "LiveStreamContentDetails",
          "description": "The content_details object contains information about the stream, including the closed captions ingestion URL."
        },
        "status": {
          "description": "The status object contains information about live stream's status.",
          "$ref": "LiveStreamStatus"
        },
        "kind": {
          "default": "youtube#liveStream",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".",
          "type": "string"
        },
        "cdn": {
          "$ref": "CdnSettings",
          "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube."
        }
      },
      "id": "LiveStream"
    },
    "PlaylistPlayer": {
      "id": "PlaylistPlayer",
      "type": "object",
      "properties": {
        "embedHtml": {
          "description": "An <iframe> tag that embeds a player that will play the playlist.",
          "type": "string"
        }
      }
    },
    "PlaylistItemListResponse": {
      "id": "PlaylistItemListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlaylistItem"
          },
          "description": "A list of playlist items that match the request criteria."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#playlistItemListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "etag": {
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        }
      }
    },
    "VideoFileDetailsVideoStream": {
      "type": "object",
      "properties": {
        "heightPixels": {
          "description": "The encoded video content's height in pixels.",
          "format": "uint32",
          "type": "integer"
        },
        "frameRateFps": {
          "type": "number",
          "description": "The video stream's frame rate, in frames per second.",
          "format": "double"
        },
        "rotation": {
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "aspectRatio": {
          "type": "number",
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "format": "double"
        },
        "bitrateBps": {
          "description": "The video stream's bitrate, in bits per second.",
          "format": "uint64",
          "type": "string"
        },
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        },
        "widthPixels": {
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
          "format": "uint32",
          "type": "integer"
        },
        "vendor": {
          "type": "string",
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
        }
      },
      "description": "Information about a video stream.",
      "id": "VideoFileDetailsVideoStream"
    },
    "VideoTrainability": {
      "id": "VideoTrainability",
      "description": "Specifies who is allowed to train on the video.",
      "type": "object",
      "properties": {
        "videoId": {
          "description": "The ID of the video.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "type": "string",
          "default": "youtube#videoTrainability"
        },
        "permitted": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "Channel": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "default": "youtube#channel"
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.",
          "$ref": "ChannelTopicDetails"
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "conversionPings": {
          "deprecated": true,
          "$ref": "ChannelConversionPings",
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel."
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          }
        },
        "snippet": {
          "$ref": "ChannelSnippet",
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
        },
        "contentDetails": {
          "description": "The contentDetails object encapsulates information about the channel's content.",
          "$ref": "ChannelContentDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "contentOwnerDetails": {
          "$ref": "ChannelContentOwnerDetails",
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "brandingSettings": {
          "$ref": "ChannelBrandingSettings",
          "description": "The brandingSettings object encapsulates information about the branding of the channel."
        }
      },
      "description": "A *channel* resource contains information about a YouTube channel.",
      "id": "Channel"
    },
    "VideoFileDetails": {
      "type": "object",
      "properties": {
        "fileSize": {
          "type": "string",
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "format": "uint64"
        },
        "fileName": {
          "type": "string",
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
        },
        "audioStreams": {
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          }
        },
        "bitrateBps": {
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "format": "uint64",
          "type": "string"
        },
        "fileType": {
          "type": "string",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ]
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        },
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "creationTime": {
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM ",
          "type": "string"
        },
        "durationMs": {
          "type": "string",
          "description": "The length of the uploaded video in milliseconds.",
          "format": "uint64"
        }
      },
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "id": "VideoFileDetails"
    },
    "ChannelSectionTargeting": {
      "id": "ChannelSectionTargeting",
      "type": "object",
      "properties": {
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The country the channel section is targeting.",
          "deprecated": true
        },
        "regions": {
          "deprecated": true,
          "description": "The region the channel section is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languages": {
          "deprecated": true,
          "description": "The language the channel section is targeting.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "ChannelSection targeting setting."
    },
    "VideoGetRatingResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "VideoRating"
          },
          "description": "A list of ratings that match the request criteria."
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "default": "youtube#videoGetRatingResponse"
        }
      },
      "id": "VideoGetRatingResponse"
    },
    "CommentSnippetAuthorChannelId": {
      "id": "CommentSnippetAuthorChannelId",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The id of the author's YouTube channel."
        }
      },
      "description": "Contains the id of the author's YouTube channel, if any."
    },
    "SearchResult": {
      "description": "A search result contains information about a YouTube video, channel, or playlist that matches the search parameters specified in an API request. While a search result points to a uniquely identifiable resource, like a video, it does not have its own persistent data.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchResult\".",
          "default": "youtube#searchResult"
        },
        "snippet": {
          "$ref": "SearchResultSnippet",
          "description": "The snippet object contains basic details about a search result, such as its title or description. For example, if the search result is a video, then the title will be the video's title and the description will be the video's description."
        },
        "id": {
          "description": "The id object contains information that can be used to uniquely identify the resource that matches the search request.",
          "$ref": "ResourceId"
        }
      },
      "id": "SearchResult"
    },
    "PlaylistItem": {
      "description": "A *playlistItem* resource identifies another resource, such as a video, that is included in a playlist. In addition, the playlistItem resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods. For example, if a user gives a positive rating to a video, you would insert that video into the liked videos playlist for that user's channel.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#playlistItem",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItem\"."
        },
        "status": {
          "description": "The status object contains information about the playlist item's privacy status.",
          "$ref": "PlaylistItemStatus"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "PlaylistItemSnippet",
          "description": "The snippet object contains basic details about the playlist item, such as its title and position in the playlist."
        },
        "contentDetails": {
          "$ref": "PlaylistItemContentDetails",
          "description": "The contentDetails object is included in the resource if the included item is a YouTube video. The object contains additional information about the video."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist item."
        }
      },
      "id": "PlaylistItem"
    },
    "VideoProjectDetails": {
      "id": "VideoProjectDetails",
      "type": "object",
      "properties": {},
      "description": "DEPRECATED. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677"
    },
    "LiveChatSuperChatDetails": {
      "id": "LiveChatSuperChatDetails",
      "type": "object",
      "properties": {
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "amountMicros": {
          "type": "string",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "format": "uint64"
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "MembershipsDuration": {
      "id": "MembershipsDuration",
      "type": "object",
      "properties": {
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member across all levels."
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ChannelConversionPing": {
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "type": "object",
      "properties": {
        "context": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Defines the context of the ping.",
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ]
        },
        "conversionUrl": {
          "type": "string",
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping."
        }
      },
      "id": "ChannelConversionPing"
    },
    "PlaylistContentDetails": {
      "id": "PlaylistContentDetails",
      "type": "object",
      "properties": {
        "itemCount": {
          "description": "The number of videos in the playlist.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "LiveBroadcastContentDetails": {
      "id": "LiveBroadcastContentDetails",
      "description": "Detailed settings of a broadcast.",
      "type": "object",
      "properties": {
        "monitorStream": {
          "$ref": "MonitorStreamInfo",
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly."
        },
        "enableLowLatency": {
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled.",
          "deprecated": true
        },
        "closedCaptionsType": {
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "boundStreamId": {
          "description": "This value uniquely identifies the live stream bound to the broadcast.",
          "type": "string"
        },
        "enableEmbed": {
          "type": "boolean",
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video."
        },
        "projection": {
          "description": "The projection format of this broadcast. This defaults to rectangular.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ]
        },
        "recordFromStart": {
          "type": "boolean",
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback."
        },
        "mesh": {
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "format": "byte",
          "type": "string"
        },
        "enableContentEncryption": {
          "type": "boolean",
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast."
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "boundStreamLastUpdateTimeMs": {
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "format": "date-time",
          "type": "string"
        },
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableClosedCaptions": {
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.",
          "deprecated": true
        },
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends."
        },
        "stereoLayout": {
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ],
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "latencyPreference": {
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "startWithSlate": {
          "type": "boolean",
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
          "deprecated": true
        }
      }
    },
    "VideoAbuseReportReasonSnippet": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        },
        "secondaryReasons": {
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          }
        }
      },
      "description": "Basic details about a video category, such as its localized title.",
      "id": "VideoAbuseReportReasonSnippet"
    },
    "PlaylistItemSnippet": {
      "id": "PlaylistItemSnippet",
      "description": "Basic details about a playlist, including title, description and thumbnails. Basic details of a YouTube Playlist item provided by the author. Next ID: 15",
      "type": "object",
      "properties": {
        "videoOwnerChannelTitle": {
          "type": "string",
          "description": "Channel title for the channel this video belongs to."
        },
        "videoOwnerChannelId": {
          "type": "string",
          "description": "Channel id for the channel this video belongs to."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the user that added the item to the playlist."
        },
        "title": {
          "type": "string",
          "description": "The item's title."
        },
        "position": {
          "description": "The order in which the item appears in the playlist. The value uses a zero-based index, so the first item has a position of 0, the second item has a position of 1, and so forth.",
          "format": "uint32",
          "type": "integer"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the item was added to the playlist.",
          "format": "date-time"
        },
        "description": {
          "description": "The item's description.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist item. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The id object contains information that can be used to uniquely identify the resource that is included in the playlist as the playlist item.",
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          }
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify thGe playlist that the playlist item is in.",
          "annotations": {
            "required": [
              "youtube.playlistItems.insert",
              "youtube.playlistItems.update"
            ]
          }
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the playlist item belongs to."
        }
      }
    },
    "LiveChatMembershipGiftingDetails": {
      "id": "LiveChatMembershipGiftingDetails",
      "type": "object",
      "properties": {
        "giftMembershipsLevelName": {
          "type": "string",
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        },
        "giftMembershipsCount": {
          "type": "integer",
          "description": "The number of gift memberships purchased by the user.",
          "format": "int32"
        }
      }
    },
    "VideoStatus": {
      "type": "object",
      "properties": {
        "uploadStatus": {
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "description": "The status of the uploaded video.",
          "type": "string",
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ]
        },
        "containsSyntheticMedia": {
          "description": "Indicates if the video contains altered or synthetic media.",
          "type": "boolean"
        },
        "publishAt": {
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private..",
          "format": "date-time"
        },
        "failureReason": {
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "type": "string",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ]
        },
        "publicStatsViewable": {
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The video's privacy status.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "rejectionReason": {
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "type": "string",
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ],
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ]
        },
        "license": {
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update"
        },
        "madeForKids": {
          "type": "boolean"
        },
        "embeddable": {
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      },
      "description": "Basic details about a video category, such as its localized title. Next Id: 19",
      "id": "VideoStatus"
    },
    "I18nRegionListResponse": {
      "id": "I18nRegionListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
          "default": "youtube#i18nRegionListResponse"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "type": "array",
          "items": {
            "$ref": "I18nRegion"
          }
        }
      }
    },
    "TestItemTestItemSnippet": {
      "type": "object",
      "properties": {},
      "id": "TestItemTestItemSnippet"
    },
    "ContentRating": {
      "id": "ContentRating",
      "type": "object",
      "properties": {
        "catvfrRating": {
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ]
        },
        "mccypRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ]
        },
        "djctqRating": {
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ]
        },
        "fpbRating": {
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ],
          "description": "The video's rating from South Africa's Film and Publication Board."
        },
        "ilfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Israel.",
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ]
        },
        "cicfRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ],
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ]
        },
        "cccRating": {
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ]
        },
        "djctqRatingReasons": {
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)",
              "Temer (Fear)",
              "Procedimentos médicos (Medical Procedures)",
              "Tópicos sensíveis (Sensitive Topics)",
              "Fantasia Violência (Fantasy Violence)"
            ],
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent",
              "djctqFear",
              "djctqMedicalProcedures",
              "djctqSensitiveTopics",
              "djctqFantasyViolence"
            ]
          }
        },
        "rtcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ],
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ]
        },
        "kfcbRating": {
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from the Kenya Film Classification Board."
        },
        "resorteviolenciaRating": {
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "description": "The video's rating in Venezuela.",
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ]
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film."
        },
        "pefilmRating": {
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "description": "The video's rating in Peru.",
          "type": "string",
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ]
        },
        "ifcoRating": {
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "csaRating": {
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ]
        },
        "mccaaRating": {
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ]
        },
        "mdaRating": {
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ]
        },
        "bbfcRating": {
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ],
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ]
        },
        "nbcplRating": {
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating in Poland."
        },
        "mpaaRating": {
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ]
        },
        "cbfcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "U/A 7+",
            "U/A 13+",
            "U/A 16+",
            "A",
            "S",
            ""
          ],
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcUA7plus",
            "cbfcUA13plus",
            "cbfcUA16plus",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ]
        },
        "chfilmRating": {
          "description": "The video's rating in Switzerland.",
          "type": "string",
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ]
        },
        "smsaRating": {
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council)."
        },
        "nkclvRating": {
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ],
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ]
        },
        "nfvcbRating": {
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ]
        },
        "medietilsynetRating": {
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ]
        },
        "acbRating": {
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming."
        },
        "smaisRating": {
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Iceland."
        },
        "mibacRating": {
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ]
        },
        "nbcRating": {
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ],
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ]
        },
        "menaMpaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ]
        },
        "cncRating": {
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "description": "Rating system in France - Commission de classification cinematographique"
        },
        "oflcRating": {
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ]
        },
        "fcoRating": {
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ]
        },
        "cceRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ],
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ]
        },
        "tvpgRating": {
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ]
        },
        "bmukkRating": {
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur)."
        },
        "anatelRating": {
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.",
          "type": "string",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ]
        },
        "ecbmctRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ]
        },
        "moctwRating": {
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ]
        },
        "catvRating": {
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "skfilmRating": {
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "description": "The video's rating in Slovakia.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ]
        },
        "incaaRating": {
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ],
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ]
        },
        "mekuRating": {
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "type": "string",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ]
        },
        "lsfRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "description": "The video's rating from Indonesia's Lembaga Sensor Film."
        },
        "czfilmRating": {
          "description": "The video's rating in the Czech Republic.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ]
        },
        "cnaRating": {
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "type": "string",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ]
        },
        "mocRating": {
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ],
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ]
        },
        "grfilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "description": "The video's rating in Greece.",
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ]
        },
        "russiaRating": {
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating."
        },
        "fpbRatingReasons": {
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "type": "array",
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "egfilmRating": {
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "description": "The video's rating in Egypt."
        },
        "agcomRating": {
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "type": "string",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ]
        },
        "kmrbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ]
        },
        "nmcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "description": "The National Media Council ratings system for United Arab Emirates.",
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ]
        },
        "cscfRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ]
        },
        "mtrcbRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ]
        },
        "fcbmRating": {
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ]
        },
        "kijkwijzerRating": {
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands)."
        },
        "fmocRating": {
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "deprecated": true,
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ]
        },
        "icaaRating": {
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ]
        },
        "fskRating": {
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ]
        },
        "eefilmRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "description": "The video's rating in Estonia.",
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ]
        },
        "mcstRating": {
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "description": "The video's rating system for Vietnam - MCST"
        },
        "mpaatRating": {
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "type": "string",
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ]
        },
        "bfvcRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ]
        },
        "chvrsRating": {
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ]
        },
        "rteRating": {
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ],
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann."
        },
        "ytRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ]
        },
        "eirinRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ]
        },
        "nfrcRating": {
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "description": "The video's rating from the Bulgarian National Film Center.",
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ]
        }
      },
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange"
    },
    "LiveChatGiftDetails": {
      "type": "object",
      "properties": {
        "altText": {
          "type": "string",
          "description": "The alternative text to be used for accessibility."
        },
        "hasVisualEffect": {
          "description": "Whether the gift involves a visual effect.",
          "type": "boolean"
        },
        "giftName": {
          "description": "The name of the gift.",
          "type": "string"
        },
        "giftUrl": {
          "type": "string",
          "description": "The URL of the gift image."
        },
        "language": {
          "type": "string",
          "description": "The BCP-47 language code of the gift."
        },
        "comboCount": {
          "description": "The number of times the gift has been sent in a row.",
          "format": "int32",
          "type": "integer"
        },
        "giftDuration": {
          "description": "The duration of the gift.",
          "format": "google-duration",
          "type": "string"
        },
        "jewelsAmount": {
          "description": "The value of the gift in jewels.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Details about the gift event, this is only set if the type is 'giftEvent'.",
      "id": "LiveChatGiftDetails"
    },
    "PlaylistListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#playlistListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\"."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "description": "A list of playlists that match the request criteria",
          "type": "array",
          "items": {
            "$ref": "Playlist"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "visitorId": {
          "deprecated": true,
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "id": "PlaylistListResponse"
    },
    "LiveChatMessageRetractedDetails": {
      "id": "LiveChatMessageRetractedDetails",
      "type": "object",
      "properties": {
        "retractedMessageId": {
          "type": "string"
        }
      }
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "type": "object",
      "properties": {
        "property": {
          "type": "string",
          "description": "A property."
        },
        "value": {
          "type": "string",
          "description": "The property's value."
        }
      },
      "description": "A pair Property / Value."
    },
    "InvideoBranding": {
      "description": "Describes an invideo branding.",
      "type": "object",
      "properties": {
        "imageBytes": {
          "description": "The bytes the uploaded image. Only used in api to youtube communication.",
          "format": "byte",
          "type": "string"
        },
        "targetChannelId": {
          "type": "string",
          "description": "The channel to which this branding links. If not present it defaults to the current channel."
        },
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "imageUrl": {
          "description": "The url of the uploaded image. Only used in apiary to api communication.",
          "type": "string"
        },
        "position": {
          "deprecated": true,
          "$ref": "InvideoPosition",
          "description": "The spatial position within the video where the branding watermark will be displayed."
        }
      },
      "id": "InvideoBranding"
    },
    "PlaylistItemContentDetails": {
      "type": "object",
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
          "type": "string"
        },
        "note": {
          "type": "string",
          "description": "A user-generated note for this item."
        },
        "endAt": {
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video.",
          "type": "string",
          "deprecated": true
        },
        "startAt": {
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0.",
          "deprecated": true
        },
        "videoPublishedAt": {
          "description": "The date and time that the video was published to YouTube.",
          "format": "date-time",
          "type": "string"
        }
      },
      "id": "PlaylistItemContentDetails"
    },
    "ChannelSection": {
      "id": "ChannelSection",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#channelSection",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSection\".",
          "type": "string"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelSectionLocalization"
          },
          "deprecated": true
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel section.",
          "type": "string"
        },
        "snippet": {
          "$ref": "ChannelSectionSnippet",
          "description": "The snippet object contains basic details about the channel section, such as its type, style and title."
        },
        "contentDetails": {
          "$ref": "ChannelSectionContentDetails",
          "description": "The contentDetails object contains details about the channel section content, such as a list of playlists or channels featured in the section."
        },
        "targeting": {
          "$ref": "ChannelSectionTargeting",
          "description": "The targeting object contains basic targeting settings about the channel section.",
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "SearchResultSnippet": {
      "type": "object",
      "properties": {
        "liveBroadcastContent": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts.",
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ]
        },
        "channelId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
        },
        "title": {
          "type": "string",
          "description": "The title of the search result."
        },
        "channelTitle": {
          "description": "The title of the channel that published the resource that the search result identifies.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The creation date and time of the resource that the search result identifies.",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "A description of the search result."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      },
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
      "id": "SearchResultSnippet"
    },
    "ChannelTopicDetails": {
      "type": "object",
      "properties": {
        "topicIds": {
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "deprecated": true
        },
        "topicCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Wikipedia URLs that describe the channel's content."
        }
      },
      "description": "Freebase topic information related to the channel.",
      "id": "ChannelTopicDetails"
    },
    "SuperChatEvent": {
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`.",
          "default": "youtube#superChatEvent"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the Super Chat event.",
          "$ref": "SuperChatEventSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "SuperChatEvent"
    },
    "MembershipsDetails": {
      "type": "object",
      "properties": {
        "membershipsDuration": {
          "$ref": "MembershipsDuration",
          "description": "Data about memberships duration without taking into consideration pricing levels."
        },
        "highestAccessibleLevelDisplayName": {
          "description": "Display name for the highest level that the user has access to at the moment.",
          "type": "string"
        },
        "accessibleLevels": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Ids of all levels that the user has access to. This includes the currently active level and all other levels that are included because of a higher purchase."
        },
        "highestAccessibleLevel": {
          "type": "string",
          "description": "Id of the highest level that the user has access to at the moment."
        },
        "membershipsDurationAtLevels": {
          "type": "array",
          "items": {
            "$ref": "MembershipsDurationAtLevel"
          },
          "description": "Data about memberships duration on particular pricing levels."
        }
      },
      "id": "MembershipsDetails"
    },
    "VideoRecordingDetails": {
      "id": "VideoRecordingDetails",
      "type": "object",
      "properties": {
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded.",
          "format": "date-time",
          "type": "string"
        },
        "location": {
          "$ref": "GeoPoint",
          "description": "The geolocation information associated with the video."
        }
[...]
