{
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerDomain": "google.com",
  "documentationLink": "https://developers.google.com/youtube/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "ThirdPartyLink": {
      "type": "object",
      "id": "ThirdPartyLink",
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\".",
          "default": "youtube#thirdPartyLink"
        },
        "snippet": {
          "$ref": "ThirdPartyLinkSnippet",
          "description": "The snippet object contains basic details about the third- party account link."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource"
        },
        "linkingToken": {
          "type": "string",
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked."
        },
        "status": {
          "description": "The status object contains information about the status of the link.",
          "$ref": "ThirdPartyLinkStatus"
        }
      }
    },
    "LiveStreamContentDetails": {
      "properties": {
        "isReusable": {
          "type": "boolean",
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. "
        },
        "closedCaptionsIngestionUrl": {
          "type": "string",
          "description": "The ingestion URL where the closed captions of this stream are sent."
        }
      },
      "id": "LiveStreamContentDetails",
      "description": "Detailed settings of a stream.",
      "type": "object"
    },
    "SuperChatEventListResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "items": {
          "description": "A list of Super Chat purchases that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "SuperChatEvent"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "SuperChatEventListResponse",
      "type": "object"
    },
    "VideoFileDetails": {
      "properties": {
        "videoStreams": {
          "type": "array",
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "audioStreams": {
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          }
        },
        "bitrateBps": {
          "type": "string",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "format": "uint64"
        },
        "fileName": {
          "type": "string",
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
        },
        "fileSize": {
          "type": "string",
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "format": "uint64"
        },
        "creationTime": {
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM ",
          "type": "string"
        },
        "fileType": {
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ],
          "type": "string",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded."
        },
        "durationMs": {
          "type": "string",
          "description": "The length of the uploaded video in milliseconds.",
          "format": "uint64"
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        }
      },
      "type": "object",
      "id": "VideoFileDetails",
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information."
    },
    "PlaylistImageSnippet": {
      "properties": {
        "playlistId": {
          "description": "The Playlist ID of the playlist this image is associated with.",
          "type": "string"
        },
        "type": {
          "enum": [
            "hero"
          ],
          "type": "string",
          "enumDescriptions": [
            "The main image that will be used for this playlist."
          ],
          "description": "The image type."
        },
        "width": {
          "type": "integer",
          "description": "The image width.",
          "format": "int32"
        },
        "height": {
          "format": "int32",
          "description": "The image height.",
          "type": "integer"
        }
      },
      "id": "PlaylistImageSnippet",
      "description": "A *playlistImage* resource identifies another resource, such as a image, that is associated with a playlist. In addition, the playlistImage resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistImages.list method to retrieve image data for any of those playlists. You can also add or remove images from those lists by calling the playlistImages.insert and playlistImages.delete methods.",
      "type": "object"
    },
    "ThumbnailSetResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#thumbnailSetResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\"."
        },
        "items": {
          "items": {
            "$ref": "ThumbnailDetails"
          },
          "description": "A list of thumbnails.",
          "type": "array"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "ThumbnailSetResponse"
    },
    "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails": {
      "properties": {
        "status": {
          "description": "The current merchant affiliate program status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Merchant is eligible for the merchant affiliate program.",
            "Merchant affiliate program is active.",
            "Merchant affiliate program is paused."
          ],
          "enum": [
            "merchantAffiliateProgramStatusUnspecified",
            "merchantAffiliateProgramStatusEligible",
            "merchantAffiliateProgramStatusActive",
            "merchantAffiliateProgramStatusPaused"
          ]
        }
      },
      "id": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails",
      "description": "Information specific to merchant affiliate program.",
      "type": "object"
    },
    "PlaylistStatus": {
      "properties": {
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The playlist's privacy status."
        },
        "podcastStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The playlist's podcast status.",
          "enum": [
            "enabled",
            "disabled"
          ]
        }
      },
      "id": "PlaylistStatus",
      "type": "object"
    },
    "LiveChatModeratorSnippet": {
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "description": "The ID of the live chat this moderator can act on.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatModeratorSnippet"
    },
    "ChannelProfileDetails": {
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        }
      },
      "type": "object",
      "id": "ChannelProfileDetails"
    },
    "Caption": {
      "id": "Caption",
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#caption",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string"
        }
      }
    },
    "MemberSnippet": {
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        },
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        }
      },
      "type": "object",
      "id": "MemberSnippet"
    },
    "VideoTrainability": {
      "type": "object",
      "id": "VideoTrainability",
      "description": "Specifies who is allowed to train on the video.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "permitted": {
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "type": "string",
          "default": "youtube#videoTrainability"
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video."
        }
      }
    },
    "VideoTopicDetails": {
      "type": "object",
      "id": "VideoTopicDetails",
      "description": "Freebase topic information related to the video.",
      "properties": {
        "topicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API."
        },
        "topicCategories": {
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relevantTopicIds": {
          "type": "array",
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VideoFileDetailsVideoStream": {
      "type": "object",
      "id": "VideoFileDetailsVideoStream",
      "description": "Information about a video stream.",
      "properties": {
        "aspectRatio": {
          "type": "number",
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "format": "double"
        },
        "rotation": {
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "frameRateFps": {
          "format": "double",
          "description": "The video stream's frame rate, in frames per second.",
          "type": "number"
        },
        "vendor": {
          "type": "string",
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
        },
        "heightPixels": {
          "description": "The encoded video content's height in pixels.",
          "type": "integer",
          "format": "uint32"
        },
        "bitrateBps": {
          "type": "string",
          "description": "The video stream's bitrate, in bits per second.",
          "format": "uint64"
        },
        "widthPixels": {
          "format": "uint32",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
          "type": "integer"
        },
        "codec": {
          "type": "string",
          "description": "The video codec that the stream uses."
        }
      }
    },
    "AbuseType": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AbuseType",
      "type": "object"
    },
    "VideoSnippet": {
      "properties": {
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time when the video was uploaded.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update"
        },
        "localized": {
          "$ref": "VideoLocalization",
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)"
        },
        "defaultAudioLanguage": {
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to.",
          "type": "string"
        },
        "liveBroadcastContent": {
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ]
        },
        "categoryId": {
          "description": "The YouTube video category associated with the video.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the video belongs to.",
          "type": "string"
        },
        "tags": {
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "VideoSnippet",
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category."
    },
    "TokenPagination": {
      "type": "object",
      "id": "TokenPagination",
      "description": "Stub token pagination template to suppress results.",
      "properties": {}
    },
    "LiveBroadcastContentDetails": {
      "properties": {
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends."
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "boundStreamId": {
          "type": "string",
          "description": "This value uniquely identifies the live stream bound to the broadcast."
        },
        "boundStreamLastUpdateTimeMs": {
          "format": "date-time",
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "type": "string"
        },
        "recordFromStart": {
          "type": "boolean",
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback."
        },
        "closedCaptionsType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ]
        },
        "enableContentEncryption": {
          "type": "boolean",
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast."
        },
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
          "type": "boolean"
        },
        "enableLowLatency": {
          "description": "Indicates whether this broadcast has low latency enabled.",
          "deprecated": true,
          "type": "boolean"
        },
        "monitorStream": {
          "$ref": "MonitorStreamInfo",
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly."
        },
        "latencyPreference": {
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "projection": {
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ],
          "description": "The projection format of this broadcast. This defaults to rectangular.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "stereoLayout": {
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ]
        },
        "enableAutoStop": {
          "type": "boolean",
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "mesh": {
          "format": "byte",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "type": "string"
        },
        "enableClosedCaptions": {
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.",
          "deprecated": true
        },
        "startWithSlate": {
          "type": "boolean",
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "LiveBroadcastContentDetails",
      "description": "Detailed settings of a broadcast."
    },
    "MembershipsDuration": {
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MembershipsDuration"
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#commentThreadListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "type": "object",
      "properties": {
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "commentText": {
          "description": "The text contents of the comment left by the user.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date and time when the event occurred.",
          "type": "string"
        },
        "amountMicros": {
          "type": "string",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "format": "uint64"
        },
        "channelId": {
          "type": "string",
          "description": "Channel id where the event occurred."
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "isSuperStickerEvent": {
          "type": "boolean",
          "description": "True if this event is a Super Sticker event."
        },
        "messageType": {
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "VideoContentDetailsRegionRestriction": {
      "properties": {
        "allowed": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries."
        },
        "blocked": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries."
        }
      },
      "type": "object",
      "id": "VideoContentDetailsRegionRestriction",
      "description": "DEPRECATED Region restriction of the video."
    },
    "VideoAbuseReportReason": {
      "id": "VideoAbuseReportReason",
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#videoAbuseReportReason",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        }
      }
    },
    "LiveBroadcast": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "status": {
          "description": "The status object contains information about the event's status.",
          "$ref": "LiveBroadcastStatus"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "type": "string",
          "default": "youtube#liveBroadcast"
        },
        "statistics": {
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.",
          "$ref": "LiveBroadcastStatistics"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.",
          "$ref": "LiveBroadcastContentDetails"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object contains information about the event's monetization details.",
          "$ref": "LiveBroadcastMonetizationDetails"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time.",
          "$ref": "LiveBroadcastSnippet"
        }
      },
      "type": "object",
      "id": "LiveBroadcast",
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube."
    },
    "VideoProjectDetails": {
      "properties": {},
      "type": "object",
      "id": "VideoProjectDetails",
      "description": "DEPRECATED. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677"
    },
    "I18nRegionSnippet": {
      "properties": {
        "gl": {
          "type": "string",
          "description": "The region code as a 2-letter ISO country code."
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the region."
        }
      },
      "id": "I18nRegionSnippet",
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "type": "object"
    },
    "I18nRegion": {
      "id": "I18nRegion",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n region."
        },
        "snippet": {
          "$ref": "I18nRegionSnippet",
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#i18nRegion",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\"."
        }
      }
    },
    "ChannelSnippet": {
      "id": "ChannelSnippet",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "type": "object",
      "properties": {
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate."
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string"
        },
        "customUrl": {
          "type": "string",
          "description": "The custom url of the channel."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the channel was created.",
          "type": "string"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "title": {
          "description": "The channel's title.",
          "type": "string"
        },
        "localized": {
          "$ref": "ChannelLocalization",
          "description": "Localized title and description, read-only."
        }
      }
    },
    "LiveChatUserBannedMessageDetails": {
      "id": "LiveChatUserBannedMessageDetails",
      "type": "object",
      "properties": {
        "bannedUserDetails": {
          "description": "The details of the user that was banned.",
          "$ref": "ChannelProfileDetails"
        },
        "banType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The type of ban.",
          "enum": [
            "permanent",
            "temporary"
          ]
        },
        "banDurationSeconds": {
          "description": "The duration of the ban. This property is only present if the banType is temporary.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "LiveBroadcastMonetizationDetails": {
      "type": "object",
      "id": "LiveBroadcastMonetizationDetails",
      "description": "Monetization settings of a broadcast.",
      "properties": {
        "cuepointSchedule": {
          "$ref": "CuepointSchedule"
        }
      }
    },
    "VideoStat": {
      "properties": {
        "statistics": {
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video.",
          "readOnly": true,
          "$ref": "VideoStatsStatistics"
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\".",
          "readOnly": true,
          "type": "string"
        },
        "snippet": {
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time.",
          "readOnly": true,
          "$ref": "VideoStatsSnippet"
        },
        "etag": {
          "description": "Output only. Etag of this resource.",
          "readOnly": true,
          "type": "string"
        },
        "contentDetails": {
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video.",
          "readOnly": true,
          "$ref": "VideoStatsContentDetails"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID that YouTube uses to uniquely identify the video."
        }
      },
      "id": "VideoStat",
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "type": "object"
    },
    "VideoAbuseReportSecondaryReason": {
      "properties": {
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "The localized label for this abuse report secondary reason."
        }
      },
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object"
    },
    "SuperChatEvent": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event."
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the Super Chat event.",
          "$ref": "SuperChatEventSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#superChatEvent",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`."
        }
      },
      "type": "object",
      "id": "SuperChatEvent",
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel."
    },
    "LiveChatSuperChatDetails": {
      "properties": {
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "format": "uint32",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "type": "integer"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this Super Chat event."
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string"
        }
      },
      "id": "LiveChatSuperChatDetails",
      "type": "object"
    },
    "AbuseReport": {
      "properties": {
        "description": {
          "type": "string"
        },
        "abuseTypes": {
          "type": "array",
          "items": {
            "$ref": "AbuseType"
          }
        },
        "subject": {
          "$ref": "Entity"
        },
        "relatedEntities": {
          "type": "array",
          "items": {
            "$ref": "RelatedEntity"
          }
        }
      },
      "type": "object",
      "id": "AbuseReport"
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource.",
          "items": {
            "$ref": "I18nLanguage"
          }
        },
        "kind": {
          "default": "youtube#i18nLanguageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        }
      }
    },
    "Video": {
      "type": "object",
      "id": "Video",
      "description": "A *video* resource represents a YouTube video.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#video",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "type": "string"
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "suggestions": {
          "$ref": "VideoSuggestions",
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner."
        },
        "ageGating": {
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner.",
          "$ref": "VideoAgeGating"
        },
        "status": {
          "$ref": "VideoStatus",
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses."
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          }
        },
        "recordingDetails": {
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded.",
          "$ref": "VideoRecordingDetails"
        },
        "processingDetails": {
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner.",
          "$ref": "VideoProcessingDetails"
        },
        "fileDetails": {
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner.",
          "$ref": "VideoFileDetails"
        },
        "statistics": {
          "description": "The statistics object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "localizations": {
          "type": "object",
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "contentDetails": {
          "$ref": "VideoContentDetails",
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio."
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "monetizationDetails": {
          "$ref": "VideoMonetizationDetails",
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video."
        },
        "snippet": {
          "$ref": "VideoSnippet",
          "description": "The snippet object contains basic details about the video, such as its title, description, and category."
        },
        "projectDetails": {
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "deprecated": true,
          "$ref": "VideoProjectDetails"
        }
      }
    },
    "ActivitySnippet": {
      "properties": {
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The type of activity that the resource describes.",
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ]
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel responsible for this activity"
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the video was uploaded."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string"
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user rates a video and marks the same video as a favorite, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same groupId value."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        }
      },
      "type": "object",
      "id": "ActivitySnippet",
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12"
    },
    "MembershipsLevelListResponse": {
      "properties": {
        "items": {
          "description": "A list of pricing levels offered by a creator to the fans.",
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevelListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "MembershipsLevelListResponse"
    },
    "VideoCategoryListResponse": {
      "id": "VideoCategoryListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoCategoryListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategoryListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "items": {
          "items": {
            "$ref": "VideoCategory"
          },
          "description": "A list of video categories that can be associated with YouTube videos. In this map, the video category ID is the map key, and its value is the corresponding videoCategory resource.",
          "type": "array"
        }
      }
    },
    "VideoRecordingDetails": {
      "id": "VideoRecordingDetails",
      "description": "Recording information associated with the video.",
      "type": "object",
      "properties": {
        "locationDescription": {
          "type": "string",
          "description": "The text description of the location where the video was recorded."
        },
        "location": {
          "description": "The geolocation information associated with the video.",
          "$ref": "GeoPoint"
        },
        "recordingDate": {
          "format": "date-time",
          "description": "The date and time when the video was recorded.",
          "type": "string"
        }
      }
    },
    "I18nRegionListResponse": {
      "id": "I18nRegionListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "items": {
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "type": "array",
          "items": {
            "$ref": "I18nRegion"
          }
        },
        "kind": {
          "default": "youtube#i18nRegionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "ChannelToAffiliateProgramLinkDetails": {
      "properties": {
        "merchantId": {
          "format": "uint64",
          "type": "string",
          "description": "Required. Google Merchant Center ID of the partner."
        },
        "programStatus": {
          "enum": [
            "affiliateProgramStatusUnspecified",
            "active",
            "inactive"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Channel is active in the affiliate program.",
            "Channel is inactive in the affiliate program."
          ],
          "description": "Required. Affiliate program status."
        },
        "statusUpdateReason": {
          "type": "string",
          "description": "Optional. Reason for the last update of the affiliate program status."
        },
        "statusUpdateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp when the affiliate program status was last updated."
        }
      },
      "type": "object",
      "id": "ChannelToAffiliateProgramLinkDetails",
      "description": "Information specific to a creator in an affiliate program linked to a YouTube channel."
    },
    "LiveStreamConfigurationIssue": {
      "properties": {
        "description": {
          "type": "string",
          "description": "The long-form description of the issue and how to resolve it."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The kind of error happening.",
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ]
        },
        "severity": {
          "description": "How severe this issue is to the stream.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "info",
            "warning",
            "error"
          ]
        },
        "reason": {
          "type": "string",
          "description": "The short-form reason for this issue."
        }
      },
      "type": "object",
      "id": "LiveStreamConfigurationIssue"
    },
    "PlaylistItemListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "kind": {
          "default": "youtube#playlistItemListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\"."
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "PlaylistItem"
          },
          "type": "array",
          "description": "A list of playlist items that match the request criteria."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      },
      "type": "object",
      "id": "PlaylistItemListResponse"
    },
    "VideoStatsStatistics": {
      "properties": {
        "viewCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of times the video has been viewed.",
          "format": "int64"
        },
        "likeCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "format": "int64"
        },
        "commentCount": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The number of comments for the video.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VideoStatsStatistics",
      "description": "Statistics about the video, such as the number of times the video was viewed or liked."
    },
    "VideoRating": {
      "properties": {
        "rating": {
          "description": "Rating of a video.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ]
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoRating",
      "description": "Basic details about rating of a video."
    },
    "SubscriptionSnippet": {
      "type": "object",
      "id": "SubscriptionSnippet",
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
      "properties": {
        "resourceId": {
          "description": "The id object contains information about the channel that the user subscribed to.",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "$ref": "ResourceId"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the subscription was created.",
          "format": "date-time"
        },
        "title": {
          "description": "The subscription's title.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel.",
          "type": "string"
        }
      }
    },
    "ChannelSectionLocalization": {
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for channel section's title.",
          "deprecated": true
        }
      },
      "id": "ChannelSectionLocalization",
      "description": "ChannelSection localization setting",
      "type": "object"
    },
    "MemberListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "items": {
            "$ref": "Member"
          },
          "description": "A list of members that match the request criteria.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "default": "youtube#memberListResponse"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "MemberListResponse"
    },
    "LiveBroadcastStatus": {
      "properties": {
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ]
        },
        "lifeCycleStatus": {
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ]
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean",
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work."
        },
        "recordingStatus": {
          "description": "The broadcast's recording status.",
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ]
        },
        "madeForKids": {
          "type": "boolean",
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only."
        }
      },
      "id": "LiveBroadcastStatus",
      "description": "Live broadcast state.",
      "type": "object"
    },
    "VideoPlayer": {
      "properties": {
        "embedHtml": {
          "description": "An <iframe> tag that embeds a player that will play the video.",
          "type": "string"
        },
        "embedWidth": {
          "type": "string",
          "description": "The embed width",
          "format": "int64"
        },
        "embedHeight": {
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "VideoPlayer",
      "description": "Player to be used for a video playback."
    },
    "ActivityContentDetailsFavorite": {
      "type": "object",
      "id": "ActivityContentDetailsFavorite",
      "description": "Information about a video that was marked as a favorite video.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was marked as a favorite.",
          "$ref": "ResourceId"
        }
      }
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "description": "JSON template for the status part of a channel.",
      "type": "object",
      "properties": {
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Privacy status of the channel."
        },
        "isChannelMonetizationEnabled": {
          "type": "boolean",
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details."
        },
        "longUploadsStatus": {
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "madeForKids": {
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        }
      }
    },
    "ChannelAuditDetails": {
      "type": "object",
      "id": "ChannelAuditDetails",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "properties": {
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        },
        "communityGuidelinesGoodStanding": {
          "type": "boolean",
          "description": "Whether or not the channel respects the community guidelines."
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        }
      }
    },
    "Activity": {
      "id": "Activity",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "kind": {
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "type": "string"
        }
      }
    },
    "LiveStreamHealthStatus": {
      "properties": {
        "status": {
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ],
          "description": "The status code of this stream",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "lastUpdateTimeSeconds": {
          "type": "string",
          "description": "The last time this status was updated (in seconds)",
          "format": "uint64"
        },
        "configurationIssues": {
          "description": "The configurations issues on this stream",
          "type": "array",
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          }
        }
      },
      "id": "LiveStreamHealthStatus",
      "type": "object"
    },
    "Comment": {
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment.",
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#comment",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the comment."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        }
      }
    },
    "LiveChatTextMessageDetails": {
      "id": "LiveChatTextMessageDetails",
      "type": "object",
      "properties": {
        "messageText": {
          "type": "string",
          "description": "The user's message."
        }
      }
    },
    "MembershipsDurationAtLevel": {
      "properties": {
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberSince": {
          "description": "The date and time when the user became a continuous member for the given level.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "MembershipsDurationAtLevel"
    },
    "LiveChatPollDetails": {
      "type": "object",
      "id": "LiveChatPollDetails",
      "properties": {
        "metadata": {
          "$ref": "LiveChatPollDetailsPollMetadata"
        },
        "status": {
          "enum": [
            "unknown",
            "active",
            "closed"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      }
    },
    "ActivityContentDetailsSocial": {
      "properties": {
        "type": {
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The name of the social network."
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post."
        },
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string"
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post."
    },
    "ChannelConversionPings": {
      "properties": {
        "pings": {
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "type": "array",
          "items": {
            "$ref": "ChannelConversionPing"
          }
        }
      },
      "id": "ChannelConversionPings",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "type": "object"
    },
    "LiveChatMessageAuthorDetails": {
      "properties": {
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "isChatSponsor": {
          "type": "boolean",
          "description": "Whether the author is a sponsor of the live chat."
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "channelUrl": {
          "type": "string",
          "description": "The channel's URL."
        },
        "isChatModerator": {
          "type": "boolean",
          "description": "Whether the author is a moderator of the live chat."
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        }
      },
      "id": "LiveChatMessageAuthorDetails",
      "type": "object"
    },
    "Thumbnail": {
      "id": "Thumbnail",
      "description": "A thumbnail is an image representing a YouTube resource.",
      "type": "object",
      "properties": {
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        },
        "width": {
          "type": "integer",
          "description": "(Optional) Width of the thumbnail image.",
          "format": "uint32"
        },
        "height": {
          "description": "(Optional) Height of the thumbnail image.",
          "type": "integer",
          "format": "uint32"
        }
      }
    },
    "SubscriptionSubscriberSnippet": {
      "type": "object",
      "id": "SubscriptionSubscriberSnippet",
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "properties": {
        "description": {
          "description": "The description of the subscriber.",
          "type": "string"
        },
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        },
        "title": {
          "description": "The title of the subscriber.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "Thumbnails for this subscriber."
        }
      }
    },
    "VideoFileDetailsAudioStream": {
      "id": "VideoFileDetailsAudioStream",
      "description": "Information about an audio stream.",
      "type": "object",
      "properties": {
        "channelCount": {
          "description": "The number of audio channels that the stream contains.",
          "type": "integer",
          "format": "uint32"
        },
        "codec": {
          "description": "The audio codec that the stream uses.",
          "type": "string"
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "bitrateBps": {
          "format": "uint64",
          "type": "string",
          "description": "The audio stream's bitrate, in bits per second."
        }
      }
    },
    "PageInfo": {
      "id": "PageInfo",
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "type": "object",
      "properties": {
        "resultsPerPage": {
          "description": "The number of results included in the API response.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results in the result set."
        }
      }
    },
    "MonitorStreamInfo": {
      "properties": {
        "enableMonitorStream": {
          "type": "boolean",
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          }
        },
        "broadcastStreamDelayMs": {
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer",
          "format": "uint32"
        },
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        }
      },
      "id": "MonitorStreamInfo",
      "description": "Settings and Info of the monitor stream",
      "type": "object"
    },
    "LiveChatBanSnippet": {
      "type": "object",
      "id": "LiveChatBanSnippet",
      "properties": {
        "banDurationSeconds": {
          "format": "uint64",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY.",
          "type": "string"
        },
        "type": {
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "type": "string",
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ],
          "description": "The type of ban."
        },
        "liveChatId": {
          "description": "The chat this ban is pertinent to.",
          "type": "string"
        },
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        }
      }
    },
    "LiveChatMessageListResponse": {
      "id": "LiveChatMessageListResponse",
      "type": "object",
      "properties": {
        "offlineAt": {
          "description": "The date and time when the underlying stream went offline.",
          "type": "string",
          "format": "date-time"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string"
        },
        "activePollItem": {
          "description": "Set when there is an active poll.",
          "$ref": "LiveChatMessage"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessageListResponse\".",
          "default": "youtube#liveChatMessageListResponse"
        },
        "pollingIntervalMillis": {
          "type": "integer",
          "description": "The amount of time the client should wait before polling again.",
          "format": "uint32"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveChatMessage"
          }
        }
      }
    },
    "LiveBroadcastSnippet": {
      "properties": {
        "publishedAt": {
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule.",
          "type": "string",
          "format": "date-time"
        },
        "title": {
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource."
        },
        "actualEndTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.",
          "type": "string"
        },
        "scheduledEndTime": {
          "description": "The date and time that the broadcast is scheduled to end.",
          "type": "string",
          "format": "date-time"
        },
        "actualStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "type": "string"
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast."
        },
        "scheduledStartTime": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          }
        }
      },
      "id": "LiveBroadcastSnippet",
      "description": "Basic broadcast information.",
      "type": "object"
    },
    "ActivityContentDetailsComment": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsComment",
      "description": "Information about a resource that received a comment.",
      "type": "object"
    },
    "Playlist": {
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        },
        "status": {
          "$ref": "PlaylistStatus",
          "description": "The status object contains status information for the playlist."
        },
        "localizations": {
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "type": "object"
        },
        "kind": {
          "default": "youtube#playlist",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentDetails": {
          "$ref": "PlaylistContentDetails",
          "description": "The contentDetails object contains information like video count."
        },
        "player": {
          "$ref": "PlaylistPlayer",
          "description": "The player object contains information that you would use to play the playlist in an embedded player."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        }
      },
      "type": "object",
      "id": "Playlist",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods."
    },
    "LiveChatNewSponsorDetails": {
      "properties": {
        "memberLevelName": {
          "type": "string",
          "description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        },
        "isUpgrade": {
          "type": "boolean",
          "description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false."
        }
      },
      "id": "LiveChatNewSponsorDetails",
      "type": "object"
    },
    "ChannelSectionTargeting": {
      "id": "ChannelSectionTargeting",
      "description": "ChannelSection targeting setting.",
      "type": "object",
      "properties": {
        "regions": {
          "description": "The region the channel section is targeting.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languages": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The language the channel section is targeting.",
          "deprecated": true
        },
        "countries": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The country the channel section is targeting.",
          "deprecated": true
        }
      }
    },
    "CaptionSnippet": {
      "type": "object",
      "id": "CaptionSnippet",
      "description": "Basic details about a caption track, such as its language and name.",
      "properties": {
        "audioTrackType": {
          "enum": [
            "unknown",
            "primary",
            "commentary",
[...]
