{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "name": "youtube",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "YouTube",
  "protocol": "rest",
  "version": "v3",
  "baseUrl": "https://youtube.googleapis.com/",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "schemas": {
    "Playlist": {
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information like video count.",
          "$ref": "PlaylistContentDetails"
        },
        "kind": {
          "default": "youtube#playlist",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "player": {
          "$ref": "PlaylistPlayer",
          "description": "The player object contains information that you would use to play the playlist in an embedded player."
        },
        "status": {
          "description": "The status object contains status information for the playlist.",
          "$ref": "PlaylistStatus"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist."
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "type": "object",
          "description": "Localizations for different languages"
        }
      },
      "id": "Playlist",
      "type": "object"
    },
    "VideoPaidProductPlacementDetails": {
      "type": "object",
      "description": "Details about paid content, such as paid product placement, sponsorships or endorsement, contained in a YouTube video and a method to inform viewers of paid promotion. This data can only be retrieved by the video owner.",
      "id": "VideoPaidProductPlacementDetails",
      "properties": {
        "hasPaidProductPlacement": {
          "type": "boolean",
          "description": "This boolean represents whether the video contains Paid Product Placement, Studio equivalent: https://screenshot.googleplex.com/4Me79DE6AfT2ktp.png"
        }
      }
    },
    "LiveBroadcastListResponse": {
      "id": "LiveBroadcastListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
          "type": "string",
          "default": "youtube#liveBroadcastListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveBroadcast"
          },
          "description": "A list of broadcasts that match the request criteria."
        }
      }
    },
    "IngestionInfo": {
      "properties": {
        "streamName": {
          "type": "string",
          "description": "The stream name that YouTube assigns to the video stream."
        },
        "ingestionAddress": {
          "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format: *STREAM_URL/STREAM_NAME* ",
          "type": "string"
        },
        "rtmpsBackupIngestionAddress": {
          "description": "This ingestion url may be used instead of backupIngestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams.",
          "type": "string"
        },
        "backupIngestionAddress": {
          "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL.",
          "type": "string"
        },
        "rtmpsIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of ingestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        }
      },
      "type": "object",
      "description": "Describes information necessary for ingesting an RTMP, HTTP, or SRT stream.",
      "id": "IngestionInfo"
    },
    "ChannelSectionListResponse": {
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "items": {
          "items": {
            "$ref": "ChannelSection"
          },
          "type": "array",
          "description": "A list of ChannelSections that match the request criteria."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "default": "youtube#channelSectionListResponse"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "ChannelSectionListResponse"
    },
    "LiveChatMembershipGiftingDetails": {
      "properties": {
        "giftMembershipsLevelName": {
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "giftMembershipsCount": {
          "description": "The number of gift memberships purchased by the user.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "LiveChatMembershipGiftingDetails",
      "type": "object"
    },
    "PlaylistImageListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\".",
          "type": "string",
          "default": "youtube#playlistImageListResponse"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "items": {
            "$ref": "PlaylistImage"
          },
          "type": "array"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlaylistImageListResponse"
    },
    "ActivityContentDetails": {
      "id": "ActivityContentDetails",
      "description": "Details about the content of an activity: the video that was shared, the channel that was subscribed to, etc.",
      "type": "object",
      "properties": {
        "subscription": {
          "$ref": "ActivityContentDetailsSubscription",
          "description": "The `subscription` object contains information about a channel that a user subscribed to. This property is only present if the `snippet.type` is `subscription`."
        },
        "playlistItem": {
          "$ref": "ActivityContentDetailsPlaylistItem",
          "description": "The `playlistItem` object contains information about a new playlist item. This property is only present if the `snippet.type` is `playlistItem`."
        },
        "promotedItem": {
          "$ref": "ActivityContentDetailsPromotedItem",
          "description": "The `promotedItem` object contains details about a resource which is being promoted. This property is only present if the `snippet.type` is `promotedItem`."
        },
        "upload": {
          "description": "The `upload` object contains information about the uploaded video. This property is only present if the `snippet.type` is `upload`.",
          "$ref": "ActivityContentDetailsUpload"
        },
        "social": {
          "description": "The `social` object contains details about a social network post. This property is only present if the `snippet.type` is `social`.",
          "$ref": "ActivityContentDetailsSocial"
        },
        "channelItem": {
          "$ref": "ActivityContentDetailsChannelItem",
          "description": "The `channelItem` object contains details about a resource which was added to a channel. This property is only present if the `snippet.type` is `channelItem`."
        },
        "comment": {
          "description": "The `comment` object contains information about a resource that received a comment. This property is only present if the `snippet.type` is `comment`.",
          "$ref": "ActivityContentDetailsComment"
        },
        "recommendation": {
          "$ref": "ActivityContentDetailsRecommendation",
          "description": "The `recommendation` object contains information about a recommended resource. This property is only present if the `snippet.type` is `recommendation`."
        },
        "bulletin": {
          "description": "The `bulletin` object contains details about a channel bulletin post. This object is only present if the `snippet.type` is `bulletin`.",
          "$ref": "ActivityContentDetailsBulletin"
        }
      }
    },
    "ActivityContentDetailsUpload": {
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the uploaded video.",
          "type": "string"
        }
      },
      "description": "Information about the uploaded video.",
      "id": "ActivityContentDetailsUpload",
      "type": "object"
    },
    "LiveChatFanFundingEventDetails": {
      "type": "object",
      "properties": {
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this fan funding event."
        },
        "amountMicros": {
          "type": "string",
          "format": "uint64",
          "description": "The amount of the fund."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the fund was made."
        },
        "amountDisplayString": {
          "type": "string",
          "description": "A rendered string that displays the fund amount and currency to the user."
        }
      },
      "id": "LiveChatFanFundingEventDetails"
    },
    "Cuepoint": {
      "id": "Cuepoint",
      "properties": {
        "walltimeMs": {
          "format": "uint64",
          "description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time.",
          "type": "string"
        },
        "id": {
          "description": "The identifier for cuepoint resource.",
          "type": "string"
        },
        "insertionOffsetTimeMs": {
          "type": "string",
          "description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.",
          "format": "int64"
        },
        "cueType": {
          "enum": [
            "cueTypeUnspecified",
            "cueTypeAd"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "durationSecs": {
          "type": "integer",
          "format": "uint32",
          "description": "The duration of this cuepoint."
        },
        "etag": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS."
    },
    "ActivitySnippet": {
      "id": "ActivitySnippet",
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user uploads a video and watches the same video, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same `groupId` value."
        },
        "description": {
          "type": "string",
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "type": "string",
          "description": "The title of the resource primarily associated with the activity."
        },
        "type": {
          "enum": [
            "typeUnspecified",
            "upload",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "description": "The type of activity that the resource describes.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel responsible for this activity"
        },
        "publishedAt": {
          "description": "The date and time that the video was uploaded.",
          "format": "date-time",
          "type": "string"
        }
      },
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "type": "object"
    },
    "PlaylistItemStatus": {
      "type": "object",
      "description": "Information about the playlist item's privacy status.",
      "properties": {
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "This resource's privacy status.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        }
      },
      "id": "PlaylistItemStatus"
    },
    "AbuseReport": {
      "type": "object",
      "id": "AbuseReport",
      "properties": {
        "relatedEntities": {
          "items": {
            "$ref": "RelatedEntity"
          },
          "type": "array"
        },
        "abuseTypes": {
          "items": {
            "$ref": "AbuseType"
          },
          "type": "array"
        },
        "description": {
          "type": "string"
        },
        "subject": {
          "$ref": "Entity"
        }
      }
    },
    "VideoSuggestions": {
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "id": "VideoSuggestions",
      "properties": {
        "processingErrors": {
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
          "type": "array",
          "items": {
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ],
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "type": "string"
          }
        },
        "processingWarnings": {
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ],
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          },
          "type": "array"
        },
        "editorSuggestions": {
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
          "type": "array",
          "items": {
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ],
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ],
            "type": "string"
          }
        },
        "tagSuggestions": {
          "type": "array",
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          }
        },
        "processingHints": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ],
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ]
          },
          "type": "array",
          "description": "A list of suggestions that may improve YouTube's ability to process the video."
        }
      },
      "type": "object"
    },
    "LiveChatModeratorListResponse": {
      "id": "LiveChatModeratorListResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\".",
          "type": "string",
          "default": "youtube#liveChatModeratorListResponse"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "items": {
          "type": "array",
          "description": "A list of moderators that match the request criteria.",
          "items": {
            "$ref": "LiveChatModerator"
          }
        }
      }
    },
    "ChannelSectionLocalization": {
      "description": "ChannelSection localization setting",
      "properties": {
        "title": {
          "deprecated": true,
          "description": "The localized strings for channel section's title.",
          "type": "string"
        }
      },
      "id": "ChannelSectionLocalization",
      "type": "object"
    },
    "SearchListResponse": {
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "default": "youtube#searchListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "regionCode": {
          "type": "string"
        },
        "visitorId": {
          "description": "The visitor ID identifies the visitor.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "items": {
            "$ref": "SearchResult"
          },
          "description": "Pagination information for token pagination.",
          "type": "array"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        }
      },
      "id": "SearchListResponse",
      "type": "object"
    },
    "I18nRegion": {
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "id": "I18nRegion",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        },
        "snippet": {
          "$ref": "I18nRegionSnippet",
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".",
          "type": "string",
          "default": "youtube#i18nRegion"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsComment": {
      "description": "Information about a resource that received a comment.",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource associated with the comment."
        }
      },
      "id": "ActivityContentDetailsComment",
      "type": "object"
    },
    "ActivityContentDetailsRecommendation": {
      "id": "ActivityContentDetailsRecommendation",
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "seedResourceId": {
          "$ref": "ResourceId",
          "description": "The `seedResourceId` object contains information about the resource that caused the recommendation."
        },
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "reasonUnspecified",
            "videoWatched"
          ],
          "type": "string"
        }
      },
      "description": "Information that identifies the recommended resource.",
      "type": "object"
    },
    "ChannelSectionContentDetails": {
      "id": "ChannelSectionContentDetails",
      "description": "Details about a channelsection, including playlists and channels.",
      "properties": {
        "playlists": {
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channels": {
          "type": "array",
          "description": "The channel ids for type multiple_channels.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SubscriptionSnippet": {
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
      "type": "object",
      "properties": {
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
        },
        "resourceId": {
          "description": "The id object contains information about the channel that the user subscribed to.",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "$ref": "ResourceId"
        },
        "title": {
          "description": "The subscription's title.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the subscription was created.",
          "format": "date-time"
        },
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        }
      },
      "id": "SubscriptionSnippet"
    },
    "ChannelListResponse": {
      "type": "object",
      "id": "ChannelListResponse",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "kind": {
          "type": "string",
          "default": "youtube#channelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      }
    },
    "SubscriptionListResponse": {
      "type": "object",
      "id": "SubscriptionListResponse",
      "properties": {
        "kind": {
          "default": "youtube#subscriptionListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscriptionListResponse\"."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "description": "A list of subscriptions that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        }
      }
    },
    "LiveChatNewSponsorDetails": {
      "type": "object",
      "properties": {
        "isUpgrade": {
          "description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false.",
          "type": "boolean"
        },
        "memberLevelName": {
          "description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        }
      },
      "id": "LiveChatNewSponsorDetails"
    },
    "AvailabilityConfigRegionsConfigRegionInterval": {
      "description": "Region and time window where video is available for the region.",
      "id": "AvailabilityConfigRegionsConfigRegionInterval",
      "type": "object",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Region where video is available"
        },
        "interval": {
          "$ref": "Interval",
          "description": "Time window where video is available for the region. Not supported for upcoming / active live broadcasts. If start time is unspecified, video is already available If end time is unspecified, video is available forever Specified start and end times cannot be more than five years in the future."
        }
      }
    },
    "RelatedEntity": {
      "id": "RelatedEntity",
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      }
    },
    "PageInfo": {
      "type": "object",
      "description": "Paging details for lists of resources, including total number of items available and number of resources returned in a single page.",
      "properties": {
        "resultsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The number of results included in the API response."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results in the result set."
        }
      },
      "id": "PageInfo"
    },
    "AccessPolicy": {
      "properties": {
        "exception": {
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array"
        },
        "allowed": {
          "type": "boolean",
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
        }
      },
      "id": "AccessPolicy",
      "type": "object",
      "description": "Rights management policy for YouTube resources."
    },
    "ActivityContentDetailsSocial": {
      "description": "Details about a social network post.",
      "id": "ActivityContentDetailsSocial",
      "properties": {
        "referenceUrl": {
          "type": "string",
          "description": "The URL of the social network post."
        },
        "resourceId": {
          "description": "The `resourceId` object encapsulates information that identifies the resource associated with a social network post.",
          "$ref": "ResourceId"
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ],
          "description": "The name of the social network.",
          "type": "string"
        },
        "imageUrl": {
          "type": "string",
          "description": "An image of the post's author."
        }
      },
      "type": "object"
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "type": "object",
      "properties": {
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "superStickerMetadata": {
          "$ref": "SuperStickerMetadata",
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker."
        },
        "supporterDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the supporter."
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "createdAt": {
          "type": "string",
          "description": "The date and time when the event occurred.",
          "format": "date-time"
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "type": "string"
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "channelId": {
          "type": "string",
          "description": "Channel id where the event occurred."
        },
        "messageType": {
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
          "format": "uint32",
          "type": "integer"
        }
      }
    },
    "LiveStreamListResponse": {
      "properties": {
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "items": {
            "$ref": "LiveStream"
          },
          "type": "array",
          "description": "A list of live streams that match the request criteria."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "type": "string",
          "default": "youtube#liveStreamListResponse"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "id": "LiveStreamListResponse",
      "type": "object"
    },
    "LiveChatMessageSnippet": {
      "description": "Next ID: 35",
      "id": "LiveChatMessageSnippet",
      "properties": {
        "membershipGiftingDetails": {
          "description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'.",
          "$ref": "LiveChatMembershipGiftingDetails"
        },
        "messageDeletedDetails": {
          "$ref": "LiveChatMessageDeletedDetails",
          "deprecated": true
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time when the message was orignally published.",
          "format": "date-time"
        },
        "messageRetractedDetails": {
          "deprecated": true,
          "$ref": "LiveChatMessageRetractedDetails"
        },
        "newSponsorDetails": {
          "description": "Details about the New Member Announcement event, this is only set if the type is 'newSponsorEvent'. Please note that \"member\" is the new term for \"sponsor\".",
          "$ref": "LiveChatNewSponsorDetails"
        },
        "displayMessage": {
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
          "type": "string"
        },
        "liveChatId": {
          "type": "string"
        },
        "hasDisplayContent": {
          "type": "boolean",
          "description": "Whether the message has display content that should be displayed to users."
        },
        "giftDetails": {
          "$ref": "LiveChatGiftDetails",
          "description": "Details about the gift event, this is only set if the type is 'giftEvent'."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "textMessageDetails": {
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'.",
          "$ref": "LiveChatTextMessageDetails"
        },
        "giftMembershipReceivedDetails": {
          "$ref": "LiveChatGiftMembershipReceivedDetails",
          "description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'."
        },
        "superStickerDetails": {
          "$ref": "LiveChatSuperStickerDetails",
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'."
        },
        "authorChannelId": {
          "type": "string",
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor memberMilestoneChatEvent - the member that sent the message membershipGiftingEvent - the user that made the purchase giftMembershipReceivedEvent - the user that received the gift membership messageDeletedEvent - the moderator that took the action. Unused. messageRetractedEvent - the author that retracted their message. Unused. userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase superStickerEvent - the user that made the purchase pollEvent - the user that created the poll"
        },
        "pollDetails": {
          "description": "Details about the poll event, this is only set if the type is 'pollEvent'.",
          "$ref": "LiveChatPollDetails"
        },
        "fanFundingEventDetails": {
          "deprecated": true,
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'."
        },
        "type": {
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "memberMilestoneChatEvent",
            "membershipGiftingEvent",
            "giftMembershipReceivedEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent",
            "pollEvent",
            "giftEvent"
          ],
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "A virtual gift sent by a viewer to support a creator."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "superChatDetails": {
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
          "$ref": "LiveChatSuperChatDetails"
        },
        "memberMilestoneChatDetails": {
          "$ref": "LiveChatMemberMilestoneChatDetails",
          "description": "Details about the Member Milestone Chat event, this is only set if the type is 'memberMilestoneChatEvent'."
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsPlaylistItem": {
      "properties": {
        "resourceId": {
          "description": "The `resourceId` object contains information about the resource that was added to the playlist.",
          "$ref": "ResourceId"
        },
        "playlistId": {
          "description": "The value that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        },
        "playlistItemId": {
          "type": "string",
          "description": "ID of the item within the playlist."
        }
      },
      "description": "Information about a new playlist item.",
      "type": "object",
      "id": "ActivityContentDetailsPlaylistItem"
    },
    "WatchSettings": {
      "properties": {
        "backgroundColor": {
          "type": "string",
          "description": "The text color for the video watch page's branded area."
        },
        "textColor": {
          "description": "The background color for the video watch page's branded area.",
          "type": "string"
        },
        "featuredPlaylistId": {
          "description": "An ID that uniquely identifies a playlist that displays next to the video player.",
          "type": "string"
        }
      },
      "description": "Branding properties for the watch. All deprecated.",
      "id": "WatchSettings",
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "id": "I18nLanguageSnippet",
      "properties": {
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        },
        "name": {
          "description": "The human-readable name of the language in the language itself.",
          "type": "string"
        }
      },
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "type": "object"
    },
    "LiveStreamStatus": {
      "description": "Brief description of the live stream status.",
      "properties": {
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ],
          "type": "string"
        },
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        }
      },
      "type": "object",
      "id": "LiveStreamStatus"
    },
    "ChannelToStoreLinkDetails": {
      "id": "ChannelToStoreLinkDetails",
      "type": "object",
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel.",
      "properties": {
        "storeUrl": {
          "description": "Landing page of the store.",
          "type": "string"
        },
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        },
        "merchantId": {
          "type": "string",
          "description": "Google Merchant Center id of the store.",
          "format": "uint64"
        },
        "merchantAffiliateProgramDetails": {
          "$ref": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails",
          "description": "Information specific to merchant affiliate program (read-only)."
        },
        "billingDetails": {
          "description": "Information specific to billing (read-only).",
          "$ref": "ChannelToStoreLinkDetailsBillingDetails"
        }
      }
    },
    "CommentListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "type": "array",
          "description": "A list of comments that match the request criteria.",
          "items": {
            "$ref": "Comment"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "default": "youtube#commentListResponse",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "CommentListResponse",
      "type": "object"
    },
    "LiveChatPollDetails": {
      "id": "LiveChatPollDetails",
      "properties": {
        "metadata": {
          "$ref": "LiveChatPollDetailsPollMetadata"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "unknown",
            "active",
            "closed"
          ]
        }
      },
      "type": "object"
    },
    "ThumbnailDetails": {
      "type": "object",
      "id": "ThumbnailDetails",
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "properties": {
        "default": {
          "$ref": "Thumbnail",
          "description": "The default image for this resource."
        },
        "fhd": {
          "$ref": "Thumbnail",
          "description": "The full high definition (1080p) quality image for this resource."
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "qhd": {
          "description": "The quad high definition (1440p / 2K) quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "uhd": {
          "$ref": "Thumbnail",
          "description": "The ultra-high resolution (4K) quality image for this resource."
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "high": {
          "$ref": "Thumbnail",
          "description": "The high quality image for this resource."
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        }
      }
    },
    "VideoStat": {
      "properties": {
        "statistics": {
          "$ref": "VideoStatsStatistics",
          "readOnly": true,
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video."
        },
        "contentDetails": {
          "$ref": "VideoStatsContentDetails",
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video.",
          "readOnly": true
        },
        "snippet": {
          "readOnly": true,
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time.",
          "$ref": "VideoStatsSnippet"
        },
        "id": {
          "type": "string",
          "description": "Output only. The ID that YouTube uses to uniquely identify the video.",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\".",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag of this resource.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "id": "VideoStat"
    },
    "LiveChatBan": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`.",
          "default": "youtube#liveChatBan",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the ban.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the ban.",
          "$ref": "LiveChatBanSnippet"
        }
      },
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "type": "object",
      "id": "LiveChatBan"
    },
    "VideoAbuseReportReasonListResponse": {
      "properties": {
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "kind": {
          "default": "youtube#videoAbuseReportReasonListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportReason"
          },
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The `visitorId` identifies the visitor."
        }
      },
      "id": "VideoAbuseReportReasonListResponse",
      "type": "object"
    },
    "PlaylistImageSnippet": {
      "description": "A *playlistImage* resource identifies another resource, such as a image, that is associated with a playlist. In addition, the playlistImage resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistImages.list method to retrieve image data for any of those playlists. You can also add or remove images from those lists by calling the playlistImages.insert and playlistImages.delete methods.",
      "id": "PlaylistImageSnippet",
      "properties": {
        "height": {
          "description": "The image height.",
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "description": "The image width.",
          "format": "int32",
          "type": "integer"
        },
        "playlistId": {
          "description": "The Playlist ID of the playlist this image is associated with.",
          "type": "string"
        },
        "type": {
          "enum": [
            "hero"
          ],
          "description": "The image type.",
          "enumDescriptions": [
            "The main image that will be used for this playlist."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "I18nLanguage": {
      "id": "I18nLanguage",
      "properties": {
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n language.",
          "type": "string"
        },
        "snippet": {
          "$ref": "I18nLanguageSnippet",
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\".",
          "default": "youtube#i18nLanguage",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      },
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "type": "object"
    },
    "MembershipsDurationAtLevel": {
      "type": "object",
      "properties": {
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        },
        "level": {
          "type": "string",
          "description": "Pricing level ID."
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "format": "int32",
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer)."
        }
      },
      "id": "MembershipsDurationAtLevel"
    },
    "TokenPagination": {
      "description": "Stub token pagination template to suppress results.",
      "type": "object",
      "id": "TokenPagination",
      "properties": {}
    },
    "VideoProcessingDetails": {
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "type": "object",
      "properties": {
        "processingIssuesAvailability": {
          "type": "string",
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "tagSuggestionsAvailability": {
          "type": "string",
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request."
        },
        "processingFailureReason": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ],
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "type": "string"
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "fileDetailsAvailability": {
          "type": "string",
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request."
        },
        "processingStatus": {
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ],
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        }
      },
      "id": "VideoProcessingDetails"
    },
    "VideoRating": {
      "type": "object",
      "description": "Basic details about rating of a video.",
      "properties": {
        "rating": {
          "type": "string",
          "description": "Rating of a video.",
          "enumDescriptions": [
            "The entity has not been rated.",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ]
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        }
      },
      "id": "VideoRating"
    },
    "CuepointSchedule": {
      "id": "CuepointSchedule",
      "description": "Schedule to insert cuepoints into a broadcast by ads automator.",
      "properties": {
        "pauseAdsUntil": {
          "description": "If set, automatic cuepoint insertion is paused until this timestamp (\"No Ad Zone\"). The value is specified in ISO 8601 format.",
          "type": "string"
        },
        "repeatIntervalSecs": {
          "type": "integer",
          "description": "Interval frequency in seconds that api uses to insert cuepoints automatically.",
          "deprecated": true,
          "format": "int32"
        },
        "scheduleStrategy": {
          "deprecated": true,
          "enum": [
            "scheduleStrategyUnspecified",
            "concurrent",
            "nonConcurrent"
          ],
          "description": "The strategy to use when scheduling cuepoints.",
          "enumDescriptions": [
            "",
            "Strategy to schedule cuepoints at one time for all viewers.",
            "Strategy to schedule cuepoints at an increased rate to allow viewers to receive cuepoints when eligible. See go/lcr-non-concurrent-ads for more details."
          ],
          "type": "string"
        },
        "enabled": {
          "type": "boolean",
          "description": "This field is semantically required. If it is set false or not set, other fields in this message will be ignored."
        }
      },
      "type": "object"
    },
    "ResourceId": {
      "id": "ResourceId",
      "description": "A resource id is a generic reference that points to another YouTube resource.",
      "type": "object",
      "properties": {
        "playlistId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource."
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
        }
      }
    },
    "CaptionListResponse": {
      "type": "object",
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "items": {
          "items": {
            "$ref": "Caption"
          },
          "description": "A list of captions that match the request criteria.",
          "type": "array"
        },
        "kind": {
          "default": "youtube#captionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "id": "CaptionListResponse"
    },
    "ChannelContentDetails": {
      "description": "Details about the content of a channel.",
      "type": "object",
      "id": "ChannelContentDetails",
      "properties": {
        "relatedPlaylists": {
          "type": "object",
          "properties": {
            "watchHistory": {
              "description": "The ID of the playlist that contains the channel\"s watch history. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string",
              "deprecated": true
            },
            "likes": {
              "description": "The ID of the playlist that contains the channel\"s liked videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "favorites": {
              "description": "The ID of the playlist that contains the channel\"s favorite videos. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "deprecated": true,
              "type": "string"
            },
            "watchLater": {
              "deprecated": true,
              "description": "The ID of the playlist that contains the channel\"s watch later playlist. Use the playlistItems.insert and playlistItems.delete to add or remove items from that list.",
              "type": "string"
            },
            "uploads": {
              "description": "The ID of the playlist that contains the channel\"s uploaded videos. Use the videos.insert method to upload new videos and the videos.delete method to delete previously uploaded videos.",
              "type": "string"
            }
          }
        }
      }
    },
    "SearchResultSnippet": {
      "properties": {
        "thumbnails": {
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "liveBroadcastContent": {
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts.",
          "enumDescriptions": [
            "The resource does not have live broadcast content.",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
        },
        "title": {
          "type": "string",
          "description": "The title of the search result."
        },
        "publishedAt": {
          "type": "string",
          "description": "The creation date and time of the resource that the search result identifies.",
          "format": "date-time"
        },
        "channelTitle": {
          "description": "The title of the channel that published the resource that the search result identifies.",
          "type": "string"
        },
        "description": {
          "description": "A description of the search result.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SearchResultSnippet",
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result."
    },
    "CommentSnippetAuthorChannelId": {
      "id": "CommentSnippetAuthorChannelId",
      "type": "object",
      "description": "Contains the id of the author's YouTube channel, if any.",
      "properties": {
        "value": {
          "description": "The id of the author's YouTube channel.",
          "type": "string"
        }
      }
    },
    "VideoFileDetailsVideoStream": {
      "description": "Information about a video stream.",
      "type": "object",
      "properties": {
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        },
        "rotation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "type": "string"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The encoded video content's height in pixels.",
          "format": "uint32"
        },
        "vendor": {
          "type": "string",
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code."
        },
        "frameRateFps": {
          "type": "number",
          "description": "The video stream's frame rate, in frames per second.",
          "format": "double"
        },
        "aspectRatio": {
          "type": "number",
          "format": "double",
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed."
        },
        "widthPixels": {
          "format": "uint32",
          "type": "integer",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels."
        },
        "bitrateBps": {
          "description": "The video stream's bitrate, in bits per second.",
          "format": "uint64",
          "type": "string"
        }
      },
      "id": "VideoFileDetailsVideoStream"
    },
    "CdnSettings": {
      "properties": {
        "ingestionInfo": {
          "$ref": "IngestionInfo",
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube."
        },
        "frameRate": {
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ]
        },
        "format": {
          "deprecated": true,
          "description": "The format of the video stream that you are sending to Youtube. ",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        },
        "ingestionType": {
          "type": "string",
          "description": " The method or protocol used to transmit the video stream.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ]
        },
        "resolution": {
          "description": "The resolution of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ]
        }
      },
      "id": "CdnSettings",
      "description": "Brief description of the live stream cdn settings.",
      "type": "object"
    },
    "LiveChatTextMessageDetails": {
      "type": "object",
      "id": "LiveChatTextMessageDetails",
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      }
    },
    "LiveStream": {
      "properties": {
        "cdn": {
          "$ref": "CdnSettings",
          "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\".",
          "default": "youtube#liveStream",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the stream, including its channel, title, and description.",
          "$ref": "LiveStreamSnippet"
        },
        "contentDetails": {
          "$ref": "LiveStreamContentDetails",
          "description": "The content_details object contains information about the stream, including the closed captions ingestion URL."
        },
        "status": {
          "$ref": "LiveStreamStatus",
          "description": "The status object contains information about live stream's status."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the stream.",
          "annotations": {
            "required": [
              "youtube.liveStreams.update"
            ]
          }
        }
      },
      "type": "object",
      "description": "A live stream describes a live ingestion point.",
      "id": "LiveStream"
    },
    "VideoAbuseReportReasonSnippet": {
      "id": "VideoAbuseReportReasonSnippet",
      "properties": {
        "secondaryReasons": {
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array"
        },
        "label": {
          "type": "string",
          "description": "The localized label belonging to this abuse report reason."
        }
      },
      "type": "object",
      "description": "Basic details about a video category, such as its localized title."
    },
    "VideoGetRatingResponse": {
      "properties": {
        "items": {
          "description": "A list of ratings that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "VideoRating"
          }
        },
        "kind": {
          "default": "youtube#videoGetRatingResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "type": "object",
      "id": "VideoGetRatingResponse"
    },
    "VideoStatsContentDetails": {
      "type": "object",
      "id": "VideoStatsContentDetails",
      "description": "Details about the content of a YouTube Video. This is a subset of the information in VideoContentDetails specifically for the Videos.stats API.",
      "properties": {
        "duration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The length of the video. The property value is a [`google.protobuf.Duration`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) object.",
          "format": "google-duration"
        }
      }
    },
    "LiveChatMessageRetractedDetails": {
      "id": "LiveChatMessageRetractedDetails",
      "properties": {
        "retractedMessageId": {
          "type": "string"
        }
      },
      "type": "object",
      "deprecated": true
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GeoPoint": {
      "id": "GeoPoint",
      "properties": {
        "longitude": {
          "type": "number",
          "description": "Longitude in degrees.",
          "format": "double"
        },
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in degrees."
        },
        "altitude": {
          "description": "Altitude above the reference ellipsoid, in meters.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Geographical coordinates of a point, in WGS84.",
      "type": "object"
    },
    "LiveStreamContentDetails": {
      "type": "object",
      "properties": {
        "isReusable": {
          "description": "Indicates whether the stream is reusable, which means that it can be bound to multiple broadcasts. It is common for broadcasters to reuse the same stream for many different broadcasts if those broadcasts occur at different times. If you set this value to false, then the stream will not be reusable, which means that it can only be bound to one broadcast. Non-reusable streams differ from reusable streams in the following ways: - A non-reusable stream can only be bound to one broadcast. - A non-reusable stream might be deleted by an automated process after the broadcast ends. - The liveStreams.list method does not list non-reusable streams if you call the method and set the mine parameter to true. The only way to use that method to retrieve the resource for a non-reusable stream is to use the id parameter to identify the stream. ",
          "type": "boolean"
        },
        "closedCaptionsIngestionUrl": {
          "description": "The ingestion URL where the closed captions of this stream are sent.",
          "type": "string"
        }
      },
      "description": "Detailed settings of a stream.",
      "id": "LiveStreamContentDetails"
    },
    "SuperStickerMetadata": {
      "id": "SuperStickerMetadata",
      "properties": {
        "stickerId": {
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.",
          "type": "string"
        },
        "altText": {
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it.",
          "type": "string"
        },
        "altTextLanguage": {
          "description": "Specifies the localization language in which the alt text is returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "type": "object",
      "properties": {
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "madeForKids": {
          "type": "boolean"
        },
        "longUploadsStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string"
        },
        "isChannelMonetizationEnabled": {
          "type": "boolean",
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details."
        },
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        },
        "privacyStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Privacy status of the channel.",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "description": "JSON template for the status part of a channel."
    },
    "ContentRating": {
      "properties": {
        "oflcRating": {
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "type": "string"
        },
        "nfrcRating": {
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ],
          "description": "The video's rating from the Bulgarian National Film Center.",
          "type": "string"
        },
        "menaMpaaRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ],
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details."
        },
        "eefilmRating": {
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "type": "string",
          "description": "The video's rating in Estonia."
        },
        "mccypRating": {
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ],
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "type": "string"
        },
        "smsaRating": {
          "type": "string",
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ]
        },
        "grfilmRating": {
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece.",
          "type": "string"
        },
        "mibacRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy)."
        },
        "fcoRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ]
        },
        "medietilsynetRating": {
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "type": "string",
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ]
        },
        "czfilmRating": {
          "type": "string",
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "description": "The video's rating in the Czech Republic."
        },
        "mccaaRating": {
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "type": "string",
          "description": "The video's rating from Malta's Film Age-Classification Board."
        },
        "cccRating": {
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "type": "string"
        },
        "cncRating": {
          "description": "Rating system in France - Commission de classification cinematographique",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "type": "string"
        },
        "resorteviolenciaRating": {
          "description": "The video's rating in Venezuela.",
          "type": "string",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ],
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ]
        },
        "bmukkRating": {
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "type": "string",
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "tvpgRating": {
          "type": "string",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
[...]
