{
  "basePath": "",
  "discoveryVersion": "v1",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "title": "YouTube Data API v3",
  "canonicalName": "YouTube",
  "resources": {
    "liveBroadcasts": {
      "methods": {
        "update": {
          "description": "Updates an existing broadcast for the authenticated user.",
          "id": "youtube.liveBroadcasts.update",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "location": "query"
            },
            "broadcastType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "location": "query",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ]
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "location": "query",
              "type": "integer",
              "maximum": "50",
              "format": "uint32"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "broadcastStatus": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "location": "query",
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ]
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "id": "youtube.liveBroadcasts.list"
        },
        "insert": {
          "id": "youtube.liveBroadcasts.insert",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "description": "Inserts a new stream for the authenticated user.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "delete": {
          "id": "youtube.liveBroadcasts.delete",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "description": "Broadcast to delete.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveBroadcasts",
          "description": "Delete a given broadcast."
        },
        "insertCuepoint": {
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "response": {
            "$ref": "Cuepoint"
          },
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "request": {
            "$ref": "Cuepoint"
          },
          "description": "Insert cuepoints in a broadcast"
        },
        "bind": {
          "description": "Bind a broadcast to a stream.",
          "id": "youtube.liveBroadcasts.bind",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts/bind",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "required": true,
              "description": "Broadcast to bind to the stream",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "streamId": {
              "description": "Stream to bind, if not set unbind the current one.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "parameterOrder": [
            "id",
            "part"
          ]
        },
        "transition": {
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "broadcastStatus": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "description": "The status to which the broadcast is going to transition.",
              "location": "query",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "id": {
              "description": "Broadcast to transition.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.transition",
          "description": "Transition a broadcast to a given status."
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "path": "youtube/v3/videoAbuseReportReasons",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "required": true
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.videoAbuseReportReasons.list"
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "id": "youtube.videoCategories.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameters": {
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/videoCategories",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "path": "youtube/v3/videoCategories"
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "transition": {
          "path": "youtube/v3/liveChat/messages/transition",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages/transition",
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "status": {
              "description": "The status to which the chat event is going to transition.",
              "location": "query",
              "enum": [
                "statusUnspecified",
                "closed"
              ],
              "type": "string",
              "enumDescriptions": [
                "Default unknown enum value.",
                "The durable chat event is over."
              ]
            },
            "id": {
              "type": "string",
              "description": "The ID that uniquely identify the chat message event to transition.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Transition a durable chat event.",
          "id": "youtube.liveChatMessages.transition"
        },
        "list": {
          "id": "youtube.liveChatMessages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "profileImageSize": {
              "type": "integer",
              "maximum": "720",
              "format": "uint32",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16",
              "location": "query"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
              "minimum": "200",
              "location": "query",
              "default": "500",
              "maximum": "2000",
              "format": "uint32",
              "type": "integer"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
              "location": "query",
              "required": true
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "hl": {
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "path": "youtube/v3/liveChat/messages"
        },
        "insert": {
          "id": "youtube.liveChatMessages.insert",
          "request": {
            "$ref": "LiveChatMessage"
          },
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveChatMessage"
          },
          "path": "youtube/v3/liveChat/messages"
        },
        "delete": {
          "path": "youtube/v3/liveChat/messages",
          "description": "Deletes a chat message.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.delete",
          "flatPath": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "list": {
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "path": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "location": "query",
              "type": "integer",
              "maximum": "50",
              "format": "uint32"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "playlistId": {
              "type": "string",
              "description": "Return the playlist items within the given playlist.",
              "location": "query"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlistItems.list"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.delete",
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/playlistItems",
          "description": "Deletes a resource."
        },
        "insert": {
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection."
        },
        "update": {
          "id": "youtube.playlistItems.update",
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          }
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.channelBanners.insert",
          "request": {
            "$ref": "ChannelBannerResource"
          },
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "path": "youtube/v3/channelBanners/insert",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/channelBanners/insert",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            },
            "maxSize": "6291456"
          },
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "channelId": {
              "type": "string",
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/channelBanners/insert",
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ]
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query"
            },
            "textFormat": {
              "description": "The requested text format for the returned comments.",
              "location": "query",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "default": "html",
              "type": "string",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "20",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "maximum": "100",
              "format": "uint32"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "path": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.comments.insert",
          "request": {
            "$ref": "Comment"
          },
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "description": "Deletes a resource.",
          "path": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "id": "youtube.comments.delete",
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "id": "youtube.comments.update",
          "request": {
            "$ref": "Comment"
          },
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/comments",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "location": "query"
            }
          },
          "path": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          }
        },
        "setModerationStatus": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "required": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "banAuthor": {
              "default": "false",
              "type": "boolean",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query"
            },
            "moderationStatus": {
              "type": "string",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "location": "query",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "required": true
            }
          },
          "id": "youtube.comments.setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "description": "Sets the moderation status of one or more comments.",
          "path": "youtube/v3/comments/setModerationStatus"
        },
        "markAsSpam": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "location": "query"
            }
          },
          "id": "youtube.comments.markAsSpam",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "path": "youtube/v3/comments/markAsSpam"
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "path": "youtube/v3/search",
          "response": {
            "$ref": "SearchListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/search",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "parameters": {
            "locationRadius": {
              "description": "Filter on distance from the location (specified above).",
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "description": "Display the content as seen by viewers in this country.",
              "location": "query",
              "type": "string"
            },
            "channelType": {
              "description": "Add a filter on the channel search.",
              "location": "query",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ]
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "topicId": {
              "description": "Restrict results to a particular topic.",
              "location": "query",
              "type": "string"
            },
            "videoLicense": {
              "description": "Filter on the license of the videos.",
              "location": "query",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ]
            },
            "forDeveloper": {
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "videoCaption": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "description": "Filter on the presence of captions on the videos.",
              "location": "query",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ]
            },
            "publishedBefore": {
              "type": "string",
              "description": "Filter on resources published before this date.",
              "location": "query",
              "format": "google-datetime"
            },
            "videoSyndicated": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "description": "Filter on syndicated videos.",
              "location": "query",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ]
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "publishedAfter": {
              "description": "Filter on resources published after this date.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "videoDimension": {
              "type": "string",
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "description": "Filter on 3d videos.",
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ]
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "location": {
              "description": "Filter on location of the video",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "type": "string",
              "description": "Filter on resources belonging to this channelId. (Force TAP rebuild)",
              "location": "query"
            },
            "safeSearch": {
              "type": "string",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "default": "moderate",
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "location": "query",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ]
            },
            "videoType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "description": "Filter on videos of a specific type.",
              "location": "query",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ]
            },
            "videoPaidProductPlacement": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ],
              "location": "query",
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ]
            },
            "q": {
              "description": "Textual search terms to match.",
              "location": "query",
              "type": "string"
            },
            "forContentOwner": {
              "description": "Search owned by a content owner.",
              "location": "query",
              "type": "boolean"
            },
            "videoDefinition": {
              "description": "Filter on the definition of the videos.",
              "location": "query",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ]
            },
            "forMine": {
              "description": "Search for the private videos of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "location": "query",
              "default": "5",
              "maximum": "50",
              "format": "uint32",
              "type": "integer"
            },
            "videoCategoryId": {
              "type": "string",
              "description": "Filter on videos in a specific category.",
              "location": "query"
            },
            "eventType": {
              "type": "string",
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "description": "Filter on the livestream status of the videos.",
              "location": "query",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ]
            },
            "type": {
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "order": {
              "default": "relevance",
              "description": "Sort order of the results.",
              "location": "query",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ]
            },
            "videoDuration": {
              "description": "Filter on the duration of the videos.",
              "location": "query",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ]
            },
            "videoEmbeddable": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "description": "Filter on embeddable videos.",
              "location": "query",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ]
            }
          },
          "description": "Retrieves a list of search resources",
          "id": "youtube.search.list"
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "path": "youtube/v3/superChatEvents",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "location": "query",
              "type": "integer",
              "maximum": "50",
              "format": "uint32"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. This parameter is currently not supported.",
              "location": "query"
            },
            "hl": {
              "type": "string",
              "description": "Return rendered funding amounts in specified language.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/superChatEvents",
          "parameterOrder": [
            "part"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.superChatEvents.list"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/abuseReports",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "AbuseReport"
          },
          "path": "youtube/v3/abuseReports",
          "id": "youtube.abuseReports.insert",
          "request": {
            "$ref": "AbuseReport"
          },
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "type": "integer",
              "maximum": "50",
              "format": "uint32",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "liveChatId": {
              "required": true,
              "description": "The id of the live chat for which moderators should be returned.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "path": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.list",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatModerator"
          },
          "path": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.insert",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "path": "youtube/v3/liveChat/moderators",
          "description": "Deletes a chat moderator.",
          "id": "youtube.liveChatModerators.delete",
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "liveStreams": {
      "methods": {
        "update": {
          "description": "Updates an existing stream for the authenticated user.",
          "id": "youtube.liveStreams.update",
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "description": "Retrieve the list of streams associated with the given channel. --",
          "id": "youtube.liveStreams.list",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "path": "youtube/v3/liveStreams",
          "httpMethod": "GET",
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "location": "query",
              "default": "5",
              "maximum": "50",
              "format": "uint32",
              "type": "integer"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "insert": {
          "description": "Inserts a new stream for the authenticated user.",
          "id": "youtube.liveStreams.insert",
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "path": "youtube/v3/liveStreams",
          "description": "Deletes an existing stream for the authenticated user.",
          "id": "youtube.liveStreams.delete",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "channelSections": {
      "methods": {
        "list": {
          "id": "youtube.channelSections.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "parameters": {
            "channelId": {
              "description": "Return the ChannelSections owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channelSection resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, and contentDetails. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channelSection resource, the snippet property contains other properties, such as a display title for the channelSection. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "mine": {
              "description": "Return the ChannelSections owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "description": "Return the ChannelSections with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "hl": {
              "deprecated": true,
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ChannelSectionListResponse"
          },
          "path": "youtube/v3/channelSections"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part names that you can include in the parameter value are snippet and contentDetails.",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ChannelSection"
          },
          "path": "youtube/v3/channelSections",
          "id": "youtube.channelSections.insert",
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "id": "youtube.channelSections.delete",
          "flatPath": "youtube/v3/channelSections",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/channelSections",
          "description": "Deletes a resource."
        },
        "update": {
          "id": "youtube.channelSections.update",
          "request": {
            "$ref": "ChannelSection"
          },
          "description": "Updates an existing resource.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
[...]
