{
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        }
      }
    }
  },
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260630",
  "documentationLink": "https://developers.google.com/youtube/",
  "title": "YouTube Data API v3",
  "discoveryVersion": "v1",
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "name": "youtube",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "version": "v3",
  "baseUrl": "https://youtube.googleapis.com/",
  "rootUrl": "https://youtube.googleapis.com/",
  "basePath": "",
  "schemas": {
    "AccessPolicy": {
      "properties": {
        "allowed": {
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default.",
          "type": "boolean"
        },
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Rights management policy for YouTube resources.",
      "id": "AccessPolicy",
      "type": "object"
    },
    "VideoLiveStreamingDetails": {
      "id": "VideoLiveStreamingDetails",
      "type": "object",
      "properties": {
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "actualStartTime": {
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins.",
          "type": "string",
          "format": "date-time"
        },
        "actualEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over."
        },
        "scheduledStartTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the broadcast is scheduled to begin."
        },
        "scheduledEndTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely."
        },
        "concurrentViewers": {
          "type": "string",
          "format": "uint64",
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended."
        }
      },
      "description": "Details about the live streaming metadata."
    },
    "LiveChatFanFundingEventDetails": {
      "id": "LiveChatFanFundingEventDetails",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the fund was made.",
          "type": "string"
        },
        "userComment": {
          "description": "The comment added by the user to this fan funding event.",
          "type": "string"
        },
        "amountMicros": {
          "description": "The amount of the fund.",
          "type": "string",
          "format": "uint64"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      }
    },
    "ChannelListResponse": {
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "default": "youtube#channelListResponse"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "id": "ChannelListResponse",
      "type": "object"
    },
    "VideoProcessingDetailsProcessingProgress": {
      "id": "VideoProcessingDetailsProcessingProgress",
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "properties": {
        "partsTotal": {
          "type": "string",
          "format": "uint64",
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video."
        },
        "timeLeftMs": {
          "type": "string",
          "format": "uint64",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video."
        },
        "partsProcessed": {
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "brandingSettings": {
          "description": "The brandingSettings object encapsulates information about the branding of the channel.",
          "$ref": "ChannelBrandingSettings"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          },
          "type": "object"
        },
        "contentOwnerDetails": {
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
          "$ref": "ChannelContentOwnerDetails"
        },
        "contentDetails": {
          "description": "The contentDetails object encapsulates information about the channel's content.",
          "$ref": "ChannelContentDetails"
        },
        "auditDetails": {
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process.",
          "$ref": "ChannelAuditDetails"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\".",
          "default": "youtube#channel"
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel.",
          "$ref": "ChannelTopicDetails"
        },
        "conversionPings": {
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "deprecated": true,
          "$ref": "ChannelConversionPings"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images.",
          "$ref": "ChannelSnippet"
        }
      },
      "description": "A *channel* resource contains information about a YouTube channel."
    },
    "Comment": {
      "id": "Comment",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "default": "youtube#comment"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        }
      },
      "description": "A *comment* represents a single YouTube comment."
    },
    "VideoStatistics": {
      "id": "VideoStatistics",
      "type": "object",
      "properties": {
        "dislikeCount": {
          "description": "The number of users who have indicated that they disliked the video by giving it a negative rating.",
          "type": "string",
          "format": "uint64"
        },
        "viewCount": {
          "description": "The number of times the video has been viewed.",
          "type": "string",
          "format": "uint64"
        },
        "likeCount": {
          "type": "string",
          "format": "uint64",
          "description": "The number of users who have indicated that they liked the video by giving it a positive rating."
        },
        "favoriteCount": {
          "description": "The number of users who currently have the video marked as a favorite video.",
          "deprecated": true,
          "type": "string",
          "format": "uint64"
        },
        "commentCount": {
          "description": "The number of comments for the video.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Statistics about the video, such as the number of times the video was viewed or liked."
    },
    "VideoRecordingDetails": {
      "id": "VideoRecordingDetails",
      "type": "object",
      "properties": {
        "recordingDate": {
          "description": "The date and time when the video was recorded.",
          "type": "string",
          "format": "date-time"
        },
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        },
        "location": {
          "description": "The geolocation information associated with the video.",
          "$ref": "GeoPoint"
        }
      },
      "description": "Recording information associated with the video."
    },
    "LiveChatTextMessageDetails": {
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      },
      "id": "LiveChatTextMessageDetails",
      "type": "object"
    },
    "SubscriptionContentDetails": {
      "properties": {
        "totalItemCount": {
          "description": "The approximate number of items that the subscription points to.",
          "type": "integer",
          "format": "uint32"
        },
        "newItemCount": {
          "type": "integer",
          "format": "uint32",
          "description": "The number of new items in the subscription since its content was last read."
        },
        "activityType": {
          "type": "string",
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Details about the content to witch a subscription refers.",
      "id": "SubscriptionContentDetails",
      "type": "object"
    },
    "LiveChatMessageRetractedDetails": {
      "properties": {
        "retractedMessageId": {
          "type": "string"
        }
      },
      "id": "LiveChatMessageRetractedDetails",
      "deprecated": true,
      "type": "object"
    },
    "CdnSettings": {
      "id": "CdnSettings",
      "type": "object",
      "properties": {
        "format": {
          "deprecated": true,
          "type": "string",
          "description": "The format of the video stream that you are sending to Youtube. ",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          }
        },
        "frameRate": {
          "enum": [
            "30fps",
            "60fps",
            "variable"
          ],
          "description": "The frame rate of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "ingestionInfo": {
          "description": "The ingestionInfo object contains information that YouTube provides that you need to transmit your RTMP or HTTP stream to YouTube.",
          "$ref": "IngestionInfo"
        },
        "resolution": {
          "description": "The resolution of the inbound video data.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "240p",
            "360p",
            "480p",
            "720p",
            "1080p",
            "1440p",
            "2160p",
            "variable"
          ],
          "type": "string"
        },
        "ingestionType": {
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "description": " The method or protocol used to transmit the video stream.",
          "enum": [
            "rtmp",
            "dash",
            "webrtc",
            "hls"
          ]
        }
      },
      "description": "Brief description of the live stream cdn settings."
    },
    "WatchSettings": {
      "id": "WatchSettings",
      "type": "object",
      "properties": {
        "textColor": {
          "description": "The background color for the video watch page's branded area.",
          "type": "string"
        },
        "backgroundColor": {
          "description": "The text color for the video watch page's branded area.",
          "type": "string"
        },
        "featuredPlaylistId": {
          "description": "An ID that uniquely identifies a playlist that displays next to the video player.",
          "type": "string"
        }
      },
      "description": "Branding properties for the watch. All deprecated."
    },
    "VideoFileDetails": {
      "properties": {
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "container": {
          "description": "The uploaded video file's container format.",
          "type": "string"
        },
        "creationTime": {
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM ",
          "type": "string"
        },
        "fileType": {
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ],
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "type": "string"
        },
        "bitrateBps": {
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "type": "string",
          "format": "uint64"
        },
        "fileName": {
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "fileSize": {
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "format": "uint64"
        },
        "audioStreams": {
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          },
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream."
        },
        "durationMs": {
          "description": "The length of the uploaded video in milliseconds.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "id": "VideoFileDetails",
      "type": "object"
    },
    "AbuseType": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "id": "AbuseType",
      "type": "object"
    },
    "VideoAbuseReportSecondaryReason": {
      "properties": {
        "id": {
          "description": "The ID of this abuse report secondary reason.",
          "type": "string"
        },
        "label": {
          "description": "The localized label for this abuse report secondary reason.",
          "type": "string"
        }
      },
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object"
    },
    "MonitorStreamInfo": {
      "description": "Settings and Info of the monitor stream",
      "properties": {
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        },
        "broadcastStreamDelayMs": {
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer",
          "format": "uint32"
        },
        "enableMonitorStream": {
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean"
        }
      },
      "id": "MonitorStreamInfo",
      "type": "object"
    },
    "LiveChatSuperChatDetails": {
      "properties": {
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string",
          "format": "uint64"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "type": "integer",
          "format": "uint32"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        }
      },
      "id": "LiveChatSuperChatDetails",
      "type": "object"
    },
    "LiveChatMessageAuthorDetails": {
      "properties": {
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        }
      },
      "id": "LiveChatMessageAuthorDetails",
      "type": "object"
    },
    "InvideoPosition": {
      "id": "InvideoPosition",
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "properties": {
        "type": {
          "enum": [
            "corner"
          ],
          "description": "Defines the position type.",
          "enumDescriptions": [
            ""
          ],
          "type": "string"
        },
        "cornerPosition": {
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enumDeprecated": [
            true,
            false,
            true,
            true
          ],
          "type": "string"
        }
      }
    },
    "BatchGetStatsResponse": {
      "description": "Response for the Videos.stats API. Returns VideoStat information about a batch of videos. VideoStat contains a subset of the information in Video that is relevant to statistics and content details. BatchGetStats is intentionally not atomic to provide a better user experience. BatchGetStatsResponse returns a summary to help users understand the outcome of the operation.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#batchGetStatsResponse\".",
          "default": "youtube#batchGetStatsResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "The videos' stats information.",
          "type": "array",
          "items": {
            "$ref": "VideoStat"
          }
        }
      },
      "id": "BatchGetStatsResponse",
      "type": "object"
    },
    "ContentRating": {
      "properties": {
        "cicfRating": {
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ],
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ],
          "type": "string"
        },
        "nfrcRating": {
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "description": "The video's rating from the Bulgarian National Film Center.",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ],
          "type": "string"
        },
        "skfilmRating": {
          "type": "string",
          "description": "The video's rating in Slovakia.",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ],
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ]
        },
        "mtrcbRating": {
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ],
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ],
          "type": "string"
        },
        "tvpgRating": {
          "type": "string",
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ],
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ]
        },
        "mekuRating": {
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ],
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "type": "string"
        },
        "djctqRating": {
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ],
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kfcbRating": {
          "type": "string",
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ],
          "description": "The video's rating from the Kenya Film Classification Board.",
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ]
        },
        "mcstRating": {
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "description": "The video's rating system for Vietnam - MCST",
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "type": "string"
        },
        "eefilmRating": {
          "description": "The video's rating in Estonia.",
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "type": "string"
        },
        "nbcRating": {
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ],
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ],
          "type": "string"
        },
        "egfilmRating": {
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ],
          "description": "The video's rating in Egypt.",
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "type": "string"
        },
        "mpaaRating": {
          "type": "string",
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ]
        },
        "incaaRating": {
          "type": "string",
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ],
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ]
        },
        "nfvcbRating": {
          "type": "string",
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ],
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ]
        },
        "chvrsRating": {
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ],
          "type": "string"
        },
        "rtcRating": {
          "type": "string",
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ]
        },
        "cncRating": {
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ],
          "type": "string"
        },
        "rteRating": {
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ],
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "type": "string"
        },
        "catvfrRating": {
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "type": "string"
        },
        "cceRating": {
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ],
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ],
          "type": "string"
        },
        "fcbmRating": {
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ],
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "type": "string"
        },
        "mdaRating": {
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ],
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "type": "string"
        },
        "fpbRatingReasons": {
          "description": "Reasons that explain why the video received its FPB (South Africa) rating.",
          "type": "array",
          "items": {
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ],
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string"
          }
        },
        "ifcoRating": {
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "csaRating": {
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content.",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ],
          "type": "string"
        },
        "rcnofRating": {
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "mccaaRating": {
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ],
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "type": "string"
        },
        "agcomRating": {
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ],
          "type": "string"
        },
        "ecbmctRating": {
          "type": "string",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism",
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ]
        },
        "medietilsynetRating": {
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ],
          "type": "string"
        },
        "fcoRating": {
          "type": "string",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ]
        },
        "icaaRating": {
          "type": "string",
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating.",
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ]
        },
        "ilfilmRating": {
          "type": "string",
          "description": "The video's rating in Israel.",
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ]
        },
        "catvRating": {
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website.",
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "type": "string"
        },
        "nkclvRating": {
          "type": "string",
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ],
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia).",
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ]
        },
        "menaMpaaRating": {
          "type": "string",
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ],
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ]
        },
        "czfilmRating": {
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "description": "The video's rating in the Czech Republic.",
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "type": "string"
        },
        "resorteviolenciaRating": {
          "type": "string",
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ],
          "description": "The video's rating in Venezuela.",
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ]
        },
        "grfilmRating": {
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece.",
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "type": "string"
        },
        "kijkwijzerRating": {
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "type": "string"
        },
        "smaisRating": {
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ],
          "description": "The video's rating in Iceland.",
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string"
        },
        "eirinRating": {
          "type": "string",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ]
        },
        "mibacRating": {
          "type": "string",
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ]
        },
        "oflcRating": {
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ],
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "type": "string"
        },
        "djctqRatingReasons": {
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)",
              "Temer (Fear)",
              "Procedimentos médicos (Medical Procedures)",
              "Tópicos sensíveis (Sensitive Topics)",
              "Fantasia Violência (Fantasy Violence)"
            ],
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent",
              "djctqFear",
              "djctqMedicalProcedures",
              "djctqSensitiveTopics",
              "djctqFantasyViolence"
            ]
          }
        },
        "russiaRating": {
          "type": "string",
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ]
        },
        "smsaRating": {
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "type": "string"
        },
        "moctwRating": {
          "type": "string",
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部).",
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ]
        },
        "cscfRating": {
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF).",
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ],
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "type": "string"
        },
        "fmocRating": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ],
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ]
        },
        "nmcRating": {
          "type": "string",
          "description": "The National Media Council ratings system for United Arab Emirates.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ]
        },
        "cccRating": {
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ],
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "type": "string"
        },
        "chfilmRating": {
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "description": "The video's rating in Switzerland.",
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string"
        },
        "cbfcRating": {
          "type": "string",
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "U/A 7+",
            "U/A 13+",
            "U/A 16+",
            "A",
            "S",
            ""
          ],
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcUA7plus",
            "cbfcUA13plus",
            "cbfcUA16plus",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ]
        },
        "ytRating": {
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ],
          "type": "string"
        },
        "lsfRating": {
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "description": "The video's rating from Indonesia's Lembaga Sensor Film.",
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "type": "string"
        },
        "cnaRating": {
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ],
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "type": "string"
        },
        "mocRating": {
          "type": "string",
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ]
        },
        "fpbRating": {
          "type": "string",
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ],
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ]
        },
        "bbfcRating": {
          "type": "string",
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ],
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ]
        },
        "mpaatRating": {
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ],
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "type": "string"
        },
        "anatelRating": {
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ],
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television.",
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "type": "string"
        },
        "pefilmRating": {
          "description": "The video's rating in Peru.",
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ],
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "type": "string"
        },
        "nbcplRating": {
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "description": "The video's rating in Poland.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "kmrbRating": {
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ],
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "type": "string"
        },
        "bmukkRating": {
          "type": "string",
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "fskRating": {
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ],
          "type": "string"
        },
        "bfvcRating": {
          "description": "The video's rating from Thailand's Board of Film and Video Censors.",
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "type": "string"
        },
        "acbRating": {
          "type": "string",
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ]
        },
        "mccypRating": {
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ],
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ],
          "type": "string"
        }
      },
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange",
      "id": "ContentRating",
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "properties": {
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        },
        "name": {
          "description": "The human-readable name of the language in the language itself.",
          "type": "string"
        }
      },
      "id": "I18nLanguageSnippet",
      "type": "object"
    },
    "VideoAbuseReport": {
      "properties": {
        "secondaryReasonId": {
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason.",
          "type": "string"
        },
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "reasonId": {
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID.",
          "type": "string"
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        }
      },
      "id": "VideoAbuseReport",
      "type": "object"
    },
    "LiveChatMessageSnippet": {
      "id": "LiveChatMessageSnippet",
      "type": "object",
      "description": "Next ID: 35",
      "properties": {
        "superChatDetails": {
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
          "$ref": "LiveChatSuperChatDetails"
        },
        "textMessageDetails": {
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'.",
          "$ref": "LiveChatTextMessageDetails"
        },
        "newSponsorDetails": {
          "description": "Details about the New Member Announcement event, this is only set if the type is 'newSponsorEvent'. Please note that \"member\" is the new term for \"sponsor\".",
          "$ref": "LiveChatNewSponsorDetails"
        },
        "hasDisplayContent": {
          "description": "Whether the message has display content that should be displayed to users.",
          "type": "boolean"
        },
        "membershipGiftingDetails": {
          "description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'.",
          "$ref": "LiveChatMembershipGiftingDetails"
        },
        "pollDetails": {
          "description": "Details about the poll event, this is only set if the type is 'pollEvent'.",
          "$ref": "LiveChatPollDetails"
        },
        "liveChatId": {
          "type": "string"
        },
        "messageDeletedDetails": {
          "deprecated": true,
          "$ref": "LiveChatMessageDeletedDetails"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "A virtual gift sent by a viewer to support a creator."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "memberMilestoneChatEvent",
            "membershipGiftingEvent",
            "giftMembershipReceivedEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent",
            "pollEvent",
            "giftEvent"
          ],
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present."
        },
        "memberMilestoneChatDetails": {
          "description": "Details about the Member Milestone Chat event, this is only set if the type is 'memberMilestoneChatEvent'.",
          "$ref": "LiveChatMemberMilestoneChatDetails"
        },
        "publishedAt": {
          "description": "The date and time when the message was orignally published.",
          "type": "string",
          "format": "date-time"
        },
        "superStickerDetails": {
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'.",
          "$ref": "LiveChatSuperStickerDetails"
        },
        "giftDetails": {
          "description": "Details about the gift event, this is only set if the type is 'giftEvent'.",
          "$ref": "LiveChatGiftDetails"
        },
        "giftMembershipReceivedDetails": {
          "description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'.",
          "$ref": "LiveChatGiftMembershipReceivedDetails"
        },
        "authorChannelId": {
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor memberMilestoneChatEvent - the member that sent the message membershipGiftingEvent - the user that made the purchase giftMembershipReceivedEvent - the user that received the gift membership messageDeletedEvent - the moderator that took the action. Unused. messageRetractedEvent - the author that retracted their message. Unused. userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase superStickerEvent - the user that made the purchase pollEvent - the user that created the poll",
          "type": "string"
        },
        "messageRetractedDetails": {
          "deprecated": true,
          "$ref": "LiveChatMessageRetractedDetails"
        },
        "displayMessage": {
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
          "type": "string"
        },
        "fanFundingEventDetails": {
          "deprecated": true,
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        }
      }
    },
    "ThumbnailDetails": {
      "properties": {
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "high": {
          "description": "The high quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        }
      },
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "id": "ThumbnailDetails",
      "type": "object"
    },
    "MembershipsLevel": {
      "id": "MembershipsLevel",
      "type": "object",
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the memberships level.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevel",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the level.",
          "$ref": "MembershipsLevelSnippet"
        }
      }
    },
    "CommentSnippetAuthorChannelId": {
      "id": "CommentSnippetAuthorChannelId",
      "type": "object",
      "description": "Contains the id of the author's YouTube channel, if any.",
      "properties": {
        "value": {
          "description": "The id of the author's YouTube channel.",
          "type": "string"
        }
      }
    },
    "PlaylistSnippet": {
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "properties": {
        "defaultLanguage": {
          "description": "The language of the playlist's default title and description.",
          "type": "string"
        },
        "channelTitle": {
          "description": "The channel title of the channel that the video belongs to.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "thumbnailVideoId": {
          "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The playlist's title.",
          "annotations": {
            "required": [
              "youtube.playlists.insert",
              "youtube.playlists.update"
            ]
          }
        },
        "publishedAt": {
          "description": "The date and time that the playlist was created.",
          "type": "string",
          "format": "date-time"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist.",
          "type": "string"
        },
        "tags": {
          "description": "Keyword tags associated with the playlist.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "PlaylistLocalization"
        },
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        }
      },
      "id": "PlaylistSnippet",
      "type": "object"
    },
    "ImageSettings": {
      "description": "Branding properties for images associated with the channel.",
      "properties": {
        "bannerMobileMediumHdImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Mobile size medium/high resolution (960x263)."
        },
        "backgroundImageUrl": {
          "deprecated": true,
          "$ref": "LocalizedProperty",
          "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k."
        },
        "bannerTvMediumImageUrl": {
          "description": "Banner image. TV size medium resolution (1280x720).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileLowImageUrl": {
          "description": "Banner image. Mobile size low resolution (320x88).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "description": "Banner image. Tablet size high resolution (2276x377).",
          "deprecated": true,
          "type": "string"
        },
        "bannerExternalUrl": {
          "description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.",
          "type": "string"
        },
        "watchIconImageUrl": {
          "deprecated": true,
          "type": "string"
        },
        "bannerTvImageUrl": {
          "description": "Banner image. TV size extra high resolution (2120x1192).",
          "deprecated": true,
          "type": "string"
        },
        "bannerImageUrl": {
          "description": "Banner image. Desktop size (1060x175).",
          "deprecated": true,
          "type": "string"
        },
        "smallBrandedBannerImageUrl": {
          "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "largeBrandedBannerImageUrl": {
          "deprecated": true,
          "$ref": "LocalizedProperty",
          "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page."
        },
        "bannerTabletImageUrl": {
          "description": "Banner image. Tablet size (1707x283).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletExtraHdImageUrl": {
          "description": "Banner image. Tablet size extra high resolution (2560x424).",
          "deprecated": true,
          "type": "string"
        },
        "largeBrandedBannerImageImapScript": {
          "description": "The image map script for the large banner image.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "bannerTvHighImageUrl": {
          "description": "Banner image. TV size high resolution (1920x1080).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileImageUrl": {
          "description": "Banner image. Mobile size (640x175).",
          "deprecated": true,
          "type": "string"
        },
        "smallBrandedBannerImageImapScript": {
          "deprecated": true,
          "$ref": "LocalizedProperty",
          "description": "The image map script for the small banner image."
        },
        "trackingImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages."
        },
        "bannerTabletLowImageUrl": {
          "description": "Banner image. Tablet size low resolution (1138x188).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileHdImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1280x360)."
        },
        "bannerMobileExtraHdImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. Mobile size high resolution (1440x395)."
        },
        "bannerTvLowImageUrl": {
          "deprecated": true,
          "type": "string",
          "description": "Banner image. TV size low resolution (854x480)."
        }
      },
      "id": "ImageSettings",
      "type": "object"
    },
    "CommentThreadReplies": {
      "id": "CommentThreadReplies",
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "properties": {
        "comments": {
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        }
      }
    },
    "ChannelSnippet": {
      "id": "ChannelSnippet",
      "type": "object",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "properties": {
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "ChannelLocalization"
        },
        "description": {
          "description": "The description of the channel.",
          "type": "string"
        },
        "customUrl": {
          "description": "The custom url of the channel.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.",
          "$ref": "ThumbnailDetails"
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the channel was created.",
          "type": "string",
          "format": "date-time"
        },
        "title": {
          "description": "The channel's title.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the channel's default title and description.",
          "type": "string"
        }
      }
    },
    "PlaylistItemStatus": {
      "id": "PlaylistItemStatus",
      "type": "object",
      "properties": {
        "privacyStatus": {
          "type": "string",
          "description": "This resource's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "description": "Information about the playlist item's privacy status."
    },
    "VideoSuggestions": {
      "id": "VideoSuggestions",
      "type": "object",
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "properties": {
        "processingErrors": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ]
          },
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed."
        },
        "editorSuggestions": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ],
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ]
          },
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video."
        },
        "processingHints": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ],
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ]
          },
          "description": "A list of suggestions that may improve YouTube's ability to process the video."
        },
        "tagSuggestions": {
          "type": "array",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          },
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube."
        },
        "processingWarnings": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ],
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ]
          },
[...]
