{
  "id": "youtube:v3",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "documentationLink": "https://developers.google.com/youtube/",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "baseUrl": "https://youtube.googleapis.com/",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "batchPath": "batch",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "schemas": {
    "ResourceId": {
      "properties": {
        "kind": {
          "description": "The type of the API resource.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel.",
          "type": "string"
        },
        "playlistId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist.",
          "type": "string"
        }
      },
      "id": "ResourceId",
      "description": "A resource id is a generic reference that points to another YouTube resource.",
      "type": "object"
    },
    "VideoFileDetails": {
      "id": "VideoFileDetails",
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "type": "object",
      "properties": {
        "fileSize": {
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "format": "uint64"
        },
        "container": {
          "description": "The uploaded video file's container format.",
          "type": "string"
        },
        "audioStreams": {
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          }
        },
        "durationMs": {
          "description": "The length of the uploaded video in milliseconds.",
          "type": "string",
          "format": "uint64"
        },
        "bitrateBps": {
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "type": "string",
          "format": "uint64"
        },
        "fileName": {
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded.",
          "type": "string"
        },
        "fileType": {
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ]
        },
        "creationTime": {
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM ",
          "type": "string"
        },
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        }
      }
    },
    "ChannelBannerResource": {
      "properties": {
        "url": {
          "description": "The URL of this banner image.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#channelBannerResource",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelBannerResource\".",
          "type": "string"
        },
        "etag": {
          "type": "string"
        }
      },
      "id": "ChannelBannerResource",
      "description": "A channel banner returned as the response to a channel_banner.insert call.",
      "type": "object"
    },
    "PlaylistImageListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#playlistImageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\".",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlaylistImage"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        }
      },
      "id": "PlaylistImageListResponse",
      "type": "object"
    },
    "LiveStreamSnippet": {
      "properties": {
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "title": {
          "description": "The stream's title. The value must be between 1 and 128 characters long.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        },
        "publishedAt": {
          "description": "The date and time that the stream was created.",
          "type": "string",
          "format": "date-time"
        },
        "isDefaultStream": {
          "type": "boolean"
        }
      },
      "id": "LiveStreamSnippet",
      "type": "object"
    },
    "LiveBroadcastStatus": {
      "properties": {
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "type": "string",
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ]
        },
        "lifeCycleStatus": {
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ]
        },
        "selfDeclaredMadeForKids": {
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work.",
          "type": "boolean"
        },
        "privacyStatus": {
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "recordingStatus": {
          "description": "The broadcast's recording status.",
          "type": "string",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ]
        },
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        }
      },
      "id": "LiveBroadcastStatus",
      "description": "Live broadcast state.",
      "type": "object"
    },
    "ChannelToAffiliateProgramLinkDetails": {
      "properties": {
        "merchantId": {
          "description": "Required. Google Merchant Center ID of the partner.",
          "type": "string",
          "format": "uint64"
        },
        "statusUpdateReason": {
          "description": "Optional. Reason for the last update of the affiliate program status.",
          "type": "string"
        },
        "statusUpdateTime": {
          "description": "Optional. Timestamp when the affiliate program status was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "programStatus": {
          "description": "Required. Affiliate program status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Channel is active in the affiliate program.",
            "Channel is inactive in the affiliate program."
          ],
          "enum": [
            "affiliateProgramStatusUnspecified",
            "active",
            "inactive"
          ]
        }
      },
      "id": "ChannelToAffiliateProgramLinkDetails",
      "description": "Information specific to a creator in an affiliate program linked to a YouTube channel.",
      "type": "object"
    },
    "ActivityListResponse": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\".",
          "type": "string",
          "default": "youtube#activityListResponse"
        }
      },
      "id": "ActivityListResponse",
      "type": "object"
    },
    "VideoStatsStatistics": {
      "id": "VideoStatsStatistics",
      "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
      "type": "object",
      "properties": {
        "viewCount": {
          "description": "Output only. The number of times the video has been viewed.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "likeCount": {
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "commentCount": {
          "readOnly": true,
          "description": "Output only. The number of comments for the video.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "VideoContentDetails": {
      "id": "VideoContentDetails",
      "description": "Details about the content of a YouTube Video.",
      "type": "object",
      "properties": {
        "regionRestriction": {
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
          "deprecated": true,
          "$ref": "VideoContentDetailsRegionRestriction"
        },
        "licensedContent": {
          "description": "The value of is_license_content indicates whether the video is licensed content.",
          "type": "boolean"
        },
        "definition": {
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "type": "string",
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "enum": [
            "sd",
            "hd"
          ]
        },
        "caption": {
          "description": "The value of captions indicates whether the video has captions or not.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "true",
            "false"
          ]
        },
        "contentRating": {
          "$ref": "ContentRating",
          "description": "Specifies the ratings that the video received under various rating schemes."
        },
        "dimension": {
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D.",
          "type": "string"
        },
        "duration": {
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long.",
          "type": "string"
        },
        "hasCustomThumbnail": {
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
          "type": "boolean"
        },
        "countryRestriction": {
          "$ref": "AccessPolicy",
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable."
        },
        "projection": {
          "description": "Specifies the projection format of the video.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "rectangular",
            "360"
          ]
        }
      }
    },
    "TestItemTestItemSnippet": {
      "id": "TestItemTestItemSnippet",
      "type": "object",
      "properties": {}
    },
    "ChannelListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "type": "string",
          "default": "youtube#channelListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Channel"
          },
          "type": "array"
        }
      },
      "id": "ChannelListResponse",
      "type": "object"
    },
    "VideoSuggestions": {
      "id": "VideoSuggestions",
      "description": "Specifies suggestions on how to improve video content, including encoding hints, tag suggestions, and editor suggestions.",
      "type": "object",
      "properties": {
        "editorSuggestions": {
          "description": "A list of video editing operations that might improve the video quality or playback experience of the uploaded video.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Picture brightness levels seem off and could be corrected.",
              "The video appears shaky and could be stabilized.",
              "Margins (mattes) detected around the picture could be cropped.",
              "The audio track appears silent and could be swapped with a better quality one."
            ],
            "enum": [
              "videoAutoLevels",
              "videoStabilize",
              "videoCrop",
              "audioQuietAudioSwap"
            ]
          }
        },
        "processingWarnings": {
          "description": "A list of reasons why YouTube may have difficulty transcoding the uploaded video or that might result in an erroneous transcoding. These warnings are generated before YouTube actually processes the uploaded video file. In addition, they identify issues that are unlikely to cause the video processing to fail but that might cause problems such as sync issues, video artifacts, or a missing audio track.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unrecognized file format, transcoding is likely to fail.",
              "Unrecognized video codec, transcoding is likely to fail.",
              "Unrecognized audio codec, transcoding is likely to fail.",
              "Conflicting container and stream resolutions.",
              "Edit lists are not currently supported.",
              "Video codec that is known to cause problems was used.",
              "Audio codec that is known to cause problems was used.",
              "Unsupported VR video stereo mode.",
              "Unsupported spherical video projection type.",
              "Unsupported HDR pixel format.",
              "Unspecified HDR color metadata.",
              "Problematic HDR lookup table attached."
            ],
            "enum": [
              "unknownContainer",
              "unknownVideoCodec",
              "unknownAudioCodec",
              "inconsistentResolution",
              "hasEditlist",
              "problematicVideoCodec",
              "problematicAudioCodec",
              "unsupportedVrStereoMode",
              "unsupportedSphericalProjectionType",
              "unsupportedHdrPixelFormat",
              "unsupportedHdrColorMetadata",
              "problematicHdrLookupTable"
            ]
          }
        },
        "processingHints": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The MP4 file is not streamable, this will slow down the processing. MOOV atom was not found at the beginning of the file.",
              "Probably a better quality version of the video exists. The video has wide screen aspect ratio, but is not an HD video.",
              "Uploaded video is spherical video.",
              "Uploaded video has spatial audio.",
              "Uploaded video is VR video.",
              "Uploaded video is HDR video."
            ],
            "enum": [
              "nonStreamableMov",
              "sendBestQualityVideo",
              "sphericalVideo",
              "spatialAudio",
              "vrVideo",
              "hdrVideo"
            ]
          },
          "description": "A list of suggestions that may improve YouTube's ability to process the video.",
          "type": "array"
        },
        "tagSuggestions": {
          "description": "A list of keyword tags that could be added to the video's metadata to increase the likelihood that users will locate your video when searching or browsing on YouTube.",
          "type": "array",
          "items": {
            "$ref": "VideoSuggestionsTagSuggestion"
          }
        },
        "processingErrors": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "File contains audio only (e.g., an MP3 file).",
              "Image file (e.g., a JPEG image).",
              "Movie project file (e.g., Microsoft Windows Movie Maker project).",
              "Other non-video file.",
              "Document or text file (e.g., MS Word document).",
              "An archive file (e.g., a ZIP archive).",
              "Unsupported spatial audio layout type."
            ],
            "enum": [
              "audioFile",
              "imageFile",
              "projectFile",
              "notAVideoFile",
              "docFile",
              "archiveFile",
              "unsupportedSpatialAudioLayout"
            ]
          },
          "description": "A list of errors that will prevent YouTube from successfully processing the uploaded video video. These errors indicate that, regardless of the video's current processing status, eventually, that status will almost certainly be failed.",
          "type": "array"
        }
      }
    },
    "IngestionInfo": {
      "id": "IngestionInfo",
      "description": "Describes information necessary for ingesting an RTMP, HTTP, or SRT stream.",
      "type": "object",
      "properties": {
        "rtmpsBackupIngestionAddress": {
          "description": "This ingestion url may be used instead of backupIngestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams.",
          "type": "string"
        },
        "streamName": {
          "description": "The stream name that YouTube assigns to the video stream.",
          "type": "string"
        },
        "backupIngestionAddress": {
          "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL.",
          "type": "string"
        },
        "ingestionAddress": {
          "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format: *STREAM_URL/STREAM_NAME* ",
          "type": "string"
        },
        "rtmpsIngestionAddress": {
          "description": "This ingestion url may be used instead of ingestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams.",
          "type": "string"
        }
      }
    },
    "VideoProcessingDetails": {
      "properties": {
        "processingProgress": {
          "description": "The processingProgress object contains information about the progress YouTube has made in processing the video. The values are really only relevant if the video's processing status is processing.",
          "$ref": "VideoProcessingDetailsProcessingProgress"
        },
        "processingFailureReason": {
          "description": "The reason that YouTube failed to process the video. This property will only have a value if the processingStatus property's value is failed.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "uploadFailed",
            "transcodeFailed",
            "streamingFailed",
            "other"
          ]
        },
        "tagSuggestionsAvailability": {
          "description": "This value indicates whether keyword (tag) suggestions are available for the video. Tags can be added to a video's metadata to make it easier for other users to find the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "processingStatus": {
          "description": "The video's processing status. This value indicates whether YouTube was able to process the video or if the video is still being processed.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "processing",
            "succeeded",
            "failed",
            "terminated"
          ]
        },
        "processingIssuesAvailability": {
          "description": "This value indicates whether the video processing engine has generated suggestions that might improve YouTube's ability to process the the video, warnings that explain video processing problems, or errors that cause video processing problems. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "editorSuggestionsAvailability": {
          "description": "This value indicates whether video editing suggestions, which might improve video quality or the playback experience, are available for the video. You can retrieve these suggestions by requesting the suggestions part in your videos.list() request.",
          "type": "string"
        },
        "thumbnailsAvailability": {
          "description": "This value indicates whether thumbnail images have been generated for the video.",
          "type": "string"
        },
        "fileDetailsAvailability": {
          "description": "This value indicates whether file details are available for the uploaded video. You can retrieve a video's file details by requesting the fileDetails part in your videos.list() request.",
          "type": "string"
        }
      },
      "id": "VideoProcessingDetails",
      "description": "Describes processing status and progress and availability of some other Video resource parts.",
      "type": "object"
    },
    "ChannelProfileDetails": {
      "id": "ChannelProfileDetails",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        }
      }
    },
    "VideoPlayer": {
      "id": "VideoPlayer",
      "description": "Player to be used for a video playback.",
      "type": "object",
      "properties": {
        "embedHtml": {
          "description": "An <iframe> tag that embeds a player that will play the video.",
          "type": "string"
        },
        "embedHeight": {
          "type": "string",
          "format": "int64"
        },
        "embedWidth": {
          "description": "The embed width",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "LiveChatSuperChatDetails": {
      "id": "LiveChatSuperChatDetails",
      "type": "object",
      "properties": {
        "userComment": {
          "description": "The comment added by the user to this Super Chat event.",
          "type": "string"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "type": "integer",
          "format": "uint32"
        },
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "Comment": {
      "id": "Comment",
      "description": "A *comment* represents a single YouTube comment.",
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#comment",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#comment\".",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the comment.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the comment.",
          "$ref": "CommentSnippet"
        }
      }
    },
    "LiveChatMessageAuthorDetails": {
      "id": "LiveChatMessageAuthorDetails",
      "type": "object",
      "properties": {
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "isChatOwner": {
          "description": "Whether the author is the owner of the live chat.",
          "type": "boolean"
        },
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "isVerified": {
          "description": "Whether the author's identity has been verified by YouTube.",
          "type": "boolean"
        },
        "isChatSponsor": {
          "description": "Whether the author is a sponsor of the live chat.",
          "type": "boolean"
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        }
      }
    },
    "VideoSnippet": {
      "id": "VideoSnippet",
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "type": "object",
      "properties": {
        "publishedAt": {
          "description": "The date and time when the video was uploaded.",
          "type": "string",
          "format": "date-time"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "type": "array"
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "liveBroadcastContent": {
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ]
        },
        "description": {
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "defaultAudioLanguage": {
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track.",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel that the video belongs to.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to.",
          "type": "string"
        },
        "title": {
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        },
        "localized": {
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)",
          "$ref": "VideoLocalization"
        },
        "categoryId": {
          "description": "The YouTube video category associated with the video.",
          "type": "string"
        }
      }
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "type": "object",
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "description": "The ID of the live chat this moderator can act on.",
          "type": "string"
        }
      }
    },
    "VideoStat": {
      "properties": {
        "statistics": {
          "$ref": "VideoStatsStatistics",
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\".",
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID that YouTube uses to uniquely identify the video.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "Output only. Etag of this resource.",
          "type": "string",
          "readOnly": true
        },
        "snippet": {
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time.",
          "$ref": "VideoStatsSnippet",
          "readOnly": true
        },
        "contentDetails": {
          "readOnly": true,
          "$ref": "VideoStatsContentDetails",
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video."
        }
      },
      "id": "VideoStat",
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "type": "object"
    },
    "VideoStatsSnippet": {
      "properties": {
        "publishTime": {
          "description": "Output only. The date and time that the video was uploaded. The property value is a [`google.protobuf.Timestamp`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp) object.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "VideoStatsSnippet",
      "description": "Basic details about a video. This is a subset of the information in VideoSnippet specifically for the Videos.stats API.",
      "type": "object"
    },
    "MemberSnippet": {
      "id": "MemberSnippet",
      "type": "object",
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        },
        "membershipsDetails": {
          "$ref": "MembershipsDetails",
          "description": "Details about the user's membership."
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        }
      }
    },
    "VideoRecordingDetails": {
      "properties": {
        "location": {
          "$ref": "GeoPoint",
          "description": "The geolocation information associated with the video."
        },
        "recordingDate": {
          "description": "The date and time when the video was recorded.",
          "type": "string",
          "format": "date-time"
        },
        "locationDescription": {
          "description": "The text description of the location where the video was recorded.",
          "type": "string"
        }
      },
      "id": "VideoRecordingDetails",
      "description": "Recording information associated with the video.",
      "type": "object"
    },
    "ImageSettings": {
      "id": "ImageSettings",
      "description": "Branding properties for images associated with the channel.",
      "type": "object",
      "properties": {
        "bannerMobileExtraHdImageUrl": {
          "description": "Banner image. Mobile size high resolution (1440x395).",
          "deprecated": true,
          "type": "string"
        },
        "largeBrandedBannerImageUrl": {
          "$ref": "LocalizedProperty",
          "description": "The URL for the 854px by 70px image that appears below the video player in the expanded video view of the video watch page.",
          "deprecated": true
        },
        "smallBrandedBannerImageUrl": {
          "description": "The URL for the 640px by 70px banner image that appears below the video player in the default view of the video watch page. The URL for the image that appears above the top-left corner of the video player. This is a 25-pixel-high image with a flexible width that cannot exceed 170 pixels.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "backgroundImageUrl": {
          "description": "The URL for the background image shown on the video watch page. The image should be 1200px by 615px, with a maximum file size of 128k.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "bannerMobileMediumHdImageUrl": {
          "description": "Banner image. Mobile size medium/high resolution (960x263).",
          "deprecated": true,
          "type": "string"
        },
        "watchIconImageUrl": {
          "deprecated": true,
          "type": "string"
        },
        "bannerTvImageUrl": {
          "description": "Banner image. TV size extra high resolution (2120x1192).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletHdImageUrl": {
          "description": "Banner image. Tablet size high resolution (2276x377).",
          "deprecated": true,
          "type": "string"
        },
        "largeBrandedBannerImageImapScript": {
          "$ref": "LocalizedProperty",
          "description": "The image map script for the large banner image.",
          "deprecated": true
        },
        "bannerTvMediumImageUrl": {
          "description": "Banner image. TV size medium resolution (1280x720).",
          "deprecated": true,
          "type": "string"
        },
        "trackingImageUrl": {
          "description": "The URL for a 1px by 1px tracking pixel that can be used to collect statistics for views of the channel or video pages.",
          "deprecated": true,
          "type": "string"
        },
        "bannerTvLowImageUrl": {
          "description": "Banner image. TV size low resolution (854x480).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileLowImageUrl": {
          "description": "Banner image. Mobile size low resolution (320x88).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileHdImageUrl": {
          "description": "Banner image. Mobile size high resolution (1280x360).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletExtraHdImageUrl": {
          "description": "Banner image. Tablet size extra high resolution (2560x424).",
          "deprecated": true,
          "type": "string"
        },
        "bannerMobileImageUrl": {
          "description": "Banner image. Mobile size (640x175).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTvHighImageUrl": {
          "description": "Banner image. TV size high resolution (1920x1080).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletLowImageUrl": {
          "description": "Banner image. Tablet size low resolution (1138x188).",
          "deprecated": true,
          "type": "string"
        },
        "bannerImageUrl": {
          "description": "Banner image. Desktop size (1060x175).",
          "deprecated": true,
          "type": "string"
        },
        "bannerTabletImageUrl": {
          "description": "Banner image. Tablet size (1707x283).",
          "deprecated": true,
          "type": "string"
        },
        "smallBrandedBannerImageImapScript": {
          "description": "The image map script for the small banner image.",
          "deprecated": true,
          "$ref": "LocalizedProperty"
        },
        "bannerExternalUrl": {
          "description": "This is generated when a ChannelBanner.Insert request has succeeded for the given channel.",
          "type": "string"
        }
      }
    },
    "Cuepoint": {
      "id": "Cuepoint",
      "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS.",
      "type": "object",
      "properties": {
        "insertionOffsetTimeMs": {
          "description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "description": "The identifier for cuepoint resource.",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "durationSecs": {
          "description": "The duration of this cuepoint.",
          "type": "integer",
          "format": "uint32"
        },
        "walltimeMs": {
          "description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time.",
          "type": "string",
          "format": "uint64"
        },
        "cueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "cueTypeUnspecified",
            "cueTypeAd"
          ]
        }
      }
    },
    "ThumbnailSetResponse": {
      "id": "ThumbnailSetResponse",
      "type": "object",
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "ThumbnailDetails"
          },
          "description": "A list of thumbnails.",
          "type": "array"
        },
        "kind": {
          "default": "youtube#thumbnailSetResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "Thumbnail": {
      "properties": {
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        },
        "height": {
          "description": "(Optional) Height of the thumbnail image.",
          "type": "integer",
          "format": "uint32"
        },
        "width": {
          "description": "(Optional) Width of the thumbnail image.",
          "type": "integer",
          "format": "uint32"
        }
      },
      "id": "Thumbnail",
      "description": "A thumbnail is an image representing a YouTube resource.",
      "type": "object"
    },
    "VideoContentDetailsRegionRestriction": {
      "properties": {
        "allowed": {
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blocked": {
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VideoContentDetailsRegionRestriction",
      "description": "DEPRECATED Region restriction of the video.",
      "type": "object"
    },
    "PlaylistItemStatus": {
      "properties": {
        "privacyStatus": {
          "description": "This resource's privacy status.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        }
      },
      "id": "PlaylistItemStatus",
      "description": "Information about the playlist item's privacy status.",
      "type": "object"
    },
    "ThirdPartyLinkListResponse": {
      "id": "ThirdPartyLinkListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "ThirdPartyLink"
          },
          "type": "array"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#thirdPartyLinkListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLinkListResponse\".",
          "type": "string"
        }
      }
    },
    "LiveStreamListResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "items": {
          "description": "A list of live streams that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "LiveStream"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "type": "string",
          "default": "youtube#liveStreamListResponse"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        }
      },
      "id": "LiveStreamListResponse",
      "type": "object"
    },
    "PlaylistItemListResponse": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistItemListResponse\".",
          "type": "string",
          "default": "youtube#playlistItemListResponse"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string"
        },
        "items": {
          "description": "A list of playlist items that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "PlaylistItem"
          }
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        }
      },
      "id": "PlaylistItemListResponse",
      "type": "object"
    },
    "LiveChatMessageDeletedDetails": {
      "id": "LiveChatMessageDeletedDetails",
      "deprecated": true,
      "type": "object",
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsSubscription": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that the user subscribed to.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsSubscription",
      "description": "Information about a channel that a user subscribed to.",
      "type": "object"
    },
    "LiveChatMessageSnippet": {
      "properties": {
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "pollDetails": {
          "description": "Details about the poll event, this is only set if the type is 'pollEvent'.",
          "$ref": "LiveChatPollDetails"
        },
        "newSponsorDetails": {
          "$ref": "LiveChatNewSponsorDetails",
          "description": "Details about the New Member Announcement event, this is only set if the type is 'newSponsorEvent'. Please note that \"member\" is the new term for \"sponsor\"."
        },
        "liveChatId": {
          "type": "string"
        },
        "superChatDetails": {
          "$ref": "LiveChatSuperChatDetails",
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'."
        },
        "type": {
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "memberMilestoneChatEvent",
            "membershipGiftingEvent",
            "giftMembershipReceivedEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent",
            "pollEvent",
            "giftEvent"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "A virtual gift sent by a viewer to support a creator."
          ]
        },
        "displayMessage": {
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
          "type": "string"
        },
        "fanFundingEventDetails": {
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'.",
          "deprecated": true
        },
        "publishedAt": {
          "description": "The date and time when the message was orignally published.",
          "type": "string",
          "format": "date-time"
        },
        "authorChannelId": {
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor memberMilestoneChatEvent - the member that sent the message membershipGiftingEvent - the user that made the purchase giftMembershipReceivedEvent - the user that received the gift membership messageDeletedEvent - the moderator that took the action. Unused. messageRetractedEvent - the author that retracted their message. Unused. userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase superStickerEvent - the user that made the purchase pollEvent - the user that created the poll",
          "type": "string"
        },
        "messageRetractedDetails": {
          "$ref": "LiveChatMessageRetractedDetails",
          "deprecated": true
        },
        "membershipGiftingDetails": {
          "description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'.",
          "$ref": "LiveChatMembershipGiftingDetails"
        },
        "giftMembershipReceivedDetails": {
          "description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'.",
          "$ref": "LiveChatGiftMembershipReceivedDetails"
        },
        "messageDeletedDetails": {
          "$ref": "LiveChatMessageDeletedDetails",
          "deprecated": true
        },
        "superStickerDetails": {
          "$ref": "LiveChatSuperStickerDetails",
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'."
        },
        "textMessageDetails": {
          "$ref": "LiveChatTextMessageDetails",
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'."
        },
        "memberMilestoneChatDetails": {
          "$ref": "LiveChatMemberMilestoneChatDetails",
          "description": "Details about the Member Milestone Chat event, this is only set if the type is 'memberMilestoneChatEvent'."
        },
        "giftDetails": {
          "$ref": "LiveChatGiftDetails",
          "description": "Details about the gift event, this is only set if the type is 'giftEvent'."
        },
        "hasDisplayContent": {
          "description": "Whether the message has display content that should be displayed to users.",
          "type": "boolean"
        }
      },
      "id": "LiveChatMessageSnippet",
      "description": "Next ID: 35",
      "type": "object"
    },
    "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails": {
      "id": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails",
      "description": "Information specific to merchant affiliate program.",
      "type": "object",
      "properties": {
        "status": {
          "description": "The current merchant affiliate program status.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Merchant is eligible for the merchant affiliate program.",
            "Merchant affiliate program is active.",
            "Merchant affiliate program is paused."
          ],
          "enum": [
            "merchantAffiliateProgramStatusUnspecified",
            "merchantAffiliateProgramStatusEligible",
            "merchantAffiliateProgramStatusActive",
            "merchantAffiliateProgramStatusPaused"
          ]
        }
      }
    },
    "ThumbnailDetails": {
      "id": "ThumbnailDetails",
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "type": "object",
      "properties": {
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        },
        "maxres": {
          "$ref": "Thumbnail",
          "description": "The maximum resolution quality image for this resource."
        },
        "high": {
          "$ref": "Thumbnail",
          "description": "The high quality image for this resource."
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        }
      }
    },
    "VideoAbuseReportReasonListResponse": {
      "id": "VideoAbuseReportReasonListResponse",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "VideoAbuseReportReason"
          },
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`.",
          "type": "array"
        },
        "visitorId": {
          "description": "The `visitorId` identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`.",
          "type": "string",
          "default": "youtube#videoAbuseReportReasonListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "ChannelLocalization": {
      "properties": {
        "title": {
          "description": "The localized strings for channel's title.",
          "type": "string"
        },
        "description": {
          "description": "The localized strings for channel's description.",
          "type": "string"
        }
      },
      "id": "ChannelLocalization",
      "description": "Channel localization setting",
      "type": "object"
    },
    "ChannelAuditDetails": {
      "properties": {
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        },
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        }
      },
      "id": "ChannelAuditDetails",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process.",
      "type": "object"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "description": "JSON template for the status part of a channel.",
      "type": "object",
      "properties": {
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "longUploadsStatus": {
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ]
        },
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "madeForKids": {
          "type": "boolean"
        }
      }
    },
    "VideoAbuseReportReasonSnippet": {
      "properties": {
        "label": {
          "description": "The localized label belonging to this abuse report reason.",
          "type": "string"
        },
        "secondaryReasons": {
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array"
        }
      },
      "id": "VideoAbuseReportReasonSnippet",
      "description": "Basic details about a video category, such as its localized title.",
      "type": "object"
    },
    "CaptionSnippet": {
      "id": "CaptionSnippet",
      "description": "Basic details about a caption track, such as its language and name.",
      "type": "object",
      "properties": {
        "audioTrackType": {
          "description": "The type of audio track associated with the caption track.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ]
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "failureReason": {
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ]
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "status": {
          "description": "The caption track's status.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "serving",
            "syncing",
            "failed"
          ]
        },
        "language": {
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "isAutoSynced": {
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions.",
          "type": "boolean"
        },
        "name": {
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean"
        },
        "trackKind": {
          "description": "The caption track's type.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "standard",
            "ASR",
            "forced"
          ]
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
          "type": "boolean"
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean"
        }
      }
    },
    "PropertyValue": {
      "id": "PropertyValue",
      "description": "A pair Property / Value.",
      "type": "object",
      "properties": {
        "property": {
          "description": "A property.",
          "type": "string"
        },
        "value": {
          "description": "The property's value.",
          "type": "string"
        }
      }
    },
    "CommentListResponse": {
      "id": "CommentListResponse",
      "type": "object",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "type": "string",
          "default": "youtube#commentListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "items": {
          "description": "A list of comments that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "PlaylistLocalization": {
      "properties": {
        "description": {
          "description": "The localized strings for playlist's description.",
          "type": "string"
        },
        "title": {
          "description": "The localized strings for playlist's title.",
          "type": "string"
        }
      },
      "id": "PlaylistLocalization",
      "description": "Playlist localization setting",
      "type": "object"
    },
    "ActivityContentDetailsFavorite": {
      "id": "ActivityContentDetailsFavorite",
      "description": "Information about a video that was marked as a favorite video.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource that was marked as a favorite.",
          "$ref": "ResourceId"
        }
      }
    },
    "VideoProcessingDetailsProcessingProgress": {
      "properties": {
        "timeLeftMs": {
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "type": "string",
          "format": "uint64"
        },
        "partsProcessed": {
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string",
          "format": "uint64"
        },
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "VideoProcessingDetailsProcessingProgress",
      "description": "Video processing progress and completion time estimate.",
      "type": "object"
    },
    "MembershipsLevelListResponse": {
      "properties": {
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#membershipsLevelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "type": "string"
        },
        "items": {
          "description": "A list of pricing levels offered by a creator to the fans.",
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          }
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "MembershipsLevelListResponse",
      "type": "object"
    },
    "VideoTopicDetails": {
      "id": "VideoTopicDetails",
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "properties": {
        "topicIds": {
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "relevantTopicIds": {
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicCategories": {
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "I18nRegionListResponse": {
      "properties": {
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "type": "array",
          "items": {
            "$ref": "I18nRegion"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
          "type": "string",
          "default": "youtube#i18nRegionListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "I18nRegionListResponse",
      "type": "object"
    },
    "PlaylistListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#playlistListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "items": {
          "items": {
            "$ref": "Playlist"
          },
          "description": "A list of playlists that match the request criteria",
          "type": "array"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        }
      },
      "id": "PlaylistListResponse",
      "type": "object"
    },
    "Video": {
      "id": "Video",
      "description": "A *video* resource represents a YouTube video.",
      "type": "object",
      "properties": {
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
        },
        "suggestions": {
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          },
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "liveStreamingDetails": {
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast.",
          "$ref": "VideoLiveStreamingDetails"
        },
        "recordingDetails": {
          "$ref": "VideoRecordingDetails",
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded."
        },
        "statistics": {
          "$ref": "VideoStatistics",
          "description": "The statistics object contains statistics about the video."
        },
        "ageGating": {
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner.",
          "$ref": "VideoAgeGating"
        },
        "brandPartner": {
          "$ref": "BrandPartner"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        },
        "kind": {
          "default": "youtube#video",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "type": "string"
        },
        "localizations": {
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "type": "object",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
        },
        "projectDetails": {
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "deprecated": true,
          "$ref": "VideoProjectDetails"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses.",
          "$ref": "VideoStatus"
        },
        "player": {
          "$ref": "VideoPlayer",
          "description": "The player object contains information that you would use to play the video in an embedded player."
        }
      }
    },
    "AccessPolicy": {
      "id": "AccessPolicy",
      "description": "Rights management policy for YouTube resources.",
      "type": "object",
      "properties": {
        "allowed": {
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default.",
          "type": "boolean"
        },
        "exception": {
          "items": {
            "type": "string"
          },
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array"
        }
      }
    },
    "ActivityContentDetailsSocial": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object encapsulates information that identifies the resource associated with a social network post.",
          "$ref": "ResourceId"
        },
        "type": {
          "description": "The name of the social network.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unspecified",
            "googlePlus",
            "facebook",
            "twitter"
          ]
        },
        "imageUrl": {
          "description": "An image of the post's author.",
          "type": "string"
        },
        "author": {
          "description": "The author of the social network post.",
          "type": "string"
        },
        "referenceUrl": {
          "description": "The URL of the social network post.",
          "type": "string"
        }
      },
      "id": "ActivityContentDetailsSocial",
      "description": "Details about a social network post.",
      "type": "object"
    },
    "LiveChatPollDetailsPollMetadataPollOption": {
      "id": "LiveChatPollDetailsPollMetadataPollOption",
      "type": "object",
      "properties": {
        "optionText": {
          "type": "string"
        },
        "tally": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BrandPartner": {
      "properties": {
        "channelId": {
          "description": "Required. External Channel ID, must begin with \"UC\"",
          "type": "string"
        },
        "channelHandle": {
          "description": "Required. Channel handle, must begin with \"@\"",
          "type": "string"
        }
      },
      "id": "BrandPartner",
      "description": "Details about the brand partner linked to the video for Creator Initiated Linking (CIL). Next ID: 6",
      "type": "object"
    },
    "LocalizedProperty": {
      "id": "LocalizedProperty",
      "type": "object",
      "properties": {
        "localized": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "default": {
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The language of the default property.",
          "$ref": "LanguageTag"
        }
      }
    },
    "VideoAbuseReportReason": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "type": "string",
          "default": "youtube#videoAbuseReportReason"
        },
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "VideoAbuseReportReasonSnippet",
          "description": "The `snippet` object contains basic details about the abuse report reason."
        }
      },
      "id": "VideoAbuseReportReason",
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`.",
      "type": "object"
    },
    "LiveChatSuperStickerDetails": {
      "id": "LiveChatSuperStickerDetails",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The currency in which the purchase was made.",
          "type": "string"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "tier": {
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1.",
          "type": "integer",
          "format": "uint32"
        },
        "amountMicros": {
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string",
          "format": "uint64"
        },
        "superStickerMetadata": {
          "description": "Information about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        }
      }
    },
    "LiveStreamStatus": {
      "id": "LiveStreamStatus",
      "description": "Brief description of the live stream status.",
      "type": "object",
      "properties": {
        "streamStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        },
        "healthStatus": {
          "$ref": "LiveStreamHealthStatus",
          "description": "The health status of the stream."
        }
      }
    },
    "ActivityContentDetailsLike": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsLike",
      "description": "Information about a resource that received a positive (like) rating.",
      "type": "object"
    },
    "ThirdPartyLink": {
      "properties": {
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the status of the link.",
          "$ref": "ThirdPartyLinkStatus"
        },
        "kind": {
          "default": "youtube#thirdPartyLink",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\".",
          "type": "string"
        },
        "linkingToken": {
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked.",
          "type": "string"
        },
        "snippet": {
          "$ref": "ThirdPartyLinkSnippet",
          "description": "The snippet object contains basic details about the third- party account link."
        }
      },
      "id": "ThirdPartyLink",
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service.",
      "type": "object"
    },
    "ActivityContentDetailsBulletin": {
      "id": "ActivityContentDetailsBulletin",
      "description": "Details about a channel bulletin post.",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert"
        }
      }
    },
    "ChannelSectionLocalization": {
      "properties": {
        "title": {
          "description": "The localized strings for channel section's title.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "ChannelSectionLocalization",
      "description": "ChannelSection localization setting",
      "type": "object"
    },
    "VideoLiveStreamingDetails": {
      "id": "VideoLiveStreamingDetails",
      "description": "Details about the live streaming metadata.",
      "type": "object",
      "properties": {
        "scheduledStartTime": {
          "description": "The time that the broadcast is scheduled to begin.",
          "type": "string",
          "format": "date-time"
        },
        "actualEndTime": {
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over.",
          "type": "string",
          "format": "date-time"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string",
          "format": "uint64"
        },
        "actualStartTime": {
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins.",
          "type": "string",
          "format": "date-time"
        },
        "scheduledEndTime": {
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Channel": {
      "properties": {
        "brandingSettings": {
          "description": "The brandingSettings object encapsulates information about the branding of the channel.",
          "$ref": "ChannelBrandingSettings"
        },
        "statistics": {
          "description": "The statistics object encapsulates statistics for the channel.",
          "$ref": "ChannelStatistics"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the channel.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images.",
          "$ref": "ChannelSnippet"
        },
        "contentDetails": {
          "$ref": "ChannelContentDetails",
          "description": "The contentDetails object encapsulates information about the channel's content."
        },
[...]
