{
  "basePath": "",
  "id": "youtube:v3",
  "version": "v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "ownerName": "Google",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "name": "youtube",
  "servicePath": "",
  "title": "YouTube Data API v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260924",
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "baseUrl": "https://youtube.googleapis.com/",
  "resources": {
    "thumbnails": {
      "methods": {
        "set": {
          "flatPath": "youtube/v3/thumbnails/set",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "videoId"
          ],
          "mediaUpload": {
            "maxSize": "52428800",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              },
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            }
          },
          "supportsMediaUpload": true,
          "path": "youtube/v3/thumbnails/set",
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "id": "youtube.thumbnails.set"
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "LiveChatModerator"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "path": "youtube/v3/liveChat/moderators",
          "request": {
            "$ref": "LiveChatModerator"
          },
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatModerators.insert",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "path": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.delete"
        },
        "list": {
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.list",
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "liveChatId": {
              "type": "string",
              "location": "query",
              "description": "The id of the live chat for which moderators should be returned.",
              "required": true
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "minimum": "0",
              "maximum": "50"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        }
      }
    },
    "playlistImages": {
      "methods": {
        "list": {
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.list",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistImage resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response.",
              "type": "string",
              "repeated": true
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "parent": {
              "description": "Return PlaylistImages for this playlist id.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "default": "5",
              "location": "query",
              "minimum": "0",
              "maximum": "50"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "youtube/v3/playlistImages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "PlaylistImageListResponse"
          }
        },
        "insert": {
          "id": "youtube.playlistImages.insert",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistImage"
          },
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlaylistImage"
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/playlistImages",
          "parameterOrder": [],
          "mediaUpload": {
            "maxSize": "52428800",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/playlistImages",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "path": "youtube/v3/playlistImages",
          "description": "Inserts a new resource into this collection."
        },
        "delete": {
          "id": "youtube.playlistImages.delete",
          "description": "Deletes a resource.",
          "path": "youtube/v3/playlistImages",
          "flatPath": "youtube/v3/playlistImages",
          "httpMethod": "DELETE",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "Id to identify this image. This is returned from by the List method."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": []
        },
        "update": {
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.update",
          "response": {
            "$ref": "PlaylistImage"
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/playlistImages"
              }
            },
            "maxSize": "52428800"
          },
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/playlistImages",
          "request": {
            "$ref": "PlaylistImage"
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "parameterOrder": [],
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "flatPath": "youtube/v3/videoCategories",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet."
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "location": "query"
            },
            "hl": {
              "default": "en-US",
              "type": "string",
              "location": "query"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videoCategories",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.videoCategories.list"
        }
      }
    },
    "captions": {
      "methods": {
        "list": {
          "path": "youtube/v3/captions",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "CaptionListResponse"
          },
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query"
            },
            "id": {
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "videoId": {
              "description": "Returns the captions for the specified video.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "type": "string"
            }
          }
        },
        "update": {
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.captions.update",
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "supportsMediaUpload": true,
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Caption"
          },
          "parameters": {
            "sync": {
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of."
            }
          },
          "flatPath": "youtube/v3/captions",
          "response": {
            "$ref": "Caption"
          },
          "httpMethod": "PUT"
        },
        "download": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "tlang": {
              "location": "query",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The ID of the caption track to download, required for One Platform."
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            },
            "tfmt": {
              "type": "string",
              "location": "query",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt."
            }
          },
          "flatPath": "youtube/v3/captions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "useMediaDownloadService": true,
          "supportsMediaDownload": true,
          "id": "youtube.captions.download",
          "parameterOrder": [
            "id"
          ],
          "description": "Downloads a caption track.",
          "path": "youtube/v3/captions/{id}"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "parameters": {
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "sync": {
              "location": "query",
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio."
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/captions",
          "flatPath": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              }
            },
            "maxSize": "104857600"
          },
          "id": "youtube.captions.insert",
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.delete",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            }
          }
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "id": "youtube.i18nLanguages.list",
          "path": "youtube/v3/i18nLanguages",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "parameters": {
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "flatPath": "youtube/v3/i18nLanguages",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "type": "string",
              "default": "en-US",
              "location": "query"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.videoAbuseReportReasons.list",
          "path": "youtube/v3/videoAbuseReportReasons",
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          }
        }
      }
    },
    "subscriptions": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "order": {
              "location": "query",
              "description": "The order of the returned subscriptions",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "type": "string",
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "default": "relevance"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "Return the subscriptions of the given channel owner.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "minimum": "0",
              "maximum": "50",
              "format": "uint32",
              "type": "integer",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "forChannelId": {
              "location": "query",
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "location": "query",
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "repeated": true
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Flag for returning the subscriptions of the authenticated user."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "mySubscribers": {
              "location": "query",
              "type": "boolean",
              "description": "Return the subscribers of the given channel owner."
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "flatPath": "youtube/v3/subscriptions",
          "path": "youtube/v3/subscriptions",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.subscriptions.list"
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/subscriptions",
          "id": "youtube.subscriptions.delete",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE"
        },
        "insert": {
          "request": {
            "$ref": "Subscription"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query"
            }
          },
          "path": "youtube/v3/subscriptions",
          "httpMethod": "POST",
          "id": "youtube.subscriptions.insert",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/subscriptions",
          "response": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "playlistItems": {
      "methods": {
        "list": {
          "path": "youtube/v3/playlistItems",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "maximum": "50",
              "location": "query",
              "format": "uint32",
              "default": "5",
              "type": "integer"
            },
            "videoId": {
              "location": "query",
              "description": "Return the playlist items associated with the given video ID.",
              "type": "string"
            },
            "id": {
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "part": {
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.playlistItems.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "description": "Updates an existing resource.",
          "id": "youtube.playlistItems.update",
          "httpMethod": "PUT",
          "flatPath": "youtube/v3/playlistItems",
          "request": {
            "$ref": "PlaylistItem"
          },
          "path": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "response": {
            "$ref": "PlaylistItem"
          }
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/playlistItems",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.delete",
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlistItems"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistItem"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/playlistItems",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "request": {
            "$ref": "PlaylistItem"
          },
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.playlistItems.insert"
        }
      }
    },
    "videos": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "response": {
            "$ref": "VideoListResponse"
          },
          "id": "youtube.videos.list",
          "path": "youtube/v3/videos",
          "parameters": {
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "location": "query",
              "default": "0",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "format": "uint32",
              "default": "5",
              "location": "query",
              "type": "integer"
            },
            "id": {
              "type": "string",
              "description": "Return videos with the given ids.",
              "repeated": true,
              "location": "query"
            },
            "maxWidth": {
              "description": "Return the player with maximum height specified in",
              "location": "query",
              "type": "integer",
              "minimum": "72",
              "maximum": "8192",
              "format": "int32"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "locale": {
              "location": "query",
              "deprecated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query"
            },
            "chart": {
              "type": "string",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "location": "query",
              "description": "Return the videos that are in the specified chart.",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ]
            },
            "maxHeight": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "minimum": "72",
              "maximum": "8192"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string",
              "location": "query"
            },
            "regionCode": {
              "description": "Use a chart that is specific to the specified region",
              "type": "string",
              "location": "query"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ]
            }
          },
          "flatPath": "youtube/v3/videos",
          "httpMethod": "GET"
        },
        "insert": {
          "supportsMediaUpload": true,
          "description": "Inserts a new resource into this collection.",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              }
            },
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "274877906944"
          },
          "httpMethod": "POST",
          "parameters": {
            "autoLevels": {
              "location": "query",
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string"
            },
            "stabilize": {
              "location": "query",
              "description": "Should stabilize be applied to the upload.",
              "type": "boolean"
            },
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "type": "boolean",
              "location": "query",
              "default": "true"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videos",
          "request": {
            "$ref": "Video"
          },
          "response": {
            "$ref": "Video"
          },
          "id": "youtube.videos.insert",
          "flatPath": "youtube/v3/videos"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "description": "Deletes a resource.",
          "id": "youtube.videos.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          }
        },
        "reportAbuse": {
          "path": "youtube/v3/videos/reportAbuse",
          "id": "youtube.videos.reportAbuse",
          "parameterOrder": [],
          "flatPath": "youtube/v3/videos/reportAbuse",
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Report abuse for a video."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Video"
          },
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "flatPath": "youtube/v3/videos",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videos",
          "response": {
            "$ref": "Video"
          },
          "httpMethod": "PUT",
          "id": "youtube.videos.update"
        },
        "rate": {
          "parameterOrder": [
            "id",
            "rating"
          ],
          "path": "youtube/v3/videos/rate",
          "id": "youtube.videos.rate",
          "parameters": {
            "rating": {
              "required": true,
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "The entity has not been rated.",
                "The entity is liked.",
                "The entity is disliked."
              ]
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "flatPath": "youtube/v3/videos/rate",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "getRating": {
          "path": "youtube/v3/videos/getRating",
          "id": "youtube.videos.getRating",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "GET",
          "flatPath": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true
            }
          },
          "response": {
            "$ref": "VideoGetRatingResponse"
          }
        },
        "batchGetStats": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [],
          "parameters": {
            "part": {
              "repeated": true,
              "type": "string",
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.videos.batchGetStats",
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "flatPath": "youtube/v3/videos:batchGetStats",
          "path": "youtube/v3/videos:batchGetStats"
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of search resources",
          "parameters": {
            "channelId": {
              "type": "string",
              "description": "Filter on resources belonging to this channelId. (Force TAP rebuild)",
              "location": "query"
            },
            "forDeveloper": {
              "location": "query",
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "type": "boolean"
            },
            "channelType": {
              "type": "string",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "location": "query",
              "description": "Add a filter on the channel search."
            },
            "videoDefinition": {
              "description": "Filter on the definition of the videos.",
              "location": "query",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "type": "string",
              "enum": [
                "any",
                "standard",
                "high"
              ]
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Textual search terms to match."
            },
            "regionCode": {
              "type": "string",
              "description": "Display the content as seen by viewers in this country.",
              "location": "query"
            },
            "type": {
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "order": {
              "default": "relevance",
              "description": "Sort order of the results.",
              "type": "string",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ]
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "location": "query",
              "required": true,
              "repeated": true
            },
            "forContentOwner": {
              "location": "query",
              "type": "boolean",
              "description": "Search owned by a content owner."
            },
            "locationRadius": {
              "location": "query",
              "description": "Filter on distance from the location (specified above).",
              "type": "string"
            },
            "videoCaption": {
              "type": "string",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "location": "query",
              "description": "Filter on the presence of captions on the videos.",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ]
            },
            "videoEmbeddable": {
              "location": "query",
              "type": "string",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on embeddable videos.",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ]
            },
            "relevanceLanguage": {
              "description": "Return results relevant to this language.",
              "location": "query",
              "type": "string"
            },
            "topicId": {
              "location": "query",
              "type": "string",
              "description": "Restrict results to a particular topic."
            },
            "videoDuration": {
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ],
              "description": "Filter on the duration of the videos.",
              "location": "query",
              "type": "string",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ]
            },
            "maxResults": {
              "format": "uint32",
              "minimum": "0",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "type": "integer",
              "default": "5"
            },
            "publishedBefore": {
              "description": "Filter on resources published before this date.",
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "videoSyndicated": {
              "location": "query",
              "description": "Filter on syndicated videos.",
              "type": "string",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ]
            },
            "videoType": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "description": "Filter on videos of a specific type.",
              "type": "string",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ]
            },
            "videoPaidProductPlacement": {
              "type": "string",
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ],
              "location": "query"
            },
            "forMine": {
              "location": "query",
              "type": "boolean",
              "description": "Search for the private videos of the authenticated user."
            },
            "videoCategoryId": {
              "description": "Filter on videos in a specific category.",
              "location": "query",
              "type": "string"
            },
            "safeSearch": {
              "type": "string",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "location": "query",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "default": "moderate"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "location": {
              "description": "Filter on location of the video",
              "type": "string",
              "location": "query"
            },
            "videoLicense": {
              "location": "query",
              "description": "Filter on the license of the videos.",
              "type": "string",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ]
            },
            "publishedAfter": {
              "format": "google-datetime",
              "location": "query",
              "description": "Filter on resources published after this date.",
              "type": "string"
            },
            "eventType": {
              "location": "query",
              "enumDescriptions": [
                "The resource does not have live broadcast content.",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "type": "string",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "description": "Filter on the livestream status of the videos."
            },
            "videoDimension": {
              "description": "Filter on 3d videos.",
              "location": "query",
              "type": "string",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ]
            }
          },
          "path": "youtube/v3/search",
          "flatPath": "youtube/v3/search",
          "id": "youtube.search.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "SearchListResponse"
          }
        }
      }
    },
    "liveStreams": {
      "methods": {
        "update": {
          "request": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.liveStreams.update",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "description": "Updates an existing stream for the authenticated user.",
          "response": {
            "$ref": "LiveStream"
          },
          "httpMethod": "PUT",
          "path": "youtube/v3/liveStreams"
        },
        "insert": {
          "request": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveStream"
          },
          "description": "Inserts a new stream for the authenticated user.",
          "id": "youtube.liveStreams.insert",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "path": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
[...]
