{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260707",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/youtube/",
  "schemas": {
    "SuperChatEventListResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "items": {
          "items": {
            "$ref": "SuperChatEvent"
          },
          "type": "array",
          "description": "A list of Super Chat purchases that match the request criteria."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        }
      },
      "id": "SuperChatEventListResponse"
    },
    "AbuseType": {
      "type": "object",
      "id": "AbuseType",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "VideoProcessingDetailsProcessingProgress": {
      "id": "VideoProcessingDetailsProcessingProgress",
      "properties": {
        "timeLeftMs": {
          "type": "string",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "format": "uint64"
        },
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "type": "string",
          "format": "uint64"
        },
        "partsProcessed": {
          "type": "string",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "format": "uint64"
        }
      },
      "description": "Video processing progress and completion time estimate.",
      "type": "object"
    },
    "VideoStatsStatistics": {
      "id": "VideoStatsStatistics",
      "properties": {
        "viewCount": {
          "description": "Output only. The number of times the video has been viewed.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "likeCount": {
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "commentCount": {
          "type": "string",
          "description": "Output only. The number of comments for the video.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
      "type": "object"
    },
    "LiveChatSuperStickerDetails": {
      "properties": {
        "superStickerMetadata": {
          "description": "Information about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "tier": {
          "format": "uint32",
          "type": "integer",
          "description": "The tier in which the amount belongs. Lower amounts belong to lower tiers. The lowest tier is 1."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the purchase was made."
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The amount purchased by the user, in micros (1,750,000 micros = 1.75).",
          "type": "string"
        },
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        }
      },
      "id": "LiveChatSuperStickerDetails",
      "type": "object"
    },
    "LiveChatPollDetailsPollMetadataPollOption": {
      "type": "object",
      "id": "LiveChatPollDetailsPollMetadataPollOption",
      "properties": {
        "optionText": {
          "type": "string"
        },
        "tally": {
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ThirdPartyLinkSnippet": {
      "type": "object",
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
            "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
          ],
          "enum": [
            "linkUnspecified",
            "channelToStoreLink",
            "channelToAffiliateProgramLink"
          ],
          "description": "Type of the link named after the entities that are being linked.",
          "type": "string"
        },
        "channelToAffiliateProgramLink": {
          "description": "Information specific to a link between a channel and an affiliate program of a partner.",
          "$ref": "ChannelToAffiliateProgramLinkDetails"
        },
        "channelToStoreLink": {
          "description": "Information specific to a link between a channel and a store on a merchandising platform.",
          "$ref": "ChannelToStoreLinkDetails"
        }
      },
      "id": "ThirdPartyLinkSnippet"
    },
    "LiveBroadcast": {
      "type": "object",
      "description": "A *liveBroadcast* resource represents an event that will be streamed, via live video, on YouTube.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcast\".",
          "type": "string",
          "default": "youtube#liveBroadcast"
        },
        "status": {
          "description": "The status object contains information about the event's status.",
          "$ref": "LiveBroadcastStatus"
        },
        "statistics": {
          "description": "The statistics object contains info about the event's current stats. These include concurrent viewers and total chat count. Statistics can change (in either direction) during the lifetime of an event. Statistics are only returned while the event is live.",
          "$ref": "LiveBroadcastStatistics"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object contains information about the event's monetization details.",
          "$ref": "LiveBroadcastMonetizationDetails"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the event's video content, such as whether the content can be shown in an embedded video player or if it will be archived and therefore available for viewing after the event has concluded.",
          "$ref": "LiveBroadcastContentDetails"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the broadcast.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the event, including its title, description, start time, and end time.",
          "$ref": "LiveBroadcastSnippet"
        }
      },
      "id": "LiveBroadcast"
    },
    "I18nLanguage": {
      "type": "object",
      "description": "An *i18nLanguage* resource identifies a UI language currently supported by YouTube.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the i18n language."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the i18n language, such as language code and human-readable name.",
          "$ref": "I18nLanguageSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguage\".",
          "type": "string",
          "default": "youtube#i18nLanguage"
        }
      },
      "id": "I18nLanguage"
    },
    "ChannelProfileDetails": {
      "properties": {
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        }
      },
      "id": "ChannelProfileDetails",
      "type": "object"
    },
    "VideoTopicDetails": {
      "description": "Freebase topic information related to the video.",
      "type": "object",
      "id": "VideoTopicDetails",
      "properties": {
        "topicCategories": {
          "type": "array",
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content.",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API."
        },
        "relevantTopicIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API."
        }
      }
    },
    "VideoStat": {
      "id": "VideoStat",
      "properties": {
        "statistics": {
          "description": "Output only. The VideoStatsStatistics object contains statistics about the video.",
          "$ref": "VideoStatsStatistics",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies what kind of resource this is. Value: the fixed string \"youtube#videoStats\"."
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "snippet": {
          "description": "Output only. The VideoStatsSnippet object contains basic details about the video, such publish time.",
          "readOnly": true,
          "$ref": "VideoStatsSnippet"
        },
        "contentDetails": {
          "readOnly": true,
          "$ref": "VideoStatsContentDetails",
          "description": "Output only. The VideoStatsContentDetails object contains information about the video content, including the length of the video."
        },
        "etag": {
          "type": "string",
          "description": "Output only. Etag of this resource.",
          "readOnly": true
        }
      },
      "description": "A *VideoStat* resource represents a YouTube video's stats.",
      "type": "object"
    },
    "SuperStickerMetadata": {
      "id": "SuperStickerMetadata",
      "properties": {
        "stickerId": {
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it."
        },
        "altTextLanguage": {
          "description": "Specifies the localization language in which the alt text is returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ThumbnailSetResponse": {
      "id": "ThumbnailSetResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thumbnailSetResponse\".",
          "type": "string",
          "default": "youtube#thumbnailSetResponse"
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "items": {
            "$ref": "ThumbnailDetails"
          },
          "description": "A list of thumbnails.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "SuperChatEvent": {
      "properties": {
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the Super Chat event.",
          "$ref": "SuperChatEventSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#superChatEvent",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`."
        }
      },
      "id": "SuperChatEvent",
      "type": "object",
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel."
    },
    "ActivityContentDetailsLike": {
      "description": "Information about a resource that received a positive (like) rating.",
      "type": "object",
      "id": "ActivityContentDetailsLike",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      }
    },
    "MembershipsDurationAtLevel": {
      "type": "object",
      "id": "MembershipsDurationAtLevel",
      "properties": {
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "format": "int32",
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer).",
          "type": "integer"
        },
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        }
      }
    },
    "VideoFileDetails": {
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "type": "object",
      "id": "VideoFileDetails",
      "properties": {
        "durationMs": {
          "format": "uint64",
          "description": "The length of the uploaded video in milliseconds.",
          "type": "string"
        },
        "container": {
          "type": "string",
          "description": "The uploaded video file's container format."
        },
        "fileName": {
          "type": "string",
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
        },
        "audioStreams": {
          "type": "array",
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream.",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          }
        },
        "fileSize": {
          "type": "string",
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded.",
          "format": "uint64"
        },
        "fileType": {
          "type": "string",
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ],
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ]
        },
        "videoStreams": {
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream.",
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          }
        },
        "bitrateBps": {
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "type": "string",
          "format": "uint64"
        },
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        }
      }
    },
    "VideoPaidProductPlacementDetails": {
      "type": "object",
      "description": "Details about paid content, such as paid product placement, sponsorships or endorsement, contained in a YouTube video and a method to inform viewers of paid promotion. This data can only be retrieved by the video owner.",
      "properties": {
        "hasPaidProductPlacement": {
          "description": "This boolean represents whether the video contains Paid Product Placement, Studio equivalent: https://screenshot.googleplex.com/4Me79DE6AfT2ktp.png",
          "type": "boolean"
        }
      },
      "id": "VideoPaidProductPlacementDetails"
    },
    "I18nRegionSnippet": {
      "type": "object",
      "description": "Basic details about an i18n region, such as region code and human-readable name.",
      "properties": {
        "gl": {
          "description": "The region code as a 2-letter ISO country code.",
          "type": "string"
        },
        "name": {
          "description": "The human-readable name of the region.",
          "type": "string"
        }
      },
      "id": "I18nRegionSnippet"
    },
    "LiveChatUserBannedMessageDetails": {
      "id": "LiveChatUserBannedMessageDetails",
      "properties": {
        "bannedUserDetails": {
          "description": "The details of the user that was banned.",
          "$ref": "ChannelProfileDetails"
        },
        "banType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "permanent",
            "temporary"
          ],
          "type": "string",
          "description": "The type of ban."
        },
        "banDurationSeconds": {
          "format": "uint64",
          "description": "The duration of the ban. This property is only present if the banType is temporary.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResourceId": {
      "properties": {
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel.",
          "type": "string"
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist."
        },
        "kind": {
          "description": "The type of the API resource.",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
        }
      },
      "id": "ResourceId",
      "type": "object",
      "description": "A resource id is a generic reference that points to another YouTube resource."
    },
    "Subscription": {
      "type": "object",
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "properties": {
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to.",
          "$ref": "SubscriptionSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "default": "youtube#subscription"
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        }
      },
      "id": "Subscription"
    },
    "ThirdPartyLink": {
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service.",
      "type": "object",
      "id": "ThirdPartyLink",
      "properties": {
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the third- party account link.",
          "$ref": "ThirdPartyLinkSnippet"
        },
        "kind": {
          "default": "youtube#thirdPartyLink",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\".",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the status of the link.",
          "$ref": "ThirdPartyLinkStatus"
        },
        "linkingToken": {
          "type": "string",
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked."
        }
      }
    },
    "Member": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#member\".",
          "default": "youtube#member"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the member.",
          "$ref": "MemberSnippet"
        }
      },
      "id": "Member",
      "type": "object",
      "description": "A *member* resource represents a member for a YouTube channel. A member provides recurring monetary support to a creator and receives special benefits."
    },
    "LiveBroadcastContentDetails": {
      "properties": {
        "startWithSlate": {
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers.",
          "deprecated": true,
          "type": "boolean"
        },
        "recordFromStart": {
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.",
          "type": "boolean"
        },
        "closedCaptionsType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ]
        },
        "latencyPreference": {
          "type": "string",
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ],
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ]
        },
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableLowLatency": {
          "description": "Indicates whether this broadcast has low latency enabled.",
          "deprecated": true,
          "type": "boolean"
        },
        "stereoLayout": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ],
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "type": "string"
        },
        "monitorStream": {
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly.",
          "$ref": "MonitorStreamInfo"
        },
        "enableClosedCaptions": {
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.",
          "deprecated": true,
          "type": "boolean"
        },
        "boundStreamId": {
          "description": "This value uniquely identifies the live stream bound to the broadcast.",
          "type": "string"
        },
        "mesh": {
          "type": "string",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "format": "byte"
        },
        "boundStreamLastUpdateTimeMs": {
          "type": "string",
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "format": "date-time"
        },
        "enableDvr": {
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.",
          "type": "boolean"
        },
        "enableEmbed": {
          "type": "boolean",
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video."
        },
        "enableContentEncryption": {
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
          "type": "boolean"
        },
        "projection": {
          "description": "The projection format of this broadcast. This defaults to rectangular.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ]
        },
        "enableAutoStart": {
          "type": "boolean",
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        }
      },
      "id": "LiveBroadcastContentDetails",
      "type": "object",
      "description": "Detailed settings of a broadcast."
    },
    "ThirdPartyLinkListResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLinkListResponse\".",
          "type": "string",
          "default": "youtube#thirdPartyLinkListResponse"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyLink"
          }
        }
      },
      "id": "ThirdPartyLinkListResponse",
      "type": "object"
    },
    "VideoFileDetailsVideoStream": {
      "id": "VideoFileDetailsVideoStream",
      "properties": {
        "rotation": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "type": "string",
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video."
        },
        "widthPixels": {
          "format": "uint32",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
          "type": "integer"
        },
        "heightPixels": {
          "description": "The encoded video content's height in pixels.",
          "type": "integer",
          "format": "uint32"
        },
        "codec": {
          "type": "string",
          "description": "The video codec that the stream uses."
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "frameRateFps": {
          "type": "number",
          "description": "The video stream's frame rate, in frames per second.",
          "format": "double"
        },
        "aspectRatio": {
          "format": "double",
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "type": "number"
        },
        "bitrateBps": {
          "description": "The video stream's bitrate, in bits per second.",
          "type": "string",
          "format": "uint64"
        }
      },
      "description": "Information about a video stream.",
      "type": "object"
    },
    "RelatedEntity": {
      "id": "RelatedEntity",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      },
      "type": "object"
    },
    "CommentSnippetAuthorChannelId": {
      "description": "Contains the id of the author's YouTube channel, if any.",
      "type": "object",
      "id": "CommentSnippetAuthorChannelId",
      "properties": {
        "value": {
          "type": "string",
          "description": "The id of the author's YouTube channel."
        }
      }
    },
    "LiveChatNewSponsorDetails": {
      "id": "LiveChatNewSponsorDetails",
      "properties": {
        "memberLevelName": {
          "description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "isUpgrade": {
          "type": "boolean",
          "description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false."
        }
      },
      "type": "object"
    },
    "LiveStreamConfigurationIssue": {
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "How severe this issue is to the stream.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "info",
            "warning",
            "error"
          ]
        },
        "reason": {
          "type": "string",
          "description": "The short-form reason for this issue."
        },
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "description": "The kind of error happening.",
          "type": "string"
        }
      },
      "id": "LiveStreamConfigurationIssue"
    },
    "MembershipsLevelSnippet": {
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        },
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        }
      },
      "id": "MembershipsLevelSnippet",
      "type": "object"
    },
    "MembershipsDuration": {
      "properties": {
        "memberSince": {
          "description": "The date and time when the user became a continuous member across all levels.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "MembershipsDuration",
      "type": "object"
    },
    "VideoStatistics": {
      "id": "VideoStatistics",
      "properties": {
        "dislikeCount": {
          "format": "uint64",
          "description": "The number of users who have indicated that they disliked the video by giving it a negative rating.",
          "type": "string"
        },
        "viewCount": {
          "description": "The number of times the video has been viewed.",
          "type": "string",
          "format": "uint64"
        },
        "commentCount": {
          "description": "The number of comments for the video.",
          "type": "string",
          "format": "uint64"
        },
        "likeCount": {
          "type": "string",
          "description": "The number of users who have indicated that they liked the video by giving it a positive rating.",
          "format": "uint64"
        },
        "favoriteCount": {
          "format": "uint64",
          "description": "The number of users who currently have the video marked as a favorite video.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
      "type": "object"
    },
    "ActivityContentDetailsComment": {
      "description": "Information about a resource that received a comment.",
      "type": "object",
      "id": "ActivityContentDetailsComment",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      }
    },
    "MemberListResponse": {
      "type": "object",
      "id": "MemberListResponse",
      "properties": {
        "kind": {
          "default": "youtube#memberListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "items": {
          "items": {
            "$ref": "Member"
          },
          "description": "A list of members that match the request criteria.",
          "type": "array"
        },
        "pageInfo": {
          "$ref": "PageInfo"
        }
      }
    },
    "VideoAbuseReportReasonListResponse": {
      "type": "object",
      "id": "VideoAbuseReportReasonListResponse",
      "properties": {
        "items": {
          "items": {
            "$ref": "VideoAbuseReportReason"
          },
          "type": "array",
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "description": "The `visitorId` identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`.",
          "type": "string",
          "default": "youtube#videoAbuseReportReasonListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      }
    },
    "VideoAgeGating": {
      "type": "object",
      "id": "VideoAgeGating",
      "properties": {
        "restricted": {
          "description": "Age-restricted trailers. For redband trailers and adult-rated video-games. Only users aged 18+ can view the content. The the field is true the content is restricted to viewers aged 18+. Otherwise The field won't be present.",
          "type": "boolean"
        },
        "alcoholContent": {
          "description": "Indicates whether or not the video has alcoholic beverage content. Only users of legal purchasing age in a particular country, as identified by ICAP, can view the content.",
          "type": "boolean"
        },
        "videoGameRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "anyone",
            "m15Plus",
            "m16Plus",
            "m17Plus"
          ],
          "description": "Video game rating, if any.",
          "type": "string"
        }
      }
    },
    "VideoTrainability": {
      "id": "VideoTrainability",
      "properties": {
        "videoId": {
          "description": "The ID of the video.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoTrainability",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "type": "string"
        },
        "permitted": {
          "items": {
            "type": "string"
          },
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties",
          "type": "array"
        }
      },
      "description": "Specifies who is allowed to train on the video.",
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "type": "object",
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "properties": {
        "hl": {
          "description": "A short BCP-47 code that uniquely identifies a language.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the language in the language itself."
        }
      },
      "id": "I18nLanguageSnippet"
    },
    "VideoAbuseReportSecondaryReason": {
      "type": "object",
      "id": "VideoAbuseReportSecondaryReason",
      "properties": {
        "label": {
          "type": "string",
          "description": "The localized label for this abuse report secondary reason."
        },
        "id": {
          "type": "string",
          "description": "The ID of this abuse report secondary reason."
        }
      }
    },
    "CaptionListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "default": "youtube#captionListResponse"
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "items": {
          "type": "array",
          "description": "A list of captions that match the request criteria.",
          "items": {
            "$ref": "Caption"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "CaptionListResponse"
    },
    "PlaylistContentDetails": {
      "id": "PlaylistContentDetails",
      "properties": {
        "itemCount": {
          "type": "integer",
          "description": "The number of videos in the playlist.",
          "format": "uint32"
        }
      },
      "type": "object"
    },
    "LiveChatMessageAuthorDetails": {
      "type": "object",
      "id": "LiveChatMessageAuthorDetails",
      "properties": {
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The channel's display name."
        },
        "profileImageUrl": {
          "type": "string",
          "description": "The channels's avatar URL."
        },
        "isChatOwner": {
          "type": "boolean",
          "description": "Whether the author is the owner of the live chat."
        },
        "isChatModerator": {
          "description": "Whether the author is a moderator of the live chat.",
          "type": "boolean"
        },
        "isVerified": {
          "type": "boolean",
          "description": "Whether the author's identity has been verified by YouTube."
        },
        "isChatSponsor": {
          "type": "boolean",
          "description": "Whether the author is a sponsor of the live chat."
        },
        "channelId": {
          "description": "The YouTube channel ID.",
          "type": "string"
        }
      }
    },
    "ThumbnailDetails": {
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "type": "object",
      "id": "ThumbnailDetails",
      "properties": {
        "default": {
          "description": "The default image for this resource.",
          "$ref": "Thumbnail"
        },
        "high": {
          "description": "The high quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "standard": {
          "description": "The standard quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        }
      }
    },
    "ChannelSectionSnippet": {
      "description": "Basic details about a channel section, including title, style and position.",
      "type": "object",
      "id": "ChannelSectionSnippet",
      "properties": {
        "defaultLanguage": {
          "deprecated": true,
          "type": "string",
          "description": "The language of the channel section's default title and description."
        },
        "localized": {
          "description": "Localized title, read-only.",
          "deprecated": true,
          "$ref": "ChannelSectionLocalization"
        },
        "position": {
          "format": "uint32",
          "type": "integer",
          "description": "The position of the channel section in the channel."
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionTypeUndefined",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "description": "The type of the channel section.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            false
          ],
          "type": "string"
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        },
        "style": {
          "deprecated": true,
          "type": "string",
          "description": "The style of the channel section.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ]
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section."
        }
      }
    },
    "CaptionSnippet": {
      "id": "CaptionSnippet",
      "properties": {
        "isAutoSynced": {
          "type": "boolean",
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "description": "The caption track's status.",
          "type": "string"
        },
        "lastUpdated": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the caption track was last updated."
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean"
        },
        "language": {
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
          "type": "boolean"
        },
        "isDraft": {
          "type": "boolean",
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update"
        },
        "name": {
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string",
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback."
        },
        "audioTrackType": {
          "type": "string",
          "description": "The type of audio track associated with the caption track.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ]
        },
        "failureReason": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "type": "string"
        },
        "isCC": {
          "type": "boolean",
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false."
        },
        "trackKind": {
          "description": "The caption track's type.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "standard",
            "ASR",
            "forced"
          ]
        }
      },
      "description": "Basic details about a caption track, such as its language and name.",
      "type": "object"
    },
    "LiveChatMessage": {
      "type": "object",
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat.",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "authorDetails": {
          "description": "The authorDetails object contains basic details about the user that posted this message.",
          "$ref": "LiveChatMessageAuthorDetails"
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the message.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the message.",
          "$ref": "LiveChatMessageSnippet"
        },
        "kind": {
          "default": "youtube#liveChatMessage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\"."
        }
      },
      "id": "LiveChatMessage"
    },
    "ChannelBrandingSettings": {
      "type": "object",
      "description": "Branding properties of a YouTube channel.",
      "properties": {
        "watch": {
          "description": "Branding properties for the watch page.",
          "deprecated": true,
          "$ref": "WatchSettings"
        },
        "channel": {
          "description": "Branding properties for the channel view.",
          "$ref": "ChannelSettings"
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "hints": {
          "items": {
            "$ref": "PropertyValue"
          },
          "description": "Additional experimental branding properties.",
          "deprecated": true,
          "type": "array"
        }
      },
      "id": "ChannelBrandingSettings"
    },
    "PlaylistLocalization": {
      "type": "object",
      "description": "Playlist localization setting",
      "properties": {
        "description": {
          "description": "The localized strings for playlist's description.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The localized strings for playlist's title."
        }
      },
      "id": "PlaylistLocalization"
    },
    "ChannelAuditDetails": {
      "properties": {
        "contentIdClaimsGoodStanding": {
          "description": "Whether or not the channel has any unresolved claims.",
          "type": "boolean"
        },
        "copyrightStrikesGoodStanding": {
          "description": "Whether or not the channel has any copyright strikes.",
          "type": "boolean"
        },
        "communityGuidelinesGoodStanding": {
          "description": "Whether or not the channel respects the community guidelines.",
          "type": "boolean"
        }
      },
      "id": "ChannelAuditDetails",
      "type": "object",
      "description": "The auditDetails object encapsulates channel data that is relevant for YouTube Partners during the audit process."
    },
    "GeoPoint": {
      "type": "object",
      "description": "Geographical coordinates of a point, in WGS84.",
      "properties": {
        "longitude": {
          "type": "number",
          "description": "Longitude in degrees.",
          "format": "double"
        },
        "latitude": {
          "format": "double",
          "type": "number",
          "description": "Latitude in degrees."
        },
        "altitude": {
          "type": "number",
          "description": "Altitude above the reference ellipsoid, in meters.",
          "format": "double"
        }
      },
      "id": "GeoPoint"
    },
    "ChannelSectionContentDetails": {
      "properties": {
        "playlists": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The playlist ids for type single_playlist and multiple_playlists. For singlePlaylist, only one playlistId is allowed."
        },
        "channels": {
          "type": "array",
          "description": "The channel ids for type multiple_channels.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ChannelSectionContentDetails",
      "type": "object",
      "description": "Details about a channelsection, including playlists and channels."
    },
    "VideoCategorySnippet": {
      "properties": {
        "title": {
          "description": "The video category's title.",
          "type": "string"
        },
        "assignable": {
          "type": "boolean"
        },
        "channelId": {
          "default": "UCBR8-60-B28hp2BmDPdntcQ",
          "description": "The YouTube channel that created the video category.",
          "type": "string"
        }
      },
      "id": "VideoCategorySnippet",
      "type": "object",
      "description": "Basic details about a video category, such as its localized title."
    },
    "I18nRegionListResponse": {
      "id": "I18nRegionListResponse",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\".",
          "type": "string",
          "default": "youtube#i18nRegionListResponse"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "items": {
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "type": "array",
          "items": {
            "$ref": "I18nRegion"
          }
        }
      },
      "type": "object"
    },
    "InvideoBranding": {
      "properties": {
        "timing": {
          "description": "The temporal position within the video where watermark will be displayed.",
          "$ref": "InvideoTiming"
        },
        "position": {
          "deprecated": true,
          "description": "The spatial position within the video where the branding watermark will be displayed.",
          "$ref": "InvideoPosition"
        },
        "imageUrl": {
          "type": "string",
          "description": "The url of the uploaded image. Only used in apiary to api communication."
        },
        "imageBytes": {
          "format": "byte",
          "type": "string",
          "description": "The bytes the uploaded image. Only used in api to youtube communication."
        },
        "targetChannelId": {
          "description": "The channel to which this branding links. If not present it defaults to the current channel.",
          "type": "string"
        }
      },
      "id": "InvideoBranding",
      "type": "object",
      "description": "Describes an invideo branding."
    },
    "ActivityContentDetailsUpload": {
      "properties": {
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the uploaded video.",
          "type": "string"
        }
      },
      "id": "ActivityContentDetailsUpload",
      "type": "object",
      "description": "Information about the uploaded video."
    },
    "LiveChatMembershipGiftingDetails": {
      "properties": {
        "giftMembershipsCount": {
          "type": "integer",
          "description": "The number of gift memberships purchased by the user.",
          "format": "int32"
        },
        "giftMembershipsLevelName": {
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        }
      },
      "id": "LiveChatMembershipGiftingDetails",
      "type": "object"
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "description": "The ID of the live chat this moderator can act on.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Thumbnail": {
      "properties": {
        "url": {
          "description": "The thumbnail image's URL.",
          "type": "string"
        },
        "height": {
          "type": "integer",
          "description": "(Optional) Height of the thumbnail image.",
          "format": "uint32"
        },
        "width": {
          "format": "uint32",
          "description": "(Optional) Width of the thumbnail image.",
          "type": "integer"
        }
      },
      "id": "Thumbnail",
      "type": "object",
      "description": "A thumbnail is an image representing a YouTube resource."
    },
    "LiveStreamHealthStatus": {
      "id": "LiveStreamHealthStatus",
      "properties": {
        "configurationIssues": {
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          },
          "type": "array",
          "description": "The configurations issues on this stream"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ],
          "type": "string",
          "description": "The status code of this stream"
        },
        "lastUpdateTimeSeconds": {
          "format": "uint64",
          "description": "The last time this status was updated (in seconds)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CommentSnippet": {
      "description": "Basic details about a comment, such as its author and text.",
      "type": "object",
      "id": "CommentSnippet",
      "properties": {
        "updatedAt": {
          "description": "The date and time when the comment was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "authorDisplayName": {
          "type": "string",
          "description": "The name of the user who posted the comment."
        },
        "textOriginal": {
          "description": "The comment's original raw text as initially posted or last updated. The original text will only be returned if it is accessible to the viewer, which is only guaranteed if the viewer is the comment's author.",
          "type": "string"
        },
        "channelId": {
          "description": "The id of the corresponding YouTube channel. In case of a channel comment this is the channel the comment refers to. In case of a video or post comment it's the video/post's channel.",
          "type": "string"
        },
        "likeCount": {
          "format": "uint32",
          "description": "The total number of likes this comment has received.",
          "type": "integer"
        },
        "authorChannelUrl": {
          "description": "Link to the author's YouTube channel, if any.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID of the video the comment refers to, if any.",
          "type": "string"
        },
        "parentId": {
          "description": "The unique id of the top-level comment, only set for replies.",
          "type": "string"
        },
        "moderationStatus": {
          "type": "string",
          "description": "The comment's moderation status. Will not be set if the comments were requested through the id filter.",
          "enumDescriptions": [
            "The comment is available for public display.",
            "The comment is awaiting review by a moderator.",
            "",
            "The comment is unfit for display."
          ],
          "enum": [
            "published",
            "heldForReview",
            "likelySpam",
            "rejected"
          ]
        },
        "postId": {
          "description": "The ID of the post the comment refers to, if any.",
          "type": "string"
        },
        "viewerRating": {
          "description": "The rating the viewer has given to this comment. For the time being this will never return RATE_TYPE_DISLIKE and instead return RATE_TYPE_NONE. This may change in the future.",
          "type": "string",
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ]
        },
        "canRate": {
          "type": "boolean",
          "description": "Whether the current viewer can rate this comment."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time when the comment was originally published.",
          "type": "string"
        },
        "authorChannelId": {
          "$ref": "CommentSnippetAuthorChannelId"
        },
        "textDisplay": {
          "type": "string",
          "description": "The comment's text. The format is either plain text or HTML dependent on what has been requested. Even the plain text representation may differ from the text originally posted in that it may replace video links with video titles etc."
        },
        "authorProfileImageUrl": {
          "type": "string",
          "description": "The URL for the avatar of the user who posted the comment."
        }
      }
    },
    "CommentThreadListResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "A list of comment threads that match the request criteria.",
          "items": {
            "$ref": "CommentThread"
          }
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "default": "youtube#commentThreadListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "CommentThreadListResponse",
      "type": "object"
    },
    "LiveChatFanFundingEventDetails": {
      "type": "object",
      "properties": {
        "amountDisplayString": {
          "description": "A rendered string that displays the fund amount and currency to the user.",
          "type": "string"
        },
        "userComment": {
          "type": "string",
          "description": "The comment added by the user to this fan funding event."
        },
        "currency": {
          "type": "string",
          "description": "The currency in which the fund was made."
        },
        "amountMicros": {
          "type": "string",
          "description": "The amount of the fund.",
          "format": "uint64"
        }
      },
      "id": "LiveChatFanFundingEventDetails"
    },
    "LiveStreamStatus": {
      "type": "object",
      "description": "Brief description of the live stream status.",
      "properties": {
        "healthStatus": {
          "description": "The health status of the stream.",
          "$ref": "LiveStreamHealthStatus"
        },
        "streamStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        }
      },
      "id": "LiveStreamStatus"
    },
    "InvideoPosition": {
      "properties": {
        "type": {
          "description": "Defines the position type.",
          "type": "string",
          "enumDescriptions": [
            ""
          ],
          "enum": [
            "corner"
          ]
        },
        "cornerPosition": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enumDeprecated": [
            true,
            false,
            true,
            true
          ],
          "type": "string"
        }
      },
      "id": "InvideoPosition",
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one."
    },
    "ActivityContentDetailsBulletin": {
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with a bulletin post. @mutable youtube.activities.insert",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsBulletin",
      "type": "object",
      "description": "Details about a channel bulletin post."
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "properties": {
        "longUploadsStatus": {
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ]
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "privacyStatus": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string",
          "description": "Privacy status of the channel."
        },
        "madeForKids": {
          "type": "boolean"
        }
      },
      "description": "JSON template for the status part of a channel.",
      "type": "object"
    },
    "ChannelSettings": {
      "type": "object",
      "description": "Branding properties for the channel view.",
      "properties": {
        "showRelatedChannels": {
          "description": "Whether related channels should be proposed.",
          "deprecated": true,
          "type": "boolean"
        },
        "featuredChannelsTitle": {
          "description": "Title for the featured channels tab.",
          "deprecated": true,
          "type": "string"
        },
        "unsubscribedTrailer": {
          "type": "string",
          "description": "The trailer of the channel, for users that are not subscribers."
        },
        "description": {
          "type": "string",
          "description": "Specifies the channel description."
        },
        "profileColor": {
          "description": "A prominent color that can be rendered on this channel page.",
          "deprecated": true,
          "type": "string"
        },
        "defaultLanguage": {
          "type": "string"
        },
        "showBrowseView": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the tab to browse the videos should be displayed."
        },
        "title": {
          "type": "string",
          "description": "Specifies the channel title."
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "trackingAnalyticsAccountId": {
          "type": "string",
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels."
        },
        "moderateComments": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "defaultTab": {
          "description": "Which content tab users should see when viewing the channel.",
          "deprecated": true,
          "type": "string"
        },
        "keywords": {
          "description": "Lists keywords associated with the channel, comma-separated.",
          "type": "string"
        },
        "featuredChannelsUrls": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "description": "The list of featured channels."
        }
      },
      "id": "ChannelSettings"
    },
    "SubscriptionContentDetails": {
      "type": "object",
      "description": "Details about the content to witch a subscription refers.",
      "properties": {
        "totalItemCount": {
          "format": "uint32",
          "description": "The approximate number of items that the subscription points to.",
          "type": "integer"
        },
        "newItemCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The number of new items in the subscription since its content was last read."
        },
        "activityType": {
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ]
        }
      },
      "id": "SubscriptionContentDetails"
    },
    "Video": {
      "id": "Video",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "liveStreamingDetails": {
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast.",
          "$ref": "VideoLiveStreamingDetails"
        },
        "recordingDetails": {
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded.",
          "$ref": "VideoRecordingDetails"
        },
        "fileDetails": {
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner.",
          "$ref": "VideoFileDetails"
        },
        "monetizationDetails": {
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video.",
          "$ref": "VideoMonetizationDetails"
        },
        "status": {
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses.",
          "$ref": "VideoStatus"
        },
        "processingDetails": {
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner.",
          "$ref": "VideoProcessingDetails"
        },
        "suggestions": {
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "ageGating": {
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner.",
          "$ref": "VideoAgeGating"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "statistics": {
          "description": "The statistics object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "projectDetails": {
          "deprecated": true,
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "$ref": "VideoProjectDetails"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          },
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "topicDetails": {
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video.",
          "$ref": "VideoTopicDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "type": "string",
          "default": "youtube#video"
        },
        "localizations": {
          "type": "object",
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "additionalProperties": {
            "$ref": "VideoLocalization"
          }
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        }
      },
      "description": "A *video* resource represents a YouTube video.",
      "type": "object"
    },
    "VideoMonetizationDetails": {
      "id": "VideoMonetizationDetails",
      "properties": {
        "access": {
          "description": "The value of access indicates whether the video can be monetized or not.",
          "$ref": "AccessPolicy"
        }
      },
      "description": "Details about monetization of a YouTube Video.",
      "type": "object"
    },
    "ChannelSectionTargeting": {
      "description": "ChannelSection targeting setting.",
      "type": "object",
      "id": "ChannelSectionTargeting",
      "properties": {
        "languages": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "description": "The language the channel section is targeting."
        },
        "regions": {
          "deprecated": true,
          "type": "array",
          "description": "The region the channel section is targeting.",
          "items": {
            "type": "string"
          }
        },
        "countries": {
          "description": "The country the channel section is targeting.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ThirdPartyLinkStatus": {
      "id": "ThirdPartyLinkStatus",
      "properties": {
        "linkStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "failed",
            "pending",
            "linked"
          ],
          "type": "string"
        }
      },
      "description": "The third-party link status object contains information about the status of the link.",
      "type": "object"
    },
    "Activity": {
      "id": "Activity",
      "properties": {
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the activity.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID.",
          "$ref": "ActivitySnippet"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "kind": {
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\".",
          "type": "string"
        }
      },
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "type": "object"
    },
    "PlaylistImageListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#playlistImageListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\".",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlaylistImage"
          }
        }
      },
      "id": "PlaylistImageListResponse",
      "type": "object"
    },
    "AbuseReport": {
      "properties": {
        "abuseTypes": {
          "type": "array",
          "items": {
            "$ref": "AbuseType"
          }
        },
        "subject": {
          "$ref": "Entity"
        },
        "description": {
          "type": "string"
        },
        "relatedEntities": {
          "type": "array",
          "items": {
            "$ref": "RelatedEntity"
          }
        }
      },
      "id": "AbuseReport",
      "type": "object"
    },
    "SearchResultSnippet": {
      "id": "SearchResultSnippet",
      "properties": {
        "channelId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The creation date and time of the resource that the search result identifies."
        },
        "title": {
          "type": "string",
          "description": "The title of the search result."
        },
        "liveBroadcastContent": {
          "type": "string",
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts.",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ]
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        },
        "description": {
          "description": "A description of the search result.",
          "type": "string"
        },
        "channelTitle": {
          "description": "The title of the channel that published the resource that the search result identifies.",
          "type": "string"
        }
      },
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
      "type": "object"
    },
    "VideoPlayer": {
      "properties": {
        "embedHeight": {
          "type": "string",
          "format": "int64"
        },
        "embedHtml": {
          "type": "string",
          "description": "An <iframe> tag that embeds a player that will play the video."
        },
        "embedWidth": {
          "type": "string",
          "description": "The embed width",
          "format": "int64"
        }
      },
      "id": "VideoPlayer",
      "type": "object",
      "description": "Player to be used for a video playback."
    },
    "VideoAbuseReport": {
      "type": "object",
      "properties": {
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "reasonId": {
          "type": "string",
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID."
        },
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        }
      },
      "id": "VideoAbuseReport"
    },
    "VideoStatsContentDetails": {
      "description": "Details about the content of a YouTube Video. This is a subset of the information in VideoContentDetails specifically for the Videos.stats API.",
      "type": "object",
      "id": "VideoStatsContentDetails",
      "properties": {
        "duration": {
          "type": "string",
          "description": "Output only. The length of the video. The property value is a [`google.protobuf.Duration`](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) object.",
          "readOnly": true,
          "format": "google-duration"
        }
      }
    },
    "Caption": {
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "type": "object",
      "id": "Caption",
      "properties": {
        "id": {
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the caption track."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the caption.",
          "$ref": "CaptionSnippet"
        },
        "kind": {
          "default": "youtube#caption",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "LiveStreamSnippet": {
      "type": "object",
      "id": "LiveStreamSnippet",
      "properties": {
        "isDefaultStream": {
          "type": "boolean"
        },
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the stream was created.",
          "format": "date-time"
        },
        "title": {
          "description": "The stream's title. The value must be between 1 and 128 characters long.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        }
      }
    },
    "CommentThreadReplies": {
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "properties": {
        "comments": {
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        }
      },
      "id": "CommentThreadReplies"
    },
    "MonitorStreamInfo": {
      "description": "Settings and Info of the monitor stream",
      "type": "object",
      "id": "MonitorStreamInfo",
      "properties": {
        "broadcastStreamDelayMs": {
          "description": "If you have set the enableMonitorStream property to true, then this property determines the length of the live broadcast delay.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "integer",
          "format": "uint32"
        },
        "embedHtml": {
          "description": "HTML code that embeds a player that plays the monitor stream.",
          "type": "string"
        },
        "enableMonitorStream": {
          "description": "This value determines whether the monitor stream is enabled for the broadcast. If the monitor stream is enabled, then YouTube will broadcast the event content on a special stream intended only for the broadcaster's consumption. The broadcaster can use the stream to review the event content and also to identify the optimal times to insert cuepoints. You need to set this value to true if you intend to have a broadcast delay for your event. *Note:* This property cannot be updated once the broadcast is in the testing or live state.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.update"
            ]
          },
          "type": "boolean"
        }
      }
    },
    "VideoProjectDetails": {
      "id": "VideoProjectDetails",
      "properties": {},
[...]
