{
  "canonicalName": "YouTube",
  "kind": "discovery#restDescription",
  "baseUrl": "https://youtube.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        }
      }
    }
  },
  "servicePath": "",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "revision": "20260810",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "title": "YouTube Data API v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    }
  },
  "resources": {
    "playlistItems": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxResults": {
              "format": "uint32",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "minimum": "0",
              "type": "integer"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.list",
          "path": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "PlaylistItemListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlistItems",
          "id": "youtube.playlistItems.update",
          "response": {
            "$ref": "PlaylistItem"
          },
          "request": {
            "$ref": "PlaylistItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlistItems",
          "description": "Updates an existing resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "type": "string",
              "required": true
            }
          }
        },
        "delete": {
          "path": "youtube/v3/playlistItems",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistItems.delete",
          "flatPath": "youtube/v3/playlistItems",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Deletes a resource."
        },
        "insert": {
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlistItems",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "path": "youtube/v3/playlistItems",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "subscriptions": {
      "methods": {
        "delete": {
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "youtube/v3/subscriptions",
          "id": "youtube.subscriptions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/subscriptions"
        },
        "insert": {
          "request": {
            "$ref": "Subscription"
          },
          "response": {
            "$ref": "Subscription"
          },
          "id": "youtube.subscriptions.insert",
          "path": "youtube/v3/subscriptions",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Flag for returning the subscriptions of the authenticated user."
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "forChannelId": {
              "location": "query",
              "type": "string",
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to."
            },
            "channelId": {
              "description": "Return the subscriptions of the given channel owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "maximum": "50",
              "location": "query",
              "format": "uint32",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "type": "integer"
            },
            "order": {
              "type": "string",
              "default": "relevance",
              "description": "The order of the returned subscriptions",
              "location": "query",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ]
            },
            "mySubscribers": {
              "description": "Return the subscribers of the given channel owner.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "id": "youtube.subscriptions.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/subscriptions"
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "flatPath": "youtube/v3/tests",
          "description": "POST method.",
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/tests",
          "id": "youtube.tests.insert",
          "response": {
            "$ref": "TestItem"
          },
          "request": {
            "$ref": "TestItem"
          }
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "insert": {
          "id": "youtube.liveChatModerators.insert",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModerator"
          },
          "request": {
            "$ref": "LiveChatModerator"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveChat/moderators"
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatModerators.delete",
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "maximum": "50",
              "location": "query",
              "format": "uint32",
              "minimum": "0",
              "type": "integer",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set."
            },
            "liveChatId": {
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The id of the live chat for which moderators should be returned."
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.list",
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "GET",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          }
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/thumbnails/set",
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "52428800",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              }
            }
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "path": "youtube/v3/thumbnails/set",
          "httpMethod": "POST",
          "parameterOrder": [
            "videoId"
          ],
          "id": "youtube.thumbnails.set",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "ThumbnailSetResponse"
          }
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "delete": {
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveBroadcasts.delete",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Broadcast to delete."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Delete a given broadcast."
        },
        "insertCuepoint": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "response": {
            "$ref": "Cuepoint"
          },
          "request": {
            "$ref": "Cuepoint"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "description": "Insert cuepoints in a broadcast",
          "parameters": {
            "part": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "update": {
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.liveBroadcasts.update",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Updates an existing broadcast for the authenticated user."
        },
        "bind": {
          "response": {
            "$ref": "LiveBroadcast"
          },
          "id": "youtube.liveBroadcasts.bind",
          "path": "youtube/v3/liveBroadcasts/bind",
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "part"
          ],
          "parameters": {
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "streamId": {
              "description": "Stream to bind, if not set unbind the current one.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "description": "Broadcast to bind to the stream"
            }
          },
          "description": "Bind a broadcast to a stream.",
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.liveBroadcasts.insert",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Inserts a new stream for the authenticated user."
        },
        "transition": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "broadcastStatus": {
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ],
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "location": "query",
              "description": "The status to which the broadcast is going to transition.",
              "required": true,
              "type": "string"
            },
            "id": {
              "description": "Broadcast to transition.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Transition a broadcast to a given status.",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "id": "youtube.liveBroadcasts.transition",
          "path": "youtube/v3/liveBroadcasts/transition",
          "httpMethod": "POST",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "repeated": true
            },
            "maxResults": {
              "maximum": "50",
              "location": "query",
              "format": "uint32",
              "default": "5",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "type": "integer"
            },
            "broadcastStatus": {
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "location": "query",
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "broadcastType": {
              "default": "event",
              "description": "Return only broadcasts with the selected type.",
              "type": "string",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ]
            }
          },
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.list",
          "path": "youtube/v3/liveBroadcasts",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveBroadcastListResponse"
          }
        }
      }
    },
    "comments": {
      "methods": {
        "update": {
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.update",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/comments",
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "setModerationStatus": {
          "parameters": {
            "banAuthor": {
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query",
              "type": "boolean"
            },
            "moderationStatus": {
              "type": "string",
              "required": true,
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "location": "query",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ]
            },
            "id": {
              "location": "query",
              "repeated": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "type": "string",
              "required": true
            }
          },
          "description": "Sets the moderation status of one or more comments.",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.setModerationStatus",
          "path": "youtube/v3/comments/setModerationStatus",
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ]
        },
        "markAsSpam": {
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "repeated": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/comments/markAsSpam",
          "id": "youtube.comments.markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/comments/markAsSpam"
        },
        "delete": {
          "flatPath": "youtube/v3/comments",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a resource.",
          "path": "youtube/v3/comments",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.delete"
        },
        "list": {
          "flatPath": "youtube/v3/comments",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "parentId": {
              "location": "query",
              "type": "string",
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "repeated": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true
            },
            "maxResults": {
              "format": "uint32",
              "maximum": "100",
              "location": "query",
              "minimum": "1",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "20"
            },
            "textFormat": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "type": "string",
              "default": "html",
              "description": "The requested text format for the returned comments."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/comments",
          "id": "youtube.comments.list"
        },
        "insert": {
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "path": "youtube/v3/comments",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ThirdPartyLinkListResponse"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "linkingToken": {
              "description": "Get a third party link with the given linking token.",
              "location": "query",
              "type": "string"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
                "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
              ],
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink",
                "channelToAffiliateProgramLink"
              ],
              "type": "string",
              "description": "Get a third party link of the given type."
            },
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.list"
        },
        "update": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "type": "string",
              "description": "Channel ID to which changes should be applied, for delegation."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.update",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "response": {
            "$ref": "ThirdPartyLink"
          }
        },
        "insert": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "type": "string",
              "description": "Channel ID to which changes should be applied, for delegation."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.insert",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "response": {
            "$ref": "ThirdPartyLink"
          }
        },
        "delete": {
          "parameters": {
            "linkingToken": {
              "description": "Delete the partner links with the given linking token.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
                "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
              ],
              "enum": [
                "linkUnspecified",
                "channelToStoreLink",
                "channelToAffiliateProgramLink"
              ],
              "type": "string",
              "required": true,
              "description": "Type of the link to be deleted."
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "Do not use. Required for compatibility.",
              "repeated": true
            }
          },
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.delete",
          "path": "youtube/v3/thirdPartyLinks",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "linkingToken",
            "type"
          ]
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "default": "en-US",
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "type": "string",
              "required": true,
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "id": "youtube.videoAbuseReportReasons.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videoAbuseReportReasons",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          }
        }
      }
    },
    "videoTrainability": {
      "methods": {
        "get": {
          "id": "youtube.videoTrainability.get",
          "path": "youtube/v3/videoTrainability",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "VideoTrainability"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "The ID of the video to retrieve."
            }
          },
          "description": "Returns the trainability status of a video.",
          "flatPath": "youtube/v3/videoTrainability"
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "id": "youtube.members.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/members",
          "response": {
            "$ref": "MemberListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "parameters": {
            "maxResults": {
              "minimum": "0",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5",
              "format": "uint32",
              "maximum": "1000",
              "location": "query"
            },
            "mode": {
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "location": "query",
              "description": "Parameter that specifies which channel members to return.",
              "default": "all_current",
              "type": "string"
            },
            "filterByMemberChannelId": {
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "repeated": true
            },
            "hasAccessToLevel": {
              "location": "query",
              "type": "string",
              "description": "Filter members in the results set to the ones that have access to a level."
            }
          },
          "flatPath": "youtube/v3/members"
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "id": "youtube.i18nLanguages.list",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/i18nLanguages",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en_US"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/i18nLanguages"
        }
      }
    },
    "videos": {
      "methods": {
        "reportAbuse": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "description": "Report abuse for a video.",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "id": "youtube.videos.reportAbuse",
          "path": "youtube/v3/videos/reportAbuse",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "VideoAbuseReport"
          }
        },
        "list": {
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "locale": {
              "location": "query",
              "type": "string",
              "deprecated": true
            },
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Use a chart that is specific to the specified region"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "default": "0",
              "location": "query",
              "type": "string"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ]
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "description": "Return videos with the given ids.",
              "location": "query",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "maxHeight": {
              "minimum": "72",
              "type": "integer",
              "maximum": "8192",
              "location": "query",
              "format": "int32"
            },
            "chart": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "type": "string",
              "description": "Return the videos that are in the specified chart."
            },
            "maxWidth": {
              "minimum": "72",
              "type": "integer",
              "description": "Return the player with maximum height specified in",
              "format": "int32",
              "maximum": "8192",
              "location": "query"
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "default": "5",
              "format": "uint32",
              "maximum": "50",
              "location": "query"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoListResponse"
          },
          "path": "youtube/v3/videos",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.videos.list"
        },
        "insert": {
          "path": "youtube/v3/videos",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.videos.insert",
          "request": {
            "$ref": "Video"
          },
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Video"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos",
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "274877906944",
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/videos",
                "multipart": true
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              }
            }
          },
          "parameters": {
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "default": "true",
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "location": "query",
              "type": "boolean"
            },
            "stabilize": {
              "location": "query",
              "type": "boolean",
              "description": "Should stabilize be applied to the upload."
            }
          },
          "description": "Inserts a new resource into this collection."
        },
        "rate": {
          "id": "youtube.videos.rate",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "path": "youtube/v3/videos/rate",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "rating": {
              "required": true,
              "type": "string",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/videos/rate"
        },
        "batchGetStats": {
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "youtube/v3/videos:batchGetStats",
          "id": "youtube.videos.batchGetStats",
          "flatPath": "youtube/v3/videos:batchGetStats",
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "parameters": {
            "part": {
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos",
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/videos",
          "id": "youtube.videos.update",
          "response": {
            "$ref": "Video"
          },
          "request": {
            "$ref": "Video"
          }
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.delete",
          "path": "youtube/v3/videos",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ]
        },
        "getRating": {
          "flatPath": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/videos/getRating",
          "id": "youtube.videos.getRating"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "AbuseReport"
          },
          "request": {
            "$ref": "AbuseReport"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/abuseReports",
          "id": "youtube.abuseReports.insert",
          "flatPath": "youtube/v3/abuseReports",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "description": "Retrieves a list of search resources",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
[...]
