{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260729",
  "basePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "version": "v3",
  "name": "youtube",
  "baseUrl": "https://youtube.googleapis.com/",
  "canonicalName": "YouTube",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "documentationLink": "https://developers.google.com/youtube/",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "id": "youtube:v3",
  "title": "YouTube Data API v3",
  "resources": {
    "channelBanners": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/channelBanners/insert",
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "id": "youtube.channelBanners.insert",
          "path": "youtube/v3/channelBanners/insert",
          "mediaUpload": {
            "maxSize": "6291456",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "supportsMediaUpload": true,
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "parameters": {
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ChannelBannerResource"
          }
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "id": "youtube.videoCategories.list",
          "path": "youtube/v3/videoCategories",
          "flatPath": "youtube/v3/videoCategories",
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "id": {
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "part": {
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en-US"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "videoId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.thumbnails.set",
          "path": "youtube/v3/thumbnails/set",
          "mediaUpload": {
            "maxSize": "52428800",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/thumbnails/set"
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "flatPath": "youtube/v3/thumbnails/set",
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "supportsMediaUpload": true
        }
      }
    },
    "videos": {
      "methods": {
        "batchGetStats": {
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "part": {
              "repeated": true,
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/videos:batchGetStats",
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "id": "youtube.videos.batchGetStats",
          "path": "youtube/v3/videos:batchGetStats"
        },
        "reportAbuse": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Report abuse for a video.",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "id": "youtube.videos.reportAbuse",
          "path": "youtube/v3/videos/reportAbuse"
        },
        "rate": {
          "id": "youtube.videos.rate",
          "path": "youtube/v3/videos/rate",
          "flatPath": "youtube/v3/videos/rate",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "rating": {
              "type": "string",
              "required": true,
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query",
              "enum": [
                "none",
                "like",
                "dislike"
              ]
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "maxHeight": {
              "format": "int32",
              "location": "query",
              "minimum": "72",
              "maximum": "8192",
              "type": "integer"
            },
            "myRating": {
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "location": "query",
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "type": "string"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return videos with the given ids.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "maxWidth": {
              "format": "int32",
              "minimum": "72",
              "location": "query",
              "description": "Return the player with maximum height specified in",
              "maximum": "8192",
              "type": "integer"
            },
            "videoCategoryId": {
              "default": "0",
              "description": "Use chart that is specific to the specified video category",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "maximum": "50",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "default": "5",
              "minimum": "1"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "chart": {
              "location": "query",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "description": "Return the videos that are in the specified chart.",
              "type": "string"
            },
            "regionCode": {
              "description": "Use a chart that is specific to the specified region",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "deprecated": true
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/videos",
          "response": {
            "$ref": "VideoListResponse"
          },
          "id": "youtube.videos.list",
          "path": "youtube/v3/videos"
        },
        "delete": {
          "id": "youtube.videos.delete",
          "path": "youtube/v3/videos",
          "flatPath": "youtube/v3/videos",
          "description": "Deletes a resource.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "getRating": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "id": "youtube.videos.getRating",
          "path": "youtube/v3/videos/getRating",
          "flatPath": "youtube/v3/videos/getRating",
          "response": {
            "$ref": "VideoGetRatingResponse"
          }
        },
        "update": {
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Video"
          },
          "parameters": {
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.videos.update",
          "path": "youtube/v3/videos",
          "flatPath": "youtube/v3/videos",
          "response": {
            "$ref": "Video"
          }
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Video"
          },
          "parameters": {
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "location": "query",
              "type": "boolean",
              "default": "true"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string"
            },
            "stabilize": {
              "description": "Should stabilize be applied to the upload.",
              "location": "query",
              "type": "boolean"
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "supportsMediaUpload": true,
          "flatPath": "youtube/v3/videos",
          "response": {
            "$ref": "Video"
          },
          "id": "youtube.videos.insert",
          "path": "youtube/v3/videos",
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "274877906944",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              }
            }
          }
        }
      }
    },
    "liveChatModerators": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModerator"
          },
          "id": "youtube.liveChatModerators.insert",
          "path": "youtube/v3/liveChat/moderators",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveChatModerator"
          },
          "description": "Inserts a new resource into this collection."
        },
        "list": {
          "id": "youtube.liveChatModerators.list",
          "path": "youtube/v3/liveChat/moderators",
          "flatPath": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "liveChatId": {
              "required": true,
              "description": "The id of the live chat for which moderators should be returned.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "minimum": "0",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            }
          },
          "description": "Deletes a chat moderator.",
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.delete",
          "path": "youtube/v3/liveChat/moderators"
        }
      }
    },
    "playlistItems": {
      "methods": {
        "update": {
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.update",
          "path": "youtube/v3/playlistItems",
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a playlist item can specify a start time and end time, which identify the times portion of the video that should play when users watch the video in the playlist. If your request is updating a playlist item that sets these values, and the request's part parameter value includes the contentDetails part, the playlist item's start and end times will be updated to whatever value the request body specifies. If the request body does not specify values, the existing start and end times will be removed and replaced with the default settings.",
              "type": "string"
            }
          }
        },
        "list": {
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItemListResponse"
          },
          "id": "youtube.playlistItems.list",
          "path": "youtube/v3/playlistItems",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "playlistId": {
              "description": "Return the playlist items within the given playlist.",
              "location": "query",
              "type": "string"
            },
            "videoId": {
              "description": "Return the playlist items associated with the given video ID.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistItem resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlistItem resource, the snippet property contains numerous fields, including the title, description, position, and resourceId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "maxResults": {
              "default": "5",
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "delete": {
          "id": "youtube.playlistItems.delete",
          "path": "youtube/v3/playlistItems",
          "flatPath": "youtube/v3/playlistItems",
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "PlaylistItem"
          },
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlistItems",
          "response": {
            "$ref": "PlaylistItem"
          },
          "id": "youtube.playlistItems.insert",
          "path": "youtube/v3/playlistItems"
        }
      }
    },
    "superChatEvents": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/superChatEvents",
          "response": {
            "$ref": "SuperChatEventListResponse"
          },
          "id": "youtube.superChatEvents.list",
          "path": "youtube/v3/superChatEvents",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "hl": {
              "description": "Return rendered funding amounts in specified language.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the superChatEvent resource parts that the API response will include. This parameter is currently not supported.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer",
              "default": "5",
              "minimum": "1",
              "location": "query",
              "format": "uint32"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "id": "youtube.i18nLanguages.list",
          "path": "youtube/v3/i18nLanguages",
          "flatPath": "youtube/v3/i18nLanguages",
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "default": "en_US"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        }
      }
    },
    "youtube": {
      "resources": {
        "v3": {
          "resources": {
            "liveChat": {
              "resources": {
                "messages": {
                  "methods": {
                    "stream": {
                      "parameters": {
                        "maxResults": {
                          "default": "500",
                          "minimum": "200",
                          "location": "query",
                          "format": "uint32",
                          "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
                          "maximum": "2000",
                          "type": "integer"
                        },
                        "part": {
                          "repeated": true,
                          "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
                          "location": "query",
                          "type": "string"
                        },
                        "liveChatId": {
                          "description": "The id of the live chat for which comments should be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "profileImageSize": {
                          "description": "Specifies the size of the profile image that should be returned for each user.",
                          "maximum": "720",
                          "type": "integer",
                          "format": "uint32",
                          "minimum": "16",
                          "location": "query"
                        },
                        "hl": {
                          "description": "Specifies the localization language in which the system messages should be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [],
                      "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                      ],
                      "description": "Allows a user to load live chat through a server-streamed RPC.",
                      "id": "youtube.youtube.v3.liveChat.messages.stream",
                      "path": "youtube/v3/liveChat/messages/stream",
                      "flatPath": "youtube/v3/liveChat/messages/stream",
                      "response": {
                        "$ref": "LiveChatMessageListResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "videoTrainability": {
      "methods": {
        "get": {
          "id": "youtube.videoTrainability.get",
          "path": "youtube/v3/videoTrainability",
          "flatPath": "youtube/v3/videoTrainability",
          "response": {
            "$ref": "VideoTrainability"
          },
          "parameters": {
            "id": {
              "description": "The ID of the video to retrieve.",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Returns the trainability status of a video."
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "parameters": {
            "type": {
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "location": "query",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "eventType": {
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "location": "query",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "description": "Filter on the livestream status of the videos.",
              "type": "string"
            },
            "videoDimension": {
              "description": "Filter on 3d videos.",
              "type": "string",
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ]
            },
            "videoEmbeddable": {
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "location": "query",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on embeddable videos.",
              "type": "string"
            },
            "location": {
              "description": "Filter on location of the video",
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "description": "Display the content as seen by viewers in this country.",
              "location": "query",
              "type": "string"
            },
            "locationRadius": {
              "description": "Filter on distance from the location (specified above).",
              "location": "query",
              "type": "string"
            },
            "order": {
              "description": "Sort order of the results.",
              "type": "string",
              "default": "relevance",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "location": "query",
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ]
            },
            "q": {
              "description": "Textual search terms to match.",
              "location": "query",
              "type": "string"
            },
            "videoLicense": {
              "location": "query",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "description": "Filter on the license of the videos.",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "relevanceLanguage": {
              "description": "Return results relevant to this language.",
              "location": "query",
              "type": "string"
            },
            "publishedAfter": {
              "format": "google-datetime",
              "description": "Filter on resources published after this date.",
              "location": "query",
              "type": "string"
            },
            "topicId": {
              "description": "Restrict results to a particular topic.",
              "location": "query",
              "type": "string"
            },
            "videoDefinition": {
              "location": "query",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "description": "Filter on the definition of the videos.",
              "type": "string"
            },
            "forMine": {
              "description": "Search for the private videos of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "publishedBefore": {
              "format": "google-datetime",
              "description": "Filter on resources published before this date.",
              "location": "query",
              "type": "string"
            },
            "videoDuration": {
              "description": "Filter on the duration of the videos.",
              "type": "string",
              "location": "query",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ]
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer",
              "format": "uint32",
              "default": "5",
              "minimum": "0",
              "location": "query"
            },
            "videoSyndicated": {
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "location": "query",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "description": "Filter on syndicated videos.",
              "type": "string"
            },
            "forDeveloper": {
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "forContentOwner": {
              "description": "Search owned by a content owner.",
              "location": "query",
              "type": "boolean"
            },
            "safeSearch": {
              "location": "query",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "default": "moderate",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "type": "string"
            },
            "videoType": {
              "description": "Filter on videos of a specific type.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "location": "query",
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ]
            },
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            },
            "channelId": {
              "description": "Filter on resources belonging to this channelId. (Force TAP rebuild)",
              "location": "query",
              "type": "string"
            },
            "videoCaption": {
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "location": "query",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "description": "Filter on the presence of captions on the videos.",
              "type": "string"
            },
            "videoCategoryId": {
              "description": "Filter on videos in a specific category.",
              "location": "query",
              "type": "string"
            },
            "videoPaidProductPlacement": {
              "location": "query",
              "type": "string",
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ]
            },
            "channelType": {
              "description": "Add a filter on the channel search.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "location": "query",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ]
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of search resources",
          "id": "youtube.search.list",
          "path": "youtube/v3/search",
          "flatPath": "youtube/v3/search",
          "response": {
            "$ref": "SearchListResponse"
          }
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "flatPath": "youtube/v3/abuseReports",
          "response": {
            "$ref": "AbuseReport"
          },
          "id": "youtube.abuseReports.insert",
          "path": "youtube/v3/abuseReports",
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "AbuseReport"
          },
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true
            }
          }
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/members",
          "response": {
            "$ref": "MemberListResponse"
          },
          "id": "youtube.members.list",
          "path": "youtube/v3/members",
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "mode": {
              "location": "query",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "default": "all_current",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "description": "Parameter that specifies which channel members to return.",
              "type": "string"
            },
            "filterByMemberChannelId": {
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            },
            "hasAccessToLevel": {
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "default": "5",
              "minimum": "0",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "1000",
              "type": "integer"
            }
          }
        }
      }
    },
    "comments": {
      "methods": {
        "markAsSpam": {
          "httpMethod": "POST",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "id": "youtube.comments.markAsSpam",
          "path": "youtube/v3/comments/markAsSpam"
        },
        "update": {
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.update",
          "path": "youtube/v3/comments",
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          }
        },
        "insert": {
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "id": "youtube.comments.insert",
          "path": "youtube/v3/comments"
        },
        "setModerationStatus": {
          "parameters": {
            "banAuthor": {
              "default": "false",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "type": "string"
            },
            "moderationStatus": {
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "type": "string",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "location": "query",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "required": true
            }
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.setModerationStatus",
          "path": "youtube/v3/comments/setModerationStatus",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "description": "Sets the moderation status of one or more comments."
        },
        "list": {
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "CommentListResponse"
          },
          "id": "youtube.comments.list",
          "path": "youtube/v3/comments",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            },
            "textFormat": {
              "description": "The requested text format for the returned comments.",
              "type": "string",
              "default": "html",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "location": "query",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ]
            },
            "id": {
              "repeated": true,
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "100",
              "type": "integer",
              "default": "20",
              "minimum": "1",
              "location": "query",
              "format": "uint32"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "delete": {
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.comments.delete",
          "path": "youtube/v3/comments",
          "flatPath": "youtube/v3/comments",
          "description": "Deletes a resource."
        }
      }
    },
    "playlists": {
      "methods": {
        "update": {
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "id": "youtube.playlists.update",
          "path": "youtube/v3/playlists",
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "Playlist"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          }
        },
        "insert": {
          "id": "youtube.playlists.insert",
          "path": "youtube/v3/playlists",
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Playlist"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "hl": {
              "description": "Return content in specified language",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "channelId": {
              "description": "Return the playlists owned by the specified channel ID.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "minimum": "0",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "type": "integer"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "mine": {
              "description": "Return the playlists owned by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "id": {
              "repeated": true,
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "id": "youtube.playlists.list",
          "path": "youtube/v3/playlists"
        },
        "delete": {
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.delete",
          "path": "youtube/v3/playlists",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "required": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "insert": {
          "id": "youtube.thirdPartyLinks.insert",
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "linkingToken": {
              "description": "Get a third party link with the given linking token.",
              "location": "query",
              "type": "string"
            },
            "type": {
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink",
                "channelToAffiliateProgramLink"
              ],
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
                "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
              ],
              "description": "Get a third party link of the given type.",
              "type": "string"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLinkListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.thirdPartyLinks.list",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "parameters": {
            "linkingToken": {
              "description": "Delete the partner links with the given linking token.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
                "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
              ],
              "location": "query",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink",
                "channelToAffiliateProgramLink"
              ],
              "required": true,
              "description": "Type of the link to be deleted.",
              "type": "string"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "Do not use. Required for compatibility.",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Deletes a resource.",
          "id": "youtube.thirdPartyLinks.delete",
          "path": "youtube/v3/thirdPartyLinks"
        },
        "update": {
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "parameters": {
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "httpMethod": "PUT",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.thirdPartyLinks.update",
          "path": "youtube/v3/thirdPartyLinks",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          }
        }
      }
    },
    "captions": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/captions",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "id": "youtube.captions.list",
          "path": "youtube/v3/captions",
          "httpMethod": "GET",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "scopes": [
[...]
