{
  "discoveryVersion": "v1",
  "canonicalName": "YouTube",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "basePath": "",
  "parameters": {
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "title": "YouTube Data API v3",
  "documentationLink": "https://developers.google.com/youtube/",
  "kind": "discovery#restDescription",
  "resources": {
    "liveChatMessages": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveChatMessage"
          },
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "id": "youtube.liveChatMessages.insert",
          "flatPath": "youtube/v3/liveChat/messages"
        },
        "list": {
          "path": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "profileImageSize": {
              "type": "integer",
              "maximum": "720",
              "description": "Specifies the size of the profile image that should be returned for each user.",
              "minimum": "16",
              "format": "uint32",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "location": "query"
            },
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
              "minimum": "200",
              "format": "uint32",
              "type": "integer",
              "default": "500",
              "maximum": "2000"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails."
            },
            "hl": {
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.list",
          "httpMethod": "GET",
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "parameterOrder": [
            "liveChatId",
            "part"
          ]
        },
        "transition": {
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveChatMessage"
          },
          "parameterOrder": [],
          "path": "youtube/v3/liveChat/messages/transition",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Transition a durable chat event.",
          "parameters": {
            "id": {
              "description": "The ID that uniquely identify the chat message event to transition.",
              "location": "query",
              "type": "string"
            },
            "status": {
              "enum": [
                "statusUnspecified",
                "closed"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default unknown enum value.",
                "The durable chat event is over."
              ],
              "type": "string",
              "description": "The status to which the chat event is going to transition."
            }
          },
          "flatPath": "youtube/v3/liveChat/messages/transition",
          "id": "youtube.liveChatMessages.transition"
        },
        "delete": {
          "flatPath": "youtube/v3/liveChat/messages",
          "id": "youtube.liveChatMessages.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/messages",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a chat message.",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            }
          }
        }
      }
    },
    "comments": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "CommentListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Returns the comments with the given IDs for One Platform.",
              "location": "query",
              "repeated": true
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "textFormat": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments.",
              "default": "html",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "default": "20",
              "maximum": "100",
              "type": "integer"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "type": "string"
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.update",
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "request": {
            "$ref": "Comment"
          }
        },
        "setModerationStatus": {
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "id": "youtube.comments.setModerationStatus",
          "httpMethod": "POST",
          "path": "youtube/v3/comments/setModerationStatus",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Sets the moderation status of one or more comments.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Modifies the moderation status of the comments with the given IDs",
              "required": true,
              "location": "query",
              "repeated": true
            },
            "banAuthor": {
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "location": "query",
              "default": "false",
              "type": "boolean"
            },
            "moderationStatus": {
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "required": true,
              "location": "query",
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'."
            }
          }
        },
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "Comment"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "required": true,
              "location": "query",
              "repeated": true
            }
          },
          "request": {
            "$ref": "Comment"
          },
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.insert"
        },
        "delete": {
          "flatPath": "youtube/v3/comments",
          "id": "youtube.comments.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/comments",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes a resource.",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        },
        "markAsSpam": {
          "id": "youtube.comments.markAsSpam",
          "flatPath": "youtube/v3/comments/markAsSpam",
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "httpMethod": "POST",
          "path": "youtube/v3/comments/markAsSpam",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam."
        }
      }
    },
    "videoAbuseReportReasons": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/videoAbuseReportReasons",
          "id": "youtube.videoAbuseReportReasons.list",
          "path": "youtube/v3/videoAbuseReportReasons",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter specifies the videoCategory resource parts that the API response will include. Supported values are id and snippet.",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoAbuseReportReasonListResponse"
          },
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "captions": {
      "methods": {
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Caption"
          },
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.insert",
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "mediaUpload": {
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              }
            },
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ]
          },
          "parameters": {
            "sync": {
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "request": {
            "$ref": "Caption"
          }
        },
        "list": {
          "id": "youtube.captions.list",
          "flatPath": "youtube/v3/captions",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "videoId": {
              "description": "Returns the captions for the specified video.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "CaptionListResponse"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "response": {
            "$ref": "Caption"
          },
          "parameterOrder": [
            "part"
          ],
          "supportsMediaUpload": true,
          "path": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "parameters": {
            "sync": {
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "required": true,
              "location": "query",
              "repeated": true
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "Caption"
          },
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "path": "/upload/youtube/v3/captions",
                "multipart": true
              }
            }
          },
          "flatPath": "youtube/v3/captions",
          "id": "youtube.captions.update"
        },
        "delete": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query",
              "type": "string"
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/captions",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "id": "youtube.captions.delete",
          "flatPath": "youtube/v3/captions"
        },
        "download": {
          "useMediaDownloadService": true,
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "id": "youtube.captions.download",
          "flatPath": "youtube/v3/captions/{id}",
          "supportsMediaDownload": true,
          "parameters": {
            "tfmt": {
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "The ID of the caption track to download, required for One Platform.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "tlang": {
              "type": "string",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "location": "query"
            }
          },
          "path": "youtube/v3/captions/{id}",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Downloads a caption track."
        }
      }
    },
    "videos": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoListResponse"
          },
          "id": "youtube.videos.list",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "maxWidth": {
              "location": "query",
              "description": "Return the player with maximum height specified in",
              "minimum": "72",
              "format": "int32",
              "type": "integer",
              "maximum": "8192"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query"
            },
            "videoCategoryId": {
              "description": "Use chart that is specific to the specified video category",
              "location": "query",
              "type": "string",
              "default": "0"
            },
            "maxHeight": {
              "format": "int32",
              "minimum": "72",
              "maximum": "8192",
              "type": "integer",
              "location": "query"
            },
            "id": {
              "description": "Return videos with the given ids.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "hl": {
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query"
            },
            "regionCode": {
              "description": "Use a chart that is specific to the specified region",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "default": "5",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "minimum": "1",
              "format": "uint32",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "locale": {
              "location": "query",
              "type": "string",
              "deprecated": true
            },
            "myRating": {
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "type": "string",
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE."
            },
            "chart": {
              "type": "string",
              "description": "Return the videos that are in the specified chart.",
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ]
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            }
          },
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "Video"
          },
          "id": "youtube.videos.update",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource."
        },
        "insert": {
          "parameterOrder": [
            "part"
          ],
          "supportsMediaUpload": true,
          "httpMethod": "POST",
          "response": {
            "$ref": "Video"
          },
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "maxSize": "274877906944",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/videos",
                "multipart": true
              }
            }
          },
          "parameters": {
            "notifySubscribers": {
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled.",
              "location": "query",
              "default": "true",
              "type": "boolean"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "required": true,
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "autoLevels": {
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "stabilize": {
              "description": "Should stabilize be applied to the upload.",
              "location": "query",
              "type": "boolean"
            }
          },
          "request": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.insert"
        },
        "delete": {
          "id": "youtube.videos.delete",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/videos",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource."
        },
        "getRating": {
          "httpMethod": "GET",
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.videos.getRating",
          "flatPath": "youtube/v3/videos/getRating",
          "parameters": {
            "id": {
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "youtube/v3/videos/getRating",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos."
        },
        "rate": {
          "id": "youtube.videos.rate",
          "flatPath": "youtube/v3/videos/rate",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "rating": {
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "required": true,
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "type": "string"
            }
          },
          "path": "youtube/v3/videos/rate",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "httpMethod": "POST"
        },
        "batchGetStats": {
          "path": "youtube/v3/videos:batchGetStats",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "part": {
              "type": "string",
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "location": "query",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/videos:batchGetStats",
          "id": "youtube.videos.batchGetStats",
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "BatchGetStatsResponse"
          }
        },
        "reportAbuse": {
          "id": "youtube.videos.reportAbuse",
          "flatPath": "youtube/v3/videos/reportAbuse",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "path": "youtube/v3/videos/reportAbuse",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Report abuse for a video.",
          "parameterOrder": [],
          "httpMethod": "POST"
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "MemberListResponse"
          },
          "id": "youtube.members.list",
          "flatPath": "youtube/v3/members",
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "default": "5",
              "maximum": "1000",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "hasAccessToLevel": {
              "type": "string",
              "description": "Filter members in the results set to the ones that have access to a level.",
              "location": "query"
            },
            "filterByMemberChannelId": {
              "type": "string",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response.",
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet."
            },
            "mode": {
              "type": "string",
              "default": "all_current",
              "description": "Parameter that specifies which channel members to return.",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ]
            }
          },
          "path": "youtube/v3/members",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "description": "Retrieves a list of members that match the request criteria for a channel."
        }
      }
    },
    "subscriptions": {
      "methods": {
        "insert": {
          "id": "youtube.subscriptions.insert",
          "flatPath": "youtube/v3/subscriptions",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "Subscription"
          },
          "path": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Inserts a new resource into this collection.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Subscription"
          },
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "SubscriptionListResponse"
          },
          "id": "youtube.subscriptions.list",
          "flatPath": "youtube/v3/subscriptions",
          "parameters": {
            "id": {
              "type": "string",
              "description": "Return the subscriptions with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true
            },
            "channelId": {
              "description": "Return the subscriptions of the given channel owner.",
              "location": "query",
              "type": "string"
            },
            "myRecentSubscribers": {
              "location": "query",
              "type": "boolean"
            },
            "order": {
              "enum": [
                "subscriptionOrderUnspecified",
                "relevance",
                "unread",
                "alphabetical"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Sort by relevance.",
                "Sort by order of activity.",
                "Sort alphabetically."
              ],
              "type": "string",
              "default": "relevance",
              "description": "The order of the returned subscriptions"
            },
            "forChannelId": {
              "type": "string",
              "description": "Return the subscriptions to the subset of these channels that the authenticated user is subscribed to.",
              "location": "query"
            },
            "mySubscribers": {
              "description": "Return the subscribers of the given channel owner.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "5",
              "maximum": "50",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more subscription resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a subscription resource, the snippet property contains other properties, such as a display title for the subscription. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "mine": {
              "description": "Flag for returning the subscriptions of the authenticated user.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "youtube/v3/subscriptions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "delete": {
          "id": "youtube.subscriptions.delete",
          "flatPath": "youtube/v3/subscriptions",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "DELETE",
          "path": "youtube/v3/subscriptions",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource."
        }
      }
    },
    "liveStreams": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status."
            },
            "maxResults": {
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "5",
              "maximum": "50"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieve the list of streams associated with the given channel. --",
          "id": "youtube.liveStreams.list",
          "flatPath": "youtube/v3/liveStreams"
        },
        "update": {
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.update",
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Updates an existing stream for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "request": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "LiveStream"
          }
        },
        "insert": {
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "id": "youtube.liveStreams.insert",
          "flatPath": "youtube/v3/liveStreams",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveStream"
          }
        },
        "delete": {
          "path": "youtube/v3/liveStreams",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Deletes an existing stream for the authenticated user.",
          "httpMethod": "DELETE",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.delete"
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "path": "youtube/v3/activities",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "channelId": {
              "location": "query",
              "type": "string"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query",
              "type": "string"
            },
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "default": "5",
              "maximum": "50",
              "location": "query"
            },
            "home": {
              "deprecated": true,
              "type": "boolean",
              "location": "query"
            },
            "publishedAfter": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties."
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "youtube/v3/activities",
          "id": "youtube.activities.list",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ActivityListResponse"
          }
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "id": "youtube.liveBroadcasts.insert",
          "flatPath": "youtube/v3/liveBroadcasts"
        },
        "bind": {
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "id",
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "id": "youtube.liveBroadcasts.bind",
          "path": "youtube/v3/liveBroadcasts/bind",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Bind a broadcast to a stream.",
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "streamId": {
              "description": "Stream to bind, if not set unbind the current one.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "description": "Broadcast to bind to the stream",
              "location": "query"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "LiveBroadcastListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.list",
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "parameters": {
            "id": {
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "broadcastType": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ],
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "description": "Return only broadcasts with the selected type.",
              "default": "event",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "type": "string",
              "location": "query",
              "repeated": true,
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "broadcastStatus": {
              "description": "Return broadcasts with a certain status, e.g. active broadcasts.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ]
            },
            "maxResults": {
              "location": "query",
              "default": "5",
              "maximum": "50",
              "type": "integer",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            }
          }
        },
        "update": {
          "id": "youtube.liveBroadcasts.update",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "required": true,
              "location": "query",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "LiveBroadcast"
          },
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Updates an existing broadcast for the authenticated user.",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "delete": {
          "id": "youtube.liveBroadcasts.delete",
          "flatPath": "youtube/v3/liveBroadcasts",
          "parameters": {
            "id": {
              "description": "Broadcast to delete.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveBroadcasts",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Delete a given broadcast.",
          "httpMethod": "DELETE"
        },
        "transition": {
          "parameters": {
            "part": {
              "required": true,
              "location": "query",
              "repeated": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status."
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
[...]
