{
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/youtube/",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "rootUrl": "https://youtube.googleapis.com/",
  "discoveryVersion": "v1",
  "id": "youtube:v3",
  "name": "youtube",
  "baseUrl": "https://youtube.googleapis.com/",
  "revision": "20260825",
  "canonicalName": "YouTube",
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "schemas": {
    "AbuseType": {
      "id": "AbuseType",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "VideoStatus": {
      "id": "VideoStatus",
      "properties": {
        "privacyStatus": {
          "description": "The video's privacy status.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "publishAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private.."
        },
        "containsSyntheticMedia": {
          "type": "boolean",
          "description": "Indicates if the video contains altered or synthetic media."
        },
        "license": {
          "type": "string",
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update"
        },
        "rejectionReason": {
          "type": "string",
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ]
        },
        "embeddable": {
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "publicStatsViewable": {
          "type": "boolean",
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "failureReason": {
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "type": "string",
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed.",
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ]
        },
        "madeForKids": {
          "type": "boolean"
        },
        "uploadStatus": {
          "description": "The status of the uploaded video.",
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ],
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "type": "string"
        }
      },
      "description": "Basic details about a video category, such as its localized title. Next Id: 19",
      "type": "object"
    },
    "VideoTrainability": {
      "type": "object",
      "description": "Specifies who is allowed to train on the video.",
      "id": "VideoTrainability",
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID of the video."
        },
        "permitted": {
          "items": {
            "type": "string"
          },
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "default": "youtube#videoTrainability"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "ActivityContentDetailsSubscription": {
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the resource that the user subscribed to."
        }
      },
      "id": "ActivityContentDetailsSubscription",
      "type": "object",
      "description": "Information about a channel that a user subscribed to. Deprecated: This resource is no longer returned."
    },
    "I18nRegion": {
      "id": "I18nRegion",
      "description": "A *i18nRegion* resource identifies a region where YouTube is available.",
      "properties": {
        "kind": {
          "default": "youtube#i18nRegion",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegion\".",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the i18n region, such as region code and human-readable name.",
          "$ref": "I18nRegionSnippet"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the i18n region.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchResultSnippet": {
      "id": "SearchResultSnippet",
      "description": "Basic details about a search result, including title, description and thumbnails of the item referenced by the search result.",
      "type": "object",
      "properties": {
        "publishedAt": {
          "type": "string",
          "description": "The creation date and time of the resource that the search result identifies.",
          "format": "date-time"
        },
        "liveBroadcastContent": {
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "type": "string",
          "description": "It indicates if the resource (video or channel) has upcoming/active live broadcast content. Or it's \"none\" if there is not any upcoming/active live broadcasts."
        },
        "channelId": {
          "type": "string",
          "description": "The value that YouTube uses to uniquely identify the channel that published the resource that the search result identifies."
        },
        "description": {
          "description": "A description of the search result.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "The title of the search result."
        },
        "channelTitle": {
          "type": "string",
          "description": "The title of the channel that published the resource that the search result identifies."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the search result. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      }
    },
    "ActivitySnippet": {
      "description": "Basic details about an activity, including title, description, thumbnails, activity type and group. Next ID: 12",
      "id": "ActivitySnippet",
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "The group ID associated with the activity. A group ID identifies user events that are associated with the same user and resource. For example, if a user uploads a video and watches the same video, the entries for those events would have the same group ID in the user's activity feed. In your user interface, you can avoid repetition by grouping events with the same `groupId` value."
        },
        "description": {
          "description": "The description of the resource primarily associated with the activity. @mutable youtube.activities.insert",
          "type": "string"
        },
        "channelTitle": {
          "description": "Channel title for the channel responsible for this activity",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the resource that is primarily associated with the activity. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the video was uploaded."
        },
        "title": {
          "description": "The title of the resource primarily associated with the activity.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Deprecated: This type is no longer supported.",
            "Deprecated: This type is no longer supported.",
            "",
            "Deprecated: This type is no longer supported.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "upload",
            "like",
            "favorite",
            "comment",
            "subscription",
            "playlistItem",
            "recommendation",
            "bulletin",
            "social",
            "channelItem",
            "promotedItem"
          ],
          "description": "The type of activity that the resource describes."
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel associated with the activity.",
          "type": "string"
        }
      }
    },
    "VideoTopicDetails": {
      "description": "Freebase topic information related to the video.",
      "id": "VideoTopicDetails",
      "properties": {
        "relevantTopicIds": {
          "items": {
            "type": "string"
          },
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API.",
          "type": "array"
        },
        "topicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API."
        },
        "topicCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content."
        }
      },
      "type": "object"
    },
    "PropertyValue": {
      "properties": {
        "property": {
          "type": "string",
          "description": "A property."
        },
        "value": {
          "description": "The property's value.",
          "type": "string"
        }
      },
      "id": "PropertyValue",
      "description": "A pair Property / Value.",
      "type": "object"
    },
    "MemberListResponse": {
      "type": "object",
      "id": "MemberListResponse",
      "properties": {
        "items": {
          "description": "A list of members that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Member"
          }
        },
        "kind": {
          "default": "youtube#memberListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#memberListResponse\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        }
      }
    },
    "IngestionInfo": {
      "type": "object",
      "id": "IngestionInfo",
      "properties": {
        "rtmpsIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of ingestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        },
        "ingestionAddress": {
          "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format: *STREAM_URL/STREAM_NAME* ",
          "type": "string"
        },
        "streamName": {
          "description": "The stream name that YouTube assigns to the video stream.",
          "type": "string"
        },
        "rtmpsBackupIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of backupIngestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        },
        "backupIngestionAddress": {
          "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL.",
          "type": "string"
        }
      },
      "description": "Describes information necessary for ingesting an RTMP, HTTP, or SRT stream."
    },
    "MembershipsLevel": {
      "description": "A *membershipsLevel* resource represents an offer made by YouTube creators for their fans. Users can become members of the channel by joining one of the available levels. They will provide recurring monetary support and receives special benefits.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the memberships level.",
          "type": "string"
        },
        "snippet": {
          "$ref": "MembershipsLevelSnippet",
          "description": "The snippet object contains basic details about the level."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevel",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "id": "MembershipsLevel"
    },
    "MembershipsDuration": {
      "properties": {
        "memberTotalDurationMonths": {
          "type": "integer",
          "format": "int32",
          "description": "The cumulative time the user has been a member across all levels in complete months (the time is rounded down to the nearest integer)."
        },
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member across all levels."
        }
      },
      "id": "MembershipsDuration",
      "type": "object"
    },
    "ActivityContentDetailsLike": {
      "id": "ActivityContentDetailsLike",
      "description": "Information about a resource that received a positive (like) rating. Deprecated: This resource is no longer returned.",
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The `resourceId` object contains information that identifies the rated resource."
        }
      }
    },
    "ChannelListResponse": {
      "id": "ChannelListResponse",
      "type": "object",
      "properties": {
        "eventId": {
          "type": "string",
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "items": {
          "items": {
            "$ref": "Channel"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "kind": {
          "default": "youtube#channelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "type": "string"
        }
      }
    },
    "LiveStream": {
      "id": "LiveStream",
      "properties": {
        "status": {
          "$ref": "LiveStreamStatus",
          "description": "The status object contains information about live stream's status."
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.liveStreams.update"
            ]
          },
          "description": "The ID that YouTube assigns to uniquely identify the stream.",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "LiveStreamContentDetails",
          "description": "The content_details object contains information about the stream, including the closed captions ingestion URL."
        },
        "kind": {
          "default": "youtube#liveStream",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStream\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "$ref": "LiveStreamSnippet",
          "description": "The snippet object contains basic details about the stream, including its channel, title, and description."
        },
        "cdn": {
          "$ref": "CdnSettings",
          "description": "The cdn object defines the live stream's content delivery network (CDN) settings. These settings provide details about the manner in which you stream your content to YouTube."
        }
      },
      "type": "object",
      "description": "A live stream describes a live ingestion point."
    },
    "ActivityContentDetailsRecommendation": {
      "id": "ActivityContentDetailsRecommendation",
      "description": "Information that identifies the recommended resource.",
      "properties": {
        "seedResourceId": {
          "description": "The `seedResourceId` object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        },
        "resourceId": {
          "description": "The `resourceId` object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "reason": {
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "enumDescriptions": [
            "",
            "Deprecated: This reason is no longer used.",
            "Deprecated: This reason is no longer used.",
            ""
          ],
          "description": "The reason that the resource is recommended to the user."
        }
      },
      "type": "object"
    },
    "AvailabilityConfigRegionsConfigRegionInterval": {
      "description": "Region and time window where video is available for the region.",
      "id": "AvailabilityConfigRegionsConfigRegionInterval",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "Required. Region where video is available"
        },
        "interval": {
          "description": "Time window where video is available for the region. Not supported for upcoming / active live broadcasts. If start time is unspecified, video is already available If end time is unspecified, video is available forever Specified start and end times cannot be more than five years in the future.",
          "$ref": "Interval"
        }
      },
      "type": "object"
    },
    "I18nLanguageSnippet": {
      "id": "I18nLanguageSnippet",
      "description": "Basic details about an i18n language, such as language code and human-readable name.",
      "properties": {
        "hl": {
          "type": "string",
          "description": "A short BCP-47 code that uniquely identifies a language."
        },
        "name": {
          "type": "string",
          "description": "The human-readable name of the language in the language itself."
        }
      },
      "type": "object"
    },
    "ActivityListResponse": {
      "type": "object",
      "id": "ActivityListResponse",
      "properties": {
        "visitorId": {
          "type": "string",
          "deprecated": true,
          "description": "The visitorId identifies the visitor."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#activityListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activityListResponse\"."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Activity"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      }
    },
    "GeoPoint": {
      "description": "Geographical coordinates of a point, in WGS84.",
      "id": "GeoPoint",
      "properties": {
        "latitude": {
          "description": "Latitude in degrees.",
          "format": "double",
          "type": "number"
        },
        "altitude": {
          "type": "number",
          "format": "double",
          "description": "Altitude above the reference ellipsoid, in meters."
        },
        "longitude": {
          "type": "number",
          "description": "Longitude in degrees.",
          "format": "double"
        }
      },
      "type": "object"
    },
    "SubscriptionSubscriberSnippet": {
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "properties": {
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        },
        "thumbnails": {
          "description": "Thumbnails for this subscriber.",
          "$ref": "ThumbnailDetails"
        },
        "title": {
          "type": "string",
          "description": "The title of the subscriber."
        },
        "description": {
          "description": "The description of the subscriber.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SubscriptionSubscriberSnippet"
    },
    "VideoContentDetails": {
      "id": "VideoContentDetails",
      "description": "Details about the content of a YouTube Video.",
      "type": "object",
      "properties": {
        "regionRestriction": {
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
          "$ref": "VideoContentDetailsRegionRestriction",
          "deprecated": true
        },
        "duration": {
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long.",
          "type": "string"
        },
        "dimension": {
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D.",
          "type": "string"
        },
        "countryRestriction": {
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable.",
          "$ref": "AccessPolicy"
        },
        "projection": {
          "enum": [
            "rectangular",
            "360"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "Specifies the projection format of the video."
        },
        "caption": {
          "enum": [
            "true",
            "false"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The value of captions indicates whether the video has captions or not."
        },
        "licensedContent": {
          "description": "The value of is_license_content indicates whether the video is licensed content.",
          "type": "boolean"
        },
        "definition": {
          "type": "string",
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "enum": [
            "sd",
            "hd"
          ],
          "enumDescriptions": [
            "sd",
            "hd"
          ]
        },
        "contentRating": {
          "description": "Specifies the ratings that the video received under various rating schemes.",
          "$ref": "ContentRating"
        },
        "hasCustomThumbnail": {
          "type": "boolean",
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader."
        }
      }
    },
    "LiveChatPollDetails": {
      "properties": {
        "metadata": {
          "$ref": "LiveChatPollDetailsPollMetadata"
        },
        "status": {
          "enum": [
            "unknown",
            "active",
            "closed"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "LiveChatPollDetails",
      "type": "object"
    },
    "VideoAbuseReport": {
      "id": "VideoAbuseReport",
      "properties": {
        "comments": {
          "description": "Additional comments regarding the abuse report.",
          "type": "string"
        },
        "language": {
          "description": "The language that the content was viewed in.",
          "type": "string"
        },
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "reasonId": {
          "type": "string",
          "description": "The high-level, or primary, reason that the content is abusive. The value is an abuse report reason ID."
        },
        "secondaryReasonId": {
          "type": "string",
          "description": "The specific, or secondary, reason that this content is abusive (if available). The value is an abuse report reason ID that is a valid secondary reason for the primary reason."
        }
      },
      "type": "object"
    },
    "LiveChatMessageDeletedDetails": {
      "type": "object",
      "id": "LiveChatMessageDeletedDetails",
      "deprecated": true,
      "properties": {
        "deletedMessageId": {
          "type": "string"
        }
      }
    },
    "LiveBroadcastContentDetails": {
      "properties": {
        "monitorStream": {
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly.",
          "$ref": "MonitorStreamInfo"
        },
        "enableClosedCaptions": {
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.",
          "deprecated": true
        },
        "enableAutoStop": {
          "type": "boolean",
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events."
        },
        "stereoLayout": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ],
          "description": "The 3D stereo layout of this broadcast. This defaults to mono."
        },
        "recordFromStart": {
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.",
          "type": "boolean"
        },
        "boundStreamId": {
          "type": "string",
          "description": "This value uniquely identifies the live stream bound to the broadcast."
        },
        "startWithSlate": {
          "type": "boolean",
          "deprecated": true,
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers."
        },
        "closedCaptionsType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ],
          "type": "string"
        },
        "availabilityConfig": {
          "$ref": "AvailabilityConfig",
          "description": "Optional. The broadcast's availability config. Used to set specific region availability or block specific regions It is optional - if not set, it is not enforced."
        },
        "projection": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "The projection format of this broadcast. This defaults to rectangular.",
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ],
          "type": "string"
        },
        "enableContentEncryption": {
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
          "type": "boolean"
        },
        "enableAutoStart": {
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
          "type": "boolean"
        },
        "mesh": {
          "type": "string",
          "format": "byte",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags."
        },
        "latencyPreference": {
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "type": "string",
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "boundStreamLastUpdateTimeMs": {
          "description": "The date and time that the live stream referenced by boundStreamId was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "enableDvr": {
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends.",
          "type": "boolean"
        },
        "enableLowLatency": {
          "description": "Indicates whether this broadcast has low latency enabled.",
          "type": "boolean",
          "deprecated": true
        }
      },
      "id": "LiveBroadcastContentDetails",
      "description": "Detailed settings of a broadcast.",
      "type": "object"
    },
    "PlaylistListResponse": {
      "properties": {
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\".",
          "default": "youtube#playlistListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "Playlist"
          },
          "description": "A list of playlists that match the request criteria",
          "type": "array"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "PlaylistListResponse",
      "type": "object"
    },
    "MembershipsDurationAtLevel": {
      "id": "MembershipsDurationAtLevel",
      "type": "object",
      "properties": {
        "level": {
          "description": "Pricing level ID.",
          "type": "string"
        },
        "memberTotalDurationMonths": {
          "type": "integer",
          "format": "int32",
          "description": "The cumulative time the user has been a member for the given level in complete months (the time is rounded down to the nearest integer)."
        },
        "memberSince": {
          "type": "string",
          "description": "The date and time when the user became a continuous member for the given level."
        }
      }
    },
    "VideoLocalization": {
      "description": "Localized versions of certain video properties (e.g. title).",
      "type": "object",
      "id": "VideoLocalization",
      "properties": {
        "title": {
          "type": "string",
          "description": "Localized version of the video's title."
        },
        "description": {
          "type": "string",
          "description": "Localized version of the video's description."
        }
      }
    },
    "LiveStreamConfigurationIssue": {
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "description": "How severe this issue is to the stream."
        },
        "type": {
          "description": "The kind of error happening.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "type": "string"
        },
        "reason": {
          "description": "The short-form reason for this issue.",
          "type": "string"
        },
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        }
      },
      "id": "LiveStreamConfigurationIssue",
      "type": "object"
    },
    "Playlist": {
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "type": "string",
          "default": "youtube#playlist"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "player": {
          "description": "The player object contains information that you would use to play the playlist in an embedded player.",
          "$ref": "PlaylistPlayer"
        },
        "contentDetails": {
          "$ref": "PlaylistContentDetails",
          "description": "The contentDetails object contains information like video count."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "type": "object",
          "description": "Localizations for different languages"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the playlist.",
          "type": "string"
        },
        "status": {
          "description": "The status object contains status information for the playlist.",
          "$ref": "PlaylistStatus"
        }
      },
      "id": "Playlist",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
      "type": "object"
    },
    "VideoAbuseReportSecondaryReason": {
      "properties": {
        "label": {
          "description": "The localized label for this abuse report secondary reason.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID of this abuse report secondary reason."
        }
      },
      "id": "VideoAbuseReportSecondaryReason",
      "type": "object"
    },
    "VideoLiveStreamingDetails": {
      "type": "object",
      "id": "VideoLiveStreamingDetails",
      "properties": {
        "actualEndTime": {
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over.",
          "type": "string",
          "format": "date-time"
        },
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "format": "uint64",
          "type": "string"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        },
        "actualStartTime": {
          "format": "date-time",
          "type": "string",
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins."
        },
        "scheduledEndTime": {
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
          "format": "date-time",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The time that the broadcast is scheduled to begin.",
          "type": "string",
          "format": "date-time"
        }
      },
      "description": "Details about the live streaming metadata."
    },
    "ChannelProfileDetails": {
      "type": "object",
      "id": "ChannelProfileDetails",
      "properties": {
        "displayName": {
          "description": "The channel's display name.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The YouTube channel ID."
        },
        "profileImageUrl": {
          "description": "The channels's avatar URL.",
          "type": "string"
        },
        "channelUrl": {
          "description": "The channel's URL.",
          "type": "string"
        }
      }
    },
    "LiveChatGiftMembershipReceivedDetails": {
      "type": "object",
      "id": "LiveChatGiftMembershipReceivedDetails",
      "properties": {
        "memberLevelName": {
          "description": "The name of the Level at which the viewer is a member. This matches the `snippet.membershipGiftingDetails.giftMembershipsLevelName` of the associated membership gifting message. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "associatedMembershipGiftingMessageId": {
          "type": "string",
          "description": "The ID of the membership gifting message that is related to this gift membership. This ID will always refer to a message whose type is 'membershipGiftingEvent'."
        },
        "gifterChannelId": {
          "type": "string",
          "description": "The ID of the user that made the membership gifting purchase. This matches the `snippet.authorChannelId` of the associated membership gifting message."
        }
      }
    },
    "VideoPlayer": {
      "description": "Player to be used for a video playback.",
      "type": "object",
      "id": "VideoPlayer",
      "properties": {
        "embedWidth": {
          "type": "string",
          "description": "The embed width",
          "format": "int64"
        },
        "embedHeight": {
          "format": "int64",
          "type": "string"
        },
        "embedHtml": {
          "type": "string",
          "description": "An <iframe> tag that embeds a player that will play the video."
        }
      }
    },
    "LiveChatMemberMilestoneChatDetails": {
      "properties": {
        "memberLevelName": {
          "description": "The name of the Level at which the viever is a member. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        },
        "memberMonth": {
          "format": "uint32",
          "type": "integer",
          "description": "The total amount of months (rounded up) the viewer has been a member that granted them this Member Milestone Chat. This is the same number of months as is being displayed to YouTube users."
        },
        "userComment": {
          "description": "The comment added by the member to this Member Milestone Chat. This field is empty for messages without a comment from the member.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LiveChatMemberMilestoneChatDetails"
    },
    "ChannelToStoreLinkDetails": {
      "properties": {
        "storeName": {
          "description": "Name of the store.",
          "type": "string"
        },
        "merchantAffiliateProgramDetails": {
          "description": "Information specific to merchant affiliate program (read-only).",
          "$ref": "ChannelToStoreLinkDetailsMerchantAffiliateProgramDetails"
        },
        "merchantId": {
          "type": "string",
          "description": "Google Merchant Center id of the store.",
          "format": "uint64"
        },
        "storeUrl": {
          "description": "Landing page of the store.",
          "type": "string"
        },
        "billingDetails": {
          "description": "Information specific to billing (read-only).",
          "$ref": "ChannelToStoreLinkDetailsBillingDetails"
        }
      },
      "description": "Information specific to a store on a merchandising platform linked to a YouTube channel.",
      "type": "object",
      "id": "ChannelToStoreLinkDetails"
    },
    "LiveChatPollDetailsPollMetadata": {
      "id": "LiveChatPollDetailsPollMetadata",
      "properties": {
        "questionText": {
          "type": "string"
        },
        "options": {
          "type": "array",
          "items": {
            "$ref": "LiveChatPollDetailsPollMetadataPollOption"
          },
          "description": "The options will be returned in the order that is displayed in 1P"
        }
      },
      "type": "object"
    },
    "ChannelStatus": {
      "description": "JSON template for the status part of a channel.",
      "properties": {
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "isLinked": {
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity.",
          "type": "boolean"
        },
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "longUploadsStatus": {
          "type": "string",
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "madeForKids": {
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ChannelStatus"
    },
    "ChannelSectionTargeting": {
      "type": "object",
      "description": "ChannelSection targeting setting.",
      "id": "ChannelSectionTargeting",
      "properties": {
        "countries": {
          "description": "The country the channel section is targeting.",
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array"
        },
        "regions": {
          "deprecated": true,
          "type": "array",
          "description": "The region the channel section is targeting.",
          "items": {
            "type": "string"
          }
        },
        "languages": {
          "items": {
            "type": "string"
          },
          "deprecated": true,
          "type": "array",
          "description": "The language the channel section is targeting."
        }
      }
    },
    "SubscriptionSnippet": {
      "id": "SubscriptionSnippet",
      "properties": {
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time that the subscription was created.",
          "format": "date-time"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          },
          "description": "The id object contains information about the channel that the user subscribed to."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
        },
        "title": {
          "type": "string",
          "description": "The subscription's title."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      },
      "type": "object",
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item."
    },
    "TestItemTestItemSnippet": {
      "type": "object",
      "properties": {},
      "id": "TestItemTestItemSnippet"
    },
    "TestItem": {
      "properties": {
        "gaia": {
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "type": "string",
          "description": "Etag for the resource. See https://en.wikipedia.org/wiki/HTTP_ETag."
        },
        "featuredPart": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        }
      },
      "id": "TestItem",
      "type": "object"
    },
    "AbuseReport": {
      "id": "AbuseReport",
      "properties": {
        "description": {
          "type": "string"
        },
        "abuseTypes": {
          "type": "array",
          "items": {
            "$ref": "AbuseType"
          }
        },
        "subject": {
          "$ref": "Entity"
        },
        "relatedEntities": {
          "items": {
            "$ref": "RelatedEntity"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "VideoContentDetailsRegionRestriction": {
      "id": "VideoContentDetailsRegionRestriction",
      "properties": {
        "allowed": {
          "type": "array",
          "description": "A list of region codes that identify countries where the video is viewable. If this property is present and a country is not listed in its value, then the video is blocked from appearing in that country. If this property is present and contains an empty list, the video is blocked in all countries.",
          "items": {
            "type": "string"
          }
        },
        "blocked": {
          "description": "A list of region codes that identify countries where the video is blocked. If this property is present and a country is not listed in its value, then the video is viewable in that country. If this property is present and contains an empty list, the video is viewable in all countries.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "DEPRECATED Region restriction of the video.",
      "type": "object"
    },
    "Interval": {
      "type": "object",
      "id": "Interval",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "ThirdPartyLink": {
      "description": "A *third party account link* resource represents a link between a YouTube account or a channel and an account on a third-party service.",
      "id": "ThirdPartyLink",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLink\".",
          "default": "youtube#thirdPartyLink"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "status": {
          "$ref": "ThirdPartyLinkStatus",
          "description": "The status object contains information about the status of the link."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the third- party account link.",
          "$ref": "ThirdPartyLinkSnippet"
        },
        "linkingToken": {
          "type": "string",
          "description": "The linking_token identifies a YouTube account and channel with which the third party account is linked."
        }
      },
      "type": "object"
    },
    "Cuepoint": {
      "type": "object",
      "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS.",
      "properties": {
        "durationSecs": {
          "description": "The duration of this cuepoint.",
          "type": "integer",
          "format": "uint32"
        },
        "id": {
          "description": "The identifier for cuepoint resource.",
          "type": "string"
        },
        "cueType": {
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "cueTypeUnspecified",
            "cueTypeAd"
          ]
        },
        "walltimeMs": {
          "format": "uint64",
          "type": "string",
          "description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time."
        },
        "etag": {
          "type": "string"
        },
        "insertionOffsetTimeMs": {
          "description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Cuepoint"
    },
    "LocalizedProperty": {
      "type": "object",
      "properties": {
        "localized": {
          "items": {
            "$ref": "LocalizedString"
          },
          "type": "array"
        },
        "defaultLanguage": {
          "description": "The language of the default property.",
          "$ref": "LanguageTag"
        },
        "default": {
          "type": "string"
        }
      },
      "id": "LocalizedProperty"
    },
    "SuperStickerMetadata": {
      "properties": {
        "stickerId": {
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it."
        },
        "altTextLanguage": {
          "type": "string",
          "description": "Specifies the localization language in which the alt text is returned."
        }
      },
      "id": "SuperStickerMetadata",
      "type": "object"
    },
    "PlaylistItemContentDetails": {
      "properties": {
        "startAt": {
          "deprecated": true,
          "type": "string",
          "description": "The time, measured in seconds from the start of the video, when the video should start playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) The default value is 0."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify a video. To retrieve the video resource, set the id query parameter to this value in your API request.",
          "type": "string"
        },
        "videoPublishedAt": {
          "type": "string",
          "description": "The date and time that the video was published to YouTube.",
          "format": "date-time"
        },
        "note": {
          "type": "string",
          "description": "A user-generated note for this item."
        },
        "endAt": {
          "deprecated": true,
          "description": "The time, measured in seconds from the start of the video, when the video should stop playing. (The playlist owner can specify the times when the video should start and stop playing when the video is played in the context of the playlist.) By default, assume that the video.endTime is the end of the video.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PlaylistItemContentDetails"
    },
    "LiveStreamHealthStatus": {
      "properties": {
        "lastUpdateTimeSeconds": {
          "type": "string",
          "description": "The last time this status was updated (in seconds)",
          "format": "uint64"
        },
        "configurationIssues": {
          "type": "array",
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          },
          "description": "The configurations issues on this stream"
        },
        "status": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ],
          "description": "The status code of this stream",
          "type": "string"
        }
      },
      "id": "LiveStreamHealthStatus",
      "type": "object"
    },
    "LiveChatNewSponsorDetails": {
      "properties": {
        "isUpgrade": {
          "type": "boolean",
          "description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false."
        },
        "memberLevelName": {
          "type": "string",
          "description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        }
      },
      "type": "object",
      "id": "LiveChatNewSponsorDetails"
    },
    "LiveBroadcastStatistics": {
      "properties": {
        "concurrentViewers": {
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended.",
          "type": "string",
          "format": "uint64"
        }
      },
      "type": "object",
      "description": "Statistics about the live broadcast. These represent a snapshot of the values at the time of the request. Statistics are only returned for live broadcasts.",
      "id": "LiveBroadcastStatistics"
    },
    "VideoAbuseReportReasonSnippet": {
      "type": "object",
      "properties": {
        "secondaryReasons": {
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          },
          "type": "array",
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)"
        },
        "label": {
          "description": "The localized label belonging to this abuse report reason.",
          "type": "string"
        }
      },
      "description": "Basic details about a video category, such as its localized title.",
      "id": "VideoAbuseReportReasonSnippet"
    },
    "InvideoTiming": {
      "description": "Describes a temporal position of a visual widget inside a video.",
      "id": "InvideoTiming",
      "properties": {
        "durationMs": {
          "format": "uint64",
          "description": "Defines the duration in milliseconds for which the promotion should be displayed. If missing, the client should use the default.",
          "type": "string"
        },
        "type": {
          "enum": [
            "offsetFromStart",
            "offsetFromEnd"
          ],
          "description": "Describes a timing type. If the value is offsetFromStart, then the offsetMs field represents an offset from the start of the video. If the value is offsetFromEnd, then the offsetMs field represents an offset from the end of the video.",
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "offsetMs": {
          "format": "uint64",
          "description": "Defines the time at which the promotion will appear. Depending on the value of type the value of the offsetMs field will represent a time offset from the start or from the end of the video, expressed in milliseconds.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "I18nRegionListResponse": {
      "properties": {
        "kind": {
          "default": "youtube#i18nRegionListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nRegionListResponse\"."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "type": "string",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "description": "A list of regions where YouTube is available. In this map, the i18n region ID is the map key, and its value is the corresponding i18nRegion resource.",
          "items": {
            "$ref": "I18nRegion"
          }
        }
      },
      "type": "object",
      "id": "I18nRegionListResponse"
    },
    "MemberSnippet": {
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        },
        "membershipsDetails": {
          "description": "Details about the user's membership.",
          "$ref": "MembershipsDetails"
        }
      },
      "id": "MemberSnippet",
      "type": "object"
    },
    "RelatedEntity": {
      "id": "RelatedEntity",
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      }
    },
    "ThirdPartyLinkStatus": {
      "id": "ThirdPartyLinkStatus",
      "properties": {
        "linkStatus": {
          "type": "string",
          "enum": [
            "unknown",
            "failed",
            "pending",
            "linked"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "description": "The third-party link status object contains information about the status of the link.",
      "type": "object"
    },
    "VideoMonetizationDetails": {
      "type": "object",
      "id": "VideoMonetizationDetails",
      "properties": {
        "access": {
          "description": "The value of access indicates whether the video can be monetized or not.",
          "$ref": "AccessPolicy"
        }
      },
      "description": "Details about monetization of a YouTube Video."
    },
    "ChannelConversionPings": {
      "id": "ChannelConversionPings",
      "type": "object",
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "properties": {
        "pings": {
          "type": "array",
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
          "items": {
            "$ref": "ChannelConversionPing"
          }
        }
      }
    },
    "MembershipsLevelSnippet": {
      "id": "MembershipsLevelSnippet",
      "properties": {
        "levelDetails": {
          "description": "Details about the pricing level.",
          "$ref": "LevelDetails"
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MembershipsLevelListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevelListResponse"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "MembershipsLevel"
          },
          "description": "A list of pricing levels offered by a creator to the fans.",
          "type": "array"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "MembershipsLevelListResponse",
      "type": "object"
    },
    "LiveStreamListResponse": {
      "type": "object",
      "properties": {
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string",
          "deprecated": true
        },
        "items": {
          "type": "array",
          "description": "A list of live streams that match the request criteria.",
          "items": {
            "$ref": "LiveStream"
          }
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveStreamListResponse\".",
          "type": "string",
          "default": "youtube#liveStreamListResponse"
        },
        "visitorId": {
          "deprecated": true,
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        }
      },
      "id": "LiveStreamListResponse"
    },
    "Activity": {
      "description": "An `activity` resource contains information about an action that a particular channel, or user, has taken on YouTube. The actions reported in activity feeds include sharing a video, uploading a video, and so forth. Each `activity` resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "kind": {
          "default": "youtube#activity",
          "description": "Identifies what kind of resource this is. Value: The fixed string `\"youtube#activity\"`.",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "contentDetails": {
          "$ref": "ActivityContentDetails",
          "description": "The `contentDetails` object contains information about the content associated with the activity. For example, if the `snippet.type` value is `videoRated`, then the `contentDetails` object's content identifies the rated video."
        },
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The `snippet` object contains basic details about the activity, including the activity's type and group ID."
        }
      },
      "type": "object",
      "id": "Activity"
    },
    "VideoAbuseReportReason": {
      "description": "A `__videoAbuseReportReason__` resource identifies a reason that a video could be reported as abusive. Video abuse report reasons are used with `video.ReportAbuse`.",
      "properties": {
        "id": {
          "description": "The ID of this abuse report reason.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReason\"`.",
          "default": "youtube#videoAbuseReportReason"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "snippet": {
          "description": "The `snippet` object contains basic details about the abuse report reason.",
          "$ref": "VideoAbuseReportReasonSnippet"
        }
      },
      "type": "object",
      "id": "VideoAbuseReportReason"
    },
    "AvailabilityConfig": {
      "type": "object",
      "description": "Common proto for Live and VOD geo-restrictions",
      "properties": {
        "globalConfig": {
          "$ref": "AvailabilityConfigGlobalConfig",
          "description": "Video is available in all regions except the ones specified in the config."
        },
        "regionsConfig": {
          "description": "Video is available in the specified regions only.",
          "$ref": "AvailabilityConfigRegionsConfig"
        }
      },
      "id": "AvailabilityConfig"
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "properties": {
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "supporterDetails": {
          "description": "Details about the supporter.",
          "$ref": "ChannelProfileDetails"
        },
        "channelId": {
          "description": "Channel id where the event occurred.",
          "type": "string"
        },
        "amountMicros": {
          "format": "uint64",
          "type": "string",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000."
        },
        "isSuperStickerEvent": {
          "description": "True if this event is a Super Sticker event.",
          "type": "boolean"
        },
        "messageType": {
          "type": "integer",
          "format": "uint32",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message."
        },
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "commentText": {
          "description": "The text contents of the comment left by the user.",
          "type": "string"
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "createdAt": {
          "format": "date-time",
          "description": "The date and time when the event occurred.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveChatModeratorSnippet": {
      "id": "LiveChatModeratorSnippet",
      "type": "object",
      "properties": {
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "type": "string",
          "description": "The ID of the live chat this moderator can act on."
        }
      }
    },
    "VideoStatsStatistics": {
      "description": "Statistics about the video, such as the number of times the video was viewed or liked.",
      "type": "object",
      "id": "VideoStatsStatistics",
      "properties": {
        "viewCount": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The number of times the video has been viewed."
        },
        "commentCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The number of comments for the video."
        },
        "likeCount": {
          "type": "string",
          "description": "Output only. The number of users who have indicated that they liked the video by giving it a positive rating.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "LiveChatMembershipGiftingDetails": {
      "type": "object",
      "properties": {
        "giftMembershipsCount": {
          "type": "integer",
          "description": "The number of gift memberships purchased by the user.",
          "format": "int32"
        },
        "giftMembershipsLevelName": {
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled.",
          "type": "string"
        }
      },
      "id": "LiveChatMembershipGiftingDetails"
    },
    "LiveChatPollDetailsPollMetadataPollOption": {
      "properties": {
        "optionText": {
          "type": "string"
        },
        "tally": {
          "type": "string",
          "format": "int64"
        }
      },
      "id": "LiveChatPollDetailsPollMetadataPollOption",
      "type": "object"
    },
    "CaptionSnippet": {
      "properties": {
        "language": {
          "description": "The language of the caption track. The property value is a BCP-47 language tag.",
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          }
        },
        "name": {
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback.",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "description": "The caption track's status.",
          "enum": [
            "serving",
            "syncing",
            "failed"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "isDraft": {
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update",
          "type": "boolean"
        },
        "isLarge": {
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false.",
          "type": "boolean"
        },
        "audioTrackType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "type": "string",
          "description": "The type of audio track associated with the caption track."
        },
        "lastUpdated": {
          "description": "The date and time when the caption track was last updated.",
          "type": "string",
          "format": "date-time"
        },
        "isAutoSynced": {
          "type": "boolean",
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."
        },
        "failureReason": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed."
        },
        "videoId": {
          "type": "string",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert"
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean"
        },
        "trackKind": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "standard",
            "ASR",
            "forced"
          ],
          "description": "The caption track's type."
        }
      },
      "id": "CaptionSnippet",
      "type": "object",
      "description": "Basic details about a caption track, such as its language and name."
    },
    "LevelDetails": {
      "type": "object",
      "id": "LevelDetails",
      "properties": {
        "displayName": {
          "description": "The name that should be used when referring to this level.",
          "type": "string"
        }
      }
    },
    "ThirdPartyLinkSnippet": {
      "id": "ThirdPartyLinkSnippet",
      "type": "object",
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "properties": {
        "channelToAffiliateProgramLink": {
          "description": "Information specific to a link between a channel and an affiliate program of a partner.",
          "$ref": "ChannelToAffiliateProgramLinkDetails"
        },
        "channelToStoreLink": {
          "description": "Information specific to a link between a channel and a store on a merchandising platform.",
          "$ref": "ChannelToStoreLinkDetails"
        },
        "type": {
          "enum": [
            "linkUnspecified",
            "channelToStoreLink",
            "channelToAffiliateProgramLink"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube.",
            "A link that is connecting (or about to connect) a channel with an affiliate program of a partner to enable that channel to earn commissions from that partner through affiliate links."
          ],
          "description": "Type of the link named after the entities that are being linked."
        }
      }
    },
    "CaptionListResponse": {
      "properties": {
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "items": {
          "items": {
            "$ref": "Caption"
          },
          "description": "A list of captions that match the request criteria.",
          "type": "array"
        },
        "kind": {
          "default": "youtube#captionListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#captionListResponse\".",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "eventId": {
          "deprecated": true,
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        }
      },
      "id": "CaptionListResponse",
      "type": "object"
    },
    "PlaylistImageListResponse": {
      "type": "object",
      "id": "PlaylistImageListResponse",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\".",
          "default": "youtube#playlistImageListResponse",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "PlaylistImage"
          },
          "type": "array"
        }
      }
    },
    "LiveStreamStatus": {
      "id": "LiveStreamStatus",
      "type": "object",
      "properties": {
        "healthStatus": {
          "$ref": "LiveStreamHealthStatus",
          "description": "The health status of the stream."
        },
        "streamStatus": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        }
      },
      "description": "Brief description of the live stream status."
    },
    "PlaylistLocalization": {
      "description": "Playlist localization setting",
      "id": "PlaylistLocalization",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The localized strings for playlist's title."
        },
        "description": {
          "description": "The localized strings for playlist's description.",
          "type": "string"
        }
      }
    },
    "ChannelConversionPing": {
      "properties": {
        "context": {
          "description": "Defines the context of the ping.",
          "enum": [
            "subscribe",
            "unsubscribe",
            "cview"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string"
        },
        "conversionUrl": {
          "type": "string",
          "description": "The url (without the schema) that the player shall send the ping to. It's at caller's descretion to decide which schema to use (http vs https) Example of a returned url: //googleads.g.doubleclick.net/pagead/ viewthroughconversion/962985656/?data=path%3DtHe_path%3Btype%3D cview%3Butuid%3DGISQtTNGYqaYl4sKxoVvKA&labe=default The caller must append biscotti authentication (ms param in case of mobile, for example) to this ping."
        }
      },
      "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping.",
      "type": "object",
      "id": "ChannelConversionPing"
    },
    "SearchListResponse": {
      "id": "SearchListResponse",
      "type": "object",
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "items": {
          "type": "array",
          "description": "Pagination information for token pagination.",
          "items": {
            "$ref": "SearchResult"
          }
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "youtube#searchListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\"."
        },
        "regionCode": {
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitor ID identifies the visitor."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        }
      }
    },
    "LiveChatMessageSnippet": {
      "description": "Next ID: 35",
      "type": "object",
      "id": "LiveChatMessageSnippet",
      "properties": {
        "type": {
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "memberMilestoneChatEvent",
            "membershipGiftingEvent",
            "giftMembershipReceivedEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent",
            "pollEvent",
            "giftEvent"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
[...]
