{
  "name": "youtube",
  "title": "YouTube Data API v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "rootUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        }
      }
    }
  },
  "id": "youtube:v3",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/youtube/",
  "protocol": "rest",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "canonicalName": "YouTube",
  "version": "v3",
  "resources": {
    "search": {
      "methods": {
        "list": {
          "response": {
            "$ref": "SearchListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "maxResults": {
              "format": "uint32",
              "default": "5",
              "type": "integer",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "maximum": "50"
            },
            "channelType": {
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ],
              "description": "Add a filter on the channel search."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "q": {
              "location": "query",
              "description": "Textual search terms to match.",
              "type": "string"
            },
            "videoDefinition": {
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "description": "Filter on the definition of the videos.",
              "location": "query",
              "type": "string"
            },
            "videoEmbeddable": {
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "type": "string",
              "description": "Filter on embeddable videos."
            },
            "safeSearch": {
              "description": "Indicates whether the search results should include restricted content as well as standard content.",
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "default": "moderate",
              "location": "query",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "type": "string"
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet."
            },
            "channelId": {
              "description": "Filter on resources belonging to this channelId. (Force TAP rebuild)",
              "type": "string",
              "location": "query"
            },
            "forMine": {
              "type": "boolean",
              "location": "query",
              "description": "Search for the private videos of the authenticated user."
            },
            "videoDuration": {
              "type": "string",
              "location": "query",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ],
              "description": "Filter on the duration of the videos."
            },
            "regionCode": {
              "description": "Display the content as seen by viewers in this country.",
              "type": "string",
              "location": "query"
            },
            "publishedBefore": {
              "description": "Filter on resources published before this date.",
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "videoPaidProductPlacement": {
              "location": "query",
              "type": "string",
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ]
            },
            "videoDimension": {
              "type": "string",
              "location": "query",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ],
              "description": "Filter on 3d videos."
            },
            "locationRadius": {
              "location": "query",
              "description": "Filter on distance from the location (specified above).",
              "type": "string"
            },
            "order": {
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "default": "relevance",
              "type": "string",
              "location": "query",
              "description": "Sort order of the results."
            },
            "location": {
              "location": "query",
              "type": "string",
              "description": "Filter on location of the video"
            },
            "forContentOwner": {
              "type": "boolean",
              "description": "Search owned by a content owner.",
              "location": "query"
            },
            "eventType": {
              "description": "Filter on the livestream status of the videos.",
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "location": "query",
              "type": "string"
            },
            "topicId": {
              "description": "Restrict results to a particular topic.",
              "type": "string",
              "location": "query"
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "type": {
              "repeated": true,
              "type": "string",
              "location": "query",
              "description": "Restrict results to a particular set of resource types from One Platform."
            },
            "videoLicense": {
              "description": "Filter on the license of the videos.",
              "location": "query",
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "type": "string",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ]
            },
            "videoType": {
              "type": "string",
              "description": "Filter on videos of a specific type.",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "location": "query"
            },
            "videoCaption": {
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "description": "Filter on the presence of captions on the videos.",
              "type": "string",
              "location": "query",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ]
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "videoCategoryId": {
              "type": "string",
              "location": "query",
              "description": "Filter on videos in a specific category."
            },
            "videoSyndicated": {
              "description": "Filter on syndicated videos.",
              "location": "query",
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "type": "string"
            },
            "publishedAfter": {
              "type": "string",
              "format": "google-datetime",
              "location": "query",
              "description": "Filter on resources published after this date."
            },
            "forDeveloper": {
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "location": "query",
              "type": "boolean"
            }
          },
          "flatPath": "youtube/v3/search",
          "httpMethod": "GET",
          "parameterOrder": [
            "part"
          ],
          "id": "youtube.search.list",
          "description": "Retrieves a list of search resources",
          "path": "youtube/v3/search"
        }
      }
    },
    "videoCategories": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videoCategories",
          "parameters": {
            "regionCode": {
              "type": "string",
              "location": "query"
            },
            "hl": {
              "location": "query",
              "default": "en-US",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the videoCategory resource properties that the API response will include. Set the parameter value to snippet."
            },
            "id": {
              "description": "Returns the video categories with the given IDs for Stubby or Apiary.",
              "location": "query",
              "repeated": true,
              "type": "string"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.videoCategories.list",
          "response": {
            "$ref": "VideoCategoryListResponse"
          },
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/videoCategories"
        }
      }
    },
    "liveStreams": {
      "methods": {
        "update": {
          "response": {
            "$ref": "LiveStream"
          },
          "description": "Updates an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "path": "youtube/v3/liveStreams",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "id": "youtube.liveStreams.update",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "location": "query",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "repeated": true
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "youtube.liveStreams.delete",
          "description": "Deletes an existing stream for the authenticated user.",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveStreams"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "description": "Inserts a new stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "request": {
            "$ref": "LiveStream"
          },
          "path": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStream"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            }
          },
          "httpMethod": "POST",
          "id": "youtube.liveStreams.insert"
        },
        "list": {
          "id": "youtube.liveStreams.list",
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "path": "youtube/v3/liveStreams",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/liveStreams",
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            },
            "maxResults": {
              "maximum": "50",
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "default": "5"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "id": {
              "location": "query",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "mine": {
              "location": "query",
              "type": "boolean"
            }
          }
        }
      }
    },
    "youtube": {
      "resources": {
        "v3": {
          "resources": {
            "liveChat": {
              "resources": {
                "messages": {
                  "methods": {
                    "stream": {
                      "description": "Allows a user to load live chat through a server-streamed RPC.",
                      "parameters": {
                        "maxResults": {
                          "minimum": "200",
                          "maximum": "2000",
                          "format": "uint32",
                          "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
                          "location": "query",
                          "type": "integer",
                          "default": "500"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved."
                        },
                        "liveChatId": {
                          "description": "The id of the live chat for which comments should be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "hl": {
                          "description": "Specifies the localization language in which the system messages should be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "profileImageSize": {
                          "format": "uint32",
                          "type": "integer",
                          "description": "Specifies the size of the profile image that should be returned for each user.",
                          "minimum": "16",
                          "maximum": "720",
                          "location": "query"
                        },
                        "part": {
                          "type": "string",
                          "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
                          "repeated": true,
                          "location": "query"
                        }
                      },
                      "path": "youtube/v3/liveChat/messages/stream",
                      "response": {
                        "$ref": "LiveChatMessageListResponse"
                      },
                      "parameterOrder": [],
                      "flatPath": "youtube/v3/liveChat/messages/stream",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                      ],
                      "id": "youtube.youtube.v3.liveChat.messages.stream"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "captions": {
      "methods": {
        "insert": {
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            },
            "maxSize": "104857600",
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ]
          },
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Caption"
          },
          "id": "youtube.captions.insert",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "Caption"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/captions",
          "parameters": {
            "sync": {
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "location": "query"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet.",
              "required": true,
              "type": "string",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "path": "youtube/v3/captions",
          "httpMethod": "POST"
        },
        "delete": {
          "flatPath": "youtube/v3/captions",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOf": {
              "type": "string",
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.captions.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "httpMethod": "DELETE",
          "path": "youtube/v3/captions"
        },
        "list": {
          "id": "youtube.captions.list",
          "path": "youtube/v3/captions",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/captions",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "id": {
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string",
              "location": "query"
            },
            "videoId": {
              "location": "query",
              "type": "string",
              "description": "Returns the captions for the specified video.",
              "required": true
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        },
        "download": {
          "parameterOrder": [
            "id"
          ],
          "id": "youtube.captions.download",
          "description": "Downloads a caption track.",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "description": "The ID of the caption track to download, required for One Platform.",
              "location": "path"
            },
            "onBehalfOf": {
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "type": "string",
              "location": "query"
            },
            "tfmt": {
              "location": "query",
              "type": "string",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt."
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "tlang": {
              "location": "query",
              "description": "tlang is the language code; machine translate the captions into this language.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "useMediaDownloadService": true,
          "flatPath": "youtube/v3/captions/{id}",
          "path": "youtube/v3/captions/{id}",
          "supportsMediaDownload": true,
          "httpMethod": "GET"
        },
        "update": {
          "path": "youtube/v3/captions",
          "flatPath": "youtube/v3/captions",
          "request": {
            "$ref": "Caption"
          },
          "response": {
            "$ref": "Caption"
          },
          "id": "youtube.captions.update",
          "supportsMediaUpload": true,
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            },
            "sync": {
              "type": "boolean",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              },
              "resumable": {
                "path": "/resumable/upload/youtube/v3/captions",
                "multipart": true
              }
            }
          }
        }
      }
    },
    "members": {
      "methods": {
        "list": {
          "response": {
            "$ref": "MemberListResponse"
          },
          "parameters": {
            "hasAccessToLevel": {
              "location": "query",
              "description": "Filter members in the results set to the ones that have access to a level.",
              "type": "string"
            },
            "filterByMemberChannelId": {
              "type": "string",
              "location": "query",
              "description": "Comma separated list of channel IDs. Only data about members that are part of this list will be included in the response."
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "format": "uint32",
              "maximum": "1000",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5"
            },
            "mode": {
              "description": "Parameter that specifies which channel members to return.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return only members that joined after the first call with this mode was made.",
                "Return all current members, from newest to oldest."
              ],
              "location": "query",
              "enum": [
                "listMembersModeUnknown",
                "updates",
                "all_current"
              ],
              "default": "all_current"
            },
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies the member resource parts that the API response will include. Set the parameter value to snippet.",
              "type": "string",
              "repeated": true
            }
          },
          "flatPath": "youtube/v3/members",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of members that match the request criteria for a channel.",
          "path": "youtube/v3/members",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "id": "youtube.members.list"
        }
      }
    },
    "videos": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/videos",
          "httpMethod": "DELETE",
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/videos",
          "id": "youtube.videos.delete",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "insert": {
          "id": "youtube.videos.insert",
          "response": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Video"
          },
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new resource into this collection.",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "mediaUpload": {
            "accept": [
              "video/*",
              "application/octet-stream"
            ],
            "protocols": {
              "simple": {
                "path": "/upload/youtube/v3/videos",
                "multipart": true
              },
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              }
            },
            "maxSize": "274877906944"
          },
          "path": "youtube/v3/videos",
          "parameters": {
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "stabilize": {
              "type": "boolean",
              "description": "Should stabilize be applied to the upload.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "notifySubscribers": {
              "location": "query",
              "type": "boolean",
              "default": "true",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled."
            },
            "autoLevels": {
              "description": "Should auto-levels be applied to the upload.",
              "location": "query",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          }
        },
        "reportAbuse": {
          "flatPath": "youtube/v3/videos/reportAbuse",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "id": "youtube.videos.reportAbuse",
          "path": "youtube/v3/videos/reportAbuse",
          "description": "Report abuse for a video.",
          "parameterOrder": []
        },
        "list": {
          "flatPath": "youtube/v3/videos",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "videoCategoryId": {
              "default": "0",
              "type": "string",
              "location": "query",
              "description": "Use chart that is specific to the specified video category"
            },
            "hl": {
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "type": "string",
              "location": "query"
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Return videos with the given ids.",
              "location": "query"
            },
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "location": "query",
              "minimum": "1",
              "maximum": "50",
              "type": "integer"
            },
            "chart": {
              "description": "Return the videos that are in the specified chart.",
              "type": "string",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "locale": {
              "type": "string",
              "deprecated": true,
              "location": "query"
            },
            "regionCode": {
              "location": "query",
              "type": "string",
              "description": "Use a chart that is specific to the specified region"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
            },
            "maxWidth": {
              "description": "Return the player with maximum height specified in",
              "type": "integer",
              "location": "query",
              "maximum": "8192",
              "minimum": "72",
              "format": "int32"
            },
            "maxHeight": {
              "location": "query",
              "minimum": "72",
              "type": "integer",
              "maximum": "8192",
              "format": "int32"
            }
          },
          "id": "youtube.videos.list",
          "path": "youtube/v3/videos",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Video"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "description": "Updates an existing resource.",
          "path": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "id": "youtube.videos.update"
        },
        "batchGetStats": {
          "path": "youtube/v3/videos:batchGetStats",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "description": "Required. Return videos with the given ids. The number of IDs specified cannot exceed 50.",
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "Optional. **Note:** This parameter is intended exclusively for YouTube content partners. The `onBehalfOfContentOwner` parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "type": "string",
              "description": "Required. The `**part**` parameter specifies a comma-separated list of one or more `videoStat` resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a `videoStat` resource, the `statistics` property contains `view_count` and `like_count`. As such, if you set `**part=snippet**`, the API response will contain all of those properties.",
              "repeated": true
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "BatchGetStatsResponse"
          },
          "flatPath": "youtube/v3/videos:batchGetStats",
          "id": "youtube.videos.batchGetStats",
          "description": "Retrieves a batch of VideoStat resources, possibly filtered. BatchGetStats is intentionally not atomic to provide a better user experience."
        },
        "getRating": {
          "httpMethod": "GET",
          "flatPath": "youtube/v3/videos/getRating",
          "response": {
            "$ref": "VideoGetRatingResponse"
          },
          "parameters": {
            "id": {
              "required": true,
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "id": "youtube.videos.getRating",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/videos/getRating"
        },
        "rate": {
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "parameters": {
            "rating": {
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "required": true,
              "type": "string"
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos/rate",
          "parameterOrder": [
            "id",
            "rating"
          ],
          "path": "youtube/v3/videos/rate",
          "httpMethod": "POST",
          "id": "youtube.videos.rate"
        }
      }
    },
    "videoTrainability": {
      "methods": {
        "get": {
          "path": "youtube/v3/videoTrainability",
          "parameterOrder": [],
          "id": "youtube.videoTrainability.get",
          "description": "Returns the trainability status of a video.",
          "parameters": {
            "id": {
              "type": "string",
              "description": "The ID of the video to retrieve.",
              "location": "query"
            }
          },
          "flatPath": "youtube/v3/videoTrainability",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "VideoTrainability"
          },
          "httpMethod": "GET"
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "flatPath": "youtube/v3/membershipsLevels",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ],
          "path": "youtube/v3/membershipsLevels",
          "id": "youtube.membershipsLevels.list"
        }
      }
    },
    "playlists": {
      "methods": {
        "list": {
          "id": "youtube.playlists.list",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Return content in specified language"
            },
            "channelId": {
              "location": "query",
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string"
            },
            "id": {
              "repeated": true,
              "type": "string",
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "mine": {
              "location": "query",
              "type": "boolean",
              "description": "Return the playlists owned by the authenticated user."
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "maxResults": {
              "maximum": "50",
              "minimum": "0",
              "format": "uint32",
              "type": "integer",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "location": "query",
              "default": "5"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            }
          },
          "flatPath": "youtube/v3/playlists",
          "path": "youtube/v3/playlists",
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "Playlist"
          },
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "repeated": true,
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlists",
          "id": "youtube.playlists.update"
        },
        "delete": {
          "id": "youtube.playlists.delete",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "description": "Deletes a resource.",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlists"
        },
        "insert": {
          "response": {
            "$ref": "Playlist"
          },
          "path": "youtube/v3/playlists",
          "request": {
            "$ref": "Playlist"
          },
          "httpMethod": "POST",
          "flatPath": "youtube/v3/playlists",
          "id": "youtube.playlists.insert",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Inserts a new resource into this collection.",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "channels": {
      "methods": {
        "list": {
          "id": "youtube.channels.list",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner",
            "https://www.googleapis.com/auth/youtubepartner-channel-audit"
          ],
          "description": "Retrieves a list of resources, possibly filtered.",
          "path": "youtube/v3/channels",
          "response": {
            "$ref": "ChannelListResponse"
          },
          "httpMethod": "GET",
          "flatPath": "youtube/v3/channels",
          "parameters": {
            "hl": {
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX).",
              "location": "query"
            },
            "maxResults": {
              "format": "uint32",
              "minimum": "0",
              "type": "integer",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "default": "5"
            },
            "mine": {
              "description": "Return the ids of channels owned by the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "id": {
              "description": "Return the channels with the specified IDs.",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "categoryId": {
              "description": "Return the channels within the specified guide category ID.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "forUsername": {
              "description": "Return the channel associated with a YouTube username.",
              "location": "query",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more channel resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a channel resource, the contentDetails property contains other properties, such as the uploads properties. As such, if you set *part=contentDetails*, the API response will also contain all of those nested properties.",
              "type": "string",
              "repeated": true
            },
            "managedByMe": {
              "description": "Return the channels managed by the authenticated user.",
              "location": "query",
              "type": "boolean"
            },
            "mySubscribers": {
              "type": "boolean",
              "location": "query",
              "description": "Return the channels subscribed to the authenticated user"
            },
            "forHandle": {
              "location": "query",
              "type": "string",
              "description": "Return the channel associated with a YouTube handle."
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "update": {
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/channels",
          "response": {
            "$ref": "Channel"
          },
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Channel"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "The *onBehalfOfContentOwner* parameter indicates that the authenticated user is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with needs to be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "location": "query",
              "required": true,
              "type": "string",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The API currently only allows the parameter value to be set to either brandingSettings or invideoPromotion. (You cannot update both of those parts with a single request.) Note that this method overrides the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies.",
              "repeated": true
            }
          },
          "id": "youtube.channels.update",
          "path": "youtube/v3/channels"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "delete": {
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "description": "Broadcast to delete.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "description": "Delete a given broadcast.",
          "id": "youtube.liveBroadcasts.delete"
        },
        "transition": {
          "id": "youtube.liveBroadcasts.transition",
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveBroadcasts/transition",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query",
              "type": "string"
            },
            "part": {
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "broadcastStatus": {
              "type": "string",
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "description": "The status to which the broadcast is going to transition.",
              "required": true,
              "location": "query",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ]
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Broadcast to transition.",
              "location": "query",
              "required": true
            }
          },
          "description": "Transition a broadcast to a given status.",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "httpMethod": "POST",
          "response": {
            "$ref": "LiveBroadcast"
          }
        },
        "insert": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
[...]
